[2020-04-01 13:09] marc-turner commented on #38479
Still happening after noted advice. Will hit forums. Thanks

[2020-04-01 13:29] ojeytonwilliams commented on #38471
Hi @satyan-dot the problem is that, in the screenshot, there is a space after `PI`.  The test expects that you don't modify code above `  // Only change code below this line`, and so is quite strict.

In future, please use the forums for these kinds of problems.  If the community sees that's the problem with the site, then opening an issue would be a big help.

[2020-04-01 15:56] moT01 commented on #38474
After a little testing, it looks like `log` is the only console method that works in our console as far as I can tell. All the other ones don't seem to be working. So the `clear` method in this challenge won't work as @ruslan-akhm mentioned. Perhaps we could look into adding the ability to use some of the other methods.

[2020-04-01 19:44] A-Aithal opened #38486 "My study"

[2020-04-01 20:49] #38486 closed

[2020-04-02 04:57] MarceloDamian opened #38487 "Possible solution to Locked issue #37457"
***Describe the bug**
Hi!!  I have been documenting the source code trying to understand and possibly improve efficiency. The pathway I looked at is:  "freeCodeCamp/client/src/components/Header/components/Login.js ".  The locked issue #37457 might be happening because a portion of the code is documented as "Non-standard". This bug could possibly be causing issues with some users in signing in, fro

[2020-04-02 08:11] seshaljain opened #38489 "Forum: Bootom border on .d-header looks wierd on hover"
**Describe the bug**
The header on [https://freecodecamp.org/forum](https://freecodecamp.org/forum) has a `border-bottom: 1px solid #3b3b4f;`.
On hovering over the buttons, they get an inverted background-color, but the border on header remains, leading to a bottom border which looks out of place.

Removing the border give it a seamless look.

The dark/dawn theme do not have this problem, but the

[2020-04-02 08:42] raisedadead commented on #38487
Thanks for your report. The linked issue details the reasons of login issues faced by some users. Its existential in nature.

[2020-04-02 08:42] #38487 closed

[2020-04-02 09:58] ojeytonwilliams commented on #38479
From https://www.freecodecamp.org/forum/t/react-build-error-152/366605 it looks like this has been resolved, so I'm closing this.

[2020-04-02 09:58] #38479 closed

[2020-04-02 10:50] miyaliu666 opened #38490 "Could you update the Chinese Publication?"
![image](https://user-images.githubusercontent.com/19358186/78240599-d106d080-7511-11ea-90b7-d92846f81991.png)

![image](https://user-images.githubusercontent.com/19358186/78240640-dc59fc00-7511-11ea-83d9-499e829528d6.png)

Could you delete these buttons above and below an article since it's not easy for most readers to share on Twitter/Facebook? And we don't use comment now.

Sharing through emai

[2020-04-02 10:54] seshaljain commented on #38489
Can I create a PR for this?

[2020-04-02 11:55] raisedadead commented on #38490
The Chinese news theme is not at parity with the english version.

This is likely because we chose to use branches for having different versions (we had to owing to forking the parent theme).

We have gathered cruft again, Ghost has an inbuilt way of i18n that we should use.

We can sure quickly patch this, but I am not in favor of "report - fix - move ahead approach" which is a constant theme.

[2020-04-02 14:50] ahmadabdolsaheb commented on #38489
@seshaljain, please go ahead.

[2020-04-02 15:01] ahmadabdolsaheb commented on #38490
You are absolutely right, @raisedadead.  Since going headless seems further down the road, I will look into i18n and releases for the current theme.

[2020-04-02 17:15] IamSurrett opened #38491 "Intermediate Algorithm Scripting: false negative final test"
**Describe your problem and how to reproduce it:**
The final test:

fails on code that does not use either of those methods.
For example,
[code]
passes all the tests, except for the last one, despite not using Array.prototype.flat() or Array.prototype.flatMap() while
[code]
successfully passes all the tests, even though the only difference is that the second example uses `squish` instead of `flatt

[2020-04-02 20:07] ghanhass opened #38492 "Grammatical error"
Hello.

I noticed a small grammatical error in freeCodeCamp’s team account homepage of our Forum https://www.freecodecamp.org/forum/u/freecodecamp , as seen in this screenshot, the red-framed text being  '**and not**' should either be '**are**' or '**are not**':
![alt text](https://i.imgur.com/M3Abd8w.png "'and not' is not right")

Anyway good day.

[2020-04-03 07:03] raisedadead commented on #38492
Fixed. Thanks for reporting.

[2020-04-03 07:03] #38492 closed

[2020-04-03 10:35] zebwilson commented on #38463
Maybe we can work together for another project?

[2020-04-03 11:21] Sky020 commented on #38474
@ojeytonwilliams , I have not found any examples. Potentially, it has been resolved, but only the incorrect code produced it. So, users tests were failing, due to multiple arrays being returned, instead of one, but the users thought their code was correct because the console only should the final step. Something like that.

[2020-04-03 11:45] ojeytonwilliams commented on #38474
@Sky020 thanks for looking into this.  If you do notice situations where it's not working as it should, we can always revisit this.

@moT01 log is the only one that's proxied to the fcc console.  We could do the others, but I'm not convinced it's that valuable.  Perhaps just a note in the challenge like

would be enough.

[2020-04-03 12:51] randomSveta opened #38496 "Two <g> elements with the same id = “legend”"
Hi! I’ve noticed that the two "g" elements have the same id. This is not a big deal but I think it would be better to change it somehow.
(https://www.freecodecamp.org/forum/t/two-g-elements-with-the-same-id-legend/366365)

**Description:**
In the CodePen example for https://www.freecodecamp.org/learn/data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph two <g> ele

[2020-04-03 13:04] moT01 commented on #38474
I think this challenge should be rewritten to explain that `log` is the only method available in our console. Right now, it's explaining a problem that doesn't exist anymore. So if we don't change it to be about that, I'm not sure what else we could make it about - or what it's purpose would be.

[2020-04-03 22:55] lasjorg commented on #38474
Not sure if this is the correct issue for this question/observation. It just seemed like this issue now is about the logging in general, so I will mention it anyway. The ES6 challenges that deal with import/export are throwing errors in the console.

For example:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/reuse-javascript-code-using-import

Throws `ReferenceEr

[2020-04-04 08:28] ojeytonwilliams commented on #38474
@lasjorg yeah, this is a good place to discuss it, thanks for bringing it up.  What's happening is Babel transpiles `import` statements to use `require` instead:

[code]
but `require` does not exist in the browser, hence the `ReferenceError` you saw.

We cannot just define `require` in the `js-setup`, because that gets transpiled to `_require`. However, what we can do is define a fake `require` in

[2020-04-04 13:18] Sky020 commented on #38474
@moT01 @ojeytonwilliams
I think this is was the issue: https://www.freecodecamp.org/forum/t/basic-javascript-use-recursion-to-create-a-countdown/322222
The challenge has, since, been changed. I do not think it applies any more. Maybe `ieahleen` or @ArielLeslie remember what I have been referring to.

[2020-04-05 06:43] SagirGarba commented on #18128
The date on my full stack certificate is showing the date i claim my Responsive Web design certificate ( the first certificate ). and now if i want to see the certificate it is asking me to claim certificate when i claim  it will say is like u have claim the certificate and it will not show me the certificate.

[2020-04-05 07:42] raisedadead commented on #18128
Potential fixes: https://github.com/freeCodeCamp/freeCodeCamp/pull/37065#issuecomment-598303781 and https://github.com/freeCodeCamp/freeCodeCamp/pull/37065#issuecomment-598343732

[2020-04-05 07:44] raisedadead commented on #38496
/cc @scissorsneedfoodtoo

[2020-04-05 15:39] Sky020 commented on #38469
@ojeytonwilliams , does this occur in a specific browser? On Chrome, it works exactly how I would expect it to: When the code editor window is in focus, `Ctrl + S` saves to browser, and when the lesson window is in focus, `Ctrl + S` puts the Searchbox in focus.
![HotkeyGIF](https://user-images.githubusercontent.com/51722130/78503000-e2dbb400-775b-11ea-9994-92191d1b1da0.gif)

[2020-04-05 19:04] ArnaldoManjate12 opened #38499 "Cannot Claim Certification"
Good Day Free Code camp Team , My name is Arnaldo MandIate  an aspiring Dev from South Africa .I am sending this to report a troubling matter , After Completing all the activities required to receive my Free code camp certificate i have not received anything. and when i check my profile it says that i have not earned anything. I was really let down after working so hard, please assist with this ma

[2020-04-05 19:18] ArnaldoManjate12 commented on #38499
I sorted it out Thanks

[2020-04-06 05:03] mhw0001 opened #38501 "can someone please help me with this instruction? "My tribute page should have an element with a corresponding id="main", which contains all other elements." What do they mean about . corresponding id="main", should contains all other elements?"
can someone please help me with this instruction? "My tribute page should have an element with a corresponding id="main", which contains all other elements." What do they mean about . corresponding id="main", should contains all other elements?

_Originally posted by @mhw0001 in https://github.com/freeCodeCamp/testable-projects-fcc/issues/450#issuecomment-609564959_

[2020-04-06 06:39] ahmadabdolsaheb commented on #38499
Thanks.  I am going to close this issue, but please let us know what went wrong or if any thing was not clear.

[2020-04-06 06:39] #38499 closed

[2020-04-06 06:56] #38489 closed

[2020-04-06 07:07] ojeytonwilliams commented on #38469
@Sky020, I'm not sure what I was thinking when I created this issue.  This problem would appear if https://github.com/freeCodeCamp/freeCodeCamp/pull/38203 were merged as is, but I need to change that.

Sorry!

[2020-04-06 07:07] #38469 closed

[2020-04-06 07:31] huyenltnguyen commented on #38501
Hi @mhw0001, the instruction says that you need to create an element with an id `main` and wrap it around other elements.

[code]
---
I hope that answers your question.

I'm going to close the issue as GitHub issues are meant for bug reporting only. Please use the [forum](https://www.freecodecamp.org/forum/) if you need help with the curriculum challenges. Happy coding!

[2020-04-06 07:31] #38501 closed

[2020-04-06 09:09] #38490 closed

[2020-04-06 09:44] ahmadabdolsaheb opened #38502 "center"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-04-06 09:44] #38502 closed

[2020-04-06 09:56] ahmadabdolsaheb opened #38503 "Text on donate button needs centering vertically"
For some users donate button text on news is not centered vertically.
note: was not able to reproduce this issue locally or on production.

![image](https://user-images.githubusercontent.com/4591597/78546110-92209580-7805-11ea-97ac-ab9a07c699e4.png)

there is a related issue withe the magnifying glass on learn which is not reproducible by all users.
ref: #37778

[2020-04-06 10:11] ahmadabdolsaheb commented on #37921
There are three different issues here:

1. news magnifying glass that has been discussed here: #37778
2. /learn and /news font mismatch that has been discussed here: #37701
3. landing and learn styles mismatch that has been addressed in production.

I am closing this issue as two of the discussed issues are duplicates and the third has been resolved.

[2020-04-06 10:11] #37921 closed

[2020-04-06 11:33] hassaanp commented on #38503
unable to reproduce this as well.
Tried Firefox and Chrome

[2020-04-06 12:23] GrimPixel opened #38504 "Change the position of “Basic JavaScript: Return Early Pattern for Functions”"
**Describe your problem and how to reproduce it:**
We can see that as early as “Basic JavaScript: Comparison with the Equality Operator”, there are already two “returns”, but “Basic JavaScript: Return Early Pattern for Functions”, which explains how multiple “returns” work, is taught after this lesson. Thus “Basic JavaScript: Return Early Pattern for Functions” should be moved to before “Basic Jav

[2020-04-06 13:40] hassaanp commented on #38504
This makes sense to me. I have pushed a PR that addresses this.
Would like to know what other contributors think.

[2020-04-06 13:42] RandellDawson commented on #38504
We no longer can change the order of the existing curriculum. We can update existing challenges, but not restructure the challenges. The project-based curriculum will eventually replace the current curriculum to deal with situations like this.

[2020-04-06 13:42] #38504 closed

[2020-04-06 14:16] ojeytonwilliams commented on #38503
The issue is reproducible if you change your browser's font settings.  I should have a fix shortly.

[2020-04-06 14:18] AshNaz87 commented on #38503
Also seemed a little off, when playing with the viewport

[2020-04-06 16:15] Ieahleen opened #38507 "change challenge "Nest an anchor element in a paragraph" description to avoid users confusion"
After a long extenuating discussion (not yet resolved) in which an user refuses to change the existing anchor element on line 4 because challenge description says

can it be changed to say "just after the existing opening main tag"?

https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

[2020-04-06 16:53] RandellDawson commented on #38507
What about the following?

[2020-04-06 18:04] Ieahleen commented on #38507
It could also be considered a case of bad wording, as the anchor element is inside the main element, not after it. The current text specifically say "after the main element".
Would it be bike shedding if there is an error?

[2020-04-06 18:24] moT01 commented on #38507
I do think there's a slight inaccuracy in the words there. I vote to just remove the text in the parenthesis since it isn't really providing any helpful information. There's only one `a` element - no need to point out where it is or needs to be. Users just to nest it in a `p`.

[2020-04-06 22:43] danielramosbh74 commented on #38463
I've read #38468 and think @AshNaz87 have solved this topic (#38463).

[2020-04-07 15:12] inoxstasy opened #38511 "New project inquiries"
Hello :)

I am totally new at programming, and wanted some advice.
I want to create a program using the google maps api.

Is JavaScript the adequate programming language to use?

Thanks in advance for your answer :)

[2020-04-07 15:27] lasjorg commented on #38463
@danielramosbh74 The PR that needs to be updated is #38472 it is still missing example code showing how to add and/or update key/values.

[2020-04-07 16:50] RocktimSaikia commented on #38511
@inoxstasy You should generally ask these types of questions in the [forum](https://www.freecodecamp.org/forum/). There is a whole developer community out there helping new coders like you in every way.
And to answer your question, yes you can easily integrate google maps api with javascript.

[2020-04-07 18:02] inoxstasy commented on #38511
Oh sorry I did not where to post it ! Thanks a lot :)

[2020-04-07 18:16] Pallof commented on #38463
Could I work on this? What kind of examples are we looking specifically?

[2020-04-07 19:01] lasjorg commented on #38463
@Pallof The work is already in progress in the #38472 PR

[2020-04-08 01:30] moT01 commented on #38511
Try the forum @inoxstasy. This is for issues with the freeCodeCamp platform. Thanks and happy coding 🍡

[2020-04-08 01:30] #38511 closed

[2020-04-08 06:38] scissorsneedfoodtoo commented on #38496
@randomSveta, thank you for reporting this and for your detailed description. I'll update this project in the testing repo and on CodePen as soon as possible.

[2020-04-08 11:40] Sky020 commented on #38474
@ojeytonwilliams , This just recently popped up on the forum:
https://www.freecodecamp.org/forum/t/doubt-in-basic-of-java-script/369825
The console seems to show that the function is self-invoking.
[code]
Here is the related challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions

[2020-04-08 11:50] hassaanp commented on #38507
I agree with @moT01
The text in the parenthesis is not particularly useful since the test passes whether you add it before or after or inside the `main` element.

[2020-04-08 12:24] lasjorg commented on #38474
I think that is comming from the setup/teardown code.
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.english.md

[2020-04-08 14:34] #38503 closed

[2020-04-08 15:53] FranciscoImanolSuarez opened #38512 "Admin panel"
Do you have an admin panel to manage student accounts? View statistics, among other things?

I think this would be a nice addition

[2020-04-08 18:23] mohmed98 opened #38513 "missing word in challange question"
hello it’s not a big deal but I felt I should report it so the challenge becomes more clear
in Functional Programming: Pass Arguments to Avoid External Dependence in a Function challenge
should ask the user to return the value after increment, not just increment
challenge
link: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avo

[2020-04-08 20:43] Luizdidier opened #38514 "Teste issue"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-04-08 20:44] #38514 closed

[2020-04-09 07:07] ahmadabdolsaheb commented on #38512
I believe you are referring to classroom mode which is being discussed in this issue #17899.

I would go ahead and close this as duplicate issue. Please feel free add you suggestions to the above-mentioned issue.

[2020-04-09 07:07] #38512 closed

[2020-04-09 13:25] randomSveta commented on #38496
Hi @scissorsneedfoodtoo,
Thank you very much! Happy to help.

[2020-04-09 15:54] BoCode84 opened #38518 "Algorithms: Implement Merge Sort - Issue"
**Describe your problem and how to reproduce it:**
Tests break with “sort” in the comments. Talked with ArielLeslie about it in the forum.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-merge-sort

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: NA
* Operating System:

[2020-04-09 17:39] lpham2525 opened #38519 ""refer back" vs. "refer""
In the lesson on Basic Javascript: Record Collection, I think that the term is "refer" instead of "refer back". I read in a Reader's Digest Magazine that the latter is redundant.

[2020-04-09 18:26] Pallof commented on #37788
Has this issue been resolved?

[2020-04-09 18:27] Pallof commented on #36879
Is this issue still open?

[2020-04-09 18:31] Pallof commented on #38123
Is anyone currently working on this? If not, may I take a go at it?

[2020-04-09 19:46] moT01 commented on #38123
Go for it @Pallof 👍

[2020-04-09 19:55] moT01 commented on #38519
I don't think there's a problem with 'refer back' here. I read [this article](https://www.grammarphobia.com/blog/2013/06/refer-back.html) - and specifically this sentence...

“In 1995, 65 percent of the Panel disapproved of this construction, but by 2011, 81 percent accepted it in the sentence _To answer your question it is necessary to refer back to the minutes of the previous meeting_.”

And in

[2020-04-09 19:57] moT01 commented on #37788
Doesn't look like it @Pallof - give it a go if you want 👍

[2020-04-09 19:59] lpham2525 commented on #38519
Okay.

On Thu, Apr 9, 2020 at 3:55 PM Tom <notifications@github.com> wrote:

[2020-04-09 20:12] moT01 commented on #38519
Thanks for reporting. We can leave the issue open for now in case someone else wants to weigh in.

[2020-04-09 22:41] Czespo opened #38521 "Basic CSS: Use Hex Code to Mix Colors"
- https://www.freecodecamp.org/learn/responsive-web-design/basic-css/use-hex-code-to-mix-colors

If a hex triplet (i.e. ```#F00```) is used in the bodies of the ```.red-text``` and ```.green-text``` selectors, the tester complains:
[code]
Don't penalize learners for being smart!

[2020-04-10 00:53] Ronkiro commented on #37969
Nope, i gave up as i were still to learn it.

[2020-04-10 02:12] moT01 commented on #38521
I agree. The [tests are here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-css/use-hex-code-to-mix-colors.english.md#tests). The regex for the second and fourth tests should be changed to allow for either version of the hex code.

[2020-04-10 04:33] l-Mana-l opened #38522 "Spelling Mistake in the Documentation "deveops.md""
Hello, I am new to getting involved in open-source projects and simply want to start off slow in getting involved in the community. Under the topic header  "Pushing changes to Staging Application" as stated in the second paragraph after step 5, "The release pipeline is triggered automatically when a fresh **artefact** is available from the connected build pipeline." did you mean **"artifact"**?

[2020-04-10 05:02] jordanliu commented on #38522
In this context, it's discussing build artifacts. Might just be the case of US English and British English.

[2020-04-10 07:21] YemiAdebayo commented on #38521
If there is an agreement about allowing the triplet hex for red, green and blue, I will like to take it

[2020-04-10 09:35] thecodingaviator commented on #36879
@Pallof I think you can coordinate with @ojeytonwilliams

[2020-04-10 09:46] Ieahleen commented on #38474
there were a lot of issues when the console would print just a comma separated list of elements for arrays, instead of arrays, so it was impossible to distinguish between flat arrays and multidimensional ones.

RIght now I have seen:
 - not understanding that the functions are called by the tests, so confusion in seeing multiple lines in the console for each console.log inside the function
 - mism

[2020-04-10 10:42] ojeytonwilliams commented on #36879
It's basically done, but the formatting has to be reviewed dev team first and that's pretty low priority.

[2020-04-10 12:26] ojeytonwilliams commented on #38474
https://www.freecodecamp.org/forum/t/doubt-in-basic-of-java-script/369825
The console seems to show that the function is self-invoking.

Thanks, that's definitely confusing behaviour.

I think so too, the after test is the problem.  That challenge has a lot of redundant code - none of the setup or teardown is needed.  It would be fine to simply invoke `myLocalScope()` in a test.

Just to confirm,

[2020-04-10 12:49] raisedadead commented on #38522
Yes. We should probably change it to US English version, `artifact`. PR is welcome.

[2020-04-10 13:07] Ieahleen commented on #38474
yes, at this time the console print arrays as expected. I have not checked
recently for objects (that also can cause confusion if objects are printed
in an unclear way, but basing on the array thing, that may also be ok)

[2020-04-10 13:19] moT01 commented on #38521
Looks like someone already jumped on it @YemiAdebayo. Want to take a look at that PR and see if it looks good?

[2020-04-10 20:03] Sky020 commented on #38474
To add to the issue with [this challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions): You cannot pass the challenge with this code, because it uses `let` instead of `var`.
[code]
I realise this is only an issue for those who are familiar with JavaScript outside of the prior fCC lessons, because otherwise users will not k

[2020-04-10 20:45] #17899 closed

[2020-04-10 20:46] QuincyLarson commented on #17899
I am closing this issue for now. We can revisit classroom mode in Q3 once we have rolled out our curriculum updates and other features.

[2020-04-10 21:51] certilremy commented on #17403
The old issue is gone but there'are some new.
Here is my code :

[code]
got my test fails because of these errors.

- [ ] Thermostat should be able to be instantiated.
- [ ] A getter should be defined.
- [ ] A setter should be defined.

But my code works on vs code.

[2020-04-11 00:44] RandellDawson commented on #17403
@certilremy Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-04-11 06:27] scissorsneedfoodtoo commented on #38496
Thank you again for reporting this @randomSveta! We updated the code in the [testable projects](https://github.com/freeCodeCamp/testable-projects-fcc) repo and deployed it to [CodePen](https://codepen.io/freeCodeCamp/full/bgpXyK).

Could you take a look at the project on CodePen and confirm that there's only one `legend` id now?

[2020-04-11 13:10] andikay opened #38527 ""Applied Visual Design: Adjust the Hue of a Color" does not accept correct answer"
**Describe your problem and how to reproduce it:**
The hsl for cyan is not accepted as the correct answer.
.cyan {
    background-color: hsl(180, 100%, 50%);
  }
Result: The div element with class cyan should have a background-color of cyan.

I copied the correct answer from the "Get a Hint" page into the code window just to be sure - same result, cyan is not accepted as the correct answer.

**Add

[2020-04-11 13:36] lasjorg commented on #38353
I think we should add a note to the start of the [CSS curriculum](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/) about extensions that change the look of the page (e.g. dark mode extensions) and how they can interfere. We can also inform the user that we have a dark mode under the profile settings.

This issue is pretty common and we get forum threads created because of it al

[2020-04-11 15:29] lasjorg commented on #38474
@ojeytonwilliams We don't actually need to run the function in the test, right? The check for the local variable is done using a regex and `myVar` will be undefined as long as it was not declared _and_ assigned outside the function.

The current test does not check that the variable is not declared, even though it is worded that way in the challenge. It checks that it was not assigned a value. You

[2020-04-11 16:18] Sky020 commented on #38527
Hello, @andikay .

This type of problem is, generally, first discussed on the [freeCodeCamp forum](https://www.freecodecamp.org/forum), by using the _Ask for Help_ button on the referenced lesson's page.

The reason for this is, your issue is most likely to do with your browser, and not the source code here. Either, Pale Moon does not support certain CSS types, or (most likely) you have a setting/

[2020-04-11 16:26] randomSveta commented on #38496
HI @scissorsneedfoodtoo,

I've checked. Yes, there is only one id="legend".
![one-id](https://user-images.githubusercontent.com/38963057/79049035-0b125980-7c19-11ea-805a-2f620ff7ec74.png)

Thank you for the quick response and problem-solving!

[2020-04-11 16:43] #38496 closed

[2020-04-11 17:03] DanPete commented on #16967
Just found the solution from here as well. Had to add 'Home page' to index.pug.

It seems that there still might not be enough direction or the glitch url is cloning an older version of the repo.

[2020-04-11 18:06] danielgarm commented on #36118
The issue is still present as of April 2020. It is reproducible in any browser and operating system as well.

[2020-04-11 19:40] jordanliu commented on #38522
You got this?

[2020-04-11 19:45] raisedadead commented on #38522
Oh - Looks like I had accidentally closed this. Up for grabs.

[2020-04-11 19:55] jordanliu commented on #38522
PR #38528

[2020-04-11 21:54] andikay commented on #38527
Okay, good to know. I did see some issues here like mine, so I assumed that is the way to handle it. My bad.

I assume it has something to do with the browser - however, I had no problem completing ALL other challenges so far, also ones that included the colors teal and cyan. Therefore, I have a hard time believing that it is only the browser's fault. I have no extension activated that messes with

[2020-04-11 22:09] lraubuch commented on #10406
I think this issue should be reopened since it obviously was not fixed.

It should be made clear if or when the version will be released.

[2020-04-12 01:45] #38522 closed

[2020-04-12 02:20] #38513 closed

[2020-04-12 06:25] badrabbitcuntpuncher commented on #16967
So I get theses emails in my junk folder all the time, what is
freeCodeCamp? And why is all ur email  conversations go threw my
spam folder?

On Tue, Mar 31, 2020, 10:40 PM Deorabbin Jibe Medina Asuncion <
notifications@github.com> wrote:

[2020-04-12 09:56] Shiyinq opened #38530 "This is bug in Test ? (After updateRecords(2548, "tracks", ""), tracks should not be set) ?"
**Describe your problem and how to reproduce it:**
Hi guys, i have been write some code for the challenge

but just the test updateRecords(2548, “tracks”, “”) always return error
i have done delete prop tracks but why is not pas ?

this is my code

[code]

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:   Microsoft Edge Chromium
*

[2020-04-12 14:01] ahmadabdolsaheb commented on #38519
I think refer back makes sense here.

[2020-04-12 14:01] #38519 closed

[2020-04-12 14:09] ahmadabdolsaheb commented on #38353
If it is common, I am for adding a note.

[2020-04-12 14:11] Sky020 commented on #38530
Hello @Shiyinq ,

This type of problem is, generally, first discussed on the [freeCodeCamp](https://www.freecodecamp.org/forum) forum, by using the Ask for Help button on the referenced lesson's page.

The reason for this is that the problem is likely to do with your code, **not** the freeCodeCamp source code.

For example, note that you are returning the original `collection` variable. The `"trac

[2020-04-12 14:15] #38521 closed

[2020-04-12 15:29] lpham2525 opened #38531 "Recursion typos"
Recursion can be tough to understand — especially for new programmers. In it's _//probably should be "its"//_ simplest form, a recursive function is one that calls itself. Let me try to explain with an example.

Imagine you go to open your bedroom door and it’s locked. Your three-year-old son pops in from around the corner and let's _//should read as "lets"//_ you know he hid the only key in a box

[2020-04-13 03:25] ashmichheda commented on #17941
This issue still persists.

[2020-04-13 05:03] hassaanp commented on #38531
Hi @lpham2525 - can you point to the article where you found these errors since this does not look like a part of the curriculum.

[2020-04-13 05:21] scissorsneedfoodtoo commented on #38496
@randomSveta, awesome! Thank you again for reporting this issue and confirming that there's only one `legend` id now. Stay safe and happy coding.

[2020-04-13 06:07] scissorsneedfoodtoo commented on #38531
Hi @lpham2525, thank you for reporting this. I believe you're referring to this article from 2017: https://www.freecodecamp.org/news/how-recursion-works-explained-with-flowcharts-and-a-video-de61f40cb7f9/.

I went through and edited the article based on the errors you found. Could you give it another read and confirm that everything is fixed? I'll close this issue for now, but please feel free to

[2020-04-13 06:07] #38531 closed

[2020-04-13 08:50] bryce-mcmath commented on #38518
Bump. Same issue but not just with `sort` in comments it's happening for me if `sort` is part of a variable name as well. In my case (had a variable named `sorted`) when I changed the variable to `s` the error went away. Hopefully the above PR will fix this variant of the issue as well. Let me know if I can help

[2020-04-13 11:12] owais4321 opened #38532 "Broken links in README.md in docs"
There are two links README.md in docs. Following are the two links
1.  how to work on coding challenges.
2. set up freeCodeCamp locally
I am also adding screenshot to show more clearly that which links are broken.
![image](https://user-images.githubusercontent.com/39921596/79116286-e44d4380-7d3c-11ea-9295-51842c978ad0.png)

so when we click on these links in README in docs it shows page not found

[2020-04-13 11:43] SemperDisco commented on #38532
Nice catch! I will correct this.

[2020-04-13 11:49] owais4321 commented on #38532
@SemperDisco i have linked pr for this kindly merge it thanks

[2020-04-13 14:36] raisedadead commented on #38532
We will have to figure out a better way to handle links.

We are currently using `docsify` to host our documentation at http://contribute.freecodecamp.org

This means we have to handle links in a way that they work on that page. I think a quick way to work around this would be to rename `/docs/README.md` to `index.md` which we render on the contribute page.

Then we create a `README.md` in `/docs`

[2020-04-13 16:27] moT01 opened #38538 "Add code radio to /learn"
Add [code radio](https://coderadio.freecodecamp.org/) to /learn.

[2020-04-13 16:28] breatheloud opened #38539 "Capture groups should be explained clearly"
**Describe your problem and how to reproduce it:**
I found the challenge _Regular Expressions: Reuse Patterns Using Capture Groups_ does not give an adequate description of what capture groups do, I would suggest firstly:
- restructuring the description so that it gives an adequate introduction, e.g. likening them to variables in that they are references to a portion of the Regex.
- Showing that w

[2020-04-13 17:21] moT01 commented on #38538
I was digging into this a little. My plan was to make a package out of the [coderadio-client repo](https://github.com/freeCodeCamp/coderadio-client) that we could include in the site where it is now, and on the main repo. I have a [good start to it here](https://github.com/moT01/coderadio).

Where it is now would just render all the elements like they are now, and I was going to make a second "UI"

[2020-04-13 17:28] moT01 opened #38540 "Change all green logos and icons to indigo versions."
I believe we want to change all the green icons and logos to their indigo counterparts. If so, we can make a list here as we find them.

[2020-04-13 19:07] lasjorg opened #38541 "Monaco Editor: Add delay to hover or disable"
In some cases, the hover is blocking the code and it seems a bit intrusive with the default delay. See gif.

![editor-hover](https://user-images.githubusercontent.com/28780271/79150865-c4b02c80-7dc9-11ea-9ad9-ec20ac128dcb.gif)

Do we even want the hover?

I think we should at least add a delay of like 2000 or more. Not sure how the positioning of the tooltip is done?

[Editor.js](https://github.co

[2020-04-13 19:57] lpham2525 commented on #38531
Thank you  for the edits! Everything looks good.

On Mon, Apr 13, 2020 at 2:07 AM Kristofer Koishigawa <
notifications@github.com> wrote:

[2020-04-13 22:14] AshNaz87 commented on #38538
Has implementing this feature into the website ever been discussed? I mean just the option of listening to coderadio, i.e. having a play/pause button

[2020-04-13 23:03] communitybicycle commented on #37611
Still facing this issue. I looked around the curriculum and the example source code, and it doesn't mention anywhere that this bug exists. If we could add a quick note in the curriculum or in the relevant sections saying that only single quotes will pass the tests, that would save us some time figuring out why our correct code won't pass.

[2020-04-13 23:51] piouson opened #38542 "arrow function without curly braces fail IIFE test"
**Describe your problem and how to reproduce it:**
ref: #35573
The code below does not pass as an anonymous immediately invoked function expression (IIFE).
`(()=> console.log("A cozy nest is ready"))();`

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-immediately-invoked-function-e

[2020-04-14 05:17] scissorsneedfoodtoo commented on #38542
Thanks for bringing this to our attention @piouson. We do want valid answers like yours to pass.

This seems like a pretty simple fix -- the regex in the current tests expect opening and closing curly braces (`{` and `}`), so we can make those optional with the `?` quantifier.

I believe the tests should be changed to

[code]

and

[code]

Would you be interested in submitting a PR to fix this?

[2020-04-14 05:49] piouson commented on #38542
Thank you @scissorsneedfoodtoo absolutely very interested, this will be my first PR!

[2020-04-14 08:07] ojeytonwilliams commented on #38474
@Sky020 good point, it should accept all three.
@lasjorg you are right. I was thinking we needed to call `localScope` and then check if `myVar` had been assigned inside `localScope`, but clearly not.

Yep, the test is not quite right, I'll take a look.

Would anyone be interested in improving the [console challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/debug

[2020-04-14 09:06] #38532 closed

[2020-04-14 09:19] scissorsneedfoodtoo commented on #38542
Awesome, thank you for creating a PR so quickly! We'll review it as soon as possible.

[2020-04-14 09:59] ojeytonwilliams commented on #38353
Why not do both?  We can never be sure that all extensions have been accounted for, so the note makes sense.  However, @snigo's already investigated `uBlock` and found [the list](https://easylist-downloads.adblockplus.org/fanboy-annoyance.txt) that includes `follow-btn` so that might as well be changed.

@snigo would you be up for implementing that fix?

[2020-04-14 11:36] moT01 commented on #38353
How about this...

###  _**Some browser extensions maybe interfere with elements on the page causing the tests to fail unexpectedly. For the most reliable experience, disable all browser extensions.**_

[2020-04-14 14:50] raisedadead commented on #38541
I think I have made comments about this before, but IMHO we should prevent all autocomplete, right click context and any other in context things like in the OP.

None of this is useful especially for new learners. Its distracting IMO.

We want to disable all the additional features like above using the config.

[2020-04-14 15:43] lasjorg commented on #38541
I'm all for disabling the hover.

About disabling the context menu. Personally, I'd be fine with it. I'm just not sure if it's a good UX choice.

Having copy/paste functionality from a context menu is pretty ubiquitous in text editors. I have already seen a few threads where people have asked about the missing paste functionality in the context menu we have now.

Although the fact that the copy/pa

[2020-04-14 15:51] lasjorg commented on #38353
@ojeytonwilliams Just remember both the video and the hint will need to be updated if we make that kind of change.

The issue is mainly with the videos which seem to have gotten harder to get updates for.

[2020-04-14 16:01] ojeytonwilliams commented on #38353
@lasjorg thanks for the reminder, somehow I keep forgetting that.  How about we just go with Tom's text?

[2020-04-14 16:10] raisedadead commented on #38541
I am fine with having copy/paste or anything which would be considered a utility.

[2020-04-15 01:50] Manish-Giri commented on #38541
@raisedadead I had a feeling we were better off disabling it entirely back then - https://github.com/freeCodeCamp/freeCodeCamp/pull/37813/commits/43736455119b0a9bf4168ac90b4992af7ad777df

😄

[2020-04-15 06:24] scissorsneedfoodtoo commented on #38531
@lpham2525, great! Thank you for catching these errors and confirming that everything looks good now.

[2020-04-15 08:19] ojeytonwilliams commented on #38527
Since this issue does not appear to be a problem on the more common browsers, I'm closing this.  @andikay if you get any insight into why Pale Moon is doing this, please reopen this.

[2020-04-15 08:19] #38527 closed

[2020-04-15 08:22] ojeytonwilliams commented on #38530
I'm closing this for the reasons @Sky020 went through.  @Shiyinq if you discuss this on the forum and the consensus is that this is a bug, please reopen this.

[2020-04-15 08:22] #38530 closed

[2020-04-15 08:59] ahmadabdolsaheb commented on #38538
the initial implementation would be a navigation item that would switch between [radio] and [silience]. most of the logic is already handeled in the coderadio repo.

[2020-04-15 10:41] Sky020 commented on #38474
@ojeytonwilliams , I would be interested in improving this. Should I open a new issue to get a discussion going?

[2020-04-15 12:13] ojeytonwilliams commented on #38474
@Sky020 discussing it here seems fine, the right people should get notified.  Also, if you have some ideas about how to improve it, feel free to create the PR and we can discuss further once that's up.

[2020-04-15 21:14] lasjorg commented on #38353
Maybe simplify the text a bit?

Not sure if we want to expand on this to make it a little less "_hey please disable your 50 extensions by hand every time you do a fCC challenge_". Maybe a quick note on what extensions to look out for?

Or something like that.

[2020-04-16 00:56] moT01 commented on #38353
Here's another option that's a little cleaner maybe...

**Note:** Some browser extensions may cause tests to fail unexpectedly. For the most reliable experience, disable your browser extensions.

Any of these will work I think, as long as the message gets across.

[2020-04-16 04:53] colinthornton opened #38555 "Help video is outdated on "Basic JavaScript: Testing Objects for Properties""
**Describe your problem and how to reproduce it:**
1. Click the "Get Help" button
2. Select "Watch a video"

The code used in the video is outdated. This has caused several campers to post for help on the forum because the answer they copied from the video does not pass the current tests. Here are three just from the past day:

- https://www.freecodecamp.org/forum/t/testing-object-for-properties-i

[2020-04-16 04:56] colinthornton commented on #38555
This is another topic of discussion, but based on those forum posts it seems that many people have directly copied the code from the video, possibly without even reading the instructions or looking at the starter code before overwriting it all. It makes me wonder if the help videos are actually that useful as an educational tool.

[2020-04-16 05:51] colinthornton commented on #38555
Just now: https://www.freecodecamp.org/forum/t/testing-objects-for-properties-exercise/373973

[2020-04-16 06:25] robtejeda opened #38557 "Timestamp Mictoservice test crash"
**Describe your problem and how to reproduce it:**
The assignment says
If the date string is invalid the api returns a JSON having the structure
**{"unix": null, "utc" : "Invalid Date" }**. It is what you get from the date manipulation functions used above.

And the test evaluates for this object **{"error": "Invalid Date" }**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/cha

[2020-04-16 13:38] Sky020 commented on #38555
Whilst, at one stage, the code in the videos did correspond to the correct solution, and users could just copy to pass, the videos are still quite helpful. In my opinion, with the code being slightly _off_, but still relevant, the videos are even more helpful, as it prevents users from _just_ copying the answer, and they have to think for themselves.

In my opinion, the videos should remain as is,

[2020-04-16 13:49] Sky020 commented on #38557
It seems the tests were written for the example project: https://curse-arrow.glitch.me/
[code]

[2020-04-16 17:09] zoitberg opened #38558 "ES6: Use getters and setters to Control Access to an Object , issue with resolved values"
In this task obtained values aren't checked to clear the task, it is possible to pass the test without any errors, despite the fact that returned values are incorrect

[code]

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-04-16 18:44] Pallof commented on #38410
Can I take a look at this issue?

[2020-04-16 21:13] lasjorg commented on #38540
The sign-in/log-in page has a green icon.

[2020-04-17 00:24] wirthual opened #38559 "Comment in html tag prevents validation"
Basic HTML and HTML5: Declare the Doctype of an HTML Document

I added:
[code]

But when I want to validate it tells me:
 // running tests
The html tags should wrap around one h1 element.
// tests completed

I think the comment should be ignored, it works if I delete the comment.

https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document

[2020-04-17 06:46] ojeytonwilliams commented on #38410
@Pallof sure, go for it.

[2020-04-17 08:12] colinthornton commented on #38555
I get your point and agree with you that a slightly off video is more beneficial to those who *want to learn*, it's just that there are 30+ forum posts with people who have copied directly from the video in the past 3 weeks (since the problem was changed).

If the video were removed, then those posts would never show up in the first place. Likewise, for learners who aren't able to solve the new pr

[2020-04-17 10:42] Sky020 commented on #38555
Yes, fair enough. I guess we should be asking the questions:
1) Will the videos ever be updated? (I assume not, as the style of curriculum is changing)
2) If not, could a note explaining that the video code is not enough to pass the tests be added to the introductory page? (just some way to make it clear to avoid the clogging of the forum)

[2020-04-17 11:03] Sky020 commented on #38559
Hello, wirthual.

Please note: This kind of question regarding the freeCodeCamp curriculum is better suit for the [forum](https://www.freecodecamp.org/forum). Specifically, you could have posted this on the _contributors_ sub-forum.

This is because, as it stands, the issue is not with the testing suite, but your code; the instructions do not say to add any comments, and the seed code does not inc

[2020-04-17 12:40] ojeytonwilliams commented on #38555
@beaucarnes are you still updating the videos for the old curriculum?

[2020-04-17 17:32] benjaminthedev opened #38563 "freeCodeCamp Challenge Guide: Truncate a String - Incorrect Link"
Hi folks,

Reading the guide here:

https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-truncate-a-string/16089

and it suggests you go to Relevant Links:

String.prototype.slice()

but the link takes you to :

https://github.com/freeCodeCamp/freeCodeCamp

but it should go here:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/slice

Cheers,

B

[2020-04-17 18:15] raisedadead commented on #38563
Fixed. Thanks for reporting Ben.

[2020-04-17 18:15] #38563 closed

[2020-04-17 18:16] raisedadead commented on #38559
Thanks for helping with the triage @Sky020

[2020-04-17 18:16] #38559 closed

[2020-04-17 18:19] raisedadead commented on #38555
I have forwarded this to Beau for a response. Thanks for your patience. Meanwhile recommend linking to this thread from the forum and closing the topics while we arrive at a conclusion.

[2020-04-17 19:00] beaucarnes commented on #38555
I'm working on this. I'll update the video.

[2020-04-17 20:37] GrimPixel opened #38565 "Unclear explanation at ES6: Compare Scopes of the var and let Keywords"
in https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords, there is a section:
[code]
People don't know its difference with
[code]
If this is explained, it would be easier to understand.

[2020-04-17 20:47] moT01 opened #38566 "Add certificates to learn map?"
It might be nice to have the certificates display on the map like another challenge with a little check mark.

![Screen Shot 2020-04-17 at 3 45 39 PM](https://user-images.githubusercontent.com/20648924/79612628-a6e11100-80c2-11ea-830d-c646c6cb637c.png)

[2020-04-17 20:49] #38565 closed

[2020-04-17 21:20] ahmadabdolsaheb opened #38568 "universal nav does not show on docs when side bar is open on mobile"
sidebar closed on mobile
![Screen Shot 2020-04-20 at 5 51 42 PM](https://user-images.githubusercontent.com/4591597/79765755-b1541280-832f-11ea-8d0f-e22f1357b714.png)

sidebar open on mobile
![Screen Shot 2020-04-20 at 5 51 34 PM](https://user-images.githubusercontent.com/4591597/79765758-b3b66c80-832f-11ea-9fe6-c9c002d890c0.png)

[2020-04-17 21:38] ahmadabdolsaheb opened #38569 "Claiming certification after certificate completion"
Some users seem to be confused after completing projects for the first certification on how they could receive their certification.

A redirect or a flash message notifying users after finishing the required projects to complete a certificate could be helpful.

[2020-04-18 04:54] ramengyoza opened #38570 "Applied Accessibility "Add an Accessible Date Picker" | Challenge issue"
Issue:
I'm currently going through the "Responsive Web Design Certification" and came across what I think may be something incorrect (however I'm still learning so I may think it is wrong where it is actually correct).

In Step 12 of the Applied Accessibility "Add an Accessible Date Picker", the example (along with previous examples) require that the "for", "id" and "name" attributes to all be the

[2020-04-18 10:46] #38555 closed

[2020-04-18 11:01] Sky020 commented on #38570
Hello there.

I cannot see anything incorrect with the content of the lessons. In the above example, if there is only **1** `input` element, then it is perfectly normal to have the `id`, and `name` be the same. It is just an example. There is no requirement for them to be the same, and the lessons do not convey a requirement.

In general, you cannot have the `id` and `name` attributes be equal, be

[2020-04-18 17:30] jeremyfiel commented on #37185
Just FYI...File metadata test is working but it doesn't check if the user submitted the sample glitch.

[2020-04-19 00:54] emaamodt commented on #38569
I think that's a great idea. When I earned my first certification for the updated curriculum, it wasn't clear how I was supposed to claim it.

[2020-04-19 03:57] jeremyfiel commented on #38404
I've submitted PR's for {freeCodeCamp/boilerplate-advancednode/pull/9} & {freeCodeCamp/freeCodeCamp/pull/38572} as part of this fix.

[2020-04-19 06:21] xiaokang-chen opened #38573 "The webpage（freeCodeCamp.org） cannot be accessed"
the website cannot be accessed, Is the server under maintenance?

[2020-04-19 06:46] ranjith-git commented on #3672
<h2>CatPhotoApp</h2>
<main>

  <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>

  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>View more <a href="http://freecatphotoapp.com">cat photos</a></p>

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat

[2020-04-19 06:47] ranjith-git commented on #3672
<h2>CatPhotoApp</h2>
<main>

  <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>

  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">
  <p>View more <a href="http://freecatphotoapp.com">cat photos</a></p>
  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat th

[2020-04-19 06:56] #38573 closed

[2020-04-19 09:05] hirawatt opened #38574 "Challenge gets completed without ";" in the code"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/declare-string-variables

**Tell us about your browser and operating system:**
* Browser Name: Brave Browser
* Browser Version:
* Operating System: Linux Mint

**If possible, add a screenshot here (you can dra

[2020-04-19 17:49] Sky020 commented on #38558
Could you explain further what you are referring to? You have pasted unformatted code that contains incorrect syntax, and it is unclear what tests you are expecting to fail that do not.

[2020-04-19 19:32] GrimPixel opened #38575 "Unexplained scopes in ES6: Compare Scopes of the var and let Keywords"
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords
In this lesson, “block scope” is not explained, at least not so clear as what https://www.w3schools.com/js/js_let.asp does.

The sentence

is especially confusing because if `i` is declared with `var` in the same situation, the console will not return “`i` is not defined”.

T

[2020-04-20 05:42] CharithaDhananjaya opened #38580 "Private Production Build"
I'm trying to deploy a private instance of FCC for my students. But I couldn't do it somehow. Creating an account and Sign in to the private instance is not working with development user build. So if someone know how to build the private instance as a production build, please let me know your guid, in order to make this successful. Thanks in advance.

[2020-04-20 05:46] MarceloDamian commented on #35525
Hello! Would it be possible to work on this issue!?

[2020-04-20 06:12] scissorsneedfoodtoo commented on #38404
@mehanix, thank you for reporting this. We should try to test for cases where campers don't update the `res.sendFile(...)` line to `res.render(...)` as mentioned in the instructions.

Also thank you @jeremyfiel for submitting PRs for this challenge. I'll leave some comments over in each of them.

[2020-04-20 08:29] ojeytonwilliams commented on #35525
Hey @MarceloDamian we ran into problems last time this was implemented, discussed here: https://github.com/freeCodeCamp/freeCodeCamp/pull/37915.

Before we try this again, I'd like to have e2e tests that can catch those problems.  I don't have an ETA for that, but I will be working on it this week.  After they are done, I think we can try this again.

[2020-04-20 08:32] MarceloDamian commented on #35525
Sounds good thank you!

[2020-04-20 08:39] ojeytonwilliams commented on #38580
@davidreke if memory serves, you set up fcc for a bootcamp, do you have any notes on how you did that?

@CharithaDhananjaya could you outline what you've tried? There's a few things that could be going wrong.

[2020-04-20 08:44] ojeytonwilliams commented on #38574
We try not to be opinionated about JavaScript style and
[code]
is syntactically valid, so it should pass the tests.

[2020-04-20 08:44] #38574 closed

[2020-04-20 09:04] #38542 closed

[2020-04-20 10:29] CharithaDhananjaya commented on #38580
@ojeytonwilliams What I did was,
1.) get downloaded the code base from GitHub.
2.) then I follow the Local Deployment steps mentioned in the docs (https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md)
3.) just did like this,
i. npm ci
ii. npm run seed
iii. npm run develop
--- then I could access the development user fcc from port 8000.

[2020-04-20 10:30] CharithaDhananjaya commented on #38580
that works seems okay, but for my need it was not the requirement. So I'll be really happy if someone can help on that.

[2020-04-20 11:05] raisedadead opened #38581 "Convert email to lowercase when receiving from OAuth 2 Provider"
The email string is received as is before a db query. This makes it for a rare bug, when OAuth 2 providers send it in the case the users chose to store it with them.

A mismatch can happen between emails: `Someone@example.com` and `somone@example.com`, etc, leading to failed login attempts.

We should convert the email received to lowercase to be safe (because that's how we store it in db).

[2020-04-20 11:09] raisedadead commented on #38581
https://github.com/freeCodeCamp/freeCodeCamp/blob/2b60f3e61e20e0dd8813bf658672e08538b1d24f/api-server/common/models/User-Identity.js#L44-L47

[2020-04-20 11:26] raisedadead commented on #38580
Hi,

Thanks for your query.

TL;DR: You are unable to white-label the stack OOTB. We do not support it, because it's not a requirement for us.

But are able to answer specific questions on the codebase, architecture.

Just to give you someplace to start and get back to us with meaningful well researched questions:

1. We use Loopback (v3) as our API/ORM framework, it supports Passport.js (because

[2020-04-20 11:26] #38580 closed

[2020-04-20 11:50] CharithaDhananjaya commented on #38580
Thank, I got bit cleared. My intention is not to white labelling or nay changes. I just want FCC as it is but locally, Since my students are below 13 years and just want to develop a coding camp with their parents involving. So if this local system successful I can develop a dashboard for parents using the api, not mixing with this global platform.

Thanks for you valuable information, I'll consid

[2020-04-20 11:52] Sky020 opened #38582 "Add const to Iterate Through the Keys of an Object testString"
**Describe your problem and how to reproduce it:**
Declaring a `for...in` loop using `const` as the declaration to solve the challenge does not pass one test.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement

**Tell us about your browser an

[2020-04-20 12:09] raisedadead commented on #38580
Sure thing, and just clear any confusion we are more than happy to add changes (via pull-requests) to the codebase (and answer any queries about archi), for supporting this OOTB.

[2020-04-20 12:14] raisedadead commented on #38569
Why redirect and not use the modal. The primary reason we had this weird way of claiming the cert from the settings page was because:

1. Learn was deployed at `learn.fcc.domain`
2. The API could work on `www.fcc.domain`
3. The user profile was at `www.fcc.domain/<username>`

All these legacy limitations are gone.

There is no need for us to redirect them to the settings. All the functionality is

[2020-04-20 12:15] CharithaDhananjaya commented on #38580
Are there any documentation on production build, like I just stuck in moving from development user to production build.

[2020-04-20 12:35] raisedadead commented on #38580
There is some in our DevOps guide, but it is not remotely close to everything you need. You would need to remove the `LOCAL_MOCK_AUTH` from your keys and setup Auth0. ( And a bunch of unnecessary things like Stripe, PayPal, etc.)

The production setup will not solve your requirement for users below age of 13. You need a local stack, which means some decoupling of the boot scripts (in API) and addi

[2020-04-20 12:56] raisedadead opened #38584 "helper functions for challenge tests across curriculum"
Implement all the features that was attempted in the https://github.com/freeCodeCamp/freeCodeCamp/pull/38358

[2020-04-20 13:00] CharithaDhananjaya commented on #38580
Okay thanks, I got much cleared. If no issue, let me know the specific Gatsby build command for the production build.
Thank in advance.

[2020-04-20 13:56] #38008 closed

[2020-04-20 14:04] whoAbhishekSah commented on #38584
@raisedadead can you please assign me to this issue.
I would like to contribute.

[2020-04-20 14:07] Sky020 commented on #38581
I have created a straight-forward fix to the issue, but was wondering if you were expecting something similar to the `ensureLowerCaseString` function?

[2020-04-20 14:13] raisedadead commented on #38584
Hi thanks for your interest.

It is not required to be assigned an issue. You are welcome to ask queries here on in the [contributors chat room](https://gitter.im/FreeCodeCamp/Contributors).

I recommend you to read our guidelines for contributing first, and [why typically do not assign issues](https://contribute.freecodecamp.org/#/?id=how-do-i-get-an-issue-assigned-to-me).

[2020-04-20 14:21] AshNaz87 commented on #38581
My bad @Sky020

Just saw your PR. Please ignore my PR if it doesn't help

[2020-04-20 14:25] Sky020 commented on #38581
@AshNaz87 , no worries. I think both of our PRs are not going to cut it though. I am looking to see the possible values of `profile.emails[0].value`, and we both have uncaught type errors if it evaluates to `undefined`.

[2020-04-20 14:46] raisedadead commented on #38581
Hi Ashraf, thanks for your PR. I just closed yours, I would encourage you and Shaun to pair on this maybe?

As for the values, I think you can simply add something along these lines:

[code]

This should be enough. Everything is from then on is handled I think. So we should be good.

[2020-04-20 14:56] ahmadabdolsaheb commented on #38568
![image](https://user-images.githubusercontent.com/4591597/79766112-33443b80-8330-11ea-9ea1-777af6e9cce3.png)

this should be overwritten

[2020-04-20 14:58] AshNaz87 commented on #38581
@Sky020 Go for it :)

[2020-04-20 15:43] Sky020 commented on #38581
Thank you, @raisedadead and @AshNaz87 . I have committed as you put it.

[2020-04-20 15:54] #38568 closed

[2020-04-20 16:29] raisedadead opened #38589 "Update the styles on the contributing documentation"
We want to update the styles and theme on the [contributing documentation](https://contribute.freecodecamp.org) site. [Here is a guide](https://contribute.freecodecamp.org/#/how-to-work-on-the-docs-theme) on how to work on the theme and styles.

We would want to:

1. Remove the extraneous CSS
   - I had shamelessly copied the code from Netflix's awesome pollyjs project [here](https://github.com/Ne

[2020-04-20 22:25] glenmoyes opened #38592 "Some jQuery challenges often won't pass with a passing solution"
Many of the jQuery challenges won't pass even with a passing solution. Sometimes just changing the indenting affects the ability for the test to pass, and just running the test again without changing anything can cause the tests to pass as well.

Example of one such challenge: https://www.freecodecamp.org/learn/front-end-libraries/jquery/target-the-parent-of-an-element-using-jquery

I've upload a

[2020-04-20 23:36] piouson opened #38593 "steamroller fifth test fails for function names containing flat"
Edit: sorry, same as #38491
**Describe your problem and how to reproduce it:**
The fifth test for Steamroller algorithm fails for function names containing **flat**

[code]

**Add a Link to the page with the problem:**
[Intermediate Algorithm Scripting: Steamroller](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller)

**Tell us

[2020-04-21 01:43] raisedadead commented on #38592
Hi @glenmoyes

Thanks for your report.

We would need you to add the issue report in the requested format, along with the code that you used and as much details as possible.

We understand that you recorded and added a video, but it does not help us copy and test the code you had to reproduce and investigate.

I am closing this for now. But please re-open a fresh issue filling the issue template.

[2020-04-21 01:43] #38592 closed

[2020-04-21 05:28] #38593 closed

[2020-04-21 05:31] scissorsneedfoodtoo commented on #38593
@piouson, awesome, great catch here. The issue seems to be with this `testString`, which is a bit too flexible:

[code]

For some reason `.` characters before `flat` or `flatMap` are optional. This could be changed to ensure that we're only catching those array methods, not other variables, functions, or even comments that include "flat".

[2020-04-21 05:48] piouson commented on #38593
My bad @scissorsneedfoodtoo same as #38491 and #38497

[2020-04-21 06:10] scissorsneedfoodtoo commented on #38593
@piouson, ah, I didn't notice those other ones. Thanks for bringing this up, though! It's definitely something we want to fix.

[2020-04-21 06:52] hassaanp commented on #38584
Hey @raisedadead
Correct me if I am wrong. Is this issue asking to use the helper functions in place of the existing regex checks and local functions across the `curriculum` directory?

[2020-04-21 07:12] #38582 closed

[2020-04-21 11:45] ojeytonwilliams commented on #38566
Perhaps it could have a little trophy icon, rather than just a tick.

[2020-04-21 11:54] raisedadead commented on #38589
I did some more monkey patching to make the site look nicer. We would still want to write our own theme. Standardise the fonts and colors a little bit.

[2020-04-21 12:00] raisedadead commented on #38584
Yes, that is correct.

We have permission from Randell that we are able to use the code that he attempted on his PR and work from there.

When ready, I will add their email in the commit to give them credit. Thanks for taking this up. Let us know if you have any queries.

[2020-04-21 12:24] ahmadabdolsaheb commented on #38538
#38596 is just the working initial pr so we could gather technical requirements.

@raisedadead, what direction would you prefer?

should coderadio become a npm module that we could use across platforms?
let us know what you have in mind for the implementation.

[2020-04-21 12:31] hassaanp commented on #38584
Thank you for clarifying.

Why was the original attempt discarded?

[2020-04-21 12:52] raisedadead commented on #38584
No particular technical reason, other than the OP having to work on other things.

[2020-04-21 13:05] hassaanp commented on #38584
acknowledged

[2020-04-21 18:57] KBB99 commented on #38589
Can I work on this?

[2020-04-21 20:15] raisedadead commented on #38589
Yes.

You should give the guidelines a read 😅 . [Check this](https://contribute.freecodecamp.org/#/index?id=what-do-these-different-labels-that-are-tagged-on-issues-mean), you do not need permission to work on help wanted issues.

[2020-04-21 20:45] muhammadaffan14github opened #38599 "Mass"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-04-21 22:40] #38599 closed

[2020-04-21 23:32] deepgoonumich commented on #35525
Hello, my colleague @manrajtoor and I also wanna take a shot at this for a school project. Excited to work an learn from everyone in this community.

[2020-04-21 23:34] deepgoonumich commented on #36310
My colleague @manrajtoor and I would love to take a shot at this for a school project. Excited to learn from everyone in this community.

[2020-04-21 23:49] deepgoonumich commented on #38123
Me and my colleague @manrajtoor also worked on this for a school project. Should we submit a pull request still or is it too late?

[2020-04-22 07:16] krishnadevz opened #38603 "React and Redux: Use Provider to Connect Redux to React browser freezing"
**when we go to solve React and Redux: Use Provider to Connect Redux to React browser freezing for seeing that issue do following things**
[code]
* After doing above thing for testing react redux code browser is freezing and it happens with me second time we need to fix react compiler freezing problem

**Tell us about your browser and operating system:**
* Browser Name: firefox
* Browser Version:

[2020-04-22 07:38] #38393 closed

[2020-04-22 07:38] #38557 closed

[2020-04-22 07:46] krishnadevz commented on #38603
[code]
**by above code challenge completes fine but after browser freezing we have open it in another browser that's all from my side**

[2020-04-22 08:35] ojeytonwilliams commented on #35525
You can track the progress on the e2e testing setup here: https://github.com/freeCodeCamp/freeCodeCamp/pull/37053/

It's working well, but needs a few minor changes and to go through review.

[2020-04-22 08:58] ojeytonwilliams commented on #38603
Hi, @krishnadevz, could you show the code that freezes the browser? I tried the above snippets and could not reproduce the problem.

Also, I suspect this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36118.  Is there anything different here?

[2020-04-22 09:05] krishnadevz commented on #38603
![giddfdf](https://user-images.githubusercontent.com/42638797/79962867-3cefaf80-84a6-11ea-93ab-922e921ca253.gif)
not a difference but challenge is different that's all

[2020-04-22 09:14] ojeytonwilliams commented on #38603
Thanks for confirming and providing the code - I see why it's freezing.

Since it's the problem with recursion again, I'm closing this.  We can track the problem in https://github.com/freeCodeCamp/freeCodeCamp/issues/36118

[2020-04-22 09:14] #38603 closed

[2020-04-22 12:18] raisedadead opened #38606 "Universal nav overlaps on anchor navigation"
![2020-04-22 17 27 10](https://user-images.githubusercontent.com/1884376/79980886-6538d780-84c1-11ea-968e-f4d8465c1303.gif)

[2020-04-22 12:19] raisedadead commented on #38606
Sample URL: <https://contribute.freecodecamp.org/#/index?id=our-open-source-codebase>

[2020-04-22 14:20] ojeytonwilliams commented on #38123
Hi @deepgoonumich, the existing PR has already been accepted and will be merged once the code freeze is over.  So, yes, it's too late for this one!

There are some new issues with the help wanted label.  I would take a look at https://github.com/freeCodeCamp/freeCodeCamp/issues/38589 and https://github.com/freeCodeCamp/freeCodeCamp/issues/38606

[2020-04-22 14:34] Sky020 commented on #38606
@raisedadead , I am trying to work on the docs locally, and I have cloned the latest push of the repo, but my docs do not have the navbar. Am I missing something about running the docs locally?

[2020-04-22 14:38] raisedadead commented on #38606
See: https://contribute.freecodecamp.org/#/how-to-work-on-the-docs-theme

[2020-04-22 14:41] raisedadead commented on #38606
If you have installed and set up freeCodeCamp locally, you can simply do:

[code]

which should prompt a URL at which its serving the site.

[2020-04-22 14:54] Sky020 commented on #38606
Right. I did all that. Turns out, I was syncing with my fork, and not fCC's.

[2020-04-22 15:19] moT01 commented on #38575
Any suggestions @GrimPixel?

I think the challenge as a whole could use some simplification. The code examples feel more complicated than they need to be to illustrate the concept. The description is quite long as well. But that's a whole rewrite of the challenge. I'm not sure it's worth it.

[2020-04-22 15:33] #38606 closed

[2020-04-22 15:40] moT01 commented on #38570
Thank you for reporting this issue.

I don't see a problem here either, I think @Sky020 gave a good explanation, so I am going to close it.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you and happy coding.

[2020-04-22 15:40] #38570 closed

[2020-04-22 15:48] moT01 commented on #38539
I don't see a huge problem with how it is now. Certainly things could always be better. If you or someone else wants to give it a slight rewrite and make a PR, I wouldn't object - there are a number of forum posts on this challenge.

[2020-04-22 16:20] #38463 closed

[2020-04-22 17:13] raisedadead opened #38609 "Migrate all certification flags on users"
**Context:**

The current (pre-2020) list of certificate flags are:

[code]

**Impact**

This has some deep impact on the way we create and release certifications, and leading to avoidable bugs.

**Proposal**

We should add the certification flags with the year they are released by default. This will allow us to scale as and when needed.

The certs should be backwards compatible for everyone by **

[2020-04-22 19:19] #38541 closed

[2020-04-22 19:37] raisedadead commented on #35276
Please reopen if closed incorrectly

[2020-04-22 19:37] #35276 closed

[2020-04-22 19:38] #37284 closed

[2020-04-22 20:10] raisedadead opened #38611 "Tests in Browser"
**Context:**
- We have been dreading this problem for years (see #4201). But it's time we do the tests in browser.
- Stuart (`@bouncey`) and Oliver (@ojeytonwilliams) have laid the initial foundation by integrating Cypress(see #37053). This was not available in our earlier days, and has been quite a popular tool for automation testing.

- Alongside Cypress (which uses puppeteer which in turn enabl

[2020-04-23 05:03] KBB99 commented on #38589
Got it, I'll try to have it finished by Monday

[2020-04-23 11:14] GrimPixel commented on #38575
I think

**1.**

[code]

can be added to the end of the 3rd section.

**2.**

“because” can be replaced with “for”, like this:

“For `var`, if they are declared in loop scope or function scope, they are ...”

“For `let`, if they are declared in loop scope or function scope, they are ..., besides, `let` can have block scope, which is ...”

[2020-04-23 15:42] #36100 closed

[2020-04-23 15:42] raisedadead commented on #36100
We welcome supplementary guides on supporting docker toolbox.

[2020-04-23 15:45] raisedadead commented on #37776
All our instances are running Node 12. Closing.

[2020-04-23 15:45] #37776 closed

[2020-04-23 16:46] raisedadead opened #38616 "DevOps: mLab to MongoDB Atlas"
**Pre-requisites:**

- [ ] ~~We would have to bump MongoDB to v4.x.x (See #18275) from currently 3.6.x~~

	Our staging (dot-dev) instance can only be migrated to a M2 Cluster, which supports v4.x.x and above only. The production instance will be a M10 cluster, which does support v3.6.x, but doing so will break parity between deployments. This is an Atlas limitation.

- [ ] ~~Bumping MongoDB also i

[2020-04-23 18:21] Pallof commented on #37612
Is this issue still available?

[2020-04-23 18:31] vstarmoore commented on #5701
I'm not sure I'm doing wrong can someone pls help me?

function FunctionWithArgs(param1, param2) {
console.log(param1 + param2);
}
  FunctionWithArgs(1, 2);
  FunctionWithArgs(7, 9);

[2020-04-23 19:59] #38491 closed

[2020-04-23 20:11] Kiralessence opened #38621 "Basic HTML and HTML5: Define the Head and Body of an HTML Document - Hangs indefinitely if missing a backslash."
I know I wrote the code wrong initially, but I believe the RESPONSE to that incorrect code to be the bug here. The whole time I've been doing freecodecamp, it's been telling me, when you hit the 'Run the test' button, what is wrong in the bottom of the page. Standard stuff. I got to this segment and when I hit the test button, the browser window (google chrome), would cease to function. No forward

[2020-04-23 21:46] #34626 closed

[2020-04-23 23:07] dmcnaughtond commented on #38426
Hi-
The following code gets the test to pass.
<label>
    <input type="radio" id="indoor" name="indoor-outdoor" /> Indoor
  </label>
  <label>
    <input type="radio" id="outdoor" name="indoor-outdoor" /> Outdoor
  </label>

However, I think the solution in the video is better code. Is it possible that the problem is with the test?

[2020-04-24 07:46] charithalkml commented on #14784
I have mentioned the written code below but still no progress.
Please help what should I do ?
`<style>
  h2 { color: blue;}
</style>

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>`

[2020-04-24 07:49] charithalkml commented on #14784
I have mentioned the written code below but still no progress.
Please help what should I do ?

<style>
  h2 { color: blue;}
</style>

<h2>CatPhotoApp</h2>
 <p>Click here to view more <a href="#">cat photos</a>.</p>

[2020-04-24 10:53] #38581 closed

[2020-04-24 11:10] raisedadead commented on #38621
Hi, thanks for the report.

Please open a fresh issue adding all the details that were requested to you on the template. It will help us understand and address your concern.

The above report is quite vague and doesn't help us much in investigation or reproducing the issue.

Help us help you :)

Thanks.

[2020-04-24 11:10] #38621 closed

[2020-04-24 12:56] ojeytonwilliams opened #38626 "Package organization"
# The plan

- [ ] Move all packages to a common directory
- [ ] Make those packages into modules
- [ ] Publish them (ideally this should be automated)
- [ ] Only allow use of the published packages

# The justification

Currently there are multiple packages inside the freeCodeCamp monorepo.  Those packages are a little disorganised:
https://github.com/freeCodeCamp/freeCodeCamp/blob/987297fa2f4dab3

[2020-04-24 13:04] ckujawa commented on #38611
@raisedadead this sounds interesting and I'd love to help with it...I'm new to the project and still would likely need to pair up so I can learn my way around some of this stuff, but if you want the help just let me know :)

[2020-04-24 13:07] ojeytonwilliams commented on #38626
The publishing part may or may not be necessary, but I do think it's important to keep the different packages decoupled.

[2020-04-24 13:12] raisedadead commented on #38626
I think:

- The tools should become pure tools and publishable packages that we can consume.
- The client, API and the contributors dashboard apps do not make sense to be treated like the tools packages. We should make their bootstrapping independent.
- So we should instead do two types of bootstrapping, one for tools and the other for apps.
- The curriculum directory can become a pure content dir

[2020-04-24 13:14] raisedadead commented on #38626
**Yes, we should decouple as much as possible. This will make local setup cleaner, and deployments easy**

[2020-04-24 13:18] raisedadead commented on #38611
Hey Chris! Welcome. Hit us up the in the [contributors chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2020-04-24 13:21] Sky020 commented on #38254
@ojeytonwilliams , is this still something worth working on?

[2020-04-24 13:28] ojeytonwilliams commented on #38254
@Sky020 Sure thing.  It's not often a problem, but it's annoying to have someone's PR fail the tests through no fault of their own.

It won't be necessary to change all challenges with redundant timeouts. If you time them and fix any of the worst offenders that would be great.

[2020-04-24 13:58] AshNaz87 opened #38627 "Background colour of "Donate" button in /news could be changed"
As the colour red is widely considered to be prohibitive or an error, would it be better if we could use another colour from the fCC palette?

Had a cursory search of charities and most had shades of blue and even yellow as a background colour.

[2020-04-24 14:24] moT01 opened #38629 "Add forum topic ID to rosetta challenges"
I noticed that @NitronR has added a ton of content to mostly the rosetta code section (thanks BTW). You can see a [list of his PR's here](https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Apr+author%3AnitronR+is%3Aclosed). I did forum search for a couple of the challenges and it looks like guide pages have been created, but I noticed that the `forumTopicId` wasn't added to many of the chall

[2020-04-24 14:27] moT01 commented on #38627
Red is certainly attention grabbing, but I think yellow might look a little better and still have the same effect.

[2020-04-24 14:39] ahmadabdolsaheb commented on #36310
I will close this issue in favor of #38569.
Please feel free to go ahead and start working on it and refer to #38569 for more context.

[2020-04-24 14:39] #36310 closed

[2020-04-24 14:49] sujithnath commented on #38589
@KBB99 Let's do it together if @raisedadead is okay with it? I will read the contribution guide too :D

[2020-04-24 15:37] raisedadead opened #38631 "Add loading indicator for video component - Python Challenges"
The video component takes a bit leading abrupt and jerky experience. We should add our loader as a placeholder, similar to what we have for the code-editor.

[2020-04-24 15:40] AshNaz87 commented on #38627
Shade of blue/green? Though that may be not be performant in terms of a11y, depending on the shade

[2020-04-24 15:41] raisedadead commented on #38627
Quincy is opinionated about the colour of the donate button on `/news`. As per him, he did some research and has some analytics to back it up.

Thanks for your thoughts though.

[2020-04-24 15:41] #38627 closed

[2020-04-24 16:05] #37778 closed

[2020-04-24 19:00] raisedadead opened #38634 "Create Stripe plans from API only"
We should be creating Stripe plans using their API only and this can be done during the pre-deployment steps.

[2020-04-24 19:28] moT01 commented on #38631
not sure why that PR didn't close this?

[2020-04-24 19:28] #38631 closed

[2020-04-24 21:37] lihuelworks commented on #14784
Had an issue with this, solved it by disabling any userstyle extensions (Stylus, Stylish, or any "dark mode" extensions). Turns out your userstyle affects how freecode evaluates your excercise. Hope it helps!

[2020-04-24 21:56] raisedadead opened #38636 "Skip Cypress installation locally?"
Should we provide a way to skip installing cypress locally by default? This could save some bandwidth and time for users who do not want to install it / will not be working on e2e tests

[2020-04-24 22:03] raisedadead commented on #38636
Here is how we can disable binary installation: https://docs.cypress.io/guides/getting-started/installing-cypress.html#Environment-variables

[2020-04-25 08:02] ojeytonwilliams commented on #38636
Makes sense.  How about putting CYPRESS_INSTALL_BINARY=0 in .npmrc, it defaults to not installing?  We'd need to figure out how to make sure (pre scripts, probably) it's available if someone tries to run cypress, but that should be possible.

I can take a look next week, if you like.

[2020-04-25 09:47] raisedadead commented on #38636
That would be great. Thanks.

[2020-04-25 10:50] Twaha-Rahman opened #38638 "Redux Dev Tool Extension can access the state in production"
**Describe the bug**
In the freecodecamp.org website, Redux dev tools extension can be used to access the current and previous state. It may be noted that, actions can not be dispatched through the Redux Dev Tool extension.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'freecodecamp.org'
2. Click on the Redux Dev Tools Extension

**Expected behavior**
It is widely accepted as a best

[2020-04-25 12:46] AshNaz87 commented on #38540
https://design-style-guide.freecodecamp.org/ has the green favicon

[2020-04-25 20:51] Sky020 commented on #38254
I have been unable to even get the tests to finish with `npm run test:curriculum`

I get this error:
[code]
I have tried changing the flags in the `package.json` in _curriculum_. I have removed `--bailout`, and cannot find any useful flags for purposes of timing in the Mocha documentation.

Also, what has happened to the functionality of this:
[code]
Or:
[code]
Neither work. The whole test suite i

[2020-04-25 22:43] Bonniebiotch commented on #38611
Looking good

[2020-04-26 07:41] hiSaAbdullah commented on #13965
Where you declare your class into your HTML image tag. Without declaring class name how can you use style

[2020-04-26 07:41] enigma0160 opened #38640 "Bug in: Regular Expressions: Specify Exact Number of Matches"
**Describe your problem and how to reproduce it:**
In the lesson linked below,
This will pass:
[code]
But this wont:
[code]
The error message says: `Your regex should match "Timmmmber"`

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/specify-exact-number-of-matches

**Tell us about your browser and oper

[2020-04-26 07:47] enigma0160 opened #38641 "Bug in challenge: Regular Expressions: Check for All or None"
**Describe your problem and how to reproduce it:**
This passes:
[code]
But this doesn't:
[code]
with the error message:
[code]
**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/check-for-all-or-none

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: 81.0.4

[2020-04-26 08:46] MarceloDamian opened #38644 "Syncing remote copy to local copy (fetching from upstream)"
**Describe your problem and how to reproduce it:**
I was attempting to make a pull request with the specified instructions in ["making changes locally"](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=making-changes-locally). I followed all of the instructions to update my local copy, but somehow I wasn't able to update my local copy successfully. I am not sure if this m

[2020-04-26 10:04] Sky020 commented on #38640
Interestingly, this code passes:
[code]

[2020-04-26 10:15] Sky020 commented on #38640
Considering this is the testString:
[code]
It seems like a potential issue with the console, @ojeytonwilliams ? Related to #38474
[code]

[2020-04-26 11:07] Sky020 commented on #38644
The usual workflow is:
**on master**
[code]
Then, create a new branch to work on. Publish and push to your remote, and create the pull request from GitHub.

[2020-04-26 14:30] moT01 commented on #38641
I believe the method used to solve a similar problem in [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/37941) would work here.

[2020-04-26 14:32] moT01 commented on #38640
I believe the method used to solve a similar problem in [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/37941) would work here.

[2020-04-26 14:48] moT01 commented on #38638
I dunno, the first few articles I clicked on say that this isn't a problem, [here's one](https://medium.com/@zalmoxis/using-redux-devtools-in-production-4c5b56c5600f). Looks like it adds a tiny bit of overhead, so maybe not a bad idea.

[2020-04-26 17:39] MarceloDamian commented on #38644
Right this is what I had originally attempted

[2020-04-26 17:47] Czespo opened #38648 "jQuery: Target HTML Elements With Selectors Using jQuery"
- https://www.freecodecamp.org/learn/front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery

Code:
[code]
Errors: `You should use the jQuery addClass() function to give the classes animated and bounce to your button elements.
Your jQuery code should be within the $(document).ready(); function.`

Code:
[code]
Error: `You should use the jQuery addClass() function to give the cla

[2020-04-26 18:08] Sky020 commented on #38644
Did you get an error with any of those actions? Are you sure you set-up your remotes and upstream correctly?

[2020-04-26 18:42] MarceloDamian commented on #38644
yes the remotes were set up correctly, as I stated I had followed the instructions.

[2020-04-26 18:52] Sky020 commented on #38640
On a side note: Should this code be left to be allowed to pass the tests?:
[code]

[2020-04-26 19:21] raisedadead commented on #38644
Thanks for the feedback. Unless you can specify the errors, there is not much we can do.

However, if we were making a guess, and assumed you followed the instructions to the teeth your fork may have been soiled before you took a look at the guidelines and instructions?

You fork is  not same as your local copy, BTW.

Not saying that this happened in your case, but if you started by quickly editin

[2020-04-26 19:21] #38644 closed

[2020-04-26 19:28] raisedadead commented on #38638
Thanks for your report @Twaha-Rahman I agree with Tom, that this is definitely not a bug, however we would like to employ the recommended practices.

A PR is welcome.

[2020-04-26 20:56] MarceloDamian commented on #38644
Thank you so much for reviewing my case, and I definitely think it might have just been soiled. Thank you again !

[2020-04-26 20:57] Moonsolol commented on #38641
Hi, could I try working on this issue? Thanks.

[2020-04-26 21:20] Twaha-Rahman commented on #38638
@raisedadead I would like to help out if I could in anyway! I'm working on a PR already ;)

[2020-04-27 00:14] bjorno43 opened #38653 "Unable to login to freecodecamp.org using Github"
**Describe the bug**
First I wanted to login to the forums with my Github profile. It pulled my information from Github, but kept forcing me to make a new profile with that information instead of just logging me in.

Then I tried logging in on the website itself, but was presented with "Oops! Something went wrong. Please try again in a moment.". I've tried both Firefox and Chrome, but the issue re

[2020-04-27 01:49] Twaha-Rahman commented on #38638
So, I've looked into the code and in the `createStore.js` on line 27 to 28, there's this bit of code ---

[code]

This `composeWithDevTools` in turn checks whether the script is running in a browser or not ---

[code]

Then it exposes the `__REDUX_DEVTOOLS_EXTENSION__` to the `window`.

So, if we can detect a production environment, we can stop exposing the `__REDUX_DEVTOOLS_EXTENSION__` to the `w

[2020-04-27 07:58] ojeytonwilliams commented on #38254
@Sky020 I've sent you a message on Gitter about the failing tests.

To get timing info from Mocha, you can use
[code]
in `scripts` and then search the output for any tests with 4 digit times.  When I did that I found:

- Use Array.filter() to Dynamically Filter an Array
- Use Advanced JavaScript in React Render Method
- Use a Ternary Expression for Conditional Rendering
- Render Conditionally from

[2020-04-27 08:03] ojeytonwilliams commented on #37612
@Pallof it is, PRs are welcome.

[2020-04-27 09:15] ahmadabdolsaheb opened #38658 "Improvements to the landing page"
Here are a few improvement that could increase our conversion rate.

Todo:

- [x] use react svg components as company logos instead of company names. ( this has been done in the past, we need to revert the changes).

- [x] add as seen on section with the following image:
https://github.com/freeCodeCamp/assets/blob/master/assets/other%20assets/as-seen-on.png
(we use to have this; however, the image

[2020-04-27 09:29] ojeytonwilliams commented on #38640
I don't think
[code]
should pass, since it's just an odd way of writing `/Timmmmber/g`, rather than how you'd actually use `{n}`.

As for the console, I get
[code]
in both consoles, which seems fine.

[2020-04-27 10:07] ahmadabdolsaheb commented on #38540
coderadio has a green favicon

[2020-04-27 11:03] raisedadead commented on #38638
I was hoping if we could have a build time solution, we have an env var that we use on production: `FREECODECAMP_NODE_ENV=production`, this is used in the build pipelines as well.

Is this something that we could use? I am not an expert on redux I would leave it to someone more experience to guide here.

[2020-04-27 12:24] moT01 commented on #38640
I don't mind `let timRegex = /T{1}immmmber/g;` passing all that much. Mostly because I am doubting that anyone has actually used that. But I also don't mind fixing it since it's not really how it was intended to be completed. I think the easiest fix would be to change the first test...

to something like... `Your regex should use curly brackets to detect the number of M's.` - and update the test t

[2020-04-27 12:28] #38518 closed

[2020-04-27 12:49] ojeytonwilliams commented on #38640
It's pretty inconsequential, honestly.  I'd prefer it to fail, but you're right - it's unlikely many people have done that while actually trying to solve the problem.

If it's fiddly to reject that while allowing valid solutions, don't worry about it.

[2020-04-27 13:21] ojeytonwilliams commented on #38638
Why not just use `compose` or `composeWithDevTools` depending on the value of `FREECODECAMP_NODE_ENV`?

[2020-04-27 16:48] Twaha-Rahman commented on #38638
@ojeytonwilliams Good point.....doing it....

[2020-04-27 19:33] KBB99 commented on #38589
Sounds good @sujithnath . I'll change the fonts to match the Free Code Camp font.

[2020-04-27 23:23] raisedadead commented on #38653
Closing as discussed over email.

[2020-04-27 23:23] #38653 closed

[2020-04-28 07:28] ahmadabdolsaheb opened #38664 "Update the universal footer"
We just rolled a new universal footer on [news](https://www.freecodecamp.org/news/) and we need to update the footer on our other platforms for consistency.
Todo:
- [ ] update the footer on /learn

[2020-04-28 11:20] #38636 closed

[2020-04-28 12:45] MarceloDamian commented on #38664
The link "news" on the issue redirects to a faulty page. Did you by any chance mean "https://www.freecodecamp.org/news/"?

[2020-04-28 16:33] Twaha-Rahman commented on #38638
Okay, I've done a PR.

[2020-04-28 16:45] Twaha-Rahman commented on #38638
Sorry! Did a wrong PR....correcting it😅

[2020-04-28 19:01] Twaha-Rahman commented on #38638
Okay, I've done the PR. If there's anything wrong or you guys think should be changed, I'll gladly oblige. Thanks for all the support @ojeytonwilliams @raisedadead !

[2020-04-28 20:45] raisedadead commented on #38638
Thanks for your patience, we will review the PR in due course.

[2020-04-28 22:34] jeremyfiel commented on #38404
fixed in the latest merge.  Ok to close.

[2020-04-29 02:13] sujithnath commented on #38658
@ahmadabdolsaheb I will take this

[2020-04-29 05:33] joelszn opened #38672 "Typo in 'Basic JavaScript: Build JavaScript Objects'"
Did you guys mean 'as long as "name" is a string' in last paragraph?
![Screen Shot 2020-04-29 at 1 32 25 AM](https://user-images.githubusercontent.com/23111335/80563578-671b0300-89b9-11ea-8932-e4d91646b8bd.png)

[2020-04-29 05:58] joelszn opened #38673 "Broken Test 'Basic JavaScript: Profile Lookup'"
**Describe your problem and how to reproduce it:**
The problem is for test cases:
"Bob", "number"
"Bob", "potato"

To reproduce run solution 1 which is the same solution I came up with
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-profile-lookup/18259

Attached is a screenshot of me running the same code on my browser's console returning the correct result.
![Screen Shot 2020-0

[2020-04-29 06:32] vincentendrahadi commented on #38658
Hi @ahmadabdolsaheb , did anyone worked on this issue yet? If not, I want to contribute by working on this issue.
Thanks

[2020-04-29 07:34] thecodingaviator commented on #38672
Yes, I think that's the intended motive. Please go ahead and create a PR or let us know so I'll put it up for other contributors!

[2020-04-29 08:30] joelszn commented on #38672
I'll create a PR :)

[2020-04-29 09:39] yourcontact opened #38674 "Answer for "React: Create a Controlled Input" outputs desired outcome but without {this.state.input}"
**Describe your problem and how to reproduce it:**

An answer for "React: Create a Controlled Input" outputs desired outcome but does not pass the test

The answer:

[code]

Error message:

[code]

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-controlled-input

**Tell us about your browser and operating system:**
* Browser Name:

[2020-04-29 09:56] Sky020 commented on #38674
Hello there.

For future issues like this, please open a topic on the [forum](https://www.freecodecamp.org/forum). The reason for this is to iron out issues that are user-based, and not an issue with the source code.

In your example, you are not passing the test, because you are not:

Have a look at this line:
[code]
There is a mistake.

Thank you, for helping us keep the tests valid. I am closin

[2020-04-29 09:56] #38674 closed

[2020-04-29 09:57] yourcontact commented on #38674
Thank you, @Sky020.

[2020-04-29 10:12] hassaanp commented on #38673
Hi @joelszn
The second return on line 41 should return `No such property`, in the screenshot it shows that both returns are `No such property`.
The code pasted in the JS console is correct.

[2020-04-29 11:08] ahmadabdolsaheb commented on #38658
@vincentendrahadi please go ahead

[2020-04-29 11:11] ahmadabdolsaheb commented on #38664
@MarceloDamian, Yes. Thanks for letting me know.

[2020-04-29 11:12] LeoDalcegio opened #38677 "MongoDB and Mongoose - Challenge nº 9 (findByIdAndUpdate) - works without updating the model."
This is the challenge: https://www.freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/perform-new-updates-on-a-document-using-model.findoneandupdate.

The challenge is to update a "Person" model using "findByIdAndUpdate", but I notice that both of the following codes work:

[code]

[2020-04-29 12:50] raisedadead opened #38679 "Integrate start-server-and-test for Cypress"
We want to integrate [`start-server-and-test`](https://github.com/bahmutov/start-server-and-test) for our Cypress setup.

The utility allows us to [wait on multiple servers](https://github.com/bahmutov/start-server-and-test#starting-two-servers)  as well.

Ideally we would want to keep all the config as npm-scripts in the package.json itself.

[2020-04-29 12:51] vedanthv commented on #38672
"as long as" conveys the message to the learner that name must be of the string datatype

[2020-04-29 13:06] moT01 commented on #38673
Nice eyes @hassaanp. Yea, I think this is just a typo there. Take another look @joelszn and let us know if you still think there's a problem. Otherwise, you can probably close this. Thanks.

[2020-04-29 13:07] vedanthv opened #38680 "Minimum font-size in browser error"
This is a problem I found in the "Applied Visual Design: Set the font-size for Multiple Heading Elements".Even though the styling of headers in this challenge may be correct,the console gives an error stating that "h6" is not properly styled. I figured this may be due to the minimum-font-size issue of the browsers usually set to 15 or 16px(In Google Chrome and Firefox).
Just wondered if we can put

[2020-04-29 13:14] moT01 commented on #38680
Yes, I believe this has come up before. I would rather see the [last test here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.english.md#tests) use regex I think.

[2020-04-29 13:24] vedanthv commented on #38680
But this issue comes up every now and then in the forum.
How is it possible for a beginner to use regex in this challenge ocnsidering that they may be only a few   days into the course

[2020-04-29 13:28] moT01 commented on #38680
I meant to use regex to test that users entered "14px". Not that users should use regex at all. Right now the test is checking the value of the `h6` as it is rendered by the browser. If we check the input from the user, it wouldn't matter what size the browser gave the element.

[2020-04-29 13:43] vedanthv commented on #38680
I am new to Open Source Contributions,can you guide me on fixing this issue?

[2020-04-29 13:58] moT01 commented on #38680
I would recommend following the [steps in our documentation to get freeCodeCamp running locally](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md).

After that you need to fix the file I linked above and make a pull request.

You can also reach out to us in our [contributors room on gitter](https://gitter.im/FreeCodeCamp/Contributors)

[2020-04-29 14:27] arthurvmdantas opened #38682 "Regular expression lesson's order"
Hello,

In the Regular Expressions section, maybe the "Check For Mixed Grouping of Characters" lesson ought to come before "Restrict Possible Usernames"?

I needed grouping to solve the proposed exercise of "Restrict Possible Usernames".  So, I kind of needed to use something that was explained only later.

Best,

[2020-04-29 15:54] Tepa6auT commented on #14784
Thank you very much, the first result in google wasn't helpful. But your advise solved the problem immediately

[2020-04-29 17:11] Sky020 commented on #38404
There is still an issue of the test not passing with correct solutions:
[code]
**OR**
[code]

[2020-04-29 17:18] jeremyfiel commented on #38404
hi @Sky020  we've submitted another pr to relax the regex a bit more. it's pending review.

I believe the single period (relative path) the way you've written it doesn't work in even the glitch app. It's pointing at the wrong path.  should be .. or just /pug

[2020-04-29 17:45] dmcnaughtond commented on #38426
@beaucarnes here you go--sorry!
[code]

[2020-04-29 21:12] joelszn commented on #38673
good eyes @hassaanp I didn't notice this. It ran successfully afterward. Sometimes it's the simple things that we look over!

[2020-04-29 21:12] #38673 closed

[2020-04-29 23:30] skaparate opened #38691 "Formatting issue within Basic Javascript, Record Collection"
**Describe your problem and how to reproduce it:**
For the challenge [Javascript Algorithms and Data Structures -> Basic Javascript -> Record Collection](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/record-collection), the `collection` variable is not supposed to change, but whenever you format the code (Control + Shift + i) the `collection` changes

[2020-04-30 08:48] rajatgupta24 commented on #38691
well, if you do

     `console.log(collection[1245]["tracks"]);`
you'll get (in the freecodecamp console)

     `undefined `

i.e. when you enter the value in it, it will be "collection[1245]["tracks"][0]", there is no space.
there must be some other error, if i get it correctly.

thank you

[2020-04-30 10:31] ahmadabdolsaheb commented on #38658
@vincentendrahadi here is the commit that made the svg components for the company logos
https://github.com/freeCodeCamp/freeCodeCamp/commit/8c921a05d6e02e89ff085a716bcbfb7a5907cbf6#diff-ac541a3ccae9520a08531d656b1223ff

and this one deleted it.https://github.com/freeCodeCamp/freeCodeCamp/commit/8c921a05d6e02e89ff085a716bcbfb7a5907cbf6#diff-ac541a3ccae9520a08531d656b1223ff

we just need to bring ba

[2020-04-30 13:17] rajatgupta24 commented on #38629
Hi, I'm a beginner and want to contribute to this issue can you please guide me sir.

[2020-04-30 13:57] skaparate commented on #38691
Hello!

I tested what you mention on (Ubuntu, Linux) Firefox, Opera and Chrome, and none of them printed `undefined`, neither on the FCC console nor the browsers console:

**Chrome**
![image](https://user-images.githubusercontent.com/12261705/80717706-2c06f580-8ac7-11ea-9924-9fd74afb4bcc.png)

**Firefox**
![image](https://user-images.githubusercontent.com/12261705/80717854-61134800-8ac7-11ea-9e24-

[2020-04-30 15:09] moT01 commented on #38691
I could not reproduce this. But a fix would be to change the test I believe. [Here are the tests for this challenge](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.english.md#tests).

The first test could be changed to allow a space or not...
[code]

The change is towards the end

[2020-04-30 15:31] moT01 commented on #38677
Thanks for pointing this out @LeoDalcegio. To me, this seems quite minimal and probably not worth the effort it would take to fix it. It says to use `findOneAndUpdate` so users should try to use that. If they can achieve the correct result in another way in this case, I don't really have a problem with it.

The challenge also mentions to find the person by name and not id. Your examples use Id. It

[2020-04-30 15:42] moT01 commented on #38648
How does that PR look @Czespo?

[2020-04-30 15:52] skaparate commented on #38691
@moT01, yes, the test should be changed but I would change it using @Sky020's proposal :grin:.

[2020-04-30 15:56] moT01 commented on #38691
hmm, wouldn't the collection object have changed?

[2020-04-30 15:59] LeoDalcegio commented on #38677
Yeah you are right, it is just a small thing that I notice, but it is not something that would stop people from learning.

-------- Mensagem original --------
De : Tom <notifications@github.com>
Data: 30/04/2020 12:32 (GMT-03:00)
Para: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com>
Cc: Leonardo Luís Dalcegio <leoodalcegio@hotmail.com>, Mention <mention@noreply.github.com>
Assunto: Re:

[2020-04-30 16:07] ojeytonwilliams commented on #38691
Comparing objects via stringify can fail, since there's no guarantee of property order. [assert.deepEqual](https://www.chaijs.com/api/assert/#method_deepequal) should do the trick.

[2020-04-30 16:11] skaparate commented on #38691
Yes, you're right, it will change after the student defines and executes the function, but I suppose we should be parsing only the initial `collection` var at that point, no?

[2020-04-30 16:42] Czespo commented on #38648
@moT01 @AshNaz87

PR looks good, though I have a minor suggestion for the regular expression:

`/\$\(document\)\.ready\(function\s*\(\)\s*{\n\s*\$.*button.*.addClass.*/g`
->
`/\$\(document\)\.ready\(function\s*\(\)\s*{\s*\$.*button.*.addClass.*/g`

This allows the entire function to be on a single line.

Also, should ES6 syntax be allowed? Another thing, jQuery recommends `$(<callback>)` instead o

[2020-04-30 16:47] Sky020 commented on #38691
Might as well make use of `deepEqual`, seeing as it is more robust. I do have a qualm with the challenge asking the user to mutate the object in the way it does, but that is for another day.

[2020-04-30 16:52] Sky020 commented on #38648
Just my two-cents: Ideally, all tests would look at output, and be almost impartial to method (unless the challenge explicitly excludes a method). However, the seed code is structured in such a way that a user is not asked to change it, and testing for every possible way a user might is odd.

I am all for exhaustive tests, but I think users following instructions is more pertinent.

[2020-04-30 17:30] Czespo commented on #38648
@Sky020 Hmm, you're right. I thought the seed code contained no JS. In that regard, this issue was misguided.

[2020-04-30 17:55] abhi0977 commented on #38664
@ahmadabdolsaheb can I pick this?

[2020-04-30 21:23] AshNaz87 commented on #38680
Hi @moT01,

How would you target the `<h6>` element inside the `<style>` tag, as it's inside HTML?

[2020-04-30 21:49] whyIdream commented on #38640
It's straight forward and should use curly brackets.

[2020-05-01 01:44] moT01 commented on #38629
Here's what you can do @rajatgupta24 - if you're up for it.
- Create a draft PR
- go through the rosetta code challenge files and find the ones that don't have the forumTopicId at the top
- do a forum search for the challenge and add the forumTopicId to the file if you find a guide page already exists
- make a list of the ones that don't exist, and I can find a way to make new pages for those - wh

[2020-05-01 03:46] vincentendrahadi commented on #38658
@ahmadabdolsaheb okay thanks
and where should i put this?
- add as seen on section with the following image:
https://github.com/freeCodeCamp/assets/blob/master/assets/other%20assets/as-seen-on.png
(we use to have this; however, the image should be converted to an svg react component for consistency)

[2020-05-01 08:53] ahmadabdolsaheb commented on #38664
Please, go ahead. @abhi0977

[2020-05-01 09:00] ahmadabdolsaheb commented on #38658
It could be centered after the CTA button. If you decide to make the svg, please minify the svg first.

Here is how it used to look like.
https://medium.com/@shibajyotidebbarma/freecodecamp-my-experience-913b8398cf09

[2020-05-01 11:11] vincentendrahadi commented on #38658
@ahmadabdolsaheb done

[2020-05-01 16:16] thecodingaviator commented on #38682
cc: @raisedadead

[2020-05-01 16:17] thecodingaviator commented on #38680
@AshNaz87 I don't understand. You want to check the CSS of the `h6`. Right?

[2020-05-01 16:37] moT01 commented on #38680
[Here's a test I made in the past.](https://github.com/freeCodeCamp/freeCodeCamp/blob/next-curriculum/curriculum/challenges/english/01-responsive-web-design/css-variables-skyline/part-94.md#tests)

The first part, `const fb3w = code.match(/\.fb3-window\s*{[\s\S]+?[^}]}/g)[0];`, isolates the styles for the `.fb3-window` class. Then you can more easily find if the correct styles are in there.

[2020-05-01 17:00] raisedadead commented on #38682
Tom is correct, we are not reordering challenges at the minute.

We understand and acknowledge the annoyance, however we are motivated to push the project based challenges which would help in understanding the concepts better because the progress on the project would be incremental in nature.

[2020-05-01 17:00] #38682 closed

[2020-05-01 21:29] AshNaz87 commented on #38680
Thanks @moT01. It was the `code` variable that I was missing

[2020-05-02 04:27] Twaha-Rahman opened #38705 "Formatting inconsistency in the `Intermediate Algorithm Scripting: Convert HTML Entities` page"
**Describe your problem and how to reproduce it:**
In the `Intermediate Algorithm Scripting: Convert HTML Entities` challenge, all the test have results which aren't wrapped with quotation even though they are string. I've checked all the other FCC challenges and confirmed that the other challenges results (if the result is a string), is wrapped with quotation mark (For example: `Intermediate Algo

[2020-05-02 04:46] Twaha-Rahman commented on #38705
Here's a screenshot of the `Intermediate Algorithm Scripting: Spinal Tap Case` challenge that returns string as an answer and you can see that the strings are wrapped in "" **unlike** in the `Intermediate Algorithm Scripting: Convert HTML Entities` challenge.

![Capture](https://user-images.githubusercontent.com/39026437/80855290-d9157580-8c61-11ea-968d-92e78d019204.png)

[2020-05-02 06:29] Twaha-Rahman commented on #38589
@KBB99 Are you still working on the PR to change the font? If you are busy, I can take it from here.....

[2020-05-02 08:05] aaryandewan commented on #38629
Here's the list of the Rosetta Challenges that don't have `forumTopicId `. They all don't have any guides in the forums as well.

1. Last letter-first letter
2. Letter frequency
3. Levenshtein distance
4. Linear congruential generator
5. Long multiplication
6. Longest common subsequence
7. Longest increasing subsequence
8. Longest string challenge
9. Look-and-say sequence
10. Loop over multiple ar

[2020-05-02 08:08] aaryandewan commented on #38629
@rajatgupta24 Are you still working on this? If you're not, I'd love to.

[2020-05-02 09:24] Twaha-Rahman commented on #37615
@Ahmad-Faizan I've just followed the instructions, but failed to reproduce the bug. Has this bug been already fixed?

[2020-05-02 09:32] Twaha-Rahman commented on #38540
@moT01 @ahmadabdolsaheb I'd like to update the logo's if you guys say so😉!

[2020-05-02 10:08] miyaliu666 opened #38707 "Meta tag - WeChat"
Could we add a meta tag to the Chinese /news, so it shows the cover images when shared in WeChat moments? Thanks!

[2020-05-02 10:51] Ahmad-Faizan commented on #37615
@Twaha-Rahman I think you tagged the wrong ahmad for the bug.

[2020-05-02 12:11] rajatgupta24 commented on #38629
@aaryandewan sorry for being late but i'm still working on this, thanks btw.
@moT01
here's list of Rosetta Chanllenges that don't have `forumTopicId` & whose guide pages don't exist :

1. Last letter-first letter
2. Letter frequency
3. Levenshtein distance
4. Linear congruential generator
5. Long multiplication
6. Longest common subsequence
7. Longest increasing subsequence
8. Longest string chall

[2020-05-02 13:55] moT01 commented on #38540
I believe it's okay to change these, so you can probably make a PR if you want @Twaha-Rahman.

[2020-05-02 14:25] #38705 closed

[2020-05-02 14:29] vedanthv opened #38709 "Dark mode for news forum"
Issue Description:
The dark mode is a feature in FCC learn and FCC forum but it is not there in FCC news.
This makes it hard to read articles in dim light.

To do:
Add Dark mode on /news

[2020-05-02 16:40] Twaha-Rahman commented on #37615
@Ahmad-Faizan Sorry, my bad! 😅😓

[2020-05-02 16:41] Twaha-Rahman commented on #37615
@ahmadabdolsaheb  I've just followed the instructions, but failed to reproduce the bug. Has this bug been already fixed?

[2020-05-02 17:05] dostuffthatmatters opened #38710 "Bug in challenge: Rosetta Code: 24 Game"
**Describe your problem and how to reproduce it:**
My solution (see below) produces the correct result: For `solve24("4878")` my algorithm produces `(4-8+7)*(8)` which equals 24. However the automated test on this example fails - error message: `solve24("4878") should return (7-8/8)*4 or 4*(7-8/8)`.

My Code:
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/c

[2020-05-02 19:27] bradtaniguchi opened #38711 "Create a new Camperbot for the official discord server"
**Is your feature request related to a problem? Please describe.**
FreeCodeCamp recently created an official discord server (here is the [announcement](https://www.freecodecamp.org/news/freecodecamp-discord-chat-room-server/)), and a few members would like to have a new version of the gitter bot (camperbot) that was featured on [the gitter chat](https://github.com/freeCodeCamp/camper-gitter-bot).

[2020-05-02 21:50] ojas360 opened #38712 "Broken Test Case in Basic CSS: Size Your ImagesPassed"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
When i run with 100% zoom it fails and it runs successfully for 90% zoom
![test-fail-error](https://user-images.githubusercontent.com/7880879/80893047-93ea5580-8cec-11ea-8a6d-8216a52e9972.gif)

**To Reproduce**

[2020-05-02 22:58] Twaha-Rahman commented on #38589
@raisedadead Would you like to create a new CSS file for the docsify theme or add the CSS to the already existing `custom.css`?

[2020-05-03 03:10] skaparate commented on #38691
Hello!

I tested the challenge using `assert.deepEqual`, but it seems to be unreliable too. I suppose because we cannot guarantee the order in which the tests are run and *after the solution is written*, sometimes all tests pass and sometimes the first test (the one in question) fails.

The solutions I can think of are:

- Fix the RegEx,
- Impose/teach good practices and ask the students to `clone

[2020-05-03 04:28] arianneghislainerull opened #38713 "Feature Request for freeCodeCamp learning platform"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm not necessarily frustrated by this problem.. However, I find it difficult for me to focus while learning programming in general. In my own opinion, there are people who work better when they are listening to music. Maybe it stimulates t

[2020-05-03 04:42] Twaha-Rahman commented on #38540
@moT01 @ahmadabdolsaheb  I'm using the `GitPod` to make changes and preview them. Is there any way, I can preview pages like `https://design-style-guide.freecodecamp.org/` and `https://coderadio.freecodecamp.org/`?

[2020-05-03 05:19] Twaha-Rahman opened #38715 "Typo in the PR template"
There's a typo in the PR template on line 14. The word additional is misspelled.

![Capture](https://user-images.githubusercontent.com/39026437/80899250-e26d1380-8d2f-11ea-8d33-3876af1c7632.png)

[2020-05-03 05:33] Twaha-Rahman commented on #38713
Not a bad nor difficult feature request. I believe if the maintainer agree, this shouldn't the be that hard considering FCC already has [music site](https://coderadio.freecodecamp.org/). But on the flip side, it shouldn't be that hard to open a separate browser tab and play music by using FCC's [Code Radio](https://coderadio.freecodecamp.org/).

[2020-05-03 05:38] Twaha-Rahman commented on #38711
It'd be a nice feature to add Camperbot. But as I don't know the reasoning behind the deprecation, I'll leave it to the maintainers ;)

[2020-05-03 05:47] Twaha-Rahman commented on #38664
I'd like to update the forum's footer. Is there anyway to preview changes of other sites like `forum` or `news` on `GitPod` ?

[2020-05-03 07:57] vedanthv commented on #38713
I second @arianneghislainerull on the use of bot for reading out the text but I feel the need of music is not very important at the moment because music can be played on other platforms as well(like YT,Spotify or Prime Music). What are your thoughts?

[2020-05-03 09:50] Twaha-Rahman commented on #38713
@vedanthv It'll be a low priority for sure but since FCC already has [Code Radio](https://coderadio.freecodecamp.org/), it maybe considered because merging these two features can help both of these projects

[2020-05-03 09:53] Sky020 commented on #38691
@skaparate , Is there a simple way to take a snapshot (clone) the users `collection` object, before the tests are run? Then, we could use that for comparison with a `testCollection` object.

I do not understand how the current test is more reliable than `assert.deepEqual`, if the tests are run at different times?

Whilst I am for teaching _good practices_, I do not see that being necessary to get

[2020-05-03 10:17] vedanthv commented on #38713
@Twaha-Rahman Yes,maybe we can add a toggle button which switches the music on and off. Will work on it today

[2020-05-03 13:11] moT01 commented on #38540
It looks like those are both separate repositories. [code radio](https://github.com/freeCodeCamp/coderadio-client) and [design style guide](https://github.com/freeCodeCamp/design-style-guide). I haven't used gitpod so I'm not sure if you can use that over on those. But that's where they are.

[2020-05-03 13:13] raisedadead commented on #38589
We would prefer updating the `theme.css` currently in the `/docs/components`. You are welcome to purge and tweak as per your best judgement.

Criteria:
- We want the fonts to be legible and readable using the typography from the design guide.
- Modular if posible, to be able to use dark/light mode would be nice touch.

[2020-05-03 14:51] arun9787 commented on #17323
anybody give the answer for this questions

[2020-05-03 15:36] Ryuno-Ki commented on #38711
I'd be interested in this. Any preference regarding the programming language? The old one was in JavaScript, so could be used for inspiration if the new one shall be in JavaScript as well.

Where would it be hosted?

[2020-05-03 17:19] skaparate commented on #38691
Yes, we can, just like the Spanish solution, which basically copies the object after it is seeded... I was just overthinking it.

[2020-05-03 17:30] bradtaniguchi commented on #38711
I'd prefer for this to be hosting in a place that is "as close" to the actual FCC stack as possible, or at least following the original gitter bots hosting provider. There is always the issue of cost for hosting this app, so unless FCC is able to front the costs, the hosting will have to be done super cheaply or managed by other people.
I'm not sure what the original gitter bot ran on or cost to r

[2020-05-03 19:54] dostuffthatmatters opened #38718 "Bug in Challenge: Project Euler: Problem 59: XOR decryption"
**Describe your problem and how to reproduce it:**
My solution (see below) appears to be correct: My algorithm produces `129448 `. I tried this answer on project euler directly and it is correct: https://projecteuler.net/problem=59

However on freecodecamp.org it says that the valid answer should be '107359'.

My Code:
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.o

[2020-05-03 20:26] drv-rajesh commented on #38711
Yesterday, I brought up this issue to @bradtaniguchi. He asked me to thumbs-up the issue, and mention my requirement.

I will be creating the bot in Python, as it is my preferred language. It should take little less than a day.

**As for the message:
{Welcome} @username {to the official FCC Stay at Home Discord}! Please follow the FCC code of conduct, and happy coding!**

[2020-05-03 22:14] QuincyLarson commented on #38711
@bradtaniguchi Thanks for opening this issue.

I'm also in favor of creating a new Discord bot based on our Gitter bot. We should discuss the specific user stories we want to prioritize, and use that as a starting point. Could we all list the specific functionality we want for such a bot? Then Brad could organize these user stories and list them out.

[2020-05-03 22:28] nhcarrigan commented on #38711
@QuincyLarson I've seen a couple of people in the discord server request automated welcome messages.

[2020-05-03 22:29] nhcarrigan commented on #38711
Personally, I'm a fan of experience point features, where users gain "levels" based on the degree of interaction.

[2020-05-04 08:03] #38715 closed

[2020-05-04 08:30] ojeytonwilliams commented on #38718
Thanks @dostuffthatmatters, you're quite right.  Project Euler changed their cipher and key recently and when we incorporated the new cipher we didn't update the test.

If you're up for it, a PR to update the test and add a solution would be very welcome.

[2020-05-04 11:13] Ieahleen commented on #38691
the JSON.stringify way of doing was removed from the challenge in #36002 and it was discussed in #35990, because doing that way would let users just change the original object declaration.

[2020-05-04 12:23] ojeytonwilliams commented on #38589
@raisedadead any thoughts on hosting the FontAwesome fonts rather than using the kit?  The kit creates a flash of unstyled content and sometimes takes a while to load.

[2020-05-04 12:36] Sky020 commented on #38691
@Ieahleen , My idea for implementation is:
1) Create object `testCollection` equal to the original seed of `collection`
2) Compare `testCollection` against `collection` at test run
3) If user has changed `collection`, `testCollection !== collection` and first test fails.

[2020-05-04 13:05] drv-rajesh commented on #38711
@nhcarrigan an extension of that idea would be to integrate all the features of a professional bot (i.e. welcome, levels, etc.). We could call this a custom FCC bot and users can buy certain roles using levels. I have seen examples of this in other servers.

[2020-05-04 14:32] raisedadead commented on #38589
I think I used our pro license. We sure can host it too, but I am not sure it can be bundled any better because all of this is client side.

[2020-05-04 14:38] raisedadead commented on #38713
We are working on a feature to make Code radio available right within freeCodeCamp, thanks for your patience. There are existing threads talking about this.

[2020-05-04 14:38] #38713 closed

[2020-05-04 14:40] raisedadead commented on #38709
Thanks for this feature request, I think we will have to objectively gauge the interest about this. Can you post about this on the forum? Maybe tagging Quincy on the thread would be great as well.

Once we have some interest we should be able to take it up here.

Thanks.

[2020-05-04 14:40] #38709 closed

[2020-05-04 14:45] skaparate commented on #38691
@Ieahleen I see. Though, what I understand from the discussion is that after removing the line `var collectionCopy` the problem arose, but I understand the point @RandellDawson proposed there (the student hasn't been taught about JSON.stringify|parse, which may confuse them).

So, taking into account Randell's point I should check using a regex instead, do we agree?

[2020-05-04 15:48] scissorsneedfoodtoo commented on #38710
Hi @dostuffthatmatters, thanks for reporting this. It seems like your answer `(4-8+7)*(8)` is valid and appears in the test suite:

[code]

The only issue is the parentheses around the last 8. I think your answer is technically correct, but our test doesn't expect it.

[2020-05-04 17:26] Ieahleen opened #38731 "When using "Ask for help" button some challenges name appear as "undefined""
**Describe the bug**
When using the Ask for help button there is a set of challenges for which the name appear as `undefined`.
![image](https://user-images.githubusercontent.com/26656284/80994288-c4d9a000-8e3c-11ea-87fc-887af38b4c80.png)
See this post for an example of this behaviour: https://www.freecodecamp.org/forum/t/not-accepting-solution-on-mongodb/383665

**To Reproduce**
Steps to reproduce

[2020-05-04 18:44] QuincyLarson commented on #38711
@drv-rajesh Could you record a quick screen share where you demo this functionality within another Discord? This would be helpful to give everyone here on this issue thread a better understanding of how this would work.

[2020-05-04 21:41] nhcarrigan commented on #38711
![image](https://user-images.githubusercontent.com/63889819/81016451-487f9680-8e15-11ea-8935-20489969b8ef.png)
@QuincyLarson Here's a screenshot of the leveling functionality from another discord bot, if this is what you were looking for.

[2020-05-04 22:17] drv-rajesh commented on #38711
![image](https://user-images.githubusercontent.com/61055142/81018848-55ab7e00-8e33-11ea-81a2-c60363a3f902.png)

This is another example @QuincyLarson. You advanced levels in the server by chatting and each time you get a higher level, it DMs you. There is also a currency feature in the server that each time you advance a level, you get currency.

[2020-05-04 22:45] bradtaniguchi commented on #38711
The MEE6 bot has **a lot** of features we probably don't want or need. It also is a "freemium" bot in that there are paid for levels.
Here's the site for the bot: https://mee6.xyz/

Out of the advertised features the bot provides only the automated **troll/spam prevention** looks to be worth wild. So far the discord server has been pretty tame, as was the gitter room (which didn't have a bot). ([h

[2020-05-05 00:12] drv-rajesh commented on #38711
@bradtaniguchi another feature the bot could potentially contain is automated moderation based on criteria such as:
- Swearing
- Inappropriate use of channels

Also, will the team that is working on the bot be working on each different component of the bot, or how is the collaboration going to work?

[2020-05-05 01:14] nhcarrigan commented on #38711
@bradtaniguchi I only referenced the mee6 bot to give an example of a level system. There's a lot in the mee6 bot that I've never used. I just like the levels.
@drv-rajesh Automated moderation is concerning. In my experience, bots were always too heavy handed with the kicks/bans.

[2020-05-05 03:20] bradtaniguchi commented on #38711
Yea I agree with @nhcarrigan, automated moderation should be light. On the forums there are some tools to prevent spam, bad words. Even the previous gitter chat didn't have any of these features and was fine (it didn't have any AFAIK)

I'm not too sure how the team collab will work. I would believe setting up the initial version, and handling deployments and maintenance to keep it running to be th

[2020-05-05 05:31] tiagofsanchez opened #38733 "Solution not being validated (APIs and Microservices Certification)"
**Describe your problem and how to reproduce it:**
On the Managing Packages with Npm (APIs and Microservices Certification) after submitting the first challenge with the URL from gitHub, codePen of codeSandbox, I am not able to pass the test.

**Add a Link to the page with the problem:**
Links to my repo - https://github.com/tiagofsanchez/freecodecamp-apis-microservices
Why is that not working pas

[2020-05-05 06:28] QuincyLarson commented on #18128
Also related to the Full Stack cert – the date seems to be the date the first certification was claimed, not the date the full stack certification was claimed:

https://twitter.com/TevaHenry/status/1257475311375011841/

[2020-05-05 07:27] Esfectus commented on #38711
I have quite some experience with the Discord API, mainly [`discord.py`](https://pypi.org/project/discord.py/)(which is a python library for the API) I will not give ideas regarding what the bot should do, since other people have already given bright ideas, but I can give tips regarding the actual program.

If you ask me, I will recommend to write the bot in Python which is just a arbitrary choice

[2020-05-05 07:33] nhcarrigan commented on #38711
@Esfectus This is all very impressive and I support it!

[2020-05-05 07:58] ojeytonwilliams commented on #18128
The fallback is not working properly and I should have caught that.  It's not a tricky fix, but I'll make sure it works this time!

[2020-05-05 08:40] ojeytonwilliams opened #38734 "PayPal called during development"
**Describe the bug**
The PayPal sdk gets called by the local site, even when there are no keys specified in .env

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page with a donation component
2. Open the console
3. See a 400 error

**Expected behavior**
If the keys are missing, PayPal should not be contacted.

**Screenshots**
![image](https://user-images.githubusercontent.com/15801

[2020-05-05 08:46] iansibindi commented on #18128
Ok thenks

On May 5, 2020 11:04, "Oliver Eyton-Williams" <notifications@github.com>
wrote:

[2020-05-05 08:46] vstoyanoff opened #38735 "Exercise Tracker App: 5th test times out"
**Describe your problem and how to reproduce it:**
I can't figure out why the 5th test times out with this error:
[code]
The strange thing is that all other tests are passing including the last one which is using the same endpoint as the 5th one.
I also test it manually and it is working fine. I even added a middleware to check all incoming requests and used the same endpoints to clarify that ther

[2020-05-05 09:53] ojeytonwilliams commented on #38733
These challenges expect to receive a full app, rather than the source code.  If you submit the 'live app' of your Glitch project it should work.

The [forum](https://www.freecodecamp.org/forum/) is a better place to ask questions like this, though.  If the community concludes there's a bug, they will always suggest you create an issue here.

[2020-05-05 09:53] #38733 closed

[2020-05-05 09:58] scissorsneedfoodtoo commented on #38718
Thanks for reporting this @dostuffthatmatters, and for your PR @hassaanp. I'll take a look at it now.

[2020-05-05 10:00] #38718 closed

[2020-05-05 10:02] ojeytonwilliams commented on #38589
Unless there's a licensing issue with putting pro fonts on GitHub, I think it should be okay. Rather than going render -> get kit -> re-render it would be get fonts from GitHub -> render.  Everything style related should be ready before the first render.

I guess the ideal solution would be to inline the svgs, but that's both a pain and possibly not okay as far as FontAwesome are concerned.

[2020-05-05 10:07] tiagofsanchez commented on #38733
thank you @ojeytonwilliams.

[2020-05-05 10:21] ojeytonwilliams commented on #38733
No problem, good luck with the challenges.

[2020-05-05 11:54] dostuffthatmatters commented on #38710
You could recursively remove all parentheses around single numbers in the produced output before checking your test.

[2020-05-05 12:17] ahmadabdolsaheb commented on #38664
@Twaha-Rahman, thanks for your interest.
For updating the footer on the forum you need to use Discourse theme creator.

Please refer to the guide for using it:
https://meta.discourse.org/t/beginners-guide-to-using-theme-creator-and-theme-cli-to-start-building-a-discourse-theme/108444

[2020-05-05 12:26] Twaha-Rahman commented on #38711
Now that we've _somewhat_ nailed the feature set we want, I think it's a good time to talk about the implementation details.

Here's some implementation details we need to think about (+ a little bit of my rambling) -

1. **What language to use?**

As far as I know, the majority of the FCC's codebase, both front and backend is written in JS.
(FCC's learning platform, FCC's forum etc.) So, if we wa

[2020-05-05 12:42] moT01 commented on #38629
Note: Add these to the list of challenges without guide pages... https://github.com/freeCodeCamp/freeCodeCamp/pull/38624/files

[2020-05-05 12:42] Twaha-Rahman commented on #38711
Another thing I almost forgot to mention is that, the previous bot was written in JS....which can be a stepping stone for the new bot. (Credit goes to @Ryuno-Ki as he figured that out)

[2020-05-05 12:49] raisedadead commented on #38589
I will check about hosting, but we are a public repo, so I think it would not be possible to host the licensed icons. We could always swap these for the free (open-source) ones and host that instead, which I am fine with.

[2020-05-05 13:00] Ryuno-Ki commented on #38711
What about using some ideas of discord.py and port them to discord.js? (Or TypeScript, if you insist)
Like, structuring the code in a similiar way?

I'm familiar with both/all three languages.

[2020-05-05 13:05] drv-rajesh commented on #38711
If the bot were to be coded in Python, Jython is a great option for Java implementation within Python. If you were to port Python to JS, however, I have less experience with that, and the same with TypeScript; however I will still be able to help as I do know the basics of both languages.

[2020-05-05 14:10] Twaha-Rahman commented on #38711
I do prefer `TypeScript` as it it is much harder to screw-up your code, improves debugging and VSCode turns into an unicorn when it sees `TS`. But, if we want to be close to the FCC codebase vanilla JS seems to me the way to go. Unless of course, everybody agrees to use `TS` 😉

[2020-05-05 14:11] ahmadabdolsaheb commented on #38664
@abhi0977, how is the progress on this? meanwhile if anyone else is interested, they could submit a pr. The first comprehensive pr will be reviewed first.

[2020-05-05 14:16] abhi0977 commented on #38664
@ahmadabdolsaheb
I haven't started yet. Working on other things now. i'll update here once I start.
Meanwhile if anyone is interested they can pick this up.

[2020-05-05 14:50] Esfectus commented on #38711
I was recommending `discord.py` mostly on a personal whim, but now I have done some research and `discord.js` is the better option here just like @Twaha-Rahman said. And if I am not wrong, it has more features than `discord.py`, so I would also go with `discord.js` but just in case, I will list all the arsenal of options.

1. [`discord.net`](https://github.com/discord-net/Discord.Net)
2. [`discord

[2020-05-05 15:08] drv-rajesh commented on #38711
If we decide to use TS, then discord.ts is the library that handles connection with the API, written completely in TS for easier usage; however as TS is a syntactical super-set of JS then we can port the modules @Esfectus mentioned into TS.

[2020-05-05 15:38] Ryuno-Ki commented on #38711
It's JavaScript! Days without a new framework, you know?

Back to topic: [TypeSearch](https://microsoft.github.io/TypeSearch/) had 0 results for the libraries listed by Esfectus, i.e. we would have to come up with our own.

So TypeScript then?

[Two more questions](https://github.com/freeCodeCamp/freeCodeCamp/issues/38711#issuecomment-624024694) to answer …

[2020-05-05 16:14] Esfectus commented on #38711
There are hundreds of unofficial libraries for the Discord API, I just stated the popular ones. @Ryuno-Ki

[2020-05-05 17:22] bradtaniguchi commented on #38711
My understanding is the official nodejs lib `discord.js` supports TypeScript out of the box.
I like TS, but sticking to JS and staying as close to the FCC stack as possible should be paramount. Last thing we want is to make things different, then not be able to maintain it and the bot breaks down the line with no one to fix it.

After doing some quick checks on the original gitter bot, original **

[2020-05-05 18:00] Sky020 commented on #38712
Are there any objections to me changing the [test](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.english.md) to regex?

This is one of those challenges that frequently comes up on the forum.

[2020-05-05 18:27] nhcarrigan opened #38739 "Discord Channel Request"
**Is your feature request related to a problem? Please describe.**
FCC has a discord server which is seeing more and more activity. The current setup of channels in the discord server does not allow for a specific place to request programming help or assistance with FCC challenges and code. New users are requesting help in various channels.

**Describe the solution you'd like**
My suggestion is tw

[2020-05-05 18:38] #38739 closed

[2020-05-05 22:37] papapocho84 commented on #8880
hi
i only delete "h2" in the stylesheet and works!

[2020-05-06 04:39] #38404 closed

[2020-05-07 01:25] ERElli opened #38750 "Missing test case in Basic JavaScript: Return Early Pattern for Functions"
**Describe your problem and how to reproduce it:**
***Problem description in challenge***:
`Modify the function abTest so that if a or b are less than 0 the function will immediately exit with a value of undefined.`

***Issue***:
Both of the following solutions result in passing the challenge
[code]
[code]

Based on the problem description, I believe that only the second solution should be correct

[2020-05-07 10:56] thecodingaviator opened #38753 "Poorly worded challenge: Project Euler: Problem 2: Even Fibonacci Numbers"
**Describe your problem and how to reproduce it:**
The current challenge description makes it sound like `n` terms have to be generated while what we're checking for is the current term to be less than `n`

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-2-even-fibonacci-numbers

[2020-05-07 11:20] Sky020 commented on #38753
You do not think this is clear and succinct:

I cannot think of a better way to say that. "[F]ind the sum", indicates one number is to be returned. "[V]alues do not exceed _n_", indicates you should not consider a term greater than _n_.

Do you have a suggestion for re-wording?

[2020-05-07 12:37] Sky020 commented on #38735
Hello there,

In general, I recommend an issue like this be opened as a topic on the [forum](https://www.freecodecamp.org/forum). Be sure to include a link to your project. Unfortunately, the tests do not align perfectly with the challenge descriptions, and are extremely specific.

If it is determined, on the forum, that the issue is with the tests (source code), then I welcome you to reopen this

[2020-05-07 12:50] thecodingaviator commented on #38753
Nope. I don't. Took me some time to figure it out.

Simple and to the point. (^)

How it is now:

Is a very roundabout way of just saying the same thing IMO.

[2020-05-07 12:53] thecodingaviator opened #38755 "Test times out in Project Euler: Problem 3: Largest prime factor"
**Describe your problem and how to reproduce it:**
The last test times out on the given problem and needs to either be removed or replaced with a smaller number.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-3-largest-prime-factor

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this

[2020-05-07 13:33] ojeytonwilliams commented on #38755
I think it's fair to require people to use efficient algorithms for this section, so I don't think that last test should be removed.  Perhaps it's worth stressing (in the first few Euler challenges) that speed is a requirement.

That said, the solution in the challenge is wrong:

[code]

returns 4 when given 8.  We should test for that.

I think

[code]

Is fast enough and (hopefully!) correct.

[2020-05-07 13:43] thecodingaviator commented on #38755
Yup. That works. I see the part about efficiency.

[2020-05-07 13:49] ojeytonwilliams commented on #38755
Cool, I think this is a good candidate for a first contribution.

[2020-05-07 14:21] Sky020 commented on #38753
Fair enough. I would be happy with that wording. Do you want to set this up as a _first-timer's_ issue?

[2020-05-07 14:22] UgRoss commented on #38755
Hello guys! Can I take this?
as I understand the task is to update the solution block with a function that performs faster?
Thank you!

[2020-05-07 14:31] ojeytonwilliams commented on #38753
I'm not sure about this.  The original wording is quite precise and avoids ambiguities about nth Fibonacci number vs the Fibonacci number of value n.  In other words, do you mean by an even Fibonacci number?  Is 8 an even Fibonacci number?

Why don't we just add some extra tests to make it obvious?

and

[2020-05-07 14:36] ojeytonwilliams commented on #38755
Hi @UgRoss  please do!  If you could also add one more test that validates that

that would be great, since the existing solution gets that wrong.

[2020-05-07 14:53] UgRoss commented on #38755
Cool, thank you!
Will add that too

[2020-05-07 16:17] raisedadead commented on #38194
Re-assigning you @ahmadabdolsaheb to steer progress.

[2020-05-07 16:19] #38368 closed

[2020-05-07 16:26] #38731 closed

[2020-05-07 18:18] moT01 commented on #38629
I created guide articles for all the challenges mentioned here @rajatgupta24...

the 12 you and @aaryandewan found:
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-last-letter-first-letter/385256
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-letter-frequency/385263
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-levenshtein-distance/385264
ht

[2020-05-07 18:26] Twaha-Rahman commented on #38540
@moT01 I did a PR on the  `design style guide` repo. All of the favicons were hosted from `https://s3.amazonaws.com/freecodecamp/favicons/`, so I created a folder and added the new logos there. (I also update the `index.html` accordingly).

Here's a screenshot of the new logo in action ->

![Capture](https://user-images.githubusercontent.com/39026437/81330860-89500780-90c2-11ea-9a94-bcee7c8f0e75.p

[2020-05-07 18:28] Twaha-Rahman commented on #38540
Lemme know if I need to change or update anything ;)

[2020-05-07 18:32] #38755 closed

[2020-05-07 18:48] moT01 opened #38757 "Add .english.md to english rosetta challenges"
A number of the Rosetta code challenge files end with `.md`. They should end with `.english.md`.

[2020-05-07 18:57] UgRoss commented on #38757
Hey @moT01,
can I take this?
Will open PR tomorrow

[2020-05-07 19:13] UgRoss commented on #38757
Files list
<img width="868" alt="CleanShot 2020-05-07 at 22 10 54@2x" src="https://user-images.githubusercontent.com/5703885/81335146-ceb70980-90af-11ea-8556-9315dda0ce99.png">

[2020-05-07 19:26] moT01 commented on #38757
That looks correct @UgRoss, you may want to wait on the PR until https://github.com/freeCodeCamp/freeCodeCamp/pull/38747 gets merged since it's all the same files.

[2020-05-07 19:30] UgRoss commented on #38757
Sure, thanks!

[2020-05-07 19:37] #38750 closed

[2020-05-08 00:37] jamespetite8 opened #38760 "now"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-05-08 00:38] jamespetite8 commented on #38760
Check

[2020-05-08 00:41] #38070 closed

[2020-05-08 03:12] Ashwin7mak opened #38761 "Sign In Issues: Not able to sign into my freecodecamp account using my credentials or by using my github account"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2020-05-08 07:21] #38760 closed

[2020-05-08 09:48] thecodingaviator commented on #38753
The original wording is what initially tripped me.

This is exactly what I didn't understand after going through the challenge. Maybe it's just me though

[2020-05-08 11:04] ojeytonwilliams commented on #38753
It won't be just you.

I think the best approach would be to add extra hints via the tests.  Something like

What do you reckon?

[2020-05-08 11:09] Sky020 commented on #38753
I would think it better to include more info in the instructions section, than in the tests. If we could add some actual numbers to the instructions, that always helps clear-up the _ask_.

[2020-05-08 11:16] ojeytonwilliams commented on #38753
In general, sure. However these are coming from Project Euler and we don't (to my knowledge) state anywhere that we've modified them. It does not seem right to imply that they're actually Project Euler problems, when the instructions are no longer the same.

[2020-05-08 11:55] Sky020 commented on #38753
True, I had completely disassociated from Project Euler. In this case, I would prefer if the problems remained as is, else they would either be more of a Project Euler tutorial, or too different to the original.

[2020-05-08 11:57] thecodingaviator commented on #38753
This works.

[2020-05-08 11:57] thecodingaviator commented on #38753
You're right. I think this is worth a discussion.

[2020-05-08 13:04] moT01 opened #38763 "Add a test to check that each challenge file ends with .language.md"
A number of challenges were added that just have the `.md` extension. I'm not sure if that's a problem, but most challenges end with `.english.md` or `.other-language.md`. We could maybe add a test to check that each file ends with that.

[2020-05-08 14:20] ojeytonwilliams commented on #38753
Okay, cool.  I think any broader discussion of Project Euler would be better in its own thread.

As for this one, does anyone have any more thoughts on clarification via tests?  If not, I think this would be a good issue for first timers.

[2020-05-08 14:37] ngrosso opened #38767 ""Basic Javascript: Local scope and functions" tests throws a regex error in firefox"
**Describe your problem and how to reproduce it:**
Using Firefox and Firefox Developer edition and doing the challenge ["Basic JavaScript: Local Scope and Functions"](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions), when completing the challenge the console throws the error:
`// running tests
You should add a local myVar vari

[2020-05-08 14:53] Sky020 commented on #38767
Thank you, for bringing this up. We are aware of the issue. This is expected to be fixed by #38762.

[2020-05-08 17:10] Ieahleen commented on #38761
without any additional info it would totally be impossible to help you, so please complete the template with the infos required, or also check if one of the open issues on login trouble seems to describe what's going on, for example this one: https://github.com/freeCodeCamp/freeCodeCamp/issues/37457

[2020-05-08 17:27] #38767 closed

[2020-05-08 18:35] raisedadead commented on #38761
See https://freecodecamp.org/support

[2020-05-08 18:35] #38761 closed

[2020-05-08 18:37] raisedadead commented on #38734
/cc @ahmadabdolsaheb 🤷

[2020-05-08 18:38] raisedadead commented on #38712
Go ahead Shaun.

[2020-05-08 19:05] Ieahleen opened #38769 "for Euler Problem 43 - numbers must be in a certain order to pass the tests (but it is not specified)"
challenge link: https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-43-sub-string-divisibility
file link: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-43-sub-string-divisibility.english.md

for this challenge it asks for array `[ 1430952867, 1460357289, 1406357289, 4130952867, 416035

[2020-05-08 19:14] Sky020 commented on #38769
Perhaps better to use `assert.sameMembers`

[2020-05-08 20:04] UgRoss commented on #38734
Hello guys!
Does this happen on `/donate` page or somewhere else too?

I noticed that this page fails to load also because of the missing Stripe API key for me.
If the goal is just to make page load without Stripe/Paypal keys and skip PayPal calls I'd like to help with that.

Also, I noticed it has a typo `clinetId` -> `clientId`. https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src

[2020-05-08 23:24] Sky020 commented on #38410
For these challenges, are the helper-functions ready to be used in the tests? Or, can a simple fix be made like:
[code]

[2020-05-08 23:24] Sky020 commented on #38410
For these challenges, are the helper-functions ready to be used in the tests? Or, can a simple fix be made like:
[code]

[2020-05-08 23:36] Sky020 commented on #38317
As this issue is going stale: I suggest we make this a _first-timers_ issue with the following expected change:

[2020-05-08 23:39] Sky020 commented on #38064
I take it this is no longer valid, as the challenge has changed?

[2020-05-09 05:31] paulywill opened #38772 "Test Error Message does not indicate wrong string"
**Describe your problem and how to reproduce it:**

The test error messages do not indicate anything about resolve and reject’s strings.

[code]

This may throw some people off as the message error just indicates the if statement did not fire.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/complete-a-promise-with-reso

[2020-05-09 06:18] erictleung commented on #37553
Thanks for bringing up this issue.

@freeCodeCamp/moderators I have not completed this myself, but based on the example Glitch and the boiler plate repository, I say we should update the `/learn` site to be consistent with the rest.

In other words, we should update the user story in `/learn` with

[code]

If there are any concerns, feel free to comment.

[2020-05-09 08:53] thecodingaviator opened #38773 "Extra example needed in Project Euler: Problem 18: Maximum path sum I"
**Describe your problem and how to reproduce it:**
The current example makes it look like you need to choose the greater of the two adjacent elements of the next row

![image](https://user-images.githubusercontent.com/34807532/81469043-7a6f6f00-9200-11ea-97be-e6918423d845.png)

However, that is not the case. What we need to do is choose the path which will lead to the greatest sum. [Refer to this]

[2020-05-09 09:23] Sky020 commented on #37553
@erictleung , there are many inconsistancies between the latter projects and lessons, and the tests. I suggest we open a new issue thread as a _todo_, and compile all of the miss-alignments.

Specifically, I struggled to go through the Advanced Node and Express lessons, because of poorly done tests, and the versions not being kept up to date.

[2020-05-09 11:17] rajatagg21 commented on #38773
Hey ,I want to work on this

[2020-05-09 11:57] ojeytonwilliams commented on #38773
I think the example is deliberately chosen as one that can be solved via a greedy algorithm (pick the biggest adjacent number each time).  It means that the user has to fully understand the instructions in order to complete the challenge (rather than being told by the example).

If someone has missed the fact that it has to be globally maximised they will create something that works for the exampl

[2020-05-09 12:01] rajatagg21 commented on #38773
I agree but then why this issue is open yet?

[2020-05-09 13:01] colinthornton opened #38774 "[Arguments Optional] Current test cases allow for unintended solutions to pass"
**Describe your problem and how to reproduce it:**
On the Intermediate Algorithm Scripting: Arguments Optional challenge, the only two happy path test cases -- `addTogether(2, 3)` and `addTogether(2)(3)`, both expect a return value of 5. All other test cases expect a return value of undefined. Because there are no other happy path test cases, it's possible to construct a passing solution that does

[2020-05-09 14:23] Sky020 commented on #38774
Do you not think this is a serious _edge-case_? Seems like going through more trouble to trick the tests, than to write the correct solution.

[2020-05-09 14:59] thecodingaviator commented on #38773
Hi @rajatagg21 , the issue was still open because it was a discussion still
in progress. I'll close the issue now :)

On Sat, May 9, 2020 at 5:32 PM rajatagg21 <notifications@github.com> wrote:

[2020-05-09 14:59] #38773 closed

[2020-05-09 19:28] MrKevinOConnell commented on #38772
Hey @paulywill ,

I just looked at the page, and want to make sure I got this right,

Currently, the test cases only pass if "We got the data"  and "Data not received" are the strings inside resolve and reject; if anything else is entered in then the tests fail.

If I'm correct, the strings don't really matter, it's just having resolve and reject inside the if and else statements with a string ins

[2020-05-09 20:12] Sky020 opened #38776 "Fix Project Euler: Problem 70 Typo"
**Describe your problem and how to reproduce it:**
Following this post on the forum: https://www.freecodecamp.org/forum/t/project-euler-problem-70-totient-permutation-error-in-description/377577

The instructions should have `1 < n < 107`, be `1 < n < 10**7`.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-70-totient-perm

[2020-05-09 20:15] paulywill commented on #38772
Hey @MrKevinOConnell,

Thanks for jumping in!

The instructions do say that the string does matter, however I believe the test messages should have something pointing the user in the right direction.

Eg:
`’The resolve string does not match.’`

`’The reject string does not match.’`

Perhaps additional tests should be created for edge cases IDK 🤷‍♂️.

The file that needs to be altered for a PR shou

[2020-05-09 20:24] AshNaz87 commented on #38763
@moT01 Where are the tests located for this?

[2020-05-09 20:30] Sky020 commented on #38772
Just my two-cents: As much as it would reduce posts asking for help on the forum etc., many (if not most) of the challenges require the user to be precise, and follow instructions well. Sure, we could change many tests in other challenges, but I would much rather have the tests as is, teaching users to debug their own code.

In programming outside of tutorials, debugging is a massive portion of th

[2020-05-09 21:23] erictleung commented on #37553
@Sky020 thanks for chiming in. I haven't gone through them yet so I can't be sure. I can close this issue and open a new issue for tracking inconsistencies with the five projects in "APIs and Microservices Projects".

Are there any other project groups that have inconsistencies we should focus on?

[2020-05-09 21:44] Sky020 commented on #37553
Other than, the _Information Security and Quality Assurance_ projects not having tests at all, no.

The issue is more-so in the lessons. Over half of _Advanced Node and Express_ do not pass without looking at the tests.

[2020-05-09 21:54] MrKevinOConnell commented on #38772
Just took a second look @paulywill and it makes sense now, didn't see the part that specified what the strings had to be.

I'll probably just add a couple of tests to check for what the strings are inside of resolve/reject and change the test messages depending on which ones were passed.

BTW, if you don't mind me asking, why do you guys have all of your files in Markdown? I'm just curious for the

[2020-05-09 22:41] Sky020 commented on #38735
Following on from this thread: https://www.freecodecamp.org/forum/t/exercise-tracker-test-times-out/383763

It has been determined that the issue is to do with the tests.

[2020-05-09 22:41] Sky020 commented on #38735
Following on from this thread: https://www.freecodecamp.org/forum/t/exercise-tracker-test-times-out/383763

It has been determined that the issue is to do with the tests.

[2020-05-10 00:11] colinthornton commented on #38774
I haven't done anything to trick the tests -- the only change I would make to my above code would be changing `return 5` to `return x + y`, everything else is input validation which would be nearly the same in anyone's solution. You could take any of the *Get a Hint* solutions and replace the actual addition with 5 and would get the same results.

Do I think that many people would actually write t

[2020-05-10 02:06] lasjorg commented on #38474
These two challenge has the camper using a console.log, but nothing seems to get logged to the fCC console, only to the browser console.

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/handle-a-fulfilled-promise-with-then
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/handle-a-rejected-promise-with-catch

[2020-05-10 03:36] paulywill commented on #38772
That’s a question @raisedadead or @RandellDawson or some of the moderators could artIculate a better answer, but I think the theory is that markdown is an easy to read input for feeding the curriculum engine/logic.

[2020-05-10 07:28] Binu42 opened #38779 "Footer get disappeared after opening advanced search dropdown in forum page (mobile devices)"
**Looking forward for reporting a security issue:**
no, not a security issue.

**Describe the bug**
In mobile devices on forum page, it make sense to hide footer after opening advance search dropdown but why to hide footer even after user close advance search dropdown, doesn't make sense, don't even look good, not user friendly and make difficulty in navigations according to user choice.

**To Rep

[2020-05-10 10:13] raisedadead commented on #38772
TL;DR: Markdown is easy on editing.

We used to have a json object (schema) for the challenges in the earlier days, but ever since we moved to [Gatsby](https://www.gatsbyjs.org/) - A static site generator, we started using markdown.

It is easy for contributors to edit a text file. More often than not when making a quick contribution, you do not need to know how the underlying infra works, because

[2020-05-10 11:02] Sky020 commented on #38774
You are right, it would not hurt to add an extra test. I do it is of little consequence, though; the users still need to do every aspect of the lesson (return a function based on input arguments, and perform checks on the arguments).

Let us wait for one more opinion on moving forward with this issue. If agreed, then I suggest we open this to first-timers.

[2020-05-10 11:54] ahmadabdolsaheb opened #38781 "Improvements to /learn"
Here are the discussed improvements:
- [ ] add a button to the button stack to take user to the next challenge if the user has already completed some challenges.
- [ ] remove "If you are new to coding, we recommend you start at the beginning." message if the user has completed a certain number of challenges.

[2020-05-10 12:21] Upinder123 commented on #38781
i can help with this issue

[2020-05-10 14:07] lasjorg commented on #38774
@colinthornton How do you suggest we test that the arguments passed in are actually being added together before returning the value? The seed code and the requirements are so nonspecific that we really do not have much to go on.

If we were forcing the use of a predefined function definition that had two parameters we would be able to check that they got added together, but we are allowing a funct

[2020-05-10 14:16] ahmadabdolsaheb commented on #38781
sure, @Upinder123. I am getting these changes approved. They should be up for grabs in a day.

[2020-05-10 15:32] ahmadabdolsaheb commented on #38734
@UgRoss, it should happen if you hard refresh on donation page. (and on donation modal)
That script loads the button.
 A solution would be to check for paypalClientId in the render of PaypalButton component and return PayPalButtonScriptLoader only if paypalClientId is truthy.

[2020-05-10 15:37] moT01 commented on #38774
Lol, why does one of the tests link to an 80's music video? I'm not sure if we need that in there, but it did give me a chuckle.

We could just add another test that checks different values?
`addTogether(5,6) should return 11` - not sure if that proves addition was used because they could just make a conditional that checks `if(first === 2) return 5 else return 11`. But many of the challenges are

[2020-05-10 15:40] ahmadabdolsaheb commented on #38540
@Twaha-Rahman, I think I need to change those manually on the amazon bucket and bust the cache. thanks for looking into it tho.

[2020-05-10 16:13] ahmadabdolsaheb commented on #38779
I believe this the default functionality.
You would need to dig into discourse's source code. Not sure if it is worth the hassle.
But, let us see other contributor's opinion.

Although if you are interested in looking into the forum's footer, you could start by re-implement the new footer on forum here: #38664

[2020-05-10 16:28] lasjorg commented on #38691
Shouldn't the regex just be updated to have space in the array be optional? What is the issue with the current test other than that?

[2020-05-10 16:33] skaparate commented on #38691
Yes, it should be optional.

None other AFAIK.

[2020-05-10 16:51] lasjorg commented on #38410
That is what it was before https://github.com/freeCodeCamp/freeCodeCamp/pull/37934. So I don't see why not. As for the helper-functions, I don't know anything about that.

I'd still like to know why Edge is giving the result it is, but I guess it doesn't matter much.

[2020-05-10 17:05] lasjorg commented on #38774
It's a [rickroll](https://en.wikipedia.org/wiki/Rickrolling) (maybe you did know that and just wanted to rickroll?)

Sounds like a plan, for some reason I didn't even think of that.

And like you said, we can't test for every way a camper might circumvent the tests and it shouldn't be a priority

[2020-05-10 17:12] lasjorg commented on #38691
@skaparate Do you want to make the PR?

I don't see why we shouldn't just fix this. If anyone comes up with something better we can always implement that.

[2020-05-10 17:20] skaparate commented on #38691
Sure :smile:, I'll create a PR.

[2020-05-10 17:46] Sky020 commented on #38410
Well, @moT01 , you were involved with the current change. Are we better leaving it as is, changing the test to use regex, or change it to what it was before #37934 ?

[2020-05-10 18:17] daksh-goyal commented on #38776
Hey, I'm a newbie to open-source. Would like to contribute. Is the issue still open and can I get to fix it?

[2020-05-10 18:38] moT01 commented on #38410
No, the helper functions aren't ready

Looks like the `getComputedStyle` method won't work for edge. So yes, probably need to go back to regex here if we want it to work on edge.

Here's a modification of something I have used in the past to isolate the styles of a selector...
`const resImg = code.match(/\.responsive-img\s*{[\s\S]+?[^}]}/g)[0]; assert(/max-width\s*:\s*22%\s*(;|})/g.test(resImg));`

[2020-05-10 19:03] Sky020 commented on #38776
Hello, @daksh-goyal . Yes, this issue is still open. Absolutely, go ahead and create a PR. Be sure to read the [documentation](https://contribute.freecodecamp.org/#/index) for contributing, if you have not already.

[2020-05-10 19:23] daksh-goyal commented on #38776
@Sky020 I have just created a pull request fixing the issue. Please guide me on what I could do to contribute further. Thanks :)

[2020-05-10 19:28] thecodingaviator opened #38783 "Project Euler: Problem 199: Iterative Circle Packing missing picture"
**Describe your problem and how to reproduce it:**
`After 3 iterations (pictured), there are 108 gaps and the fraction of the area which is not covered by circles is 0.06790342, rounded to eight decimal places` reads the challenge. The picture, however, is missing

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-199-iterat

[2020-05-10 19:29] thecodingaviator commented on #38781
@ahmadabdolsaheb Even though I'm already logged in, when I go to fcc.org and click on the CTA, I'm redirected to the login page. We need a redirect to `\learn` if user is logged-in and not already present

[2020-05-10 19:32] lasjorg commented on #38353
@moT01 A PR for this would be blocked by the current code freeze, correct? Do you know how long that is going to be in place?

We really need to get this implemented as soon as possible, we constantly get forum posts about this.

[2020-05-10 19:40] Sky020 commented on #38783
Where do we host images for use-cases like this?

[2020-05-10 19:57] thecodingaviator commented on #38783
Amazon cdn afaik

[2020-05-10 21:33] Gimhan-minion opened #38784 "JavaScript Algorithms & Data Structures"
**Describe your problem and how to reproduce it:**
This code challenge completes only if the given solution is done exactly. Alternative methods doesn't Work. Even the description isn't much clear. Please look into this.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-obj

[2020-05-10 23:01] snigo commented on #38784
What do you mean by alternative methods? Challenge specifically asks to use `for in` loop

[2020-05-11 00:05] UgRoss commented on #38734
PR is ready. Could you please take a look?

Also about the Stripe issue. I'm not sure if it's expected or not but if I don't configure the key for stripe, the `/donate` page isn't loading for me at all.
<img width="1054" alt="CleanShot 2020-05-11 at 02 59 29@2x" src="https://user-images.githubusercontent.com/5703885/81513776-9162ae00-9333-11ea-8c5c-3eb7cf5c1cc0.png">

[2020-05-11 00:39] Gimhan-minion commented on #38784
Sorry This worked fine. My bad! I'll close the issue.

[2020-05-11 00:39] #38784 closed

[2020-05-11 07:44] TheTechnologyLover commented on #38779
Can I try to fix this problem?

[2020-05-11 09:11] Sky020 commented on #38776
@daksh-goyal , thank you, for getting that out. The main thing you can do is have a look at helping on issues with the _help wanted_ label.

[2020-05-11 09:37] raisedadead commented on #38734
Yikes, that seems like it needs a fix as well. Thanks for catching that.

[2020-05-11 12:35] #38776 closed

[2020-05-11 13:04] moT01 commented on #38353
Yes, it would be blocked at the moment. Although the warning would be in the introduction - maybe we can make an exception here. What do you think @freeCodeCamp/dev-team?

[2020-05-11 13:07] raisedadead commented on #38353
Yes, We can make the exception for this. A PR is welcome.

[2020-05-11 13:20] moT01 commented on #38353
@ojeytonwilliams & @snigo, I'm assuming the fix you mentioned about the `follow` classes are part of the code in challenges themselves right? And not part of our components - just making sure.

If that's the case. For now, I would probably go for just adding the warning.

[2020-05-11 15:46] MarceloDamian opened #38788 "fix the different headers pertaining to /learn and freeCodecamp.org/"
**Is your feature request related to a problem? Please describe.**
I noticed that there is a difference between the headers in freeCodeCamp.org/learn and freeCodeCamp.org .

**Describe the solution you'd like**
Everything else is consistent except for the header. A solution would be to have it consistent throughout. Have it display "Learn to code at home" in both links. **On the second line.**

**

[2020-05-11 15:50] ashwinchandran13 opened #38790 "Report a bug link to learning curriculums"
**Is your feature request related to a problem? Please describe.**
I found some test outputs where not being accepted even when the produced outputs were right and I wanted to report it but couldn't find a link assigned to tat particular lesson

**Describe the solution you'd like**
A report a bug button in /learn interface within each tests
**Describe alternatives you've considered**
The problem I

[2020-05-11 16:12] #38788 closed

[2020-05-11 16:22] #38790 closed

[2020-05-11 16:23] ashwinchandran13 commented on #38790
This commit may solve the issue on that particular lesson but will a feature like report a bug appear in lessons just to ease the hassle of reporting bugs associated to lesson?

[2020-05-11 16:41] lasjorg commented on #38790
@ashwinchandran13 Why would you put a space after the property value?

In my opinion, it's poor formating and I'm honestly not even sure we should allow it. Sure if the output is correct the challenge is technically solved, but we do have some responsibility to enforce some proper formating.

[2020-05-11 16:51] ashwinchandran13 commented on #38790
@lasjorg Yeah it's poor formatting but it isn't written anywhere that formatting is stictly enforced. Think about beginners man, how will they ever find out about a space that might have came by mistake. Or atleast some indicators would do that. Even if it's a tedious mistake, a report a bug option must be available within lessons if the former is to pushed off.

[2020-05-11 17:18] lasjorg commented on #38790
We can't teach proper formatting without enforcing it and we can't add tests for every type of improper formatting a camper might do.

If we were to add a bug report feature it would be misused (unintentionally for the most part). It would lead to people opening up bug reports when they have just written incorrect code. That is why we have an ask for help feature on the challenges that will create

[2020-05-11 18:01] nhcarrigan commented on #18103
This challenge error is still occurring.
Changing the `{title: "Hello}` to `{title: "Home page"}` passed the test, so I think @joshuous's proposed solution #2 is the most effective.

[2020-05-12 03:29] MarceloDamian opened #38794 "Activities count on /forum is not consistent with /learn, and /news."
**Is your feature request related to a problem? Please describe.**

The activities count on the search bar in both  /learn, and /news is different than  /forum.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Fix the count on activities.

**Additional context**
Add any other context or screenshots about the feature request here.

<img width="629"

[2020-05-12 05:15] chaos3737 commented on #38757
Hey there @moT01!
I'm super new to coding and looking for open projects and teams to join. Any tips or help is greatly appreciated!

[2020-05-12 05:44] abhi911kumar opened #38795 "Test 5 failing"
I finished the coding as per the demo application but when I run the test it fails only at Test 5 "I can retrieve a full exercise log of any user by getting /api/exercise/log with a parameter of userId(_id). The app will return the user object with added array log and count (total exercise count)."

The result from the demo application and the one created by me are both same with no difference oth

[2020-05-12 06:02] scissorsneedfoodtoo commented on #38795
@abhi911kumar, could you post a link to your live project so we can take a look?

[2020-05-12 06:07] abhi911kumar commented on #38795
Please find the link to my live project https://abhi911kumar-freecode-exercisetracker-1.glitch.me

[2020-05-12 06:42] scissorsneedfoodtoo commented on #38795
Thanks for posting a link to your project.

Here's what the sample solution at https://fuschia-custard.glitch.me/ returns:

[code]

But your project returns:

[code]

All the data is there, but it needs to be returned in a JSON object like the one above. Our tests don't expect a `user` array with an object containing the `id` and `username`.

I'll close this for now. Please feel free to reach out

[2020-05-12 06:42] #38795 closed

[2020-05-12 06:54] bavern commented on #38795
JSON object like the one above.?

[2020-05-12 06:58] abhi911kumar commented on #38795
Made the changes to the JSON object but still, the Test is failing. Please feel free to tell me what is the problem now.

[2020-05-12 07:07] abhi911kumar commented on #38795
**Made the changes to the JSON object but still, the Test is failing. Please feel free to tell me what is the problem now.**

[2020-05-12 07:12] bavern commented on #38795
Reply to this email directly,   Test is  ,,  link to your project. Here's
what the sample solution at https ?

Abhishek Mallick <notifications@github.com> ezt írta (időpont: 2020. máj.
12., K, 9:08):

[2020-05-12 07:16] bavern commented on #38795
And  builds features that helpp,

Simon Bauer <sbauer265@gmail.com> ezt írta (időpont: 2020. máj. 12., K,
9:11):

[2020-05-12 08:18] scissorsneedfoodtoo commented on #38795
@abhi911kumar, awesome, the JSON your app returns seems to match the solution project now.

I suspect the problem is that your project doesn't handle all cases where there is no date.

The 5th test makes a request with the following:

[code]

The 4th test makes this request:

[code]

When I tried to add an exercise to my user using Postman, your project returned an `INVALID DATE` error. If there i

[2020-05-12 10:07] bavern commented on #38795
Our tests don't expect a user array with an object containing the id,,

[2020-05-12 11:25] #38794 closed

[2020-05-12 11:55] #38658 closed

[2020-05-12 12:34] #38734 closed

[2020-05-12 13:25] moT01 commented on #38763
here are tests that will likely need changing:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/test/test-challenges.js
and here is a file that may need to be changed:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/getChallenges.js

[2020-05-12 15:34] ashwinchandran13 commented on #38790
Then indicate it somewhere that spacing is **strictly enforced**

Can't argue with this as it would definitely would occur

Keep up the good work

[2020-05-12 17:03] Ieahleen opened #38799 "[News] article missing code snippets: Learn ES6 The Dope Way Part II: Arrow functions and the ‘this’ keyword"
This article on news is missing a lot of stuff and is not understandable like this:
freecodecamp.org/news/learn-es6-the-dope-way-part-ii-arrow-functions-and-the-this-keyword-381ac7a32881/

there are also some urls that link to medium

I have found the article on medium and it has much more stuff:

https://medium.com/free-code-camp/learn-es6-the-dope-way-part-ii-arrow-functions-and-the-this-keyword

[2020-05-12 20:47] MrKevinOConnell commented on #38772
That makes a lot of sense @raisedadead thanks for the response,

I have a couple more questions actually If you don't mind me asking,

Since the challenges are made using Gatsby, how do you guys test your code? Do you make your own site and run it on there? Or do you use extensions on whatever IDE/text editor you use?

Also, what does YML mean? I'm assuming YAML, but I honestly don't know, I think

[2020-05-12 22:16] Twaha-Rahman commented on #38774
I'm working on adding another test ASP! ;)

[2020-05-12 22:41] Sky020 commented on #38774
@Twaha-Rahman , it is great that you want to help, but seeing as you have contributed before, we are going to prioritise a PR from a _first timer_.

[2020-05-12 22:42] Twaha-Rahman commented on #38774
Oh...sorry! Half-way through it, should I proceed or abort?

[2020-05-12 22:42] Twaha-Rahman commented on #38774
Sorry for the inconvenience! 😅😅

[2020-05-12 22:45] Sky020 commented on #38774
@Twaha-Rahman , I suggest you abort. Feel free to work on any issues with the label _help wanted_ and **not** _first timers welcome_, though. 👍

[2020-05-12 22:46] Twaha-Rahman commented on #38774
Thanks! ;)

[2020-05-12 22:54] paulywill commented on #38772
@MrKevinOConnell have you made a PR yet?

[2020-05-12 23:32] luqven commented on #38353
@moT01 hope it’s alright I PRd a quick fix for this, #38806. Assuming that 1) warning should only be displayed on into page and 2) warning should be displayed for every new session where an ad-blocking extension was detected.

[2020-05-13 00:44] Twaha-Rahman commented on #38781
What do you mean by clutter? Can you please give me an example?

[2020-05-13 00:52] Twaha-Rahman commented on #38781
@ahmadabdolsaheb I've figured out how to check if a user has completed a challenge or not but how are we going to redirect a user to the next page?

[2020-05-13 01:24] Twaha-Rahman commented on #18097
Any progress on this issue? If a PR needed, I'd gladly like to help!

[2020-05-13 02:13] rmariac commented on #18097
I’m having issues on the tribute challenge. I cannot get my images to load in the test browser on codepen, and I am having trouble understanding the user stories. Are they required or can I type it how I’d like? Should I follow the source code for the example tribute page or not?

-Reyna Cobb

[2020-05-13 04:04] ahmadabdolsaheb commented on #38781
You are right. it was ambiguous,  so I removed it for now until we have a more concrete direction.

No redirection is needed here. Just a button with a link to the right challenge.
If you need this functionality for the front page issue, I removed that feature request for now.

[2020-05-13 04:11] ahmadabdolsaheb commented on #38781
Hmm, I am not sure if I am understanding this correctly, but login.js should navigate to learn if you are signed in.

`const createOnClick = (navigate, isSignedIn) => e => {
  e.preventDefault();
  gtagReportConversion();
  if (isSignedIn) {
    return gatsbyNavigate('/learn');
  }
  return navigate(`${apiLocation}/signin`);
};`

[2020-05-13 04:46] ahmadabdolsaheb opened #38808 "Navigation Overhaul"
In an effort to simplify and localize navigation we need to replace /news, /forum, and /learn nav items on the right side of the navigation with only one or two items conditionally. Here are the user stories:

- If users are signed in,  they should see two navigation items on the right side of the navigation:
Curriculum (goes to /learn)  and Portfolio( goes to the user's portfolio)

- if users are

[2020-05-13 07:31] rajat641 commented on #38757
Hi @moT01 , I can work on this.I have coding experience in Python and Java but have no experience in open source projects. Please let me know if I can work on this.

[2020-05-13 07:32] rajat641 commented on #38774
@Sky020 - Please allow me to work on this. I am new to open source and it would be great If I can work on this .

[2020-05-13 08:29] Upinder123 commented on #38808
i can help you with the issue if possible assign this to me

[2020-05-13 08:39] raisedadead commented on #38772
Also we have some documentation here: https://contribute.freecodecamp.org if you want to learn more.

[2020-05-13 08:46] Ieahleen commented on #38774
@rajat641 : go for it, there is no need to ask for permission to work on something in this repo it there is consensus in the issue about what change to do.

[2020-05-13 09:10] pabloCabrera7 commented on #16967
The problem is still there, i got stuck quite a long time, hopefully I went to see the forum otherwhise coudnt notice that!
Finally resolve passing the title of Home page...

[2020-05-13 09:50] rajat641 commented on #38774
@Ieahleen - Thanks a lot. I asked for permission so as to ensure that I'm only working on an issue.

[2020-05-13 12:00] moT01 commented on #38757
I mentioned that there's another PR in place to add something to most of these files, and that it might be a good idea to wait for that one to get merged. Anyone is free to make a PR, but you will likely have to rebase and make the same changes again after that one gets merged.

[2020-05-13 12:14] #38677 closed

[2020-05-13 12:34] thecodingaviator opened #38809 "Tests need to be rewritten/randomized in Project Euler: Problem 69: Totient maximum"
**Describe your problem and how to reproduce it:**
I can just pass the challenge by typing
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-69-totient-maximum

[2020-05-13 12:55] Sky020 commented on #38809
I agree with this issue, but am wondering if we should open a todo list for the Euler Project challenges instead?

[2020-05-13 12:58] Ieahleen commented on #38809
Maybe considering this are in the Interview Prep and not in the curriculum we can just chuck it at people wanting to practice and do not go crazy in all this "if I write the expected output it passes", because I think this is pretty common in the Euler or even Rosetta challenges

[2020-05-13 13:45] Ryuno-Ki commented on #38711
For the record: This is [also discussed on the freeCodeCamp forums](https://www.freecodecamp.org/forum/t/create-a-new-camperbot-for-the-official-discord-server/387311).

[2020-05-13 13:54] magnus195 commented on #38711
I got a small server on Digital Ocean for my own bot, and it works perfect. I've seen people host on a free Heroku too, but with downtime.
If you want, maybe I could give access to part of my server for testing the new bot?

[2020-05-13 14:39] Ieahleen opened #38811 "[Feature request] Switch on community contribution for youtube channel subtitles"
Here in the contributing guidelines there is adding subtitles as a way to contribute:
https://contribute.freecodecamp.org/#/

But when I went to youtube to do that, there is written that video author has community contributors switched off so it is impossible to contribute.

![image](https://user-images.githubusercontent.com/26656284/81826632-4796e500-9538-11ea-8d8c-54f8ef4584f9.png)

[2020-05-13 18:50] MrKevinOConnell commented on #38772
I'm working on setting up my repo locally and getting a basic idea of the codebase, as I've never worked with YAML; if anyone else wants to fix this issue don't hesitate! I can work on something else.

Like I said I'm new to open source so all of this stuff is new to me, apologies for me taking this long, I will be a lot more productive once I have more time on my hands.

[2020-05-13 19:14] THE-VR7 commented on #38317
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 20:22] raisedadead commented on #38811
Thanks for reporting, this sure looks like a bug to me.

[2020-05-13 20:54] beaucarnes commented on #38811
@leahleen Thanks for pointing this out. It should be fixed now and you should be able to submit a translation now.

[2020-05-13 20:54] #38811 closed

[2020-05-13 21:38] Sky020 commented on #38317
@THE-VR7 , I do not think anyone is working on it. Go ahead 👍 . Be sure to read our [Contributing Documentation](https://contribute.freecodecamp.org/#/index), if you have not already.

[2020-05-13 21:57] Taariqq opened #38818 "logged out, now can't log in"
Been a member since 2017. Progress was not updating, decided to log out. Now I can't log back in.
Please help asap!

[2020-05-14 05:01] rajat641 commented on #38757
@moT01 Thanks for that update. I have got another issue to work on.

[2020-05-14 06:49] Taariqq commented on #38818
Thank you for fixing the issue. Appreciate it.

[2020-05-14 06:49] #38818 closed

[2020-05-14 07:40] Ieahleen commented on #38811
Yes, now it is possible to contribute, thank you!

[2020-05-14 08:52] ojeytonwilliams opened #38819 "Learn: logs from promises missing from fcc console"
These two challenge has the camper using a console.log, but nothing seems to get logged to the fCC console, only to the browser console.

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/handle-a-fulfilled-promise-with-then
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/handle-a-rejected-promise-with-catch

_Originally posted by @la

[2020-05-14 08:53] ahmadabdolsaheb opened #38820 "Split and simplify learn map"
To make load time faster on learn, It would be great if we could have a list of all certificates (super blocks) on the learn page and once a user clicks on a certificate from the list, they would be redirected to the intro of that super block where a super block specific map is presented.

He is the list of super blocks that should be programmatically generated.
![image](https://user-images.github

[2020-05-14 08:54] ojeytonwilliams commented on #38819
Thanks for catching this @lasjorg, this is definitely not intended behaviour.

[2020-05-14 09:56] raisedadead commented on #38609
Thanks, I wanted some initial feedback from the team - opening up for contributions and suggestions.

[2020-05-14 11:07] arfbacem commented on #38779
Hi, i think you can fix this issue in the css file, by adding for example :

.footer {
  display: block;
}

[2020-05-14 12:04] no95typem opened #38821 "Running the local version for non-development purposes"
Hello.

There is a good guide on how to run the local version. But every time you run "npm run develop", a new build happens. This is a long time, in addition, node.exe uses a lot of CPU resources (about 60% on my PC). I am an absolute noob in nodejs. And in js in general. So I ask for help. Please tell me whether it is possible to save the build and run it? Or reduce the CPU load if I just want t

[2020-05-14 13:06] jashminkaur opened #38823 "Testing Problem"
For Problem Lexicographic permutation I am getting error to submit

Error log is attached, please verify

[2020-05-14 15:54] kabindrashrsth commented on #38820
Hi, I would like to work on this.

[2020-05-14 17:56] Ieahleen commented on #38823
You have not attached anything.

But please, before opening an issue, use the Ask for Help button in the challenge to open a topic in the forum with your code included.

[2020-05-14 18:06] bradtaniguchi commented on #38711
If you want, maybe I could give access to part of my server for testing the new bot?

I was told that the FCC team will manage the devops of the bot, so they will handle it. Thank you for the offer though :)

[2020-05-14 18:52] Sky020 commented on #38823
Hello, jashminkaur.

Ditto to what Ieahleen has said. Here is a link to the forum: https://www.freecodecamp.org/forum
When opening an issue/topic, please include as much _useful_ information as possible.

I am closing this issue, for now. Thank you

[2020-05-14 18:52] #38823 closed

[2020-05-14 19:01] THE-VR7 commented on #38317
sir can you help me understand the code

[2020-05-14 19:27] Sky020 commented on #38317
@THE-VR7 , sure. Generally, I recommend you either send a message on the Contributors chat room on Gitter, or you can ask on the [forum](https://www.freecodecamp.org/forum).

What are you struggling to understand, so far?

[2020-05-14 20:53] ahmad-ali14 commented on #38064
@sky020 I didn't take a look at the new challenges but it's important to know that the connection is giving you a connection layer and then you need to reach the db from this connection object.
connection does not give you access to the db directly

[2020-05-14 21:34] Sky020 commented on #38064
I agree, that is a crucial step. However, with regards to this issue, the lesson/challenge no longer mentions the db, and, in the projects, users are welcome to choose either the VanillaMongoDB route, or use Mongoosejs, as is taught in the curriculum. Mongoosejs does not have these steps to connect to the collection, as it is all done under the hood.

Essentially, I am suggesting this issue be clo

[2020-05-15 03:35] ahmadabdolsaheb commented on #37850
We might not need to remove the intros after all #38820

[2020-05-15 03:50] ahmadabdolsaheb commented on #38820
@kabindrashrsth, please go ahead 👍. No assignment is necessary as described in our [contribution docs](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2020-05-15 08:18] rajat641 commented on #38774
Hi @Ieahleen @moT01 , I hope you're good. I have raised a PR for this Issue with adding 2 extra test cases. Let me know if more test cases are to be added or something is not right. Thanks a lot guys for the opportunity.

[2020-05-15 13:49] abhi911kumar commented on #38795
Thank you so much for the help it solved my problem. Yes, I was missing handling the undefined date param in POST call.

This solved my problem. Thanks a ton :)

[2020-05-15 16:55] vsasvipul0605 opened #38829 "curriculum-challenges-solution-update"
**Describe your problem and how to reproduce it:**
Challenge criteria are updated but solution is not updated yet.
Here's the [challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function)

and hers's the [solution](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challeng

[2020-05-15 20:52] joshisplutar opened #38832 "Finders Keepers and the "Truth Test""
**Describe your problem and how to reproduce it:**
The instructions are unclear to a new developer regarding the term "truth test". As somebody still learning I was stuck trying to figure out what a truth test was until a mentor revealed to me that it was not some sort of programming term at all but just what the second argument was being referred to as. I propose that the examples of the function

[2020-05-16 17:31] Sky020 commented on #35948
Just to triage this issue: I would say this issue can be closed, as, while the tests are lenient, the challenge is so simple that, for a user to circumvent the expected solution, they would almost certainly have to be familiar with the concept. Therefore, there would be nothing to teach them.

So, as this is stale, and not an issue of bad-code passing, I am closing this issue.

[2020-05-16 17:31] #35948 closed

[2020-05-16 17:42] Sky020 commented on #36118
@ojeytonwilliams , Do we have any functions to test for recursion? Or, are we going to move ahead with this issue, and create a test looking for a component called within itself?

[2020-05-16 17:50] Sky020 commented on #36281
I can confirm that the test's regex is a bit too rigid:
[code]
To fix the original issue, the test could follow some of the other challenges by making a request to the actual `/profile` and seeing if the response is ok or not.

[2020-05-17 02:14] krisb1220 opened #38837 "Several Major Issues: Challenges Not Passing, Dependencies Out of Date, More..."
**Describe your problem and how to reproduce it:**

# Quality Assurance and Testing with Chai - Run Functional Tests using a Headless Browser:

Link: https://www.freecodecamp.org/learn/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser

## Issue 1: Tests not passing (***Major***)
The Headless Browser challenges are not p

[2020-05-17 02:38] krisb1220 commented on #38837
Also, on the Exercise Tracker project, the following code breaks the server:

[code]

[2020-05-17 09:44] Twaha-Rahman commented on #38611
@raisedadead As far as I know, FCC uses Jest for testing. Writing tests for Cypress currently is a little bit annoying as we have write test in Mocha. But there's a proposal on [adding Jest support for Cypress](https://github.com/cypress-io/cypress/issues/281). IMHO, if it isn't really important/necessary, can we wait for the proposal to land and then write the test in Jest? This way, all of the t

[2020-05-17 14:50] ojeytonwilliams commented on #36118
@Sky020 no, the only thing we specifically protect against is infinite `for` or `while` loops.  Recursion is a bit harder to deal with.  For pure JavaScript it's okay, as Valeriy mentioned above

[code]
throws an error, but does not crash the browser.  That's not the case for React and I don't know enough about the internals of React to say why that is.  Possibly the browser runs out of memory bef

[2020-05-17 19:58] Sky020 commented on #36118
@ojeytonwilliams , I think the reason is React components are stored in a virtualDOM made up of their children. So, a component rendered within itself causes an infinitely deep object.

Yes, that exactly.

[2020-05-17 23:22] krisb1220 commented on #38837
#

[2020-05-18 02:30] moT01 commented on #36118
Sounds good to me. Yea, I'm not sure how that test would be written. But I did a quick forum search and found enough issues of this happening that I think it would be worth looking into finding a solution. I gave codepen a quick test and their site just runs the infinite rendering as well. I did find [this article](https://www.bitovi.com/blog/recursive-react-components) which points out a case whe

[2020-05-18 08:48] ojeytonwilliams commented on #36118
Thanks for sharing that, I hadn't realised you might want to use recursive components.

In that case there seem to be two approaches:

1) the timeout that Tom suggested
2) a similar approach to loop-protect

For 1. you'd probably want a literal `setTimeout` that unmounts the preview frame if it has hung.  However, I'm not sure how you'd detect that it was in a recursive loop from the outside.  Any

[2020-05-18 09:38] ojeytonwilliams commented on #38611
Based on this comment: https://github.com/cypress-io/cypress/issues/281#issuecomment-570116671 Jest support is not currently being worked on.  I think that means that we would be waiting indefinitely before we can use Jest.

[2020-05-18 09:51] Twaha-Rahman commented on #38611
@ojeytonwilliams So.... what's the approach then? Should we write tests in Mocha for now and change them in the future? Or stick with Mocha even though FF uses Jest?

[2020-05-18 10:11] ojeytonwilliams commented on #38611
I'd say Mocha for now, since I don't see any alternative.  If Cypress starts supporting Jest, then we can decide at that point if we want to switch.

[2020-05-18 12:40] ojeytonwilliams commented on #38832
Thanks @joshisplutar, you're right, it's not particularly clear.  What do you think about the following wording?

Technically `func(x)` only has to be truthy, not true, but we don't introduce that concept until later in the curriculum.

[2020-05-18 13:20] joshisplutar commented on #38832
I think that's a great improvement!

[2020-05-18 13:26] ojeytonwilliams commented on #38832
Okay, cool.  I don't think we need to do more than that, so if a new contributor wants to help, I think it should be reasonably clear.

@joshisplutar thanks again for letting us know about this.

[2020-05-18 13:39] #38049 closed

[2020-05-18 14:02] #38769 closed

[2020-05-18 14:17] raisedadead commented on #38611
We would still be using both in some form. Keep in mind that we would have a combination of both because, we would need both integration tests (also called unit tests), and user acceptance tests (also called e2e tests).

At the minute all the challenge tests are unit tests which are run at build time, but we would also want to be able to re-run the same tests in browser using our test runner, as e

[2020-05-18 17:04] ojeytonwilliams opened #38841 "Nginx config"
Since `redirect` results in an extra round trip, could we improve performance by using the following?

[code]

instead of

[code]

inside the subdomains redirection section of the Nginx config.

Also, the some static resources (like fonts and icons) have a relatively short `max-age` (4 hours), but have cache busting arguments.  Assuming the arguments are generated correctly, I would have thought t

[2020-05-18 17:52] #38829 closed

[2020-05-18 19:12] sweatwork opened #38842 "Keyboard Shortcut to go back and forth between reading area and editor."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to reach my mouse to go back and forth between reading area and editor, just because I'm using a small screen, I can't read the whole thing and need to scroll down and then go back to editor using mouse. This causes frustration which often prevents me from coding, for long hours.

**Describe the so

[2020-05-18 19:21] b0c0de opened #38843 "Serbian Translation"
**Is your feature request related to a problem? Please describe.**
It is not an issue but it could help a lot of people who speak ex-Yugoslavian languages pass through tests and bring lots more members.

**Describe the solution you'd like**
Translate all the files to ensure everybody is aware what is going on.

**Describe alternatives you've considered**
N/A

**Additional context**
Please, advise

[2020-05-18 19:27] ojeytonwilliams commented on #38842
Hi, that's possible, though we haven't documented it yet, sorry!  The plan has been to make all this clear via a legend, but that PR, https://github.com/freeCodeCamp/freeCodeCamp/pull/38203, is still in the works.  A package I needed has been updated today, so that should be doable now.

Anyway, as it stands, you can use `Esc` to leave the editor and `e` to go back to it.  That's going to change (

[2020-05-18 19:38] sweatwork commented on #38842
I tried using `Esc` and `e`, it somehow does the job but not complete. Anyway, I hope it gets added soon and goodluck for the work.

[2020-05-18 20:11] ojeytonwilliams commented on #38842
Thanks!

What goes wrong with `Esc` and `e`? It might be something we can fix.

[2020-05-18 20:44] viveksharmaui opened #38845 "I Found 300+ problems security issues in codebase"
**Describe your problem and how to reproduce it:**
I added eslint security within project and found more than 300 problems mostly security problem in codebase.

**Add a Link to the page with the problem:**
PR: #38844

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gi

[2020-05-18 21:03] viveksharmaui commented on #38845
After adding Eslint Security Plugin I find out a lot of bugs in codebase these all warnings are related to security which we should fix as soon as possible I have also attached the PR we need to fix these warnings.

[2020-05-19 08:35] #38353 closed

[2020-05-19 08:46] raisedadead commented on #38843
Hi.

Thanks for your interest and reporting. Please see: https://contribute.freecodecamp.org/#/index?id=can-i-translate-freecodecamp39s-curriculum

While we are interested, we do not have any timelines when we will be able to make it available in the language of your choice.

[2020-05-19 08:46] #38843 closed

[2020-05-19 09:16] Twaha-Rahman commented on #38540
After you update the resources, if the link to the resource's change, please let me know. I'll update them...

[2020-05-19 10:45] #38772 closed

[2020-05-19 10:50] #38640 closed

[2020-05-19 12:47] moT01 opened #38850 "Pathnames are case sensitive"
`/learn` is not the same as `/LEARN` or `/LeArN`. The second two take you to user profiles, I believe they are the same user profiles. Just starting an issue about it, I haven't looked into it at all.

[2020-05-19 16:25] raisedadead commented on #38616
We could not bump the deps, and instead take this up with the API re-write.

[2020-05-19 16:25] #38616 closed

[2020-05-19 16:26] #37125 closed

[2020-05-19 18:10] sweatwork commented on #38842
No, the `e` works. It does take you to the editor, only if you are in reading pane. However, the `Esc` just takes you out from there to nowhere. If it could take you back to reading pane or maybe a combination of it, that would be great.

[2020-05-19 20:11] ExperimentMonty commented on #38317
I saw there had been no activity on this for almost a week, so I wanted to try my hand at making my first contribution.

[2020-05-20 02:07] luqven opened #38853 "docs: add cypress tests documentaton to contribution guides"
**Is your feature request related to a problem? Please describe.**

Had trouble getting up to speed with [Cypress](https://docs.cypress.io/guides/overview/why-cypress.html#In-a-nutshell) since there's currently no documentation on for how it's implemented in the code base.

**Describe the solution you'd like**

I suggest we create a documentation page for Cypress that outlines how to:

- 1) run th

[2020-05-20 06:51] scissorsneedfoodtoo commented on #38795
@abhi911kumar, sorry that I'm just seeing this now. But awesome! Glad that you were able to solve the issue in the end.

[2020-05-20 09:20] ojeytonwilliams commented on #38853
Sounds good to me.  I think it would be best to focus on freeCodeCamp specific issues, rather than diving too deep into how Cypress tests work.  The Cypress docs cover that, after all.

Great, thanks!  Since you've just looked at this, that makes perfect sense.