[2018-10-23 14:04] bannon-tanner opened #27001 "broken link: Use the d3.max and d3.min Functions to Find Minimum and Maximum Values in a Dataset"
**Describe your problem and how to reproduce it:**
Link to the guide on the challenge Data Visualization: Data Visualization with D3: Use the d3.max and d3.min Functions to Find Minimum and Maximum Values in a Dataset is pointing to the wrong place

Incidentally, the challenge page uses the d3-max and d3-min in the url while the guide page uses d3.max and d3.min

**Add a Link to the page with the

[2018-10-23 14:20] thecodingaviator commented on #17512
@Dave-Melia It seems fine now. Please close this issue

[2018-10-23 14:28] thecodingaviator opened #27015 "Add ?run=disabled for SASS while loop challenge"
I've found atleast 3-4 issue in this repo in the past week about the page hanging in the SASS ` @while ` loop challenge, this can be fixed by adding ` ?run=disabled `, is there a way to add it for just that one challenge?

[2018-10-23 14:28] thecodingaviator commented on #27015
If it helps, people have reported this happening on Chrome but not happening on Firefox

[2018-10-23 14:42] moT01 commented on #17512
Thanks for reporting this issue, but it seems to be fixed. If you think it's still a problem you can reopen it.

Thanks, and happy coding!

[2018-10-23 14:42] #17512 closed

[2018-10-23 14:45] thecodingaviator commented on #27001
@moT01 / @scissorsneedfoodtoo If you can guide me to where this file might be located. I can check....

[2018-10-23 15:54] GursimarSinghChopra opened #27083 "Error: while running on npm run develop"
Getting errors while executing 'npm run develop'

![screenshot from 2018-10-23 21-09-32](https://user-images.githubusercontent.com/31305427/47372853-46a92300-d708-11e8-8c1c-1effc72f3129.png)

![screenshot from 2018-10-23 21-17-27](https://user-images.githubusercontent.com/31305427/47373388-5aa15480-d709-11e8-8d9e-a794437de1a2.png)

Error generating due to the const path:
1. Go to freeCodeCamp/clie

[2018-10-23 15:55] RandellDawson commented on #17864
@ezioda004 I reviewed the note.  I think it is fine, but I think it needs to be on a separate line (like a new paragraph).

[2018-10-23 16:09] RandellDawson commented on #26243
@zersiax Can you provide some screenshots to show us the various screens as you complete the challenge?  That could help us identify what you are experiencing.

Thank you

[2018-10-23 16:15] Nirajn2311 commented on #27015
@thecodingaviator this usually happens when the code a user enters ends up in an infinite loop. Unfortunately Chrome crashes when this happens but not Firefox.

[2018-10-23 16:57] ezioda004 commented on #17886
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17436, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you and happy coding.

[2018-10-23 16:57] #17886 closed

[2018-10-23 17:33] ezioda004 commented on #17436
Currently node has experimental support for ES6 modules and according to that, if you don't use `./` the module is looked up in `node_modules` folder and if that doesnt resolve then it throws an error. ` Error: Cannot find module`

So the correct solution of this challenge should be:
[code]
and
[code]
#### Note:
This is still experimental feature in node however I dont think its behavior will chan

[2018-10-23 17:49] TomerPacific commented on #24455
@RandellDawson ,
I added a comment to the PR.

[2018-10-23 18:13] sidemt commented on #18459
I'm getting the same error.
Updating to Node version 10.12.0 did not solve the problem for me. I haven't tried uninstalling nodejs and npm yet though.

OS Version - WIndows 10 Home
Node version - v8.12.0 -> updated to v10.12.0
NPM version - 6.4.1
MongoDB version - v3.6.8

[2018-10-23 18:21] Nirajn2311 commented on #17436
@ezioda004 I’ll start working on this.

[2018-10-23 19:08] diogocampos commented on #26862
According to Wikipedia ([Portuguese language](https://en.wikipedia.org/wiki/Portuguese_language), [Brazilian Portuguese](https://en.wikipedia.org/wiki/Brazilian_Portuguese)), the vast majority (~90%) of the world's Portuguese speakers are in Brazil.

As a native speaker of Brazilian Portuguese, I think the situation is similar to the differences between UK English and US English, where the differe

[2018-10-23 19:28] ArielLeslie commented on #27015
Duplicate of #26252

[2018-10-23 19:32] ArielLeslie commented on #26252
@Nirajn2311 - the problem is that the code auto-runs before the user has finished typing. If they write out the solution line-by-line in order the browser will freeze unless they type very quickly.

[2018-10-23 19:36] Nirajn2311 commented on #24688
@raisedadead the following error has started popping up in some of the recent Travis failures:

    Use @each to Map Over Items in a List
      ✖ Your <code>.blue-bg</code> class should have a <code>background-color</code> of blue.
      ✖ Your <code>.black-bg</code> class should have a <code>background-color</code> of black.
      ✖ Your <code>.red-bg</code> class should have a <code>background-c

[2018-10-23 20:03] ValeraS commented on #24688
@Nirajn2311 @raisedadead recently solution for SASS challenge was added, but tests can't check a solution for SASS, only pure HTML/CSS/JS. I work on it and going to make PR soon.

[2018-10-23 20:12] tymeart commented on #16874
Hi @schalkneethling, are you still working on this?

[2018-10-23 20:56] procode200 commented on #26252
This issue needs to be closed. just forget about it. Please close this issue.

[2018-10-23 21:16] procode200 opened #27386 ""screen freezes with sass @while loop #26252" should be closed"
#26252 should be closed.

**Reasons why:**

Reason 1:
@pulamusic said:

This means the issue is **OVER**.

Reason 2:
I then said:

Corresponding to this @thecodingaviator then said:

Thereby stating **again** to close the issue.

Reason 3:
@pulamusic also filled out in the original comment:

Screen continually freezes when I try to do the @while challenge for sass. No matter how many times I close

[2018-10-23 21:59] procode200 commented on #27015
These issues related to this topic need to be closed. just forget about it. Please close these issues.

[2018-10-23 23:41] nathanhannig commented on #26252
sounds like the issue is resolved for user and workarounds have been given. Issue is related to user's code and not the challenge. Infinite loops are very common in coding.

[2018-10-23 23:41] #26252 closed

[2018-10-23 23:42] #27386 closed

[2018-10-23 23:44] ArielLeslie commented on #26252
We have been getting complaints about this in the forum for months (this is the latest of a number of Issues created).

[2018-10-23 23:47] ArielLeslie commented on #18321
The problem arises if the user types the closing `}` before correctly creating the contents of the loop. Since this is a common syntax-error-avoidance habit formed by coders, we see campers run into this problem on a regular basis. It would be helpful if autorun could be disabled on these challenges.

[2018-10-24 00:18] procode200 commented on #26252
@ArielLeslie We can all calm down now.

[2018-10-24 01:33] naviscript commented on #17299
@RaspberryLime Hey, my account is public. However, I noticed that it finally shows up now. However, when I hover over the day, the date is showed on the left side (see the attached files). Is this normal? Btw. I have logged in with my GitHub account this time (if that matters). Thank you for your help! (My profile: https://www.freecodecamp.org/fcca465863b-f6bd-4f00-abe6-1dad4d356b00)
<img width="6

[2018-10-24 02:33] Manish-Giri commented on #24137
@shahzaib919

Really?

These are your changes -

<img width="983" alt="screen shot 2018-10-23 at 10 31 07 pm" src="https://user-images.githubusercontent.com/11348778/47402428-8590a600-d713-11e8-89bb-293bd9e8a598.png">

This is from the website -

<img width="762" alt="screen shot 2018-10-23 at 10 31 24 pm" src="https://user-images.githubusercontent.com/11348778/47402436-8d504a80-d713-11e8-8333-bfb

[2018-10-24 04:15] #17894 closed

[2018-10-24 04:19] nathanhannig commented on #26252
here is a forum post if it helps?
https://www.freecodecamp.org/forum/t/disable-code-auto-run-on-free-code-camp/19511

[2018-10-24 04:31] Lewis65 commented on #25863
You're right about jQuery, since the CDNs are often faster than hosting locally. But, if required for hypothetical security reasons, hosting a minified copy locally would not be awful.

As for REST best practices, again you're probably right. It could be nice to have a writeup on these concepts available on the FCC Medium page so that it can be linked from the project. I don't think it is unlikely

[2018-10-24 04:32] nathanhannig commented on #27015
It is best practice to have one issue for each problem. We need to close all duplicate issues that reference the same problem. Do we want to make this the main issue that will be tracked?

[2018-10-24 06:41] jagzmz commented on #24688
As @Nirajn2311 commented I am getting same error for Travis CI

PR #27608

[2018-10-24 06:42] jagzmz commented on #24688
Same error for CI for me

[2018-10-24 07:15] StubRavi opened #27722 "[feature request]: Timeline for revision"
It will be good if there is a separate timeline for revising curriculum. For example, If someone has finished the "css challenges" 4 months ago and now want to revise it again; the system should keep track that he/she has finished these challenges again on this date. Because, during the revision, it is not recorded by streak.

![timeline](https://user-images.githubusercontent.com/34769076/47412934

[2018-10-24 07:19] ValeraS commented on #24688
made a PR #27716

[2018-10-24 09:57] RaspberryLime commented on #27722
How would you envisage it to be recorded? Just a simple entry in the list (so duplicate entries for the same item), or to have a completed date column and a revised date column?

[2018-10-24 10:02] RaspberryLime commented on #17299
I can see your account at https://www.freecodecamp.org/naviscript now, and it appears the same for me as in your screenshots. I don't think the hover effect is normal to be placed on the left, but I don't know if that part should be logged as a new issue or whether it'll be tracked in here.

[2018-10-24 10:03] Willibaur commented on #18307
Hi there,
It would be good if `checkboxes` at the top are checked so we can see what is left to be translated.
Thanks

[2018-10-24 10:39] thecodingaviator commented on #27015
The other issues are about the problem, this one is ablout adding run disabled to the url so more people don’t encounter it. Hope that clears it up for everyone

[2018-10-24 10:45] schalkneethling commented on #16874
@tymeart Please feel free to grab this if you want. Work has swallowed me up, and I am not sure when it will spit me out again ;p

[2018-10-24 13:14] thefrontendwizard commented on #26862
Fair enough. I'll close the issue then.

[2018-10-24 13:14] #26862 closed

[2018-10-24 16:53] ows-ali opened #28059 "Broken link of "Get a Hint" in certificate of "Api and Microservices""
**Describe your problem and how to reproduce it:**
A broken link to .env guide page on Certification of "Api and Microservices", question "Use the .env file".
Clicking on 'Get a Hint'  takes to this link (which is broken):
https://guide.freecodecamp.org/certifications/apis-and-microservices/basic-node-and-express/use-the--env-file
(Already present file could be renamed for this link to work proper

[2018-10-24 16:59] StubRavi commented on #27722
I can't say about the old curriculum, but it will be good having a second column for recently completed.

[2018-10-24 17:50] xam4lor opened #28087 "JS challenge compilator error"
**Description of the problem:**
I wanted to solve the "JavaScript Algorithms and Data Structures Projects: Caesars Cipher" problem and I wrote the code localy before copying it on the submit area. The code worked perfectlly on my browser but it broke with an error "assignment to undeclared variable index" which seems to be recurrent on the web interface.
I have the following code:
[code]

**Link t

[2018-10-24 17:57] xam4lor commented on #28087
If found the error, the web compiler doesn't like my `letters[**index =** com + SHIFT_NB...` but my browser does..... Weird!

[2018-10-24 17:58] #17864 closed

[2018-10-24 18:43] RandellDawson commented on #28087
Not sure if you tried bringing this issue up in the forum first, but in the future, try there to see if anyone can provide you guidance when you believe your code is "correct" but the tests will not pass.

The reason you code does not pass is because of the linter which FCC uses for the curriculum.  It runs code int Strict mode, so all variables must be declared first before using.  That is why yo

[2018-10-24 18:43] #28087 closed

[2018-10-24 18:45] RandellDawson commented on #28059
@ezioda004 Can I close this with reference to PR #28069?

[2018-10-24 18:57] RaspberryLime commented on #27722
@ezioda004 there were multiple columns in the previous curriculum. Google has examples -- it actually had three columns, one for date completed, one for the most recent modified date, and then a link to the saved solution. As the solution is no longer saved maybe this is why the modified date was dropped?

But I think that it should be tracked and counted in the streak if someone redoes a challeng

[2018-10-24 19:08] ows-ali commented on #28059
@RandellDawson the PR you mentioned above reolves issue for one language only, however my PR is fixing paths for other files as well.

[2018-10-24 22:50] raisedadead commented on #23559
Hi Everyone.

#### Update:

#### We have deployed fresh instances in the AU/NZ region to resolve these issues. Everything should be normal now.

Please let us know if you are still getting any issues. Before you report, its recommended that you hard refresh your browser / clear cookies / sign in again.

Thanks for your patience and sincerest apologies about the inconvenience and the delay during t

[2018-10-24 22:50] #23559 closed

[2018-10-24 22:56] rmklaus12 commented on #23559
Yes! Thank you. Working for me here in Melbourne :-)

On Thu, Oct 25, 2018 at 9:54 AM mrugesh mohapatra <notifications@github.com>
wrote:

[2018-10-25 01:16] SinanKamil commented on #28059
It is a badge in the program that is causing the website to crash!

[2018-10-25 02:21] RandellDawson commented on #28059
@SinanKamil Not sure what you are referring to.  What badge?

[2018-10-25 02:32] SinanKamil commented on #28059
I think the way the program was set up made it crash!

[2018-10-25 03:40] demetrius99 commented on #18309
Hello folks, I can assist with PT-BR

[2018-10-25 06:15] ows-ali commented on #28059
@RandellDawson  I think @SinanKamil is referring the 'Get a Hint' button as badge. I assume that he is saying that this button should redirect to the url with '.env' and not '-env' like this:
https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/use-the.-env-file/
But this will not work as a url and won't follow the convention too

[2018-10-25 07:05] GursimarSinghChopra opened #28446 "Capitalisation of the word api"
In the curriculum page, the apis and Microservices Certification link should be APIs and Microservices Certification.

![screenshot from 2018-10-25 12-26-12](https://user-images.githubusercontent.com/31305427/47481688-03f36200-d852-11e8-8d1e-0fe92801d89c.png)

* Browser Name: chrome
* Browser Version: 70.0.3538.67 (Official Build) (64-bit)
* Operating System: Ubuntu 18.04 LTS

[2018-10-25 08:42] GursimarSinghChopra commented on #28446
@amogh-gulati Sure

[2018-10-25 08:47] hvaandres commented on #18307
Where I can start helping?

[2018-10-25 08:48] yuenwailok commented on #18321
Same issue here

[2018-10-25 09:54] #19019 closed

[2018-10-25 09:57] #17268 closed

[2018-10-25 09:58] #17270 closed

[2018-10-25 10:00] #17504 closed

[2018-10-25 10:00] raisedadead commented on #17504
We have a monorepo now.

[2018-10-25 10:03] raisedadead commented on #17695
We have refactored the repo since this issue. Please make a fresh clone and the instructions in the docs. You should be good to go.

[2018-10-25 10:03] #17695 closed

[2018-10-25 10:04] raisedadead commented on #17738
We have refactored our repositories to be a mono repo now. Please re-clone this repo and make a fresh installation

[2018-10-25 10:04] #17738 closed

[2018-10-25 10:04] #18459 closed

[2018-10-25 10:06] raisedadead commented on #18459
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:07] raisedadead commented on #17989
@GursimarSinghChopra We recommend using lts version of node. Details are available in contributing docs. As of this comment, it was 8.x.x.

We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) w

[2018-10-25 10:07] raisedadead commented on #18013
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:07] #18013 closed

[2018-10-25 10:08] raisedadead commented on #18039
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:08] #18039 closed

[2018-10-25 10:09] raisedadead commented on #18101
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks.

PS: Please conform to the docs for correct versions of node.

[2018-10-25 10:09] #18101 closed

[2018-10-25 10:09] raisedadead commented on #17693
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:09] #17693 closed

[2018-10-25 10:10] raisedadead commented on #18474
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:10] #18474 closed

[2018-10-25 10:10] raisedadead commented on #19511
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:10] #19511 closed

[2018-10-25 10:11] raisedadead commented on #27083
We have resolved this specific issue with local setup. Please re-clone and make a fresh installation. A few other issues in the setup are still being worked upon. We will post an update in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) when the local is 100% ready.

Thanks

[2018-10-25 10:11] #27083 closed

[2018-10-25 10:17] thenikhilsaini commented on #17077
Hi, This is still an issue.

I am encountering with the same problem.

<p> <em>Google  was founded </em>  by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at <strong>Stanford University</strong>.</p>

Error: The em tag should wrap around the contents of the p tag but not the p tag itself.

[2018-10-25 10:18] thenikhilsaini commented on #17077
<p> <em>Google  was founded </em>  by Larry Page and Sergey Brin. </p>

[2018-10-25 11:02] RandellDawson commented on #17077
@thenikhilsaini Your code is incorrect.  The em tags should be around the entire contents of the paragraph element and not just the words "Google was founded".

It is best to discuss your code issues on the [forum](https://www.freecodecamp.org/forum/).  If the forum determines you have found a bug, they will point you to the issues tracker.

[2018-10-25 11:39] thenikhilsaini commented on #17077
Sorry!

It worked now, Thank you so much for the help,

Regarding the code issues, I will keep in mind to discuss it inside the forum.

[2018-10-25 11:53] Nirajn2311 commented on #18722
@Manish-Giri The following command helped me get over this issue
[code]

I was using Git Bash, so I'm not sure if it will work in cmd.

[2018-10-25 12:04] tchaffee commented on #17382
@raisedadead I'll start working on this right away. Is this still the approach you would recommend, from your comment above in June?

The ideal fix for this is:

    Add a local auth route handler in the authentication.js
    Update the component-passport.js to have a environment specific bypass (NODE_ENV=development) for letting in a user in. That is login cookies are to be set.
        Setting a

[2018-10-25 12:34] oliverjam commented on #17784
The problem is this test in the [seed file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-concise-object-literal-declarations-using-simple-fields.english.md):

[code]

It returns true if `createPerson` returns an object with no keys, or just not-an-object.

I assume we should really be using something l

[2018-10-25 13:42] frusagi commented on #18310
working on /docs/chinese/how-to-work-on-guide-articles.md

[2018-10-25 17:05] lyndel2 commented on #9016
var a = 3;
var b = 17;
var c = 12;

// Only modify code below this line

a += 12;
b += 9;
c += 7;
I hope this will help with your question

[2018-10-25 17:49] JBallin commented on #17268
Fixed in #18246

[2018-10-25 18:01] ericol commented on #18307
@raisedadead sorry to put it in this issue, but is there any way somebody could help with the pull requests? I mean, there are 5K+ opened already, people are sending them in troves, and I suspect a lot of them are _a total crap_ (Like #28692) .

I guess you opened a Pandora Box with your articule about HacktoberFest.

[2018-10-25 18:06] erictleung commented on #28446
@GursimarSinghChopra thanks for the issue! I've noticed this in the past and it has always bothered me.

I think to fix this is to edit the [`preFormattedBlockNames` constant](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/utils/blockNameify.js#L1-L14) with

[code]

This will need to be tested and tried. This is just my guess from briefly searching around.

[2018-10-25 20:15] TomerPacific opened #28841 "Regular Expressions: Find More Than the First Match Missing Instructions"
**Describe your problem and how to reproduce it:**
In this challenge, the user is first introduced to flags in regular expression. Thing is, the global, g flag, is the only one discussed, but the solution requires the use of the i flag as well.

To someone who is not familiar with regular expression at all, this does not provide any learning whatsoever. More so, the note at the bottom doesn't even

[2018-10-25 20:30] Nirajn2311 commented on #28841
@TomerPacific the user is introduced to the `i` flag two challenges before the one mentioned by you. So the user already has knowledge of the `i` flag by the time they reach this challenge.

[2018-10-25 20:30] #28841 closed

[2018-10-25 20:33] KirkhapAuto commented on #18101
Thanks, are the instructions on  https://forum.freecodecamp.org/t/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/19366 correct now?

[2018-10-25 20:38] raisedadead commented on #18101
@KirkhapAuto See [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)

[2018-10-25 20:45] KirkhapAuto commented on #18101
Link is 404

[2018-10-25 20:52] raisedadead commented on #18101
Sorry new link: [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/master/CONTRIBUTING.md)

[2018-10-25 21:01] KirkhapAuto commented on #18101
Cool thank you. I can see there is a link in there called : https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

I shall follow the instructions therein. But I'm still slightly confused. I cannot see anything in those links that shows me how to seed the DB with an offline copy of https://www.freecodecamp.org/

[2018-10-25 21:36] raisedadead commented on #18101
Please reachout to [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)?

[2018-10-25 21:41] KirkhapAuto commented on #18101
Thanks

[2018-10-25 22:59] naviscript commented on #17299
@RaspberryLime I may just post the issue in the forum and maybe someone response to it. Thanks for your help.

[2018-10-25 23:19] alanpaulprice commented on #17866
@ezioda004 How about:

**Note**
You must have [Node.js](https://nodejs.org/) installed in your project to use `require()`, as it is not a native JavaScript function.

[2018-10-25 23:30] ezioda004 commented on #17866
@alanpaulprice You don't really "install node.js" in your project, you run your project in node run-time/environment.
I think something along the lines of

Verbiage can be improved.

Tagging @cmccormack for input.

[2018-10-26 00:50] Manish-Giri commented on #18722
@Nirajn2311 Thanks! I tried that command, but I removed the `--system` flag. I didn't want to affect the restriction on the system level just to get things up and running. Was able to get my local setup updated that way.

However, for the long run, I think it's unreasonable to ask users to alter their system restrictions (both project level & system level) to setup fcc on their machine.

[2018-10-26 00:53] #19545 closed

[2018-10-26 02:30] pecey commented on #22031
I can have a look at this.

[2018-10-26 03:08] scissorsneedfoodtoo commented on #17379
@tommyprevatt, I agree, several more challenges need to be added to the ES6 section to fill in said knowledge gaps. @SaintPeter had some really great suggestions for possible challenge topics that could be added before this one, but I haven't taken the time to write them up yet.

If you have any suggestions for possible challenges you'd like to see before this one, please leave a comment. Or even

[2018-10-26 03:54] im-danwu commented on #18103
Not sure how these tests run, but adding that requirement seems a little brittle. You'd have to change the description for all languages too.

Maybe the test can just check the browser location?
Or add an ID to the pug homepage template and look for that?
Check the HTTP request for a 302 redirect to `/`?

[2018-10-26 03:59] huyenltnguyen commented on #17873
I'm closing this issue as it has gone stale and the OP deleted their account.

[2018-10-26 03:59] #17873 closed

[2018-10-26 06:33] GursimarSinghChopra opened #29296 "Navbar is not proper align in the night mode"
Navbar is not proper align in the curriculum page as compared to other pages. There is a white line coming below the navbar.
![screenshot from 2018-10-25 17-58-19](https://user-images.githubusercontent.com/31305427/47548116-91e45100-d915-11e8-8822-b42bd0d6d9e8.png)

![screenshot from 2018-10-25 18-00-06](https://user-images.githubusercontent.com/31305427/47548101-855ff880-d915-11e8-8e7d-2323ddba4d

[2018-10-26 06:45] ho-dor commented on #28446
is this assigned? Can I work on this?

[2018-10-26 06:51] SKSSKS opened #29311 "Search option not working."
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a Github issue.

Search bar is not working properly. Search option working first time, on search the page will redirected to another page and after that search on that page search option does not work.

Steps to reproduce the behavior:
1. Go to 'Homepage'
2. Click on 'Curriculum'
3. Search  'hello'

[2018-10-26 07:05] bettergrammer commented on #7492
Doesn't work

[2018-10-26 09:34] #28059 closed

[2018-10-26 09:42] lewmoore commented on #29296
I can look at this?

[2018-10-26 13:03] dougouverson opened #29515 "The spoiler had the different placement of "// Your code below this line""
**Describe your problem and how to reproduce it:**

I had problems solving this challenge. When I viewed the spoiler" I saw that the placement of "/ Your code below this line" was in a different location than the challenge. This might have made a difference?

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/word

[2018-10-26 13:05] dougouverson commented on #29515
I could have submitted a PR, but when I went to https://github.com/freeCodeCamp/curriculum, I saw a message, "This repository has been archived by the owner. It is now read-only."

[2018-10-26 13:14] #29515 closed

[2018-10-26 13:16] dougouverson commented on #29515
Though the challenge did have the placement of "// Your code below this line" in a different location., I see there was a solution with the current placement.

[2018-10-26 14:08] Hassanraja447 opened #29554 "Broken link for guide on challenge: iterate through object using for in."
**Describe your problem and how to reproduce it:**
I found a broken link and can anyone tell me how can I fix it?

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement

**Tell us about your browser and operating system:**
Chrome, Win

[2018-10-26 15:09] V1NAY8 opened #29599 "Authenticate PR and link with issues and merge those pull requests."

[2018-10-26 15:40] huyenltnguyen commented on #17412
This issue has been resolved so I'm going to close this issue thread. Thank you for reporting and happy coding!

[2018-10-26 15:40] #17412 closed

[2018-10-26 15:42] huyenltnguyen commented on #17317
I'm closing this issue as it has been resolved. Thank you for reporting and happy coding!

[2018-10-26 15:42] #17317 closed

[2018-10-26 15:51] NitronR opened #29630 "JSON challenge object to Markdown"
@raisedadead I have some Rosetta Code challenges ready to be pushed but they are in JSON format. Is there a tool for converting JSON challenge object to Markdown? Thanks for the help!!

[2018-10-26 17:14] jeremynofs commented on #29554
In https://github.com/freeCodeCamp/freeCodeCamp/edit/master/curriculum/challenges/_meta/basic-data-structures/meta.json there is a leading space for the title.

Basically, in challenge https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement/ under get a hint it leads to

https://guide.freecodeca

[2018-10-26 17:38] #29599 closed

[2018-10-26 17:39] RandellDawson commented on #29599
I have closed this PR because there are no details explaining what the actual issue is.

[2018-10-26 19:57] sureemo opened #29806 "Search autocomplete display out of screen"
**Describe the bug**
Auto-complete dropdown in Quick search in top navigation bar is out of screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learn.freecodecamp.org/'
2. Type text in Search Input at the top navigation bar
3. See the auto-complete dropdown, the block width is out of screen

**Expected behavior**
The search auto-complete dropdown should be displayed proper

[2018-10-26 20:31] t5krishn opened #29831 "Broken "Get a hint" link in "Basic Node and Express - Use the .env File""
**Describe your problem and how to reproduce it:**
The "Get a hint" link in "Basic Node and Express - Use the .env File" coding challenge is incorrect.

Page with get a hint link is : https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/use-the--env-file/

It leads to: https://guide.freecodecamp.org/certifications/apis-and-microservices/basic-node-and-express/use-the--env-f

[2018-10-26 20:43] raisedadead commented on #18170
@thecodingaviator that's an anti-pattern for us trying to teach something.

Here is the analogy:

I understand that maybe convenient by the looks of your suggestion:

[code]

And maybe even helpful, when you are for example creating themes for a site, where its simple to update one line to change a `color` property for instance.

But,

When we are teaching these to users, who are especially new to

[2018-10-26 20:47] raisedadead commented on #18170
Coming to your specific query, which I will rephrase to make it generic:

"Can tests be made lenient to accept multiple valid code solutions?"

Yes. But if there is a conflict that makes someone misinterpret the instructions in the challenge to write a solution that although valid is not conceptually correct, then No. We are quite opinionated on this as a learning platform especially for users who

[2018-10-26 21:35] ezioda004 commented on #29831
Hi @t5krishn,

Thank you for opening this issue.
We've fixed this issue in a previous PR from this issue https://github.com/freeCodeCamp/freeCodeCamp/issues/28059.
It'll be pushed to production soon.

I'm closing this issue.

Happy coding!

[2018-10-26 21:35] #29831 closed

[2018-10-26 22:11] BurnhamG commented on #13157
Apologies for the multiple commits; I made a mistake and accidentally changed the commit hash a few times. Anything else going forward will be a commit to fix build issues.

[2018-10-27 01:40] 3CatMax commented on #18310
I went through (before finding this) and had fixed the markdown link and locations to go to all the correct files. Although I do not know Chinese, the patterns are the same.  #28207

[2018-10-27 01:43] leoprojects commented on #17397
I have the same problem. Whenever i click the Show Certification button, i get the following mesage:
**fccd1499da0-f364-4934-a643-217a307a53db has chosen to make their certifications private. They will need to make their certifications public in order for others to be able to view them.**

[2018-10-27 02:49] frusagi commented on #18310
Oh, i didn't know... Because I edited the translation for the first half too. Thanks for informing, is there other files where you have already worked on?

[2018-10-27 07:14] promethyus opened #30139 "Pull request gif"
**Describe your problem and how to reproduce it:**
When viewing "how to make a pull request" gif from FCC. The speed is too fast.

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name: GoogleChrome
* Browser Version: Current
* Operating System: ElCapitan mac

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc

[2018-10-27 08:06] akash987456 commented on #14668
try this,
.text((d) => d + " " + "USD")

[2018-10-27 08:31] huyenltnguyen commented on #17293
I'm closing this issue as it has been resolved. Thank you for reporting and happy coding!

[2018-10-27 08:31] #17293 closed

[2018-10-27 09:09] raisedadead commented on #17397
Hi please follow through the FAQs, here: https://support.freecodecamp.org/ or reachout to the forum at https://www.freecodecamp.org/forum

This is issue tracker is reserved for reporting confirmed bugs on the plaform.

[2018-10-27 09:19] Nirajn2311 opened #30216 "Site width is increases for no reason - Apis and Microservices Certification"
**Describe the bug**
In [Managing Packages with Npm](https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm), [Basic Node and Express](https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express) and [MongoDB and Mongoose](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose) challenges the site width is unnecessarily increased, also

[2018-10-27 09:46] #17727 closed

[2018-10-27 09:50] huyenltnguyen commented on #17677
I'm closing this issue as it has gone stale. Please open a fresh one if it occurs again.
Thank you for reporting and happy coding!

[2018-10-27 09:50] #17677 closed

[2018-10-27 09:52] huyenltnguyen commented on #17709
Looks like the issue has been resolved, so I'm closing it now.
Thank you for reporting the issue and happy coding!

[2018-10-27 09:52] #17709 closed

[2018-10-27 09:53] #17652 closed

[2018-10-27 10:45] zybex86 commented on #30216
I can have a looksee :)

[2018-10-27 10:54] thecodingaviator commented on #18170
@raisedadead I'm not sure hoe using multiple selectors with a `,` could make the code 'conceptually wrong'.

[2018-10-27 11:48] lwy1010 opened #30289 "Sass - Apply a Style Until a Condition is Met with @while correct code can not pass!"
**Describe your problem and how to reproduce it:**

Here is my code in Sass - Apply a Style Until a Condition is Met with @while section. It can not pass by using chrome 70 version in win10. However It can be pass by using firefox in win10.
[code]

**Add a Link to the page with the problem:**
[Apply a Style Until a Condition is Met with @while](https://learn.freecodecamp.org/front-end-libraries/sa

[2018-10-27 12:50] schalkneethling commented on #17307
@QuincyLarson Hey there, is this issue still up for grabs? Also, are the requirements still as defined in https://github.com/freeCodeCamp/freeCodeCamp/issues/17307#issue-327929096

It seems like it might have changed a bit from reading the conversation above. Thanks!

[2018-10-27 13:04] raisedadead commented on #18170
As I said in the analogy:

[2018-10-27 14:07] thecodingaviator commented on #18170
@raisedadead Ahh okay!

[2018-10-27 14:07] #18170 closed

[2018-10-27 16:27] ezioda004 opened #30462 "Tests for Project Euler: Problem 10: Summation of primes needs to be updated"
**Describe your problem and how to reproduce it:**

The last test for this challenge needs additional time.
I'm using optimized version of Sieve of Eratosthenes algorithm but the last case still times out:
Here's the [repl](https://repl.it/@ezioda004/Project-Euler-Problem-10-Summation-of-primes) link to the code.

The solution provided in the challenge's [seed](https://github.com/freeCodeCamp/free

[2018-10-27 17:10] alanpaulprice opened #30495 "Suggestion: Challenge - ES6: Use * to Import Everything from a File - ideas for improving the challenge"
[ES6: Use * to Import Everything from a File](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file)

**Issue**
I believe this challenge would make more sense if the user were tasked to do something with the imported object, using the dot notation mentioned in the description.
The challenge isn't showcasing any real use of import 'everyt

[2018-10-27 17:16] alanpaulprice opened #30498 "Suggestion: Challenge - ES6: Use * to Import Everything from a File - ideas for improving the challenge"
[ES6: Use * to Import Everything from a File](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file)

**Issue**
I believe it would be an improvement to this challenge if the user were tasked to do something with the imported object, using the dot notation mentioned in the description.
The challenge isn't showcasing any real use of import

[2018-10-27 17:33] RandellDawson commented on #30498
Take the first pass at it.  Once the challenge and instructions are finalized, I will revise my PR for the testString.

[2018-10-27 17:48] jstodd42 opened #30517 "Challenge Issue: CSS Grid: Limit Item Size Using the minmax Function"
**Describe your problem and how to reproduce it:**
My issue was found on the CSS Grid: Limit Item Size Using the minmax Function. When I submit the answer on the "grid-template-columns:" my results are different from the youtube tutorial I used. Admittedly, I did have to search for help after I wasn't able to understand the orginal challenge in the first place. Still don't, to be honest. I have at

[2018-10-27 18:17] jovsantos opened #30537 "Problems with Pull Request"
Hi everyone, I need help, I changed the "while" tab in the csharp folder and I did not see in the guide that I would have to create a branch to send the changes in a pull request, the photo is below, how can I cancel these changes and create a branch? I apologize for my mistake.

[2018-10-27 18:45] huyenltnguyen commented on #30537
Hi @jovsantos, the issue tracker is for bug reporting. Please use the Gitter [Contributors Chatroom](https://gitter.im/FreeCodeCamp/Contributors) instead.

[2018-10-27 18:45] #30537 closed

[2018-10-27 20:14] Belz commented on #18309
Hi!
I fixed links on the portuguese README.md and took the chance to also do it on the english version (links did not work).

[2018-10-27 21:53] 3CatMax commented on #18310
@frusagi I didn't edit the text, only the links and the top part with the links to other languages. I'm totally new to this (too?) and figuring it out as I go. Turns out I could see where my pull request had conflicts with any new code that has been merged in, and decide line by line what to change or what to keep. Keep doing awesome stuff 👍😜

[2018-10-27 21:59] 3CatMax commented on #18312
I don't have any translation skills, but I fixed the links in the READMEs to go to the correct language documents that everyone is doing such an awesome job translating. #28207

[2018-10-27 22:05] 3CatMax commented on #18311
Hi @MicroDroid, my Pull Request #28207 helps with having the README links in each language link to the correct language articles, as well as the top language links bar. Not sure that it conflicts with what you have going, although it looks like your Pull Request needs a bit of revising to merge. Awesome work!

[2018-10-27 22:09] alanpaulprice commented on #30498
Will do!

[2018-10-27 22:12] bartlomiej-przymus commented on #17379
im really feeling stupid for naot being able to figure this one out :(

[2018-10-27 22:28] 3CatMax commented on #18308
#28207 Fixes the html links in the top language bar for all language README docs. Not a translation, but just link fixes. Once the Russian README files get merged, we can add the markdown style for links to all the articles in Russian too!

[2018-10-27 22:33] raisedadead opened #30709 "CI: Optimize the tests performance."
[Challenge tests in CI](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/test/test-challenges.js#L43) are async and are hitting the limits, most of them exiting before completion:

https://travis-ci.org/freeCodeCamp/freeCodeCamp/builds/447041746#L821-L822

I was taking a look at this, in and I think that we can avoid this by splitting up the describe blocks into their own test s

[2018-10-27 22:36] raisedadead commented on #30709
/cc @ValeraS @tchaffee @Bouncey @tbushman for inputs.

[2018-10-27 22:39] 3CatMax commented on #18307
Hey all, not a translation, but fixes for the language bar of HTML links on the README file for Spanish, and markdown links to the How To guides that everyone has been translating. #28207.

@MetCoder95 or anyone else looking to do translations in Spanish, you could make a copy of the 2 style guides to translate into Spanish from the English version in the doc folder. It looks like those weren't ad

[2018-10-27 22:47] raisedadead commented on #30709
Why we need this:

At the minute we are testing only `english` challenges and already have ~10000 test items [ not to be confused with no. of challenges]. Every `it` in the test script is a item.

Soon we need to multiply that for each language variant.

[2018-10-27 23:04] ValeraS commented on #30709
Sorry, I don't understand what do you mean by exiting before completion? If you talk about 880 pending tests, then it is the challenges without tests, solutions or seed, and they marked as pending.

[2018-10-28 02:49] #17574 closed

[2018-10-28 03:28] MicroDroid commented on #18311
@3CatMax Yeah, I didn't pay attention to links, I just simply replaced `عربى` with `عربي` since it's more correct.

[2018-10-28 03:33] #17853 closed

[2018-10-28 05:38] dyllper commented on #28446
Hello! Is someone else already working on this? Or could I take a crack at it?

[2018-10-28 08:17] raisedadead commented on #30709
Ah, I see. I guess the log message threw me off. Nonetheless I think its worth to have tests 'fail fast' ? Meaning as soon as we hit an error, we need not proceed to other tests. This would enhance the memory and CPU utilizations a lot and in turn improve the build time.

What do you think about the stages and splitting up into micro modules than the humongous file?

[2018-10-28 08:18] raisedadead commented on #30709
On a side note, I would like to explore https://ava.li for unit tests and Mocha for Browser in future (not a priority).

[2018-10-28 10:20] ValeraS commented on #30709
The first test from `test:*` with non-zero exit code breaks other tests. For example in https://travis-ci.org/freeCodeCamp/freeCodeCamp/jobs/447316254 `test: curriculum` did not finish its job.

About stages, I think we need two steps: one for common tests like `test: client` and one for tests for certain languages that run in parallel.

[2018-10-28 10:34] raisedadead commented on #30709
Hmm I see. And can we not have linting the files as the first step? Or you think that might be rather complex?

[2018-10-28 11:45] ValeraS commented on #30462
It is caused by babel transform with loop-protect, which is set to 100 ms.

Test timeout is set to 5 sec.

@ezioda004 Will you make a PR to replace a solution in the curriculum? It'll decrease the time of testing in Travis/CI. And in your solution `if` at line 12  is not needed.

[2018-10-28 12:46] ezioda004 commented on #30462
@ValeraS Thanks for replying. I'll make a PR updating the solution in curriculum and you're right line 12 is not required, I was trying to optimize the solution more by making the loop skip if that value is already `0` but theres no point since accessing and assigning a value to an array is of `O(1)` anyway.

I understand that it'll decrease the CI testing time.

But updating the solution in curri

[2018-10-28 16:57] ValeraS commented on #30462
Update solution does not solve the problem with the test timeout.

In addition, we have non-optimal solutions for problems 35 and 47.

[2018-10-28 17:02] cmccormack commented on #17866
I think it's worth stating that it's built in to Node, while being available outside of node through installed packages.

[2018-10-28 19:49] ValeraS commented on #30709
How about running tests for modified parts only? For example, if we change only the guide files, we'll run tests only for the guide and will not run tests for the client, server and curriculum.

[2018-10-28 20:37] ezioda004 commented on #30462
Update solution does not solve the problem with the test timeout.

@ValeraS Thats what I assumed too. How'd the timeout problem be solved?

I'll update the PR with optimal solution of those.

[2018-10-28 20:40] ezioda004 commented on #17866
Sounds good to me.

[2018-10-28 20:55] ValeraS commented on #30462
need to increase this timeout:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/templates/Challenges/rechallenge/transformers.js#L20

[2018-10-28 21:10] klassynihal commented on #26243
![screenshot from 2018-10-29 02-23-00](https://user-images.githubusercontent.com/20780979/47621888-faa11880-db23-11e8-918d-a1771ec9880c.png)
done

[2018-10-28 22:34] ezioda004 commented on #30462
I reckon changing that would increase for all challenges? If so, is there a way to only increase for this challenge or others (presuming we find more challenges that require it)?

[2018-10-28 23:39] alanpaulprice commented on #17866
I'm not sure how to word this one. As a start, maybe:

**Note**
`require()` is not a native JavaScript function. To use it, you must run your project in a Node.js environment or install a relevant package(?), such as ...(?).

It'd be great if someone could iron it out.

[2018-10-28 23:44] moT01 commented on #17589
Perhaps the place to put the github URL should be removed - Because the challenge page asks for two URL's (live demo + github), but in the settings area you can turn in any of the projects with just the live demo link

[2018-10-29 02:43] wadleo commented on #30289
Yes I had this issue too

[2018-10-29 06:29] ezioda004 commented on #17866
Do we need to give an example? On second thought - should we really mention that `require()` can be used in browser? Since modern browsers already support ES6 modules out of the box.

[2018-10-29 10:24] Kimothey opened #31675 "Broken Test - doesn't recognise removed backslashes"
**Describe your problem and how to reproduce it:**
For the Basic JavaScript: Quoting Strings with Single Quotes test, the test does not recognise removed backslashes.

See the attached image where the task has been completed and note the removed backslashes in the test area, and the message in the lower right for lack of completion.

**Add a Link to the page with the problem:**
https://learn.freec

[2018-10-29 11:20] Minahil-ayaz786 opened #31698 "Responsive Web design Project"
how to do this challenge??
Responsive Web Design Projects
Introduction to the Responsive Web Design Projects
 a Tribute Page
 a Survey Form
 a Product Landing Page
 a Technical Documentation Page
 a Personal Portfolio Webpage

[2018-10-29 13:12] vanditbhatt commented on #31698
You can use codepen.io or jsfiddle. Just follow the instructions given in  project guidelines paste the link that points to your pen in the solution field.

[2018-10-29 14:40] vipatron opened #31785 "[BUG/TYPO]: Tests failing on Portfolio Project because of typo/class name change."
**Describe your problem and how to reproduce it:**
I am running the new test suite on a portfolio project I created for the Beta, which passed 12/12 tests then, but only passes 11/12 now. The issue is that the `<section id="projects">` (user story 3) is supposed to contain "at least one element with a class of **project-tile**" (user story 4). All the project `<figure>`s in [my portfolio project -

[2018-10-29 15:36] Nirajn2311 commented on #31698
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours.

If you think I’m wrong in cl

[2018-10-29 15:36] #31698 closed

[2018-10-29 15:41] alanpaulprice commented on #17866
It's not essential, for sure.

Could we get away with just stating that it isn't a standard JS function? I feel like the extra detail might not be worthwhile. This challenge is basically telling the user that `require()` is obsolete and they should be using `import` instead?

[2018-10-29 15:43] Nirajn2311 commented on #31675
@Kimothey you are missing a `/` in the closing tag of `a` tag.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours.

I

[2018-10-29 15:43] #31675 closed

[2018-10-29 16:15] tchaffee commented on #30709
@ValeraS That can be a good idea, but one risk is that something in one area could break something in another area. Someone needs to figure out what that risk is. Just for example, it's possible that a change server side or client side could make the curriculum no longer work. But maybe a change to the curriculum would never break the client or server? I don't really know, those are just examples.

[2018-10-29 17:06] raisedadead commented on #30709
I am with Todd, on this one. My experience with this says never trust heuristic testing. That's what humans would do. And then they would be wrong with guesses.

The CI/CD should always test everything. Always. This way you know that your starting point when debugging.

**But,**

I can see and have thought of this several times that CI/CD is not a setup for content editing. We are rather doing wei

[2018-10-29 17:08] raisedadead commented on #30709
Anyways, not getting away from the original issue at hand. We still need to vastly improve the CI/CD performances. Every millisecond that can be saved counts a lot, considering we want to add more and more automation, and we want to bring in several languages as well. The testing needs to catch up with the growth.

[2018-10-29 17:39] tchaffee commented on #30709
Is there any good reason we can't get away from this and use something like Wikimedia for the guide? It seems like using the wrong tool for the job is creating a lot of extra work for us, and clogging up Travis CI as well.

For the curriculum I could see still using github and PRs. The curriculum is used directly by the client and the server, and the curriculum has code in it in the form of tests.

[2018-10-29 17:52] #27001 closed

[2018-10-29 18:04] raisedadead commented on #30709
We have had proposed this internally within the team and it was turned down.

This was because @QuincyLarson thought of us having to manage yet another platform. The desire was the we stick to certain stack for the deployments, which are within the budget for the non-profit.

For instance, if we were to use say wordpress or wikimedia which is good for content, we would have to have additional pers

[2018-10-29 18:56] tchaffee commented on #30709
It's a worthy goal so I understand the decision. Would now be a good time to re-assess whether or not sticking with the same stack is in reality saving time?

Anyway..... I'm happy to focus on getting what we have right now to work as best as possible.

I see two unrelated opportunities to improve what we have:
1. Could we consider automatically approving and merging PRs for the guide? That's kind

[2018-10-29 19:39] raisedadead commented on #30709
I think, we would still have an human intervention. Because I can see people  efforts to abuse the system. Its less rewarding in a system like wikimedia where its not tied to your profile graph of contributions. The incentives here are rather high. So I would rather spend the time on getting the CMS to work. Where the contributions will be less incentivised and hence people making changes to guide

[2018-10-29 20:52] vanditbhatt commented on #30517
@jstodd42 From the above screenshot the issue looks to be extra spaces between functions and its declarations.

Just change `repeat (3, minmax (90px, 1fr));` to
[code]
and try to run the tests again.
![47607421-66c93280-d9e5-11e8-8e1c-0a0cc4239826](https://user-images.githubusercontent.com/24377767/47679571-91d0a380-dbea-11e8-9509-e6c5c57a5f90.png)

[2018-10-29 22:38] RandellDawson opened #32207 "Need to update all broken image links and resize images for guide/english/tools/source-code-editors/index.md"
**Describe your problem and how to reproduce it:**
There are many broken image links and the Visual Studio Code icon is way too large.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/tools/source-code-editors/index.md

**Tell us about your browser and operating system:**
* Browser Name: n/a
* Browser Version: n/a
* Operating Syst

[2018-10-29 22:45] CodeB9 commented on #32207
I can work on this.

[2018-10-29 23:37] Deducts opened #32228 "Virtual box Issue"
https://gyazo.com/adaf7338ca355caf5f055a9587dd924b

issue is happening so much. I have tried to change version multiple times, followed about 15 different ways as to how you could fix and still nothing is working.

Any suggestions for this it will be extremely appreciated.

[2018-10-29 23:45] guido97 commented on #32228
Intentaste esto?  (you tried it?)
https://forums.virtualbox.org/viewtopic.php?f=6&t=82277

[2018-10-30 01:49] Deducts commented on #32228
Yep

[2018-10-30 02:42] paulywill opened #32286 "Link for documentation: use-proptypes-to-define-the-props-you-expect"
There should be a link to the documentation mentioned.

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/front-end-libraries/react/use-proptypes-to-define-the-props-you-expect

![image](https://user-images.githubusercontent.com/602422/47692401-def14d00-dbcb-11e8-9e08-b555d1c1a8b8.png)

[2018-10-30 04:39] Manish-Giri opened #32336 "npm run bootstrap is failing due to Certificate expired issue with pm2"
**Describe the bug**
The `npm run bootstrap` step is failing, leading to [failed Travis builds](https://travis-ci.org/freeCodeCamp/freeCodeCamp/builds/448155115?utm_source=github_status&utm_medium=notification) across several recent PRs.
This is due to "certificate expired" issue with `pm2` - https://github.com/Unitech/pm2/issues/3991
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ex

[2018-10-30 07:15] lightify97 opened #32411 "Can't Run locally"
Hi, I'm trying to build freecodecamp offline but having this issue.
What is happening here.
![fcc](https://user-images.githubusercontent.com/16276964/47701904-2d8aff80-dc3d-11e8-93b5-3a17bc55190f.png)

 - OS: Ubuntu
 - Version 18.04

[2018-10-30 11:21] raisedadead commented on #32336
See: https://github.com/Unitech/pm2/issues/3992 We would need to restart all of those newly failing builds.

[2018-10-30 12:22] TomerPacific commented on #32286
@paulywill ,
willing to take this on if no one has claimed it.

[2018-10-30 12:30] Nirajn2311 commented on #32336
@raisedadead I will start restarting the builds.

[2018-10-30 12:30] Nirajn2311 commented on #32286
@TomerPacific no one has claimed it, so if you are interested I can assign this to you.

[2018-10-30 12:42] sdabhi23 commented on #29630
I would like to help on this one. Can you please share the exact format of the JSON object?

[2018-10-30 13:09] vanditbhatt commented on #32336
I made two PRs and both of them failed due to expired certificate as well.

[2018-10-30 14:48] TomerPacific commented on #32286
I have created a [PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/32635)

[2018-10-30 15:32] tomaspozo commented on #18307
Hola! to all. I believe we should have guidelines for Spanish translations, which include what treatment (formal or informal) to use when referring to actions or the user.  For example, Agregue (formal) or Agrega (informal). - I don't know if this kind of things are found in other languages.

In the last articles I've read I've seen a mix between formal and informal, and I think we should standard

[2018-10-30 16:03] Nirajn2311 commented on #32336
@Manish-Giri @raisedadead  All PRs from 31908 to 32432 (both included) should be restarted.

[2018-10-30 16:49] NitronR commented on #29630
Sure! Here you go:
[code]

[2018-10-30 16:58] paulywill opened #32724 "Travis CI Builds: SecurityError: localStorage is not available for opaque origins"
**Describe the bug**

PR builds for freeCodeCamp / freeCodeCamp are failing in Travis CI with the following:

**To Reproduce**
1. Submit a minor PR change
2. Check build in Travis CI (ie: https://travis-ci.org/freeCodeCamp/freeCodeCamp/builds/448319658)

**Expected behavior**
PR should pass all the builds to allow QAs to merge PRs to repo.

**Screenshots**
![image](https://user-images.githubuserco

[2018-10-30 17:40] RandellDawson commented on #32207
@CodeB9 has already submitted a PR which will most likely be accepted to resolve this issue.  We have a backlog of PRs, so it will be a while before it gets merged.  There is no need to create any additional PRs for this issue at this time.

PRs are merged in the order they are received.

Thank you.

[2018-10-30 17:46] RandellDawson commented on #32228
What exactly does this have to the with this repo?

[2018-10-30 19:16] abood4556 commented on #8221
Your <style> should have a pink-text CSS class that changes the color.
<style>
  body {
    background-color: black;
    font-family: monospace;
    color: pink;
  }
  pink-text{
    color:pink;
  }

</style>
<h1 class="pink-text">Hello World!</h1>
<style>

[2018-10-30 19:17] abood4556 commented on #8221
please solve this problem Your <style> should have a pink-text CSS class that changes the color.

[2018-10-30 20:04] RistoYlem commented on #18201
I had the same problem, but after some searching I found a solution from stackoverflow https://stackoverflow.com/questions/19035373/how-do-i-redirect-in-expressjs-while-passing-some-context

Just add username to the session object, before the redirect line in the '/register' route,  like this:
`req.session.username = req.user.username;`

And then in the '/profile' route save the username into new

[2018-10-30 20:16] paulywill commented on #32724
@ValeraS @raisedadead Correct me if I'm wrong but 'unpacked.js' is asking for:

`window.addAssertsToTapTest = require('./addAssertsToTapTest');`

If this file was missing would that not trip something?

[2018-10-30 20:33] raisedadead commented on #32724
Did you mean this file: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/unpacked.js ?
I believe all this is unused completely. And some of the files around that as well.

If you are investigating, I recommend you look https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/test/test-challenges.js

The challenge-markdown-parser is something worth looking at as well.

[2018-10-30 21:46] vanditbhatt commented on #30517
@jstodd42 You're very welcome. I made the same mistake and went through the same figuring it out.

Keep learning and happy coding.

[2018-10-30 21:49] Nirajn2311 commented on #30517
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours.

If you think I’m wrong in cl

[2018-10-30 21:49] #30517 closed

[2018-10-30 22:03] xeoneux opened #32960 "Curriculum list should show incomplete blocks and sub-blocks"
It'd be easier to know the remaining lessons if they're shown directly in the curriculum list...

[2018-10-31 00:50] Jgriebel1990 commented on #16445
If there is still need I can help with this

[2018-10-31 01:33] ezioda004 commented on #30462
@ValeraS Problem 35 have 3 wrong assertion tests. I've created a new solution for Problem 35 (current one is wrong) and optimized 47 solution to be 4x times faster. However we'd still need to add additional time. Since the inputs are quite big in both tests.

[code]

Shall I update the PR to add correct test and solution for 35 and optimized solution for 47?

[2018-10-31 02:07] huanyichuang opened #33080 "Suggestion: Adding new translation version for Traditional Chinese"
It's just like Portuguese in Brazil is different from Portuguese in Portugal. Chinese used in China and the one used in other regions are also different (from phrases to characters); thus, I wonder if it is possible to start another localization project for Traditional Chinese.

[2018-10-31 04:03] #32724 closed

[2018-10-31 04:25] paulywill opened #33195 "Travis CI: Several redundant error warnings regarding: "Consider adding an error boundary to your tree to customize error handling behavior.""
**Describe the bug**

Several warnings in the Travis CI builds:

`Consider adding an error boundary to your tree to customize error handling behavior.`

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a PR
2. Check the output in Travis CI build

**Expected behavior**

Cleaner builds; maybe reduce build time(?)

**Screenshots**

![image](https://user-images.githubusercontent.com/602422/

[2018-10-31 04:46] HarplingeTom commented on #14002
I would like to propose just removing this entirely. This is a data visualization series after all and devoting a lesson to this POST request is probably not contributing much. Probably this whole section should give more support to the skills necessary to complete the following projects. If each of these lessons utilized an AJAX request that would be good, but it would be better if each also adde

[2018-10-31 04:57] HarplingeTom commented on #14002
If you just need an appropriate url use [https://jsonplaceholder.typicode.com](url)
Here is an example of use:
[code]

[2018-10-31 06:31] sdabhi23 commented on #29630
@raisedadead can I start working on this?

[2018-10-31 06:50] #32336 closed

[2018-10-31 07:35] bhansa commented on #28446
Please update the issue, if it's already completed.

[2018-10-31 07:42] borisyordanov commented on #16445
@Jgriebel1990 i couldn't get in touch with tomasvn so no progress has been done as far as i know. Feel free to take over

[2018-10-31 07:43] HarplingeTom commented on #14002
The following code fixes this I think. I don't think the people at jsonplaceholder.com will mind, it's their reason to be after all.

[code]

Note the use of .textContent instead of .innerHTML, a better practice when you can use it.
Also checking for HTTP status of 201 instead of 200. Probably endpoint dependent but when you are POSTing there's a good chance you'll be creating a resource on the se

[2018-10-31 08:32] ValeraS commented on #30462
Let's do it in separate PRs

[2018-10-31 08:54] xeoneux commented on #32960
Something like this... Bold titles for lessons that are still pending with count on the right and normal titles for completed lessons.

![noname](https://user-images.githubusercontent.com/3099626/47776459-78c61080-dd18-11e8-913b-3b79654eb884.png)

[2018-10-31 09:49] RaspberryLime commented on #18124
Can someone close this as it's fixed? (@dougouverson)

[2018-10-31 09:51] RaspberryLime commented on #32960
This is the same as [
https://github.com/freeCodeCamp/freeCodeCamp/issues/17869](url) I think?

[2018-10-31 10:04] tomasvn commented on #16445
@jgriebel1990 feel free to take over, i wasnt able to get my copy working on windows machine, all i can do is a code review once you are done

[2018-10-31 10:38] xeoneux commented on #32960
@RaspberryLime this is for the profile page, yes. I think #25750 will fix this issue...

[2018-10-31 12:21] stearruda commented on #18309
There are 2 docs not listed in the Issue, but with no PT-BR translation.

- [style-guide-for-curriculum-challenges.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-curriculum-challenges.md)
- [style-guide-for-guide-articles.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-guide-articles.md)

Can I get one of those?

[2018-10-31 14:26] flauberjp commented on #18309
hey @stearruda, what about us divide this one. I could pick the second one: [style-guide-for-guide-articles.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-guide-articles.md).

[2018-10-31 14:38] #18124 closed

[2018-10-31 14:38] roxyd commented on #17154
i can make a page for you, but i don't know how to make a hall of fame or leaderboard. that could be a separate issue for someone.

however i will submit a PR for the security contact page. thank you for making this available to beginners!

[2018-10-31 15:01] roxyd commented on #17154
i think the best way for me to do this is to submit a Markdown file (i am not very good at coding so it would take me a long time) if that is ok. then you can use that to make it into a webpage or link to it or simply copy and paste the text :)

[2018-10-31 17:14] matthewchase commented on #17869
Ello! I put out a PR (#25750) to partially address this. In my diff, I've added the stats to each subsection, and then I figured I could do a second update the portfolio to use the Map component.

I'm new to github and freecodecamp pr's. Is there anything I need to do to get that reviewed, so that it could be merged in?

@raisedadead

[2018-10-31 17:55] paulywill commented on #30709
Another take away from Hacktoberfest... although a pain in the ass I'm sure for the Dev team and QA/moderators, the fact all these users were submitting their first PR is huge. Just learning to navigate and contribute to a git repo is a useful skillset they're going to need.

[2018-10-31 18:48] paulywill opened #33747 "test-ci script / Travis Stage Builds"
Mentioned in several issues already (ie https://github.com/freeCodeCamp/freeCodeCamp/issues/30709 and https://github.com/freeCodeCamp/freeCodeCamp/issues/24688) there's a desired to implement [Travis CI Stage Builds](https://docs.travis-ci.com/user/build-stages).

1. For very selfish reasons, could someone break down the flow of the current `.travis.yml` and overall testing?

[2018-10-31 19:20] erictleung commented on #28446
@bhansa although there are several commits referencing this issue, this particular hasn't been fixed yet.

@dyllper feel free to try and fix this. If you or anyone else needs assistance, please check the [Contributors chat room](https://gitter.im/freeCodeCamp/Contributors). Things are a bit hectic with the mass influx of Guide PRs, so this issue is probably low priority at the moment.

[2018-10-31 20:52] tchaffee commented on #30709
@raisedadead just another thought: the guide doesn't have much relationship to the three things that are highly related: the curriculum, the learn platform, and the api-server. Would it make sense to give the guide its own repo?

[2018-10-31 20:59] paulywill commented on #30709
@tchaffee Was that not what they just moved and archived?

https://github.com/freeCodeCamp/guide

[2018-10-31 21:05] paulywill commented on #12699
@raisedadead @ValeraS
Does this close this issue?
https://github.com/freeCodeCamp/freeCodeCamp/pull/27716

[2018-10-31 21:05] tchaffee commented on #30709
@paulywill **_Everything_** used to be in separate repos. Which wasn't great. It makes development more difficult than it should be. By using Lerna and putting related stuff in a mono-repo it will make local development experience easier. But the guide has nothing to do with local development. That's why I'm suggesting putting it in its own repo might further improve the local dev experience.

[2018-10-31 21:07] #32207 closed

[2018-10-31 21:12] tchaffee commented on #30709
We should look at what other companies are doing for guidance on best practice. Just for example, Facebook doesn't put everything React related in its React main Lerna mono-repo.

https://github.com/facebook/react/tree/master/packages

`create-react-app` has its own Lerna mono-repo:

https://github.com/facebook/create-react-app/tree/master/packages

So the question is: when does it make sense to k

[2018-10-31 23:18] QuincyLarson commented on #18307
@tomaspozo I agree that we shouold standardize around informal.

I agree with you that we should look out for words like "fecha" that have been accidentally translated during our automated translation process.

[2018-11-01 01:19] MP7373 opened #34009 "ES6: Use getters and setters to Control Access to an Object can be passed with an empty class"
On the challenge "ES6: Use getters and setters to Control Access to an Object" you can pass the challenge by simply making a class with the name "Thermostat" that contains nothing.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object

**Tell us about your browser and operati

[2018-11-01 01:47] #12699 closed

[2018-11-01 05:53] ezioda004 commented on #34009
We need to add additional tests to check if the class have a getter and setter and those getter and setter return correct values.

[2018-11-01 08:06] #18210 closed

[2018-11-01 09:52] thecodingaviator opened #34140 "Adding markdown to FCC curriculum"
I was wondering that since markdown is a part of web development/design and people writing blogs or guide articles such as ours would surely at some time encounter markdown which for me, wasn't friendly for the first week or so, so maybe we could have a markdown challenges section added?

[2018-11-01 09:58] Nirajn2311 commented on #34140
@thecodingaviator Along with markdown we could also add some challenges for teaching **git**.

[2018-11-01 10:52] thecodingaviator commented on #34140
@Nirajn2311 Yup, we should

[2018-11-01 13:00] SunflowerPKU commented on #18081
@babyccino @artoodeeto  @felivalencia3  Hey. I am doing a research about helping newcomer make contribution to OSS projects. I found that you all show interested in solving this issue, but unfortunately it failed. Could you tell me why you didn't contribute successfully.  Your reply are important to me. Thanks.

[2018-11-01 15:44] paulywill opened #34150 "CI: test-ci script is missing"
**Describe the bug**
Builds are failing due to 'test-ci- script missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit PR
2. Check the Travis CI build.

**Expected behavior**
Testing scripts should run.

**Screenshots**
![image](https://user-images.githubusercontent.com/602422/47862290-30b3f600-ddcb-11e8-8088-342c29656c11.png)

[2018-11-01 15:52] RandellDawson commented on #34150
@raisedadead Here is that error I mentioned to you earlier.

[2018-11-01 15:56] #33195 closed

[2018-11-01 15:57] Nirajn2311 commented on #34150
The PRs are failing due to command `test-ci` being remove in 4d3641ad889dd914f154ab288fa946edcd48a58f.

[2018-11-01 16:07] paulywill commented on #34150
Thank you @Nirajn2311.

[2018-11-01 16:49] erictleung commented on #34140
@Nirajn2311 thanks for the suggestion. This has been brought up before https://github.com/freeCodeCamp/freeCodeCamp/issues/12479. But like all things, there were issues of higher priority, such as getting the now current site up and running.

From what I gathered from that discussion,

- we don't want to add more to the Getting Started bit,
- we want people learning Markdown to be interactive i.e.

[2018-11-01 16:56] RandellDawson commented on #34150
@paulywill Why did you close the issue, since it has not been resolved yet?

[2018-11-01 17:00] raisedadead commented on #34150
The resolution is to rebase the PRs that are failing. Do we have a count on those?

[2018-11-01 17:28] raisedadead commented on #34140
Hi @thecodingaviator I am inclined to the idea. And maybe this could go into one of our non-certification offerings, definitely not in the getting started section.

Although, we would like to overhaul the some of the other pressing areas of the curriculum. Going off-topic here for a bit, we could love a hand at updating the Bootstrap curriculum (currently still using BootStrap 3) for example.

P.S

[2018-11-01 17:29] raisedadead commented on #16390
This is open for contributions from anyone.

[2018-11-01 17:33] #15819 closed

[2018-11-01 17:35] paulywill commented on #34150
@raisedadead @RandellDawson Sorry I thought the failed PRs were expected with the https://github.com/freeCodeCamp/freeCodeCamp/commit/4d3641ad889dd914f154ab288fa946edcd48a58f

[2018-11-01 17:39] raisedadead commented on #32411
This is a common error with Unix like systems, and not specific to freeCodeCamp setup. @Bouncey do you agree?

[2018-11-01 17:40] Nirajn2311 commented on #34140
@thecodingaviator @raisedadead this feature was discussed before in the curriculum repo -
https://github.com/freeCodeCamp/curriculum/issues/273

[2018-11-01 19:11] Momus commented on #10665
If you close the issue as a duplicate, could you please also link to the main bug report that this is an issue of?  There are, indeed several bug reports for this, all of them are closed, yet the issue still persists.

[2018-11-01 19:17] Bouncey commented on #32411
I thought we had moved off of our fork of `gatsby-source-filesystem`.

@lightify97 try updating your local fork, we recently fixed a bug with memory usage when developing locally.

[code]

[2018-11-01 19:28] raisedadead commented on #32411
Closing because this is a support thread, comments are still welcome.

[2018-11-01 19:28] #32411 closed

[2018-11-01 20:38] Lornz- opened #34154 "Unable to show certification even if making profile public"
**Describe the bug**

When I click on **Show certification** , I got the following error:
_lornz- has chosen to make their certifications private. They will need to make their certifications public in order for others to be able to view them._

**Checked**

* Signed up with Github
* All projects completed
* Academic Honesty Policy accepted
* Certification claimed.
* All toggles in **Privacy Settin

[2018-11-02 06:30] erictleung opened #34160 "Missing closing quotes in paragraphs on Honesty Policy page"
**Describe the bug**
The Honesty Policy page has paragraphs with open quotation marks without corresponding ending ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/academic-honesty

**Expected behavior**
Second, third, and fourth paragraphs need ending quotes.

**Screenshots**
![image](https://user-images.githubusercontent.com/2754821/47897146-acdf2580

[2018-11-02 09:07] thecodingaviator commented on #34140
@erictleung Yup, I definitely agree about not adding it to get started. And @raisedadead I think for maintenance of old technology, a new issue can be opened, I'm still new to the FCC OSS side and am not sure how things work around here. :)

[2018-11-02 15:12] 0jordanmiller commented on #18459
Hi, I am having this same problem when I run npm run seed. Was there an update? I just joined, so I might have missed it while scrolling up.

Environment:
OS: Linux Mint 18.2 Sonya
Node.js v8 12.0
MongoDB shell version: 2.6.10

[2018-11-02 22:11] #17946 closed

[2018-11-03 23:31] MGenteluci commented on #34154
Just to be sure, did you click save after switching the toggles to public?

[2018-11-03 23:49] joryschmidt commented on #17820
I just pasted this in above my routes and it worked like a charm, thank you!

[2018-11-04 02:34] Lornz- commented on #34154
@MGenteluci I can see any **Save** button for Privacy Settings. If I switch toggles, sign out and come back later, changes are preserved.

[2018-11-04 14:36] NitronR opened #34208 "Challenge template incorrect"
**Describe your problem and how to reproduce it:**
I think the challenge template in the "How to work on coding challenges" guide [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-coding-challenges.md) is incorrect . I think there should be these lines:
[code]
Before this:
[code]
Also there are closed section tags without corresponding open tags:
[code]
**Add a Li

[2018-11-04 18:28] laronis commented on #18231
Thanks for sharing!

[2018-11-04 18:46] BTmathic commented on #18201
I had this same problem but found a solution in the FCC [forums](https://www.freecodecamp.org/forum/t/advanced-node-and-express-create-new-middleware/212990/6?u=mathic) (and a linked, closed, GitHub issue). The test for checking if the page has redirected apparently does so by searching for the string 'Home Page' in the '/' route, so if you change your title variable to that it should work. (At le

[2018-11-04 19:58] ricardoopinto opened #34214 "Fallback challenge doesnt accept what seems to be right answer"
.penguin-top {
    top: 10%;
    left: 25%;

    /* change code below */
    background: var(--penguin-skin, black); <== what is wrong here?
    /* change code above */

    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;

    /* change code below */
    **background: var(--penguin-skin, black);**  <== what is wrong here?

[2018-11-04 21:15] vinay72 commented on #14595
It would be an  interesting project  to use React Native Basics with REPL.

[2018-11-04 22:35] BTmathic commented on #16967
(I should add, this is my first time looking at the challenges/tests so I could be missing something obvious about why this can't be done, but it just looks like jQuery with the $.get() so I imagine this would work.)

[2018-11-04 22:49] amasad commented on #14595
Sorry guys we deprecated React native on Repl.it mainly because expo
(upstream) was moving fast and on their playground they'd had a lot better
support. https://snack.expo.io

On Sun, Nov 4, 2018, 1:18 PM Vinay Sagar Sharma <notifications@github.com>
wrote:

[2018-11-04 23:02] huyenltnguyen commented on #34214
Hi @ricardoopinto, thanks for reporting! Please add the link of the challenge to your post so it's easier for others to follow.

[2018-11-04 23:09] meda123 commented on #34214
Hi- I would love to work on this issue once @ricardoopinto shares the link to the challenge.

[2018-11-05 04:37] Melvin-Viana opened #34216 "Advanced Solution on FCC Guides does not work - "Truncate A String""
**Describe your problem and how to reproduce it:**
Advanced solution on the freeCodeCamp guides for the "Truncate A String" challlenge does not work.
See links below.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/
https://learn.freecodecamp.org/javascript-algorithms-a

[2018-11-05 04:38] Melvin-Viana commented on #34216
I copied and pasted the advanced solution and it does not work. Perhaps the challenge has been changed.

[2018-11-05 04:44] Melvin-Viana commented on #34216
This was my solution for anyone who wants to fix the FCC docs in:
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/
[code]

[2018-11-05 13:46] frastlin opened #34222 "Some Fixes that will help screen reader users with the interface"
Hello,
This was originally posted in the [forum](https://www.freecodecamp.org/forum/t/some-fixes-that-will-help-screen-reader-users-with-the-interface/238160).
The coding experience on Free Code Camp is the most accessible interactive tutorial I have seen on the internet for screen reader users. You guys did an excellent job and I've been sending Free Code Camp to everyone.
I have been going throu

[2018-11-05 14:48] ArielLeslie commented on #34214
@ricardokojo The code above does not satisfy the challenge requirements. For help finding a solution to challenges, please create a post in [the FCC forum](https://www.freecodecamp.org/forum/) rather than opening an GitHub Issue.

[2018-11-05 15:48] ricardokojo commented on #34214
I believe I was mentioned by mistake :)

[2018-11-05 15:54] ArielLeslie commented on #34214
Sorry about that. Bad autocomplete. I was trying to mention @ricardoopinto

[2018-11-05 16:12] RandellDawson commented on #34214
I am closing this issue, due to it not actually being a bug.

[2018-11-05 16:12] #34214 closed

[2018-11-05 16:34] nikrb commented on #13157
this challenge is [here](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions) now and seems to work. master seems to work locally.
The [pr](https://github.com/freeCodeCamp/freeCodeCamp/pull/32355) adds two tests checking array is returned and also works locally.

[2018-11-05 17:58] #17642 closed

[2018-11-05 19:17] TomerPacific commented on #17761
joshalling,
mind if I take this issue on?

[2018-11-05 22:37] trilemaestro92 commented on #34208
I can make these changes.

[2018-11-06 02:51] mqdev commented on #30289
![captura de tela 2018-11-06 as 00 50 19](https://user-images.githubusercontent.com/8003445/48039911-01e8a780-e15e-11e8-9c96-8aca9efab065.png)
Here is working well.

Can you attach a copy of the page's source, so we can have a look on what the ide produced?

[2018-11-06 03:08] thecodingaviator commented on #30289
What's happening is @lwy1010 is entering an infinite loop. Adding ?run=disabled to the end of the link would solve this

[2018-11-06 03:09] thecodingaviator commented on #30216
@zybex86 Did you get the PR in yet?

[2018-11-06 03:09] thecodingaviator commented on #29296
@giulianovarriale Have you gotten around?

[2018-11-06 03:14] thecodingaviator commented on #27015
@QuincyLarson / @scissorsneedfoodtoo Is there any way to add it?

[2018-11-06 05:40] lwy1010 commented on #30289
@mqdev Maybe it is working on Safari. Because it is working on Firefox on win10, too. It just not working on Chrome on win10.

page's source? It's this one?: [page-source](https://github.com/lwy1010/blog/blob/master/md_img/page-source.html)

[2018-11-06 05:43] zybex86 commented on #30216
Sorry  no. Didn't set up the site locally and later had no time to work on
it so go ahead and take care of it. I'll happily help when I get more free
time

On Tue, Nov 6, 2018, 04:13 The Coding Aviator <notifications@github.com
wrote:

[2018-11-06 05:52] scissorsneedfoodtoo commented on #27015
@thecodingaviator, just tried adding `?run=disabled` to the end of the SASS @while loop challenge, but wasn't able to get it working. Chrome still froze while I was writing out the loop. Were you able to get it working on your end?

[2018-11-06 07:35] tb47 commented on #17387
Console outputs:

Konsole wurde geleert. understanding-the-differences-between-the-freecodecamp-and-browser-console:28:1
Try to get this to log only once to the browser console frame.js:90:11

I go on learning ... hopeful I don`t miss too much...

[2018-11-06 11:47] mqdev commented on #30289
I mean the source generated by the browser after the sass code das typed.

[2018-11-06 12:04] Nirajn2311 commented on #30216
@thecodingaviator you can take this up, and if you need any help just ask over here.

[2018-11-06 12:30] zybex86 commented on #30216
Really won't have time for the next month

On Tue, Nov 6, 2018, 13:09 Niraj Nandish <notifications@github.com wrote:

[2018-11-06 13:21] #17819 closed

[2018-11-06 14:22] thecodingaviator commented on #30216
@Nirajn2311 I would gladly, can you guide me as to where this file can be found?

[2018-11-06 14:23] thecodingaviator commented on #30289
@lwy1010 Yes, it is a problem that exists only in Chrome, we have faced this issue multiple times and are working on it

[2018-11-06 14:32] thecodingaviator commented on #27015
@scissorsneedfoodtoo Using the code:
[code]
On https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while/?run=disabled](https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while/?run=disabled) works for me@scissorsneedfoodtoo Using the code:
[code]
On https://learn.freecodecamp.org/front-end-libraries/s

[2018-11-06 14:41] joshalling commented on #17761
@TomerPacific Yeah, feel free to submit a PR for this.

[2018-11-06 16:01] alanpaulprice commented on #30498
@RandellDawson I've hit a roadblock with allowing a dynamic object name in the test. I was wondering if you could help me figure it out.

The seed will be:

[code]

The straightforward solution will be:

[code]

However, I'd like to make it so that the user can select a different object name and still have it work. For example, this solution would be accepted:

[code]

Is this possible?

[2018-11-06 17:00] ezioda004 commented on #30498
@alanpaulprice That should be possible with regex albeit a complicated one.
This arises a new problem - currently we're checking for the whole solution as a string and matching a certain pattern.

One way I can think of is by asking the user to assign that object to our provided variable.
Such as:

[code]
And then we can check if `ourStringObject` is passing all the tests correctly.

[2018-11-06 18:38] DoviMaj opened #34236 "Curriculum progress opening page"
the curriculum page always opens the basic html section of the curriculum. shouldn't it open my recent track or at least the section im in?

Also would like to request a feature for the curriculum page: that be added a progress bar regarding the full curriculum as well as the current track in progress. and better navigation

[2018-11-06 19:42] drzsolttorok commented on #17871
Hello,
Unfortunately, this solution doesn't work for me.
(The same as in the "Hint":
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function/
)
Error message:

// running tests
carrot.name should return carrot.
// tests completed

[2018-11-06 22:36] #34216 closed

[2018-11-07 02:53] Davidcreador commented on #28446
Hi! Is this still open? I want to take a crack at it?

[2018-11-07 03:53] gxcad opened #34239 "Basic Algorithm Scripting - Truncate a String"
**Describe your problem and how to reproduce it:**
The solutions in the guide do not appear to work. The logic is questionable, as the solutions speak of subtracting 3, which doesn't seem to make any sense. Perhaps the solution is to a variation of this problem that has since been modified.

If I may suggest an alternative solution that I find actually works:
function truncateString(str, num) {

[2018-11-07 03:54] kinopotato opened #34240 "Referring to ... as an operator"
so the rest or spread is referred to as an operator but I've been informed that it's not.
You can see it in the following places (both coding challenges and guides)
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-the-rest-operator-with-function-parameters/
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/es6/use-the-rest-opera

[2018-11-07 04:03] ezioda004 commented on #34239
Hi @gxcad,

Thanks for opening this issue.
This problem has been fixed in one of the latest PR https://github.com/freeCodeCamp/freeCodeCamp/pull/34228. The updated solution will be pushed to production soon.

Closing this issue.

Happy coding.

[2018-11-07 04:03] #34239 closed

[2018-11-07 04:09] thecodingaviator commented on #34240
The `...` is in fact an operator only afaik and those places have the correct terms. Check here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

[2018-11-07 04:18] thecodingaviator commented on #34140
@erictleung / @QuincyLarson Any updates / decisions on this?

[2018-11-07 04:31] scissorsneedfoodtoo commented on #27015
@thecodingaviator, yes, with that code it passes just fine in both browsers. But I think the issue has more to do with the code being executed as the user is typing, causing the infinite loop and the page to hang. I tried adding `?run=disabled` to the URL in both browsers and typing the following:

[code]

And the page would hang before I could finish typing.

Rather than mess with the way the cod

[2018-11-07 05:06] ezioda004 commented on #34240
Spread is fine, but in the ECMAScript specification, rest is refereed as "Rest Parameter".
Also, in [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters) Rest isnt under "operators".

With Object/Array destructuring they both are referred as "Spread/Rest properties". [Source](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/De

[2018-11-07 05:07] thecodingaviator opened #34244 "Broken tests on D3 add axes to a visualization"
This was discussed before in #17026
**Describe your problem and how to reproduce it:**
On the challenge Data Visualization with D3: Add Axes to a Visualization , the challenge passes with faulty code which would be the Y-axis placed at the wrong place.

The faulty code would be:
[code]

which would result in
![image](https://user-images.githubusercontent.com/34807532/48111766-0950a380-e279-11e8-96

[2018-11-07 05:08] scissorsneedfoodtoo commented on #17871
@drzsolttorok, sorry to hear that! Would you mind posting your solution here so we could take a look?

[2018-11-07 05:14] thecodingaviator commented on #27015
@scissorsneedfoodtoo That looks good but I think it would defeat the purpose of the challenge, that is to get the user to create a full while loop themselves. Of course, if adding run?=disabled is not possible then to change the seed should be our next alternative

[2018-11-07 05:41] scissorsneedfoodtoo commented on #27015
@thecodingaviator, I agree. It would be much better to have the user write out the whole loop, or at least at much of it as possible. With the way the website works now, I don't see that happening without changing the way the SASS challenges are rendered, maybe increasing the time between what the user types and their code is rendered. My concern is that such a change might have some unintended ef

[2018-11-07 06:50] thecodingaviator commented on #27015
@scissorsneedfoodtoo I see the problem with that, maybe do this and ask the user to fix the loop?
[code]

[2018-11-07 07:10] scissorsneedfoodtoo commented on #27015
@thecodingaviator, that's definitely a start, but I think we would still need a bit more to prevent infinite loops. In your example, if `$x: 1;` is in the seed or is added by the user, the page will still hang due to an infinite loop. Might be best to at least have the `<` operator so the page doesn't hang immediately.

[2018-11-07 07:35] drzsolttorok commented on #17871
Hello Kristofer,
Thank you for your email. (ES6: Use class Syntax to Define a Constructor
Function)
I have already got help from FreeCodeCamp.
I used the solution from "HINT", but it didn't work.

 class Vegetable {
     constructor(Vegetable){
       this.Vegetable = Vegetable;

     }
   }

What worked is the code below:

class Vegetable { constructor(name) { this.name = name; } }

Thank you.
Ki

[2018-11-07 10:21] giulianovarriale commented on #29296
Noup. Actually, when I ran the master branch locally, the bug was not there anymore.

[2018-11-07 10:51] thoothie commented on #17913
This is still an issue as well for osx. The directions on top do not match the directions on the bottom.

[2018-11-07 11:02] username1001 opened #34246 "Feature Request: Add a 'save lesson' button"
Hey! :smile:

Sometimes during a lesson, I'll think to myself: "I should return to this later". I usually forget which lesson that was, and that's my mistake, but I think it'd be great to have a "save lesson" button somewhere. Perhaps even an icon, like a star, which then appears next to the link on the curriculum menu.
(Of course I could just remember to write it down, but it may be a useful feat

[2018-11-07 11:06] thoothie commented on #34246
I second this! Here's an example of what's happening and what is frustrating: http://somup.com/cFXiXhn1Nm

[2018-11-07 12:16] parthparth commented on #27015
That sounds better. Should I go ahead and do it?

[2018-11-07 12:32] bharadwaj-pendyala commented on #18159
Facing the same issue, I was like going crazy, thanks @jacobvarner for the thread.

[2018-11-07 14:02] scissorsneedfoodtoo commented on #27015
Sure, go for it! Maybe with just a bit more spacing and an underscore for the user to replace?

[code]

Does that look okay to you?

[2018-11-07 15:18] 7heM1sf3t opened #34248 "Escape Sequences Lesson Re-write"
**Describe your problem and how to reproduce it:**
Instructions are somewhat unclear, not concerning what's being taught but rather the format in which the solution is supposed to be in upon submission.

I've edited a copy of the lesson, but in doing so, I reworded the solutions and now I don't know enough about unit tests to fix that part of it.  I think I did the "text" lines correctly but I'm n

[2018-11-07 17:38] alanpaulprice commented on #30498
@ezioda004

Maybe we could use a capture group to compare the name of the object used to store the imported data vs the object that is having the `.capitalizeString` method called on it? I think I could write the test for that.

Would the code solution to this approach be something like this?

[code]

It'd work, but I think it'd be useful to have dot notation used to access a method on the importe

[2018-11-08 00:17] iiiked opened #34254 "Rosetta Code: IBAN - wrong test arguments"
**Describe your problem and how to reproduce it:**
`isValid()` is receiving incorrect arguments on tests. Try:
[code]

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/coding-interview-prep/rosetta-code/iban/

[2018-11-08 00:19] Lornz- commented on #34154
Any other thoughts?

[2018-11-08 01:45] scissorsneedfoodtoo commented on #27015
That's true. Just do what you feel is best and we can review your PR as it comes in! I'm sure another reviewer will be able to offer more insight and maybe suggest an alternative we didn't think of.

[2018-11-08 01:57] sergeyradov commented on #18308
started to review PRs. ping me if more help needed

[2018-11-08 08:57] Ashish34 commented on #17772
The answer that work for is this:-
let username = "JackOfAllTrades";
let userCheck = /\w\D/; // Change this line
let result = userCheck.test(username);

[2018-11-08 08:59] Ashish34 commented on #17761
Able to pass the test case.
let username = "JackOfAllTrades";
let userCheck = /\w\D/; // Change this line
let result = userCheck.test(username);

[2018-11-08 09:14] thecodingaviator opened #34259 "D3: Scatterplot Example fails tests"
**Describe the bug**
The example given for the D3 scatter plot challenge on CodePen is failing certain tests which it should not have. Only 14 out of the required 16 tests are passing.
The failing tests are namely:
`
6. The data-xvalue and data-yvalue of each dot should be within the range of the actual data and in the correct data format. For data-xvalue, integers (full years) or Date objects are

[2018-11-08 13:02] #16983 closed

[2018-11-08 14:33] ezioda004 commented on #30498
@alanpaulprice

Not sure if I fully understand that but the object that have `capitalizeString` method could very well be of different name, so how'd you compare that? With `import * as <arbitary name>`, the object name can be anything.

Ok - then we should definitely have 2 tests. One which checks if the correct import syntax is used (similar to what we already have currently) and another test if

[2018-11-08 19:06] TomerPacific commented on #17761
@joshalling ,
I tried browsing the repository to find where the solutions to challenges are found, but couldn't find them. Can you point me in the right direction?

[2018-11-08 21:05] chrisdel101 commented on #17379
Is this still an issue? If so, then if I understand the problem correctly, the solution will be creating a text base explanation of how arrow functions work over ES5, emphasizing the chaining of arrow functions, right? I am pretty green PR-wise so not sure if I should just start, I don't want to do it wrong, etc.

[2018-11-08 21:53] SaintPeter commented on #17379
@chrisdel101 My suggestion would be to greatly simplify the problem such that it can be solved by changing a normal function definition into an arrow function definition.  It's not even important that the output of the function be checked, just the syntax.  Just make sure that the instructions line up and that the tests check for the correct syntax.

I think that would be the most direct solution.

[2018-11-09 00:31] username1001 commented on #34259
There is a slight delay in the last two tests, but they did pass for me. I'm seeing 16/16.

[2018-11-09 02:15] RandellDawson commented on #30498
Sounds like you have everything figured out?  Let me know, so I can update the other PR with changes for the import * challenge.

[2018-11-09 05:20] lauras5 opened #34270 "Javascript Algorithms and Data Structures: Solution is wrong"
Solution to 'Truncate a String' Challenge in Javascript Algorithms and Data Structures >Basic Algorithm Scripting>Truncate a String should be below:

`function truncateString(str, num) {`
   `if(str.length <= num) {`
    `return str;`
  `} else {`
   ` return str.slice(0, num) + '...'`
  `}`
`}`

The above works, but when you click on the 'HINT' link and see the solution, it gives you two incorrec

[2018-11-09 07:13] Nirajn2311 commented on #17761
@TomerPacific the solutions are in the same .md file as the challenges are in

[2018-11-09 09:10] RandellDawson commented on #34270
Hi @lauras5,

Thanks for opening this issue.

This issue has been reported. #34216

The problem has been fixed in one of the latest PR #34228. The updated solution will be pushed to production soon.

Closing this issue.

Happy coding.

[2018-11-09 09:10] #34270 closed

[2018-11-09 09:15] T1mL3arn commented on #17485
It looks strange but some solutions are saved and some aren't. For example, my code for [Project Euler: Problem 1: Multiples of 3 and 5](https://learn.freecodecamp.org/coding-interview-prep/project-euler/problem-1-multiples-of-3-and-5) is saved, but not for [Project Euler: Problem 2: Even Fibonacci Numbers](https://learn.freecodecamp.org/coding-interview-prep/project-euler/problem-2-even-fibonacci

[2018-11-09 09:29] TomerPacific commented on #17761
@Nirajn2311 ,
it's wierd. I am not seeing the solution locally, but only on freeCodeCamp's repository. Thanks for the heads up.

[2018-11-09 10:22] martendegroot commented on #34240
MDN seems to call it a spread operator as well: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators#Spread_operator .

I think this name is perfectly legal to use. To me, starting to call it a parameter would be more confusing (it's being used as a function -> operator).

[2018-11-09 10:56] ezioda004 commented on #34240
Spread and Rest are different things (albeit denoted by same token).

In functions `...args` is used as a parameter and hence Rest *parameter*.

[2018-11-09 11:12] martendegroot commented on #34240
Yes, with the rest parameter I'm on the same page. Perhaps replace those and keep the spread as is? I could write a PR for that I think

[2018-11-09 11:30] ezioda004 commented on #34240
Yes, I'm fine with keeping spread as is and updating the "Rest Operator" to "Rest Parameter".

Lets get some more discussion on this then you can open a PR.

[2018-11-09 15:51] #18184 closed

[2018-11-09 16:05] alanpaulprice commented on #30498
@ezioda004

The plan is to create a capture group from `<arbitrary name>`, then use that reference to compare the import to the call to the statement that follows. Sorry if I'm not explaining this well, it's a tricky one to put into words! I have it working in the regex below:

`import\s+\*\s+as\s+([a-zA-Z0-9_$]+)\s+from\s*('|")\s*string_functions\s*\2\s*;?\s*(?:const|let|var)\s+capitalizeString\s

[2018-11-09 17:00] Nirajn2311 commented on #30498
@alanpaulprice Thats way too much regex, isn't there a simpler method.

[2018-11-09 17:41] alanpaulprice commented on #30498
@Nirajn2311 It is a lot indeed!

We could just go with the idea propsed by @ezioda004. We could make it more robust by having the `value` that has to be stored in the variable be something random, not a capitalize string function:

* Have a random `value` stored on a provided object.
* Have the user import that object, then store the `value` in a given variable, accessing it via dot notation.
* Te

[2018-11-09 20:55] Lornz- commented on #34154
I know you guys are busy and work hard to improve this platform and so voluntary. I just wanted to know if someone has seen my issue here and tells me he's going to check it out when he got time. It's better than having no answer at all.

[2018-11-09 21:02] MGenteluci commented on #34154
I haven't seen this problem before, but I'm gonna try and take another look at it, if I have any news i come back to you.

[2018-11-09 21:13] Lornz- commented on #34154
@MGenteluci Thanks! 🙂

[2018-11-09 21:30] #32228 closed

[2018-11-09 23:29] ezioda004 commented on #34254
Unable to produce locally. The tests seem to work fine.
![screenshot from 2018-11-10 04 56 57](https://user-images.githubusercontent.com/20020273/48293484-5913b280-e4a5-11e8-9120-91ec957ec7a4.png)

cc: @nikrb @ValeraS

[2018-11-10 01:59] HarplingeTom commented on #17479
Not working on win 10, Chrome Version 70.0.3538.102 (Official Build) (64-bit)
The odd thing is that it passes all tests except the the one for .test-1
I inspected the element using Chrome dev tools and saw that it had the correct font-size being applied.

[2018-11-10 03:10] HarplingeTom commented on #17479
Thanks for the prompt reply! Will do.

On Fri, Nov 9, 2018, 6:23 PM Kristofer Koishigawa <notifications@github.com
wrote:

[2018-11-10 03:15] HarplingeTom commented on #17479
I tried it, [ctrl-enter] that is, fast, slow, random patterns; still no
dice.

On Fri, Nov 9, 2018, 7:10 PM Tom Skinner <r.tom.skinner@gmail.com wrote:

[2018-11-10 09:24] thecodingaviator opened #34285 "Handle scrollTo event more gracefully for the guide navigation"
I was wondering if this could even be done or not, but can the whole system or the guide at least be ported over to make a react app. Right now it's really annoying having the page reload for everytime we click a link and then having to scroll back to that point in the menu to get to another place. It would surely take time and a lot of effort, but can this be done, if so, I think it should be don

[2018-11-10 09:29] thecodingaviator opened #34286 "Certain guide articles do not show up even though they have complete files"
**Describe your problem and how to reproduce it:**
Certain guide articles like this one: https://guide.freecodecamp.org/certifications/front-end-libraries/react do not show in the guide even though they have fully complete description files like at here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/front-end-libraries/react/index.md

**Tell us about your br

[2018-11-10 09:41] thecodingaviator opened #34288 "Side menu of guide not working properly"
**Describe your problem and how to reproduce it:**
The side nav menu of the guide.freecodecamp.org does not work properly, for example, over here, there are two issues,

1. All subsections of the certifications folder below Data Visualization are not visible, the link to them is not there.

2. Even though, I'm on the Chef page as indicated by the link in the address bar and the article, the nav me

[2018-11-10 09:45] Nirajn2311 commented on #34286
@thecodingaviator these files have data in them, but they still haven’t been pushed to production yet.

[2018-11-10 09:53] ezioda004 commented on #34286
As @Nirajn2311  said it will be added to production soon.

[2018-11-10 09:53] #34286 closed

[2018-11-10 17:46] imi-tating commented on #17665
This one was so frustrating... and I also agree that they need to either remove the statement "...using the object provided." or update the code to reflect that statement.

The following did NOT pass:
import * as capStrings from "capitalize_strings"
"use strict";

However, this did pass:
import * as capStrings from "capitalize_strings";
"use strict";

[2018-11-10 21:55] sergeyradov commented on #14595
@QuincyLarson @gwenf It looks like this issue could be considered as obsolete or refactored to transfer created ReactNative course to expo.io.

[2018-11-11 06:40] myVarEquals opened #34291 "ES6: Create Strings using Template Literals"
**Describe your problem and how to reproduce it:**
You don't have to use any placeholders ie ${myConst} to pass the challenge. And you can simply copy and paste the commented out array provided in the text editor (after removing the asterisks of course). Shouldn't the test be test be checking for the use of placeholders? I know its not listed in the requirements to pass the challenge but placehold

[2018-11-11 07:13] ezioda004 commented on #34291
Hi @myVarEquals,

Thanks for opening this issue.

Yes, you do have to use that in the solution:
[code]

Yeah, this is a problem. I believe adding additional test would fix this.

Assigning this to myself.

[2018-11-11 08:00] HugoLiconV commented on #34140
@raisedadead I would like to help to updating the Bootstrap curriculum. Is there an issue open for that?

[2018-11-11 14:50] #30462 closed

[2018-11-11 19:45] TomerPacific commented on #17267
@jonathan-grah ,
is this still relevant? I would like to fix it.

[2018-11-11 19:48] TomerPacific commented on #17646
@lynxlynxlynx ,
there is a [lesson ](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/match-a-literal-string-with-different-possibilities/ ) at the beginning teaching OR. Maybe we should consider revising the challenge's description to include a reference for it?

[2018-11-11 21:45] HugoLiconV commented on #34009
I'll work on that!

[2018-11-12 01:07] chrisdel101 commented on #17379
I started on this. 2 problems:

1. I can't see my changes in local dev. I posted about it here. It must be something like I am looking at the wrong file https://www.freecodecamp.org/forum/t/not-seeing-changes-in-local-dev-env/239352/3
2. Where is the code for the tests? The YAML has this:
`testString: getUserInput => assert(getUserInput('index').match(/const\s+squaredIntegers/g), '<code>squaredInt

[2018-11-12 02:43] ezioda004 commented on #18190
@fraindz Are you still working on this issue? If not, I'd like to tackle it.

[2018-11-12 02:52] ezioda004 commented on #18127
I'm gonna tackle this one.

[2018-11-12 03:58] scissorsneedfoodtoo commented on #17379
@chrisdel101, great that you started on this!

Seeing local changes is a bit of a process. First you need to reseed the db with `npm run seed`, then enter `npm run bootstrap`. When the last command is finished, enter `npm run develop`, then refresh the page when that's ready. You should be able to see your changes after that.

As for number 2, yes, that's the test. Tests come in pairs with a strin

[2018-11-12 04:29] fraindz commented on #18190
@ezioda004 I am not working on it. You are free to take it.

[2018-11-12 07:14] T1mL3arn commented on #13774
Issue is still present for [Add a box-shadow to a Card-like Element](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/add-a-box-shadow-to-a-card-like-element).

While both of these are correct

[code]

only the second passes the test.

Win7 Firefox 63.0.1

[2018-11-12 07:47] #24573 closed

[2018-11-12 08:02] saravannann commented on #34288
Does that mean whenever you click on a side menu, you expect the other opened side menus to toggle-off to get closed and only the clicked sub-menu to be active at any point of time?

[2018-11-12 10:16] thecodingaviator commented on #34288
Yes, I think that's hoe every normal Nav menu should work

[2018-11-12 11:55] ValeraS commented on #17195
In production, tests begin before the compilation of the sass code is complete. It's resolved in the master branch.

[2018-11-12 11:57] ValeraS commented on #30289
duplicate #17195

[2018-11-12 12:44] #17291 closed

[2018-11-12 12:44] #18321 closed

[2018-11-12 13:31] #30289 closed

[2018-11-12 13:34] thecodingaviator commented on #27015
@scissorsneedfoodtoo these guys did real work. See #34298

[2018-11-12 13:34] #27015 closed

[2018-11-12 14:10] ezioda004 commented on #17922
Issue has been resolve - closing.

[2018-11-12 14:10] #17922 closed

[2018-11-12 14:11] SerkanKorkusuz commented on #13466
This bug has cost a lot of time to me

[2018-11-12 15:08] chrisdel101 commented on #17379
@scissorsneedfoodtoo Reran all the npm scripts and it works now. I'm familiar with Chai but will have to play around with the tests to fully get what is going on.

As for what I was going to re-write, just going to focus more on the syntax and remove the need t=for the function to be written in a particular way, i.e. it has to have an array named a cetain way inside of it. This kind of change is w

[2018-11-12 16:51] bmackinney opened #34307 "Guides are still deployed from freecodecamp/guide"
This may be known/tracked somewhere but I could not locate it.
**Describe your problem and how to reproduce it:**
https://guide.freecodecamp.org reflects https://github.com/freeCodeCamp/guide repository

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/wordpress is https://github.com/freeCodeCamp/guide/blob/master/src/pages/wordpress/index.md
instead of https://github.co

[2018-11-12 17:36] skhashaev opened #34309 "Invalid solution in a hint"
**Describe your problem and how to reproduce it:**
In a hint for conditional operator shown an invalid solution.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator/

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Vers

[2018-11-12 17:42] thecodingaviator commented on #34309
This was fixed in PR #34225 it would soon be pushed to master . I'm fixing the formatting of the file.

[2018-11-12 17:52] RandellDawson commented on #34309
As @thecodingaviator stated above, this has been resolved, but until the changes have been pushed to production, it will still show.  Due to it being fixed, I am closing this issue.

Thank you.

[2018-11-12 17:52] #34309 closed

[2018-11-13 01:40] kalzimonium commented on #17479
This still hasn't been fixed. First I thought it was my browser since I was using brave, then changed to chrome and the same. Then came to this thread and read that it is working for some people on firefox, tried it and it literally broke the brower everytime I typed my code. Firefox keeps giving me an error message that "this page is slowing down your broswer" and it gives me the options of "wait

[2018-11-13 02:02] thecodingaviator commented on #17479
The changes have not yet been pushed to production. They will soon be

[2018-11-13 02:07] ezioda004 commented on #18063
Hi @misacorn,

Thanks for opening this issue. As explained above, the code get evaluated for syntax before compilation and running the tests.

Since this is not a real issue, I'm closing this.
Feel free to open a new one in future.

Happy coding!

[2018-11-13 02:07] #18063 closed

[2018-11-13 02:35] ezioda004 commented on #18035
Hi @gvsrusa,

Thanks for opening this PR. Seems like its fixed in one of the previous PR's https://github.com/freeCodeCamp/curriculum/pull/190

Hence I'm closing this issue.

Feel free to open this issue again if you think its still a problem.

Happy coding!

[2018-11-13 02:35] #18035 closed

[2018-11-13 03:00] ezioda004 commented on #17852
Gonna take a stab at it.

[2018-11-13 09:08] thecodingaviator commented on #34140
I think we can add it in the APIs and Microservices certification, somewhere next to the npm challenges.

[2018-11-13 10:32] thecodingaviator commented on #34307
No, afaik the guide is nor being deployed from this repo but the new changes have not yet been pushed to production. They soon would be. This issue can be closed :)

[2018-11-13 10:35] thecodingaviator opened #34319 "Make formatting for guide articles compulsory"
What I have been seeing is that we are accepting PRs which are not following the template given at https://www.freecodecamp.org/forum/t/freecodecamp-algorithm-challenge-template-guide/14272 . I think for new PRs maybe all those submitted starting from 20/11/2018, if not following this template should be rejected.

[2018-11-13 10:36] thecodingaviator commented on #34319
I agree that the template is only for the JS algorithm challenges, but uniformity over the whole guide would be really good.  In the meantime, I am manually porting over as many of these articles as I can to the template. Working on the React section right now.

[2018-11-13 10:54] geecheeche commented on #17912
I share the same sentiments. It is frustrating to say the least. The descriptions do nothing to help as they are misleading a great deal.

[2018-11-13 11:00] ezioda004 commented on #34319
I believe this has been discussed in the past with Quincy and the gist was that we're for now, not following any templates for the guide articles, including the solution.

The template mentioned in the forum article was done by one person only, thats why they are similar and have same format.

[2018-11-13 11:03] thecodingaviator commented on #34319
Okay, but I think that now after this Hacktoberfest should be a nice time to reconsider this, delaying it would mean that later more articles would have to be ported over manually by a fewer number of people

[2018-11-13 11:09] #34307 closed

[2018-11-13 11:11] Nirajn2311 commented on #18005
In IPad, Safari, the error was

[2018-11-13 12:52] nikrb commented on #18069
Can no longer reproduce this error locally on latest master

[2018-11-13 13:14] Bouncey commented on #18722
@Manish-Giri The curriculum and guide have been moved to the project root. Does that solve this issue? I cannot test myself as I do not use windows

[2018-11-13 13:16] Bouncey commented on #18185
Closed via #34261

[2018-11-13 13:16] #18185 closed

[2018-11-13 14:13] lynxlynxlynx commented on #17646
It's better to have it separate, so the lessons are sharper, but I'll update the title.

[2018-11-13 14:38] reubengt opened #34323 "Truncate a String- Hint Section needs updating"
The JavaScript truncate a string exercise under the Basic Algorith Scripting section has a help/hint section that needs editing.

I solved the exercise as per the given instructions, passing all tests, with the following code

https://repl.it/@reubengt/Truncateastring

then checked the hint section just to compare my method and the fcc solution, and there seemed to be an additional condition for t

[2018-11-13 14:45] ezioda004 commented on #34323
Hi @reubengt,

Thanks for opening this issue.

This issue has been reported. #34216

The problem has been fixed in one of the latest PR #34228. The updated solution will be pushed to production soon.

Closing this issue.

Happy coding.

[2018-11-13 14:45] #34323 closed

[2018-11-13 16:48] dverdin83 commented on #17965
I have the same problem even after cache clearing. I haven't had this issue with any other challenges and I'm about halfway through the challenges.

[2018-11-13 17:40] TomerPacific commented on #18069
@alhazen1 ,
according to @nikrb statement, I will be closing this issue in 24 hours. If anything changes, reply here.

[2018-11-13 17:40] TomerPacific commented on #17646
@lynxlynxlynx ,
so what would you like to be done? I'm up for revising it.

[2018-11-13 17:46] TomerPacific commented on #17267
@jonathan-grah ,
I'm on it.

[2018-11-13 18:53] lynxlynxlynx commented on #17646
Oh, if I wasn't clear: I believe an extra lesson is in order, right after the OR one. Maybe something like "find all the words that have 'foo' or 'bar' in them", just long enough to avoid character-list hacks.

[2018-11-14 02:50] ezioda004 commented on #34319
Closing as per https://github.com/freeCodeCamp/freeCodeCamp/pull/34320#issuecomment-438498667.

[2018-11-14 02:50] #34319 closed

[2018-11-14 04:08] ezioda004 commented on #19693
Already fixed in master branch.

[2018-11-14 04:08] #19693 closed

[2018-11-14 04:13] ezioda004 commented on #17784
Working on a fix.

[2018-11-14 05:17] Bouncey commented on #34285
@thecodingaviator The guide has always been made with react. It was built with `gatsby v0.*`. What the issue your seeing is a `scrollTo` event firing when the navigation is clicked.

It has been so long since I have worked on that set of components, I couldn't even guess where to look. It might be something we have implemented, or it could be coming from `gatsby-link`(which is now deprecated in fa

[2018-11-14 08:52] thecodingaviator commented on #34285
I see. So what can we do about it right now, or should we leave this for the mean time till we can finish the Hacktoberfest PRs?

[2018-11-14 09:31] Bouncey opened #34328 "Create a role system for API use"
As we plan to expand our API and application surface area, we need to implement the use of role-based API protection.

- [ ] Roles should include `guest`, `user`, `organiser`, `editor`, `admin`
- [ ] We should be able to add new roles at a later date
- [ ] We should be able to protect role specific routes via middleware

[2018-11-14 15:30] tbushman commented on #17506
@QuincyLarson Thanks for informing us. We will need to update the radio button user story to clarify that the `value` attribute is required in addition to `name`.
https://github.com/freeCodeCamp/testable-projects-fcc/issues/700

[2018-11-14 21:31] matthewchase commented on #32960
fix now at https://github.com/freeCodeCamp/freeCodeCamp/pull/34331

[2018-11-15 01:46] MisanthropeMurphy opened #34333 "ES6: Write Concise Declarative Functions with ES6 Will faill if normal functions are used in commented code"
**Describe your problem and how to reproduce it:**
I commented out the code and then followed the new syntax for the challenge, but because the commented out code had normal function declaration it didn't pass.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6

**Tell us about your

[2018-11-15 03:00] ezioda004 commented on #34333
Hi,

We used regex to match "function" keyword in the code but this instance can be fixed.
I'll take a stab at it.

[2018-11-15 10:14] Casva commented on #29296
Actually I'm able to see it. I can work on this!

[2018-11-15 10:38] salv236 opened #34336 "curriculum flexbox missing value throughout the challenges for justify-content"
the content is missing the space-evenly property for justify content, the curriculum for flexbox may need to be adapted to mention this import value.

[2018-11-15 12:01] TommyBakkenMydland opened #34337 "Broken test on React: Render a Class Component to the DOM"
**Describe your problem and how to reproduce it:**
On submit the sites crashes.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/render-a-class-component-to-the-dom

**Tell us about your browser and operating system:**
* Browser Name:  Chrome, Edge, IE
* Browser Version: Most Recent
* Operating System: Windows 10

**If possible, add a screensho

[2018-11-15 12:06] ezioda004 commented on #34337
Hi @TommyBakkenMydland,

The issue is that you're trying to render the class component (TypesOfFood) *inside* itself, hence it forms infinite recursion and crashes the browser.

[2018-11-15 12:33] Nirajn2311 commented on #34337
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours.

If you think I’m wrong in cl

[2018-11-15 12:33] #34337 closed

[2018-11-15 14:58] bhoibrijesh commented on #16996
CSS Grid: Limit Item Size Using the minmax Function
Using the minmax function, replace the 1fr in the repeat function with a column size that has the minimum width of 90px and the maximum width of 1fr, and resize the preview panel to see the effect.

<style>
  .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}
  .i

[2018-11-15 15:22] RandellDawson commented on #34309
**Attention Reviewers:** There are 3 previous PRs  (#22633, #29292, #30038) which make changes to this challenge.

[2018-11-15 16:51] thecodingaviator commented on #17833
@Nirajn2311 I guess this could be done to other challenges if the person in question can list them

[2018-11-15 16:52] thecodingaviator commented on #34336
I’m not sure what you mean. When you type space-evenly into the curriculum code, it doesn’t run?

[2018-11-16 01:39] MMahendra001 opened #34343 "https://github.com/freeCodeCamp/freeCodeCamp/pull/34303"

[2018-11-16 01:43] #34343 closed

[2018-11-16 02:02] ZebulanStanphill opened #34344 "Tests for various challenges are too strict about whitespace around function arguments"
## The problem
In the "[React and Redux: Moving Forward From Here](https://learn.freecodecamp.org/front-end-libraries/react-and-redux/moving-forward-from-here)" challenge, I tried the following code:
[code]

However, this code did not pass the tests. But if I simply remove the spaces, it passes:
[code]

I think the tests for this challenge need to be less strict on spacing. Perhaps a partial minif

[2018-11-16 13:47] scissorsneedfoodtoo commented on #18722
@Manish-Giri, just took a look at this on my Windows machine and the filename lengths don't seem to be a problem anymore. Granted, my path is a couple of characters shorter than yours, but it seems safe to close this for now.

[2018-11-16 13:47] #18722 closed

[2018-11-16 16:55] #32286 closed

[2018-11-16 17:36] thecodingaviator commented on #24688
Guys, if the script has been run fully, #21951 hasn't rebuilt

[2018-11-16 18:53] luzmuller commented on #11773
Hi,
I had the same issue and I delete the declaration and assignment given to do the test, and then it worked well

[2018-11-16 19:54] mariatheresahqs commented on #17822
Same issue with my "Heat Map", and my "Timeline" sometimes does not appear on the profile page.

**Browser and operating system**
Browser Name: Google Chrome
Browser Version: Version 70.0.3538.102 (Official Build) (64-bit)
Operating System: macOS Mojave - version 10.14.1

[2018-11-17 07:54] thecodingaviator opened #34357 "Confusing Instructions in Applied Visual Design Challenge"
**Describe your problem and how to reproduce it:**
In the Applied Visual Design challenge - Learn about tertiary colors, the instructions state that orange and raspberry are not browser recognized color names, even though orange is in fact, identifiable by modern major browsers, the problem I think, lies in the fact that the hex code given for orange i.e. `#FF7D00` and `orange` are different color

[2018-11-17 07:55] T1mL3arn opened #34358 "Bad UX for splitter of description's and code's panels"
**Describe the bug**
It is hard to catch the splitter between panels to drag it. Scrolling controls on the splitter makes a bad user experience if one tries to drag it.

**To Reproduce**
1. Go to challenge page like this - https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection/
2. Try to drag separator (which is between a code panel and a descri

[2018-11-17 07:55] thecodingaviator commented on #17489
@jooji-san If your issue has been resolved, please close this thread, else comment with what changed you'd like to see

[2018-11-17 07:58] thecodingaviator commented on #34358
I think the trade-off of making it easier to hold has been made to make it uniform with the rest of the website and other websites and in favor of not making it so 'ugly'.

[2018-11-17 16:29] nirmalathapa commented on #17965
try to use the incognito browser and see if it works. Also I had tested myself it work perfectly couple of months ago but don't know if something broke now and does not work

[2018-11-17 16:44] #17489 closed

[2018-11-17 20:47] JuanjoA commented on #17589
Same here, it's not clear and demands the link to github.

[2018-11-17 20:53] tracer223 commented on #28446
Decided to take a stab at this last night/this morning... here's my local code ```blockNameify.js``` file in ```freeCodeCamp/client/utils``` :

[code]
I tried adding a second if statement as well as a change to the ```const preFormatted Block Names``` to see if I could somehow 'force' a change and see if anything would change locally in my test environment.

This compiles and passes tests but does

[2018-11-18 07:07] akkatracker opened #34367 "Inconsistent Indentation in Understanding Boolean Values"
**Describe your problem and how to reproduce it:**
I feel as though this question's starter code is inconsistent with all the surrounding questions, where the body of functions are indented.

The `return false` (and potentially the comments above and below it) should be indented to make the challenge consistent, and encourage good style.

**Add a Link to the page with the problem:**
https://learn.

[2018-11-18 07:40] QuincyLarson commented on #17814
@memilanuk Could you share a screen shot of what you're seeing? I'm seeing this, which is imperfect vertical centering:

<img width="1300" alt="front_end_libraries_projects_-_build_a_markdown_previewer___learn_freecodecamp" src="https://user-images.githubusercontent.com/985197/48669866-41dd6080-eb48-11e8-9ebd-f64c7a18dfa3.png">

[2018-11-18 08:09] ezioda004 commented on #34367
Hi @akkatracker,

I agree, this is small bug. Would you be interested in fixing this?

[2018-11-18 08:16] mccoymap opened #34368 "Run the Tests not working"
**Describe your problem and how to reproduce it:**
Hi all. The 'Run the Tests' button doesn't appear to be working. I have entered <h1>Hello World</h1> but when I click the Run the Tests button, I get the '// running tests' message. I tried to clear the cache but this does not seem to have worked. Does anyone have any suggestions? Thanks and all the best.

**Add a Link to the page with the problem

[2018-11-18 08:20] Nirajn2311 commented on #34368
@mccoymap could you put a screenshot of your code?

[2018-11-18 08:23] ezioda004 commented on #34368
Hi @mccoymap,

Thanks for opening this issue.
We currently do not support Edge. Please use Chrome or Firefox.

[2018-11-18 08:23] #34368 closed

[2018-11-18 08:30] mccoymap commented on #34368
Thanks guys! All working in Chrome as you suggested. All the best

[2018-11-18 08:46] akkatracker commented on #34367
I'm happy to leave it open for a first timer ☺

[2018-11-18 13:32] mikeattara commented on #34367
Hi @ezioda004

I will like to take up the task

[2018-11-18 14:01] ezioda004 commented on #34367
@akkatracker Go ahead. Feel free to ask any questions if you get stuck.

[2018-11-18 16:15] mikeattara commented on #34367
Hi @akkatracker and @ezioda004  I have fixed the inconsistency

[2018-11-18 16:36] ezioda004 commented on #34367
Fixed via #34373

[2018-11-18 16:36] #34367 closed

[2018-11-19 02:31] QuincyLarson opened #34380 "Update the standard email sent upon completing all certifications"
**Describe the bug**
Currently when a camper completes all the certifications, we send them an email from team@freecodecamp.org. We can now simplify this logic to just send the email once they've claimed the Full Stack Developer Certification, since that means they will have completed all 6 of the non-legacy certifications.

Also, could we have this email come from quincy@freecodecamp.org instead

[2018-11-19 08:03] thecodingaviator commented on #34380
@QuincyLarson My 2 cents on that- maybe we could have the replies forwarded to your email. In my opinion, having them sent from your email address seems a bit unprofessional.

[2018-11-19 09:14] Bouncey commented on #34380
@thecodingaviator As Quincy is the founder of freeCodeCamp.org, it seems fitting for a congratulatory email to come from him. It seems more personable in my opinion.

[2018-11-19 10:31] Nirajn2311 commented on #34380
@thecodingaviator when you get the mail from the founder himself, you get that sense of achievement or accomplishment. So I think it is better if the mail itself can from Quincy.

[2018-11-19 10:50] RA9 commented on #34380
@Nirajn231 I agree with you , it feel more idea and personal when you've been congratulated by the founder.
I think it will be more professional if  you guys will combine the congratulatory message like "On behalf of the FreeCodeCamp community and team we congratulate you on your success for completing the fullstack certification".

[2018-11-19 11:01] jzeltn commented on #14234
I can't sleep so I'll give it a try.

[2018-11-19 12:18] Flarp commented on #14234
@jzeltn Check the repo I linked, I think everything should already work.

[2018-11-19 13:46] thecodingaviator commented on #34380
When you put it that way, it makes more sense.

[2018-11-19 13:47] thecodingaviator commented on #34380
So yeah, I think that te proposal is great

[2018-11-19 18:36] HugoLiconV commented on #34380
I'm working on it!

[2018-11-19 19:40] nemanjajeremic opened #34394 "Challenge (Hazards of Imperative Code) passes after running tests without any changes made to the code"
**Describe your problem and how to reproduce it:**
After "Run the tests" is clicked, challenge is marked as completed and you can proceed to the next challenge. This happens even without making changes to the original code, meaning it happens with incorrect output.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-prog

[2018-11-20 04:32] thecodingaviator commented on #17836
Please refer to the discussion on PR #34275 and close this issue. @dakshshah96

[2018-11-20 05:47] tarik-ali opened #34396 "Incorrect Count of projects completed"
**Describe the bug**
The number of projects I completed and the number of projects displayed on the home page as completed do not match.

**Screenshots**
![capture](https://user-images.githubusercontent.com/44884329/48790271-d5777400-eca3-11e8-8568-f12919216432.PNG)
![capture2](https://user-images.githubusercontent.com/44884329/48790281-de684580-eca3-11e8-8b3b-d8324e73c884.PNG)

**Desktop (please

[2018-11-20 05:51] #34380 closed

[2018-11-20 05:52] farisoft commented on #34380
@HugoLiconV - thanks for your contribution!

[2018-11-20 11:52] nemanjajeremic opened #34401 "add introductory text to intermediate algorithm scripting"
**Describe your problem and how to reproduce it:**
There is no introductory test to this part of the challenges, only a stub.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting

**Tell us about your browser and operating system:**
* Browser Name:  Mozilla Firefox
* Browser Version: 63.0.3
* Operati

[2018-11-20 16:18] paiva-thiago commented on #6670
Hey guys!

I get the certificate printed on a A4 in the following steps:

1. Getting the image with Firefox screen capture;
2. Opening the image saved on downloads and printing landscape on a PDF printer
3. Checking the pdf file and printing in a regular printer.

[2018-11-20 16:59] imambungo commented on #29554
how about changing [the directory](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement) name?

from this:
-iterate-through-the-keys-of-an-object-with-a-for...in-statement
to this:
-iterate-through-the-keys-of-an-object-with-a-for---in-st

[2018-11-20 21:24] alexch opened #34407 "In the Rosetta Code challenges, the "General FizzBuzz" challenge has broken tests"
**Describe your problem and how to reproduce it:**

the General Fizzbuzz challenge has broken tests, including some ugly `JSON.stringify` code instead of readable, functional tests.

(It seems to be some over-generalized code that worked on the old platform but no longer works inside the "learn" app. I think I can fix it -- please feel free to assign it to me.)

**Add a Link to the page with the p

[2018-11-20 23:44] scissorsneedfoodtoo commented on #34407
@alexch, great catch! Thanks for pointing this out. freeCodeCamp/curriculum#277 was merged just before the major restructuring that's been going on, so it may not have made it into the new npm package / production. This is a great reminder for me to check this and the other problems out locally now that they've been moved here.

[2018-11-21 04:57] ezioda004 commented on #34407
@scissorsneedfoodtoo Tested it locally, its fixed it master.

[2018-11-21 06:31] thecodingaviator commented on #34285
@Bouncey Then how can/should we proceed with this?

[2018-11-21 06:45] scissorsneedfoodtoo commented on #34285
@thecodingaviator, thanks for looking into this. Since it could be Gatsby Link that could be causing the issues, [these files](https://github.com/freeCodeCamp/freeCodeCamp/search?q=gatsby-link&unscoped_q=gatsby-link) and the docs [here](https://www.gatsbyjs.org/docs/gatsby-link/) might be good places to start.

[2018-11-21 06:48] thecodingaviator commented on #16439
@QuincyLarson / @ezioda004 / @raisedadead I think this issue should take high priority now since we have just a month before the API is deprecated and holiday season is starting so everyone would not be free at all times

[2018-11-21 06:58] thecodingaviator commented on #17487
@jooji-san If this answers your question, please close the issue

[2018-11-21 07:00] thecodingaviator commented on #17545
I think we need to check this with a RegEx. What are your opinions @ezioda004 and @erictleung ?

[2018-11-21 07:37] Dejiman71 commented on #10100
i'm confused about this question

[2018-11-21 08:21] mini-gui commented on #10406
I found out that it will sync if you log out and immediately log in again, cheers!

[2018-11-21 08:32] thecodingaviator commented on #17272
@QuincyLarson Since we have not heard from @kratikaguptauser , I think we can close this issue

[2018-11-21 08:33] thecodingaviator commented on #17271
@moT01 / @dcaspit I think this issue cam be closed

[2018-11-21 08:37] thecodingaviator commented on #16874
@schalkneethling If you're free now, maybe you can start?

[2018-11-21 08:38] thecodingaviator commented on #17195
The issue has been fixed this can be closed.

cc: @ezioda004

[2018-11-21 08:39] thecodingaviator commented on #17095
@thefrontendwizard Are we still on with this?

[2018-11-21 08:42] thecodingaviator commented on #17249
All tests are passing now, please close this issue @dcookwebdev / @scissorsneedfoodtoo

[2018-11-21 08:43] thecodingaviator commented on #17301
These links have been fixed @jefferson2z / @scissorsneedfoodtoo

[2018-11-21 08:44] thecodingaviator commented on #17300
@QuincyLarson Any example profile where I can see this in action?

[2018-11-21 08:46] thecodingaviator commented on #17304
@Bouncey Any clues as to where I can find this 'list' of search terms and fix it?

[2018-11-21 08:49] thecodingaviator commented on #17438
Thank you for the offer @TheJaredWilcurt , I don't see where we can fit this reference in a.t.m., maybe you can close the issue for now?

@QuincyLarson or @raisedadead I'd like to get your opinion on the same

[2018-11-21 08:51] thecodingaviator commented on #17330
@mstellaluna / @psitronic  I think this should be fixed now, if not, please tell me what's going on, I'm not able to understand what's been written above, try to be to the point

[2018-11-21 08:54] thecodingaviator commented on #17572
@ezioda004 I think a month was enough time for any of the users to reply if they were still interested. I think we should close this issue

[2018-11-21 08:55] thecodingaviator commented on #17570
@P1xt / @JohnnyBizzel I think this should've been fixed now?

[2018-11-21 08:56] thecodingaviator commented on #17570
@P1xt I just check and ran the same solution 5 times, it passed every time. Please close the issue

[2018-11-21 08:58] thecodingaviator commented on #17552
@Nirajn2311 I had fixed this in a recent PR, I'll link it here soon. Please close the issue

[2018-11-21 09:00] thecodingaviator commented on #17570
@JohnnyBizzel Your issue was fixed in #18828 , @scissorsneedfoodtoo please close this issue.

[2018-11-21 09:02] thecodingaviator commented on #17461
@Shidigital Is it fine now? If not, please reply with the issues you are still facing, if any, else close the issue

[2018-11-21 09:03] thecodingaviator commented on #17548
It will, because this cannot be validated by tests and has to happen manually, we can't do this for every user and this is a project so we expect academic honesty from them. If you require more clarification on how this works reply over here or close the issue

[2018-11-21 09:19] nemanjajeremic commented on #34401
Very well, closing this issue.

[2018-11-21 09:21] thefrontendwizard commented on #17095
I'm really not sure. Personally I'm not. The automated translations kind of solved the translating problem. It'd be useful to have a mean to quickly compare different languages sometimes, but I'm not sure this is worth doing a separate application anymore. I'm gonna close this for now. If @tchaffee or anyone else is still pursuing this, feel free to open up and follow up on the topic.

[2018-11-21 09:21] #17095 closed

[2018-11-21 09:38] ezioda004 commented on #17195
Fixed in master, closing.

[2018-11-21 09:38] #17195 closed

[2018-11-21 10:29] thecodingaviator commented on #17662
I'm working on this, you can close the issue in the meantime @Roninii

[2018-11-21 10:30] thecodingaviator commented on #17659
@moT01 I think that now with the new curriculum, this is fixed?

[2018-11-21 10:31] thecodingaviator commented on #17654
@Nirajn2311 / @ezioda004

[2018-11-21 10:33] thecodingaviator commented on #17648
Works fine for me as of now. @urbanware if it's fixed for you, please close the issue

[2018-11-21 10:33] thecodingaviator commented on #17646
@lynxlynxlynx If you haven't taken this, maybe I can create a new lesson?

[2018-11-21 10:35] thecodingaviator commented on #17645
Reordering exercise as in?

[2018-11-21 10:35] thecodingaviator commented on #17640
@QuincyLarson Since the user has not yet got back to us, I think we should close this?

[2018-11-21 10:40] #17654 closed

[2018-11-21 10:43] thecodingaviator commented on #17602
I don't think this should be done, there are other things that we want the user to see too. So @jooji-san please close the issue :)

[2018-11-21 10:44] thecodingaviator commented on #17606
@ezioda004 I had fixed this in #19717 , please close the issue

[2018-11-21 10:45] thecodingaviator commented on #17615
@ezioda004 Please close this issue, it's fixed for the user, they forgot to close it

[2018-11-21 10:47] thecodingaviator commented on #17686
@kevcomedia I have done this challenge some days ago and afaik the problem has been fixed. Please close the issue

[2018-11-21 10:49] thecodingaviator commented on #17683
@udidol / @scissorsneedfoodtoo I just checked and this problem has been fixed. Please close the issue

[2018-11-21 10:50] thecodingaviator commented on #17701
@ArtemSer Afaik, this has been fixed. Please close the issue.

cc: @scissorsneedfoodtoo

[2018-11-21 10:51] thecodingaviator commented on #17710
@raisedadead / @QuincyLarson If you want, I can develop a script that will screenshot the certificate and display it as an image, this would also help in ensuring all certificates are of the same size or we can have a numbering system

[2018-11-21 10:52] thecodingaviator commented on #17719
@gezzalou88 / @scissorsneedfoodtoo Please close the issue :)

[2018-11-21 10:54] thecodingaviator commented on #17742
It is considered general practice to not use commas afaik and afai have seen. Please close the issue if it answers your question, we also at FCC do not teach afaik to use trailing commas

[2018-11-21 10:58] thecodingaviator commented on #17734
This has been fixed in #19390 , @RandellDawson since you had made the PR, I request you to also close the issue :)

[2018-11-21 10:59] thecodingaviator commented on #17762
@BogdanDor This is now working correctly, please close the issue.

![image](https://user-images.githubusercontent.com/34807532/48837187-a861b900-edaa-11e8-9be8-5c106407b3bf.png)

cc: @ezioda004

[2018-11-21 11:00] thecodingaviator commented on #17756
Guys, are any of you still facing any issue in any challenge.

cc: @mav1283

[2018-11-21 11:01] thecodingaviator commented on #17802
@Chris2Brooks I had checked recently and this has been fixed. Please close the issue :)

[2018-11-21 11:02] #17701 closed

[2018-11-21 11:17] thecodingaviator commented on #17810
This was fixed long ago. @Chris2Brooks please close the issue.

[2018-11-21 11:19] thecodingaviator commented on #17811
I think changing 3 to infinite automatically explains what is happening. @Chris2Brooks please close the issue

[2018-11-21 11:22] thecodingaviator commented on #17825
The spacing issue was fixed. Please close the issue @StubRavi

[2018-11-21 11:23] thecodingaviator commented on #17826
@rperry99 In that case, please close the issue

[2018-11-21 11:29] thecodingaviator commented on #17832
Yeah, the current text is okay if the student reads the full thing. Please close the issue @ammarasmro

[2018-11-21 11:31] thecodingaviator commented on #17838
This has been fixed in the new curriculum . Please close the issue @9064911

[2018-11-21 11:33] thecodingaviator commented on #17854
@abenjamin765 it works fine now. Please close the issue

[2018-11-21 11:40] Arkcoderunner21 commented on #17854
Close

[2018-11-21 11:48] Arkcoderunner21 opened #34409 "trouble with security card page load"
Security card page will not load

[2018-11-21 11:54] #34409 closed

[2018-11-21 11:59] azurvii commented on #17742
@thecodingaviator Do you have any reference for the "general practice" you mentioned?

[This feature](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas) has a long history. And in places it's supported, it's generally the recommended practice AFAIK, e.g. [Google JavaScript Style Guide](https://google.github.io/styleguide/jsguide.html#features-arrays-trailing-comma),

[2018-11-21 12:18] thecodingaviator commented on #17742
@azurvii No, I don't, I'm speaking from the code which i have seen

[2018-11-21 12:30] #17686 closed

[2018-11-21 13:01] #17552 closed

[2018-11-21 13:15] mav1283 commented on #17756
@thecodingaviator  Everything's working except for the last one now

[2018-11-21 13:19] raisedadead opened #35667 "Make other ways to donate expandable on the donation page instead of a separate page"

[2018-11-21 13:20] raisedadead opened #35669 "Poll Stripe API for no of donators"

[2018-11-21 13:48] raisedadead commented on #17095
We are not pursuing the editor anymore.

We have made good progress in making the local setup working with live changes to the markdown based challenges now. :tada:

We think this is seamless enough for most contributors, with just having to edit markdown, and see the changes live for the coding challenges.

[2018-11-21 14:49] #17683 closed

[2018-11-21 15:20] thecodingaviator commented on #17756
@mav1283 You mean the while loop lesson? It's been fixed but the changes have not yet been pushed to production i.e. not yet implemented on the main website. You can close the issue

[2018-11-21 15:30] thecodingaviator commented on #17956
It's passing at:
![image](https://user-images.githubusercontent.com/34807532/48851183-6c414f00-edd0-11e8-984c-cb2e3d0e6766.png)
So, @frank-rui / @ezioda004 please close the issue

[2018-11-21 15:31] thecodingaviator commented on #17953
@ezioda004 I think this can be closed!

[2018-11-21 15:32] thecodingaviator commented on #17958
@RandellDawson I think it's fixed now, it's working for me:
![image](https://user-images.githubusercontent.com/34807532/48851296-aca0cd00-edd0-11e8-888a-8eb68d29aba7.png)

So maybe you can close the issue?

[2018-11-21 15:35] thecodingaviator commented on #17950
Yes, so it's showing the wrong thing because you're unwantedly wanting it to. @revisualize / @ezioda004 please close the issue

[2018-11-21 15:38] thecodingaviator commented on #17924
@moT01 Are you talking about this:
![image](https://user-images.githubusercontent.com/34807532/48851574-69932980-edd1-11e8-9688-5f87b992cc53.png)

This cannot be fixed with the way we currently run things using an `iframe` the only workaround is to make all the three pages display separately i.e. on separate browser tabs

[2018-11-21 15:39] thecodingaviator commented on #17911
@ezioda004 This was fixed in https://github.com/freeCodeCamp/curriculum/pull/306 , please close the issue

[2018-11-21 15:42] thecodingaviator commented on #17907
@fgspechti We do not check each project and so we have no way to tell if the student has submitted the correct project. All you can do is wait before submitting and then correct the URLs before submitting for claiming certification.
Rest info has been given above by @nathanhannig
Please close the issue.

cc: @ezioda004

[2018-11-21 15:43] thecodingaviator commented on #17896
All these SASS challenges have been fixed, the last of which will soon be pushed production. Please close the issue @PhoeniXAbhisheK / @ezioda004 . @PhoeniXAbhisheK if you still have an issue in any one feel free to reopen the issue

[2018-11-21 15:45] thecodingaviator commented on #17881
@ivanduka I think what we have is fine because we're anyways saying it does not work with Flexbox. Please close the issue and feel free to open for further discussion.

cc: @ezioda004

[2018-11-21 15:50] thecodingaviator commented on #18008
@eald51893 What do you propose if you still propose something? Else please close the issue

[2018-11-21 15:51] #17881 closed

[2018-11-21 15:51] thecodingaviator commented on #18045
@nathanhannig / @ezioda004 please close the issue, it's fixed afaik

[2018-11-21 15:53] thecodingaviator commented on #18060
yes, so the problem is on user side and not here, so @Murrium123 / @ezioda004 I think it would be befitting to close the issue

[2018-11-21 15:53] thecodingaviator commented on #18061
@iamj4james Please go ahead

[2018-11-21 15:58] thecodingaviator commented on #24526
@ezioda004 / @QuincyLarson Your thoughts on this?

[2018-11-21 15:59] thecodingaviator commented on #20384
@ezioda004 Mybe you can have a look at that PR, many users would be failing tests

[2018-11-21 16:02] thecodingaviator commented on #18177
@geeseyj Try giving it another stab

[2018-11-21 16:03] thecodingaviator commented on #18253
Is the problem still there @moT01 ?

[2018-11-21 16:04] thecodingaviator commented on #18231
@Atulsinghm / @ezioda004 The solution has been given above please close

[2018-11-21 16:04] thecodingaviator commented on #18211
@ezioda004 Please close the issue, fixed in #18289

[2018-11-21 16:05] thecodingaviator commented on #18209
Thanks

[2018-11-21 16:08] thecodingaviator commented on #18131
@quantuumsnot Please either include a screenshot or video of what is happening or close the issue if fixed

[2018-11-21 16:10] thecodingaviator commented on #18102
@TheMarco77 Is it's just about the warnings, they'll happen, please close the issue otherwise please explain what you want to happen not just state screenshots

[2018-11-21 16:11] thecodingaviator commented on #18092
These issues most probably have been fixed and would be pushed to production? @ilhamjulianto Please close the issue

[2018-11-21 16:11] thecodingaviator commented on #18180
The survey does not load for me, other people, please include screenshots

[2018-11-21 16:17] #18211 closed

[2018-11-21 16:18] #18231 closed

[2018-11-21 16:21] ezioda004 commented on #18060
Closing as its not an issue in the challenge itself.

[2018-11-21 16:21] #18060 closed

[2018-11-21 16:33] quantuumsnot commented on #18131
So, as I stated already if the user completes a task and then clicks on the 'Curriculim' his or her currently reached task/project is not focused. Instead the 'Curriculum' is collapsed only on 'Introduction to Basic HTML and HTML5'. This UX problem is still here.

[2018-11-21 16:41] #17826 closed

[2018-11-21 17:10] #17832 closed

[2018-11-21 18:12] #17896 closed

[2018-11-21 18:30] lynxlynxlynx commented on #17646
Knock yourself out. :)

[2018-11-21 18:31] lynxlynxlynx commented on #17645
it's the second code example.

[2018-11-21 19:30] ktsmpng opened #34412 "Unable to Claim JavaScript Certificate!"
**Describe the bug**
When I go to view the claimed certificate it displays a pop up saying that I have not accepted the Academic Honest Policy but I have already accepted it in the settings. I have tried using different browsers, signing out logging in and refreshing cache but none of this has worked. I viewed another issue that was similar to this which was resolved. The user had two accounts in

[2018-11-21 19:38] #17438 closed

[2018-11-21 19:44] #17762 closed

[2018-11-21 23:06] jel111 commented on #18049
It also will not pass in Safari no matter how it is formatted. I tried multiple ways and then decided to try FFDev Edition and it worked. Copy and Pasted the code from Safari to FF so was exactly the same in each browser.

[2018-11-22 05:08] thecodingaviator commented on #17645
That is this one?:
`
"Code Camp".replace(/(\w+)\s(\w+)/, '$2 $1');
// Returns "Camp Code"
`

[2018-11-22 05:09] thecodingaviator commented on #18131
Ahh that problem, I see what you're talking about, I think we'll have to dive into local storage over here. Let's see what @freeCodeCamp/moderators have to say

[2018-11-22 06:36] thecodingaviator commented on #34412
Try a hard reload once again. Will have to check why this is happening

[2018-11-22 06:38] thecodingaviator commented on #34412
Can you open the browser console/developer tools console and check if any warning/errors are there?

[2018-11-22 07:06] ozgunbal opened #34417 "console.log of an array is misleading"
**Describe the bug**
In the challenge pages, console.log of an array logged without brackets. It avoids to understand if array is nested or not:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any challenge with an editor (e.g: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator)
2. `console.log([[

[2018-11-22 11:50] scissorsneedfoodtoo commented on #34407
Checked this out and it seems the changes from freeCodeCamp/curriculum#277 carried over to master. Hopefully they make their way to production soon

[2018-11-22 11:50] #34407 closed

[2018-11-22 12:45] moT01 commented on #18253
Yes @thecodingaviator, this problem still persists - you can see it by clicking the link to my profile I put in the issue description, then clicking the full stack cert under the legacy area.

[2018-11-22 13:30] MTHO2110 commented on #7087
// Initialize these three variables
var a;
var b;
var c;

// Do not change code below this line

a = 5 + 1;
b = 10 + 5;
c = "I am a String!";

it remains with this error and does not allow me to continue
Do not change code below the line

[2018-11-22 13:39] ktsmpng commented on #34412
![image](https://user-images.githubusercontent.com/23035767/48906221-b28fc000-ee5b-11e8-8c19-6fb5bd7693e9.png)

When I click the view certificate button it refreshes the page then displays this. I did this after hard resetting cache.

[2018-11-22 14:33] thecodingaviator commented on #34412
Can you please also attach a screenshot of the Academic Honesty pledge module where it says you've accepted it?

[2018-11-22 14:36] ktsmpng commented on #34412
![image](https://user-images.githubusercontent.com/23035767/48909000-f1c20f00-ee63-11e8-951b-8215fd291ba6.png)

[2018-11-22 14:40] thecodingaviator commented on #34412
You said something about 2 accounts on the same email, could you please elaborate, have you deleted the other one?

[2018-11-22 14:43] thecodingaviator commented on #34417
I don't think this is an error with our system at FCC. This is an error in the code-compiler that we implement. Maybe @Bouncey can elaborate on this

[2018-11-22 14:49] thecodingaviator commented on #18253
On a side note, when did you claim the Full Stack Certification?

[2018-11-22 15:01] ktsmpng commented on #34412
I am not sure if I have two accounts but I read on a different issue in regards to FCC that another user had two accounts under same email and issue was resolved after. I can't find the issue again on github. This will have to be checked by someone who has access to the database

[2018-11-22 15:04] thecodingaviator commented on #18253
Okay, I've figured out the problem, we're using one and the same variable for the legacy and 2018 Full-Stack certs, this is somewhere messing up

[2018-11-22 15:34] thecodingaviator commented on #34154
@Lornz- Can you confirm that at this moment all the toggle switches are correct? If so, download your data from:
![image](https://user-images.githubusercontent.com/34807532/48911779-bcd0af00-ee99-11e8-9f2d-03291e3728d4.png)
and in the file that you get, at the very end:
![image](https://user-images.githubusercontent.com/34807532/48911889-20f37300-ee9a-11e8-8e2e-85484bb92942.png)
Check if all the v

[2018-11-22 15:39] matkoniecz opened #34425 "consider how to solve queue of thousands waiting PRs"
Currently this project is a bit victim of its own success.

It is obvious that it will not benefit strongly from more PRs as the bottleneck is clearly at processing them. Adding even more PRs to pile of over 8 thousand waiting has only marginal benefits.

It is sad for project that has "PRs welcome" in readme. With more than 8 thousands of open PRs waiting for handling (merging/rejecting) it is cl

[2018-11-22 16:35] mikeattara commented on #34425
I really support this call.

[2018-11-22 16:43] ezioda004 commented on #34425
Hi @matkoniecz,

Thanks for opening this issue.

You're right we have more than 8k+ PR open and that was due to Hacktoberfest influx.
However, if you check the insights you'll see we've merged 2k PR's in the [past](https://github.com/freeCodeCamp/freeCodeCamp/pulse/monthly) month.

In the month of November, we have only received around 200 PR's which isnt a lot.

The PR cleanup will certainly take

[2018-11-22 17:14] #18104 closed

[2018-11-22 19:11] matkoniecz commented on #34425
So more than half of all PRs even created (>10k) are from this Hactoberfest?

Wow, I was not really expecting this, so my point is much, much weaker.

[2018-11-22 20:44] irshadjsr21 opened #34428 "The page becomes unresponsive."
**Describe your problem and how to reproduce it:**
Whenever I write a few lines of code (Almost 3) in the provided area the page becomes unresponsive and after a while chrome displays a message saying "Aw, Snap! Something went wrong while displaying this webpage."

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/create-a-component-with-composit

[2018-11-23 06:33] Cyb3rN4u7 commented on #34428
I have tried to reproduce the described problem but did not found any weird behavior.
Perhaps you could share what you have typed to further test this out

### Tested in:
- OS: Windows 10 👍
- Chrome 70.0.3538.102 👍
- Firefox 63.0.3 👍

[2018-11-23 07:12] Nirajn2311 commented on #34428
@Cyb3rN4u7 when you try to put the correct answer, the browser hangs and crashes.

[2018-11-23 07:18] irshadjsr21 commented on #34428
@Nirajn2311 Exactly!!

[2018-11-23 08:48] ezioda004 commented on #34428
Hi @irshadjsr21,
I tested and seems to worked fine for me. Can you tell what were you typing when the browser crashed?

[2018-11-23 08:55] Cyb3rN4u7 commented on #34428
@Nirajn2311 i didn't experience any problems by typing it.
That's weird

[2018-11-23 09:54] irshadjsr21 commented on #34428
![untitled](https://user-images.githubusercontent.com/40335357/48937366-daeaed80-ef33-11e8-953d-61f9a9341ad2.png)

[2018-11-23 09:54] #34428 closed

[2018-11-23 12:00] matkoniecz commented on #34425
In that case my point was misinterpretation of situation and I am unsure how this misinterpretation can be made less likely.

I am closing but feel free to reopen if that is a real problem.

[2018-11-23 12:00] #34425 closed

[2018-11-23 21:18] matkoniecz opened #34435 "Silent failure on forgetting that strings in JS are immutable"
**Describe the bug**
A clear and concise description of what the bug is.

JS interpreter crashes on attempting to modify string. It would be more helpful to show error message in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to for example https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting/reverse-a-string
2. In code area repl

[2018-11-23 21:57] wmollenkopf commented on #34344
I hope it was okay, but I went ahead and created a RegExp instead of a pure string compare for the assertion.

[2018-11-24 02:34] ezioda004 commented on #34435
Hi @matkoniecz,

Thank you for opening this issue. The ECMAScript specification doesnt throw error if you try to mutate primitive values, therefore none of the browsers (implementer of the the spec) throws an error if you try to mutate the String or any other primitive type.

If you try the following code in the browser:
[code]
You'll see that the last assignment returns "E", giving the impression

[2018-11-24 05:16] matkoniecz commented on #34435
Note that on GitHub people are unable to reopen issues closed by maintainers :)

Is it explicitly requiring a silent failure?

I still think that it would be better to give error message noting that this type of error would cause program to silently crash, but I understand why it was fine this way.

[2018-11-24 05:17] matkoniecz commented on #34417
What is the behaviour of standard browser consoles in Chrome and Firefox?

[2018-11-24 06:18] thecodingaviator commented on #34417
Chrome:
![image](https://user-images.githubusercontent.com/34807532/48965194-c31c7380-efde-11e8-85b2-aa4f3ec43647.png)

[2018-11-24 06:49] matkoniecz commented on #34435
Maybe the proper solution would be to add strict mode to the initial code?

It is a good practise, especially for people learning as it seems to give much better error reporting without loss of any reasonable functionality.

[2018-11-24 06:50] lmilliken opened #34438 "Create a guide of the freeCodeCamp codebase?"
As someone who is looking to start contributing to to freeCodeCamp, I'm really curious about how this is all deployed.   Looking through the folders, I can kind of see how they map to particular sections of the fcc website but feel like I'm still missing the larger picture.

It would be great if someone produced an article or video on how exactly this is all boostrapped (is this the right word?).

[2018-11-24 06:55] matkoniecz commented on #34438
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md#help-us-fix-bugs-in-freecodecamporgs-learning-platform has some basic info.

[2018-11-24 07:05] thecodingaviator commented on #34438
@lmilliken I would say that you take up this topic in the Gitter Contributor's chat room

[2018-11-24 09:34] fgspechti commented on #17907
Thank you both for your help - and my apologies that I missed to close the case!

[2018-11-24 09:34] #17907 closed

[2018-11-24 11:05] sandradelax commented on #10558
Is the literal answer to "wordBlanks should contain all of the passed in words **separated by non-word characters**". And it works. This is stupid, 30 min trying to figure out.

[2018-11-24 12:00] ktsmpng commented on #34154
Can I get help on a similar issue? I cant view my certificate. https://github.com/freeCodeCamp/freeCodeCamp/issues/34412

[2018-11-24 14:47] exah-io opened #34439 "Iterate with JavaScript Do...While Loops - Incorrect 'Get a hint' URL"
**Describe your problem and how to reproduce it:**
"Get a hint" link in the "[Basic JavaScript: Iterate with JavaScript Do...While Loops](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do---while-loops/)" returns a [404](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/iterate

[2018-11-24 18:09] thecodingaviator commented on #34439
I’m taking this up. Will fix shortly

[2018-11-24 20:16] twins16 commented on #29554
same her broken link !!

[2018-11-24 20:41] Lornz- commented on #34154
Hi @thecodingaviator!

I've already checked. **true** for all:

![screen shot 2018-11-24 at 3 36 22 pm](https://user-images.githubusercontent.com/901831/48972725-e35c2a80-effe-11e8-8e14-7d4c0d177392.png)

Thanks for help me out with this :)

[2018-11-24 23:34] ktsmpng commented on #34412
I signed in with my google account and the account I noticed were not synced with my github one. I re-added the projects on the other account accepted policy and the certification was able to show. There is still an issue in the db but the root cause has been found. Is there someone that can help me with it or can I just delete the google account I dont want to lose my progress but I dont want to

[2018-11-25 03:45] akkatracker opened #34440 "Prevent users from copying and pasting the code for "Manipulating Complex Objects""
**Describe your problem and how to reproduce it:**
Open for discussion, but I feel as though being able to copy and paste the previous object in the array and pass the tests defeats the purpose of this challenge

Perhaps there should be another test(s) to check that the new album added is unique or at lease somewhat different

**Add a Link to the page with the problem:**
https://learn.freecodecamp

[2018-11-25 04:47] thecodingaviator commented on #34154
What I am guessing is that all the user data is getting cached somewhere on the server and that is not updated. I'm still new here and don't even know if my hypothesis is correct or not so I'll pass this issue on to the Gitter Contributor's chat room

[2018-11-25 05:00] thecodingaviator commented on #34440
As far as I understand, even if the student copy-pastes, it isn't defeating the purpose because they still understand what they are doing and how it is working. As for the instructions, it requires the album to be new and not unique so the current instructions are designed like that too

[2018-11-25 10:13] huyenltnguyen commented on #34412
@ktsmpng You definitely should send an email to team@freecodecamp.org with the email addresses of your accounts. The team will get them merged for you.

[2018-11-25 11:46] Bouncey commented on #34438
@lmilliken this is something that has been on the roadmap for a while. A large contributing factor to it not happening yet is the fact that this codebase has changed completely, twice, in the past 12 months.

Once we have things settled down considerably, we can revisit this.

[2018-11-25 12:46] thecodingaviator opened #34443 "Vague instructions in Rest Operator challenge"
**Describe your problem and how to reproduce it:**
On this challenge, the instructions are vague, I mean what does `work in the same way` even mean? We should make the 'way' clear to the student

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-the-rest-operator-with-function-parameters

[2018-11-25 12:54] thecodingaviator opened #34445 "Profile HeatMap is messing up streak"
In the screenshot below, my streaks are clearly 16 days but the counter is counting them as 14 and 1:

![image](https://user-images.githubusercontent.com/34807532/48979328-5dfc7700-f0df-11e8-93dc-39590702ba20.png)

[2018-11-25 14:00] ezioda004 commented on #34435
@matkoniecz I suppose its possible to add `use strict` to the challenges, we do have strict mode in some challenges. Maybe others can chime on this.

Reopening the issue.

[2018-11-25 17:44] matkoniecz commented on #34435
If no-one protests I will start making PRs adding strict mode.

[2018-11-25 17:58] ezioda004 commented on #34435
I'd suggest not doing that until a proper discussion happens. This probably was suggested before too and if they didnt add that, then there might a reason.

Lets wait for the core members.

cc @Bouncey @raisedadead

[2018-11-25 21:02] chrisdel101 commented on #18925
I'll make these changes.

[2018-11-25 21:05] chrisdel101 commented on #18861
@1337M0nst3r Are U still working on this? If not I'll take it over since I'm looking for another here. Let me know

[2018-11-25 21:05] erictleung commented on #34443
Thanks for bringing this up. Yes, the wording is a bit vague.

A better one may be (emphasis added on changes)

[2018-11-26 01:07] F3D0s commented on #7712
@bhabajitkashyap you forgot the spaces:

[code]

[2018-11-26 05:52] srlarsen1 commented on #11086
This issue or another similar just prevented me from passing the lesson on Firefox.  I was able to copy the code over to Chrome and it passed without changes so I'm in the clear but you should be aware for other's sake.  The code was deemed correct but I didn't see the silver background applied on screen and it failed me for that. (Firefox 63.0.3 (64-bit) on Mac 10.12.6)

![screen shot 2018-11-25

[2018-11-26 08:08] akkatracker opened #34450 "Spelling Error in "wrong OTP" message"
**Describe the bug**
Received is misspelled as recieved

**To Reproduce**
Enter a wrong (or no) OTP

**Expected behavior**
Recieved should be spelled received

**Screenshots**
![image](https://user-images.githubusercontent.com/2032746/49000584-26a8cb80-f1ae-11e8-9c36-1e623146a6f3.png)

**Additional context**
Add any other context about the problem here.

[2018-11-26 08:08] akkatracker commented on #34450
I don't think this can be changed on this codebase, but I did note 4 instances where received was misspelled in the code (so maybe a first timer wants to change those)

[2018-11-26 08:22] jeffslofish opened #34451 "Guide article: header-tag page formatted incorrectly"
**Describe your problem and how to reproduce it:**
The formatting of the header-tag page in the guide is wrong. I checked the codebase and there are  missing back-ticks for some of the html tags in the markdown page.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/html/elements/header-tag

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Br

[2018-11-26 08:59] jeffslofish commented on #34450
It appears this spelling error is coming from: https://github.com/freeCodeCamp/auth0-templates/blob/master/pages/login.html

[2018-11-26 09:29] abhishekakade commented on #34443
Can I work on this one?

[2018-11-26 09:32] ezioda004 commented on #34443
Sure, its all yours!

[2018-11-26 10:04] MMahendra001 commented on #34450
Can i take this one?

[2018-11-26 10:21] akkatracker commented on #34450
Sure thing go for it! Also fix the other misspellings in the source too if
you'd like

On Mon., 26 Nov. 2018, 9:08 pm Mahendra Machhi <notifications@github.com
wrote:

[2018-11-26 12:52] T1mL3arn commented on #17495
:+1:  for info about shortcuts to navigate with `accesskey` attribute. There are [different shortucts for different browsers and operating systems](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/accesskey) though.

[2018-11-26 13:06] 7heM1sf3t opened #34454 "Oauth issues"
**Describe the bug**
Ok so this is probably going to be as confusing to explain as it was to navigate but here it goes.  The dual login/signup window can create a problem with retrieving an account when someone has multiple oauths from the same provider.  I probably just created & deleted half a dozen accounts because I swapped browsers and forgetting which google profile I used, I signed into the

[2018-11-26 17:56] raisedadead opened #35668 "Fix GA in other ways to donate"
Here is a list of actions that we would want to handle:

- Donate page.
- Donate modal.
- Each type of action on on the other ways to donate page.

[2018-11-26 20:35] #34443 closed

[2018-11-26 21:18] raisedadead commented on #17710
@NadeemGorsi Thanks for the issue report and the concern.

We have the certs verifiable at a given URL. That is a digital copy that is verifiable only and only by visiting a given link on the certificate.

Sure, anyone can edit these at their will, print them and showcase them. However, anyone just can't insert these into the URL where these get verified, which is the crux of the certs that are ea

[2018-11-26 21:18] #17710 closed

[2018-11-26 21:21] raisedadead commented on #34438
I count more than that.

[2018-11-27 03:35] eostb opened #34462 "cit"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2018-11-27 03:49] RandellDawson commented on #34462
Since nothing was reported in this issue, we are closing it.

[2018-11-27 03:49] #34462 closed

[2018-11-27 05:20] anasansari157 commented on #18231
Thanks @Atulsinghm for sharing the  problem. I was stuck here too.

[2018-11-27 10:52] #17784 closed

[2018-11-27 11:21] scissorsneedfoodtoo commented on #17249
@dcookwebdev, thanks for reporting this. I just checked it out and it seems like your survey form is passing all the tests in Chrome:

![image](https://user-images.githubusercontent.com/2051070/49078535-a18ee680-f281-11e8-924b-a45dee48300c.png)

I think the problem might have been that the test suite only runs in Chrome at the moment, at least according to the template here: https://codepen.io/fre

[2018-11-27 11:21] #17249 closed

[2018-11-27 13:16] raisedadead commented on #34454
Unfortunately we do not control the behaviour of the third party auth providers like Google. We simply use the the OAuth flow, its upto the provider to present the account to the user.

For us, its simply the validated email that is returned to us, which we use to identify the user record.

I don't think we can differentiate between these flows, before hand.

[2018-11-27 13:16] #34454 closed

[2018-11-27 17:32] #17662 closed

[2018-11-27 22:55] cmccormack opened #34472 "localhost:3000 redirect gives error due to missing token"
**Describe the bug**
When connecting to localhost:3000 to test the redirect to localhost:8000 an error is thrown in the Node console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. From root - `cd api-server/ && npm run babel-dev-server`
2. After db has loaded go to browser URL `localhost:3000`
3. Error will appear in Node console

**Expected behavior**
No error should appear and I a

[2018-11-28 02:56] mengzy2018 commented on #29296
That could be the offset，Please check the relevant styles

[2018-11-28 02:58] mengzy2018 commented on #19671
This will be convenient for users

[2018-11-28 06:44] StubRavi commented on #16640
Today this error has appeared again.
![freecodecamp 500](https://user-images.githubusercontent.com/34769076/49133708-04769100-f307-11e8-93d2-b21f806827e4.JPG)

[2018-11-28 12:59] jimages opened #34476 "[Discuss] saving code on the fly in our database"
Many user complain that their code get lost when they close their broswers. Shall we consider save user code on the fly? My opinion is that we can set a demand (2000 read/write per seconds for example) and fork a new branch to experiment with other powerful programming language and tools. Only can we merge when our performance meet our demands.

## assumption

1. the string is less than 10KB for e

[2018-11-28 12:59] jimages commented on #34476
https://github.com/freeCodeCamp-China/learn/issues/26

[2018-11-28 14:51] alexch commented on #34407
https://learn.freecodecamp.org/coding-interview-prep/rosetta-code/general-fizzbuzz/
is still busted :-(

[2018-11-28 15:36] smartITNinja commented on #16660
Hi, I have this doubt: why is Glitch requested to pass these tests?

We can pass this test easily if we use a self-managed service rather than using Glitch.

A simple Node JS + Express will do the trick just fine. In fact, I passed them using my own server because I got bored after struggling a couple of hours with Glitch.

[code]

Regards

[2018-11-28 19:56] m-henderson commented on #16640
@StubRavi could you please create a new issue for this? I am going to alert the others about hte issue.

[2018-11-28 20:44] StubRavi commented on #16640
Hey, @m-henderson , Thank you.
Now, It working normally. Hence, There is no need to further action.

[2018-11-28 21:07] prahaladbelavadi commented on #3855
The Gitter channel isn't available.
Has it been closed ? @QuincyLarson  Will there be a replacement or an alternative or has this been pushed off the roadmap ?

[2018-11-28 21:09] prahaladbelavadi opened #34479 "Feature request: Option to store progress and solutions offline"
With the inclusion of the download completed challenge button, It becomes tedious to download each one manually. An option to download all previously completely challenges at once compared to downloading them manually would be invaluable to those intending on saving their progress offline.

[2018-11-29 14:15] Bouncey commented on #34435
Sorry, I though I had replied already.

`'use strict` is not required to throw an error here. We run all the code through `babel` and `babel` does this for us. The results of which can be seen in the `output` window under the editor

![image](https://user-images.githubusercontent.com/18572518/49227501-23495600-f3e1-11e8-8b4f-528cb3e2b37c.png)

If we need to make this clearer some how, I would glad

[2018-11-29 16:16] ArielLeslie commented on #34479
FCC does not store non-project solutions. Given the sizes of the curriculum and the user base, storing all submitted challenges would require more resources than FCC can support.

[2018-11-29 17:23] jcconnol opened #34484 "Header button to guide page"
I don't know if this has been thought of or not but I have had a profile on the website for a while and have not known there were guides for pretty much everything. I would like to make a button in the header that takes the user to the guides page (https://guide.freecodecamp.org/).
I have read the contribution Guidelines and there is nothing about adding functionality.
I do not know if that would

[2018-11-29 17:33] numoonchld commented on #18201
Facing the same issue, not passing all tests.

<img width="925" alt="screenshot 2018-11-29 at 10 59 46 pm" src="https://user-images.githubusercontent.com/17598505/49240196-a6db6500-f42a-11e8-8846-fbc531e8b0b4.png">

Followed the code linked in the exercise:
https://gist.github.com/JosephLivengood/6c47bee7df34df9f11820803608071ed

<img width="656" alt="screenshot 2018-11-29 at 11 02 47 pm" src="htt

[2018-11-29 21:33] prahaladbelavadi commented on #34479
Thank you @ArielLeslie
I was not aware of this.

Would a toggle switch that automatically downloads the completed solution upon successful submission for challenges be a suitable alternative ?

[2018-11-29 21:45] ArielLeslie commented on #34479
You can certainly float the idea and see what The Powers That Be think :D

[2018-11-30 00:30] thedtj commented on #17754
Another area for confusion in this section is the [Get Query Parameter Input from the Client](https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client) challenge. A POST method is required to complete the challenge, but POST methods aren't explained until the next challenge [Use body-parser to Parse POST Requests](https://learn.freecode

[2018-11-30 06:38] T1mL3arn commented on #34484
If my memory is good, some time ago fcc had a different interface and there was that button in the header. Will be nice to see "Guides" button in the header again. Currently there are only(?) two ways to get there: by a searchbar in the header or by "Get a hint" button from a challenge page.

[2018-11-30 12:41] thangnguyen2001 opened #34490 "job"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2018-11-30 13:41] ezioda004 commented on #34490
Hi @thangnguyen2001,

I think you opened this issue by mistake.
Hence, I'm closing this.

Happy coding.

[2018-11-30 13:41] #34490 closed

[2018-11-30 14:52] ezioda004 opened #34492 "Merge Set Challenges"
Currently, we have 3 challenges for creating Set Class and its methods:
1. [Create a Set Class](https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-a-set-class/)
2. [Remove a Set Class](https://learn.freecodecamp.org/coding-interview-prep/data-structures/remove-from-a-set)
3. [Size of the Set](https://learn.freecodecamp.org/coding-interview-prep/data-structures/size-of-the-

[2018-11-30 15:35] QuincyLarson opened #34494 "Move Coding Bootcamp Cost Calculator to the Guide"
I believe with Gatsby we can just have an interactive Guide article instead of having a JavaScript app that lives at a specific path. Then we can just create a 301 from https://www.freecodecamp.org/coding-bootcamp-cost-calculator to freecodecamp.org/guide/tools/calculators/coding-bootcamp-cost-calculator

This would be an important proof of concept we could use to create other interactive calculat

[2018-11-30 15:36] QuincyLarson commented on #18094
Closing in favor of doing this #34494

[2018-12-01 01:53] mustafizrahman8807 commented on #11943
// Setup
var myStr = "Hello World";

// Only change code below this line
var myStr = "Hello World";
myStr = "Hello World";

This will work I think. Good luck.

[2018-12-01 11:16] QuincyLarson commented on #17154
I'm closing this issue since we have the following copy in our README now:

# Found a security issue?

Please don't create GitHub issues for security issues. Instead, please send an email to security@freecodecamp.org and we'll look into it immediately.

[2018-12-01 11:16] #17154 closed

[2018-12-01 13:30] QuincyLarson commented on #3855
@prahaladbelavadi We have tons of Gitter channels here: https://gitter.im/FreeCodeCamp/home

[2018-12-01 13:36] QuincyLarson commented on #19671
Thanks for the suggestion. We want to keep the navigation as simple as possible with as few options as absolutely necessary. If people want an FAQ they can google freecodecamp.

[2018-12-01 13:36] #19671 closed

[2018-12-01 15:14] C-Hg opened #34504 "Information Security and Quality Assurance Projects - Metric-Imperial Converter : example app not functioning"
**Describe your problem and how to reproduce it:**
The example app (hard-twilight) is not working properly, neither with Firefox nor with Chrome. Instead I get an explorer with the public source files.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter

[2018-12-01 17:49] PedroS5499 opened #34505 "Use the Reduce Method to Analyze Data"
**Describe your problem and how to reproduce it:**
in challenge The averageRating should equal 8.675. but the array given will never do average of 8.675.
but 8.52.
there is a serial issues closed about that point, but all closed, and problem persists.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/use-th

[2018-12-01 17:56] ezioda004 commented on #34505
Hi @PedroS5499,

Thank you for opening this issue.

The average is indeed `8.675`.
Note: you only need to find the average of "Christopher Nolans" movies.
There are 4 Nolans movie whose average is equal to `8.675`.

[2018-12-02 01:59] jeremyfiel opened #34507 "JS: Comparison with Equality operator / test case not returning false in console"
**Describe your problem and how to reproduce it:**

console output should return "Not Equal" but return value is not displayed during test case.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/comparison-with-the-equality-operator

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Br

[2018-12-02 05:19] raisedadead commented on #34492
Yes, that is ideal. We want to err on the side of keeping challenges to be about 2 minutes, but we do not want too much redundancy that gets annoying.

[2018-12-02 06:05] abhishekakade commented on #34492
Can I work on this issue?

[2018-12-02 07:07] thecodingaviator commented on #34507
The tests don't need to show in console.log , they are on our internal side, you may close this PR if you've been answered

[2018-12-02 10:16] prahaladbelavadi commented on #3855
Awesome Thanks @QuincyLarson 💯
I presume the offline mode has been put on hold until further notice.

[2018-12-02 10:50] prahaladbelavadi commented on #34479
That's a possibility @ArielLeslie
I'll leave the [feature request] open to garner more thoughts,opinions and improvisations on it being a necessary/viable addition to freecodecamp.

Based on the discussion at https://github.com/freeCodeCamp/freeCodeCamp/issues/3855
I presume the offline mode has been put on hold until further notice.

[2018-12-02 16:35] akhileshh commented on #28446
I think that should fix it but the build failed!

[2018-12-02 18:48] raisedadead commented on #34492
@abhishekakade All yours. Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)

[2018-12-03 02:14] leeteesian commented on #2834
Finally i found that the colon after font-family should not have space.
font-family: Lobster; is working.
font-family : Lobster; is not working.

[2018-12-03 02:29] saransha commented on #18487
A group of us are working on this issue for a class project in university. We aim to address this in the next couple of days. We will try and at least present the community with a first iteration of our proposed solution.

Just a heads up. If the current developers have any advice or tips, feel free to contact me. Thank you.

[2018-12-03 03:44] #20384 closed

[2018-12-03 06:31] QuincyLarson commented on #24526
@ggurbet @Parth-Agarwal @thecodingaviator Yes - I would like to host these on GitHub.

Once they're hosted on GitHub, our CDN (Netlify) should pick them up, and they will be fast anyway.

Would one of you be interested in going through and moving these images over? Where would be the best place to put these images in the file hierarchy?

[2018-12-03 06:32] #17640 closed

[2018-12-03 06:32] #17272 closed

[2018-12-03 06:33] QuincyLarson commented on #16439
@Em-Ant It looks like this will be deprecated in just a couple weeks. Could you help update our Glitch project?

[2018-12-03 07:25] kinopotato opened #34518 "Basic Node and Express - Meet the Node console Confusing Instructions For Beginners"
**Describe your problem and how to reproduce it:**
The challenge wants the user to do a console.log("Hello World"); which sounds simple enough but it doesn't specify that it has to be in the server.js but it eventually does with the error "hello world is not in the server.js" or a similar error but when you go to the server.js you see this:

/******************************************************

[2018-12-03 08:49] #18925 closed

[2018-12-03 09:13] QuincyLarson commented on #3855
@prahaladbelavadi It's something we'd like to tackle in 2019 but we have a few competing priorities at the moment.

[2018-12-03 09:14] ggurbet commented on #24526
Since there can be localized versions of some images, it would be better to have multiple copies in multiple locales. Here is a challenge which contains a localizable image: https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/move-a-relatively-positioned-element-with-css-offsets/ (in addition, this image is hosted on imgur which is unfortunately blocked in Turkey).

There is

[2018-12-03 09:53] PedroS5499 commented on #34505
Ohh, miss that part xD

[2018-12-03 09:53] #34505 closed

[2018-12-03 09:56] #28446 closed

[2018-12-03 09:57] #30216 closed

[2018-12-03 12:03] Bouncey commented on #34435
Using that code in my browser console

FireFox:
[code]

Chrome:
[code]

The `TypeErrors` are what you are seeing in the output panel below the editor. All we do is copy the error message and display it in the output window.

Is there anywhere else we can display this or increase the visibility in some way that makes sense from a UI/UX standpoint?

This is because it is already there, in the backgr

[2018-12-03 12:30] ezioda004 commented on #18195
Hi,

I agree that the code doesnt make a lot of sense and example standalone doesnt work.
Though, these questions are answered in the next challenge when we connect the prototypes object for delegation inheritance.

What do you think of adding a note about the code being incomplete and the function constructors arent connected yet.

[2018-12-03 13:40] #18122 closed

[2018-12-03 13:55] Nirajn2311 commented on #34507
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours.

If you think I’m wrong in cl

[2018-12-03 13:55] #34507 closed

[2018-12-03 20:31] prahaladbelavadi commented on #3855
That makes sense. @QuincyLarson
I apologize if I came off rude. I understand that there are higher priorities currently.
In the meantime, I shall leave https://github.com/freeCodeCamp/freeCodeCamp/issues/34479 open to gather alternative approaches and suggestions. I hope that's okay.
Thanks @QuincyLarson

[2018-12-03 21:47] Em-Ant commented on #16439
@QuincyLarson I'm having a look at it. I'll try to migrate to the new api before next year. In the meantime the service has a cache db and a static list of users (the ones in the example exercise). It can keep working in 'emergency' mode indefinitely serving a limited number of twitch users data.

Also it seems that somebody is using it outside the scope of freeCodeCamp. I have blacklisted the dom

[2018-12-04 07:53] thisisabhinay commented on #17467
@jsmolla Please assign this to me. I love to tackle this kind of UX problems and will also make changes in frontend code

[2018-12-04 07:55] ezioda004 commented on #34518
I agree, we can clarify the instructions to something like:

[2018-12-04 08:02] thisisabhinay commented on #17467
I'll take this issue from here @QuincyLarson

[2018-12-04 09:01] Good-Will-Coding commented on #34518
Can I take this issue?

[2018-12-04 09:09] kinopotato commented on #34518
If I remember correctly, that's what I did first. I did the console.log on the myApp.js and it gave me the error of "log isn't in the server"(paraphrased). Just to clarify that that's what happened. If you mean that the challenge should instead change so that it's the myApp.js that should be manipulated, then I think that's better.

[2018-12-04 09:12] kinopotato commented on #34518
Sure! I'm still very new and inexperienced so I leave it to your more capable hands! 8D

[2018-12-04 11:50] #17852 closed

[2018-12-04 12:50] JS-goose opened #34532 "Regular Expressions: Specify Only the Lower Number of Matches"
**Describe your problem and how to reproduce it:**
On the challenge entitled "Regular Expressions: Specify Only the Lower Number of Matches" the instructions say to "Change the regex haRegex to match the word "Hazzah" only when it has four or more letter z's."

I provide the code to match 4 or more z's -->
let haStr = "Hazzzzah";
let haRegex = /Haz{4,}zah/;
let result = haRegex.test(haStr);

All t

[2018-12-04 13:03] NitronR commented on #29630
@raisedadead I have made a script for this. I will push the rest of the Rosetta Code problems and then move onto Project Euler.
@sdabhi23 Got some free time recently and decided to make this. Thank you for your interest in this issue.

[2018-12-04 13:03] #29630 closed

[2018-12-04 13:09] Flarp commented on #14234
Any updates? I'd really like to hear back from someone.

[2018-12-04 14:16] #18209 closed

[2018-12-04 15:13] #34518 closed

[2018-12-04 15:32] ezioda004 commented on #34532
Hi @JS-goose,

Thank you for opening this issue.
The regex `/Haz{3,}zah/` is also correct because it'll only match 4 z's or more. Note that `z{3,}` will match atleast 3 z's and the "z" after that would be another match. The only difference between `z{4,}` and `z{3,}z` is that in the latter one the last "z" is matched explicitly.

Hope this cleared it up.
Closing this issue, feel free to reopen if

[2018-12-04 15:32] #34532 closed

[2018-12-04 16:07] RandellDawson opened #34535 "test: shallow tests for missing/incorrect front matter on coding challenges"
**Describe the bug**
A [PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/25172/files#diff-30158e67be249b214c99cbfd9178ff60) was recently merged which changed the `videoUrl` key value to a Youtube video url.
Only freeCodeCamp.org videos (recorded with scrimba by @beaucarnes) are allowed currently.

**Resolution**
 Since there is no Russian video for the challenge yet, it needs to be changed ba

[2018-12-04 16:24] raisedadead commented on #34535
Additionally we want tests to catch this in the CI. @Bouncey @ValeraS please share your thoughts for the best place to add these.

[2018-12-04 20:37] pmstyle123 commented on #10558
I think this is an editor issue.Change your browser or refresh it.Surely it will work.

[2018-12-04 22:17] Bouncey commented on #34535
We have a `frontmatter` check [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/4ac31ad5a73f3f0c7d5b1e3edfd06173af556f21/tools/scripts/ci/ensure-guide-page-naming.js#L110). No harm in expanding that.

I think the actual  file should be renamed though, as it is not just checking the guide page naming any more.

[2018-12-05 02:41] thecodingaviator commented on #24526
Yes, that is a viable option, however I'm not sure how we'll import the images as React causes rendering problems and I'm not really sure how we'd integrate our markdown articles with React

[2018-12-05 09:46] dgisser commented on #34476
@jimages I think it would be good to work on #34540, which does this locally but not on the fly. Then we can work on making it save on the fly, then on server if necessary.

[2018-12-05 10:18] SemperDisco commented on #17307
What is the current of this issue? Can I be of any help?

[2018-12-05 10:41] JS-goose commented on #34532
This makes sense to me know.  The wording on the challenge led me to believe that only 4 (explicitly) would be matched.  Thank you for clearing that up!

[2018-12-05 11:08] Bouncey commented on #34535
Oh wow, my context was all out of whack. Anywhoo, I have a PR cooking

[2018-12-05 11:28] ozgunbal opened #34543 "Array.sort()'s callback performs different between browsers"
**Describe your problem and how to reproduce it:**
Example `reverseAlpha` function at the left behaves different in Google Chrome and Firefox. Chrome doesn't sort  but Firefox does.

Below implementation works at both browsers:
[code]

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabeti

[2018-12-05 11:35] ezioda004 commented on #34543
Hi @ozgunbal,

Thank you for opening this issue. The issue has been fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/25978. It'll be shipped soon.

[2018-12-05 13:50] bauripalash opened #34551 "Demo Project of Metric-Imperial Converter is not working"
The demo project of **Metric-Imperial Converter** of **Information Security and Quality Assurance Projects** from FCC curriculum is not working.
And upon investigation I found out that the glitch project is empty.

Demo link : <https://hard-twilight.glitch.me/>
Glitch project : <https://glitch.com/~hard-twilight>

[2018-12-05 14:19] ezioda004 commented on #34551
Hi @bauripalash,

Thank you for opening this issue.
We have tracked this issue previously on https://github.com/freeCodeCamp/freeCodeCamp/issues/34504 and are working on a fix.

Closing this.

Happy contributing!

[2018-12-05 14:19] #34551 closed

[2018-12-05 17:23] mandrei100 commented on #16377
Try this; it is short and simple (and correct):
function truncateString(str, num) {
  // Clear out that junk in your trunk
  if (str.length > num) {
    return str.slice(0, num) + "...";
  }
  else {
    return str;
  }
}

[2018-12-05 20:50] EllisRockefeller opened #34560 "Login page"
Another repository

[2018-12-05 21:09] #34560 closed

[2018-12-06 04:47] designerdarpan commented on #17584
@DaniloNovakovic Thanks :+1:

[2018-12-06 07:30] ezioda004 commented on #17865
We have function constructor challenges in OOP section. I suppose we can add a note saying where they could learn more about it?

[2018-12-06 07:36] ezioda004 commented on #17866
@alanpaulprice That seems fine. Since all modern browsers now support ES Modules, we should be advocating people to use those instead of any 3rd party libraries.

[2018-12-06 07:37] #17854 closed

[2018-12-06 07:40] ezioda004 commented on #17833
A new issue can be opened if theres bug in other challenges.
Closing this.

[2018-12-06 07:40] #17833 closed

[2018-12-06 07:45] ezioda004 commented on #17829
Being worked on in #34257

[2018-12-06 07:50] ezioda004 commented on #17808
Challenge seems to be working fine, if the bug still persists please open a new issue with details.

[2018-12-06 07:50] #17808 closed

[2018-12-06 07:59] ezioda004 commented on #17796
Already fixed, closing.

[2018-12-06 07:59] #17796 closed

[2018-12-06 08:11] RandellDawson commented on #34440
I concur with @thecodingaviator regarding the challenge intent.  If the instructions would have stated for the new album to be unique, then there would be an issue and the tests would need to be re-written.

I am closing this issue, as there currently is no problem with the current challenge tests as it relates to the challenge intent/instructions.

[2018-12-06 08:11] #34440 closed

[2018-12-06 08:19] ezioda004 commented on #17791
Fixed in https://github.com/freeCodeCamp/learn/pull/219
Closing

[2018-12-06 08:19] #17791 closed

[2018-12-06 08:21] ezioda004 commented on #17789
Seems like it was fixed, closing.

[2018-12-06 08:21] #17789 closed

[2018-12-06 10:37] ezioda004 commented on #17735
@lynxlynxlynx I agree, the motivation can be explicitly mentioned.
And the example is wrong too:
[code]
When infact it returns:
[code]
Since all objects inherit from `Object.prototype` which have a `.constructor` property.
Making a PR to fix this.

[2018-12-06 11:10] Bouncey commented on #34417
Well, isn't that interesting...

Thanks for reporting this bug. This would be an issue with `proxyLogger`.

[2018-12-06 11:18] #34535 closed

[2018-12-06 11:51] shtscompany commented on #15662
<style type='text/sass'>

  @for $j from 1 to 6 {
    .text-#{$j} { font-size: 10px*$j; }
  }
.text-1{
  font-size: 10px;
}
.text-2 {
  font-size: 20px;
}
.text-3{
  font-size: 30px;
}
.text-4{
  font-size: 40px;
}
.text-5{
  font-size: 50px;
}

</style>

<p class="text-1">Hello</p>
<p class="text-2">Hello</p>
<p class="text-3">Hello</p>
<p class="text-4">Hello</p>
<p class="text-5">Hello</p>

[2018-12-06 11:53] shtscompany commented on #15662
This is working 100%`

<style type='text/sass'>

  @for $j from 1 to 6 {
    .text-#{$j} { font-size: 10px*$j; }
  }
.text-1{
  font-size: 10px;
}
.text-2 {
  font-size: 20px;
}
.text-3{
  font-size: 30px;
}
.text-4{
  font-size: 40px;
}
.text-5{
  font-size: 50px;
}

</style>

[code]

[2018-12-06 12:07] Bouncey commented on #34476
The current state of `learn`, even before we retired the `learn` repository has this feature enabled.

I think the confusion is coming from that, when a user submits the completed challenge to the database (and that request is successful), we remove the stored code from `localStorage`.

[code]

Removing `type.submitComplete` from `clearCodeEpic` would persist users code in local storage indefinite

[2018-12-06 12:10] Bouncey commented on #34476
It could also be that your users are using a 'private browsing' feature in their browser, which could negate `localStorage` all together