[2021-05-30 10:33] mleonelli commented on #42275
Unless there is a PR coming before, I'll commit one in the next couple of days.

[2021-05-30 11:15] ieahleen commented on #40472
@vipranarayan14 we don't assign issues, the first comprehensive PR is evaluated, you are welcome to open yours. If you haven't done so yet I suggest you read our contributing docs at contribute.freecodecamp.org

[2021-05-30 17:52] bbsmooth opened #42311 "Bad example in Applied Accessibility/Use tabindex to Add Keyboard Focus to an Element"
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element

**Issue**
The instructions in this lesson are:

"He knows input fields automatically get keyboard focus, but **he wants to make sure his keyboard users pause at the instructions while tabbing through the items**. Add a tabindex attribute to the p tag an

[2021-05-30 21:53] Ismailtlem commented on #40050
Hi

- Can a bug still happen on the profil page after this fix ? Same thing for the navigation page.

[2021-05-30 22:18] pedrocsilva commented on #42256
Hey! Can I help migrate some files?

[2021-05-31 07:42] Sembauke commented on #42256
Sure go for it!

[2021-05-31 07:45] vipranarayan14 commented on #40472
Thank you, @ieahleen. I was actually waiting for someone to assign me the issue. Now I understand. I will go through the contributing docs and also submit the PR.

[2021-05-31 08:48] miyaliu666 opened #42314 "The sign-in page should be translated"
My own account was always logged in, so I didn't notice the sign-in page is in English. Some Chinese users felt confused about this page. I didn't find where to translate this part on Crowdin.

[2021-05-31 11:08] raisedadead commented on #42314
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/41112

[2021-05-31 11:08] #42314 closed

[2021-05-31 11:12] raisedadead commented on #42294
I am in favour of making these challenges more agnostic.

Also if we absolutely need examples for using a real-world package, we should create dummy packages and publish them npm for consumption. That we control the lifecycle of the package affecting these challenges getting out dated.

[2021-05-31 13:05] ojeytonwilliams commented on #42256
Thanks @Dripcoding, I've added your name to those files.

[2021-05-31 13:47] pedrocsilva commented on #42256
I'll migrate these:

[code]

[2021-05-31 14:19] Sembauke commented on #39586
Hey @Twaha-Rahman,

I will be closing this one as a stale issue.

If you still want to work on this feel free to reopen.

[2021-05-31 14:19] #39586 closed

[2021-05-31 15:12] ojeytonwilliams commented on #42256
Cheers, @pedrocsilva I've added your name, too.

[2021-05-31 16:52] ritikramuka opened #42317 "Use the reduce Method to Analyze Data, weak tests checks"
**Affected page**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-reduce-method-to-analyze-data

**Your code**

[code]

**Expected behavior**
All test cases should pass, but showing that reduce function is not used

**Screenshots**
If applicable, add screenshots to help explain your problem. you can drag and drop, png, jpg, gif, etc. in

[2021-05-31 18:10] ShaunSHamilton commented on #41951
Reopening as related to a different fix.

[2021-05-31 18:11] ShaunSHamilton commented on #42317
Hello there,

Thank you, for taking the time to open this issue. The crux of the issue is outline here:
https://github.com/freeCodeCamp/freeCodeCamp/issues/41951#issuecomment-830219649

The issue has been re-opened as it contains a lot more information about the problem, as well as all the affected challenges. So, I am closing this as a

Duplicate of #41951

[2021-05-31 18:11] #42317 closed

[2021-05-31 18:16] ShaunSHamilton commented on #41951
For those wanting to help with this, the quick fix is to update the regex tests in [these lessons](https://github.com/freeCodeCamp/freeCodeCamp/issues/41951#issuecomment-830292785) to allow for white space between the `.` (period) and method name.

_Note: Every lesson must be updated, before this issue can be closed_

---

An issue with the _help wanted_ or _first timers only_ label is open for co

[2021-05-31 20:21] #39521 closed

[2021-05-31 20:34] raisedadead commented on #42256
This is going to be a merge-party issue. We will merge all linked PRs in a virtual party where we can have all contributors: just-chatting, reviewing PRs (resolving conflicts) and landing them.

[2021-05-31 20:53] Dripcoding opened #42319 "Add section for configuring IntelliJ for running project locally in docs"
**Description:**
I use IntelliJ Idea on Windows 10 with WSL2 to run the project locally.

The specific problem I ran in to was running tests via the IDE instead of the command line. I had to configure IntelliJ to use the version of Node I have installed in WSL2.

This is the error I encountered when trying to run the tests via the IDE:

`CMD.EXE was started with the above path as the current direc

[2021-05-31 21:00] Dripcoding commented on #42319
I really liked how the Windows and WSL set up guides were easy to read and follow! I think adding this would lower barrier of entry for people who are using or evaluating IntelliJ IDEs.

If this change is approved I'd be happy to update this docs :)

[2021-05-31 23:16] lasjorg commented on #41951
@ShaunSHamilton This should get fixed with https://github.com/freeCodeCamp/freeCodeCamp/pull/42254 which is a comment removal implementation using our [own fork](https://github.com/freeCodeCamp/strip-comments) of the strip-comments lib.

[2021-06-01 05:28] scissorsneedfoodtoo commented on #42269
@ShaunSHamilton, sorry, just seeing this now. I believe that used to be the case, but the suite should work in both Firefox and Chrome. We're running Selenium tests for both at the moment.

We can probably go through and remove all of those notes. Are they in the pens themselves?

[2021-06-01 08:08] raisedadead commented on #42319
Sure, go ahead and add a line to this area: https://contribute.freecodecamp.org/#/how-to-setup-wsl?id=installing-a-code-editor

[2021-06-01 09:31] Sembauke commented on #42101
fixed in  #42254

[2021-06-01 09:31] #42101 closed

[2021-06-01 09:34] Sembauke commented on #41951
can this still be closed then?

[2021-06-01 10:43] ahmadabdolsaheb commented on #40050
Yes, if the image link breaks after submission.  That is the root of the screenshot on the issue description.

[2021-06-01 10:51] MaciejReimann opened #42322 "Create a Stack Class: peek() method should be tested with more than one element in the stack"
**Affected page**
https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-stack-class

**Forum post**
https://forum.freecodecamp.org/t/create-a-stack-class-a-bug-in-tests-required-implementation-of-peek-method/462776

**The problem**
When solving the challenge, the code below passes the tests:

[code]

**Expected behaviour**
The tests should fail for anything other than t

[2021-06-01 12:56] RawandDev opened #42324 "Passing the challenge while running a wrong code."
**Affected page**

https://www.freecodecamp.org/learn/responsive-web-design/basic-css/import-a-google-font

**Your code**

[code]

**Expected behavior**

Importing `<link>` must be outside the `<style>` tag not inside it. This code above will pass the test cases even tho the font isn't
applied and imported inside the `<style>` tag.

**Screenshots**

As you can see the lobster font is not applied t

[2021-06-01 13:08] moT01 commented on #42311
I think the purpose of this lesson is to show how to give a tabindex to elements that don't have them by default. So it sounds like changing the lesson to use a -1 tabindex instead of 0 is the way to go. That should be an easy fix as it shouldn't require changing any (or very little) of the instructions. How does that sound @bbsmooth? And any interest in making a PR?

[2021-06-01 13:52] ShaunSHamilton commented on #41951
@Sembauke Thank you, for keeping up with this. I was a bit out of the loop with what was happening between this issue and the Safari issue. I will close this, once tested on `.dev`

[2021-06-01 16:01] ShaunSHamilton commented on #41951
I have tested on staging, and the original issue appears to have been resolved. Thank you, all involved 🎉

[2021-06-01 16:01] #41951 closed

[2021-06-01 21:21] ish-u commented on #42236
Hello,
I would like to help with this issue.

[2021-06-02 06:13] gikf commented on #42236
Hey @ish-u

issues are typically not assigned to specific person, other than long-time contributors, you can read more on https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me. Issues with *help wanted* label are open for contributions for everybody.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). Join us in [our ch

[2021-06-02 06:23] ish-u commented on #42236
Thank You for replying.
(Sorry i am new to open-source)

[2021-06-02 07:28] ahmadabdolsaheb commented on #42236
Also this is the repo for coderadio. https://github.com/freeCodeCamp/coderadio-client
I would recommend running it locally and skimming the source code before your first contribution.

[2021-06-02 11:43] stephanduesterhoeft opened #42331 "Missing period at the end of the second sentence."
**Affected page**
curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.md

**Expected behavior**
At the end of the second sentence "These generic font families include monospace, serif and sans-serif" the period is missing.

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/57948566/120474441-84828380-c3a8-11eb-8eab-cd39f4a0686d.J

[2021-06-02 12:31] ojeytonwilliams commented on #42324
Thanks for the report @RawandDev, the regex for this one is a bit too permissive.  It should check that the link is not inside the style tags (without using lookbehinds, because we've broken safari often enough recently)

[2021-06-02 13:03] SethFalco commented on #42331
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.md

Please make sure you read [our

[2021-06-02 14:38] #42307 closed

[2021-06-02 17:43] vipranarayan14 commented on #40472
I have [submitted a PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/42339) with the required changes.

[2021-06-02 18:29] #42331 closed

[2021-06-02 20:38] #42324 closed

[2021-06-02 22:57] jeremylt opened #42343 "Data Analysis with Python Misleading Quiz Question"
**Affected page**
https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/introduction-to-data-analysis

**Issue**
This question implies that R is better for data science than Python. This is a pretty debatable point, and not really a question to gauge the learner's level of understanding.

We can mitigate this issue somewhat by changing the text of the questi

[2021-06-02 23:11] MJ94 commented on #42343
Thanks for opening this issue, @jeremylt. For reference, the forum topic from which this originated is called [Slightly Confusing “Introduction to Data Analysis” Quiz Question](https://forum.freecodecamp.org/t/slightly-confusing-introduction-to-data-analysis-quiz-question/463110).

[2021-06-02 23:12] jeremylt commented on #42343
I knew I was forgetting something when I added the issue! Thanks for adding that.

[2021-06-03 03:32] sitiocoder commented on #42201
Hi, I am from the Philippines and I can confirm FCC is now accessible. Thanks for looking this up. Appreciate.

[2021-06-03 07:01] #42322 closed

[2021-06-03 09:59] #42319 closed

[2021-06-03 11:32] ShekharDhangar opened #42346 "Grammatical / Typo Error in News Section."
Issue :
Grammatical / Typo Error.  In the first line of "How to Find a Project to Contribute to" of "How to Contribute to Open Source Projects – A Beginner's Guide" news. There should be a English word "you" present in the line "Now that know how an open-source project works"

Link to Issue :
https://www.freecodecamp.org/news/how-to-contribute-to-open-source-projects-beginners-guide/#howtofindapro

[2021-06-03 11:34] ShekharDhangar commented on #42346
Hey, I am new here. Would really appreciate if someone can guide me on how to raise a new issue or any important part of contributing to FreeCodeCamp.

[2021-06-03 11:49] ShaunSHamilton commented on #42346
Hello there,

Thank you, for taking the time to open this issue. I have emailed the editorial team at `editorial<at>freecodecamp.org`.

---

If you are interested in how to contribute to freeCodeCamp, then I recommend going through the [Contributors Guide](https://contribute.freecodecamp.org/#/)

Happy coding :)

[2021-06-03 12:18] ShekharDhangar commented on #42346
Thankyou

[2021-06-03 13:44] ShaunSHamilton commented on #39348
To add: The following code causes the following error
[code]

To reproduce:
1) Go to challenge with code inside and outside editable region
2) Delete lines from within/outside editable region, until code is on single line

![image](https://user-images.githubusercontent.com/51722130/120654809-f080ec80-c479-11eb-8062-63ab08e8bebc.png)

[2021-06-03 13:50] raisedadead commented on #42343
I agree. We should proceed with this. Open to recommendations before opening this up for contributions, or a PR if you are interested.

You are correct, we will be phasing out video-based challenges in favour of interactive curriculum because they are really hard to maintain and fix in case of inaccuracieses.

[2021-06-03 14:41] ShekharDhangar commented on #42346
Should I fix this issue?

[2021-06-03 15:04] ShaunSHamilton commented on #42346
@ShekharDhangar Thank you, for your interest. However, this is not something that can be fixed by contributors, as it requires access to the news platform - it is not a part of this code base.

Feel free to look for open issues with _help wanted_ labels, though.

[2021-06-03 15:07] ShekharDhangar commented on #42346
Okay Thanks.

[2021-06-03 17:03] #42346 closed

[2021-06-03 22:39] lasjorg opened #42354 "I think we broke something with Safari...again."
Challenge: https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/create-a-media-query

Forum Post: https://forum.freecodecamp.org/t/no-idea-why-is-not-giving-me-the-pass/463327

I have only tested this using LambdaTest.

macOS Mojave Safari
![macOS-Mojave-Safari](https://user-images.githubusercontent.com/28780271/120720410-5007e800-c4cc-11eb-99e5-18e74c4a3c31.pn

[2021-06-04 02:19] moT01 commented on #42354
Yea, passes in firefox and edge (osx) for me - not passing in Safari. I can try and dig a little deeper at some point here.

[2021-06-04 06:19] ojeytonwilliams commented on #42354
cc: @ShaunSHamilton

[2021-06-04 07:02] #40472 closed

[2021-06-04 09:10] ShaunSHamilton commented on #42354
Some quick testing on LambdaTest (thanks for the mention @lasjorg ) lead to me seeing this:
![image](https://user-images.githubusercontent.com/51722130/120777179-ee239e80-c51c-11eb-8d01-3032e6799e6d.png)

There is no `conditionText` property on the `CSSMediaRule`. However, the same info appears to be within the `media.mediaText` property.

[2021-06-04 13:11] shekine opened #42363 "Personal Library Test#3 GET request passes with no code"
**Affected page**
Add a link to the coding challenge with the problem.

[Personal Library](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/personal-library)

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**

Given that this is the Replit starter project and the GET route has no code,

[2021-06-04 17:13] samarmohan commented on #41580
How is the progress on this?

[2021-06-04 17:16] samarmohan commented on #42256
I can do ` /client/utils/index.js`, `/client/utils/challengeTypes.js`, and `/client/utils/buildChallenges.js`

[2021-06-04 17:33] samarmohan opened #42366 "Use Yarn instead of NPM."
**Is your feature request related to a problem? Please describe.**
NPM is slow and unreliable, Yarn is faster. With Yarn v2, we may not even need node_modules which will save space in local environments.

**Describe the solution you'd like**
Use Yarn v2 instead. We can use Yarn v1 but v2 (berry) is even better and faster.

**Additional context**
#11208 and #11501 were closed in 2016 and the reason

[2021-06-04 18:10] gikf commented on #42363
It seems asserts are not even run, because promises are not fulfilled. Not sure if this is to be expected, but I'm surprised there isn't timeout like in other tests. I guess internally that doesn't make test not finished, so there's nothing to timeout...?

Adding `await` before `Promise.all(...` or each post request in `a`, `b`, `c`, would make it timeout as expected.

[2021-06-05 08:13] #37966 closed

[2021-06-05 09:55] ShaunSHamilton opened #42373 "CSSHelp Features and Bugs"
**Reason for this issue**:
- Documenting quirks and issues with the CSSHelp class

**Quirks** _(will not fix)_
- Testing in JSDOM results in whitespace formatting being taken through to computed values. [Example](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/css-help.test.ts#L74)
- Colour values are computed into `rgb`. Example: `#000` -> `rgb(0, 0, 0)`
  - **Note**: Name

[2021-06-05 10:02] ShaunSHamilton commented on #42373
@nhcarrigan Your thoughts on a fix for `Calculated values can contain whitespace (not \t\r\n).` would be appreciated?

My thinking is to just `.replace(/\s+/g, "")`. Reasoning: The value is already computed. So, we can rely on the fact that if a Camper were to write something incorrect (e.g. `var(-- building-color 1)`), the CSS parser would not take it as valid, and not allow the property to conta

[2021-06-05 11:21] ojeytonwilliams commented on #42373
I thought CSS ignored surrounding whitespace and "background: red", "background: red " and "background:red" all being equivalent.  Don't we want the helper to treat values the same way?

[2021-06-05 11:50] ShaunSHamilton commented on #42373
Yes. But this has to do with **custom CSS variable** property values. `background` is not a custom CSS property. We cannot control this parser fact _unless we alter the prototype_ 😉 . Also, these values are accessible through the prototype function `getPropertyValue` -> not our own helper.

[2021-06-05 13:50] ojeytonwilliams commented on #42373
Yeah, sure.  We don't need to alter the prototype, though, we could just wrap the function.  Anyways, I see your point - custom properties really are just text until they are used by `var(--custom-property)`.  So, if we're writing tests to see what the user put in their custom properties, that's what we have to use.

Not to get too deep into the weeds, but if I wanted to see how a property is used

[2021-06-05 14:28] ShaunSHamilton commented on #42373
[code]

[2021-06-05 15:50] prsmahajan commented on #42373
Hi, I would like to work on this issue, can you suggest me ways to get started?

[2021-06-05 15:52] ShaunSHamilton commented on #42373
@prsmahajan Thank you, for our interest in contributing. However, this is not an open issue for contribution (as indicated by the _help wanted_ label). It is for discussing the use of the CSSHelp class.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone o

[2021-06-05 15:54] prsmahajan commented on #42373
Thank you but I will try my best to be a part of FCC.

[2021-06-05 16:11] lasjorg commented on #39969
Forum thread: https://forum.freecodecamp.org/t/add-inline-styles-in-react-bug-if-styles-variable-not-declared-outside-of-component/463592

I'm reopening this because I don't really understand the reason given for closing the issue.

More importantly, I think we can make it more clear where the object is supposed to be located. That or make the tests accept a class field as well (seems unnecessary

[2021-06-05 16:18] kevinsmithidt commented on #39969
I think that the failing example does use inline styles (at least as I understand it), it just does it in a way that doesn't use the typical pattern (but I have declared and modified inline styles dynamically in the component before). But then we're assuming that the learner is already familiar with the pattern we are trying to teach.

Perhaps we could add to the instructions:

I was thinking abou

[2021-06-05 16:32] lasjorg commented on #39969
I think updating the seed code with the example I posted would be fine. But @kevinsmithidt suggestion might work as well. I'm fine with either really.

I was thinking that it seems like a good first-time PR but because issues are not visibly bumped up (can you bump issues?), I'm guessing this issue might be buried too far down. I can label it and see what happens, otherwise, we might just have to

[2021-06-05 19:12] giridhar7632 commented on #42366
Freecodecamp courses have challenges using npm. So I think npm is more suitable for beginners.

[2021-06-05 20:50] samarmohan commented on #42366
Yes but this is the website, what we do internally doesn't affect externally. NPM is better for beginners but it is not better for professional sites.

[2021-06-06 10:20] Mallikarjunople commented on #39969
/assign

[2021-06-06 10:21] Mallikarjunople commented on #39969
Hello, I would like to work on this issue.  Can it be assigned to me?

[2021-06-06 10:22] theogom opened #42381 ""Your solution should not use the ... method" test can be deceived with eval"
**Bug**

In the "JavaScript Algorithms and Data Structures" section, challenges with the "Your solution should not use the ... method" test can be done with the undesired method using eval.

Indeed, the regex can be deceived using eval and string concatenation.

**Example**

For instance, the method ``Array.prototype.flat`` should not be used to solve the challenge [Steamroller](https://www.freeco

[2021-06-06 10:32] ShaunSHamilton commented on #42381
Hello there,

There will always be ways to get around the tests. However, if someone has gone to the lengths described in this issue to get around them, then they show little-to-no intent to use the freeCodeCamp lesson to learn the intended topic. As such, the learner is either more adept in JavaScript than expected at this point in the curriculum, or _shooting themselves in the foot_ by not follo

[2021-06-06 10:32] #42381 closed

[2021-06-06 10:33] ShaunSHamilton commented on #39969
Hello @Mallikarjunople

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have

[2021-06-06 17:11] lasjorg opened #42386 "Regex test for hardcoding matches other numbers in function body"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array

Forum: https://forum.freecodecamp.org/t/should-not-be-hard-coded-test-failure/463741

Closed issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/39396

The regex should at least do an exact match for `23569` and not just an

[2021-06-06 17:50] awu43 commented on #42386
This could be extended to match any number between square brackets as hardcoding (`\[.*?\d.*?\]`), though this will match a false positive on a more convoluted solution like
[code]

[2021-06-07 04:08] Brijesh2709 opened #42389 "Email Sign Up from a certain page raises an unexpected error"
I have been trying to sign up [](https://www.freecodecamp.org/email-sign-up/) using this link for the past few days. However, I keep getting a "Something's not right" error every time I try to sign up. I have attached the image below. The user might get frustrated and may lead to a loss of potential customers willing to sign up.

![signUp](https://user-images.githubusercontent.com/52804384/1209574

[2021-06-07 05:38] ojeytonwilliams commented on #42389
Hi, @Brijesh2709 could you share a bit more context? Which page generates this error?

[2021-06-07 11:38] navjotjsingh opened #42392 "Tribute Page Project Instruction about using figure tag"
**Affected page**
Add a link to the coding challenge with the problem.
https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page

User Story no. 3 mentions using a div tag with `id="img-div"` but your test and sample allow and uses a `<figure>` tag. The instruction needs to reflect this change.

[2021-06-07 11:52] #39969 closed

[2021-06-07 13:05] ahmadabdolsaheb commented on #41580
It is going well, one of the tasks that can be done in parallel is setting up TS for the component library if you are interested.

[2021-06-07 13:07] ahmadabdolsaheb commented on #41580
@samarmohan, t is going well. One of the tasks that can be done in parallel is setting up TS for the component library if you are interested.

[2021-06-07 15:00] Lanie-Molinar opened #42396 "Editor - Ability to detect when a screen reader is running"
I'm a blind user of FreeCodeCamp. I love that the editor you use has accessibility support, but as of now, you have to turn on screen reader optimization manually each time you use the editor. This can get quite tedious when you're switching between the info and code tabs on challenges, or completing easier challenges quickly.
When I looked at the help documentation for the editor you use, the gui

[2021-06-07 15:19] lasjorg commented on #42392
I guess that's true. We (sort of silently) added the support for the figure element to allow for more semantic HTML. The problem is the awkwardly named id which we can't change without breaking backward compatibility with already finished projects.

Asking the student to add a `figure` element with an id of `img-div` is awkward. But I guess there really isn't much we can do about it. I'm willing t

[2021-06-07 15:19] Brijesh2709 commented on #42389
Signing up from [https://www.freecodecamp.org/email-sign-up/](https://www.freecodecamp.org/email-sign-up/) triggers the error message above. When you are logged in this works fine. But when you are in a logged out state, trying to sign up for the email list I get this error message. Please do share your thought on a possible solution.

[2021-06-07 16:21] jeremylt commented on #42343
I have seen this message, but I'm suddenly juggling several large plates, so I have not had time to circle back.

[2021-06-07 21:33] #42354 closed

[2021-06-08 00:47] HurayraIIT opened #42402 "add a local study group"
Please provide the following information to aid in adding your group to the directory:

### Essential

- [x] Group URL (https://www.facebook.com/groups/free.code.camp.savar.dhaka)
- [x] Group is located in Jahangirnagar University.
- [x] Town or City: Savar, Dhaka - 1342
- [x] Country: Bangladesh

### Nice to have

- [x] Co-ordinates 23.881233371122114, 90.26975794655895

### If you have one

- [

[2021-06-08 06:49] raisedadead commented on #42343
No worries @jeremylt, we understand you are busy. Thanks for helping us with so many things :)

If you recommend some changes we can tag this as help wanted. I am not sure if changing the question to `Why might you choose to use R over Python for data analysis?` solves the concern adequately.

I am fine if you think that is enough though.

[2021-06-08 07:24] raisedadead commented on #42396
Hi Lanie,

Thanks for taking the time to report this and going further to investigate and find us the docs to implement this. Let us take a look and get back to you.

Thanks.

[2021-06-08 07:28] raisedadead commented on #42389
Duplicate of #40772

[2021-06-08 07:28] #42389 closed

[2021-06-08 07:30] raisedadead commented on #41956
Thanks for opening this issue, have you gotten a chance to discuss this on https://forum.freecodecamp.org - our community forum first.

Also please help us fill the complete description in the issue report including links to the challenge etc.

[2021-06-08 07:40] raisedadead commented on #42392
We have been discussing avoiding showing the source code of the Pens altogether - this came up during a contributors meeting.

Yes - we should align the instructions as closely as possible with source/example templates but it often leads to users peeking under the hood. That's not necessarily a bad thing, but it often causes nuanced issues such as this where would be doing breaking non-compatible

[2021-06-08 07:50] raisedadead commented on #42366
Thanks for your feedback. We appreciate it.

The issues in the OP have been made in context at that time, there is no point discussing those here. We are going to be using `npm` - it has endured the test of time and our workflows.

We don't care much for the opinionated push for a tool. Our [architecture design decisions](https://www.google.com/search?q=architecture+design+decisions) follow a phil

[2021-06-08 07:50] #42366 closed

[2021-06-08 09:21] huyenltnguyen commented on #42396
I see that we have a `inAccessibilityMode` state stored in redux, which is reset when the page is refresh.

I'm wondering if saving it to local storage would be enough to have it persisted, rather than implementing a screen reader detection of some sort. It's the privacy implications that I don't feel comfortable about.

[2021-06-08 09:28] raisedadead commented on #42396
Local storage should be fine, I think.

As for detecting the screen reader, We should be clear as long as we never collect this information outside of the client. The idea is to be able to assist as much as we can.

If it's stored and used on the client only, it should be OK. We could ask for consent with an alert or modal when we detect and use the screen reader persistence.

[2021-06-08 10:05] pkrc267 opened #42405 "Insufficient color contrast on highlighted code block in Dark Mode"
**Affected page**
[https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://www.freecodecamp.org/learn/](https://ww

[2021-06-08 12:02] moT01 commented on #42392
It looks like the test will allow any element as long as the `id` is correct:
[code]

In the test suite, user story 3 says what @lasjorg mentioned:
![Screen Shot 2021-06-08 at 6 35 36 AM](https://user-images.githubusercontent.com/20648924/121178921-ab1b4100-c824-11eb-869f-2789e0587934.png)

It looks like user story 5 has a similar issue, the test suite doesn't match what's on the website. Again, t

[2021-06-08 12:41] aknouche commented on #42405
Hi @pkrc267 Can I work on this issue?

[2021-06-08 13:21] gikf commented on #42405
Hey @aknouche

Issues are typically not assigned to anyone other than long-time contributors. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). J

[2021-06-08 14:24] raisedadead commented on #42343
Hi @aknouche we haven't reached a conclusion. You should take a look at the help wanted issues that are open for contributions at this time.

[2021-06-08 14:38] aknouche commented on #42405
Thanks for the reply @gikf, This issue is marked with the label "help wanted" so can I work on it and make a PR without being assigned to it then?
![github](https://user-images.githubusercontent.com/42774809/121205384-e98e1b80-c877-11eb-8dba-3d94d51d1997.PNG)

[2021-06-08 15:26] ojeytonwilliams commented on #42405
Yep, @aknouche, that's exactly right. You're very welcome to work on this.

[2021-06-08 15:52] lasjorg commented on #42392
I updated this project 2 years ago and we haven't had any issues with the changes as far as I know.

When I did the update I improved the HTML semantics and initially was planning to update the user stories and tests. In order to support the legacy version of the project, I wanted to conditionally test for it. But at the time it was deemed simpler to just leave as many of the old tests as-is inste

[2021-06-08 16:42] paulywill commented on #39765
@RandellDawson Was this issue discussed before repl.it removed the ability to add `.env` files?

![image](https://user-images.githubusercontent.com/602422/121224914-01a17300-c857-11eb-9cb8-133fcbe49225.png)

[2021-06-08 16:48] ShaunSHamilton commented on #39765
@paulywill Sorry for butting in, but yes. We did try to clarify that with this line:

We can probably close this issue as stale, because there have been changes to the lesson, and it comes up slightly less frequently.

[2021-06-08 17:03] MJ94 commented on #42343
As the original requester, I support the question rewritten as suggested at the very least. However, I don't think the question as rewritten captures the essence and key takeaways of the video. We don't need to make it a "fight" between R and Python.

[2021-06-08 17:10] jeremylt commented on #42343
I was thinking of something along the lines of

Which of the following is not part of Data Analysis

1) Building statistical models and data visualizations

2) Fixing incorrect values and removing invalid data

3) Picking a desired conclusion for the analysis <--- THIS IS THE BIG NO-NO

4) Transforming data into an appropriate data structure

---

By the way, the slide deck seems to include an adv

[2021-06-08 17:44] aknouche commented on #42405
Ok will do thank you : )

[2021-06-08 18:09] raisedadead commented on #42392
Thanks, everyone. Closing as a `wontfix`.

[2021-06-08 18:09] #42392 closed

[2021-06-08 19:05] aknouche commented on #42405
@ojeytonwilliams I have redproduced the issue. I have cloned the repo but I am having troubles finding the folder where the file for the lesson is located

[2021-06-08 20:31] beaucarnes commented on #42343
@jeremylt Thanks for pointing out the advertisement. That is not supposed to be there.

The video and slides in this section of the curriculum is came from a part of a video on the freeCodeCamp YouTube channel. I did not realized that the slides that were linked with the video contained the ad. I'm creating a new version of the slides as we cannot edit the original version. I'm going to update the

[2021-06-09 04:23] Nirajn2311 commented on #42405
The lesson doesn't matter here as the issue is present in every challenge which shows a code snippet. Basically a global css style has to be set just for the selection of the code snippet part.

[2021-06-09 04:32] Nirajn2311 commented on #42186
For step 2, I found a blog where someone changed that default prefix(not sure how effective it will be). Here's the article - https://logaretm.com/blog/2020-02-08-tailwind-dark-mode/

[2021-06-09 07:41] aknouche commented on #42405
Hi, Ok thanks. I can see that this will be fixed through another issue so I
will let it be

Den ons 9 juni 2021 kl 06:23 skrev Niraj Nandish ***@***.***>:

[2021-06-09 08:19] #42402 closed

[2021-06-09 08:50] ahmadabdolsaheb commented on #40702
So basically we would need sandbox and mock tests:
1) sandbox testing should occur preferably daily for a subset of cypress tests on a cron schedule.
2) mocks should run on each source modification, and should preferably be provided by an up to date npm module or the payment processor.

[2021-06-09 15:50] prsmahajan commented on #42405
Hey, I want to work this issue, Can you assign me this?

[2021-06-09 18:07] nhcarrigan opened #42421 "Discussion Regarding Backticks and Translations"
Continuing [this discussion](https://github.com/freeCodeCamp/freeCodeCamp/pull/42403#discussion_r647322903):

We are re-assessing our approach for keywords such as `string`, and whether to wrap them in code tags and leave them as "do not translate" or take another approach. Based on that discussion, some ideas have been pitched:

- Leave keywords in code tags, allow translators to "save anyway" wh

[2021-06-09 18:54] ieahleen commented on #42421
I would agree with @RafaelDavisH that having translators decide case by case may have confusing consequences, and better leave code tags as to not translate, but changing the original text if the code tags are not useful.

Also I would agree that if it's not written code then it doesn't need backticks, better having some less text in backticks and making translation less difficult

[2021-06-09 19:17] ojeytonwilliams commented on #42421
My high level take is that allowing the translators more freedom will make it possible for them to produce the highest quality translations.  However, Nick and Rafa raised good, practical points about consistency.  I think we do want to make it easier to make decent translations, even if that makes it harder to make great ones.

If we're in the happy situation where a language has lots of contribu

[2021-06-09 19:24] RafaelDavisH commented on #42421
This is an example where the title of the Challenge doesn't have the keyword 'main' wrapped in code tags, but later it is. Here we decide to translate the word but also include it in parentheses in English.

https://freecodecamp.crowdin.com/translate/690087755819f2f67b26dbee3be0eb53/20254/en-esem/130#601686

<img width="488" alt="Screen Shot 2021-06-09 at 12 09 07 PM" src="https://user-images.gith

[2021-06-09 20:01] ish-u commented on #42236
Hello,
I need help regarding the last point - 'Revisit the color contrast of the elements in question"
Do I need to change the Colors ?
Also removing  `arai-label`  from Canvas component is not allowed by the Linter
\
![image](https://user-images.githubusercontent.com/51030453/121421087-6f4ebb80-c98b-11eb-9e22-cb34be2f51bb.png)

[2021-06-09 22:11] ieahleen commented on #42421
The case that started this discussion was a "should return a number" (or other data type), which jumped to attention as I had just come accross various almost identical sentences where `number` was not in backticks, and in that challenge it was, so I made the PR for consistency reasons.

I don't think I would have made the PR if it wasn't for both versions of the sentence existing.

[2021-06-09 22:30] RafaelDavisH commented on #42421
I don't agree with this statement. We CAN have great translations regardless of having certain word wrapped. It will be challenging, but it is 100 percent doable. Programming languages' syntax are in English, and we will not find some words in our native world languages, and IMO that's okay. It doesn't make these decent translations.

[2021-06-09 23:07] jeremylt commented on #42405
@prsmahajan, it looks like there is already a PR open for this issue.

[2021-06-10 05:26] #42405 closed

[2021-06-10 06:35] awu43 commented on #42256
Hey, I'd like to take `client/src/pages`:

[code]

[2021-06-10 08:45] ojeytonwilliams commented on #42256
Thanks @awu43, I've edited you in :+1:

[2021-06-10 14:32] guru1717 commented on #9336
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2021-06-10 14:42] ShaunSHamilton commented on #9336
This issue is locked, as resolved. If you require any assistance with the freeCodeCamp curriculum, feel free to search for help, or open a topic on the [forum](https://forum.freecodecamp.org/).

Happy coding 😃

[2021-06-10 14:49] ArielLeslie opened #42431 "Project Description/submission pages do not load on Safari"
**Affected page**
All Project description pages except those in the JavaScript Algorithms and Data Structures Certification.

**Expected behavior**
The page should render, but it is stuck in the loading screen.

**System (please complete the following information):**
 - Device: iPhone 11 (also reported on iPads)
 - OS: iOS
 - Browser: Safari and Firefox
 - Version: latest

[2021-06-10 16:23] ShaunSHamilton commented on #42431
Could reproduce on: Mozilla/5.0 (iPad; CPU OS 13_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/85.0.4164.0 Mobile/15E148 Safari/604.1

404 from CloudFlare:
[code]
However, I was also unable to access any page without seeing the loading screen.

Could not reproduce on 13-inch Mac (does not tell me version on Lambda Test 🤷‍♂️ )

[2021-06-10 16:28] raisedadead commented on #42431
Quick follow-up question:

Assuming from Ariel's report the earliest this was seen was at least two hours ago (2:20 pm - UTC). I just pushed out a fresh batch of the platform updates minutes ago (4:26 pm - UTC). Can you confirm after waiting for a few more minutes the issue is still current?

[2021-06-10 16:37] ArielLeslie commented on #42431
The earliest report I have of the issue is from yesterday via this reddit post: https://www.reddit.com/r/FreeCodeCamp/comments/nvu4by/problem_while_opening_the_projects_in_ipad/

It doesn't seem to be working yet on, but I'll give it time to take effect and try again.

[2021-06-10 16:46] ShaunSHamilton commented on #42431
I can access from `.dev`, now.

[2021-06-10 16:49] ArielLeslie commented on #42431
I'm still not able to on Firefox or Safari.

[2021-06-10 16:57] raisedadead commented on #42431
Thanks, @ArielLeslie & @ShaunSHamilton. It seems that the OP on Reddit have mentioned it's a recent iOS update thrown into the mix.

We will need to keep investigating.

[2021-06-10 16:59] Neeti797 commented on #42431
Hi I am the OP in reddit  and yes i still cant access it .tried on safari and chrome. something with the new iOS update

[2021-06-11 08:45] ahmadabdolsaheb commented on #42236
@ish-u, thanks for working on this. If you could list the elements in question, we could change their contrasts accordingly as the tool requires sign up and subscription plan.
The keyboard shortcuts button has lower opacity by design, but we could change that accordingly.

[2021-06-11 11:18] ish-u commented on #42236
Thank You for merging my PR.

On Google Chrome
  - while not Playing:
     -  Keyboard Shorcut
  - while Playing:
     -  Keyboard Shorcut
     -  Stream Selection

On Mozilla FireFox:
  - while not Playing:
     -  Keyboard Shorcut
  - while Playing:
     -  Keyboard Shorcut
     -  Stream Selection
     - CurrentSong Component
        - title div
        - artist div
        - album div

[2021-06-11 12:12] ahmadabdolsaheb commented on #42236
Here is the design style guide: https://design-style-guide.freecodecamp.org/

And here is the colors that are used in the UI: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/layouts/variables.css#L2-L30

feel free to replace the colors and create a pull request, I will go in the pr and change the colors if necessary.

[2021-06-11 16:06] #39132 closed

[2021-06-11 16:06] #39561 closed

[2021-06-11 16:36] Nrestrepo05 commented on #42186
Hey! I'd like to work on this issue, so now I'm working on a new repo trying to develop the dark mode in a good way. When I finish it, I will share it with you!

[2021-06-11 16:49] moT01 commented on #42226
Closed via the linked merged PR

[2021-06-11 16:49] #42226 closed

[2021-06-11 17:03] moT01 opened #42444 "Rename APIs and Microservices to include "Backend""
Quincy requested that we rename the APIs and Microservices cert to include "Backend" - I don't recall if there was a specific title recommended, but "Backend API's and Microservices" should work I think.

[2021-06-11 18:53] ShaunSHamilton commented on #42444
If I am not mistaken, the idea was to completely remove the mention of _Microservices_.

[2021-06-11 18:58] moT01 commented on #42444
That might be right - I'm not sure. I'll see if I can get something more concrete from him.

[2021-06-11 19:22] lasjorg commented on #42431
It's odd how this also seems to be affecting clicking the links. If you look at the [video posted](https://forum.freecodecamp.org/t/safari-curriculum-pages-stuck-loading/464358/9) on the forum they also can't left-click the link and has to use right-click open in new tab. I would expect that to be a totally different issue from the loading one.

If this happens on different browsers, it must be so

[2021-06-11 20:55] ArielLeslie commented on #42431
It appears to also be a problem on Safari for MacOS.  It is also affecting the Settings page.

https://www.reddit.com/r/FreeCodeCamp/comments/nxlejk/projects_and_settings_wont_load/
https://forum.freecodecamp.org/t/cannot-make-my-profile-public/464295

[2021-06-11 21:56] Nrestrepo05 commented on #42186
I already finished the repo, here is the link:

https://github.com/Nrestrepo05/darkmode

I think we can still use colors vars and a class on the body tag as we have already been doing. As you can see in my repo I tried to keep doing what is already implemented and it works perfectly.

Hope to know what you think!

[2021-06-12 01:51] AjuanM commented on #7976
<style>
  .red-text {
    color: red;
  }
  p {
    font-size: 16px;
  }
</style>

<style>
  .red-text {
    color: red;
  }

  p {
    font-size: 16px;
  }
</style>

[2021-06-12 10:00] ieahleen opened #42454 "mismatch between challenge instructions and seed code in Concatenating Strings with the Plus Equals Operator"
The challenge instructions says "Use the <code>+=</code> operator similar to how it is shown in the editor.", but the seed code is empty
It should mention the example instead of the editor.

This needs the change of one word, as such I am opening this issue to first timers.

This is the challenge
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/concaten

[2021-06-12 10:05] ieahleen opened #42455 "Translation: backticked strings loose spaces at the end"
I think we have a small issue with translations and spaces at the end of strings in backticks
In at least one challenge there is a space at the end of a string, (the string `This is the start. `)
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator.md
in the englis

[2021-06-12 10:09] ieahleen commented on #41956
duplicate of #41951 and since been resolved, closing

[2021-06-12 10:09] #41956 closed

[2021-06-12 10:32] ieahleen commented on #42421
There is a bit of everything, and the inconsistency usage is huge
Example

Here `numbers` is not in code tags, while `strings` is

[2021-06-12 10:38] ojeytonwilliams commented on #42455
Good catch @ieahleen.  I think this is a bug with Crowdin, unfortunately - it should definitely be preserving all the spaces.

As a workaround we could try using `<pre><code>This is the start. </code></pre>` and see how it handles that.

[2021-06-12 15:37] #42454 closed

[2021-06-12 18:41] huyenltnguyen commented on #42186
@Nirajn2311 Thanks for the link! I'll take a look. It's just that I have not written code with atomic CSS for a long time, and I never knew I would need to relearn to get back to this (as in I don't know what the right coding pattern should be now) 😅

---

@Nrestrepo05 First of all, welcome to freeCodeCamp and big thank for the demo repo! I am also in favor of following the current implementation.

[2021-06-12 18:45] huyenltnguyen commented on #42186
@ahmadabdolsaheb hope you could weigh in on this. To sum up the entire discussion, there are two approaches we can take regarding dark theme support:
- The currently approach in /learn in which we use light theme styles as the default, then override them with the `.night` selector for dark mode.
  - Pros:
    - Consistent with the implementation of /learn, thus easier to get familiar
    - Less co

[2021-06-12 19:47] huyenltnguyen commented on #42236
Hey team, sorry for not being able to respond sooner.

@ish-u Thank you for the fix! Don't worry, I can take a look at the canvas aria-label issue 🙂

Regarding the color contrast, we don't have to address them all. axe DevTools, just like other audit tools, cannot be 100% accurate on the errors they flag as they can't determine if the color contrast actually needs to meet the requirement.

I think

[2021-06-12 21:29] huyenltnguyen commented on #42236
Huh, the `aria-label` in canvas is trickier than I thought.

According to the [HTML specs](https://www.w3.org/TR/html-aria/#dfn-any-role), `canvas` can take any ARIA attributes, so I think the this is a bug of the tool

<img width="805" alt="Screen Shot 2021-06-13 at 04 11 08" src="https://user-images.githubusercontent.com/25715018/121789118-80066800-cbfd-11eb-9422-c3e583460ece.png">

However, acc

[2021-06-12 22:14] lincore81 opened #42460 "Comma-separated const declarations not accepted (Redux)"
**Affected page**
https://www.freecodecamp.org/learn/front-end-libraries/redux/use-const-for-action-types

**Expected behavior**
The following two code snippets are both correct and semantically equivalent js, but one passes all tests and the other does not. Either both should pass or both should fail.

Passes:
[code]
Fails:
[code]

Declaring multiple comma separated const's fails this test:
```LO

[2021-06-13 08:24] Nirajn2311 commented on #42460
The test currently checks for two separate `const` declarations. You can view it here - [Use const for action types](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/03-front-end-libraries/redux/use-const-for-action-types.md)

I think the regex can be updated to fix this.

[2021-06-13 11:23] gikf commented on #40896
Below 100 of Project Euler there's few challenges left that may not be as feasible or straightforward to change. Does anybody have any ideas for these challenges?
- https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-33-digit-cancelling-fractions - Checking numbers with 1 digits in numerator and denominator wouldn't make sense. 3 digits would make challenge harder than o

[2021-06-13 16:24] ish-u commented on #42236
I also had the doubts regarding the `contrast` because the tool said something like "needs to be reviewed".
Maybe we can do something about the `Keyboard Shorcuts` like move it to the left side of Navigation Bar

[2021-06-13 18:11] huyenltnguyen commented on #42396
Hi @Living4God1991, I'm looking at the issue right now. I will have the setting saved to the browser local storage, which helps prevent it from being automatically reset.

Though, I'm wondering if you are aware of the Ctrl + F1 (or Cmd + F1 on Mac) keyboard combination. The combination behaves like a toggle that switches the accessibility support on or off, and saves the setting until the page is

[2021-06-13 18:19] heysujal commented on #42444
Please assign me this issue

[2021-06-13 18:26] ShaunSHamilton commented on #42444
@heysujal
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues wit

[2021-06-13 18:27] heysujal commented on #42444
@ShaunSHamilton Got it. Thanks for the info.

[2021-06-13 19:42] ahmadabdolsaheb commented on #42186
@huyenltnguyen, thank you for the extensive research.

A little bit of history: we use to set the "night" css class in the html and style elements by adding .night to the night mode selectors. We ended up with a lot of styles to maintain. Then, we moved on to contrast based theming and simplified our sheets a bit by using css variables.

Although approach 1 is not tailwind's current official metho

[2021-06-13 20:47] alirezaghey opened #42473 "bug: Curriculum test regex does not cover some code formats"
**Affected page**
[Affected page](https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii)

**Your code**
[code]
*The callback url is redacted.*

**Expected behavior**
I expected this code to pass the tests. But it did not.

**System (please complete the following information):**
 - Device: [Laptop]
 - OS: [Ubuntu 20.4]
 - Browser:

[2021-06-13 21:51] ShaunSHamilton commented on #42473
Hello there,

Thank you, for taking the time to open this. In general, we need to find a better way of testing these challenges without using RegEx, as mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/39675

As for this issue, a quick-fix could be as you mentioned, but, I might even just make the test to use the `s` flag:
[code]

---

An issue with the _help wanted_ or _first timer

[2021-06-14 01:34] huyenltnguyen commented on #42236
IMHO, having the keyboard shortcut box in the Footer component would be more appropriate, as the [`nav` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav) is usually used for important navigation links.

I was thinking about placing it on the right side of the Footer, both because it has been on the right side of the screen all along, and since it is less important than other

[2021-06-14 04:02] Nrestrepo05 commented on #42186
sorry @ahmadabdolsaheb I didn't understand so well. Do you want to keep doing things like they are already (css variables) or you want to use the tailwind convention?

[2021-06-14 05:04] ish-u commented on #42236
Font Awesome icon would be better

[2021-06-14 10:42] Nrestrepo05 commented on #42186
Thank you @ahmadabdolsaheb, do you think there something that I can do on this issue?

[2021-06-14 10:51] Nrestrepo05 commented on #42256
Hey! I want to help with the following files:

/client/src/components/Donation/DonateCompletion.js
/client/src/components/Donation/DonateForm.js
/client/src/components/Donation/DonationModal.js
/client/src/components/Donation/DonationTextComponents.js
/client/src/components/Donation/PayPalButtonScriptLoader.js
/client/src/components/Donation/PaypalButton.js
/client/src/components/Donation/assets/A

[2021-06-14 13:16] stephanduesterhoeft opened #42479 "Missing period at the end of the third sentence."
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
There should be a period at the end of the third sentence (Finally ...).

**Screenshots**
![Screen](https://user-images.githubusercontent.

[2021-06-14 13:24] ShaunSHamilton commented on #42479
Hello there,

Thank you, for taking the time to open this issue. We can add a period (`.`) at the end.

Here is the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list.md

---

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehe

[2021-06-14 16:12] Living4God1991 commented on #42396
Hi @huyenltnguyen. I had no idea this keyboard shortcut existed. I've started using it for now. It would be great to have something showing the available keyboard shortcuts. I also noticed the lack of feedback when a keyboard shortcut is pressed. After I pressed CTRL+F1, I still found myself pressing Alt+F1 to see if the editor was optimized for screen readers.

[2021-06-14 18:40] #42363 closed

[2021-06-15 07:45] ojeytonwilliams commented on #42396
We're planning to make the keyboard shortcuts more obvious for the upcoming curriculum, but we don't have a firm timeline for that.  In the short term, would it be helpful to have a bit of text for screen readers that tells you when the accessibility mode is off and how to enable it? Something like "Accessibility support off, press Ctrl + F1 (or Cmd + F1 on Mac) to enable"

[2021-06-15 07:53] ojeytonwilliams commented on #42256
Thanks @Nrestrepo05, I've edited you in too +1

[2021-06-15 09:06] #42431 closed

[2021-06-15 10:00] huyenltnguyen commented on #42396
@ojeytonwilliams Sorry, but I kind of want to fight for the presence of keyboard shortcuts on the page 😅

It is not just for the Ctrl + F1 combination alone, and nor for screen readers support specifically, but I believe visual users can get the benefits as well. There was a user asked about the Ctrl + Enter shortcut the other day in the chat because they couldn't find it anywhere on the screen.

[2021-06-15 10:17] ojeytonwilliams commented on #42396
Yep, I understand.  I broadly agree, too.  The only issue (to my knowledge) is that we don't want to advertise the navigation hotkeys too heavily.  Reason being, they're really useful for us as contributors, but we don't want to encourage people to skip challenges.  If we only 'advertise' the other shortcuts I think that should be fine.

Also, it might be better to put them as another option under

[2021-06-15 10:29] ahmadabdolsaheb commented on #42186
@Nrestrepo05, I am not sure

[2021-06-15 11:23] ojeytonwilliams commented on #42431
The fix is live in production now, thanks to @moT01.

[2021-06-15 11:24] ahmadabdolsaheb commented on #42186
Since our colors have evolved since we published the design style guide, there are a couple of notes to take into account when approaching the colors config, naming, etc. in developing the component library:

- there are to main types of colors: the colors that switch during the theme change  (background, foreground) and colors that do not (cta yellow).
- colors that change have less saturation, a

[2021-06-15 12:02] moT01 opened #42502 "Change cert name to "Front End Development Libraries" on settings page"
We renamed the "Front End Libraries" cert to "Front End Development Libraries" a while back. It never got updated in a few spots on the settings page...
![Screen Shot 2021-06-15 at 6 58 30 AM](https://user-images.githubusercontent.com/20648924/122049055-994b1800-cda7-11eb-82a7-7a7ed9d833eb.png)
![Screen Shot 2021-06-15 at 6 58 13 AM](https://user-images.githubusercontent.com/20648924/122049061-9b1

[2021-06-15 12:04] moT01 commented on #42444
Hey @heysujal, or whoever ends up working on this - we should be sure to rename this on the settings page as well. In the same area as these: https://github.com/freeCodeCamp/freeCodeCamp/issues/42502

[2021-06-15 12:07] moT01 commented on #42431
Hey @Neeti797, is it working for you now?

[2021-06-15 12:08] heysujal commented on #42444
@moT01  I am not allowed to work on it because

[2021-06-15 12:18] moT01 commented on #42444
Sorry, sometimes we forget to change the labels. Feel free to give it a go if you want.

[2021-06-15 12:34] Neeti797 commented on #42431
Yes .thank you

[2021-06-15 12:38] Nrestrepo05 commented on #42256
Sorry, I won't be able to work on this issue this week. Can I do it next week? If not, I'll look for a new issue later. Thanks!

[2021-06-15 13:33] raisedadead commented on #41112
I have mulled over this quite a bit, and it seems that localizing the sign-in page will be non-trivial and will come with added delays in loading the page.

We are currently, and for the foreseeable future are using Auth0's hosted login page, which is a centralized page hosted at `https://auth.freecodecamp.org`. This means all our applications chat, forum, etc., all redirect from this page with us

[2021-06-15 13:57] moT01 commented on #40896
I would be fine with that @gikf 👍 There's 380 challenges higher than 100, I would try to limit PR's to maybe 25 or so - maybe 50 if they are looking easy to review. Make sure that we are keeping them as closely aligned as we can with what the original Euler challenge is asking for.

I'm not sure exactly what to do with the #'s <100 in question. I don't think there's a blanket solution - they will

[2021-06-15 14:51] heysujal commented on #42444
Assign me this , I will be working on it.

[2021-06-15 15:14] #42479 closed

[2021-06-15 15:16] Sembauke commented on #42444
Hey @heysujal,
We do not assign issues, feel free to work on this though.
The first PR or the PR with the highest quality will be merged.

Happy contributing

[2021-06-15 15:35] #42386 closed

[2021-06-15 15:41] moT01 opened #42509 "Relational Databases Cert to do list"
| inProgress | Complete | |
| :--: | :--: | --- |
| ✓ | ✓ | Reorder superBlocks to the proper order - RDBMS Should be right after front end certs. Probably right after Data Viz for now - but the long term plan is to combine data viz and front end libraries |
| ✓ | ✓ | Find and add an icon for relational databases cert |
| ✓ | ✓ | Remove the vertical scroll bar that shows up from line-height added

[2021-06-15 15:55] lasjorg commented on #42431
I don't understand how that Safari regex bug is able to affect other browsers? I thought we had reports of this breaking on Chrome and Firefox on iOS?

[2021-06-15 16:01] moT01 commented on #42294
I don't think there's an issue that needs to be fixed here. None of it's methods are used in these challenges so nothing will need to be unlearned. As @gikf mentioned, the main point is to learn how to use npm and how versioning and the package.json file work. I think the package used is irrelevant and we could probably leave this be.

Side note - moment is still getting 16.5 million weekly downlo

[2021-06-15 16:15] raisedadead commented on #42431
Actually, the facts, the cause and signals that we got during this are a bit confusing and rightly so. I will shed some light.

- The issue is some browsers do not support some features - Safari infamously doesn't support lookbehind regex.
- We happened to upgrade a dependency (see linked PR) right around when a new version of iOS was also released. This dependency internally used lookbehind in it

[2021-06-15 16:25] raisedadead commented on #42294
We all agree that the challenge is about learning to use npm, so we should probably swap out the packages we use as examples for our own and avoid a discussion around an unrelated need again in the future.

Closing this as-is may be fine, but IMHO someone will open a fresh issue in future raising the same concerns, which I think we can avoid pretty efficiently by using our packages.

[2021-06-15 18:01] heysujal commented on #42444
Hey I am facing a problem , there are many files where "APIs and Microservices" is used . Should I replace it with "Back End Development and APIs Certification" everywhere ?
![something like this](https://user-images.githubusercontent.com/55016909/122101352-d1973880-ce31-11eb-873b-395db4443f0b.JPG)

[2021-06-15 18:20] moT01 commented on #42444
I'm not sure exactly what all needs to be changed - you should only need to change what is displayed, the rest can probably be left alone for now. Also, only change English files - don't worry about the other languages. Looking at your list, I would say to change the `README.md` file, the English `intro.json` file, and the `Certification.js` file - not sure on the `ShowProjectLinks.js` file, I wou

[2021-06-15 18:21] Nirajn2311 commented on #42431
I have used Browserstack for cross testing and it hasn't disappointed me at all. Mostly I've used it for mobile testing because Devtools has its own restrictions. I haven't tried Percy though.

[2021-06-15 18:29] raisedadead commented on #42431
Sure we can discuss this in more detail. Would you be interested in leading the effort? If yes, go ahead and create a thread?

[2021-06-15 18:30] Nirajn2311 commented on #42256
Yea it's fine, there are a lot of files to be changed and everyone's just getting started with it.

[2021-06-15 18:37] moT01 commented on #42444
Also, it may be worth following the conversation/progress on [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/42511) - looks like a few of the changes might be a little tricky.

[2021-06-15 18:40] heysujal commented on #42444
yes there are more of them , and yes I am following that progress of PR as well. Meanwhile I will make changes only in the files you are sure about.

[2021-06-15 18:45] Nirajn2311 commented on #42396
I feel that adding it in 'Get Help' might not make it known to the users that we have an option to view the list of keyboard shortcuts. Maybe it could be something similar to how it is in coderadio(but this might mean accessibility issues) or it could be added to the navbar but only in challenges.

[2021-06-15 18:47] Nirajn2311 commented on #42431
Sure, is it fine I paraphrase your comment?

[2021-06-15 18:58] patlehmann1 commented on #42455
I can open a PR for these changes, if needed.

[2021-06-15 19:06] patlehmann1 commented on #42460
I can grab this, if no one else is working on it.

[2021-06-15 19:08] Nirajn2311 commented on #42460
Hi @patlehmann1, any issue with the help wanted or first timers only label is open for contribution. So yeah you can start working on it.

[2021-06-15 19:22] ocioran opened #42517 "Mismatch translatable text"
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Text with the example code is not translatable - which is fine.
However, the text lower is translatable and this will create conf

[2021-06-15 19:29] raisedadead commented on #42431
By all means. I would keep it about BrowserStack (cross-testing) specifically though. We may have other umbrella issues discussing testing and libraries in general which I will look up and share later.

[2021-06-15 19:48] raisedadead commented on #42517
I think this is expected behaviour. That is because its and example we would not translate it.

[2021-06-15 20:15] ShaunSHamilton commented on #42502
As #42511 does not close this issue. These files still need to be changed to match the new name:

- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/_meta/front-end-libraries-certificate/meta.json
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/12-certificates/front-end-libraries-certificate/front-end-libraries-certificate.yml
- ht

[2021-06-15 22:02] NoorFakhry commented on #42502
@shabnamNajafian Do you mean that anybody else would work on those changes?, or we wait for the creator of the PR to do them?

[2021-06-16 01:00] ocioran commented on #42517
Sure... then the description of the output should not be translated either and right now it is.

[2021-06-16 06:10] raisedadead commented on #42517
I think

- The description should be translated. Which I understand it currently is. This gives the context of the example that follows.
- The example text line should NOT be translated because it's a literal output of the code. Which I understand it currently is not.

It looks like we would want the current behaviour though I would wait for someone else to confirm.

[2021-06-16 06:17] ocioran commented on #42517
I was just thinking under translation context: people looking at this page in other languages will see on the page:
- if you write a text like this (in English): .....
- that code produces the output (for example in Romania ):
Acesta este ul link către freecodecamp.org la care poți ajunge.

I personally would be confused how English is rendered into Romanian by itself

[2021-06-16 06:23] raisedadead commented on #42517
I believe all the other languages are translating the example and instructions, so you are correct both should be translated.

https://www.freecodecamp.org/espanol/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

https://chinese.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

[2021-06-16 06:56] bautzon opened #42523 "Wrong answer i test - python for everybody"
**Affected page**
https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/intermediate-strings

**Your code**
Well he bascially just spelled banana wrong, as he spelled it "bananana"
the student is then asked to use word.find('na') and the answer comes out 2, as if the word was spelled correctly.
Answer should be 3 or banana should be spelled correct

Got to the pa

[2021-06-16 08:40] thecodingaviator commented on #42523
Hi @bautzon ,

@VivekThazhathattil above is correct. I'm not sure, but it is possible that the word was intentionally "misspelt" for a better understanding of `.find()`. As such, I'm closing the issue. Please add additional clarification below if you think this issue should be reopened.

Happy coding! :confetti_ball:

[2021-06-16 08:40] #42523 closed

[2021-06-16 11:29] bautzon commented on #42523
I know feel very embarrassed, thank you guys so much for the explanation

[2021-06-16 11:55] gikf opened #42528 "Adding cypress tests for hotkeys"
Issue for tracking adding cypress tests of hotkeys, as per #42503.

Challenges / Projects / Video challenges:
- Navigation mode - 'escape'
- Previous challenge - 'p'
- Next challenge - 'n'
- Focus on editor - 'e'
- Focus on instructions panel - 'r'
- Running the tests - 'ctrl + enter' / 'command + enter'

[2021-06-16 12:10] VivekThazhathattil commented on #42523
@bautzon  Don't be embarrassed; making mistakes is natural in any learning process..

[2021-06-16 12:45] ahmadabdolsaheb commented on #42396
We will have the multiple editors for different file formats (css, html, js) in the upcoming UI iterations. When all of the editors are unselected, the user will see the list of shortcuts that includes search, challenge, navigation, and accessibility shortcuts.

Most of the shortcuts are hidden in that way for the reasons Oliver mentioned above.

Since The challenge UI is the most visited UI, we a

[2021-06-16 15:33] ieahleen commented on #42517
the example in code can't be translated
the example
[code]

can't be translated, so if the result is translated it will never match
in English it says

Here's a link to www.freecodecamp.org for you to follow.

where in Spanish it says

Aquí hay un enlace a www.freecodecamp.org para que lo sigas.

where the second line would be how the code above should appear

it is translated in Chinese too, and

[2021-06-16 15:35] raisedadead commented on #42517
Thanks, that is what my intuitive thought was like I mentioned. I think we should get this change in all languages and have a check to catch changes as a warning.

@nhcarrigan can you guide here?

[2021-06-16 15:36] rafs2n commented on #3672
Just remove the first anchor tag.

[2021-06-16 15:52] lazy-geek commented on #42502
@ShaunSHamilton Hi I Am New To Open Source Contribution And I Would Like To Contribute To This Issue By changing above files, can i do that?

[2021-06-16 16:04] nhcarrigan commented on #42517
Unfortunately our current workflow doesn't have a quick way to mark a specific string as non-translatable. I could probably put something together, but IMHO it might be worth re-wording the challenge instead.

[2021-06-16 16:24] jdwilkin4 opened #42536 "Typo in Project Euler Problem 349 - Langton's ant"
Hi!

A user on the forum brought up a typo in one of the Project Euler challenges.
https://forum.freecodecamp.org/t/error-in-problem-description/464703

In the last sentence it should be 10 to the power of 18.
Not 1018.

Last sentence from the FCC challenge.
<img width="617" alt="Screen Shot 2021-06-16 at 9 17 22 AM" src="https://user-images.githubusercontent.com/67210629/122256186-ab9a8400-ce83-1

[2021-06-16 16:28] raisedadead commented on #42517
Hmm, did Crowdin not have a way to manually mark it non-translatable? I might be mistaken though.

[2021-06-16 16:42] nhcarrigan commented on #42517
We can do that, yes - we would need to revert the translations for the languages which have translated it.

However, I believe that hidden state is lost every time the file is re-uploaded.

[2021-06-16 16:57] raisedadead commented on #42502
This PR already has a PR aiming to fix this. However, we have several open issues that need help. We encourage you to look through the "help-wanted" label

[2021-06-16 17:29] huyenltnguyen commented on #42396
You know, it would be strange if I don't come back to an issue discussion with a couple more issues.

I believe that the actions we add to [Editor.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/classic/Editor.js#L263) should show up on the accessibility support dialog when we press Alt + F1, but they don't seem to show up:

<img width="587" alt="Screen s

[2021-06-16 17:35] raisedadead commented on #42517
Hmm, I see. Thanks for clarifying all this. I am glad that I double-checked with you. Do you mind sending a quick support request to Crowdin, seeking advice?

[2021-06-16 17:39] nhcarrigan commented on #42517
Sure thing - will add that to the list today and CC you :)

[2021-06-16 19:19] Nirajn2311 commented on #42396
Ummm isn't Ctrl+S the browser keybind to save a webpage. Not like many people use it, but should we really be tampering/changing the logic of that.

[2021-06-16 19:44] Nirajn2311 opened #42541 "Cross Platform testing"
Recently a lot of Safari users have faced issues in using our platforms. The reason being some browsers do not support every available feature. Also we face restrictions ourselves in having access to every browser available, like Safari is only available in MacOS and not everyone will have a MacOS device. This in turn makes it harder for us to QA any feature or bug fix. Hence, it results in the oc

[2021-06-16 19:48] Nirajn2311 commented on #42541
I've used Browserstack for cross platform testing and it hasn't disappointed me at all. Mostly I've used it for mobile testing because Devtools has its own restrictions.

[2021-06-17 06:57] #42536 closed

[2021-06-17 09:24] raisedadead commented on #42541
Thanks for confirming all these details, we have access to their open-source tier thru Sept. this year. Will you be interested in helping us integrate our codebase/testing workflows with BrowserStack?

If yes, let us know I will check with @ojeytonwilliams to get you a set of credentials.

[2021-06-17 12:35] #42460 closed

[2021-06-17 12:57] Nirajn2311 commented on #42541
Yes, I'm interested in working on this.

[2021-06-17 13:20] raisedadead commented on #42541
I have sent you an invite in the chat DM.

[2021-06-17 15:15] Murodjon000 commented on #42256
Hi @ojeytonwilliams may I help to migrate js to ts

[2021-06-17 16:09] ShaunSHamilton commented on #42256
Hello all,

The TypeScript Merge Party is scheduled to go down on the 25th of June, 2021, at 14:00 GMT.

Here is the forum post with more information: https://forum.freecodecamp.org/t/merge-party-typescript/465413

See you there 👀

[2021-06-17 16:45] nhcarrigan commented on #42517
Okay I slept on this, and decided to see if there was a way to automate this process.

PR coming shortly.

[2021-06-17 17:56] NoorFakhry commented on #42502
Hey, I apologize but I realized It would take me time to understand the project as a whole and understand the code and its flow, So feel free to close this PR and let somebody else work on the issue, I will start contributing again once I feel comfortable with the code and have a better understanding of the project.

[2021-06-17 18:20] #39088 closed

[2021-06-17 18:24] #41898 closed

[2021-06-17 18:24] #42517 closed

[2021-06-17 19:03] awu43 commented on #42256
7AM PT 😬. That's... less than ideal.

[2021-06-18 03:52] Fhaalkras opened #42554 "Low Priority Issue: Typo on Basic CSS"
**Describe your problem and how to reproduce it:**
Typo, it's a typo. (The word "penguin" is "pengiun" on the code area.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/basic-css/attach-a-fallback-value-to-a-css-variable

**Recommended fix, suggestions (how would you update it?):**
It's a typo, just reporting it, but like.... its just a typo.

[2021-06-18 03:54] Mvrs commented on #42256
@ojeytonwilliams Hey, if you don't have time to do the Donation components can I give it a go?

[2021-06-18 04:28] gikf commented on #42554
Hey @Fhaalkras

Thank you for opening this issue.

This typo is intentional, it is to demonstrate the usage of fallback value of property.

Thank you and happy coding.

[2021-06-18 04:28] #42554 closed

[2021-06-18 05:13] michaelsndr opened #42556 "Confusing reference to a previous challenge"
**Affected page**
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.md

**Expected behavior**
I think the first sentence should read:
"A previous challenge introduced the align-items property and gave an example."
Instead of:
"The last challenge introduced the align-items propert

[2021-06-18 05:24] michaelsndr commented on #42556
Sorry, I came to that conclusion while translating the curriculum, but now noticed that the exercises on the translation platform are ordered alphabetically. All good.

[2021-06-18 05:24] #42556 closed

[2021-06-18 07:42] ojeytonwilliams commented on #42256
I think, from the conversation in #contributors chat, that @Nrestrepo05 is still working on the Donation components.  Is that right @Nrestrepo05?  If so, it would be best to avoid duplicating each other's work.

If you're interested, @Mvrs , there are still a fair few unclaimed files - I'd be happy to assign you to any that you'd like to work on.

[2021-06-18 07:46] ojeytonwilliams commented on #42256
Sorry @awu43, this one isn't great for people in the states.  However, if we have it much later, then becomes too late for people in Asia.  If we do have a second party, we'll try and remember to make it a bit later so that different people can attend.

[2021-06-18 08:45] Mvrs commented on #42256
I can dig into the `client/src/helpers/**` methods.

[2021-06-18 08:53] ojeytonwilliams commented on #42256
Perfect, thanks.  I've made the edits.

[2021-06-18 09:30] ojeytonwilliams commented on #42502
As discussed https://github.com/freeCodeCamp/freeCodeCamp/pull/42512#issuecomment-863449654 @NoorFakhry is not planning to work on this any more, but that PR might help someone else who wants to tackle this.

[2021-06-18 10:19] dottorgross opened #42557 "Background color of Learn UI - Challenge Instructions"
Can I suggest to render the Instructions of each challenge with a background color to diversificate it from the explanations (description)?

[2021-06-18 11:25] Nrestrepo05 commented on #42256
Hello, @Mvrs! Sorry, I'm using my free time to work on it 😕

[2021-06-18 13:20] raisedadead commented on #42517
@nhcarrigan now that this has been merged do we need to do anything over on Crowdin or in our codebase to reset the strings?

[2021-06-18 14:44] nhcarrigan commented on #42517
Thanks for the reminder 🙂

I have gone through and cleared the existing translations for this string - it should come down in English for all languages going forward.

[2021-06-18 14:47] raisedadead commented on #42557
Thanks for reporting this to us. Could you possibly elaborate a bit on the motivation behind doing so?

[2021-06-18 14:55] dottorgross commented on #42557
Certainly. As a curriculum user:
-  I read the explanations
- I read the instructions
- I try to do what is required but...
- ...if I have some problem and I think I have understanded the explanations, I visually search the instructions to re-read them

I think I would be more comfortable visually if the instructions were marked with a slightly different background, or with an icon...

[2021-06-18 15:18] ojeytonwilliams commented on #42557
There is a horizontal line separating the two:
![image](https://user-images.githubusercontent.com/15801806/122583008-151fbb80-d059-11eb-93eb-80aa1c90ede9.png)

It's quite subtle, though, so I can see why it might not be a strong enough of an indicator.

[2021-06-18 15:34] dottorgross commented on #42557
Exactly... mine is just a suggestion, nothing essential

[2021-06-18 16:09] raisedadead commented on #42557
@dottorgross

Thanks for sharing your feedback, we appreciate it.

To share some context, the subtle horizontal line is intentional. We would want the users to slow down, read and understand the challenge. Often times we see users doing a speedrun thru challenges just to solve each one quickly.

I feel having a clear distinction would only encourage that behaviour more. But we are open to ideas.

[2021-06-18 16:10] raisedadead commented on #42517
Awesome, thanks for taking care of it.

[2021-06-18 16:13] dottorgross commented on #42557
Thank you! I hadn't thought about "speedruns". In this case it is good that the instructions merge with the explanations.

[2021-06-18 16:13] #42557 closed

[2021-06-18 20:23] sharmaabhinav commented on #42256
Hey! I want to help with the following files:

- [ ] /client/src/components/layouts/Default.js  
- [ ] /client/src/components/layouts/Learn.js
- [ ] /client/src/components/AppMountNotifier.js

[2021-06-18 21:05] #42204 closed

[2021-06-18 22:18] psyfry opened #42564 ""Change the presentation of a bar chart" Chrome test failure"
**Affected page**
Add a link to the coding challenge with the problem.
https://www.freecodecamp.org/learn/data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Add a clear and concise description of what you expected to happen.
Solution

[2021-06-19 01:07] mnlightstone commented on #42256
Hello! I'd love to help with this project. I'm new to the codebase, so can I just start off with these two files?

[code]

[2021-06-19 07:28] ShaunSHamilton commented on #42256
@sharmaabhinav I have added you to the list.

@mnlightstone I have added you to the list.

[2021-06-19 08:26] ShaunSHamilton commented on #42564
Hello there,

Thank you, for taking the time to open this. However, I am unable to reproduce this - the code passes in Chrome for me.

Therefore, I am going to close this as the most likely cause for the test failing in one of your browsers is a browser extension interfering with the tests. We recommend disabling all browser extensions with access to `freecodecamp.org`.

If this has been closed in

[2021-06-19 08:26] #42564 closed

[2021-06-19 12:15] huyenltnguyen commented on #42186
Do you see `gray-foreground-primary`, `gray-background-primary`,... as names for color variables (those in `colors.css`), or for the semantic colors (those in the config file)?

My take on this is that, semantic colors won't have anything refer to the actual color they use. An example can be the Alert component. [Bootstrap](https://getbootstrap.com/docs/5.0/components/alerts/) and [Material UI](ht

[2021-06-19 12:57] samarmohan commented on #42256
Yeah I agree, for people on the east coast of the US that’s in the middle of the work day, is it possible we do the 26th (Saturday) instead?

[2021-06-19 13:18] raisedadead commented on #42256
Timezones are pretty hard. We would love to get everyone on the same meeting/call; the thing is, moving things is just going to be inconvenient for someone else.

We appreciate your understanding of this, and regardless of you being able to join, we want to let you know that your help and contribution to the code is much appreciated.

Cheers.

[2021-06-19 14:27] #41062 closed

[2021-06-19 17:20] PrashantSakre opened #42571 "Easy readability of documentation in mobile view"
**Describe your problem and how to reproduce it:**
Viewing Documentation in mobile view as shown in bellow image the content is narrower. Need to make the content little more wider for easy readability. This is also true in landscape view lot of empty space left both sides.

**Add a Link to the page with the problem:**
https://contribute.freecodecamp.org/#/how-to-work-on-the-docs-theme

**Recommen

[2021-06-19 17:25] ojeytonwilliams commented on #42571
Thanks for the report @PrashantSakre. I agree that margins are too wide.

Would you be interested in creating a PR to fix this?

[2021-06-19 17:30] PrashantSakre commented on #42571
@ojeytonwilliams sure will work on this issue

[2021-06-19 17:56] Mvrs commented on #42256
@ojeytonwilliams was wondering do I make a commit after ever file change? (So the Git History looks clean)

[2021-06-19 18:27] ShaunSHamilton commented on #42256
@Mvrs For the most part, the PRs will be squashed. So, we are not much fussed about the branch history. What I did find, however, is Git is more likely to recognise a file as renamed, if the steps mentioned in the original post are followed. That is, it is always nice to preserve file history. So, it should be fine to  do all file renames in the same commit.

[2021-06-19 18:47] lasjorg opened #42574 "Simplify Challenge "Access Props Using this.props""
Challenge: https://www.freecodecamp.org/learn/front-end-libraries/react/access-props-using-this-props

In my opinion, this challenge is just too noisy. All we are doing is teaching how to pass/use a prop in a class component. The component names, the JSX, and even the instructions are more mentally taxing than needed for no reason.

Sure if you already know React it isn't bad. But from a beginner'

[2021-06-19 18:55] Mvrs commented on #42256
Thanks for clearing that up!

[2021-06-20 03:51] Mvrs commented on #42256
@ojeytonwilliams looked at the list and my assigned files mixed up with @thecodingaviator `/client/src/components/formHelpers/` and my `/client/src/components/helpers/**`. Just want to make sure my changes matter lol.

[2021-06-20 05:13] RaymenDeol commented on #42256
He - can I get started on the following please :
` /client/src/components/layouts/Certification.js`

[2021-06-20 07:18] thecodingaviator commented on #42256
Hey @Mvrs Please go through #42476 and see which files I've already worked on. Let me know which other ones you want to take up and I'll edit you in

[2021-06-20 07:21] thecodingaviator commented on #42256
@RaymenDeol I've edited you in. Go for it!

[2021-06-20 09:33] Mvrs commented on #42256
I believe you didn't touch the `helpers/` module yet. I'm almost done 🙏🏿

[2021-06-20 13:46] thecodingaviator commented on #42256
I've worked on some files there like [this one](https://github.com/freeCodeCamp/freeCodeCamp/pull/42476/files#diff-181c3b3c416e2303f6190ba4e25b9984a143277ae2ddecc0fa8e93cbae9a5c07)

[2021-06-20 16:34] moT01 commented on #42256
If anyone doesn't know about [this tool](https://tools.freecodecamp.org/) - it's kinda nice. You can type in a file or folder name/path and see if any open PR's touch that area of the code.

[2021-06-21 00:36] hchiam commented on #42311
Hi, first time here! I made a PR for this: https://github.com/freeCodeCamp/freeCodeCamp/pull/42578

[2021-06-21 08:27] #42571 closed

[2021-06-21 16:09] jonalexander opened #42584 "Basic Node and Express "Use the .env File Challenge" - Replit does not support .env files in root dir"
**Affected page**
https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-the--env-file

**Expected behavior**
- user is expected to create `.env` file in root directory of Replit file tree
- Replit has deprecated the use of user-generated `.env` files and prevents users from creating `.env` files
- Replit instructs users to create environment variables using the envir

[2021-06-21 16:13] jonalexander commented on #42584
looks like there's instructions for Replit's `Secrets` tab. they were out of viewport when issue was created.

[2021-06-21 16:13] #42584 closed

[2021-06-21 16:52] thaominh1996 commented on #38219
I don't think it's exactly...but it's true.
let text = "<h1>Winter is coming</h1>";
let myRegex = /<[a-z.1?]*>/; // Change this line
let result = text.match(myRegex);

[2021-06-21 18:11] Mvrs commented on #42256
@thecodingaviator nice! I will avoid the form components then lol.

[2021-06-21 21:37] Mvrs commented on #42256
@ojeytonwilliams what else needs to be done?

[2021-06-21 21:55] brimarq commented on #37942
While trying to learn TypeScript, I decided to convert [my old calculator project](https://codepen.io/brimarq/full/ejXgNG) for some fun/practice. Imagine my surprise when it no longer passes all of the tests anymore, as they have been changed since I coded the project.

So... that sucks.

I guess I'll be removing the test suite from that pen, as it's certainly no longer a "selling point", if it ev

[2021-06-22 02:40] moT01 commented on #37942
Sorry to hear that @brimarq - A number of my projects don't pass the tests anymore either. I think I made some of them before the tests existed. I think the "selling point" would be if it's a good product - not if the tests pass. Certainly doesn't hurt if they do though. If you earned the certificate using that project, it will not be affected.

I don't think this particular issue is what broke th

[2021-06-22 15:20] Mvrs commented on #42256
@thecodingaviator Why did you continue to work on the files I already worked on? You shared a link of you doing two files in `/helpers/form/*` so I told I will not touch those. I was taking the rest lol. But, then you proceeded to do more helpers. C'mon my guy.

[2021-06-22 16:01] nhcarrigan opened #42599 "Inconsistency in Docsify flexible alerts"
We are currently using the [flexible-alerts plugin](https://www.npmjs.com/package/docsify-plugin-flexible-alerts) for our Docsify-powered contributing documentation.

One of the alert types, `attention`, also accepts the `danger` keyword to render.

We currently render one of these boxes with `attention` and four of them with `danger`. For consistency sake, we should use the same keyword to render

[2021-06-22 16:09] ieahleen commented on #42599
At this time, there are 4 instances of usage of `DANGER` and 1 instance for `ATTENTION`, I think it would make sense to make it consistent. And seeing that with the displayed being "Attention" I agree on that being the one used.

[2021-06-22 17:00] thecodingaviator commented on #42256
Hey, @Mvrs please go through the helpers I've edited/worked upon on [this link](https://github.com/freeCodeCamp/freeCodeCamp/pull/42476/files) and [this link](https://github.com/freeCodeCamp/freeCodeCamp/pull/42471/files). I am pretty sure I have only worked on those files that I have claimed in the file list above (this excludes any files I've edited to update imports but not migrated). However,

[2021-06-22 18:20] brimarq commented on #37942
Well, @moT01, I finished the project [back in 2018](https://www.freecodecamp.org/certification/brimarq/front-end-libraries) (holy crap, has it really been that long?!?), and I'm sure the tests must have changed since then. I wouldn't have submitted my project (or, any of them, for that matter) unless it passed ALL of the tests at the time. I even remember having to write some extra, arguably unnec

[2021-06-22 18:36] Mvrs commented on #42256
@thecodingaviator Im saying two days ago you only had one link (which contained two files). I already informed you not to continue since I'm already doing the rest. The ones you were assigned was obviously a mistake in the list which was also brought up. Here are my [files](https://github.com/freeCodeCamp/freeCodeCamp/pull/42593). Just exclude the ones I've done that you've done.

[2021-06-22 19:47] thecodingaviator commented on #42256
@Mvrs I'll remove those files from my PRs as a professional courtesy. However, I will strongly recommend using the tool Tom mentioned above to make sure you do not work on the same file(s) again if someone else already has an open PR. Happy coding :)

[2021-06-22 19:48] Mvrs commented on #42256
Note taken. Thanks for the tip and hacking coding as well 🙃

[2021-06-22 20:13] moT01 commented on #37942
I know exactly what you mean. Went through all of that myself.

If you're looking for some more typescript practice, we are in the process of migrating our codebase to use it 😄 Here's [the issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/42256) - I would be willing to help you out if you have any questions.

[2021-06-22 20:17] thecodingaviator commented on #42599
+1 on making it `attention`

[2021-06-22 21:25] ShaunSHamilton commented on #42599
I am happy either way. The only reason I came into this is because I am used to the Bootstrap way of naming, and naturally put DANGER.

[2021-06-22 21:33] nhcarrigan commented on #42599
Alright, I am going to open this up to first timers.

A pull request that closes this issue will:
- Replace all instances of `[!DANGER]` with `[!ATTENTION]` in the `/docs` directory
- Will *not* modify any of the files in the `/docs/i18n` directory (these will be updated through our translation worfklow)

If you are interested in resolving this issue, we recommend starting with our [contributing g

[2021-06-22 23:12] aileenpalafox commented on #42599
Hi, @nhcarrigan can I try this out?

[2021-06-22 23:35] nhcarrigan commented on #42599
Sure thing! Let us know if you have any questions :)

[2021-06-23 03:26] kaiwalyakoparkar commented on #42599
Hey Nick, I would like to work on this!

[2021-06-23 03:41] krishdevdb commented on #42599
@kaiwalyakoparkar I also thought of that, but as this issue has been already received by someone, let's give them some time! If it is more than a week without no response, you can grab this!

[2021-06-23 04:40] kaiwalyakoparkar commented on #42599
Yup I got that. That's why I commented so if they are unable then I can pick that up

[2021-06-23 07:48] ahmadabdolsaheb commented on #42186
Yes, your plan makes more sense to me.

[2021-06-23 08:34] ahmadabdolsaheb commented on #42396
@huyenltnguyen, thanks for doing further research. That makes sense to me. We could communicate the state of accessibility mode if necessary on the editor non-visually so the screen readers would pick it up.

[2021-06-23 08:51] ahmadabdolsaheb commented on #41112
We could add icons to the buttons to reduce confusion for users who do not speak english.

[2021-06-23 09:05] ahmadabdolsaheb commented on #42236
Sure. adding it to the footer with that icon would make sense.
That being said we will have another button that will toggle the embedded rocketchat.
I was wondering if we should add some info regarding reporting issues as well.
That way a question mark icon or an info icon might be more appropriate.

[2021-06-23 10:12] ShaunSHamilton commented on #42311
Re https://github.com/freeCodeCamp/freeCodeCamp/pull/42578#pullrequestreview-690462494

My suggestion is to add a small pop-up/modal, when the user clicks the submit button, which can receive the `tabIndex=-1`. It could even be something as simple as a hidden `p` element.

[2021-06-24 03:04] aileenpalafox commented on #42473
Hello, @ShaunSHamilton. Can I do this? I understand that I just need to change `/passport\.use.*new GitHubStrategy/gi,` to this `/passport\.use[\s\S]*new GitHubStrategy/gi,`, right?
I just didn't get this part: "make the test to use the s flag".

[2021-06-24 03:49] 0xf10yd commented on #42574
I believe there's always a better approach to teach anything, but so far, looking at that lesson, it seems legit tbh, I don't think it might be an issue for someone who is a beginner and yet didn't skip any lessons

[2021-06-24 07:54] ShaunSHamilton commented on #42473
Hey @aileenpalafox . Thank you, for your interest in contributing.

The issue with the current test RegEx is the `.*` does not match new lines. In JavaScript RegEx, there is an [s flag](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#advanced_searching_with_flags) which allows `.` to match new lines.

Hope this clarifies

[2021-06-24 09:19] #42599 closed

[2021-06-24 12:51] Sembauke commented on #39348
@ShaunSHamilton Yeah this is caused by the decorations going below the first line.

[2021-06-24 13:10] moT01 opened #42621 "Private timeline hides cert solutions"
If you set the timeline to private and open one of your certifications, all the solutions will be hidden:
![Screen Shot 2021-06-24 at 8 03 29 AM](https://user-images.githubusercontent.com/20648924/123267562-c5ab1680-d4c2-11eb-9911-474ff462e667.png)

[2021-06-24 13:22] ShaunSHamilton commented on #42621
Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/40403#issuecomment-779957353

[2021-06-24 17:22] lasjorg commented on #42574
This can easily be simplified. Here is the basic example from the React docs. Ignore the fact that it is using function components.

[code]

[2021-06-24 18:55] ish-u commented on #42236
I can try adding the `Issue Report Button`.
where should i place it on `navbar` on right or left?

[2021-06-24 20:01] aileenpalafox commented on #42473
Yes, thank you @ShaunSHamilton!
I've another question, the only way to try these regex tests is by passing the url with the code as if you were someone trying to do the challenge, or does freeCodeCamp makes specific tests for this?
Like tests to try the challenge test or something like that.

[2021-06-24 20:18] ShaunSHamilton commented on #42256
**Notes for Merge Party**
- [ ] First PR to be merged for `Spacer` changes: https://github.com/freeCodeCamp/freeCodeCamp/pull/42593
- [ ] Needs changes reverted to certain files: https://github.com/freeCodeCamp/freeCodeCamp/pull/42378
- [ ] Many files refer to `children` - majority of these should be `JSX.ElementChildrenAttribute` (most accurate typing, from what I have [read](https://www.typescri

[2021-06-24 21:39] nhcarrigan opened #42625 "/client/src/components/Map/index.js"

[2021-06-24 21:50] AnnStonely commented on #17665
THE SOLUTION IS>> ./
Y'all are forgetting the file path!!!

[2021-06-24 22:43] ShaunSHamilton commented on #39721
I believe this can be closed?

[2021-06-24 23:09] #39721 closed

[2021-06-24 23:25] ShaunSHamilton commented on #42473
@aileenpalafox Unfortunately, we currently have nothing to help test the backend content - you will need to have the project and code, and build freeCodeCamp locally with the changes to test.
Do remember, this section of the curriculum links all the code needed to pass the current tests.

[2021-06-24 23:28] aileenpalafox commented on #42473
OK, I'll see if a can give it a try, then! Thank you :)

[2021-06-25 01:18] thinklikeadesigner commented on #41580
Have you heard of bit.dev? it's free for opensource, and you can store your actual components library there, with versioning and everything. You can keep everything in one place, and it works great with storybook too

[2021-06-25 02:32] aileenpalafox commented on #42473
Hey @alirezaghey, @ShaunSHamilton so I tried it out and the test actually passed without needing to modify anything!
I made a deploy in Heroku: https://aileen-freecodecamp.herokuapp.com/
Based on this [forked repo](https://github.com/aileenpalafox/boilerplate-advancednode ) for the challenge.
I just modified some files in the repo to see that the first tests of the challenge pass (i.e. try the pre

[2021-06-25 06:46] alirezaghey commented on #42473
Hi @aileenpalafox
Are you sure you haven't a false positive produced by the [commented out](https://github.com/aileenpalafox/boilerplate-advancednode/blob/master/auth.js#L29-L38) `GithubStrategy`?
Neither of the regexes can differentiate between commented and uncommented code.

[2021-06-25 06:53] aileenpalafox commented on #42473
You're totally right, @alirezaghey! I completely forgot about that, sorry. I delete the comment and now the test is not passing. Tomorrow will be trying the fix both of you suggested. Thank you for your response!

[2021-06-25 07:00] raisedadead commented on #42621
I am closing this in favour of the other issue because the fix is most likely to be in the same area. Tom, please feel to carry over your report if the other issue does not cover this.

[2021-06-25 07:06] raisedadead commented on #40403
IMHO, this should be triaged as a bug.

Let us deliberate and dial in the requirements of when the cert should be available. I do not think we should allow the solutions to be private with the cert being public.

Under no circumstances you should be able to claim a cert and display it publicly to make your name, project solutions private.

@ShaunSHamilton, I will go ahead and assign this to you be

[2021-06-25 10:21] GregSaintJean opened #42627 "The tests in challenge "Record Collection" is not accurately determining the result of the code entered."
**Affected page**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/record-collection

**Your code**

[code]

**Expected behavior**
I ran the code in the challenge webpage and it was stating that my solution was wrong. However, when I created a folder, an HTML page and ran the javascript by itself on the HTML page with the developer tools opened in chrom

[2021-06-25 10:32] gikf commented on #42627
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-06-25 10:32] #42627 closed

[2021-06-25 13:21] nhcarrigan commented on #42625
GitHub's got a new UX for task lists. One misclick opens an issue :(

[2021-06-25 13:21] #42625 closed

[2021-06-25 16:30] SimpleCookie commented on #39190
The instructions of the tests does not say you should use v3.21.3 on all the tests, only on the first test. It does say you should clone the repo for each and every test though. So it's a bit misleading, should one use v3.21.3 or the latest? What about express, which version?
As for right now, the tests for hidePoweredBy isn't working as they should even with v3.21.3 https://forum.freecodecamp.org

[2021-06-25 16:32] ShaunSHamilton commented on #42256
Thank you, all those who contributed! Merge Party is over, but this issue still stands with many components still needing migrated.

Feel free to `@` us, if you want to work on a file/files 😃

[2021-06-25 17:44] lasjorg commented on #39190
Where does it say that? As far as I can tell it just gives you a reminder of the starting project used.

You have to keep things as-is for the next challenge, whatever came before the current challenge has to stay (unless it is explicitly said otherwise).

[2021-06-25 18:05] thecodingaviator commented on #42256
![image](https://user-images.githubusercontent.com/34807532/123467306-fba8e180-d60d-11eb-9d4b-c934f25c3a8f.png)
139 files done!

[2021-06-25 18:07] Mvrs commented on #42256
@ShaunSHamilton are you going to make a list of the files that are left?

[2021-06-25 18:25] ShaunSHamilton commented on #42256
All the files that are unticked in the original post.

[2021-06-25 18:28] thecodingaviator commented on #42256
I think Shaun means unassigned rather than unticked^

[2021-06-25 18:52] nhcarrigan commented on #42256
Hey friends,

I'm going to try to land https://github.com/freeCodeCamp/freeCodeCamp/pull/42635 today, which will aim to resolve the existing linter issues, remove as many `eslint-disable` lines as possible, and get the client into a state where it builds.

Once this lands, we can rebase our open migration PRs and ensure we continue to pass our CI. 🙂

[2021-06-25 19:00] thecodingaviator commented on #42256
@nhcarrigan I'll have #42636 redone after that then?

[2021-06-25 19:13] nhcarrigan commented on #42256
Sounds good 🙂

Mostly hoping to resolve the issue where your PR, for example, is failing checks because `next` is failing checks.

[2021-06-25 19:27] thinklikeadesigner commented on #41580
Have you heard of bit.dev? it's free for opensource, and you can store your actual components library there, with versioning and everything. You can keep everything in one place, and it works great with storybook too

You just import the components into your project, as if they were from any other UI library, so it's like you have your own design system in the cloud that you can pull your componen

[2021-06-26 02:52] johntyree commented on #37942
You're not responsible for moving goal posts because no one asks you to maintain your old work, but I don't think freecodecamp is responsible for maintaining backwards compatibility forever when bugs are discovered either.

At any rate, this is a great illustration of why continuous testing is basically essential if you need things to keep working continuously.

[2021-06-26 18:30] awu43 commented on #42256
Round 2, here we go. I can do `/client/src/utils`
[code]

It looks like `/client/src/utils/createTypes.js` has already been done (#42278).

[2021-06-26 20:33] thecodingaviator commented on #42256
@awu43 I’ve edited you in. Have a quick look the the OP to cross check but you should be good to go

[2021-06-26 20:51] ocioran opened #42647 "Translations: Incomplete text string in crowdin (missing last word and closing </code> tag)"
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/use-the-u-tag-to-underline-text

**Expected behavior**
On the challenge page, in English the text says:
"Wrap the u tag only around the text Ph.D. students."

However, the source string in crowdin is:
[code]

It is missing the last word "students" and the closing tag \</code\>.
And this part ("students

[2021-06-26 21:04] nhcarrigan commented on #42647
Crowdin splits these into two different strings. We are working with their dev team to resolve this.

[2021-06-27 14:38] Sembauke commented on #42541
Any updates on this @Nirajn2311 ?

[2021-06-27 15:04] Nirajn2311 commented on #42541
I've just gone through their docs at the moment. Will begin working on it soon and update the progress here.

[2021-06-27 17:08] garynks opened #42650 "Submission Link Error with Data Analysis with Python projects"
I've noticed that the Data Analysis with Python projects section does not check for correct tests. You could paste any link in the solution link text box of any project and it will consider it as a correct answer.

[2021-06-27 17:27] ShaunSHamilton commented on #42650
Hello there,

Thank you, for taking the time to open this. This is not a bug, but the expected behaviour - Campers are expected to follow the Academic Honesty Policy with all curriculum content.

The main discussion for this was held here: https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

As such, I am closing this issue 🙂

[2021-06-27 17:27] #42650 closed

[2021-06-27 19:18] Mvrs commented on #42256
@thecodingaviator are these open? `/client/src/templates/Challenges/redux/**`
I would like to take these.

[2021-06-27 21:29] ShaunSHamilton commented on #42256
@Mvrs No, I have taken all of the redux files.

You are welcome to look through the list in the original post to see which files do not have names next to them, and request your handle be added.

[2021-06-27 21:38] Mvrs commented on #42256
Got it! But they all have names next to them. How to tell if one is AFK or not? 🤣

[2021-06-28 07:43] #42473 closed

[2021-06-28 09:07] Sembauke opened #42655 "freeCodeCamp for Teachers"
I have been thinking about how to make freeCodeCamp more suitable for teachers.  I don't see good support for teachers who want their students to learn through freeCodeCamp. (There may be already).

Where I studied there wasn't much lesson material to teach because it was mostly outdated or given on paper and then lost forever. There were some lousy programs to teach us, but not much I can remembe

[2021-06-28 09:48] ShaunSHamilton commented on #42256
@Mvrs I am not sure what you are looking at, because I can see a few dozen without names scattered around:
![image](https://user-images.githubusercontent.com/51722130/123616584-56a12b00-d7fe-11eb-8a66-a0ad8c49f2b7.png)

[2021-06-28 10:25] ieahleen opened #42656 "i18n: one challenge title is not translatable"
The challenge title of challenge Use && for a More Concise Conditional is not translatable on Crowdin

![image](https://user-images.githubusercontent.com/26656284/123621377-6c691d00-d80b-11eb-8376-292476b67f01.png)
(the greyed out text is for not translatable strings)

An other challenge where the title is translatable
![image](https://user-images.githubusercontent.com/26656284/123621576-a803e700-

[2021-06-28 10:28] raisedadead commented on #42655
Duplicate of #17899 - We would consider reopening the older thread; fair warning, we are short-staffed on the team to build and support it in-house.

[2021-06-28 10:28] #42655 closed

[2021-06-28 10:34] Sembauke commented on #42655
OK.

[2021-06-28 10:34] raisedadead commented on #42656
@nhcarrigan mind taking a look?

[2021-06-28 15:59] ojeytonwilliams opened #42660 "Bugs in the next branch (TypeScript migration)"
Please add any problems with https://beta.freecodecamp.dev/learn to this issue.

Condensed list of issues below:
- [x] [completion modal not showing up](https://github.com/freeCodeCamp/freeCodeCamp/issues/42660#issuecomment-871404587): #42685
- [x] [closing donation modal error: unrelated to migration](https://github.com/freeCodeCamp/freeCodeCamp/issues/42660#issuecomment-869811119)
- [ ] [private

[2021-06-28 16:05] ShaunSHamilton commented on #42660
Closing donation modal produces this error in the console:
![image](https://user-images.githubusercontent.com/51722130/123668318-e3fe7280-d832-11eb-8ab8-e1146002e15d.png)

[2021-06-28 16:08] ojeytonwilliams commented on #42660
Private About descriptions appear in the Profile:
![image](https://user-images.githubusercontent.com/15801806/123668668-9df9dc80-d83b-11eb-9dde-ec649df2a6fe.png)

this is very flaky.  It seems to come and go.

[2021-06-28 16:19] ShaunSHamilton commented on #42660
The private `about` looks like a React cache issue - refreshing the page consistently makes it disappear for me.

[2021-06-28 16:40] ojeytonwilliams commented on #42660
I couldn't reproduce it reliable on beta and not at all on .dev.  So, yes, it definitely sounds like a caching problem, but it might be a new one.

[2021-06-28 22:57] SimpleCookie commented on #39190
Sorry, it's my bad reading skills as usual, it says the following "As a reminder, this project is being built upon the following starter project on Replit, or cloned from GitHub.".

I never saw this instruction anywhere, and also, for the challenges, I always had to start by removing what I added.

[2021-06-29 00:05] Mvrs commented on #42256
@ShaunSHamilton lol. I'll just take those

[2021-06-29 02:00] huyenltnguyen commented on #42236
@ahmadabdolsaheb Would the chat toggle and the report issue button be separate items or they would be grouped in a menu? I guess grouping them would be better, as the footer would be a little cramped up otherwise.

[2021-06-29 07:16] thecodingaviator commented on #42256
@Mvrs I've assigned the following files to you:

![image](https://user-images.githubusercontent.com/34807532/123753764-d3ec9e80-d8d7-11eb-9c37-1abbc05942a0.png)

As for `/client/src/templates/Challenges/components/**`, not all of those files are available (those with usernames next to them are taken). Please let me know which specific ones you want

[2021-06-29 09:53] Sembauke commented on #40419
Hey @Twaha-Rahman,

Thanks for the thorough inspection of what we can do better.
At this time we are tracking most of the web optimizations in #37742.

This is the reason why I am closing this issue. You can always give tips for optimization in the issue I mentioned.

Thanks for your understanding,
Happy coding,

[2021-06-29 09:53] #40419 closed

[2021-06-29 14:34] nhcarrigan commented on #42656
@ieahleen I have manually marked the string as translatable today.

After our workflows run tomorrow, I will confirm the string is still translatable - if it is not, I will investigate further. 🙂

[2021-06-29 15:10] Aza-di commented on #38501
we should write this code on HTML or CSS?

[2021-06-29 16:37] texas2010 commented on #38501
@Aza-di if you need help or ask questions. please use freeCodeCamp forum. so you can have help from great people at the forum. https://forum.freecodecamp.org/

[2021-06-29 17:38] nhcarrigan commented on #42647
A fix has been applied for this and the file is updated in Crowdin. Feel free to let us know if you continue to see issues. :)

[2021-06-29 17:38] #42647 closed

[2021-06-29 17:43] ShaunSHamilton commented on #42660
Editor throws error in console, on render (ref https://github.com/freeCodeCamp/freeCodeCamp/pull/42651):
[code]

[2021-06-29 17:48] raisedadead commented on #42660
I do not get errors on the beta for donate modal. Please add elaborate steps to repro?

![image](https://user-images.githubusercontent.com/1884376/123844077-3a051000-d930-11eb-93c1-4099d04a1278.png)

[2021-06-29 18:24] #38589 closed

[2021-06-29 18:36] ShaunSHamilton commented on #42660
@raisedadead I get the errors any time I click the _Ask me later_ button.

Also, I realise I am being redirected to `freecodecamp.dev`, seemingly randomly. I get the errors there as well.

[2021-06-29 19:00] raisedadead commented on #42660
I am still unable to reproduce. I would appreciate some detailed steps to debug and see the console logs.

So you mean you are not seeing the errors with donate modal anymore? Are these the same errors as the modal?

Again I will need a detailed sequence of steps to reproduce, but it is possible that you can get that. The reason being we haven't defined "beta.freecodecamp.dev" as the "home" anywhe

[2021-06-29 19:36] ShaunSHamilton commented on #42660
To reproduce:
1) Complete enough challenges for Donation Modal to appear
2) Click on _Ask me later_ (to close modal)
3) See in console for error:
[code]

[2021-06-29 20:44] ShaunSHamilton commented on #42660
I have managed to reproduce this many times, and even disabled React Devtools extension for good measure.

https://user-images.githubusercontent.com/51722130/123864577-d3c5c080-d922-11eb-99d3-32e132dba8c5.mp4

---

Also, it seems, if I click on _Ask me later_ , the DonationModal will not reappear, unless I refresh the page. That is, after closing the modal, I can complete 30+ lessons without it re

[2021-06-29 22:29] lasjorg commented on #39190
There are plenty of sections in the curriculum where challenges build upon previous challenges. Sometimes challenges depend on code from previous challenges, sometimes not.

One challenge might ask you to add a Version field in package.json and then the next challenge might ask you to add some npm package. In this instance, the current challenge does not depend on the previous challenge. But this

[2021-06-30 04:28] scissorsneedfoodtoo commented on #42660
I took a look at the donation modal and was able to reproduce that error message on both beta.freecodecamp.dev and www.freecodecamp.dev.

It seems like an existing issue with the PayPal script complaining about the container element being removed, and isn't due to the TS migration.

I haven't been able to reproduce the issue with the `DonationModal` not reappearing, though. So long as I complete n

[2021-06-30 06:17] julschong commented on #42574
hello, just thought to give a little input
i think it is good that this part is a little wordy which doesn't let students to just fly past or skim through.

[2021-06-30 06:23] raisedadead commented on #42660
Thanks for the additional steps Shaun. Now that I have wiped my glasses, I have now been able to reproduce and see this consistently.

I believe Kris is correct in his findings, I think we haven't configured PayPal's sandbox script environment to accept the test site as an origin correctly and hence the errors.

But, I was able to successfully make a donation and dismiss the modals - meaning the b

[2021-06-30 07:37] Aza-di commented on #38501
Thanks for responding.
Firstly I would like to ask about it is right if I am learning alone?
I mean without coding partner.
Secondly I got stuck in web design project
I should learn further Java script?

Thank you in advance,

Azat Bolgambayev

вт, 29 июн. 2021 г., 22:37 Lance ***@***.***>:

[2021-06-30 08:56] ShaunSHamilton opened #42676 "Portfolio Description Breaks Words on Wrap"
**Affected page**
Any profile with a portfolio item: https://www.freecodecamp.org/sky020

**To Reproduce**
1) Go to above portfolio link
2) Scroll to first and only portfolio item
3) Be shocked and horrified at word-wrapping

**Expected behaviour**
There should be no word wrapping breaking the word. I suggest something be added to the CSS like:
[code]

**Screenshots**
![image](https://user-images.

[2021-06-30 11:32] santimirandarp opened #42682 "Clarification for express body-parser exercise"
**Affected page**
Add a link to the coding challenge with the problem.
Page for exercise: https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Add a clear and concise description of what you expected

[2021-06-30 13:27] raisedadead commented on #42660
The <kbd>Ctrl</kbd> + <kbd>Enter</kbd>, shortcuts work partially. That I am able to run tests using the shortcut, but I am unable to trigger the completion modal once all tests have passed.

The completion modal shows up only when the "Run the tests" button is clicked.

I think the shortcuts are flaky on the modal as well, that sometimes they move to the next challenge. But sometimes they are stuc

[2021-06-30 13:33] ShaunSHamilton commented on #42660
@raisedadead Sounds related to the upcoming changes editor which specifically has the logic to only not show the modal when `Ctrl + Enter` is used.

[2021-06-30 13:48] raisedadead commented on #42660
Thanks for the quick debugginging, those bits should be reinstated. Do you know how?

[2021-06-30 13:55] ShaunSHamilton commented on #42660
It is a bit confusing, as I am unsure where we are going with the upcoming changes. That is, typically, `frontend/Show.tsx` is used for these challenges, which directly opens the modal. However, now we are using `classic/Show.tsx`, the logic for frontend and backend is mixed.

Do we plan on removing `frontend/Show.tsx` and `backend/Show.tsx`, in favour of `classic/Show.tsx`?

[2021-06-30 14:02] raisedadead commented on #38308
**Code Freeze for TyprScript Migration of the Client**

Currently, we are working on landing #42624 onto the `main` development branch. To enable us to QA this closely we are enforcing a freeze on both `next` & `main` branches of this repository.

The @freeCodeCamp/dev-team is working on resolving & pushing fixes for outstanding issues that are being discussed in #42660

**What this means:**

- Wh

[2021-06-30 15:02] moT01 commented on #42660
Error in console when submitting URL's:
![Screen Shot 2021-06-30 at 10 00 03 AM](https://user-images.githubusercontent.com/20648924/123984172-0c4cb500-d98a-11eb-9e77-e6c8070e3bee.png)

Steps to reproduce:
- go to a challenge where you need to submit a URL. i.e. a cert project
- type in a URL to submit
- press tab to focus the "I've completed this challenge button"
- press enter to submit the chall

[2021-06-30 16:51] thecodingaviator commented on #42660
@moT01 I'm unable to reproduce that

[2021-06-30 18:57] Nirajn2311 commented on #42660
Same here, I couldn't also reproduce Toms bug.

[2021-06-30 20:33] moT01 commented on #42660
@ShaunSHamilton found it, so I can't take credit. I was able to reproduce it on production and dev. I believe it's some sort of caching or storage issue. I wasn't able to reproduce on private browsing or a fresh browser.

[2021-06-30 22:39] alirezaghey commented on #42676
Hi @ShaunSHamilton
I had a look at this. It appears that this line is creating the mess.
https://github.com/freeCodeCamp/freeCodeCamp/blob/9ad2882009ed0bfae1ca240c3cc34ad88b29c11f/client/src/components/profile/components/portfolio.css#L10-L12
Wouldn't it be better to just remove that rule? I've tested it through dev tools and it works. Also checked the source  and it appears that `portfolio.css` i

[2021-07-01 06:15] Sukriti-sood opened #42694 "Solution to wrong challenges getting accepted"
**Affected page**
Projects accepting the solution link of of challenge (repl) are accepting the solution of another challenge they are not checking the challenge solution with challenge statement and this thing is easing the process of claiming certification , one can easily paste the link of different challenge and will complete all projrcts and will claim cerification.

**Expected behavior**
Cha

[2021-07-01 07:35] scissorsneedfoodtoo commented on #42660
@moT01 and @ShaunSHamilton, I took a look and was able to reproduce that `Assertion failed: Input argument is not an HTMLInputElement` bug.

Turns out that it's probably related to the LastPass extension, at least in Chrome. I haven't tried it in Firefox yet.

Like @moT01 mentioned, I'm unable to reproduce the bug in an incognito window, or once I disable LastPass in my main window.

This thread h

[2021-07-01 09:21] ShaunSHamilton commented on #42660
@scissorsneedfoodtoo Ah... brilliant. Well done, for catching that.

[2021-07-01 09:33] ShaunSHamilton commented on #42676
@alirezaghey

Potentially. But, as you say, only if there are no side-effects.

It is in this section of the [Contributors Docs](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=sign-in-with-a-local-user).

---

If you want to make the change, and open a PR, I think that makes sense. We will QA it, and, if anyone notices the change breaking something else, then we can wor

[2021-07-01 09:41] alirezaghey commented on #42676
Thanks!
Will send a PR, tomorrow!

[2021-07-01 09:49] ShaunSHamilton commented on #42694
Hello there. Thank you, for taking the time to open this.

This is expected behaviour. Some projects do not have all of their tests written (https://github.com/freeCodeCamp/freeCodeCamp/issues/41323), and others do not have any tests. Anyone completing the curriculum is expected to abide by the _Academic Honesty Policy_ , and, if any Camper is found to be in violation of the policy, their certific

[2021-07-01 09:49] #42694 closed

[2021-07-01 11:38] ahmadabdolsaheb commented on #42236
How about this

[history] [----------------------------] [play/pause]  [volume] [get help(question mark)] [chat]

get help menu would have the keyboard shortcuts and
report an issue( should go to the forum under the support category. )

[2021-07-01 15:02] SimpleCookie commented on #39190
I wish this would be more clear

Perhaps this should be be clarified in the tests, because the test says to enable the filter, calling `helmet.use()`  does that. so by definition the challenge should be completed. As it is right now, I consider it to be a bug, but maybe that's just me because I like instructions to be clear.

[2021-07-01 16:32] huyenltnguyen commented on #42660
I'm not sure if this issue is related to the TS migration, but I helped a user to create their FCC account just moment ago, and I found that after the user entered the code and authenticated successfully, they could briefly see the introduction screen ([IntroDescription](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/Intro/components/IntroDescription.js)) for a few se

[2021-07-01 16:35] raisedadead commented on #42660
Thanks, @huyenltnguyen we have actually pushed the changes live a few minutes ago. I am going to close this umbrella issue and we should start reporting and fixing issues independently.

Can you log a fresh issue for the same?

[2021-07-01 16:35] #42660 closed

[2021-07-01 17:19] huyenltnguyen opened #42708 "New user gets automatically redirected to /learn after briefly shown the intro page"
**Affected page**
Add a Link to the page with the problem.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to freecodecamp.org as an unauthenticated user and click Sign in
2. Enter a new email address that will sign you up as a new user
3. After the user enters the sign in code, they get redirected to a page where the intro ([IntroDescription](https://github.com/freeCodeCamp/freeCodeCamp

[2021-07-01 23:51] lasjorg commented on #39190
I think it is pretty clear if a previous challenge has set up something the next challenge would need. As I said, you shouldn't need to remove anything you did in a previous challenge unless it is explicitly said so.

You are specifically asked to enable the middleware by using `helmet.hidePoweredBy()`. The behavior of something might be the same without the implementation details being exactly th

[2021-07-02 06:15] raisedadead opened #42712 "private 'about' info shows up in profile caching issue"

[2021-07-02 06:16] raisedadead commented on #42712
/cc @freeCodeCamp/dev-team

[2021-07-02 06:18] raisedadead commented on #42682
I agree we could add some explanation in the challenge description.

[2021-07-02 10:39] ShaunSHamilton opened #42716 "Unable to View JS Algorithms Solutions"
When trying to view a JS solution, the following error appears in dev, explaining the issue in production.

[code]

It seems we followed the expected prop-types too early (ref: #42695 ). The `challengeFiles` object is still an object literal.

Reported on forum: https://forum.freecodecamp.org/t/i-cant-see-my-code-in-the-javascript-algorithms-and-data-structures-certification/467465

[2021-07-02 12:18] #42676 closed

[2021-07-02 12:41] #42712 closed

[2021-07-02 12:42] gikf opened #42719 "Error when changing markdown files in curriculum/ on Windows"
When, on Windows, changing markdown files in curriculum/ they don't get reloaded because of error occurring.

[code]

This is caused by the windows-like paths, that don't get matched at https://github.com/freeCodeCamp/freeCodeCamp/blob/71a7ab5c0f0a6dd97d8c5a087b67c30c0572c70a/client/utils/buildChallenges.js#L19

**Screenshots**
![image](https://user-images.githubusercontent.com/60067306/124275157-

[2021-07-02 13:54] #41011 closed

[2021-07-03 00:27] huyenltnguyen opened #42727 "The HTML `lang` attribute does not have the correct value on non-English pages"
**Affected page**
I found the issue on the home page, /learn, and /settings, but I think it exists on all FCC pages as we set language to one of the files in the root of /client.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a non-English page. For example: https://chinese.freecodecamp.org/
2. Open the browser console and inspect the DOM

**Actual behavior**
The `lang` attribute of

[2021-07-03 21:34] billimarie opened #42738 "[BUG] Throws error when using `background-image` instead of `background` (Learn Applied Visual Design - Add Background Image)"
**Affected page**
[Learn Applied Visual Design: Create Texture by Adding a Subtle Pattern as a Background Image](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image)

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Both `back

[2021-07-04 05:02] anirudh-modi commented on #42682
Hi @raisedadead can you assign this issue to me? I would like pick and solve this..

[2021-07-04 09:42] Vaisakhkm2625 commented on #3714
I don't know how much good this is, but as per there documentation, no need of any api key
https://www.google.com/url?sa=t&source=web&rct=j&url=http://www.7timer.info/doc.php&ved=2ahUKEwi4lYqcj8nxAhWWXisKHVcgAcgQFjAAegQIAxAC&usg=AOvVaw0yy_SXNlxROPSBfC_Smp5C

[2021-07-04 15:39] SimpleCookie commented on #39190
You shouldn't keep the "precious work" either unless it explicitly says to. Because  you're moving from one challenge to a new one. Nothing says they are connected to one another other than it being started from the same "template-repo".
Things like "assumption" should never be a part of a challenge, the instructions should be very clear. Like right now I'm working on the Anonymous message board,

[2021-07-04 16:47] MickenCZ commented on #42716
I have the same problem as I said in the forum, the bottom error says it responded with 404 to the request for the certification on JS algorithms and data structures. Seems like there's an issue with the backend reaching that certification.
![image](https://user-images.githubusercontent.com/73470371/124392857-e3188580-dcf7-11eb-9532-f4c253809fc9.png)

[2021-07-04 17:32] quistthejack10 opened #42744 "Open a new browser tab instead of leaving the curriculum"
**Is your feature request related to a problem? Please describe.**
In the API's and Microservices curriculum. Clicking on the links to either clone the repo or to open replit the user is taken off the freecodecamp site. Should the link open a new tab so that the user can still see the instructions and problem from the curriculum?
https://www.freecodecamp.org/learn/apis-and-microservices/basic-node

[2021-07-04 17:38] #42727 closed

[2021-07-04 18:31] ShaunSHamilton commented on #42744
Hello there,

Thank you, for taking the time to open this issue. We are currently keeping track of this here: https://github.com/freeCodeCamp/freeCodeCamp/issues/39739

As such, I am going to close this as a duplicate.

[2021-07-04 18:31] #42744 closed

[2021-07-04 18:33] ieahleen commented on #42738
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here is the file that you should be looking at to work on a fix:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image.md

The fix w

[2021-07-04 20:00] ajl223 commented on #42738
Created a pull request for this @ #42738, hopefully I am doing this right.

[2021-07-05 00:43] kevinsmithwebdev opened #42746 "Wrong translation in Spanish for "Learn about Tertiary Colors""
**Affected page**
Add a link to the coding challenge with the problem.

https://www.freecodecamp.org/espanol/learn/responsive-web-design/applied-visual-design/learn-about-tertiary-colors

In the second to last test, the text is:

    El elemento `div` con clase `raspberry` debe tener un `background-color` naranja.

The word "naranja" means "orange" - it should be "frambuesa".

In the file:

freeCo

[2021-07-05 06:54] ieahleen commented on #42746
Translations are now managed through Crowdin, and translation errors are best communicated to the translators through the official chat

I'm forwarding the issue there

[2021-07-05 07:05] raisedadead commented on #42746
We already have our translators and proofreaders on forum, we should be able to tag them directly on the forum?

[2021-07-05 07:20] ieahleen commented on #42746
We may need an easily consultable list with at least one proofreader per language that can be tagged for this maybe

[2021-07-05 10:28] #42738 closed

[2021-07-05 11:54] Sembauke commented on #42746
There is a build-in Crowdin discussion widget where you can tag others. Maybe @RafaelDavisH can make a list of all the proofreaders so we can make a separate team to tag them if needed here. But I am not a fan of using GitHub for translations as we do not accept translations through Github.

[2021-07-05 19:54] juancarrillofl commented on #42746
Hello, Spanish proofreader here. Thanks for pointing this out, Kevin! I already fixed it on Crowdin, hope that it updates on production soon.

[2021-07-06 03:32] QuincyLarson opened #42756 "Fix minor spelling error"
This word should be spelled "programming".

Instead of just fixing this myself, I figured it would be a good first-time issue for a contributor who wants to get familiar with the codebase and pull request process. 😄

The error can be seen in production here: https://www.freecodecamp.org/learn/data-visualization/

**Screenshots**
<img width="1382" alt="Data_Visualization_Certification___freeCodeCam

[2021-07-06 04:04] mohamed-elalem commented on #42756
@QuincyLarson I can pick this one

[2021-07-06 04:24] gikf commented on #42756
Hey @mohamed-elalem

Just go ahead :rocket:

Issues are typically not assigned to anyone other than long-time contributors. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://cont

[2021-07-06 06:35] #42746 closed

[2021-07-06 06:40] raisedadead commented on #42746
We have had teams and groups on Crowdin from day one, they seem to be utilized I think. It's perfectly okay to report issues in any of the channels Chat, Forum or GitHub and someone will get to it.

However, the idea should be not to duplicate the report in other channels. So, if we get a report on the forum we can simply tag someone (even someone in the staff) to draw their attention.

@juancarri

[2021-07-06 06:40] #42719 closed

[2021-07-06 06:43] #42756 closed

[2021-07-06 09:51] tristansoriaga commented on #40710
Hi MuriloMarquesSantos, are you still interested in fixing this issue?

[2021-07-06 10:33] alirezaghey commented on #37700
Hi @moT01
I made a few tests and @Chris6077 's solution appears to be correct. This is quite old but I'd like to do it if it's still available.
Please let me know. Thanks.

[2021-07-06 12:11] raisedadead commented on #42656
Reopen if still and issue.

[2021-07-07 00:22] #41994 closed

[2021-07-08 07:25] shootermv commented on #40115
Hi Dear people!
 Im a new guy who want to make his first contribution here -  can somebody please guide me-
 Is there already PR for this issue?
 Thanks

[2021-07-08 10:44] ieahleen opened #42795 "wrong external link in Create Decimal Numbers with JavaScript"
The `href` of the external link in the challenge is `https://en.wikipedia.org/wiki/Floating_point#Accuracy_problems` but it points to a page of a music album, the `href` should be `https://en.wikipedia.org/wiki/Floating-point_arithmetic#Accuracy_problems`

Issue #40749 was asking what to do of external links to avoid such issues, if we have an article talking of this topic I would suggest we use t

[2021-07-08 12:58] billimarie commented on #42738
@ajl223 Works like a charm.

[2021-07-08 13:59] ShaunSHamilton commented on #39348
Briefly, on Chat, we discussed removing _normalize.css_ ([ref](https://github.com/freeCodeCamp/freeCodeCamp/pull/42067#discussion_r657535970)).

The pros to removing it:
- Camper's iframe will mimick real-world output
- We do not need to keep normalize in mind, when designing lessons
  - No need to create work arounds
- Reduced bundle size (_enticing Ahmad and Oliver_)

Cons:
- We use(d) normalize

[2021-07-08 14:47] ojeytonwilliams commented on #39348
My position is: the closer we make the preview pane to how raw html renders, the better.  However, we do need to check that this doesn't "break" any of the commonly used browsers.

This is easily reversed, though, so I'm fine with trying it (once we've done some QA on Chrome, Safari and Firefox)

[2021-07-08 15:58] raisedadead commented on #42795
cc: @scissorsneedfoodtoo

[2021-07-08 19:03] alirezaghey commented on #42708
Hello,
I'm wondering how one can simulate the signup process on a local setup. This would be needed to test any solution or even dig further into the problem.

[2021-07-09 00:44] moT01 commented on #39348
Not sure if anyone noticed or is aware, but I think the typescript migration or something, maybe a package update, got rid of the jaws - I was reviewing the skyline project, they were there - I gave it a rebase, and they were gone. Checked out main and they aren't there either.

[2021-07-09 02:30] moT01 opened #42806 "test-suite/jaws for project based curriculum disappeared after typescript migration"
More info: https://github.com/freeCodeCamp/freeCodeCamp/issues/39348#issuecomment-876832306

[2021-07-09 03:00] #42716 closed

[2021-07-09 04:50] ahmadabdolsaheb commented on #41580
Thanks for the suggestion. I think bit.dev would be ideal for larger component libraries. We have a limited number of pre-designed components that need to be migrated from bootstrap.

[2021-07-09 07:50] #40115 closed

[2021-07-09 11:33] ahmadabdolsaheb commented on #42708
I can reproduce the issue on .org and .dev, it seems like it would affect the email sign ups for new users.
@alirezaghey, we are using a mock auth for local setup, so the behavior is different.

[2021-07-09 14:02] #42795 closed

[2021-07-09 14:30] ahmadabdolsaheb commented on #42708
I assume, at some point the user's privacy policy flag gets updated and and the user is redirected accordingly.

[2021-07-09 15:29] shootermv opened #42810 "how-to-setup-freecodecamp-locally.md need to be updated"
**Affected page**
docs/how-to-setup-freecodecamp-locally.md

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally'
2. Scroll down to "Quick commands reference" section
3. See that it says - command for run test and server tests are "npm run test:client" and "npm run test:server"

**Expected behavior**
It should be  `np

[2021-07-09 19:20] awu43 commented on #42256
Ready for more files, I'll take `/client/utils/**`.

[code]

[2021-07-09 20:04] Mvrs commented on #42256
Just updating everyone!!!

I'm still here and will have my files done soon 🚀

[2021-07-10 06:05] #42810 closed

[2021-07-10 08:49] alirezaghey commented on #41277
Hi,
I was looking into adding these tests, but I'm a little bit confused about the following:
1. Where do we add the tests? I have read the [guidelines](https://contribute.freecodecamp.org/#/how-to-add-cypress-tests?id=how-to-add-cypress-tests), and looked at how the already written tests are organized in the code base but could not come to a conclusion.
2. Is this a separate suite/file for the br

[2021-07-10 10:40] Sembauke commented on #41277
While these changes in the PR are reverted @ojeytonwilliams and I are planning on optimizing the PR. But that should still take some time.

In the meantime, we could use some tests for the breadcrumbs. If you are familiar with Cypress you can use that to make the new test. I suggest you add these tests under `cypress\integration\learn\redirects`.

I guess with some directions and lead I'll be able

[2021-07-10 13:09] vishwasnavadak commented on #42256
Hi, Is it too late to say I will migrate below files? @ojeytonwilliams
[code]
I don't see them assigned to anyone. So will be happy to help.

[2021-07-10 13:15] anirudh-modi commented on #42229
Hi @ojeytonwilliams I would like to pick this issue up...

As this issue has multiple plugins, and multiple rules in each plugin itself.. Perhaps, I believe if we start with picking recommended settings for some of the plugin will be more helpful.. Unless you or anyone on the team has other suggestions on the same..

Both `eslint-plugin-testing-library` and `eslint-plugin-jest-dom` comes with defa

[2021-07-10 13:54] anirudh-modi commented on #42229
@ojeytonwilliams I have created PR in draft mode for the same, it breaks a lot of tests, but before I fix them, need your comments if any rules need to be tweaked or not.

[2021-07-10 14:05] ShaunSHamilton commented on #42256
@vishwasnavadak I have edited your name against those files 👍

[2021-07-10 14:33] huyenltnguyen commented on #42229
Hey @anirudh-modi, thanks for giving us a hand with this issue!

As you said, enabling the rules in /client breaks a lot of tests (which I why I previously had to leave it out to unblock myself), so it is okay to break the task up into multiple parts. Just help us note in the PR description about what the PR does and does not cover.

Regarding configurations, we are using the libraries' recommende

[2021-07-10 15:30] anirudh-modi commented on #42229
Hi @huyenltnguyen I have actually done the same thing as you have suggested, ie I have extended the (`tools/ui-component`)  itself, to maintain consistency..

You can have a look in this PR..
Link to my PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/42817

As far as, breaking the PR into multiple parts.. at first I thought about doing the same, however, it looks like most of the error are c

[2021-07-10 15:35] anirudh-modi commented on #42229
Also, it looks like some 10-12 test files are breaking..
https://github.com/freeCodeCamp/freeCodeCamp/pull/42817/checks?check_run_id=3036091514

[2021-07-10 16:32] anirudh-modi commented on #42229
Hi @huyenltnguyen I have fixed few files, however there are files which violates these rules
- https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/no-node-access.md
- https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/no-container.md

Where I could use some help.. Basically they discourage us to use `document.querySelector` and i

[2021-07-10 17:33] huyenltnguyen commented on #42229
Thank you for the intensive analysis, Anirudh 👍

I would say let's not disable the rules and try to fix all the errors in the same PR. This is a painful approach, but I would prefer suffering it once. I was actually planning to work on this myself, but got some loose ends to tie up first, hence the delay.

Your PR looks great! Please bear with me, I'll pull the branch down to check the errors and

[2021-07-10 18:00] anirudh-modi commented on #42229
@huyenltnguyen No worries.. I totally agree, suffering at once is way better than those incremental sufferings 🙂

I will wait for the same.. There are few solutions which can be done like `testId` but I am not sure if they are the best or not.. hence, I need suggestions..

[2021-07-10 19:18] huyenltnguyen commented on #42229
`testId` is not recommended as a go-to query unfortunately.

React Testing Library has a guide [here](https://testing-library.com/docs/queries/about#priority) to help us pick the most appropriate query, and `ByRole` is the first query we should try to use in our tests, unless there isn't an applicable role for the element.

Role is the semantic meaning of an HTML element. It is to keep our HTML do

[2021-07-10 19:44] anirudh-modi commented on #42229
I very much agree!! That is why I was myself skeptical of creating a PR with `testId`...

I will look at the links you have, and I will do one thing, I will make a list of which role I can use for the given test.. and what alternative I can use if role is not applicable.. and you can cross verify the same..

I am more than happy to contribute to freecodecamp 🙂

[2021-07-11 02:41] huyenltnguyen opened #42820 "Update CompletionModal component to use KeyboardEvent.key instead of KeyboardEvent.keyCode"
**Affected page**

`CompletionModal` component is using `KeyboardEvent.keyCode`, which is a [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode) property of keyboard event.

Link to the code: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/components/completion-modal.tsx#L174

**Expected behavior**

While the MDN article sugges

[2021-07-11 02:43] huyenltnguyen commented on #42820
This issue is open for first-time code contributors to this repository.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need he

[2021-07-11 03:09] huyenltnguyen commented on #42708
Okay, I think my report was wrong. It happened very quickly and I actually didn't pay attention to the URL, so there might not be a redirect, but some conditional rendering rather.

I didn't look closely into this, but by reading the rendering of this part (code [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/Intro/index.js#L22)), I think the `isSignedIn` state

[2021-07-11 07:41] swarup4741 commented on #42256
I would like to migrate `/client/src/components/landing/index.js` & `/client/src/components/landing/components/*`

[2021-07-11 09:53] DrinkiPoo opened #42824 "The replit.com node/express boilerplate not functioning"
The replit boilerplate from Basic Node and Express (APIs and Microservices) does not boot up properly on my machine. I have shared this problem on [FCC forum](https://forum.freecodecamp.org/t/replit-node-express-boilerplate-not-working/468656), but we haven't been able to solve it as of yet. Node seems to be looking for an index.js file, but this project does not have an index.js.

I deleted and r

[2021-07-11 11:33] alirezaghey commented on #42824
Hello @DrinkiPoo
I just forked the [replit boilerplate](https://replit.com/github/freeCodeCamp/boilerplate-express) and solved the [first challenge](https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/meet-the-node-console) without problem.
I happen to have the same Chrome version `91.0.4472.114 ` as you, but my OS is Ubuntu focal. Node and npm versions are `14.17.2` a

[2021-07-11 11:48] DrinkiPoo commented on #42824
@alirezaghey
I just edited the OP to add the replit link. Thanks!

[2021-07-11 12:40] ShaunSHamilton commented on #42824
Hello there,

Thank you, for opening this issue. As discussed in the linked forum topic, this is a bug with the Replit setup which occasionally pops up.

The work around is to:
a) Try re-cloning the GitHub repo (create a new REPL)
b) Not use the GUI _RUN_ button, but the shell to execute the install and start commands:
[code]

As such, I am closing this issue. If you have any more questions or con

[2021-07-11 12:40] #42824 closed

[2021-07-11 14:06] #42682 closed

[2021-07-11 16:53] KL13NT opened #42825 "Why do tests not ignore text case?"
Looking at the linked code challenge, writing the following code passed:

[code]

while the following doesn't pass:

[code]

Note the change from "Indoor" to "indoor".

**Update 11 July, 2021**
As per the discussion in the replies, the best thing to do now is to wait for the next version of the curriculum. See https://github.com/freeCodeCamp/freeCodeCamp/issues/42825#issuecomment-877843443 for mor

[2021-07-11 17:04] KL13NT commented on #42825
I noticed the following:
The tests for this challenge uses

[code]

I'm not sure what the `$` is, but would like to understand further. Is there no `label.toLowerCase:contains`?

[2021-07-11 17:12] ShaunSHamilton commented on #42825
@KL13NT Thank you, for taking the time to open this. However, this is probably not the best platform for general inquiries about the freeCodeCamp platform - the [forum](https://forum.freecodecamp.org/) would be better suit.

In most programming languages, and in most software use-cases, character _case_ (upper and lower) is important, and a change of case produces a different program/value. As suc

[2021-07-11 17:41] KL13NT commented on #42825
@ShaunSHamilton This is more of a UX problem than a challenge solution, so GH is probably the best channel for it. The value of the label in this case doesn't change the output of the challenge nor the actual solution of it (it actually passes if the label isn't changed), and could rather be made entirely in mistake. A couple of my mentees have reported that it's frustrating because they like to d

[2021-07-11 17:54] ieahleen commented on #42825
this is a css selector, which is case sensitive
it is not easy to give freedom to users to change all they want and still allow the tests to pass, also because it becomes an issue on what we would allow and what we wouldn't. We can't allow everything, it becomes impossible to test reliably

[2021-07-11 17:57] KL13NT commented on #42825
That makes sense, yes, and I'm aware of it. The other "disclaimer" option seems like the most logical solution to this, AFAICT. It'd keep test cases as is while providing more context as to what affects test passing and what doesn't.

[2021-07-11 18:35] ShaunSHamilton commented on #42825
Changing text value of the label does change the output.

My point here is to say that the instructions are specific - as they have to be in programming. The label does not say `indoor` either way, because it either says `indoor` or `Indoor`. If a client asked for it to say `Indoor`, and a programmer set it to `indoor`, this would be incorrect.

In the case of this lesson, it can be thought of a c

[2021-07-11 19:54] KL13NT commented on #42825
Thanks for the clarification, @ShaunSHamilton. It makes more sense now. Do you know when can one expect the next version? All I could find searching for it is topics on the forum pre-2021. Is it in beta?

I'll update the name of the issue to reflect where this discussion is going.

[2021-07-11 21:04] ShaunSHamilton commented on #42825
The next version (v7), is still under development - some of the code exists in this repository, but is not _enabled_ _per-se_. We specifically do not set/give release dates. So, I cannot say for sure when to expect it.

There are bits and pieces of information about it scattered here and on the forum, but I tend to stick to what is written in the announcement: https://www.freecodecamp.org/news/pyt

[2021-07-12 03:50] #38842 closed

[2021-07-12 10:59] Sembauke commented on #41328
Hey @karuppiah7890,

Thank you for this great idea, unfortunately, we have all our projects planned out at the moment for version 7 of the curriculum.
Thank you for thanking the time to share this.

Enjoy your day, and happy coding!

[2021-07-12 10:59] #41328 closed

[2021-07-12 11:19] Sembauke commented on #41330
Hey @tomjbradley,

Thank you for your suggestion, but as Quincy stated we would like to keep it the same.

Enjoy your day and happy contributing

[2021-07-12 11:19] #41330 closed

[2021-07-12 11:26] #40050 closed

[2021-07-12 16:12] victor-duarte commented on #42708
For reference, evidence:

https://user-images.githubusercontent.com/1746030/125321116-faf89680-e301-11eb-8ed4-5e5b079d113c.mov

[2021-07-12 17:12] Sembauke commented on #42825
Hey @KL13NT,
After this extravagant debate between u and Shaun, I will be closing this, as we want the user to learn how to read instructions that are given by the challenges. This may help the user in further endeavors.

Happy coding 😄

[2021-07-12 17:12] #42825 closed

[2021-07-12 20:04] lasjorg opened #42836 "Update Back-end curriculum tests to be more transparent/descriptive"
Personally, I find it much harder to get the projects right without knowing what exactly is being tested for. Seeing the test code makes the requirements much more clear. We very often link to the tests on the forum because it really helps people better understand the requirements.

Fundamentally I guess it shows an issue with the test output and requirements not being clear enough. But letting pe

[2021-07-12 20:22] ShaunSHamilton opened #42837 "Discourse-Learn Integration"
Following the addition of more badges to profiles, this issue discusses the possible integration of the Discourse API with `/learn`.

As Discourse comes with the API and GUI to create/grant badges, it would be most ideal to _seamlessly_ provide this functionality on a Camper's profile on `/learn`.

Possible Feature Additions (will do):
- [x] Display all current badges from `forum` to `/learn`
- [x

[2021-07-13 01:51] scissorsneedfoodtoo commented on #42795
Thanks for reporting this @ieahleen. We don't seem to have a good article on accuracy problems when using floating point numbers, so the Wikipedia article you suggested is a good alternative for now.

[2021-07-13 06:30] vishwasnavadak opened #42838 "Unable to run `npm run develop` on Apple MacBook M1 Chip due to sharp"
**Describe the bug**
I am setting up the freecodecamp platform on my local following the instructions from https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally. I get this issue when I run `npm run develop`.

![Clipboard - July 11, 2021 6_45 PM](https://user-images.githubusercontent.com/13111030/125401670-17173900-e3d1-11eb-8b0e-fb739829d3c7.png)

I have tried solutions given in

[2021-07-13 09:03] #41273 closed

[2021-07-13 09:12] Sembauke commented on #42838
can someone with a mac confirm this on another device? @Nirajn2311 ?

[2021-07-13 09:15] Nirajn2311 commented on #42838
I checked it yesterday but I didn't get any error. Also the docs suggest you to use Node v14. Could you try once with that version.

[2021-07-13 10:02] ahmadabdolsaheb commented on #41074
@huyenltnguyen, have you been experiencing this issue recently?
It seems like chrome has introduced some new optimizations that throttles the performance of background tabs.

[2021-07-13 10:48] iigorcunha commented on #42256
it's ok to get these files?

[code]

I did not see anyone get those files.

[2021-07-13 10:53] Sembauke commented on #42256
@iigorcunha Sure go for it!

[2021-07-13 11:08] Sembauke commented on #39348
Should we revert the pr that converts the Editor into typescript, so we can see if the issue lays there?

[2021-07-13 11:15] iigorcunha commented on #42256
Have any files still free to migrate?

[2021-07-13 11:44] Sembauke commented on #42256
I have added you in @sharmaabhinav!

[2021-07-13 11:46] Sembauke commented on #42256
Hey @iigorcunha
Here are some of the remaining tests
[code]

[2021-07-13 11:59] vishwasnavadak commented on #42838
Oops. I had tried this on Node v14. My default version is 12, So at the time of creating the issue. It case as 12. Apologies.

Here is the actual version.
[code]

[2021-07-13 12:00] ojeytonwilliams commented on #39348
@Sembauke no need, Tom's right that the migration caused the bug.  I've been looking into it and should have a fix before too long.

[2021-07-13 12:31] kwicherska commented on #42256
Hi Guys! I would also like to help :) Could I take:
 /client/src/templates/Challenges/components/Test-Suite.js
 /client/src/templates/Challenges/components/Tool-Panel.js ?

[2021-07-13 12:44] ShaunSHamilton commented on #42837
Shouldn't there be new badges that correlate with the learning platform, if so which?

@Sembauke The main reason for this is the addition of i18n-related badges (once more is finalised, we can share specifics). So, to not re-create the wheel, we thought to use Discourse's API/GUI to create, store, and award the badges, but we also want to include them on the `freecodecamp.org` domain. So, nothing

[2021-07-13 14:03] Sembauke commented on #42256
Sure I will ad you in!

[2021-07-13 14:08] Sembauke commented on #42256
Only a couple of files are not converted yet:
[code]
Feel free to take some of them!

[2021-07-13 15:37] #40710 closed

[2021-07-13 15:52] Sembauke commented on #42838
Can you give some more info on what you've tried?

[2021-07-13 18:24] moT01 commented on #42836
I don't mind linking to the tests when someone asks in chat or on the forum, but I'm not sure linking them on the project pages by default is the right way to go - although, I'm open to arguments. It seems like it's probably our fault for not making things clear enough - I think it would better to try and make it clear on the project pages or whatever test suite is being used. I don't have a whole

[2021-07-13 18:30] iigorcunha commented on #42256
@Sembauke  as I saw in MathJax documentation, Versions greater than 3.0 are compatible with typescript. in this case the best  way to migrate this is upgrading MathJax? or just disable the lint in this lines? do you have any suggestion?

[2021-07-13 18:40] ShaunSHamilton commented on #42836
The two best things I can think for the backend-style tests are:
- Being persistant to encourage Campers to use the browser devtools (console for assertion errors, and network tab for... _well_ ...)
- Displaying the test output to the Camper: https://github.com/freeCodeCamp/freeCodeCamp/pull/40860

The issue with the latter is many of the tests will need to be re-written to correctly throw the ass

[2021-07-13 18:52] moT01 commented on #42836
There's a [start to a discussion here](https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/21) on how to translate the instructions and hints. The test text/assertion errors will probably not be able to get translated. I suppose we could look into it, but it wouldn't be a priority for at least a little while.

[2021-07-13 19:01] iigorcunha commented on #42256
@Sembauke can I discuss something about migrating files here? or have another way to do? it's better send a pull request and discuss there?

[2021-07-13 19:12] Sembauke commented on #42256
Opening a PR is the way to go so we can keep this issue clean 😁

[2021-07-13 20:38] ShaunSHamilton commented on #42837
![](https://github.trello.services/images/mini-trello-icon.png) [Issue: Track Discourse-Learn Integration](https://trello.com/c/aDOko7Kj/455-issue-track-discourse-learn-integration)

[2021-07-13 20:39] ShaunSHamilton commented on #42837
![](https://github.trello.services/images/mini-trello-icon.png) [Issue: Track Discourse-Learn Integration](https://trello.com/c/aDOko7Kj/455-issue-track-discourse-learn-integration)

[2021-07-13 20:40] lasjorg commented on #42836
Ideally the requirements and assert messages might be enough.

Most TDD style code kata challenge sites have sample tests you can test against. Not seeing the tests is a bit like doing TDD in the blind, with only requirements and assert messages. It would be nice if the challenges had some sample tests, not only to better understand the requirements but also to give something to manually test agai

[2021-07-13 23:54] lasjorg opened #42850 "Is this code supposed to fail the first test?"
Forum post: https://forum.freecodecamp.org/t/cant-pass-this-tests-but-in-my-com-puter-works-fine-help-please/469196

The first test and part of the requirements seem to suggest you should not be allowed to add more properties at any point. Not just on initialization, but also not after the call to any of the methods.

[2021-07-14 07:22] danzel-py opened #42852 "This FCC test shouldn't pass, but passes anyway."
**Affected page**
https://www.freecodecamp.org/learn/information-security/information-security-projects/anonymous-message-board

**Your code**
My .env is still commented, functional testing aren't even commenced.
[code]

**Expected behavior**
Shouldn't pass the FCC tester's last test but it did:

**Screenshots**
![Screenshot 2021-07-14 at 16 15 59](https://user-images.githubusercontent.com/6757487

[2021-07-14 08:00] vishwasnavadak commented on #42838
I forked and cloned the repo into my system. Then ran following commands.

Environment:
MacBook Air (M1, 2020) 11.4 (20F71)
node: v14.16.1
npm: 6.14.12
terminal: iTerm 3.4.8

[code]

[code]

[code]

As suggested in https://stackoverflow.com/questions/67560211/mac-m1-something-went-wrong-installing-the-sharp-module, I went through these steps.
[code]

I also tried removing the node_modules/sharp an

[2021-07-14 08:20] ShaunSHamilton commented on #42852
Hello there,

Thank you, for taking the time to open this. This is expected behaviour, as not all the tests for this project have been written yet.

As such, I am going to close this issue. Thank you.

Related to https://github.com/freeCodeCamp/freeCodeCamp/issues/41323

[2021-07-14 08:20] #42852 closed

[2021-07-14 09:54] Nirajn2311 commented on #42838
Did you configure your terminal to use Rosetta or are you using the normal terminal?

[2021-07-14 10:03] vishwasnavadak commented on #42838
It is normal terminal. Should I try Rosetta as well?

[2021-07-14 10:29] vishwasnavadak commented on #42838
Switched the terminal to run on Rosetta, deleted `node_modules` and installed all dependencies. The error is still the same. I verified that the terminal is running on Intel from Activity Monitor.

PS: I have another Gatsby Project which has `gatsby-plugin-sharp`  and it is running properly.

[2021-07-14 11:13] Sembauke commented on #42509
Is the Relational databases certification in show upcoming changes?

[2021-07-14 11:46] ShaunSHamilton commented on #39348
Probably related to: https://github.com/freeCodeCamp/freeCodeCamp/issues/39348#issuecomment-853880345

[Ref](https://github.com/freeCodeCamp/freeCodeCamp/pull/42855#issuecomment-879814529)
[code]

Editable region defined at top of file causes it:
[code]

Does not break:
[code]

[2021-07-14 12:22] Nirajn2311 commented on #42838
Hmm this is strange, I use the normal terminal and I haven't faced any issues in my M1 Mac. Could you try deleting your clone of FCC and starting again. Also how did you install Nodejs?

[2021-07-14 12:28] vishwasnavadak commented on #42838
I installed NodeJS through NVM. Are you using terminal in rosetta or Apple M1?

[2021-07-14 12:49] Sembauke commented on #39348
I think this is because of the top decoration displaying itself before the first line in the editor. When adding an extra line at the top this might not be the case.

The decoration just seems to enter an "illegal line value"

[2021-07-14 13:52] moT01 commented on #42509
Yes. If you want to test out any of the tutorials, some feedback would be great 👍 Once you click a tutorial, log in to CodeAlly with your GitHub account and run the tutorial. After the VM loads, open VSCode's command palette (I think click `view` -> `Command Palette`) and run `CodeRoad: Start` - it should be the first option. From there, you should just be able to go through the tutorial. The adva

[2021-07-14 13:57] ojeytonwilliams commented on #39348
That sounds very likely, Sem.  It's probably just trying to decorate line zero and crashing as a result.

[2021-07-14 14:00] Sembauke commented on #39348
Yes that's what I meant.

[2021-07-14 15:04] huyenltnguyen commented on #41074
I'm on Firefox most of the time and I have been getting the same experience, in that the music stops after around 30 mins of playing. Had the experienced been improved for you until that Chrome update?

[2021-07-14 15:31] prasad1004 commented on #42373
🙌

[2021-07-14 15:43] #42820 closed

[2021-07-14 16:09] #42806 closed

[2021-07-14 17:36] Nirajn2311 commented on #42838
Im using M1 terminal. I haven't come across the need to use Rosetta as of yet, so rosetta has not been enabled anywhere at all.

Aha I knew I had missed something. Ok so when I got my M1, which was like a month or so back, I was reading up on Nodejs v14 support for M1 and at that time it was in testing stage as Node had made v15 and up fully support M1 but not v14. Later on a week later, they rele

[2021-07-14 18:20] raisedadead opened #42861 "User profile icon blocks other elements in the navbar"
https://forum.freecodecamp.org/t/469271

![image](https://user-images.githubusercontent.com/1884376/125672375-8f9b2063-173a-4bcf-8c34-d9b9a182a308.png)

This is presumably because of a CSS API that is not available in a lot of legacy browsers. I have seen this being reported one too many times on the forum.

**API in question:**

https://github.com/freeCodeCamp/freeCodeCamp/blob/de2f4e2843ef7ae660

[2021-07-14 18:59] lasjorg commented on #42861
Maybe there is some special case for this I'm not seeing, but `display: flex` seems to work just as well. I didn't look too much at this, like check if the CSS is used elsewhere, so I might be missing something.

[2021-07-14 21:36] Ismailtlem commented on #42256
Hi,
I am interested in taking those files :
[code]
Is there a time limit for pushing the converted files ?
-

[2021-07-15 06:19] ieahleen opened #42864 "challenge on lazy matching tests pass also when lazy matching is not used"
From this forum topic: https://forum.freecodecamp.org/t/hey-can-anyone-tell-me-why-my-regex-matched-successfully-in-string/469077

**Affected page**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching
File: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and

[2021-07-15 06:21] ieahleen commented on #42850
this probably can be tested only if we add a call to the setters (maybe also the getters to be throughful) before testing for the number of properties
it wouldn't be too difficult to do, if we arrive to the conclusion that it is needed

[2021-07-15 06:41] ojeytonwilliams commented on #42256
@Ismailtlem no, no time limits at the moment.  Since it's a migration and not adding features or fixing critical bugs, there's no great time pressure.  I went ahead and added you to those files.

[2021-07-15 08:05] vishwasnavadak commented on #42838
Good that you recalled. Updating to node v14.17 worked!!

PS: `arch` command output

[code]

Do you think we need to update https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally page for M1 users?

[2021-07-15 09:21] Sembauke commented on #42838
Hey @vishwasnavadak,

Nice to hear that it worked!

I don't think we need to add it in the contributors' guide because of the userbase being so small.
Also, Node might update and the instructions could go out of date fast.

You can always open a PR and we will review it.

Have a nice day and looking forward to your contributions!

[2021-07-15 09:21] #42838 closed

[2021-07-15 09:24] Sembauke commented on #42509
Hey Tom,

I am trying to start the VM but something seems to go wrong when trying to log in.

https://gyazo.com/45fae26f11523117680e68fb790d6f11

[2021-07-15 12:37] moT01 commented on #42509
I haven't seen that one before. There shouldn't be any permissions needed to run anything. I suppose other than just being logged in to [CodeAlly](https://codeally.io/). If you go there, are you logged in? You could try clearing all the site data and logging in through their site first (using the login with github method). Was there any errors in the console? I just logged out and logged back in w

[2021-07-15 13:00] Nirajn2311 commented on #42838
Perfect and also I think it would be better to add a small note in the "Troubleshooting" part of the contribution docs.

[2021-07-15 13:20] ojeytonwilliams opened #42870 ""Help improve or add subtitles" is hidden on the video challenges"
**Affected page**
Add a Link to the page with the problem.

https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/intermediate-strings

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/intermediate-strings
2. See the video
3. The text "Help improve or add subtitles

[2021-07-15 14:14] ieahleen commented on #42870
YouTube doesn't allow anymore for crowd sourcing subtitles
If we don't have a different alternative it should be to remove

[2021-07-15 14:51] #38569 closed

[2021-07-15 15:07] vishwasnavadak commented on #42838
Added in https://github.com/freeCodeCamp/freeCodeCamp/pull/42871

[2021-07-15 17:18] raisedadead commented on #41580
Hey @huyenltnguyen I have been trying to reach you, could you check your DM on chat or your email (including spam) when you get a chance. Thanks.

[2021-07-15 18:25] lasjorg opened #42877 "Set up passport challenge should allow for bracket notation"
The challenge has a regex that only allows for dot notation.

`/secret:( |)process.env.SESSION_SECRET/gi`

Forum post: https://forum.freecodecamp.org/t/not-able-to-pass-session-and-session-secret-should-be-correctly-set-up/466681

Challenge: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.md

[2021-07-15 21:05] ShaunSHamilton commented on #40403
@ahmadabdolsaheb I would appreciate a final word on this:
- Should the option to disable `profile` be _disabled_, if a Camper has claimed a certificate?
- Or, should the workflow be similar to:

[2021-07-16 01:08] trooms opened #42884 "Typo/Incorrect and misleading explanation on AVL Insertion process"
**Describe your problem and how to reproduce it:**

"If there is an imbalance in left child of right subtree, then you perform a left-right rotation.
...
If there is an imbalance in right child of left subtree, then you perform a right-left rotation"

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/avl-tree-insertion-rotation-and-balance-factor/

**Recommended fix, s

[2021-07-16 06:56] scissorsneedfoodtoo commented on #34933
Closing this issue as fixed with https://github.com/freeCodeCamp/freeCodeCamp/pull/41786 and https://github.com/freeCodeCamp/demo-projects/pull/53.

A larger discussion of the backend projects and existing/possible endpoints is here: https://github.com/freeCodeCamp/freeCodeCamp/issues/41529

[2021-07-16 06:56] #34933 closed

[2021-07-16 07:44] jsdisco opened #42890 "Comments in translated curriculum break challenge tests"
The challenge asks to replace an if/else statement with a switch, the tests fail because the comment that the editor is prepopulated with contains the string "if".

**Affected page**

https://www.freecodecamp.org/italian/learn/javascript-algorithms-and-data-structures/basic-javascript/replacing-if-else-chains-with-switch

[code]

**Expected behavior**

The code above should pass, but doesn't (unle

[2021-07-16 08:16] ShaunSHamilton commented on #42884
Hello there,

Thank you, for taking the time to open this.

I have emailed the editorial team at `editorial<at>freecodecamp.org`, and one of the team will close this issue, once this is investigated further/resolved.

[2021-07-16 08:18] ojeytonwilliams opened #42892 "Additional TypeScript tooling"
**Is your feature request related to a problem? Please describe.**
Currently only part of the codebase can be written in TypeScript.

**Describe the solution you'd like**
To finish migrating the client, we would need additional tooling to handle `gatsby-config`, `gatsby-node` and files they import.  This could either be an extra `tsc` compilation step or potentially via ts-node.  However, I'm not

[2021-07-16 08:19] raisedadead commented on #42890
This seems the challenge tests are not happy with the translated comment for some reason. Removing it as mentioned here seems to work: https://forum.freecodecamp.org/t/469535

Any ideas @freeCodeCamp/dev-team?

[2021-07-16 08:22] raisedadead commented on #42884
Closing, now that we email the editorial team for these. See templates: https://github.com/freeCodeCamp/freeCodeCamp/issues/new/choose

[2021-07-16 08:22] #42884 closed

[2021-07-16 08:27] ShaunSHamilton opened #42893 "Claiming Certificate from Superblock"
This issue outlines _quality-of-life_ improvements to the workflow of claiming a certificate from the superblock.

**Issues**
1) [ ] Navigating to a superblock temporarily renders the ClaimCertSteps card, despite the certificate having been claimed. [1]
2) [ ] After claiming a certificate from superblock, flash message obscures _Show Certification_ button (margin to move button down?)
3) [ ] A sig

[2021-07-16 08:33] ShaunSHamilton commented on #42890
Last I checked, we fixed the bugs with removing comments. So, we should be able to just add this helper to the tests: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/curriculum-helpers.ts#L10

[2021-07-16 08:34] ojeytonwilliams commented on #42890
We did, yeah, but for some reason the comments are not automatically getting removed here.  I think they should be.

[2021-07-16 09:02] ShaunSHamilton commented on #42890
Only the last comment is being removed:
[code]

Bizarrely, a comment is not removed, if it appears immediately after an empty string.

[2021-07-16 09:19] ojeytonwilliams commented on #42890
Yeah, there's definitely a problem with `strip-comments`.  It's not working in this case.

[2021-07-16 09:53] ojeytonwilliams commented on #42890
This should be fixed by https://github.com/freeCodeCamp/strip-comments/pull/13

[2021-07-16 10:12] ShaunSHamilton commented on #42893
![](https://github.trello.services/images/mini-trello-icon.png) [TODO: Discuss Ideal Workflow for Cert/Superblock](https://trello.com/c/pQagujpB/458-todo-discuss-ideal-workflow-for-cert-superblock)

[2021-07-16 12:43] #42870 closed

[2021-07-16 13:44] #41277 closed

[2021-07-16 13:45] kattmina commented on #42256
Thank you, I will do it this weekend :)

[2021-07-16 13:56] moT01 opened #42900 "Viewing URL Cert solutions brings up JS solution modal"
I'm not sure if this was deliberately added at some point, I'm guessing not - but viewing a cert solution for any cert brings up the JS code viewer with the URL in it when a URL is used to submit the project...
![Screen Shot 2021-07-16 at 8 53 03 AM](https://user-images.githubusercontent.com/20648924/125959026-199e5e42-4afa-400b-a428-65f6bb343762.png)

Go [here](https://www.freecodecamp.org/certif

[2021-07-16 14:16] ShaunSHamilton commented on #42900
My bad. This line probably needs to change:

[code]

[2021-07-16 14:31] #42864 closed

[2021-07-16 14:36] moT01 opened #42902 "Adjust superBlock folder naming schema"
There's a few related comments and inspiration for the issue [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/42885#issuecomment-881205743)
Basically, we want to improve the [folder names of the superblocks](https://github.com/freeCodeCamp/freeCodeCamp/tree/main/curriculum/challenges/english)

Some possible approaches:
- Remove the numbers entirely

- Rename Certificates to 00
Rename Codin

[2021-07-16 15:32] #42275 closed

[2021-07-16 15:43] JimmyK1995 commented on #42203
This would definitely make sense to add. A pretty small feature that may avoid lots of frustration for the users.
I will look into it.

[2021-07-16 16:57] lavish2801 opened #42904 "fcc_demographic_data _analyzer error"
Hello Everyone,
Trying to learn from free code camp data analyst course.
There is an error in my code for #Demographic_data_analyzer .. it will be a pleasure if someone can resolve this issue. try to run .. link is below
https://replit.com/@LavishSinghal/boilerplate-demographic-data-analyzer-1#demographic_data_analyzer.py
Thank You

_Originally posted by @lavish2801 in https://github.com/freeCodeC

[2021-07-16 17:02] gikf commented on #42904
Thank you for opening this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within

[2021-07-16 17:02] #42904 closed

[2021-07-16 18:08] Sembauke commented on #42203
If you have any questions you can always at the at freecodecamp/dev-team.

[2021-07-17 07:30] raisedadead opened #42915 "Firefox ESR breaks rendering on news pages"
**Affected page**
Add a Link to the page with the problem.

All pages on news.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page on news.
2. See the text is superimposed.

**Expected behavior**
A clear and concise description of what you expected to happen.

The text and article should render correctly.

**Screenshots**
If applicable, add screenshots to help explain your proble

[2021-07-17 15:19] victor-duarte commented on #42256
Hi @Sembauke, @ojeytonwilliams,

If still unassigned, I can pick up `/client/src/templates/Challenges/rechallenge/*` upon confirmation.

[2021-07-17 16:29] #42877 closed

[2021-07-17 16:31] Sembauke commented on #42256
Sure I will add you in!

[2021-07-17 18:44] Sembauke commented on #42256
Only 4 files left unassigned:
[code]

Feel free to assign yourself.

[2021-07-18 05:32] awu43 commented on #42256
I'll take `/client/src/components/search/WithInstantSearch.js`.

[2021-07-18 08:28] Mush-A opened #42924 "Split screen snaps back/forward when adjusted forward/backward"
**Affected page**
All pages with code editors

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.'
2. Slide the adjustable split screens
3. Split screen snaps back or forward if the split-screen was pulled forward or back respectively

Related behaviour:

1. Go to 'https://www.free

[2021-07-18 10:40] Sembauke commented on #42256
I added you

[2021-07-18 11:55] shootermv commented on #39711
as far as i can see - react version need to be upgraded first (16.4 has no support for hooks)

[2021-07-18 17:40] umerrauf6 opened #42925 "Im getting syntax error when i use spread operator"
console.log(h1.parentElement.children)

[....h1.parentElement.children].forEach(el => {
  console.log(el)
});

[2021-07-18 17:45] Sembauke commented on #42925
Hey @umerrauf6,

You can ask these types of questions at https://forum.freecodecamp.org/ .

Tip: when opening a new topic on the forum please give us some more info on what you are trying to do.

Thank you and have a nice day :smile:

[2021-07-18 17:45] #42925 closed

[2021-07-19 09:52] shahid1212 commented on #8438
replace shake with animate__shakeX like this
$(document).ready(function() {
  $("button").addClass("animated");
    $(".btn").addClass("animate__shakeX");
    $("#target1").addClass("btn-primary");
  });

[2021-07-19 13:01] ieahleen commented on #42890
Other challenge with same issue

https://www.freecodecamp.org/italian/learn/javascript-algorithms-and-data-structures/basic-javascript/introducing-else-statements

(reported here https://forum.freecodecamp.org/t/i-need-help-with-that-test/469960)

[2021-07-19 13:25] ojeytonwilliams commented on #42256
Hey everyone, I just wanted to make the warning a bit more visible. Any file that's not *just* used by the client will not be migrateable (yet), due to the lack of tooling mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/42892.  If a file is directly used by `gatsby-config`, `gatsby-node` or by anything outside of the `client` directory, then it will be used without compilation and

[2021-07-19 18:22] nhcarrigan commented on #42902
I have some concerns about the use of the numbering system to maintain the order of the superblocks in the file tree. Primarily, my concern is that it is entirely possible we want to add a superblock *between* two existing superblocks, which would mean we either:
- assign the next number in the list and create a disparity between the file tree and the rendered order
- assign the correct ordinal nu

[2021-07-19 19:13] moT01 commented on #42902
We will definitely need to put the relational database cert right after the front end libraries or data viz. That's right in the middle of the others. The future plan is to combine data viz and front end libraries, but I don't think that will happen before the relational databases is ready. So, it's going to be a problem soon. If we use the correct number for it, we would have to renumber all subs

[2021-07-19 19:29] nhcarrigan commented on #42902
I think that approach still leaves some room for issues in the future, though less likely.

Aside from the convenience of things being in order, I don't see an issue with removing the numbers - finding the superblock shouldn't be too difficult with them being in alphabetical order. The one nice-to-have with the number approach is it provides a clear outline on Crowdin for the order to translate th

[2021-07-19 19:41] Hamzaobi opened #42933 "https://www.freecodecamp.org/learn/information-security/"
**Affected page**
Add a link to the coding challenge with the problem.

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Add a clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. you can drag and drop, png, jpg, gif, etc. in this

[2021-07-19 19:46] ShaunSHamilton commented on #42933
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-07-19 19:46] #42933 closed

[2021-07-20 00:45] awu43 commented on #42900
@ShaunSHamilton I just tried implementing your solution, but then realized I didn't know how to test if it worked without sign in/user data. How should that be done?

[2021-07-20 01:32] moT01 commented on #42900
You should be able to log in - assuming the [LOCAL_MOCK_AUTH](https://replit.com/@moT01/boilerplate-arithmetic-formatter) is set to true in your .env file. Then you can submit some projects, many of them can just be a URL and don't have any requirements. I believe the responsive web design, front end libraries, and data visualization don't require passing tests. So you should be able to get a cert

[2021-07-20 02:58] moT01 opened #42937 "Motivational quote quotation marks not showing up"
Noticed this on a local build just now:

![Screen Shot 2021-07-19 at 9 51 27 PM](https://user-images.githubusercontent.com/20648924/126254906-987a6545-ac7a-4440-a64f-2c1eae717efa.png)

It's the quote on the `/learn` page. Not sure if it's something with my browser or machine - I've never noticed it before. Maybe I'll dig into it and see if I can find where the problem is.

[2021-07-20 03:05] moT01 opened #42938 "Potential i18n bug when renaming curriculum files"
A [recent PR of mine](https://github.com/freeCodeCamp/freeCodeCamp/pull/42885) renamed only the English version of a curriculum file. I was trying to `npm run develop` the site locally in Italian and got this:

<img width="569" alt="Screen Shot 2021-07-19 at 9 35 11 PM" src="https://user-images.githubusercontent.com/20648924/126255366-32ae2ebf-47e6-446e-819c-22af3c98b54f.png">

So my PR was in wit

[2021-07-20 05:07] mrvishalsharma commented on #42937
sir, I understand the problem but can you guide me the exact path from were i can view this problem.

[2021-07-20 06:09] Nirajn2311 commented on #42937
I couldn't reproduce this in either Chrome, Edge, Firefox or Safari.

[2021-07-20 08:03] awu43 commented on #42900
Turns out that somewhere along the line I broke the dev user on my machine. GitPod still works fine though, so it's been tested there.

[2021-07-20 08:50] Sembauke commented on #42937
Are you on the latest main?

[2021-07-20 09:22] MonikaPatelIT commented on #42937
Checked on live site and quotes are working for me. Tested on Chrome, Edge, Firefox and even of IE 11
![image](https://user-images.githubusercontent.com/9668906/126295707-5a73e579-1071-4ef6-83ed-52ca4807d095.png)

I think we should close this issue.

[2021-07-20 09:57] Nirajn2311 commented on #42937
Yup, I even checked through gitpod also.

[2021-07-20 10:15] Sembauke commented on #42937
@Nirajn2311, They do appear on the Italian version.

[2021-07-20 10:38] Nirajn2311 commented on #42937
Ahh I dint check the other languages.

[2021-07-20 10:52] raisedadead commented on #42937
Tom, I am fairly confident this is some encoding set locally to your browser/machine. Would you mind checking your "language and region", etc. or whatever their equivalent is on your machine(s)?

[2021-07-20 10:53] raisedadead commented on #42938
@nhcarrigan mind taking a look and coming up with some sort of playbook guidelines when we rename things. This is going to be a use case in a lot of the PRs.

[2021-07-20 11:00] Sembauke commented on #42937
It seems that this only appears on the Italian version of the freecodecamp website. Therefore I don't think it is something local.
check it out here live on the website: https://www.freecodecamp.dev/italian/learn

[2021-07-20 11:04] raisedadead commented on #42937
Life is simpler one google search away: https://italian.stackexchange.com/questions/69/should-one-prefer-or
@ieahleen what do we prefer? IMHO we leave it as is?

[2021-07-20 11:32] ieahleen commented on #42937
@raisedadead can leave as it is, in Italian those angular quotes (or guillemet as I just learned they are called) are commonly used - so much that I was not understanding what was wrong in the first image

[2021-07-20 11:42] #42937 closed

[2021-07-20 12:10] moT01 commented on #42937
Nice catch @Sembauke - I knew I had Italian running, but it didn't occur to me that it might be the issue.

[2021-07-20 13:05] #42900 closed

[2021-07-20 13:33] nhcarrigan commented on #42938
Yep - I'll get something put together and PR for the docs.

[2021-07-20 14:39] moT01 commented on #37166
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding. 🚽

[2021-07-20 14:39] #37166 closed

[2021-07-20 14:40] moT01 commented on #37434
bump @raisedadead

[2021-07-20 14:41] moT01 commented on #37612
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-20 14:41] #37612 closed

[2021-07-20 14:46] nhcarrigan commented on #37700
@alirezaghey,

Thank you for your interest in contributing - issues labelled with the `help wanted` tag are open for contribution and PRs are reviewed in the order they are received.

You are welcome to submit a PR that resolves this issue.

[2021-07-20 14:48] moT01 commented on #37868
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-20 14:48] #37868 closed

[2021-07-20 14:50] moT01 commented on #37944
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-20 14:50] #37944 closed

[2021-07-20 14:50] moT01 commented on #38009
Is this something we still want @ahmadabdolsaheb?

[2021-07-20 14:51] moT01 commented on #38024
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-20 14:51] #38024 closed

[2021-07-20 15:45] ShaunSHamilton commented on #42708
Closed in: https://github.com/freeCodeCamp/freeCodeCamp/pull/42944

[2021-07-20 15:45] #42708 closed

[2021-07-20 15:56] ShaunSHamilton opened #42946 "E2E Tests for Email-Sign-Up"
Largely, to prevent another #42708 we should add tests for the email sign up page.

This would involve either: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/tools/scripts/seed/seedAuthUser.js
a) Editing a user to have the `acceptedPrivacyTerms` be `false`
b) Creating a new test user with the same

---

An issue with the _help wanted_ or _first timers only_ label is open for contribution.

[2021-07-20 16:00] moT01 commented on #42915
I downloaded this version of firefox and cannot reproduce it either.

[2021-07-20 16:07] #38410 closed

[2021-07-20 16:29] raisedadead commented on #42915
Thanks for confirming.

[2021-07-20 16:29] #42915 closed

[2021-07-20 19:45] raisedadead opened #42951 "New languages in and long strings in nav menu"
**Affected page**
All pages on /learn (mainly Portuguese shows up the issue)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/portuguese/
2. Click on 'Menu'
4. The string for "Thanks for donating" is too large to fit.

**Expected behavior**

1. Need to figure out a scalable way of adding languages to the list.
2. The phrases on the menu should wrap.

**Scre

[2021-07-20 21:13] victor-duarte commented on #42256
@ojeytonwilliams, @Sembauke,

The files under ` /client/src/templates/Challenges/rechallenge/*` fall under the previous note.

[code]

After migrating `builders.js` and running `npm run test` the following was thrown:
[code]
The later (is outside client folder) ends up using from `builders.js`.

If any instructions are given on how to proceed will look into it. For the time being will stop migrati

[2021-07-20 23:58] ManuSquall commented on #42256
Hello world! Want to help too but don't figure out very well 😅; it's about updating js files to ts and make it work right?

[2021-07-21 00:03] ManuSquall commented on #42256
May i take ?
[code]

[2021-07-21 09:12] Sembauke commented on #42256
Hey @victor-duarte,

The file that is is looking for `builder.js`  appears to be here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/utils/build.js#L2

As Oliver said in the freecodecamp chat this file can not yet be migrated because of that.
After a solution is implemented for #42892 you may be able to migrate this file.

I am not sure about the other two

[2021-07-21 09:12] Sembauke commented on #42256
Sure I will ad you in!

[2021-07-21 17:50] AbhinavXT opened #42962 "Bookmark to save articles for future referance"
**Is your feature request related to a problem? Please describe.**
When I come across an article that I like and want to save for reading it in the future, I leave the tab open. I would like a way to save them like in dev.to site.

**Describe the solution you'd like**
I would like a way to save or bookmark articles that I like for future use.

**Describe alternatives you've considered**
I have tri

[2021-07-21 19:11] Sembauke commented on #42924
This does seem to appear on the freecodecamp.org website but I am unable to reproduce this locally.

[2021-07-21 19:18] ShaunSHamilton commented on #42924
I was able to reproduce this locally, when I tested 3 days ago. However, I did not get anywhere in terms of finding a fix.

[2021-07-21 19:29] Sembauke commented on #42924
I am able to reproduce it when I throttle my network connection in the dev tools somehow.

[2021-07-22 04:12] miyaliu666 opened #42966 "Create a Media Query - a Chinese user wrote right code but couldn't pass the test"
**Affected page**
https://chinese.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/create-a-media-query

**Your code**

[code]

**Expected behavior**
The code looked good and worked for me (MacOS, Chrome). As the user said, the first word (@media?) was not identified on his end, so he couldn't pass the test.

**System (please complete the following information):**
 - D

[2021-07-22 05:24] ieahleen commented on #42966
this is one of the challenges that would benefit from #42373 most

the code is correct and it passes, but there are often browser settings or extensions, or maybe an older browser version that interferes and then it doesn't pass

[2021-07-22 10:31] ShaunSHamilton commented on #42966
@ieahleen This challenge already makes use of the new CSSHelp function.

@miyaliu666 Are you able to try this on Safari? If it is going to fail anywhere, it would be there. Otherwise, as Ilenia mentioned, it sounds like an old browser version.

[2021-07-22 15:27] moT01 commented on #42966
I could not reproduce this on firefox or safari.

[2021-07-22 15:37] #38539 closed

[2021-07-22 15:52] moT01 commented on #42951
Five or six languages seems to be the max that can fix in there. 690px tall is about where the menu starts getting cut off. Which is larger than some older phones - iphone 6/7/8...
![Screen Shot 2021-07-22 at 10 39 57 AM](https://user-images.githubusercontent.com/20648924/126667652-c1165dfa-007e-41be-8cdd-059b045260e9.png)

So we are probably already passed the point where it's too many languages

[2021-07-22 16:18] ShaunSHamilton commented on #42951
It is nice and all to have quick access to something like the language setting, but, seeing as it is one of those settings a Camper is expected to set once and never touch again, why not pop it on the `/settings` page (remove it from the quick-access menu?

[2021-07-22 16:24] moT01 commented on #42951
That's not a bad thought @ShaunSHamilton - I worry that if we do that, a camper may not know that the site is available in other languages. Perhaps that, in conjunction with an `Other Languages` button in the menu that takes you to the settings page. Although, you need to sign in to see the settings - so that may not work as we have it.

[2021-07-22 16:25] ShaunSHamilton opened #42974 "Portuguese Translation Breaks Challenge"
File: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-undefined-value-returned-from-a-function.md

Forum post: https://forum.freecodecamp.org/t/what-is-wrong-could-someone-help-me-please/470438

**Issue**
Test has been converted (presumably by Crowdin) to `pre` tags:
[code]

@nhcarri

[2021-07-22 17:23] mshaheel commented on #9614
###**This_Snippets_seems_great**

// Setup
var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]
    },
    {
        "firstName": "Harry",
        "lastName": "Potter",
        "number": "0994372684",
        "likes": ["Hogwarts", "Magic", "Hagrid"]
    },
    {
        "firstName":

[2021-07-22 17:53] nhcarrigan commented on #42974
This is odd. The only broken language for this file appears to be Portuguese, and I'm not entirely sure why.
It might have been a hiccup in their markdown parser.

[2021-07-22 19:11] #42974 closed

[2021-07-22 19:44] QuincyLarson opened #42977 "/news author pages are not validating correctly on Twitter"
**Describe the bug**
freeCodeCamp author pages are not showing up correctly with large Twitter cards when people share them.

**To Reproduce**
You can take an author card URL like this one: https://www.freecodecamp.org/news/author/kolade/

And plug it into Twitter's validator and see that it does not create a large Twitter card. @ahmadabdolsaheb @scissorsneedfoodtoo I think this is just a meta pro

[2021-07-23 09:59] ahmadabdolsaheb commented on #38009
Thanks for bringing this to my attention. We have gone in another direction at the movement, but we might consider this feature in the future.

[2021-07-23 09:59] #38009 closed

[2021-07-23 11:51] ahmadabdolsaheb commented on #40403
We should not disable the option for the profile to private and I think since we don't allow users to see their profile when their profile is private, we should not let users see their certification when their the cert's or profile's (cert viewing pre-req) privacy is on for consistency. does that make sense or is it too strict?

[2021-07-23 12:20] ahmadabdolsaheb commented on #16445
Since we are moving away from custom css and leaning towards our component libraries's tailwind for most of our styling, adding CSS style guide would not be necessary; However, I added a note to add a CSS linter to our component library which should address this issue.

I will go ahead and close this issue accordingly. Let me know if this issue has been closed by mistake or if it needs further dis

[2021-07-23 12:20] #16445 closed

[2021-07-23 14:02] Dhruvrana8 commented on #36414
The Solution is :
![image](https://user-images.githubusercontent.com/64273345/126793240-e5882108-0655-4c3a-ad3a-7e8d84066d0a.png)

[2021-07-23 18:03] ahmadabdolsaheb commented on #42977
Kris's pr takes care of this.

[2021-07-23 18:03] #42977 closed

[2021-07-23 18:59] ahmadabdolsaheb commented on #42951
Here is what I am thinking: the message should say either "donate" or "thank you" and both should be links to the donate page. if the user is donating they will be seeing a more detailed thank you message on the donate page that is also a CTA for an additional donation.

Here is what gmail has which is pretty obvious what it does:
<img width="192" alt="Screen Shot 2021-07-23 at 9 44 51 PM" src="ht

[2021-07-24 00:43] NikIvan commented on #39595
Hey, guys!
I just finished this project and was stuck with same problem for about an hour.
The instructions is still unclear.

Also, as @SaintPeter mentioned in this message https://github.com/freeCodeCamp/freeCodeCamp/issues/39595#issuecomment-693634106 there is inconsistency between logic of registering user using our app registration form with field `username` and registration via GitHub OAuth

[2021-07-24 07:06] dottorgross opened #42991 "Link to Forum on italian Menu"
**Affected page**
https://www.freecodecamp.org/italian/

**To Reproduce**
Steps to reproduce the behavior:

1. Click on 'Menu'
2. Click on 'Forum'
3. See error

**Expected behavior**
It should open
https://forum.freecodecamp.org/c/italiano/535

**System (please complete the following information):**
 - Device: all
 - OS: all
 - Browser: all
 - Version: all

[2021-07-24 11:04] gikf commented on #42991
The same issue is for Portuguese.

[2021-07-25 11:44] lasjorg opened #43004 "Repl backend starter projects run command broken"
Edit: Seems to be back to normal again.

Edit2: I'm still getting some odd behavior. This might only affect projects started when the issue was there.

If I run the project with the server.js open it fails, if I run it with the .replit file open it works. If I switch back to server.js it still works?

https://replit.com/@lasjorg/boilerplate-mongomongoose#server.js

https://replit.com/@lasjorg/boil

[2021-07-25 12:00] gikf commented on #43004
No issues with it for me, I've tried just these two:
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice
https://www.freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose

[2021-07-25 12:16] lasjorg opened #43006 "Babel transpiles out syntax errors?"
Just a question based on this [forum post](https://forum.freecodecamp.org/t/object-property-with-bracket-and-dot-notation-test-failure/470688). Is that just an edge case or what?

[2021-07-25 12:20] lasjorg commented on #43004
Well, that didn't last long. It works again for me as well. Must have just been some temporary issue. It was definitely broken before in all the projects I tested.

[2021-07-25 12:41] #42924 closed

[2021-07-25 12:42] Sembauke commented on #42890
@ieahleen Would you like to try again to see if the issue is still valid?

[2021-07-25 13:26] ShaunSHamilton commented on #43004
@lasjorg I have experienced this issue before, and mentioned it to the Replit team. This was the beginning of last year.

The only fix I have found is to re-clone the boilerplate (create a new REPL), or rename the `server.js` file to `index.js`. Unfortunately, this does not appear to be something we can reliably control.

I suggest closing this issue, as, until discovered otherwise, there is nothi