[2021-01-15 14:08] Abidkarim1010 opened #40707 "Use Rest Parameter with Function Parameter Final Test is Unclear"
While solving a problem on the free code camp of JavaScript ES6, I stuck to an error. Which was about the rest parameter.
The problem says to make a sum function which should take a rest parameter and return the sum of the parameters. I did the job but got an error about to use the args as the rest parameter, instead of using the args as the rest parameter. I called for help and reported the bug.

[2021-01-15 14:27] weeisunthi-gmail commented on #39364
X11@gibhub/weeisunthi-.com

[2021-01-15 14:29] ShaunSHamilton commented on #40707
For those reading, here is the related forum post: https://forum.freecodecamp.org/t/rest-paramenters-and-es6/440776

This is the code, the author tried:
[code]

My recommendation is, seeing as this is the ES6 section, the last test of this file: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-rest-param

[2021-01-15 15:42] nhcarrigan commented on #40707
I'd be okay with that description, or with adding our "Don't touch this" comments to the seed:

[code]

That was the source of the camper's bug, correct? Changing the outer function from an arrow to `function` syntax?

[2021-01-15 16:42] ShaunSHamilton commented on #40707
@nhcarrigan Yes. Unfortunately, the camper is required to change the `(x,y,z)` of the function. So, the _change code below this line_ will not work in this case.

[2021-01-15 16:43] nhcarrigan commented on #40707
Ah, right - okay. I'm content with your proposal then. 🙂

[2021-01-15 16:50] ShaunSHamilton commented on #40707
I have opened this issue up for _first timers only_. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contributing, be sure to join us on the [c

[2021-01-15 19:47] nhcarrigan opened #40710 "Remove Function Calls from Challenge Seed"
The following challenges have an example function call in the seed code. These function calls should be removed and the related tests should be clarified to reflect the call instead.

- https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-bubble-sort
- https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-merge-sort
- https://www.freecodecamp.org/le

[2021-01-15 20:25] ne0crank commented on #39697
if it's cool with everyone, I'll take a stab. Just to confirm, we are wanting only to add the .toLowerCase() (via udpateMyUsername function) in the same area where the other pre-validation checks are performed on the username, correct?

[2021-01-15 23:53] MuriloMarquesSantos commented on #40710
Hi, nhcarrigan. I'd like to try to help and solve it. I'm still learning about the project so I would like to ask a question so I can understand the issue better.

There is a function call in the file (example: **implement-bubble-sort.md**)
![image](https://user-images.githubusercontent.com/18178861/104789249-395a3200-5773-11eb-82d4-e50264e659bc.png)

And it should be removed from the seed section

[2021-01-16 00:01] nhcarrigan commented on #40710
That is correct, yes - this same change should be completed on the four files I've linked.

I would, however, recommend holding off on working on this until we receive additional consensus that this is the best way to proceed. 🙂

If you run in to any questions, feel free to review our [contributing documentation](https://contribute.freecodecamp.org) or ask in our [contributors chat](https://chat.f

[2021-01-16 00:27] MuriloMarquesSantos commented on #40710
Sounds great!! Thanks for the fast response. I will wait until further notice.

[2021-01-16 05:59] nhcarrigan opened #40714 "Improve wording in Create A Form Element"
There are a couple of wording changes needed on the [Create a Form Element](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.md) lesson.

In the description section,
[code]
should be changed to
[code]

In the instructions section,
[code]
needs backticks around "input"
[code]

[2021-01-16 07:44] ieahleen opened #40715 "Remove spaces from beginning and end passed with result as array instead of string"
**Describe your problem and how to reproduce it:**
the challenge accepts
[code]

in this case though `result` has value of:
[code]

looking at the test, it is asserted as `assert(result == 'Hello, World!');`, with non strict equality
I suggest a change here

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expression

[2021-01-16 09:11] #40523 closed

[2021-01-16 09:58] raisedadead opened #40718 "Enable Ghost's Posts Scheduling"
TBD: Add details

[2021-01-16 19:25] #40714 closed

[2021-01-16 19:57] #40684 closed

[2021-01-16 19:58] #40413 closed

[2021-01-16 20:00] #40645 closed

[2021-01-17 03:46] #38451 closed

[2021-01-17 03:47] #39743 closed

[2021-01-17 03:47] #39650 closed

[2021-01-17 05:37] chaitanyasjoshi opened #40724 "Change the array used in test or add another case"
**Describe your problem and how to reproduce it:**
Below mentioned challenge can be passed using simple .sort() function instead of using .sort((a,b) => a-b)

**Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array

**Possible solutions**
1. Change the existi

[2021-01-17 07:58] flemmingbond21 commented on #39582
my code:
myapp.js:
var express = require('express');
var app = express();
const helmet = require('helmet');
package.json:
{
	"name": "fcc-infosec-challenges",
	"version": "0.0.1",
	"description": "fcc backend boilerplate",
	"main": "server.js",
	"scripts": {
		"start": "node myApp.js"
	},
	"dependencies": {
		"express": "^4.14.0",
		"helmet": "3.21.3"
	},
	"keywords": [
		"node",
		"hyperdev",
		"

[2021-01-17 12:21] RandellDawson commented on #39582
@flemmingbond21 As @ShaunSHamilton mentioned, please use [our forum](https://forum.freecodecamp.org) for questions that involve debugging challenge or project solutions.  Thank you.

[2021-01-17 15:33] HristijanGjorgjioski commented on #40724
https://user-images.githubusercontent.com/76740146/104847614-6f1d2900-58e1-11eb-8bbc-a82da8ddaa34.jpg
[return-a-sorted-array-without-changing-the-original-array.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/5826328/return-a-sorted-array-without-changing-the-original-array.txt)
Here is my simple solution to this problem. I just use ES6 syntax using spread. **return [...arr].sort();** and

[2021-01-18 11:35] adilshehzad786 commented on #13965
.smaller-image
  {
    width: 100px;

  }
 <img class= "smaller-image" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">

[2021-01-18 15:51] ieahleen commented on #40724
I think this is a change that may be necessary, there often cases where users are stumped in following lessons because they use `sort` without an argument and can't understand why the numbers are not ordered from lowest to highest

but I will wait for others to comment

[2021-01-18 17:41] jb-larriviere commented on #40724
The risks of using `sort` without a callback function are pretty well covered in the previous challenge :
[https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-so

[2021-01-18 18:08] jb-larriviere opened #40738 "Concept mentionned when its not been covered in previous challenges"
**Describe your problem and how to reproduce it:**
Hi everyone,
In the challenge linked below, it is mentionned :

I have seen challenges about if/else, && and the ternary operator but not about null.

After looking for some documentation, it appears that it is still a valid method for hiding a component.

**Potential solutions :**

- I think a challenge could be added to introduce this concept.
-

[2021-01-19 00:01] ShaunSHamilton commented on #40738
Thank you, for taking the time to open this issue.

Just to mention:
- No more challenges are being added to this version of the curriculum
- `null` is mentioned (albeit not quite the same way) here: https://www.freecodecamp.org/learn/front-end-libraries/react/write-a-react-component-from-scratch

[2021-01-19 20:51] ShaunSHamilton commented on #39697
Hey @ne0crank ,

From what I have understood in this discussion, two things need to be done:
**UI:** Camper needs to be shown a message warning them, if they try to input non-accepted characters (uppercase)
**API:** Input is validated to be only _accepted characters_, before being allowed to be sent to the DB.

[2021-01-20 03:44] #40598 closed

[2021-01-20 10:29] ahmadabdolsaheb commented on #40718
@scissorsneedfoodtoo, I am curious to hear your findings about this.

[2021-01-20 23:12] RandellDawson opened #40749 "Curriculum challenges with external links - what to do with them?"
In a recent internal discussion, the team wanted to understand how many curriculum challenges currently have external links (outside of freeCodeCamp) where we may be relying on the external link's information to teach something needed to solve the challenge.  The discussion came about after a translator asked if an external ink could be changed to an external site with relevant information written

[2021-01-20 23:34] nhcarrigan commented on #40749
Personally, I'm a fan of internalising this information as much as possible - either in the challenge description, or as a news article for longer content.

This'll also help ensure that anything that changes (such as documentation updates that include breaking changes) won't affect our content.

[2021-01-21 03:39] #35765 closed

[2021-01-21 04:50] #40277 closed

[2021-01-21 04:51] #40307 closed

[2021-01-21 05:00] #40410 closed

[2021-01-21 05:02] #40412 closed

[2021-01-21 05:03] #40489 closed

[2021-01-21 05:05] #40533 closed

[2021-01-21 05:06] #40582 closed

[2021-01-21 05:19] #40425 closed

[2021-01-21 05:23] #40036 closed

[2021-01-21 05:37] leungkimho commented on #40749
I've been doing a random Rosetta Code challenge almost every day for the last few weeks and can provide some insight.

For the Rosetta Code challenges with external links, they've been hit and miss.  I had one just yesterday ([sum of a series](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sum-of-a-series.md)) where the

[2021-01-21 05:53] #40376 closed

[2021-01-21 06:11] RandellDawson commented on #40534
This can be closed as we no longer use annotation before uploading the files to Crowdin.

[2021-01-21 06:11] #40534 closed

[2021-01-21 10:45] ahmadabdolsaheb commented on #40702
There is a broad spectrum of tests when it comes to payment providers (Stripe, Paypal) ranging from mock apis to e2e cypress tests.

It seem like they don't mind us talking to their sandbox api for regular testing ([Paypal testing docs](https://developer.paypal.com/docs/business/test-and-go-live/))
And even if we do it more frequently than we should there are rate limiting in place([Stripe testing

[2021-01-21 14:11] ieahleen commented on #40749
I think it depends

if it's about programming concepts it makes sense to incorporate them in the challenge or link to news articles

If it's about context, for example the golf challenge, having a news article about golf is a bit out of scope, there a link to an encyclopedic article from a site in the target language (like https://zh.wikipedia.org/wiki/%E9%AB%98%E7%88%BE%E5%A4%AB%E7%90%83 , I hope

[2021-01-21 15:41] moT01 commented on #40749
They will probably need to be handled on a case by case basis. But I think the priority should be to:

1. If the info isn't necessary to complete the challenge, then I would just remove the link or hyperlink - this might include a slight rewording or removal of a sentence or two.
1. If the info seems necessary to complete the challenge - Try to bring the necessary info into the challenge and remov

[2021-01-21 15:53] RandellDawson commented on #40749
@moT01 I only included Rosetta Code challenges that had links which were not links back to the Rosetta Code site.  The ones listed mainly have links to Wikipedia.

[2021-01-21 16:06] moT01 commented on #40749
I didn't notice that - I vote to handle those like the rest then.

So we will just keep the links then that go to the rosetta site? I'm fine with that.

[2021-01-21 16:38] RandellDawson commented on #39765
@santimirandarp Any thoughts on my last suggestion above?

[2021-01-21 16:44] #40470 closed

[2021-01-21 16:54] santimirandarp commented on #39765
Looks good to me. But since repl.it is a bit unpredictable, I'd test there are no troubles if the user actually includes the package, I'll test it now.

[2021-01-21 17:09] #40521 closed

[2021-01-21 18:12] #40316 closed

[2021-01-21 18:32] arthow4n commented on #40521
Hey folks 👋 Nothing special but I just want to say thank you for rolling my sites away. Glad that they helped some folks in the past although I still don't know why they got picked as demo, but those 5 years old sites of mine were just too unmaintained for 2021 😅... The sites were down because Heroku discontinued their free MongoDB add-on which was used by the apps and I haven't got the time for f

[2021-01-21 18:52] #40682 closed

[2021-01-21 21:35] #35700 closed

[2021-01-21 22:15] ShaunSHamilton commented on #39765
Just to mention/remention it: On the forum, it comes up surprisingly often that campers get confused that a `.env` file needs to be created. So, could we change @RandellDawson suggestion to include this:

[2021-01-22 02:26] #40675 closed

[2021-01-22 10:42] dark-magic opened #40759 "More in-depth functional programming course"
**Is your feature request related to a problem? Please describe.**
The functional programming course of the curriculum seems to focus mostly on using functions as first order citizens. While this and array functions like, `forEach`, `map`, and `reduce` are a great place to start for functional programming, this is not all there is to functional programming. Using recursion to reduce state, using i

[2021-01-22 11:06] ieahleen commented on #40759
considering tbe developing of curriculum 7.0 I don't think the current one is going do be overhauled like that. Consider take a look at the progress for 7.0 and contribute/give feedback there

https://github.com/freeCodeCamp/CurriculumExpansion

[2021-01-22 11:07] dark-magic commented on #40759
Good to know, will have a look at it!

[2021-01-22 11:23] m0n411111 commented on #14325
HI. I just had this issue and the solution was to remove my uBlock Origin extension from the browser. Hope this helps anyone else.

[2021-01-22 11:29] m0n411111 commented on #10749
For anyone having issue with submitting the challenge in Basic CSS: Use a CSS Class to Style an Element, I just resolved this same issue by removing the uBlock Origin extension on my browser. Maybe this will help someone else as well.

[2021-01-22 11:48] najmieh opened #40760 "This lesson has faulty instruction"
**Describe your problem and how to reproduce it:**

The instruction says " Skew the element with the id of bottom by 24 degrees along the X-axis by using the transform property."
while in the body of code the red color is applied to the top div. The bottom div doesn't have color.
The instruction should instead say to apply Skew to the top div not the bottom.
the instruction should change to see th

[2021-01-22 11:53] #40760 closed

[2021-01-22 11:54] najmieh commented on #40760
it is correct. i made a mistake

[2021-01-22 12:50] dark-magic commented on #40759
[The code for curriculum 7](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/functional-programming-spreadsheet) looks more like actual functional programming. Great to see improvements being made explaining the fundamentals of functional programming instead of just using functions.

[2021-01-22 14:45] diogo-guimaraes-repo commented on #40576
changing the panda version worked for me as well.

[2021-01-22 15:27] MikeV2000 commented on #40749
I definitely agree with @moT01 suggestion. Considering that the external resource changes or is removed completely you would have to edit the challenge again anyway. So keeping the links as a reference could just be a way of stalling the problem.

[2021-01-22 16:26] ojeytonwilliams commented on #40702
Thanks Ahmad, that covers it nicely.  The specifics of how we want to test the services we have to work out, but the broad plan sounds perfect.

[2021-01-23 13:37] ahmadabdolsaheb opened #41070 "Player does not stop on mobile"
Although the tapping the play button starts the music, taping it again does not stop the music.

ios: 14.3
browser: 87.0.4280.77

[2021-01-23 14:55] jb-larriviere commented on #40738
Thanks for your answer, I agree that `null` is mentionned but it doesn't explain how it can be used for conditionnal rendering.

I was thinking of adding something like this

to the [if/else challenge](https://www.freecodecamp.org/learn/front-end-libraries/react/render-with-an-if-else-condition) but I'm afraid it could be confusing, as you're supposed to hide the `h1` in this challenge, and `null`

[2021-01-23 21:38] gikf opened #40763 "Rosetta Code - Zeckendorf number representation - test doesn't match task in challenge description"
**Describe your problem and how to reproduce it:**
Challenge description asks for an **array of the first n** Zeckendorf number representations in order. On the other hand second test expects function to return just a single representation of **number n**:
[code]
And those variables from `--after-user-code--`:
[code]
Description of the relevant test is very general and it wouldn't be affected when

[2021-01-23 22:20] moT01 opened #40764 "Rapid settings changes causes some issues"
Go to your settings and try to rapidly change settings - they get stuck...

![Jan-23-2021 16-15-01](https://user-images.githubusercontent.com/20648924/105615430-2d372b80-5d96-11eb-8a2f-4c6362720eec.gif)

I was able to sort of reproduce this on production, but it wasn't nearly as severe or as easy. I got a button or two to get stuck after a few tries.

On staging happens every time if you try.

[2021-01-23 22:44] moT01 opened #40765 "Private names show up on certificates"
If I set my name to private on my settings page, it still shows up on certificates.

We could perhaps do like we do for some of the other settings and disable certificates when a name is private.

Or perhaps just use a generic or blank name on the certificate - this doesn't sound very good though - I vote for the first option. It's not that big of a problem, but it seems like we shouldn't show a u

[2021-01-24 03:31] Durbatuluk1701 commented on #40763
Is this asking for the 2nd test description to be more specific?

If so would something along the lines of 'Your `zeckendorf` function should return the an array of the first `n` zeckendorf numbers' be sufficient?

[2021-01-24 04:08] Durbatuluk1701 commented on #40764
Just wanted to leave my notes here, I have been able to reproduce this on Production and Dev, but unable to on GitPod.

[2021-01-24 05:44] gikf commented on #40763
It can be partially about 2nd test description - yes, but the main issue is to clarify challenge goal. Is it - as challenge description say - returning array of the first n or is it - as what test actually checks - returning just the single n number.

[2021-01-24 10:55] Ismailtlem commented on #40724
In order to ensure that the callback function is provided, a test case with the array [140000, 104, 99] can also be added

[2021-01-24 13:45] ishansinghal9810 commented on #40527
Any Help from my side ?

[2021-01-24 16:30] #40707 closed

[2021-01-24 18:25] RandellDawson commented on #40527
@scissorsneedfoodtoo I just updated the `Math.random()` part of this article, but the entire `filter` section is just poorly written from the start.  There is no mention that the `filter` method's callback needs to return `true` for the elements that are to be kept.  Also, as @dym-sh first reported, the following sentence is just wrong.

What do we do in situations like this?  Do you have the auth

[2021-01-24 18:43] QuincyLarson opened #40772 "Ability to sign up for email list directly"
Currently if you visit https://www.freecodecamp.org/email-sign-up/ it looks as though you can sign up for the email list. But signing up here will trigger an error message.

Here is how I propose we remedy this:

If you attempt to sign up for the mailing list and you are not signed in, you are asked to sign in.

But since https://www.freecodecamp.org/email-sign-up/ is the URL we normally send new

[2021-01-24 18:48] QuincyLarson commented on #37662
I haven't heard any complaints about this for nearly a year, and I tested this functionality myself (even when not logged in) and I am unable to reproduce this issue. So I am closing this issue.

[2021-01-24 18:48] #37662 closed

[2021-01-24 18:58] QuincyLarson opened #40773 "Update unsubscribe functionality for edge case"
Every week I get maybe 5 or 10 emails from email blast recipients who say they can't successfully unsubscribe from the email list, and I have to manually go into the database and do this for them.

Some people have more than one freeCodeCamp account associated with the same email address. This is due to an old bug that I think we've fixed. But there are still a lot of accounts in the database like

[2021-01-25 01:20] arevaldez commented on #40772
@QuincyLarson Just for some clarification.

Are you wanting the **_Yes_** button to direct the new user to the signup/login page? And in the background, subscribe the user to the weekly email (along with the notification).

Also, what is your desired action for the **_No_** button? It seems to be giving the same error.

[2021-01-25 09:20] scissorsneedfoodtoo commented on #40527
Thanks for taking a look and fixing part of the article, @RandellDawson.

I think in cases like this it's better to reach out to the original author to fix all these issues. If they can't update the article for some reason, then we can look at rewriting it or redirecting traffic to a different article.

[2021-01-25 09:35] scissorsneedfoodtoo commented on #40718
Hey @ahmadabdolsaheb, sorry for the delay.

As far as I can tell this is a simple permissions issue. Not sure exactly when they cropped up, but I got this error while trying to schedule one of Abbey's posts:

![ghost-scheduled-post-error](https://user-images.githubusercontent.com/2051070/105686374-8049e380-5f3a-11eb-809c-14023aee6e4c.png)

When I took a look, it seems like the directory and folder

[2021-01-25 10:33] ojeytonwilliams commented on #40764
Thanks @Durbatuluk1701, it's interesting that GitPod doesn't show this, since I could see it locally and those should be similar environments.

It looks like there are a couple of problems here.  First being that we send all the flags back to the server, which means that later requests could overwrite earlier ones.  Secondly there's obviously an issue with the front end, which should not get stuck

[2021-01-26 04:23] Shubham-Samanta commented on #40749
I agree with @nhcarrigan all information should be internalized. It will be a fuzz at the beginning but  will be very helpful in the long run as it will not disrupt the user experience

[2021-01-26 06:18] Moseschand003 commented on #38540
Still there is a green logo in auth.freecodecamp.org.

[2021-01-26 10:05] ojeytonwilliams commented on #38540
Hi @Moseschand003, thanks for the offer of help.  The auth pages are stored here: https://github.com/freeCodeCamp/auth0-templates

In that repo the `org-tenant` and `dev-tenant` branches contain the code for auth.freecodecamp.org and auth.freecodecamp.dev, so I would start by looking here: https://github.com/freeCodeCamp/auth0-templates/tree/org-tenant

[2021-01-26 10:16] ojeytonwilliams commented on #40765
I'd say either disable them or use the username, since that's still public.  I think it would be fine to have

moT01
has successfully completed...

/cc @QuincyLarson

[2021-01-26 13:27] ahmadabdolsaheb commented on #40596
closed by #40630

[2021-01-26 13:27] #40596 closed

[2021-01-26 14:29] ShaunSHamilton commented on #40738
I think something could be done about what you mentioned. My thoughts are:
- Nothing should be added to: [Render Conditionally from Props](https://www.freecodecamp.org/learn/front-end-libraries/react/render-conditionally-from-props), because it is already quite a _wall-of-text_
- There are very few instructions within [Use && For a More Concise Conditional](https://www.freecodecamp.org/learn/front

[2021-01-26 15:37] gikf commented on #40055
Some more regarding the issue.

[Sample soution](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/knights-tour.md#--solutions--) giving incorrect answers is based on the C version from the original [Rosetta Code site](http://rosettacode.org/wiki/Knight's_tour#C). That version however, as it is in the original challenge, is

[2021-01-26 16:08] Porphyrogennitos opened #40805 "Add a display: block;"
So [here](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/make-an-image-responsive) we learn how to make an image, responsive.

[Here](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page) and specifically in User Story 8, it says that I must make my image responsive. OK, we had a tutorial so I know h

[2021-01-26 17:01] AbbeyRenn commented on #40527
Thank you @dym-sh @RandellDawson @scissorsneedfoodtoo I've emailed the author so he can make the remaining corrections 👍

[2021-01-26 19:10] abmincodecreations commented on #40805
can u describe with relevant links

[2021-01-26 23:14] ShaunSHamilton commented on #37615
Just to let you know my thoughts on resolving this:
- There appears to be some ground-work expected to solve this: https://github.com/freeCodeCamp/freeCodeCamp/blob/4f4622dd212f32c8118413dede1a9199099ff9a0/client/src/redux/index.js#L139-L140

The actions have not been added to the reducer, but are defined, and are called here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/4f4622dd212f32c811841

[2021-01-27 07:28] scissorsneedfoodtoo commented on #40527
The author made some updates and I worked on some additional formatting and wording issues.

Thanks for reporting this @dym-sh. Please let us know if you notice anything else in this or other articles.

[2021-01-27 07:28] #40527 closed

[2021-01-27 07:45] ahmadabdolsaheb commented on #40718
If it is an issue with how ghost is handling internal keys, it might worth raising the issue with ghost as well.

[2021-01-27 10:47] ahmadabdolsaheb commented on #37615
I think you are in the right track. We just need to make sure that when something fails in the backend, the info is communicated with the client and the client displays errors properly.

There is some groundwork, and it seems like the client is notified about the error, but the user is navigated to the next challenge. (that should not happen)

[2021-01-27 15:25] moT01 opened #40808 "Search bar disappears from the nav"
On freecodecamp.org/news, the search bar for searching articles disappears at a smaller width. How can people search?

![Jan-27-2021 09-18-30](https://user-images.githubusercontent.com/20648924/106012259-daed5780-6080-11eb-9d02-10c1b1cddf1f.gif)

There's [some nav updates for the main website in the works here.](https://github.com/freeCodeCamp/freeCodeCamp/pull/40709) - maybe for a reference or so

[2021-01-27 15:37] soumalyatheking22012001 commented on #40772
I think at first the link is broken for both **YES** and **NO** button.
![image](https://user-images.githubusercontent.com/59192460/106014394-757e8280-60e3-11eb-8c34-62607935d433.png)
And you are also correct that in client side it needs some modifications to enhance user experience. I can do the client side part

[2021-01-27 15:37] soumalyatheking22012001 commented on #40772
You can assign the client side work to me

[2021-01-27 16:11] ieahleen commented on #40805
the errors tell you what you need to change

also it is highly suggested that you use the Read-Search-Ask method

you will find other requirements to meet that where not present in the previous challenges and you will need to use Read-Search-Ask method and read carefully the errors

[2021-01-27 17:42] RandellDawson commented on #40805
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2021-01-27 17:42] #40805 closed

[2021-01-27 18:28] hernandoagf opened #40810 "Correct syntax in the code example"
**Describe your problem and how to reproduce it:**
There's a syntax error in the code example in which the string is closed before it ends.

Currently:
[code]

Correct:
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness

**Tell us about your browser and operating system:**
N/A

**If p

[2021-01-27 18:58] ShaunSHamilton commented on #40805
A bit of context for this issue:

I followed the discussion on the Discord server, and believe that is where this came from.

The main points are:
- The Tribute Page project expects an image to be responsive
  - The tests expect the image to have `display: block`
- The Camper is not specifically taught to use `display: block` _as the way to make an image responsive_
- Therefore, the Camper relies

[2021-01-27 19:03] #40810 closed

[2021-01-27 19:38] abdurrahimkhan opened #40812 "Regular Expression: Match anything with Wildcard Period Task"
**Describe your problem and how to reproduce it:**
The task is:
Complete the regex unRegex so that it matches the strings "run", "sun", "fun", "pun", "nun", and "bun". Your regex should use the wildcard character.
// Code Section:
Now the correct code is:
***
let exampleStr = "Let's have fun with regualr expressions!";
let unRegex = /un./;
let result = unRegex.test(exampleStr);
***
Now I tried the

[2021-01-28 00:25] RandellDawson commented on #40812
It should not show an error nor should the tests fail because of how the tests are written.   You have stumbled upon an edge case in the tests.  The tests assume you follow the instruction of the comment `// Change this line`.  I supposed we should have put the comment `Only change this line`.

[2021-01-28 01:22] nhcarrigan commented on #40812
`Only change this line` isn't in our comment dictionary, though we could add it I believe

[2021-01-28 01:36] PaulWM556 commented on #38501
Hello,
I am having the same issue with the previous question about using id="main" and when using <div id="main"> the question still arises.  So, is there something along with the coding for why I am questioned about id="main"?  Thank you.

[2021-01-28 08:48] raisedadead commented on #40588
I believe the infra is already in place, as for translating the articles in-house did we decide on the strategy, if none is available we could always use the internal Trello?

[2021-01-28 09:02] raisedadead commented on #40808
@ahmadabdolsaheb can you confirm the behaviour.

[2021-01-28 09:06] raisedadead commented on #40765
The certificates should fallback to username when a name is not available. In practice we should disable them because of lack of transparency on the user's part, but I think using the username is just as fine.

[2021-01-28 09:07] raisedadead commented on #40764
We need a little bit of debouncing here (not on the UI) with the requests getting sent to mitigate the rapid clicking issue.

[2021-01-28 09:10] raisedadead commented on #40773
I do intend to separate the email (sign-up, subscribe & unsubscribe) as a dedicated micro-service of its own. If this can possibly wait to be in tandem with the Loopback migration, we could strike a lot of issues with a refactor including the duplicate accounts issue.

[2021-01-28 09:12] raisedadead opened #40815 "Navbar pre-loading animation"
The navbar has a pre-loading animation on our production, the upcoming new navigation needs to implement this as well.

/cc @nhcarrigan and @moT01

[2021-01-28 09:15] raisedadead opened #40816 "Add Crowdin setup for the UI strings"
Need to add/updated the Crowdin setup for the UI strings

[2021-01-28 09:16] raisedadead commented on #40816
@RandellDawson would you be fine with taking this up?

[2021-01-28 10:25] raisedadead opened #40817 "Switching to a path from a language is broken"
Switching from the English version for a page to Chinese and Espanol is working, but going back is broken.

[2021-01-28 10:50] ahmadabdolsaheb commented on #40808
Yes, that is correct as we removed the menu button in favor of a single donate button.

I agree that we should reincorporate the menu and and have cookie based donation prompts in addition to/ instead of the  he current donation nav button.

@QuincyLarson how would you like us to proceed?

[2021-01-28 11:32] ahmadabdolsaheb opened #40819 "navbar does not show donating message for donors"
<img width="238" alt="Screen Shot 2021-01-28 at 1 37 05 PM 2" src="https://user-images.githubusercontent.com/4591597/106132831-8081f300-6175-11eb-826d-87c45886bcd7.png">

/cc @nhcarrigan and @moT01

[2021-01-28 11:42] ahmadabdolsaheb opened #40820 "Menu button covers logo on small screens when user is not signed in"
<img width="245" alt="Screen Shot 2021-01-28 at 1 36 32 PM" src="https://user-images.githubusercontent.com/4591597/106133920-efac1700-6176-11eb-8d19-03f0357b0eee.png">

/cc @nhcarrigan and @moT01

[2021-01-28 13:13] ahmadabdolsaheb opened #40821 "Navbar UI improvements"
This is an issue to discuss general improvements to the navigation.

- The logo and the search bar are is being set absolutely in certain scenarios ( width ). We should use flexbox to make the code more maintainable.

- To save real-estate in small screens the menu item could be simplified to a burger menu in small screens
- To improve visual consistency the sign up button could have a similar pad

[2021-01-28 13:16] ahmadabdolsaheb commented on #39179
Most of the objectives mentioned in this pr have been met.

[2021-01-28 13:16] #39179 closed

[2021-01-28 13:40] neeraj-here commented on #40820
Hello, Ahmad! I want to mention that interface looks like this on my phone's screen:
![WhatsApp Image 2021-01-28 at 19 09 01](https://user-images.githubusercontent.com/64999816/106146203-67d90380-619c-11eb-97b9-03959040b9a7.jpeg)

[2021-01-28 15:08] moT01 commented on #40820
How small is that screen @ahmadabdolsaheb? It should work down to 350px wide or so before that happens - which is smaller than most phones. Gets tough to fit it all in there. Curious if you have any suggestions? We could shrink the buttons, which might make them smaller than lighthouse recommends for being able to touch on phones - or just use the fcc logo without the text - or move the sign in bu

[2021-01-28 16:40] raisedadead opened #40825 "Make autoscroll opt-in"
We should make the auto-scroll to current challenge on the cert pages as an opt-in (via user settings). This should be off by default.

At the moment for a new user it can be overwhelming and annoying when they are browsing around and trying to read through the intro for the certs.

Once they have some familiarity, they should be able to discover the setting and toggle it one should they want to.

[2021-01-28 16:46] RandellDawson commented on #40812
That is strange.  I thought that was one of the comments.  I am really not wanting to add any more though.  Also, this is an extreme edge case.

[2021-01-28 16:49] moT01 commented on #40821
Overall, I like it @ahmadabdolsaheb 🎉

Are we sure we want to add the Settings and Sign out buttons? I'm in favor of it, but I don't think they were included in the original discussion. The news link is missing from the image - just an FYI - I know it's just a wire frame.

One issue I see - the language links currently open in new tabs I believe, the radio buttons don't really imply that. Visually

[2021-01-28 16:56] RandellDawson commented on #40816
Sure.  I can do this.  They are all JSON files, so that will make it easier.  Do you want me to create a separate project for them?  I am thinking that is best for now.

[2021-01-28 16:58] raisedadead commented on #40816
Yes, that would be ideal, I think.

[2021-01-28 17:00] raisedadead commented on #40817
Closed by linked PR.

[2021-01-28 17:00] #40817 closed

[2021-01-28 18:29] ahmadabdolsaheb commented on #40821
Yes, I missed the news link :)

I added settings and sign out as suggestions. they have not been confirmed.

Is opening a new tab with a new language by design? I am not sure how having both tabs open would be beneficial. It would make more sense to redirect.

We could style the donation message similar to success flash messages( green on green ), the "sign in to change theme" as inactive ( quat c

[2021-01-28 19:39] ahmadabdolsaheb commented on #40820
We have traditionally supported down to iphone 5 320px, and as you mentioned we definitely, we need to make some compromises when we go that small.

I think these are our options:

1) hide the sign up in the menu
2) go with small version of the logo
3) have the main navigation in two rows: row one) freecodecamp logo centered, row two) menu, sign in button. ( I don't think this would be optimal, si

[2021-01-28 20:41] mtrivera opened #40827 "Python for Everybody - Conditional Execution: Syntax Error"
**Describe your problem and how to reproduce it:**
All possible solutions have `0 == x`, but that is incorrect. Python variable names can contain digits, but not the first one.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/conditional-execution

**Recommended fix, suggestions (how would you update it?):**
Chan

[2021-01-28 21:05] ShaunSHamilton commented on #40827
Hello there,

I do not understand the issue. When i run the code, I get a response:
![image](https://user-images.githubusercontent.com/51722130/106198932-97900780-61ac-11eb-9fa0-0bd985319f28.png)

[2021-01-28 21:42] ieahleen commented on #40827
there is not a rule that the left hand side of a comparison must be a variable
that is valid code

[2021-01-28 21:48] mtrivera commented on #40827
This is targeted at beginners, so I thought it should be more readable. My two cents.

[2021-01-28 21:48] #40827 closed

[2021-01-28 23:08] QuincyLarson commented on #40821
@ahmadabdolsaheb I love the subtle horizontal breaks in the navigation, and the "opens in new tab" symbol. I think this looks solid. If changing the language results in opening new tab, we should probably visually indicate that somehow. How hard would it be for us to just change the language without opening a new tab? I'm not saying we should do this for our first release, but I'm curious if there

[2021-01-28 23:24] nhcarrigan commented on #40821
This could be accomplished with `sameTab={true}` I believe.

This is the current functionality - though in https://github.com/freeCodeCamp/freeCodeCamp/issues/40820 we were discussing the viability of moving/hiding the button on small screens. In our current draft, we modified the `profile` link in the dropdown to become a `sign in` link during unauthenticated sessions, which allows us the option

[2021-01-29 00:26] moT01 commented on #40825
One thing to note about the current implementation, is that it only scrolls when a user is logged in - so they should be a little familiar with things - although, probably not a lot of it - I do see how it could be frustrating.

My suggestion was to only auto scroll under two conditions: when a user clicks one of the blocks from the breadcrumb links - or when a user goes to a superBlock that inclu

[2021-01-29 03:51] raisedadead commented on #40825
I think that would be a pretty neat balance.

[2021-01-29 07:37] ahmadabdolsaheb commented on #40820
Hi @neeraj-here, should have mentioned, but the issue is regarding the next branch that will be merged with master in near future.

[2021-01-29 08:59] ahmadabdolsaheb opened #40829 "Superblock projects cards improvements"
On the next-i18n-client branch we are showing the status of each certification page. It might be more useful to have a claim/show certification button instead so users don't have to go to the settings page to claim/show their certifications.

<img width="823" alt="Screen Shot 2021-01-29 at 11 51 31 AM" src="https://user-images.githubusercontent.com/4591597/106253313-5dfce200-6228-11eb-804f-bd101bf

[2021-01-29 09:11] ojeytonwilliams commented on #40825
We could do a "jump" instead of an auto scroll.

I think we should do both.  The scrolling just doesn't *feel* great to me.

One thing we definitely want to remove is the scrolling when you navigate forward and back on the browser, that's really confusing.

[2021-01-29 09:26] PeterF521 commented on #40808
So I agree with that, because if we stop to think a bit, Donate button doesn't appear on Homepage so, why It appears on news page?
In my opinion, We have two options:
- We add Donate button to Homepage;
- Or We remove it from News page

[2021-01-29 09:32] ahmadabdolsaheb opened #40831 "Normalizing icons for learn"
We have accumulated a list of custom-made, imported icons over the years that will be a challenge to maintain with the addition of the next-i18n-client branch icons.

Since we are already using the fontAwesome's react node module, it would be great if we could use this module for all/most of our icons.

I suggest  removing unused icons and replacing the used ones with fontAwesome alternatives that

[2021-01-29 13:24] ahmadabdolsaheb opened #40832 "Optimizing challenge breadcrumb UI"
In the upcoming iteration of the Ui, the breadcrumb seems squeezed and crowded.

Although the underline clearly indicates the functionality of the breadcrumb elements, separating the interactive breadcrumb text from the challenge title with an underline will allow us to get away with not adding underlines.

We could consider the following options:
- since we have associated an icon with the superb

[2021-01-29 16:21] ojeytonwilliams opened #40834 "Simplify dependencies between services"
Following on from https://github.com/freeCodeCamp/freeCodeCamp/pull/40703 the different 'services' i.e. the curriculum, client and api need to be loosely coupled.  For instance, it's fine to build the curriculum into a JSON file and make that available to the api.  It's not good to call curriculum functions from the api, since that means the curriculum packages have to be served with the api.

A (

[2021-01-30 05:43] #40421 closed

[2021-01-30 07:05] #40820 closed

[2021-01-30 07:05] #40819 closed

[2021-01-30 07:22] raisedadead commented on #37113
Closing in favor of #40825

[2021-01-30 07:22] #37113 closed

[2021-01-30 07:22] raisedadead commented on #37144
Closing in favor of #38820

[2021-01-30 07:22] #37144 closed

[2021-01-30 07:23] #38820 closed

[2021-01-30 07:24] #37850 closed

[2021-01-30 07:24] #37899 closed

[2021-01-30 07:27] raisedadead commented on #40834
Is this a duplicate or extention of https://github.com/freeCodeCamp/freeCodeCamp/issues/38626? Should we consolidate the discussion there instead?

[2021-01-30 07:31] raisedadead commented on #40829
Is this a duplicate or extension of https://github.com/freeCodeCamp/freeCodeCamp/issues/38569? Should we consolidate the discussion there instead?

[2021-01-30 07:35] #39297 closed

[2021-01-30 07:36] raisedadead commented on #38626
**Relevant discussion moved here: https://github.com/freeCodeCamp/freeCodeCamp/issues/39297#issue-663897024**

We should make sure the `devDependencies` have all the dev tooling and none of the production tooling.  For instance, `copy-webpack-plugin` is in `devDependencies`, but is used in production.  Once we've done this, we can cut them out of the pipelines.

Also, some Babel packages are only

[2021-01-30 09:54] ojeytonwilliams commented on #40834
It's worse than that, I'd completely forgotten about that issue 🤦‍♂️ I'll just copy over a summary of this into the older one.

[2021-01-30 10:17] ojeytonwilliams commented on #38626
To clarify slightly what 'dev' and 'production' mean for the client:  the client has dependencies that it only uses in testing (which can be dev deps) and the rest that it needs when being built (which can be prod deps).

**Based on #40834:**

For simplicity's sake, I think the structure should be:

| directory | depends on |
| - | - |
| everything except tools | utils, config, root prod dependenc

[2021-01-30 10:27] #40834 closed

[2021-01-30 20:11] PeterF521 opened #40840 "challenges(react): Render HTML Elements to the DOM tests error"
**Describe your problem and how to reproduce it:**
On `React: Render HTML Elements to the DOM` challenge it's happening an unexpected issue: I think I wrote code correctly, but tests are not passing. What's going wrong?

Steps to reproduce:
1. Enter this link: https://www.freecodecamp.org/learn/front-end-libraries/react/render-html-elements-to-the-dom;
2. Write ordered code;
3. Run tests.

**Tell

[2021-01-30 20:15] #40840 closed

[2021-01-31 00:05] arevaldez commented on #40772
Curious if the **_No_** button is needed. If it's routing to another page, I can see. But if it is essentially returning void, maybe better to just have the **_Yes_** button?

Thoughts on this? Also, how is the client side working coming along? @soumalyatheking22012001 would love to see your solution! And help if needed.

[2021-01-31 08:18] #40816 closed

[2021-01-31 11:58] ieahleen opened #40845 "imprecisions in "How Hex Code Colors Work" article"
**Describe your problem and how to reproduce it:**
This sentence:

Hex***a***decimal, not Hex***i***decimal.
Binary is base 2, not decimal - decimal is out regular system

hexadecimal uses numbers from 0-9, 10 is written as `A`

2^3 is 8, 2^4 is 16

255 is the maximum value, there are 256 values because 0 is the first number used
2^7 is 128, 2^8 is 256

FF is 255, not 256

**Add a Link to the page

[2021-01-31 12:10] ieahleen opened #40846 "Chat layout issue increasing font-size"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
I have increased default font-size for my browser, and now the icons in the top left corners overlap with the main part of the page.

**To Reproduce**
Steps to reproduce the behavior:
Google Chrome, go to Setti

[2021-01-31 12:34] #40829 closed

[2021-01-31 12:37] ahmadabdolsaheb commented on #38569
We are planning to  show status of each certification on each certification page. It might be more useful to have a claim/show certification button similar to the one we have on the settings page instead, so users don't have to go to the settings page to claim/show their certifications.

<img width="823" alt="Screen Shot 2021-01-29 at 11 51 31 AM" src="https://user-images.githubusercontent.com/459

[2021-01-31 13:52] raisedadead commented on #38569
Yes - this seems logical to me. We should still keep a button in the settings at the same time for users who are used to finding it there.

We can revamp the settings page a bit in the upcoming days to make it cleaner.

[2021-01-31 16:54] nhcarrigan commented on #40845
@scissorsneedfoodtoo could you take a look at this when you have a chance?

[2021-01-31 17:05] moT01 commented on #38569
I'm a little biased - but, I kinda like the first image - an empty circle that fills in when you finally get the cert. Feels like it gives it a little gamification. I would maybe try and put the cert in with the white background though. FYI - That text will link to the cert if it's claimed. What about adding the button from the right image at the bottom of the left image if the cert is claimable?

[2021-02-01 04:33] #40832 closed

[2021-02-01 06:04] ahmadabdolsaheb commented on #40825
I think the only use of auto scroll would be when we need to navigate the user to a certain part of a page, but we would also want the user to see that there are other content in the page.

Autoscroll might work well with breadcrumbs, but we should otherwise jump when linking to ids.

[2021-02-01 07:42] #40444 closed

[2021-02-01 08:38] ahmadabdolsaheb commented on #38569
- I agree that some of our error messages could provide a link where the user could resolve the error. For instance, errors about the honesty policy might be confusing as some users might not know honesty policy is located in the settings page. (even if they are claiming the cert from the settings page)

- One of the other motives to remove that cert completion element is to avoid information over

[2021-02-01 11:34] ieahleen opened #40854 "green flame icon still in use"
if I link to contribute.freecodecamp.org in the forum, the embed that appears has still the old green icon that was substituted with the one with the new color scheme:
![image](https://user-images.githubusercontent.com/26656284/106453553-ca2a5080-6489-11eb-8658-511d073c0c0f.png)

[2021-02-01 11:49] ahmadabdolsaheb commented on #40854
Thanks for letting us know.
We have a dedicated issue for the older icons. It would be great if you could update https://github.com/freeCodeCamp/freeCodeCamp/issues/38540 with instances of the green logo.

I am closing this issue in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/38540
let me know if this issue has been closed by mistake.

[2021-02-01 11:49] #40854 closed

[2021-02-01 12:34] ahmadabdolsaheb opened #40855 "Selected text is not styled."
The background color of the selected text does not seem to change on master.

Here is what we have on production.
![image](https://user-images.githubusercontent.com/4591597/106459457-ef778880-64a2-11eb-9132-9b63b18a5989.png)

[2021-02-01 13:25] #38917 closed

[2021-02-01 13:34] #39729 closed

[2021-02-01 14:24] ieahleen opened #40858 "thumbnails on news are cut on mobile"
**Describe the bug**
On mobile there are some layout issues on \news
 - the thumbnails are cut, this is moticeable where there is text in the image, there are words being stolen letters
 -  with long author names, the publication date gets moved out of screen

**To Reproduce**
Steps to reproduce the behavior:
Go to freecodecamp.org/news with a small enough screen

**Expected behavior**
Seeing the

[2021-02-01 14:31] ieahleen opened #40859 "In article "10 to the power of 0" some snippets and text overflow on mobile"
**Describe the bug**
In this article there are some maths and text snippets that can't be seen whole

**To Reproduce**
go to https://www.freecodecamp.org/news/10-to-the-power-of-0-the-zero-exponent-rule-and-the-power-of-zero-explained/ with a small enough screen

**Expected behavior**
See all the text

**Screenshots**
![231C5120-991E-4A52-B539-76FE37B3C57D](https://user-images.githubusercontent.co

[2021-02-01 14:33] ieahleen commented on #38540
it's probably related to something already mentioned
but linking to contribute.freecodecamp.org, the embed has the green icon:
![image](https://user-images.githubusercontent.com/26656284/106453553-ca2a5080-6489-11eb-8658-511d073c0c0f.png)

[2021-02-01 14:41] ahmadabdolsaheb commented on #40815
@moT01, It seems like pathName and pending is not provided to the authOrProfile as props,  so the skeletonSprite if statement does not execute.

![image](https://user-images.githubusercontent.com/4591597/106472325-9c5a0180-64b3-11eb-9e42-5e91be3f6175.png)

[2021-02-01 14:41] ieahleen opened #40861 "using the forum on mobile many dropdown menu items are inaccessible"
**Describe the bug**
Using the forum I can't log out in portrait mode, and in landscape mode only the first button of the User Menu, "Summary", is accessible, I have tried swiping to see if it moves and show the others, but it doesn't, only what is visible is usable.

**To Reproduce**
Steps to reproduce the behaviour:
use the forum with a small enough screen and open the User menu

**Expected beha

[2021-02-01 14:42] raisedadead commented on #40815
Mind dropping a fix?

[2021-02-01 14:46] ahmadabdolsaheb commented on #40815
working on it .

[2021-02-01 15:40] nhcarrigan commented on #38540
Thanks @ieahleen - I'll take a look at this today :)

[2021-02-01 16:12] ahmadabdolsaheb commented on #40815
Just discussed this with @moT01. Since we will be showing the menu on the landing page, we would only need to pass pending to the menu component.

[2021-02-01 16:31] ahmadabdolsaheb commented on #40815
Fyi, the current setup does show the loader, but there was a loader nested inside the menu that is removed by #40864

[2021-02-01 16:33] #40815 closed

[2021-02-01 17:23] nhcarrigan commented on #40588
I believe Miya is using a GitHub repo for the news translations, while Rafa is using a Trello board.

[2021-02-01 17:38] nhcarrigan opened #40866 "Staging: Donation Modal contains incorrect superblock"
**Describe the bug**

When completing the final certification project, submitting the project redirects to the next challenge in the following superblock - this also triggers the donation modal to appear, which says "You've just completed <block>", but is grabbing the current block name instead of the previous.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `freecodecamp.dev`
2. Submi

[2021-02-01 17:46] naomi-lgbt opened #40867 "Chinese Certificate verification URL incorrect"
**Describe the bug**

The English and Espanol certifications have the correct "verify this certification at" URL, but the Chinese certification links to the `www.freecodecamp.dev` domain.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/certification/nhcarrigan/responsive-web-design and see the correct verify URL
2. Go to https://www.freecodecamp.org/espanol

[2021-02-01 17:47] raisedadead commented on #40588
Cool, we do not need to unify this for now.

[2021-02-01 17:47] #40588 closed

[2021-02-01 18:25] lucievr commented on #40858
Happy to work on this issue

[2021-02-01 18:55] ojeytonwilliams commented on #40867
Nice catch, Nick.  That bit's hard-coded.

[2021-02-01 23:30] rookiebehaviour commented on #37611
I have the correct code, all 4 tests pass, but the first test (all tests should pass) fails, which of course doesn't make sense. Can someone please advise what's happening? Neither single or double quotes work for passing the test with the correct code. Thanks.

[2021-02-01 23:48] rookiebehaviour opened #40868 "QA Functional coding challenges test bug"
There's a bug in FCC testing on QA Functional testing with Chai. I have the right code that passes 4/5 tests. The first test just simply verifying that the other tests passed (hince the 4/5 passing). So I passed all the tests except the all tests pass... Please see code below:
[code]

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: Version 88.0.4324.1

[2021-02-01 23:49] rookiebehaviour commented on #40868
FYI: this was using your project built in repl.it

[2021-02-02 00:01] ShaunSHamilton commented on #40868
Hello there,

In general, I recommend you open a topic on the forum, for something like this, as it is likely an issue with your code, and not the main codebase. Once it has been determined that the issue is in fact on freeCodeCamp's side, an issue may be opened.

**Note**: the _"All tests should pass"_ test is referring to your app's tests, not the tests on freeCodeCamp's side.

When you open a t

[2021-02-02 00:01] #40868 closed

[2021-02-02 00:54] moT01 opened #40870 "Add night mode toggle for signed out users"
The night mode toggle [added to the nav menu here](https://github.com/freeCodeCamp/freeCodeCamp/pull/40823), is only functional for authenticated users. It says, "Sign in to change theme." if you are logged out. We should try and make night mode available for everyone. It's kind of tricky since it's part of the user object in redux - but there's a way.

[2021-02-02 04:33] rahulgajawada opened #40871 "Rating a test issue for the freecode camp video"
<Please ignore this

[2021-02-02 06:39] neeraj-here commented on #40859
I confirm this issue. I face it on my smartphone as well. Few long sentences and calculations do get hidden. Also, there isn't any option to scroll the screen sideways, not allowing the user to read the content.

[2021-02-02 06:49] aashiqahmed98 commented on #40870
saving the display mode in localstorage,makes the gotcha!

[2021-02-02 07:36] RandellDawson commented on #40480
@miyaliu666 Test tag

[2021-02-02 07:39] RandellDawson commented on #40480
@miyaliu666 Test again

[2021-02-02 08:25] neeraj-here commented on #40859
I offer my help in resolving this issue. Please guide me thru the way.

[2021-02-02 08:34] gikf commented on #39398
Yes, sorry. The least invasive way to correct the [solution](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/knapsack-problem-unbounded.md#--solutions--) seems to be to multiply in function, by the same factor, initial items weights, volumes, and in the first recursive call multiply `maxweight` and `maxvolume`.
[code]

[cod

[2021-02-02 09:19] scissorsneedfoodtoo commented on #40845
Thanks for reporting these issues, @ieahleen, and for your helpful suggestions. We've had a few emails about this article, but you caught a few other issues like that first misspelling.

Thanks again, and please let us know if you notice anything else.

[2021-02-02 09:19] #40845 closed

[2021-02-02 11:15] ahmadabdolsaheb commented on #40870
@moT01, it this a duplicate of #36819?

[2021-02-02 11:40] ahmadabdolsaheb commented on #40861
I double checked that and you are right, I cannot scroll down. Could you please try it with another discourse instance such as [this one](https://forum.ghost.org/) and see if you get similar results.

[2021-02-02 12:12] ieahleen commented on #40861
I've tried on meta.discourse.org and community.postcrossing.com, where I already had an account - it seems it's a general discourse issue

on desktop if you reduce the window a scrollbar appear in the dropdown menu

I don't see it mentioned in https://meta.discourse.org/c/bug/1 - should I open there a topic?

[2021-02-02 12:13] ShaunSHamilton opened #40873 "Curriculum Accessibility Issues"
On .dev the widget(I do not know what to call it) which shows the bool of whether or not a section is complete, comes up as a clickable element and is indexable, because it is a button:
![image](https://user-images.githubusercontent.com/51722130/106597112-dbd52c00-654d-11eb-84fb-f107a9b5d392.png)

[2021-02-02 12:15] ieahleen commented on #39398
would you be willing to open a PR for it?

[2021-02-02 12:27] ahmadabdolsaheb commented on #40858
I could not reproduce it, but most likely this is causing it:   [object-fit: cover;](https://github.com/freeCodeCamp/news-theme/blob/d1c510d871784b733f30c325682e2638177d33c0/assets/css/screen.css#L457)

This one is in place to make sure taller/wider images adhere to the size of their containers and follow the grid.

[2021-02-02 12:32] ahmadabdolsaheb opened #41069 "Player plays the wrong song after a long pause"
If the player is paused for a while (30min) and unpaused, it will play song a; however if the page is refreshed the player is updated and it will play song b.

[2021-02-02 13:52] #40870 closed

[2021-02-02 13:56] sky3760000 commented on #40873
ok

[2021-02-02 13:57] lucievr commented on #40858
Thanks, @ahmadabdolsaheb!

I had a quick look earlier and was able to reproduce this bug on mobile. Will dig into this later today.

[2021-02-02 14:07] moT01 commented on #38569
1. I added the sign in button, seemed like a good spot for it - definitely not necessary - although, it does add some color - which I think is nice.
2. Seems like the items are grouped pretty good - each block has a white background, with a space between them - there could possibly be something better though

[2021-02-02 14:11] moT01 commented on #40873
There's some more discussion about the "widget" [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/385690) - It may end up getting removed. If you claim the cert, the widget will take you to the cert - so it is clickable in that instance. We could render a button if it's claimed or a div if not. Or just make it a div and then, I'm pretty sure there's something to make that indexed.

[2021-02-02 14:34] QuincyLarson opened #40874 "Landing page icons are different heights"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
The heights of the SVG files on the landing page vary, which causes the certification chart to look inconsistent.

**To Reproduce**

<img width="946" alt="zoom_floating_video_window_and_Learn_to_Code_—_For_Free

[2021-02-02 14:37] RandellDawson commented on #40874
Hi Quincy, I let @ahmadabdolsaheb know about this already.

[2021-02-02 14:43] moT01 commented on #36556
Is this still an issue @RandellDawson? I wonder how many articles, if any, still have this problem.

[2021-02-02 14:46] raisedadead commented on #38569
Logically to me:

- The "Sign in" button and a "Claim your X cert." button should be mutually replacing each other depending on the user state.
- The issue of user not having a name and not having accepted the honesty policy could be handled with a modal with one/two messages explaining the needs, with links to settings page (open in a new page, maybe be even auto scroll to the item).

Something l

[2021-02-02 14:47] RandellDawson commented on #36556
Does not appear to be a problem now.

[2021-02-02 14:47] #36556 closed

[2021-02-02 14:49] moT01 commented on #35566
This looks to be fixed. I am going to close it. If I'm wrong, let me know and we can reopen it. Thanks and happy coding 🎉

[2021-02-02 14:49] #35566 closed

[2021-02-02 15:00] moT01 commented on #36879
This looks to be fixed with the new format. I think it's safe to close this. Let me know if I'm wrong, and it can be reopened. Thanks and happy coding 🎉

[2021-02-02 15:00] #36879 closed

[2021-02-02 15:12] moT01 commented on #37185
I looked through each section real quick, I believe each project that can have tests has at least the "You should submit your own project and not the example" test - and many of them have quite extensive tests - So I think we can finally close this. Thanks for all the hard work on this everyone 🎉

If anyone notices something missing or any problems, leave a comment and we can either reopen this -

[2021-02-02 15:12] #37185 closed

[2021-02-02 15:25] nhcarrigan commented on #40859
Hey there @neeraj-here,

This is an issue with a published news article, so our editorial team will need to take a look at this. If you are interested in contributing to the freeCodeCamp code base, we recommend reviewing our [contributing guidelines](https://contribute.freecodecamp.org), then looking for issues labelled `help wanted` or `first timers only`.

[2021-02-02 15:25] nhcarrigan commented on #40859
@scissorsneedfoodtoo @ahmadabdolsaheb is this something we would need to edit in the article text? Or do we need to reduce the font size through the news theme?

[2021-02-02 17:06] moT01 opened #40876 "[.dev] Selected text has same background as the rest of the page"
If I try to select text with my mouse so I can copy/paste it or something - the selected text has the same background as the rest of the page. Making it difficult to see what is selected, and frustrating to try and select, well anything.

![Feb-02-2021 11-03-51](https://user-images.githubusercontent.com/20648924/106635393-644fce80-6546-11eb-9e7d-9b831e1e5929.gif)

This seems to occur across the en

[2021-02-02 17:25] ShaunSHamilton commented on #37185
@moT01 Just double-checking: Is [Secure Real Time Multiplayer](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md) ticked off, because it is something that will require too much overhaul to write tests for?

[2021-02-02 17:33] moT01 commented on #37185
I did check it off - the issue here was to create any kind of test for the projects where we can, that project has the one checking if the demo URL is used - so it could still use some work. I didn't look hard, but I do think that project would need some sort of overhaul to have more comprehensive tests on learn - so I thought we would be fine to close this. We could create another issue for that

[2021-02-02 17:41] ShaunSHamilton commented on #37185
- Unless this gets handled _in-house_, we should definitely create an issue for each project which could use some improving. That way, a simple _help wanted_ will go a long way.
- I agree, this issue has served its purpose. 👍
So, I will open an issue for the SRTM project, and I expect other issues to be opened for the projects where some user story tests have not been written.

[2021-02-02 17:48] ShaunSHamilton opened #40877 "Secure Real Time Multiplayer Project Tests"
Currently, the [SRTM Project](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md) has no tests for most of the user-stories.

Discussion can be had within this issue about adding/changing/removing current user-stories. A PR does not need to cover every user-story, but try no

[2021-02-02 18:07] moT01 commented on #38013
I did not have any problems changing my email, either. I think it's probably safe to close this. There may still be some edge cases around this - so if anyone wants to see if they can still produce any of these errors, feel free to leave a message and this can be reopened. Thanks and happy coding 🎉

[2021-02-02 18:07] #38013 closed

[2021-02-02 18:11] moT01 commented on #39673
It doesn't appear that there is an issue that needs fixing here, the test suite is working as intended. If anyone feels I am wrong in closing this, feel free to leave a comment and we can reopen it. Thanks and happy coding 🎉

[2021-02-02 18:11] #39673 closed

[2021-02-02 18:12] ojeytonwilliams commented on #40876
Good catch.  It'll be this PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/40461 which didn't scope the change to challenge descriptions.  I'll put together a quick fix.

[2021-02-02 18:18] moT01 commented on #38098
It looks like this feature has been added via @ShaunSHamilton's work [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/40071). So I think we can safely close this. Thanks and happy coding 🎉

If we want to continue discussion on any sort of project settings/visibility, I think a new issue would be best. If anyone disagrees, feel free to leave a comment and this can be reopened.

[2021-02-02 18:18] #38098 closed

[2021-02-02 18:39] moT01 commented on #39257
I think we could add more CSS requirements without restricting design freedom. Maybe some tests like:
"You should use flexbox at least once".
"You should use at least 3 different colors."
"You should use at least 2 different fonts."

Those seem testable.

Versioning the test-suite sounds like a solid idea - I think we would only need to update the forkable codepen projects to use the new version,

[2021-02-02 18:50] moT01 commented on #37700
I was able to get the google stock to 3 likes. I'm not sure if I added zero or one likes to it - but I wasn't able to add a fourth from a different device. So there does seem to be some sort of issue here. I added the help wanted label in case someone wants to try and give it a fix - I'm guessing @Chris6077's suggestion would work since he probably looked into pretty good. The code is [here](https

[2021-02-02 19:03] moT01 commented on #38538
We decided to just include a link to coderadio from learn. So I think it's safe to close this. If I'm wrong, and the intent is to still add this at some point - feel free to leave a message, and we can reopen it. Thanks and happy jammin 🎧

[2021-02-02 19:03] #38538 closed

[2021-02-02 19:08] ahmadabdolsaheb commented on #16445
@ManasMahanand I was wondering about your progress with your solution. let me know if I could be of any help.

[2021-02-02 19:10] moT01 commented on #38566
This was added with a recent PR. There's [some discussion happening here](https://github.com/freeCodeCamp/freeCodeCamp/issues/38569) about if we will be keeping them or changing them. So I think it's safe to close this. Thanks and happy coding 🎉

[2021-02-02 19:10] #38566 closed

[2021-02-02 19:13] #40876 closed

[2021-02-02 19:15] ahmadabdolsaheb commented on #40874
added in min height, so #40883 should take care of it.

[2021-02-02 19:15] nhcarrigan commented on #40871
Hello,

Please do not create test issues on our repository, as this creates additional work for our volunteer contributors and maintainers. For testing GitHub issues, you are welcome to do so on your own fork.

Thank you and happy coding.

[2021-02-02 19:15] #40871 closed

[2021-02-02 19:19] #40874 closed

[2021-02-02 19:20] raisedadead commented on #40861
Yes please.

[2021-02-02 19:23] RandellDawson commented on #39257
Yes, we will need to start versioning the test suite.  I think we will want to track of what version the user used at the time of project submission, so if we audited a project for "academic honesty", then the project should still pass all the tests of the test suite used on submission.

[2021-02-02 19:24] ahmadabdolsaheb commented on #40855
related #40876

[2021-02-02 19:24] #40855 closed

[2021-02-02 19:38] nhcarrigan commented on #39257
`https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js`

Our CDN URL is already structured to allow versioning, so if we publish changes to a new version and host that URL, we wouldn't be breaking any existing tests.

[2021-02-02 20:06] RandellDawson commented on #39257
@nhcarrigan True.  We will just need to figure out a way to hopefully update the references to the latest CDN across the `/learn` pages without having to manually do it everything a new CDN is changed.

[2021-02-02 20:08] nhcarrigan commented on #39257
Actually, we could add a test to the projects - `fetch` the camper's input URL, and search the HTML for the CDN import.

This could even be implemented now, and would allow us to verify that the test suite is at least included with the project.

[2021-02-03 01:20] lucievr commented on #40859
Sorry to jump in, @nhcarrigan... Just wanted to say this should all be fixable by changing a few CSS properties in the news theme (there was an issue with no word breaks, whitespace wrap, content min-width set to 100% etc.)

Just played with it in browser dev tools and it looks like this:

![screen1](https://user-images.githubusercontent.com/46979603/106683279-838d4100-65c4-11eb-8c9e-72501b2c0d89.

[2021-02-03 02:05] uptonnm opened #40886 "Scientific Computing with Python: Probability Calculator: improving problem statement"
**Describe your problem and how to reproduce it:**
The unit tests for the probability calculator are broken and cannot be passed with an actual solution for the project.

The test for test_prob_experiment performs two tests. One requires the drawn balls to be {"blue":2,"green":1} - three balls - but draws four balls. The other similarly requires six balls (2 yellow, 3 blue, 1 test) but draws 20.

[2021-02-03 03:06] ahmadabdolsaheb commented on #40859
It must be the theme. @lucievr, could you create a pull request with your solution?

[2021-02-03 05:52] gikf commented on #40886
Could you be more specific why this makes tests broken? Experiment is supposed to determine probability of drawing specific balls - `expected_balls` - from the `hat`  when drawing `num_balls_drawn` balls from it. This doesn't seem to be incorrect.

[2021-02-03 09:08] Theicedoge commented on #14250
<h2>CatPhotoApp</h2>

[2021-02-03 09:09] Theicedoge commented on #14250
<h2>CatPhotoApp</h2>

[2021-02-03 09:10] ieahleen commented on #40861
I have opened a topi on discourse meta forum: https://meta.discourse.org/t/dropdown-user-menu-is-not-accessible-on-small-screens/178244

[2021-02-03 10:03] gikf commented on #39398
Definitely yes, although I need advice which approach here would be preferred. Considering that the sample solution in code is just used for internal testing and just small change to it can fix the issue.

[2021-02-03 10:54] lucievr commented on #40859
Sure – will do, @ahmadabdolsaheb

[2021-02-03 12:22] uptonnm commented on #40886
In combination with the problem statement section describing `expected_balls`:

[code]

'Exact group' indicates `expected_balls` is not a subset - that `expected_balls` and the result are identical. A set of four balls cannot be identical to any set of three balls, and a set of twenty balls cannot be identical to a set of six balls.

So either the tests are broken, or the problem statement doesn't

[2021-02-03 12:58] ahmadabdolsaheb opened #40890 "Custom company logos for the Chinese landing page."
The Chinese landing page should have the following logos in order:

Apple, Google, Microsoft, Alibaba and Tencent

[2021-02-03 13:29] moT01 commented on #39257
I'm still not convinced we would need to keep track of the version used at the time of submission. Just let users use what version they want. It's potentially not fair if one person can get a cert by passing projects using one version, and another person was forced to use a more difficult version to get a cert. I think that's where my vote would currently go - although, I can be swayed. Plus, it w

[2021-02-03 13:49] moT01 commented on #38959
I'm fine with adding a sentence at the bottom of the instructions. How about "This will not have any visual effect right now. In the next lesson, you will make one of the items use an area to see how it works."

[2021-02-03 15:49] QuincyLarson opened #40891 "contribute.freecodecamp.org meta still uses old logo / color scheme"
I noticed when tweeting https://contribute.freecodecamp.org/ that Twitter was completing the card with our old logo and color scheme. We should update this when we have time.

<img width="761" alt="_42__Soneca_on_Twitter____ossia__EstefaniaCassN_Where_do_I_go_if_I_want_to_help_translate_freeCodeCamp_to_Portuguese_____Twitter" src="https://user-images.githubusercontent.com/985197/106771847-0a620e00

[2021-02-03 15:51] nhcarrigan commented on #40891
Hmm this should have been resolved in #40863 - I'll dig in to it today.

[2021-02-03 15:53] nhcarrigan commented on #40891
![image](https://user-images.githubusercontent.com/63889819/106772365-c830d080-65f4-11eb-99c6-50e0ff0787c7.png)

I validated with Twitter's developer tools and it is fetching the indigo version correctly - it may have been a cached version of the embed that they were using.

![image](https://user-images.githubusercontent.com/63889819/106772467-e4cd0880-65f4-11eb-8ad6-afb264478ff1.png)

Should be u

[2021-02-03 16:54] nhcarrigan commented on #39257
To clarify, I'm not suggesting tracking any additional information in the database.

Just a test on the project page that reads the HTML and looks for the presence of the test suite - and that test would be updated as we update the CDN version so that *new projects* would be expected to use the latest version.

[2021-02-03 17:15] ShaunSHamilton opened #40892 "Client Console Errors"
To begin: I am seeing these on a GitPod instance. So, your kilometerage may vary.

<details>
  <summary>layouts/Default.js</summary>

[code]
</details>

<details>
<summary>Mysterious ShadowPortal</summary>

[code]
</details>

<details>
  <summary>Found in Settings page</summary>

[code]
</details>

<details>
  <summary>Refreshed page on '/learn'</summary>

[code]
</details>
<details>
<summary>Open

[2021-02-03 17:18] ojeytonwilliams opened #40893 "Translation of comments in challenges"
Initially discussed here: https://github.com/freeCodeCamp/freeCodeCamp/pull/40869

The summary being: the parser needs rewriting so that comment translation takes place during challenge parsing, not afterwards.

[2021-02-03 17:21] nhcarrigan commented on #40892
This made me lol. 🙂

[2021-02-03 17:23] moT01 commented on #39257
okay, so we would test the version on the fly then. I gotcha. What if I submit my project with v1, then v2 gets released and I want to update my project or change URL's - maybe glitch doesn't work with my project anymore or something - so I want to resubmit the project. Like I mentioned, I think trying to force a version complicates things - but sure, I guess I'm fine with it.

[2021-02-03 17:27] nhcarrigan commented on #39257
That wouldn't be any different than how we handle the other projects.

For example, we've updated tests on the Sudoku Solver. If I migrated my project from Glitch to Repl.it, I would fail on re-submission because the tests have changed since the time I built the project.

[2021-02-03 17:40] moT01 opened #40895 "Rename all default branches to main across the fCC organization"
This issue is to keep track of switching all our repo's to use `main` as the default branch - unless there's maybe a special case or something. The list below is all our non archived repos - perhaps a few of them could be archived. This issue replaces/should take care of https://github.com/freeCodeCamp/freeCodeCamp/issues/39098 and https://github.com/freeCodeCamp/freeCodeCamp/issues/38987

Many of

[2021-02-03 17:41] moT01 commented on #39098
Closing in favor of the more detailed tracker I linked right above this.

[2021-02-03 17:41] #39098 closed

[2021-02-03 17:41] moT01 commented on #38987
Closing in favor of the tracker I linked above.

[2021-02-03 17:41] #38987 closed

[2021-02-03 17:44] moT01 commented on #39257
Fine - maybe I'm making a fuss over nothing then 😄

[2021-02-03 17:58] RandellDawson commented on #39257
Just as long as we don't allow users to submit projects with an older version of the CDN, then I would be happy.  The CDNs will change for mainly three reasons:

- Bug fixes with existing tests
- Additional tests to validate something that was in a user story
- Additional tests due to changing/adding/deleting user stories

We are planning on changing a few of the Front End Library projects to forc

[2021-02-03 17:58] moT01 opened #40896 "Rework coding interview prep challenges"
Many of the coding interview prep challenges, specifically the rosetta code and project euler challenges I believe, ask for a specific amount to be returned. e.g. "Your function should return 12345". We should rework all of them so the function takes an argument and returns something based on the argument. More [description here](https://github.com/freeCodeCamp/freeCodeCamp/issues/38809#issuecomme

[2021-02-03 18:43] #40055 closed

[2021-02-03 19:11] moT01 commented on #40891
I see the indigo version as well when I tweet.

[2021-02-03 20:20] moT01 commented on #39994
I think it's safe to close this for now. Without further specification on what the problem is, I don't think there's anything we need to do. If there's still concern around this, feel free to a leave a comment with more details and we can reopen it.

Thanks and happy coding 🎉

[2021-02-03 20:20] #39994 closed

[2021-02-03 20:43] moT01 commented on #40112
I am not too familiar with python. But, if I am understanding this correctly, would fixing the issue for PyCharm users possibly cause the same problem for someone using something else? I am doubting that this is a frequent problem, and I would be fine leaving this as is.

I think it's safe to close this for now. We encourage people to use the replit link in the challenge - which, I assume, doesn't

[2021-02-03 20:43] #40112 closed

[2021-02-03 21:06] moT01 commented on #40738
I do think something could be changed here since it says something like: `you've seen how to use null to make conditional decisions about what to render and when.` - which is false, as far as I can tell.

I feel like a note about it would belong on the [ternary lesson](https://www.freecodecamp.org/learn/front-end-libraries/react/use-a-ternary-expression-for-conditional-rendering), since that's whe

[2021-02-03 21:10] moT01 commented on #40759
I think it's safe to close this. As mentioned, we won't be overhauling the current functional programming section. The project based curriculum in the works will give it a fresh update. Input on it is certainly welcome. Thanks and happy coding 🎉

[2021-02-03 21:10] #40759 closed

[2021-02-03 21:59] moT01 commented on #40613
I think the consensus was to stick with the current version of helmet. I also do not recommend adding a note for each problem that comes up. I think we are fine leaving this as-is and closing the issue. What do you think @ShaunSHamilton?

Side note: the first lesson explicitly says to install v3.21.3. So users should know that they are not using the latest version.

[2021-02-03 22:17] jeremylt opened #40903 "Redux: Use const for Action Types - More Comments Needed"
**Describe your problem and how to reproduce it:**
Lines 32 and 38 of this challenge need the comments ` // Change this line`.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/redux/use-const-for-action-types
See also
https://forum.freecodecamp.org/t/redux-use-const-for-action-types-error/444251

**Tell us about your browser and operating system:

[2021-02-03 22:24] RandellDawson commented on #40903
At this point in the curriculum, I would prefer not to use `// Change this lane` as it feels like it makes the challenge too easy.  How about the following:
[code]

[2021-02-03 22:27] jeremylt commented on #40903
Good point. That seems reasonable to me. So perhaps
[code]

[2021-02-03 22:28] RandellDawson commented on #40903
@jeremylt I like it.  Let's see what others think and then we can open it up for first timers.

[2021-02-03 22:32] nhcarrigan commented on #40903
If we are adding additional comments, I'm in favour of the example Jeremy provided.

I'd argue, though, that at this point we've effectively eliminated the usefulness of the comments (there are a total of 5 lines of code not within "change this" comments) and would vote for removing them entirely.

[2021-02-03 22:38] ShaunSHamilton commented on #40613
@moT01 Ja, if no one has any strong determination to re-work these lessons, then I think there is no issue. We are specifically setting the version. So, any change outwith that version is an added bonus Campers can find in personal R&D.

It is understandable that some might `app.use(helmet())` in a new project, and expect no `contentSecurityPolicy` (and get it). But this is far into the curriculum

[2021-02-03 22:38] #40613 closed

[2021-02-03 22:48] ShaunSHamilton commented on #40738
@moT01 Good point; `null` is not even needed in this challenge.

@jb-larriviere Do you still agree going with your third potential solution, and remove mention of `null`? If so, we could open this up to first-timers.

[2021-02-03 23:13] #40476 closed

[2021-02-03 23:25] kuntau commented on #40903
I thought the comments were used by fcc as scope to check the solutions. If not needed, I'd like more subtle comments like “fix the following function”

[2021-02-03 23:28] jeremylt commented on #40903
That's not one of the `three comments` as I understand them
* `// Change code below this line`
* `// Change code above this line`
* `// Change this line`

[2021-02-04 00:16] nhcarrigan commented on #40903
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/dictionaries/english/comments.json

This is our list of approved comments.

[2021-02-04 00:20] jeremylt commented on #40903
Huh, that's a bigger list than I thought. I think stripping them all together should be fine though. The instructions are essentially 'create two constants and use them', which shouldn't require too much of a safety net.

[2021-02-04 00:27] moT01 commented on #40825
To be clear, we want to auto-scroll to a block when someone clicks a block from the breadcrumb
And, we want to "jump" to the block of a users current challenge if they go to a superBlock page that includes their current challenge.

So would we still want a setting to enable/disable this? I am still voting no on that, doesn't seem worth it for just those two instances - but I won't fight a consensu

[2021-02-04 00:49] moT01 commented on #39656
I was having this issue on firefox - videos wouldn't load so I always switched to chrome if I had to see them. I disabled all my firefox security settings, reloaded the page and it works. I re-enabled all the same settings - and it still works - and when I go to any video now, it works.

Tried a few things to get them to break again, couldn't do it.

[2021-02-04 02:04] nhcarrigan opened #40907 "i18n: Handling Missing Files"
@RandellDawson and I pulled down #40906 to test the build. Adding `espanol` to the allowed curriculum languages allowed the `ensure-env` run to pass, as expected. We added `responsive-web-design` to the `is-audited.js`, and ran `clean-and-develop`.

The GraphQL query errors out, presumably because the `espanol` folder is missing challenges, presumably.

![image](https://user-images.githubuserconte

[2021-02-04 02:24] M1ll3r opened #40908 "Incorrect Challenge Completion Calculation"
I found a minor discrepancy when going through one of the recent challenges. Specifically, it was at the conclusion of the "CSS Flexbox" challenge (within the "Responsive Web Design Certification"). The challenge incorrectly displays the amount completed. The challenge shows the completed amount as 65% (first image). However, I had actually fully completed the CSS Flexbox challenge (second image)

[2021-02-04 03:13] moT01 commented on #39047
This should be fixed with some recent changes to these projects. The instructions are [now on the website](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work). I think it's safe to close this. Thanks and happy coding 🎉

[2021-02-04 03:13] #39047 closed

[2021-02-04 03:37] moT01 commented on #40043
I think we are safe to close this with the rework of this project live. If someone feels there is still an issue surrounding any of this, feel free to leave a comment and it can be reopened. Thanks and happy coding 🎉

[2021-02-04 03:37] #40043 closed

[2021-02-04 04:15] moT01 commented on #39238
Sorry, you never got a response on this @c-logan. I think we would be okay adding something like that to the coding-interview-prep area. Do you still have any interest in this?

[2021-02-04 04:39] ashwinkadel commented on #40043
is I am In for this course?

On Thu, 4 Feb 2021, 09:11 Tom, <notifications@github.com> wrote:

[2021-02-04 06:40] #39656 closed

[2021-02-04 07:04] raisedadead commented on #40907
Yes - you are correct, at the minute we deploy on a commit basis regardless of what files a commit touched. That is the underlying assumption is because a commit is a snapshot of the repo at some instance of time, it's wise to build and deploy the sources across API, and clients matching the commit.

Its costly, but is sane from an operator's perspective.

So, to work around the problem where may

[2021-02-04 07:21] raisedadead commented on #40825
Here are the user stories that I can think of:

1. In between page navigations DO NOT scroll ever. (back & forward buttons)
2. Use scroll if the link clicked was a "block link", but take them to the block instead.
3. Use jump to top of the page if it was a "super-block" link - this lets users glance the intro.

None of the above require a dedicated setting.

[2021-02-04 08:00] #40765 closed

[2021-02-04 11:10] ojeytonwilliams commented on #40907
Right, but the build is failing here because that PR only includes a subset of one cert for Spanish.  To build, at the moment, we need to have all the Spanish challenges, translated or otherwise.  The above error is happening because Gatsby builds its schema from the objects we pass it (which means it needs at least one of each type of challenge).

We do need to decide what to put in the translate

[2021-02-04 11:24] RandellDawson commented on #40907
I am going to add a complication here.  I have found a flaw with the current Crowdin workflow.  Currently, there are 3 steps:

1. Upload all applicable English challenge file
2. Delete any files off Crowdin that are no longer present on `main` branch
3. Hide/Unhide strings based on our specified criteria

The problem is, if we delete a file off Crowdin, when we do the next Download from Crowdin, t

[2021-02-04 11:33] ojeytonwilliams commented on #40907
I'm in the process of writing a test to check that all the English files have corresponding translated files, so we'll at least know if something went wrong before we try and deploy.

[2021-02-04 11:38] raisedadead commented on #40907
I think we are all on the same page. Either way we all want that any files (I repeat files) added or removed to English curriculum should be added/removed simultaneously from all non-English curriculum.

So, essentially, we have two cases, files added and files deleted.

At the minute we are using this is-audited array for our sanity, but once we hit 100% on our current pre 2020 certs we should ph

[2021-02-04 11:47] ojeytonwilliams commented on #40907
Yep, that's exactly how I think it should go.

We don't duplicate the `meta.json` yet, but your mention of 'files' makes me wonder if we should.  However the only translatable bit is `"name": "Advanced Node and Express"` so maybe it should be handled differently, idk.

[2021-02-04 11:53] RandellDawson commented on #40907
Currently we only remove files from Crowdin via the action that runs before the strings our hidden/unhidden on Crowdin as part of the upload workflow.  Currently, we are only running the upload workflow sporadically but plan to eventually run this on some kind of schedule (daily).  Are you suggesting that we would somehow run the delete action (to remove files on Crowdin) as part of a new workflow

[2021-02-04 11:56] raisedadead commented on #40907
Does not need to be fancy, a sane manual `workflow_run`, that purges it all across. Chould be scoped to be executed by observers in the curriculum team.

[2021-02-04 14:38] ojeytonwilliams commented on #40907
Randy raised a concern - can we construct a Crowdin workflow that defaults to untranslated if a file isn't, say, 100% proofread? At the moment we only know how to get the accepted files.

If we can't, then we need to change how we build the curriculum, so that it can work with a partial download like in https://github.com/freeCodeCamp/freeCodeCamp/pull/40906

[2021-02-04 14:43] danielcaballero88 opened #40912 "News article "Logistic Regression: The good parts" is a stub/wip/unfinished."
Searching for some Machine Learning content I got a result from google to this FCC article: Logistic Regression: The good parts 4

However, it seems to be a stub, work-in-progress or unfinished article.
Of course I might be wrong too, but I thought to share.

Link to the said article:
https://www.freecodecamp.org/news/logistic-regression-the-good-parts-55efa68e11df/

And a picture:
![image](https:

[2021-02-04 15:18] ShaunSHamilton commented on #40908
Thank you, for taking the time to open this.

Unfortunately, I am unable to reproduce this issue. Would you mind checking if you still come across this?

[2021-02-04 15:19] ojeytonwilliams commented on #40912
Thanks for letting us know about this @danielcaballero88 we'll take a look into this and replace it with the full article, if possible.

[2021-02-04 15:46] nhcarrigan commented on #40907
Randy's the expert on these workflows, but I believe:
[code]
This line could be switched to false to trigger the download of untranslated files as English.

<hr>

My overall concern, unrelated to this workflow, is that when V7 rolls out we'll likely be making a lot of tweaks. If we add an English file, am I correct in understanding that same file must be present in the i18n languages to avoid a bu

[2021-02-04 16:23] raisedadead commented on #40907
Here is the full list of options that you can take a look at: https://github.com/crowdin/github-action/blob/master/action.yml

The action is an extension of their CLI. Its best we reached out to Crowdin directly with these queries.

Yes. And hence we would want to create the same file across all languages (even if it's in English, at first until we can get a copy from Crowdin).

[2021-02-04 16:30] RandellDawson commented on #40907
On the test repo, I need to test out what happens if we use:
[code]
that hopefully It will download all files and if a string has not been approved, it will download the English for that string.

While it seems possible to do this, I do not recommend it, because then you would have some of the files being a mix of English and non-English sections.  That would be frustrating for users.

[2021-02-04 16:34] raisedadead commented on #40907
I agree with that sentiment. We would much rather have the whole block or super-block not pulled down and fallback to English.

[2021-02-04 16:40] nhcarrigan commented on #40907
Would it be better, then, to start off with *all* of the English files copied in to the Espanol folder? Then we'd be replacing them with translations as they were 100% completed.

[2021-02-04 16:45] raisedadead commented on #40907
Yes - that is the idea.

But while that "makes our lives easy" immediately we do need to test our workflows, and tests, and pipelines and the general strategy with the first few weeks. Gain the experience and understanding and then phase out the auditing once the process is mature.

[2021-02-04 16:48] nhcarrigan commented on #40907
@RandellDawson we should test what happens if we pass `skip_untranslated_files: false` and leave the others true - I am hoping that would result in a 100% approved file being downloaded, and a partially translated file being skipped. Then, that partially translated file is considered "untranslated" and the English source is provided instead.

@raisedadead I will go ahead and PR to copy the `englis

[2021-02-04 16:54] RandellDawson commented on #40907
@nhcarrigan I will test both your suggestion and mine to see the differences.

[2021-02-04 16:54] ojeytonwilliams commented on #40907
Yes and no.  If we can get *all* the files from Crowdin, defaulting to translated when we want to, that's fine.  However, if we can't then we'll need to re-work how we build the translated curricula.

So, in a slight rush I asked Nick to wait.  However if we just want to test things out, it's fine to copy the English over to the Spanish for now.

How we handle things depends on precisely what we'l

[2021-02-04 17:27] LearnerSamuelX opened #40913 "Manipulating DOM element using JavaScript"
Based on my personal experience with FCC, I would suggest we should come up a learning section for DOM Manipulation using JavaScript in the JavaScript Algorithm chapter. Things like these:
[code]
Current curriculum puts strong focus on CSS Manipulation (very very important for static styling). But when it comes to reflecting UI through style changes, beginners might find it is hard to leap over th

[2021-02-04 17:59] ShaunSHamilton commented on #40913
Hello there,

Thank you, for taking the time to mention this. It has been discussed quite a bit, and is being worked on. However, no more lessons are being added to this version of  the curriculum. The next version is receiving the brunt of the educational development: https://www.freecodecamp.org/news/python-curriculum-is-live/

The above article mostly outlines the first step into the curriculum

[2021-02-04 17:59] #40913 closed

[2021-02-04 19:18] ShaunSHamilton opened #40915 "Use the .env File Challenge Issue"
For more coverage, I am opening this here:

Challenge: https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-the--env-file

As of <04/02/2021, a change has caused the above mentioned lesson to be uncompletable.

Error: `SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at /home/runner/boilerplate-express-2/node_modules/fcc-expr

[2021-02-04 19:35] M1ll3r commented on #40908
Hey Shaun. You are correct... it does not occur now. I had tested this
repeatedly just to be sure it was not something I was doing wrong. However,
I tested this today and it is no longer occurring. Not sure what to say...
:/

Thanks,
Preston

On Thu, Feb 4, 2021, 8:19 AM Shaun Hamilton <notifications@github.com>
wrote:

[2021-02-04 19:35] nhcarrigan opened #40916 "i18n: Certification Translations"
The certification files (`.yml`) have been uploaded to Crowdin for translation. However, the React Component itself does not use the translation helper for the text within the certification (such as `has successfully completed the freeCodeCamp.org`).

The component and `translations.json` files should be updated to allow this.

[2021-02-04 19:42] M1ll3r commented on #40908
Shaun... something to note. Just for curiosity sake, I went back and chose
the prior challenge before the one in question (CSS Grid: Using Media
Queries). When I completed said challenge, it automatically calculates as
the entire CSS Grid challenge is 100% complete, even though there is one
additional challenge in the set. I am not sure if this is due to already
completing the entire challenge and

[2021-02-04 19:49] nhcarrigan commented on #40915
Doing some triaging here, it looks like the error originates from the `/_api/use-env-vars` route, which is defined in our [custom express package](https://github.com/freeCodeCamp/fcc-express-bground-pkg/blob/master/index.js).

[2021-02-04 21:21] lasjorg commented on #40915
Not really sure what is going on, as far as I can tell it's trying to JSON.parse a redirect link (for both `/_api/json` and `/_api/use-env-vars` routes).

Line 33: `cb(d.toString(), req, res, r.headers);`

For me `d.toString()` === `<a href="https://basic-node-and-express-lib-test.lasjorg.repl.co/json">Temporary Redirect</a>`

[code]

It's the same for the callback in `/_api/use-env-vars`.

[2021-02-04 21:45] nhcarrigan commented on #40915
That is likely a change in repl.it's functionality, then.

I'll test this on another host and see what I get.

[2021-02-04 22:26] ShaunSHamilton commented on #40908
Hey Preston,

Thank you, for doing that. Glad to hear it is working for you again.

the entire CSS Grid challenge is 100% complete, even though there is one
additional challenge in the set. I am not sure if this is due to already
completing the entire challenge and moving on to the Responsive Web Design
Projects

This is the designed and expected behaviour. So, no worries there.

I am going to clo

[2021-02-04 22:26] #40908 closed

[2021-02-05 05:15] soumalyatheking22012001 commented on #40772
I think NO button is needed; it just gives an essence of having a choice and being in control.

[2021-02-05 05:17] soumalyatheking22012001 commented on #40772
I was thinking if I could overall make an improvement to the UI. Like adding a green color to the YES button and red or grey color in NO button. It just makes a lot of ease having colors in buttons

[2021-02-05 05:17] #40916 closed

[2021-02-05 05:44] #39728 closed

[2021-02-05 16:31] nhcarrigan commented on #40903
@RandellDawson are you okay with removing the comments entirely? If so, this could be opened up to first timers.

[2021-02-05 16:36] RandellDawson commented on #40903
@nhcarrigan From just this challenge?

[2021-02-05 16:37] nhcarrigan commented on #40903
Yes.,

[2021-02-05 16:44] nhcarrigan commented on #40907
Catching up on the conversation in chat...

I pulled down the `i18n-sync-learn` branch, changed the `is-audited` and `allLangs` values to allow the espanol curriculum, and ran a development build. It looks like we've configured Crowdin correctly to send down source files for incomplete translations - I had no build errors this time and was able to explore the curriculum.

I think this is safe to c

[2021-02-05 16:44] #40907 closed

[2021-02-05 16:50] bedwardvedicci opened #40928 "Giving some respect to people of faith, "Rosetta Code" section"
### issue
**In the "Code Interview Prep" section, "Rosetta Code", there is a challenge named _"9 billion names of God the integer"_, this may be something normal for atheists, but not for people of faith, as the name of this challenge is addressing the integer as a God, and that is not accepted by "people of faith", i understand it is just a naming of a challenge, but still, the challenge should b

[2021-02-05 16:54] nhcarrigan commented on #40915
I'm able to replicate these issues on Glitch as well.

[2021-02-05 17:00] nhcarrigan commented on #40915
![image](https://user-images.githubusercontent.com/63889819/107064520-7329c180-6790-11eb-9a7c-caaed935d983.png)

Interestingly enough, if I throw the code up on my VPS, I'm able to get a successful query from the `/_api/use-env-vars` route that the test hits (this route crashes repl.it and glitch both).

[2021-02-05 17:15] ieahleen commented on #40928
Just to summary the situation, the Rosetta challenges come from rosettacode.org

this algorithm can be found here:
https://rosettacode.org/wiki/9_billion_names_of_God_the_integer

and it is inspired by the short story "The Nine Billion Names of God" by Arthur C. Clarke
https://en.wikipedia.org/wiki/The_Nine_Billion_Names_of_God

[2021-02-05 17:26] ShaunSHamilton commented on #40915
@nhcarrigan Which browser/s did you see this kind of behaviour on? I am now wondering if some change in internet protocol (probably the completely wrong term , but 🤷‍♂️ ) has caused this. That is, a Chromium change?

[2021-02-05 17:28] nhcarrigan commented on #40915
This was on Chrome. I can also test on Firefox Dev edition.

[2021-02-05 19:03] #39284 closed

[2021-02-05 19:22] TawfikYasser opened #40930 "Fixing redirect link"
**Describe your problem and how to reproduce it:**

The problem is when click on this [link](https://chat.freecodecamp.org/contributors) in `/tools/contributor/` directory to open
[contributor's chat room](https://chat.freecodecamp.org/contributors) link is not valid and go to `404` page.

**Add a Link to the page with the problem:**

[Link](https://github.com/freeCodeCamp/freeCodeCamp/tree/main/t

[2021-02-05 19:24] nhcarrigan commented on #40930
Thank you for catching this - I'm opening this up to first timers to replace the link in the README.md file.

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/tools/contributor/README.md

[2021-02-05 19:25] TawfikYasser commented on #40930
Thanks, Can i fix it?

[2021-02-05 19:27] nhcarrigan commented on #40930
Go for it!

If you have not done so already, we recommend reviewing our [contributing guidelines](https://contribute.freecodecamp.org).

[2021-02-05 19:28] TawfikYasser commented on #40930
Okay, @nhcarrigan Thanks a lot, I will do that.

[2021-02-05 20:09] moT01 opened #40932 "[contribute.freecodecamp] Typo in translating docs"
Looks like a typo or something in the [Translating a Curriculum File](https://contribute.freecodecamp.org/#/how-to-translate-files?id=translation-best-practices) docs:
![Screen Shot 2021-02-05 at 2 04 33 PM](https://user-images.githubusercontent.com/20648924/107083506-5b1b6780-67bb-11eb-93ca-46a29d387484.png)

Maybe a missing closing tag or something, I didn't look at the file.

Also, if you click

[2021-02-05 20:31] nhcarrigan commented on #40932
The link itself is incorrect, and is fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/40806

The rendering thing is strange, though - the current file on `main` doesn't have any spacing issues on that line:

[code]

[2021-02-05 20:43] nhcarrigan commented on #40932
![image](https://user-images.githubusercontent.com/63889819/107087050-b8a9b700-67af-11eb-884b-ae831f1703b7.png)

This also doesn't repro locally for me - I'm wondering if this is some funky stuff with GH Pages?

[2021-02-06 02:15] nhcarrigan commented on #40928
As ieahleen mentioned, this challenge is a reference to Rosetta Code, which is a reference to the 1953 science fiction story by Arthur C. Clark.

[2021-02-06 02:15] #40928 closed

[2021-02-06 02:23] nhcarrigan commented on #40892
So I spun up a GitPod instance using the link on our README:

Encountered no errors:
![image](https://user-images.githubusercontent.com/63889819/107106166-23beb200-67df-11eb-9326-586a3a24d758.png)

Visited `/learn`, refreshed the page. Visited a couple of Python challenges. Visited settings, toggled a few. Could not get any errors to generate.

[2021-02-06 06:42] jdwilkin4 opened #40940 "Typo in FCC News article called API Cheatsheet"
**Describe your problem and how to reproduce it:**
Hi There!

There is a typo in the API Testing Tools section of the [ API Cheatsheet article](https://www.freecodecamp.org/news/what-is-an-api-and-how-to-test-it/)

It says POSTWOMAN / HOOPSCOTCH
But it should be Postwoman/Hoppscotch

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/news/what-is-an-api-and-how-to-test-it/

[2021-02-06 06:44] nhcarrigan commented on #40940
It looks like the author capitalised all of those image headings.

@scissorsneedfoodtoo would you mind taking a look at this when you have time?

[2021-02-06 06:52] jdwilkin4 commented on #40940
Yeah they capitalized all of them except for Rest-assured.

I liked the article though. :)

[2021-02-06 09:36] #40930 closed

[2021-02-06 10:25] raisedadead commented on #40932
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/commit/8a42bbdf62405aa68431fd4d25ae7ec545f5ad16.

[2021-02-06 10:25] #40932 closed

[2021-02-06 14:53] ShaunSHamilton commented on #40892
@nhcarrigan The errors are from the browser console?

[2021-02-06 15:33] nhcarrigan commented on #40892
In the browser console, I get lots of:
<details>
<summary>WillRecieveProps is deprecated</summary>

![image](https://user-images.githubusercontent.com/63889819/107122534-17713e00-684d-11eb-8faa-b427bb156708.png)

</details>

<details>
<summary>AdBlocker at work?</summary>

![image](https://user-images.githubusercontent.com/63889819/107122592-68813200-684d-11eb-9a68-654b03281684.png)

</details>

[2021-02-06 15:42] ShaunSHamilton commented on #40892
The google stuff, yes. The `socket.io` errors are specific to GitPod's setup, and I have brought it up with them, because it affects debugging through things like the Redux DevTools

---

From main, when I open it in GitPod (only navigated to `/`):
![image](https://user-images.githubusercontent.com/51722130/107122807-d8b1a700-6891-11eb-8af9-503b2386a917.png)

Any ideas why it might just be my side

[2021-02-06 15:51] nhcarrigan commented on #40892
Kilometrage may vary? 😅

I'm not sure - I'll poke around at it this weekend and see if I can repro.

[2021-02-06 16:02] jb-larriviere commented on #40738
@moT01 good point

@ShaunSHamilton that's fine by me !

[2021-02-06 16:11] ShaunSHamilton commented on #40738
Excellent.

Then, I am opening this up to _first-timers_. What needs to be done is as mentioned in the OP:

That is, the description of the challenge should not mention Campers as having learnt about `null`.

---

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues t

[2021-02-06 16:36] #39582 closed

[2021-02-06 18:02] TawfikYasser opened #40947 "Fixing redirect link to contributors chat room"
**Describe your problem and how to reproduce it:**

The problem is when click on this link in `/docs/how-to-setup-freecodecamp-locally.md` directory to open
contributor's chat room link is not valid and go to `404` page.

**Add a Link to the page with the problem:**

Problem link [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/how-to-setup-freecodecamp-locally.md#getting-help)

[2021-02-06 18:13] nhcarrigan commented on #40947
Should be resolved in #40806

[2021-02-06 18:15] TawfikYasser commented on #40947
So should i close my pr ?

[2021-02-06 20:22] nhcarrigan commented on #40896
So I don't disagree that these would benefit from more clarity - however:

Doing so would deviate from the original challenges - is that something we're okay with? What's the ultimate intent behind incorporating these in freeCodeCamp's curriculum?

[2021-02-06 22:52] moT01 commented on #40896
The clarity of these challenges isn't what this issue is for. To try and be more clear, this would take the existing challenges and slightly restructure them so that they can't be passed by just returning a number. So that's the intent, to make it so you can't pass them with code like:
[code]

So instead of having (hypothetical) instructions like "return the 10th number in the sequence" - they mig

[2021-02-07 09:22] raisedadead opened #40969 "DevOps - Umbrella thread for our IaC"
### This thread serves as an umbrella discussion for our Infrastructure as Code.

**Note:** _We will be limiting comments here to encourage detailed discussions in the spin-off threads. This thread will remain a location to kick off additional tasks for our ongoing work on our IaC_

Broadly we manage the below pillars of our platforms. Our goal is to create the IaC for all of these eventually.

1.

[2021-02-07 09:36] raisedadead opened #40970 "DevOps - Terraform: Using `cdktf` or `HCL` for our IaC"
We are testing two approaches for using terraform as a part of #40969

  - Paradigm 1: `cdktf` ([`hashicorp/terraform-cdk`](https://github.com/hashicorp/terraform-cdk)), to synthesize terraform config files.
  - Paradigm 2: Use [Terraform Language (HCL)](https://www.terraform.io/docs/language/index.html) to natively write terraform config files.

`cdktf`:

Started some implementation in https://gi

[2021-02-07 09:36] raisedadead commented on #40970
Both paradigms have their pros and cons. I am personally not biased against one over the other, after having testing both for a few weeks now.

There is no harm in using both of the paradigms for different parts of the stack too. As we gain experience, we would be preferring one over the other and it is fairly straight to convert one approach to other over time.

Feel free to ask me about differen

[2021-02-07 09:44] raisedadead commented on #40969
Discussion on the tools for our IaC: **Terraform: Using `cdktf` or `HCL` for our IaC: https://github.com/freeCodeCamp/freeCodeCamp/issues/40970**

[2021-02-07 10:12] gikf commented on #40915
I believe I've found what's happening, although not fully sure *why*.

Long story short - request send from ie. `/_api/use-env-vars` to the relevant `/json` route uses http, what results in (repl.it?) trying to redirect to https. I don't know how up to date this information is, but I've found posts that `http.request` doesn't follow redirects on it own.

https://github.com/freeCodeCamp/fcc-express

[2021-02-07 12:42] Sembauke commented on #40873
@raisedadead I have a fix for the entire issue now

[2021-02-07 13:35] ShaunSHamilton commented on #40873
@Sembauke You have not yet opened a PR referencing this issue, but looking at your current linked commit, it is not quite what we want. The reply above:

That means, the element should be indexable, just not when it is not acting as a button. However, we have not yet decided on whether to leave the element as a button and alter its tab properties, or to change the element to something like a `div`

[2021-02-07 16:06] nishchay-suteri opened #40971 ""Add this certification to LinkedIn Profile" Shows Wrong Month in LinkedIn"
**Describe the bug**
When Adding the Certificate to LinkedIn using the "Add this certification to LinkedIn profile" Button in "/certification/{USER_NAME}/{CERTIFICATE_NAME}, shows one month less than the month in which the Certificate was Issued.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /certification/{USER_NAME}/{CERTIFICATE_NAME}
2. Click on Add this certification to LinkedIn

[2021-02-07 16:47] #40947 closed

[2021-02-07 17:11] ShaunSHamilton commented on #40915
This popped up on the forum and reminded me that this is not the first time we are seeing this error on Glitch: https://forum.freecodecamp.org/t/basic-node-and-express-use-the-env-file-get-error-cannot-set-headers-after-they-are-sent-to-the-client/405090

@gikf Thank you, for the thorough debugging. I am not disagreeing with what you found, but I do not understand why the protocol would be unsecur

[2021-02-07 17:24] raisedadead commented on #40892
Quick sanity check: have you seen any of this on the staging site?

[2021-02-07 17:29] #40891 closed

[2021-02-07 18:25] ShaunSHamilton commented on #40892
@raisedadead No, I have not seen these on staging.

The only errors I get on staging are:
- Algolia complaining
- `www-widgetapi.js:629 Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('https://www.freecodecamp.dev').` - on a Python challenge

I am happy closing this, and just keeping an eye out, if

[2021-02-07 19:45] vkWeb opened #40975 "(fCC/news): Clicking on a link that directs to a heading should take us to the expected position on the article"
**Describe the bug**
Markdown (or HTML) allows us to link to a particular heading in a article. When that link is clicked, the browser takes us to the expected position.

For example, when we open [this link](https://github.com/freeCodeCamp/freeCodeCamp#contributing), we go to the "Contributing" heading position.

This is **not** the case with fCC/news. We should fix this.

This came in light when

[2021-02-07 20:38] imrishabh18 commented on #40975
Hey @vkWeb! I would like to take up this issue.

[2021-02-07 21:10] gikf commented on #40915
After some more digging, there seem to be relation between what `req.protocol` is showing, using proxy and having `trust proxy` setting set or not in express - http://expressjs.com/en/api.html#req.protocol. With the option set `req.protocol` is `https` as expected.

[2021-02-07 22:04] YagneshP opened #40976 "Drum Machine Demo Project : ".drum-pad" elements moves from the position while clicking on "E" and "D" named drum-pad elements"
**Describe your problem and how to reproduce it:**
In the drum machine example project while clicking on element "E" and element "D" the positions of the other elements are getting changed from their original position

**Add a Link to the page with the problem:**
[Codepen Link of Freecodecamp Drum Machine Project](https://codepen.io/freeCodeCamp/full/MJyNMd)

**Tell us about your browser and opera

[2021-02-07 22:15] ShaunSHamilton commented on #40975
@vkWeb Thank you, for opening this.

Looks like it is a misplaced few misplaced words, and this link:
`https://www.freecodecamp.org/news/building-a-data-science-curriculum-with-advanced-math-and-machine-learning/#donate-to-the-2021-data-science-curriculum-pledge-drive`

Should be changed to:
`https://www.freecodecamp.org/news/building-a-data-science-curriculum-with-advanced-math-and-machine-learni

[2021-02-07 22:34] ShaunSHamilton commented on #40976
Thank you, for taking the time to open this.

I am unable to reproduce this in the same browser. Do you have any browser extensions enabled with access to the site?

[2021-02-07 23:19] YagneshP commented on #40976
Yes! I have

[2021-02-08 00:59] nhcarrigan commented on #40975
I have updated the link in the article. Thank you @vkWeb for reporting, and @ShaunSHamilton for the fix. 🙂

[2021-02-08 00:59] #40975 closed

[2021-02-08 02:44] scissorsneedfoodtoo commented on #40912
Thanks for bringing this to our attention @danielcaballero88. I was able to find the original content and updated the stub we had.

You should be able to go to https://www.freecodecamp.org/news/logistic-regression-the-good-parts-55efa68e11df/ and read the full article now.

[2021-02-08 02:44] #40912 closed

[2021-02-08 02:56] scissorsneedfoodtoo commented on #40940
Thanks for bringing this to our attention, @jdwilkin4. I just went through and fixed that typo and capitalized the headings based on each product/project's landing page.

Please let us know if you notice anything else :)

[2021-02-08 02:56] #40940 closed

[2021-02-08 04:24] #40859 closed

[2021-02-08 05:01] RandellDawson commented on #40976
@YagneshP Try disabling your browser extensions temporarily while viewing the Demo project and let us know if that fixes the issue.

[2021-02-08 07:03] vkWeb commented on #40975
@ShaunSHamilton Ohh yes you are right. Nice catch there.

@nhcarrigan Thanks for the quick fix :smile:. There's one more link at the bottom that points to the wrong place, let us update that as well:

![issue](https://i.imgur.com/eURcVhW.png)

[2021-02-08 07:28] #40866 closed

[2021-02-08 07:47] #40738 closed

[2021-02-08 07:49] raisedadead commented on #39804
Will not need this anymore.

[2021-02-08 07:49] #39804 closed

[2021-02-08 07:54] raisedadead commented on #40976
As a quick note, you can also try opening the challenge in an incognito window (which disables all extensions by default).

[2021-02-08 11:10] Sembauke commented on #40873
I'll leave it for discussion for now then! :)

I'll leave it for discussion for now then! :)

[2021-02-08 11:48] ojeytonwilliams commented on #40970
I'm interested.  At first glance, it looks like the cdk is still under development and likely to be less well supported than the HCL

vs

for the cdk.

That makes me wonder if we should just focus on the HCL and not worry about the cdk. That's just my first impression, though. What is about the cdk that makes you think it's worth trying out?

[2021-02-08 11:58] ojeytonwilliams commented on #40896
Sounds like a good plan.  If we do change to instructions like "return the nth number in the sequence", I think it would help to add "where n is <= `<the original number>`'  Reason being, it would be frustrating to run into timeouts and fail when your algorithm is correct, if not quite fast enough.

[2021-02-08 14:02] nhcarrigan commented on #40975
Thank you - I've fixed that one as well.

[2021-02-08 14:11] #40397 closed

[2021-02-08 14:16] raisedadead commented on #40970
Optimism actually. You write TypeScript (JavaScript) & progress on the project is quite good actually. I think they will have a way to unit test things too soon.

[2021-02-08 14:19] kelvinsanchez15 opened #40997 "Staging/i18n: Navbar menu is not wide enough in the spanish version"
**Describe the bug**
The navigation menu is not wide enough to display the text "Inicia sesión para cambiar el tema." in the spanish version of the site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/espanol/
2. Click on 'Menú'
3. See display bug

**Expected behavior**
The text shouldn't be trimmed.

**Screenshots**
![image](https://user-images.githubuser

[2021-02-08 14:35] moT01 commented on #40896
I don't mind adding something like that to the instructions. Although, it kind of seems like that might be more on us to just not write tests that exceed the number. Either way works.

[2021-02-08 16:04] YagneshP commented on #40976
@RandellDawson @ShaunSHamilton Yes, issue is fixed after disabling extension. Can you please give information why it was happening?

[2021-02-08 16:16] ShaunSHamilton commented on #40976
@YagneshP Glad to hear the issue is fixed on your side.

Typically, browser extensions (e.g. ad-blockers) work by injecting the current webpage with its own JavaScript. This script can do almost anything on the page including altering the styling of elements - which is why an adblocker is able to _"hide"_ ads on the page.

Unfortunately, sometimes other content on a webpage is affected, even when

[2021-02-08 16:16] #40976 closed

[2021-02-08 16:18] kelvinsanchez15 opened #40998 "Staging/i18n: Project and certificates titles are untranslatable on settings page"
**Describe the bug**

freeCodeCamp aims for all of its content to be translated, but the project titles that appear in the sections "certifications" and "legacy certifications" of the user settings page are not translated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/espanol/settings
2. Sign in
3. Scroll down to 'Certifications'
4. See untranslated strin

[2021-02-08 16:19] nhcarrigan commented on #40998
These titles are currently grabbed from a config-generated file. It's on the roadmap for how to translate but still being discussed. 🙂

[2021-02-08 16:41] raisedadead opened #40999 "Certification has nav and does not render correctly when night mode is active"
Reference URL: <https://www.freecodecamp.dev/espanol/certification/nhcarrigan/responsive-web-design>

Navbar on espanol

![image](https://user-images.githubusercontent.com/1884376/107251413-50cac900-6a5a-11eb-936d-1794d7bd5bd3.png)

Night mode active:

![image](https://user-images.githubusercontent.com/1884376/107251611-8a033900-6a5a-11eb-856d-c29d858be589.png)

[2021-02-08 16:41] ojeytonwilliams opened #41000 "Certificate translation"
Currently we have a single url that a user can visit to prove that they have earned a certificate.

[code]

With the ongoing i18n effort, we want to let users see their certifications in their own languages. However, we need to decide where all these translations of the certs are going to live. Do we

- want to maintain one per language? e.g. `https://chinese.freecodecamp.org/certification/<userna

[2021-02-08 16:50] nhcarrigan commented on #40999
To expand:

Donation component also breaks on night mode:
![image](https://user-images.githubusercontent.com/63889819/107252903-a4053300-69ea-11eb-9eb3-8234a81e7081.png)

[2021-02-08 17:04] raisedadead commented on #41000
How about this:

Say, we have a dedicated service that is rendering (server-side) the certs at:

[code]

This way we can address some of the pain points and issues we have had over the years:

1. Server-side rendering enhances the authenticity.
2. It's a unique non-changing URL.
3. We render the cert in English at all times.
4. Users are able to add a query param to get a version that the like.

[

[2021-02-08 17:12] Sembauke commented on #40999
I would like to work on this

[2021-02-08 19:01] raisedadead opened #41003 "Challenge completion status renders on new-line"
![image](https://user-images.githubusercontent.com/1884376/107268390-110ddc80-6a6e-11eb-9aa1-c0898508fb78.png)

[2021-02-08 20:02] ahmadabdolsaheb commented on #40999
<img width="1440" alt="Screen Shot 2021-02-08 at 11 02 37 PM" src="https://user-images.githubusercontent.com/4591597/107274652-bff7eb80-6a61-11eb-8d7e-7de4a5fc3185.png">

[2021-02-08 21:16] Sembauke commented on #41003
Does this look better @raisedadead ?

[2021-02-09 05:51] #40999 closed

[2021-02-09 07:15] raisedadead commented on #40997
We would need to adjust the text to be short enough to be within the width. It's inevitable that we could be handling the width for the differences in each language that we support.

To make this easy we are looking into a visual translation widget that should help you translate with context on the website, as an overlay. We will let you everyone know when that is available.

Until then we would n

[2021-02-09 07:19] raisedadead opened #41009 "Cypress tests broken or flaky?"
https://github.com/freeCodeCamp/freeCodeCamp/runs/1861028611#step:10:419

/cc @freeCodeCamp/dev-team

[2021-02-09 08:46] raisedadead opened #41011 "MongoDB driver errors on console"
We have been getting new errors since updating the mongodb drivers to `3.6.4`

[code]

Related reports: https://developer.mongodb.com/community/forums/t/top-level-use-of-w-wtimeout-j-and-fsync-is-deprecated-use-writeconcern-instead/15501

[2021-02-09 08:51] raisedadead commented on #41011
Context for anyone investigating this:

We use the mongodb driver configs in two indirect places:

**1. In the loopback configs**

https://github.com/freeCodeCamp/freeCodeCamp/blob/827bcfaaa2c71f12bc52a4c660e7213c2c426caf/api-server/server/datasources.production.js#L4-L11

The above config while primarily in the `production` context for Loopback is also derived into the local context:

https://git

[2021-02-09 09:25] njtnestor commented on #41011
Im getting the same error/warning conecting loopback 4 with mongo atlas

[2021-02-09 09:33] raisedadead commented on #41011
While this may be a genric that you are facing, please note we are reserving this thread for discussions related to this repo's issue and upgrade path only.

[2021-02-09 09:42] ojeytonwilliams commented on #41009
This works perfectly locally.  I ran `cypress-repeat run -n 50 --spec "cypress/integration/learn/challenges/output.js"` without any problems.

All of the tests are a bit on the long side (~3000ms), so possibly we just need to wait longer.

[2021-02-09 09:49] raisedadead commented on #41009
Cool. Do we also want to enable flaky runs on Cypress? It's a new feature they have added recently.

[2021-02-09 09:54] ojeytonwilliams opened #41012 "Footer appears on /espanol challenges"
**Describe the bug**
Unlike chinese.freecodecamp.dev and www.freecodecamp.dev the www.freecodecamp.dev/espanol challenges show the footer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/espanol/learn/javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data
2. Scroll down
3. See footer

**Expected behavior**

[2021-02-09 09:59] ojeytonwilliams commented on #41012
Sorry, this looks like it was fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/41005

[2021-02-09 09:59] #41012 closed

[2021-02-09 10:09] ojeytonwilliams commented on #41009
Yep, I think so.  We'll probably need to rewrite a few tests, but I've created https://github.com/freeCodeCamp/freeCodeCamp/pull/41013 so we can see.

[2021-02-09 10:37] akat1978 commented on #41011
I am getting the same error using latest docker image of mongodb

Loopback 4

package.json dependencies
`"dependencies": {
    "@loopback/authentication": "^7.0.5",
    "@loopback/authentication-jwt": "^0.7.5",
    "@loopback/authorization": "^0.7.5",
    "@loopback/boot": "^3.1.2",
    "@loopback/core": "^2.14.0",
    "@loopback/repository": "^3.4.0",
    "@loopback/rest": "^9.1.2",
    "@loopbac

[2021-02-09 11:43] ShaunSHamilton commented on #40695
As this looks like a simple fix, I have opened this up to first timers.

It appears the word _:root_ is just missing  backticks (`): https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-css/inherit-css-variables.md

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created

[2021-02-09 13:55] RandellDawson opened #41015 "i18n as related to the Ask for Help on Forum link"
As we are now rolling out the curriculum in Chinese and Spanish, we need to think about how to get the `Ask for Help` button to work for the two languages.  Currently, when the button is clicked, the user is taken to the English forum (https://forum.freecodecamp.org) where a pre-populated topic message (in English) is displayed for the user to fill in with relevant information.

These topics are d

[2021-02-09 14:38] kelvinsanchez15 commented on #40997
I get it, I will suggest a shorter translation in Crowdin that fits within the available space of the menu.

[2021-02-09 15:00] kelvinsanchez15 opened #41016 "Clicking the 'donate' link in the navbar menu does not redirect to the spanish version of the page"
**Describe the bug**
If you are in the spanish version of freeCodeCamp, clicking the 'donar' (donate) link in the navbar menu redirects you to the english version of the donate page and not the spanish translated one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/espanol/
2. Click on 'Menú'
3. Click on 'Donar'
4. See how it opens https://www.freecodecamp.

[2021-02-09 19:22] #41003 closed

[2021-02-09 19:33] Aanandgupta opened #41019 "Redirecting in new tab in readme.md"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There are many links in readme would it be a better option to redirect user in new tab
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The links such as that in certification section it would

[2021-02-09 19:53] Aanandgupta opened #41020 "Implementing Backdrop when menu is been displayed for mobile devices"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It would be nice user experience if we add backdrop while displaying menu for mobile devices.

**Additional context**
Add any other context or

[2021-02-09 20:20] RandellDawson commented on #41019
This issue does not appear to be related to freeCodeCamp's repo, so we are closing it at this time.  If you can explain how this related to freeCodeCamp, we could consider reopening this issue.

Thank you

[2021-02-09 20:20] #41019 closed

[2021-02-09 20:20] RandellDawson commented on #41020
This issue does not appear to be related to freeCodeCamp's repo, so we are closing it at this time.  If you can explain how this related to freeCodeCamp, we could consider reopening this issue.

Thank you

[2021-02-09 20:20] #41020 closed

[2021-02-09 23:33] nhcarrigan opened #41024 "i18n-Launch: Links to Block Pages"
Currently, links to block pages do not exist. This issue is multi-part:

## Repository Readme

The `README.md` file currently contains the links to the old block pages. These links should be updated (ideally to new block links, but for now a link to the superblock is fine).

These old links will also need to be redirected, possibly.

** Resolved in #41045 **

## Block Views

The old block view pag

[2021-02-09 23:34] #41016 closed

[2021-02-09 23:37] nhcarrigan opened #41025 "i18n-launch: Certificate Path"
The English and Chinese certificate paths point to the correct location.

The Espanol certificate paths point to the English URL. I believe this is caused by the `external` attribute here: https://github.com/freeCodeCamp/freeCodeCamp/blob/0a7278774eee83a8b8056f2a89a0d353104a574b/client/src/components/profile/components/Certifications.js#L40-L57 but have not triaged yet.

[2021-02-10 00:00] nhcarrigan commented on #41015
So the Chinese links work correctly, because the Chinese forum is hosted at a different domain (which is passed in to the `forumLocation` environment variable).

For Espanol, as it currently stands the category comes from the `helpCategory` value returned by the `challengeMetaSelector`.

[2021-02-10 00:02] nhcarrigan commented on #40903
We are opening this issue up to first timers.

Please review our [contributing documentation](https://contribute.freecodecamp.org) if you are interested in working on this issue.

For clarity's sake: The consensus is to remove the helper comments from this challenge's seed entirely.

[2021-02-10 00:12] nhcarrigan opened #41026 "i18n-Launch: Certificate Date not Translated"
![image](https://user-images.githubusercontent.com/63889819/107445547-866ec100-6af1-11eb-9b22-8756cf95a62d.png)

This value is dynamically generated - not sure how we should best go about translating it.

[2021-02-10 00:51] nhcarrigan commented on #40867
Related #41000

[2021-02-10 01:36] kelvinsanchez15 opened #41027 "i18n-Launch: Challenge tabs are untranslated on mobile/smaller screens"
**Describe the bug**
When you enter a challenge using a mobile device, the tabs below the main header are displayed with untranslated text

**To Reproduce**
Steps to reproduce the behavior (mobile device):

1. Go to https://www.freecodecamp.org/espanol/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
2. See untranslated tabs below the main header

**Expected behavior**
T

[2021-02-10 01:49] RandellDawson opened #41028 "Bug: Clicking on credit card button on Chinese donate page results in an Invalid API Key error"
When on the [Donate page of the Chinese site](https://chinese.freecodecamp.org/donate/), the button does not appear to do anything when clicked and results in a 401 error (see below).

![image](https://user-images.githubusercontent.com/5313213/107452763-08b5b000-6b07-11eb-8343-581a9dc18061.png)

[2021-02-10 01:50] nhcarrigan commented on #41028
I believe that's a deployment thing - @raisedadead could you confirm?

[2021-02-10 01:55] RandellDawson opened #41029 "Algolia 404 error showing in console when Spanish home page loads."
When the [Spanish home page](https://www.freecodecamp.org/espanol) loads, I see an Algolia 404 error.

The English and Chinese home page do not appear to have this error.  I also test incognito on Chrome and the error still persists.

![image](https://user-images.githubusercontent.com/5313213/107453509-5a126f00-6b08-11eb-9656-3403ef37288b.png)

[2021-02-10 02:02] nhcarrigan commented on #41029
When I trace the network request, I get:

[code]

[2021-02-10 03:35] nhcarrigan opened #41031 "i18n-Launch: Optimise Meta Tags for Superblocks"
Creating an issue so this does not get lost...

The meta tags for each super block page (i.e. https://www.freecodecamp.org/learn/responsive-web-design) should be optimised to improve our SEO.

These pages should also be removed from our no-index settings (the challenge pages should remain).

[2021-02-10 04:26] NAbdikodirov commented on #10100
var myNoun = "dog";
var myAdjective = "big";
var myVerb = "ran";
var myAdverb = "quickly";

// Only change code below this line
var wordBlanks = "My " + myAdjective + " " + myNoun + " " + myVerb + " " + myAdverb + "."; // Change this line
// Only change code above this line

[2021-02-10 04:26] NAbdikodirov commented on #10100
I believe it helps!

[2021-02-10 04:54] LearntoCodeQuickly opened #41032 "i18n-launch: Feedback on New UI Design"
Saw the forum post about the UI updates and thought I would share some feedback.

From a design perspective I think the recent changes to the menu and curriculum  have increased the UI a bit but decreased the UX a bit.  Couple of notes on my personal user experience which may or may not be useful insights to the designers:

1. I liked having the "Curriculum", "Forum", and "Profile" at top.  Now th

[2021-02-10 04:56] nhcarrigan opened #41033 "i18n-launch: SolutionForm disallowing Python projects"
![image](https://user-images.githubusercontent.com/63889819/107466407-cb5a1e00-6b18-11eb-9b5c-c159bd441e24.png)

Included in the i18n launch was PR #40225 which added validation that campers are submitting the link to the live URL for their backend projects. This is great for the Node.js projects, but has broken the ability to submit Python projects.

This should be adjusted to pull the Python pro

[2021-02-10 07:35] #41027 closed

[2021-02-10 07:36] raisedadead commented on #41028
Thanks pushing a fresh build.

[2021-02-10 07:47] raisedadead commented on #41029
I think this is something that @scissorsneedfoodtoo can confim.

[2021-02-10 07:50] raisedadead commented on #41024
The introduction on the README, for freecodecamp is a bit outdated IMHO as well.

[2021-02-10 08:32] ojeytonwilliams commented on #41032
Hey @LearntoCodeQuickly thanks for this incredible feedback.  This kind of detailed, thoughtful critique is exactly what we need to keep improving the site.

I won't weigh in with my opinions just yet (UX isn't my strongest suit), I just wanted to thank you for taking the time to write this.

[2021-02-10 08:38] #41028 closed

[2021-02-10 09:03] ahmadabdolsaheb commented on #41032
@LearntoCodeQuickly, thank you for the detailed feedback.

We have added a few more items to the navigation to help users get around easier. More items require more vertical real-estate. That is the main reason behind the collapsable vertical navigation. For the next iteration we could  identify a group of navigational items that are most used and only collapse them in smaller screens. Also, it mi

[2021-02-10 09:10] ojeytonwilliams commented on #41024
The parser only touches .md files in the curriculum/challenges folder, so it will not be affected.

[2021-02-10 09:45] ShaunSHamilton commented on #41033
Sorry about that, I am getting right on it.

This completely slipped my mind.

[2021-02-10 09:48] Aanandgupta opened #41035 "Forum option missing for mobile devices."
Forum option missing for mobile devices. on news page https://www.freecodecamp.org/news/
Normally we have two options on the header but for mobile devices we have only one
You will better understand the issue going through the images attached

![Screenshot (133)](https://user-images.githubusercontent.com/71023799/107492906-f85b0f00-6bb2-11eb-8506-3184baecc004.png)

![Screenshot (135)](https://user

[2021-02-10 09:52] ojeytonwilliams commented on #41033
Thanks Shaun, let me know if I can help.  While you're doing that, I'll put together some tests to make sure we don't recreate this bug.

[2021-02-10 09:54] Aanandgupta commented on #41020
I was trying to say that  while we display our nav-bar we can add a backdrop behind  it.Same as in the image i have attached

[2021-02-10 10:05] ShaunSHamilton commented on #41033
@ojeytonwilliams A test or 2 would be ideal 👍

[2021-02-10 10:20] raisedadead commented on #40821
Closing as shipped please open fresh issues as needed.

[2021-02-10 10:20] #40821 closed

[2021-02-10 10:22] #40258 closed

[2021-02-10 10:23] raisedadead commented on #41035
I believe this was intentional to save real-estate on news. @ahmadabdolsaheb could you weigh in.

[2021-02-10 10:39] Sembauke commented on #41031
I already found this page indexed in Google

[2021-02-10 11:31] #41033 closed

[2021-02-10 11:34] #39020 closed

[2021-02-10 11:35] #40724 closed

[2021-02-10 11:36] #40685 closed

[2021-02-10 12:20] scissorsneedfoodtoo commented on #41029
Thanks for catching this @RandellDawson. It seems like the search index name got changed somewhere along the line from news-es to noticias.

I'll work on getting those index names out of there to prevent this in the future.

[2021-02-10 12:25] Fewwy opened #41039 "SASS Curriculum: Create Reusable CSS with Mixins - Missing links"
**Describe your problem and how to reproduce it:**
Missing Relevant Links

**Add a Link to the page with the problem:**
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-create-reusable-css-with-mixins/301455/1

**Recommended fix, suggestions (how would you update it?):**
I would add these 2 to the relevant links:
https://www.w3schools.com/cssref/css3_pr_border-radius.asp
https://www.w

[2021-02-10 12:37] #41039 closed

[2021-02-10 12:45] ilenia-magoni opened #41040 "edge case in which it should fall-back on username from name in showing cert"
If there is no name set in the settings, doesn't matter if name is public or private, instead of falling back to username, it gives an error and certificate is not shown

[2021-02-10 12:47] Fewwy commented on #41039
Hello @ShaunSHamilton
I'm sorry that I chose bad "spot" for creating this issue.
Next time I will keep that in mind :)

[2021-02-10 13:05] ShaunSHamilton commented on #39925
I am going to close this, for now.

Reason: The specific challenge mentioned does not experience this, anymore, and is/was _AFAIK_ the only one experiencing any issue with `removeJSComments`. So, unless this pops up again in _new_ challenges, nothing will need to be done here.

[2021-02-10 13:05] #39925 closed

[2021-02-10 13:15] ShaunSHamilton commented on #41040
I assume the best UX is for a note to appear, if the Camper tries to set `name` to public, without having first set `name` to something.

[2021-02-10 13:26] ieahleen commented on #41040
the error appears also if name is not set and set to private - certificate does not appear saying that one has to put a name (I'm adding this on top message too)

[2021-02-10 13:28] Sembauke commented on #41040
Picture
![Screenshot_5](https://user-images.githubusercontent.com/46919888/107516147-44568580-6bac-11eb-98e8-119e81c01249.jpg)

[2021-02-10 14:35] moT01 commented on #41025
I tried looking into this. Here's what I see on the espanol site:
![img](https://user-images.githubusercontent.com/20648924/107523443-561f3500-6b7a-11eb-9b46-bc25f15dd78c.png)

The code and the rendered element look nearly identical, but the hover URL that shows up at the bottom of the browser window isn't correct for the top link.

This doesn't seem easy to reproduce locally so it makes it tough

[2021-02-10 15:30] #40892 closed

[2021-02-10 15:31] nhcarrigan commented on #41024
I'll push a couple of PRs to resolve this today.

[2021-02-10 16:45] ieahleen opened #41044 "boilerplate links for backend challenges has gone missing"
the introduction page that was removed had the link to the boilerplate, now those links are not in the curriculum

already a few people that reached that point today have shown confusion

[2021-02-10 16:57] ShaunSHamilton commented on #41044
To add:
Here is the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/pages/learn/apis-and-microservices/managing-packages-with-npm/index.md

It seems only some of the paragraphs is taken: https://www.freecodecamp.org/learn/apis-and-microservices
![image](https://user-images.githubusercontent.com/51722130/107543283-fbf59280-6bc0-11eb-8a8a-cf66821ee3f2.png)

I agree - very con

[2021-02-10 17:00] ShaunSHamilton commented on #41024
@nhcarrigan Is this related: #41044 ?

[2021-02-10 17:04] nhcarrigan commented on #41024
Indirectly. I'll comment there too.

[2021-02-10 17:05] nhcarrigan commented on #41044
I'm not sure that the links should go in those intro paragraphs. I'm thinking instead that we add them to the first challenge within the superblock.

[2021-02-10 17:38] supzi-del commented on #40903
Hey, can I take this up? I'm a newbie, so can someone walk me through it?

[2021-02-10 18:41] #41029 closed

[2021-02-10 18:55] RandellDawson commented on #40903
@supzi-del Make sure to look at the link provided by @nhcarrigan above to get started.

[2021-02-10 19:27] gikf commented on #39132
While investigating what needs to be changed to implement this, I've confirmed that with all projects in the legacy section are linked with (submitting one submits another) either challenge in `Take Home Projects` or project in current curriculum.

In one case this linking doesn't really point to the same project. In `Legacy Front End` project `Stylize Stories on Camper News` is linked with the `B

[2021-02-10 22:04] jdwilkin4 opened #41053 "Further explanation needed for Hack No.4 from 10 CSS Hacks Every Web Developer Should Know"
**Describe your problem and how to reproduce it:**
I think it is unclear how Hack No.4 actually works. The author should provide more details.
When I tried to google .single-post css, I only received results related to WordPress.
If this is something that only works for WordPress, than the author should clarify that.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/1

[2021-02-11 04:29] giaduc777 commented on #41053
Yeah I have already check too, didn’t find anything “.single-post” related to CSS. It looks like “.single-post” is just a custom CSS class that you would add to the single page that you want to modify.

[2021-02-11 05:04] jdwilkin4 commented on #41053
I also posted this question in the forum and a user said that it was used in WordPress. So I think the author needs to clarify that because it would only be considered a css hack within the context of WordPress. But if you are not working with Wordpress than this hack doesn't really apply.

[2021-02-11 07:44] ChrisMOliva commented on #40997
What if you added a font size?

.nav-link-dull {
    color: var(--gray-45);
    **font-size: 75%;**
}

[2021-02-11 08:36] raisedadead commented on #41053
Hey @scissorsneedfoodtoo mind taking a look?

[2021-02-11 08:40] #41044 closed

[2021-02-11 10:39] Sembauke commented on #38569
@ahmadabdolsaheb

- Why don't we redirect the user to the honesty policy when the first course is completed? After that make the certification claimable on the curriculum page.
- Why not redirect the user to the login page if the user is not logged in and just completed one of the courses?

This should already remove most of the unneeded error messages and elements that are displayed in the superb

[2021-02-11 10:44] raisedadead commented on #38569
One of the philosophies that we believe in is to be able to go through the curriculum (but not claiming a cert.) without creating an account. You can be an anonymous learner. We do not need your data (email, name, etc.) unless you want us to have it for awarding a cert.

[2021-02-11 11:05] CreaTorAlexander commented on #40903
This issue is closed right?

[2021-02-11 11:14] supzi-del commented on #40903
Not yet.

[2021-02-11 11:40] Sembauke commented on #38569
I understand,

I think my first statement is still valid. If the user is logged in (I don't know if the user has to be logged in to accept the honest policy) Why not directly move them to the honest policy (when the course is completed) with a notice that they are about to enter the certification part of the current course and recommend to log in to be able to claim the certification?

[2021-02-11 16:13] #40903 closed

[2021-02-11 17:28] ahmadabdolsaheb commented on #41035
Thanks for bringing this to our attention. We are discussing a few improvements for the news navigation and having a more functional mobile navigation is one of them.

I will discuss our options with the team and reply with updates.

[2021-02-11 17:41] ahmadabdolsaheb commented on #40997
We could avoid this particular issue altogether if we persist the user's choice on the browser as discussed in #36819 which we will be focusing on in the upcoming weeks.

[2021-02-11 18:00] raisedadead commented on #40997
I think you and us are talking about different things?

The query here is the text on a label (could be a button, link, menu item etc.) does not fit the width, when translated.

This is more of a generic issue.

Anyways, here is an integration with Crowdin that we are currently exploring
https://support.crowdin.com/enterprise/in-context-setup

[2021-02-11 18:22] #40825 closed

[2021-02-11 19:46] ahmadabdolsaheb commented on #38569
Here is the current user journey for the user to claim their certification.
1. Enter the  the link to last project, click on  'I have completed this challenge'
2. See progress modal 100%, click on 'submit ...'
3. See Donation modal, click 'maybe later'
4. land on the first project of the next certificate (this is confusing)

If we don't mind showing a third modal, I think we can have one after the

[2021-02-11 19:57] Sembauke commented on #38569
Fun idea to add a confetti animation after completing a course. I also recommend showing the donation model after completing the course.

What if the user is able to claim the certificate inside the confetti-course-completion widget?

[2021-02-11 20:05] ahmadabdolsaheb commented on #38569
We could have the cert claimable if all requirements are passed.
If the user visits settings or claim and visit cert we will not be able to show the donation modal with relevant info. Therefore, donation modal need to come first.

Additionally, we might need to research what an optimal flow would be regardless of what we are offering currently.

[2021-02-11 20:20] Sembauke commented on #38569
I don't really understand what you mean by: "showing a donation modal with relevant info" ?

[2021-02-11 20:26] Aanandgupta opened #41060 "A bug while signing in and then signing out"
When we sign in successfully a URL is generated if we copy that URL and then logout
and then we just directly paste the URL we are heading to the page which says that we have been signed up successfully
![Screenshot (141)](https://user-images.githubusercontent.com/71023799/107694308-38b2ae00-6cd5-11eb-99e8-118cd8924f83.png)

[2021-02-11 20:33] Aanandgupta opened #41062 "Fixing css to enhance the redability for user"
In email signup page text is not structured refer to that attached images
If we add
"div class="intro-description" style="
    padding:0 15px;
""
it would look much good
Before & after images

![Screenshot (142)](https://user-images.githubusercontent.com/71023799/107695523-bc20cf00-6cd6-11eb-90ad-b96153701e78.png)

![Screenshot (138)](https://user-images.githubusercontent.com/71023799/107695704-f8

[2021-02-11 20:48] Aanandgupta opened #41063 "Background Gif not displayed for mobile devices"
![Screenshot (143)](https://user-images.githubusercontent.com/71023799/107697019-ae6c4900-6cd8-11eb-8a7b-147bb585bf02.png)
In the radio page https://coderadio.freecodecamp.org/
The Background gif is not displayed for mobile devices we could have scaled that gif for mobile devices but don't know for what reason its been hidden

[2021-02-11 21:20] ShaunSHamilton commented on #38569
@Sembauke I understand the issue to be: Unless a Camper is donating, a modal containing a reminder about donating pops up every few challenges (5, I think).

So, with the current workflow, there is a conflict at step 2 (summarised this https://github.com/freeCodeCamp/freeCodeCamp/issues/38569#issuecomment-777745309):
1) Finish 5 projects, and submit
2) Donation modal appears (action must be taken

[2021-02-11 21:38] Sembauke commented on #38569
That is a great idea Shaun. I understand an other modal popping up could be annoying.

Ps- After reading so many different messages in this discussion I get a bit lost.

[2021-02-11 23:46] ShaunSHamilton commented on #41063
Hello there,

Thank you, for taking the time to open this. There is actually a separate repo for the Code Radio: https://github.com/freeCodeCamp/coderadio-client

Also, this was a specific design choice, in order to reduce the data consumption on mobile devices.

As this is not an issue, I am closing this 😃

[2021-02-11 23:46] #41063 closed

[2021-02-12 10:01] #41026 closed

[2021-02-12 10:48] manziEric commented on #41062
can i work on this ? i'm a first time contributor

[2021-02-12 12:45] raisedadead commented on #41060
Not sure what URL you are talking about, please report issues filling the detailed template that you are presented with when opening an issue.

[2021-02-12 13:01] RandellDawson commented on #41060
@raisedadead The user means if you sign in successfully you get the message "Success! You have signed in to your account. Happy Coding!" at the top of the page.  The url is `https://www.freecodecamp.org/learn/?messages=success%5B0%5D%3Dflash.signin-success`.

If you signout and paste the above url back in (not sure why someone would do this), you are still logged out, but the message  "Success! Yo

[2021-02-12 13:02] #36819 closed

[2021-02-12 13:06] raisedadead commented on #41060
Thanks for clarifying.

The query param should ideally be stripped off once the message is displayed to avoid this confusion. Nonetheless I do not see why a user would actually copy paste the URL.

In any case the behavior is by design to render the message on the client.

Going to close.

@Aanandgupta let us know if you have further queries.

[2021-02-12 13:06] #41060 closed

[2021-02-12 13:49] Aanandgupta commented on #41060
Thank you
Totally agreed almost nobody would be doing so but still
"The query param should ideally be stripped off once the message is displayed to avoid this confusion. "
this is what I was also thinking would be better
@raisedadead
@RandellDawson

[2021-02-12 13:52] Aanandgupta commented on #41035
I was not knowing that improvement is going on that news navigation and taught that bringing it to you would be helpful.

[2021-02-12 13:55] Aanandgupta commented on #41063
I taught that was done mistakenly so raised the issue thinking it would be helpful.
Thank You for clarifying

[2021-02-12 14:00] JoshuaPelealu commented on #40998
I want to pitch in on this, because I really liked the i18n idea. It's probably best to leave the Title in English, but include the translated version in parentheses beside it. So it would look like this.
![image](https://user-images.githubusercontent.com/45566099/107777391-c3fd6500-6d10-11eb-8a7b-1afc12aef581.png).

I'm just trying to suggest an idea here....

[2021-02-12 14:13] ahmadabdolsaheb commented on #38569
We do have a block completion donation modal that pops up after every 100% block completion and has a congratulatory message regarding the recently completed block.

I thought about that, but the project submission from the completion modal needs happen before showing certification info.

[2021-02-12 14:24] RandellDawson commented on #39828
@RJamesMaier Our current goal is to include at least one practice project to teach the basics of TypeScript in the v7 curriculum.

[2021-02-12 15:24] moT01 opened #41083 "Standardize icon sizes on map"
This is pretty minor, and may be fine to just leave. The icons are causing the buttons on the map to be different sizes:

![Screen Shot 2021-02-12 at 9 18 04 AM](https://user-images.githubusercontent.com/20648924/107786352-6880a680-6d13-11eb-867c-b3de8ffa2ef4.png)

The first highlighted button is larger than the second highlighted button, even though there's more text on the second one. Seems like

[2021-02-12 15:39] nhcarrigan commented on #40998
Hey @JoshuaPelealu,

I believe our goal is to have 100% translation parity - a camper visiting the Spanish site should see everything in Spanish.

[2021-02-12 15:41] nhcarrigan commented on #41083
Yeah I'm pretty sure it's the icons too.

[2021-02-12 15:55] Sembauke commented on #40764
I am not able to reproduce this bug locally or on GittPod.

[2021-02-12 16:08] ojeytonwilliams commented on #40764
Thanks for investigating, @Sembauke.  At it's heart it's a timing issue, so, depending on the speed of your connection and the speed of clicks, you may or may not see it.

Here's what happens when I try it on https://www.freecodecamp.dev/settings (the final step is a reload to show that the last button click overrode all the others)

![ClickClick](https://user-images.githubusercontent.com/15801806

[2021-02-12 16:11] nhcarrigan commented on #40764
Just throwing ideas out there, but I wonder if we could disable all of those setting buttons in the click handler, then enable them after the API response comes back 200.

[2021-02-12 16:14] RandellDawson commented on #40764
@Sembauke To simulate the slow connection, you can got to the Network tab under Chrome Developer Tools and select Slow 3G and easily recreate the issue described above.

[2021-02-12 16:58] raisedadead commented on #40764
We do not need to do anything with the UI. We just need to debounce the call. Here is a an article that might help understand the concept: https://www.freecodecamp.org/news/debounce-and-throttle-in-react-with-hooks

[2021-02-12 17:00] ahmadabdolsaheb commented on #41083
It is the icons. We could increase the min height of the container as a quick fix;however, the optimal solution would be to have icons that occupy similar real estate: height and width.

There is a related umbrella issue for standardizing icons.

[2021-02-12 18:02] ojeytonwilliams commented on #40764
I'm not 100% convinced debouncing `toggleFlag` alone solves this. IYou'd end up with only the last click registering (i.e. more or less what you see in my gif).  We'd need to debounce multiple toggles of the same `flag` to avoid this.

I think we should also send single updates.  Rather than updating the entire profile when one button is clicked, we should only update that flag.  Combine that with

[2021-02-12 19:16] ahmadabdolsaheb commented on #41078
I am not sure how much interest there would be in creating visualizer, but in order to achieve that we should:
- have e2e tests in place to make sure added visualizers are not altering the app's main functionality(play, pause, change streams, change volr)
- have performance tests in place to make sure new visualizers don't exceed a certain limit.
- have the current visualizer and its css in one co

[2021-02-12 19:23] ahmadabdolsaheb commented on #41080
The bitrate is being adjusted based on the user's internet connection, and the volume is being saved in localstorage.

We could set a value in the localstorage on initial load so we could hide the cta based on that.  I cannot think of any other use case for now.

[2021-02-12 19:53] Aanandgupta commented on #41062
I didn't see the comment and pr you generated .

[2021-02-12 19:58] ShaunSHamilton commented on #41062
It is great that you are eager to contribute to the code base, but this issue/feature has not been triaged yet. So, no decision has been made as to the appropriate course of action - whether anything needs to be changed and how. This means PRs might not be needed, or changes are likely needing to be made to them.

---

An issue with the _help wanted_ or _first timers only_ label is open for contri

[2021-02-12 20:13] Aanandgupta commented on #41062
Thanks a lot for your guidance

[2021-02-12 21:25] ahmadabdolsaheb opened #41090 "Challenge titles should not be truncated."
I am not sure if this is by design, but I don't think it is necessary.

<img width="495" alt="Screen Shot 2021-02-13 at 12 20 17 AM" src="https://user-images.githubusercontent.com/4591597/107824018-ca7ff100-6d91-11eb-9ee7-c97a16de0577.png">

[2021-02-12 21:43] Ismailtlem commented on #41072
Hi,
Should PRs for Coderadio be pushed to freecodecamp/freecodecamp repo or to coderadio-client repo ?

[2021-02-12 21:45] nhcarrigan commented on #41072
The codebase is still located on the coderadio-client repository. All PRs to modify the code radio client should go there.

The issues were moved to this repository to allow all of our codebase issues to be in one place.

[2021-02-13 02:12] ShaunSHamilton commented on #39719
I believe I have narrowed this down to having been broken by the introduction of the multifile editor:
- _ShowSettings.js and children expect `completedChallenges[].files` to be an array_
- This is what `completedChallenges` is, if an HTML challenge is completed:
[code]

This is from `gatsby-node.js`:
[code]

@ojeytonwilliams This does not look like a quick fix, as I see two options:
1) Refactor t

[2021-02-13 19:19] petzi53 opened #41095 "Restrict possible usernames: a wrong solution passes challenge"
**Describe your problem and how to reproduce it:**
`let userCheck = /^[a-z][a-z]+\d*$|^[a-z].\d+$/i;`
passes the test and therefore allowing a username like "J%4" which is contradicting the first rule

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames

[2021-02-13 19:21] ShaunSHamilton commented on #40915
Thanks @gikf I followed most of your advice, just to get something out which might work for most.

I am still not sure what introduced this bug, and I doubt it is the last time we will see it.

[2021-02-13 21:36] lasjorg opened #41096 "Missing hex code value in Spanish language version of challenge"
challenge: https://www.freecodecamp.org/espanol/learn/responsive-web-design/applied-visual-design/learn-about-tertiary-colors
challenge: https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/learn-about-tertiary-colors

`orange #FF7F00`
`anaranjado #F7F00`

[2021-02-13 21:46] ShaunSHamilton commented on #41096
I have submitted a suggestion for this change on [Crowdin](https://freecodecamp.crowdin.com/translate/690087755819f2f67b26dbee3be0eb53/20456/en-esem/8?filter=basic&value=0)

_unsure if the link to what I want_

[2021-02-13 23:46] kelvinsanchez15 commented on #41096
Yes, that is the right place to suggest translations. It is already approved. So in the next merge it will be effective. Thank you.

[2021-02-14 00:22] Ne0nWinds opened #41097 "Dead Link in Curriculum (Install and Set Up Mongoose)"
**Describe your problem and how to reproduce it:**
1. Go to [this coding challenge](https://www.freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose)
2. Click on **Follow this tutorial**, which leads you to [this link](https://www.freecodecamp.org/news/get-started-with-mongodb-atlas/)
3. The link gives a 404 message

This link is important, because it's su

[2021-02-14 01:06] ShaunSHamilton commented on #41097
Hello there,

Thank you, for taking the time to open this.

It is related to this PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/40803 (I am not sure why the link leads to a 404)

@scissorsneedfoodtoo Ping

[2021-02-14 15:14] RafaelDavisH opened #41112 "Sign up / Sign in Page Localization"
The sign-in page is not translated into world languages.

[2021-02-14 18:52] jasper-schnabel opened #41115 "Applied Visual Design, Challenge 14 broken (Set the font-size for Multiple Heading Elements)"
The solution is only partially accepted and therefore the challenge cannot be solved.

![issue](https://user-images.githubusercontent.com/67754783/107886100-fcae6180-6efd-11eb-80ea-c8eed5f9f15a.png)

[Link](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements)

* Browser Name: Firefox
* Browser Version: 85.0.2
* Operating Sy

[2021-02-14 19:03] jasper-schnabel opened #41116 "Applied Visual Design, Challenge 16 broken (Set the font-size for Paragraph Text)"
The solution is not accepted and therefore the challenge cannot be solved.

![issue](https://user-images.githubusercontent.com/67754783/107886331-6aa75880-6eff-11eb-9c60-d9acf54690b2.png)

[Link](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/set-the-font-size-of-paragraph-text)

* Browser Name: Firefox
* Browser Version: 85.0.2
* Operating System: Archlinux

[2021-02-14 20:00] ShaunSHamilton commented on #41116
Hello there,

The challenge, and code passes for me. I have tested this in both Firefox, and Chrome. So, I assume the issue is potentially with something like a browser extension affecting the tests on the page. In this case, I suggest you disable browser extensions with access to `freecodecamp.org`.

In general, I recommend you open a topic on the [forum](https://forum.freecodecamp.org/), and onl

[2021-02-14 20:00] #41116 closed

[2021-02-14 20:11] ShaunSHamilton commented on #41115
Hello there,

As in the other issue opened, the challenge, and code passes for me. I have tested this in both Firefox, and Chrome. So, I assume the issue is potentially with something like a browser extension affecting the tests on the page. In this case, I suggest you disable browser extensions with access to freecodecamp.org.

In general, I recommend you open a topic on the [forum](https://forum

[2021-02-14 20:11] #41115 closed

[2021-02-14 21:19] gikf commented on #40877
Few of these are implemented as [tests](https://github.com/freeCodeCamp/boilerplate-project-secure-real-time-multiplayer-game/tree/master/tests) in the boilerplate code. Could that be used, similarly to other projects, with call to `/_api/get-tests`? Or do they need to be tested more directly from project page, when that's possible?

[2021-02-14 21:39] ShaunSHamilton commented on #40877
Typically, the `/get-tests` route offers the meta data associated with the state of the user-written tests (as you have mentioned). Unfortunately, this means Campers could just write `assert.equal(true, true);` for each test, and pass the user stories as well.

So, the tests need to be more direct, and specific for each user story. Essentially, `/get-tests` is only used in the user stories that ar

[2021-02-15 09:27] ClockworkOrange605 opened #41123 "Challenge Title CSS"
Some challenge titles are not fit a single line:

![freecodecamp_before](https://user-images.githubusercontent.com/4686891/107926565-eef0ee80-6f86-11eb-9df3-13013a336079.jpg)

So I think it would be helpful to add a wrap to a new line for a better perception of content:

![freecodecamp_after](https://user-images.githubusercontent.com/4686891/107926581-f2847580-6f86-11eb-8037-42a02a879797.jpg)

[2021-02-15 10:06] ShaunSHamilton commented on #41123
Hello there,

Thank you, for taking the time to open this. However I am closing it as a Duplicate of #41090

For future reference, before opening a PR for an issue, it is best to let the issue be triaged first by a member. Then, once a course of action is determined, and the issue is opened for contribution, then open a PR.

[2021-02-15 10:06] #41123 closed

[2021-02-15 10:25] ShaunSHamilton commented on #38569
@ahmadabdolsaheb Can we combine this and #40873 to make the _"widget"_ a button which brings up a _Claim Certification  with Check_ modal?

[2021-02-15 12:00] rtpHarry opened #41125 "Certification page display issues - background and bottom padding"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
There is some display issues with the certification page, for example:

 - The background is set to height 100% which means it cuts off at strange places depending on the browser size.
 - There is no spacing at

[2021-02-15 12:04] rtpHarry opened #41126 "z-index clash on notification bar vs menu"
**Describe the bug**
The notification bar has a higher z-index than the menu, making portions of it inaccessible without dismissing a notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Set your profile to private
2. Attempt to view your certificates
3. After the notification appears, open the menu
4. See error

**Expected behavior**
I reported this on the forums where [it was sugg

[2021-02-15 12:22] trifonas-hash opened #41127 "Data Analysis with Python / Jupyter Notebooks / Twitter Cheat Sheet Broken Link"
**Describe your problem and how to reproduce it:**
In Data Analysis with Python there are lessons about Jupyter Notebooks. And on the bottom side of the videos there are some useful links. The last one is a link to Twitter posts that contain various tips, commands etc for Jupyter.
Well, that link doesn’t work anymore (I think the lesson was made in like March 2020).

**Add a Link to the page with

[2021-02-15 12:29] 2ndemosthenes opened #41128 "Wrong color on Basic CSS course"
**Describe your problem and how to reproduce it:**
In the basic CSS course, the test shows an error about the color being wrong even though in the preview everything is right.

I have tried it on multiple browsers but the problem persists.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/responsive-web-design/basic-css/use-css-selectors-to-style-elements

https://w

[2021-02-15 12:38] ShaunSHamilton commented on #41128
Hello there,

Thank you, for  taking the time to open this. In general, I recommend opening a topic on the [forum](https://forum.freecodecamp.org/), in order to debug.

In your current screenshot, I can see you have a dark extension enabled. This is directly changing the CSS of the page which will affect the tets. Please disable all browser extensions with access to `freecodecamp.org`.

Once you d

[2021-02-15 12:44] 2ndemosthenes commented on #41128
Thank you very much!
I tried the forum but I couldn't find the answer there.
I disabled the extension and it works fine now.

[2021-02-15 12:44] #41128 closed

[2021-02-15 14:36] ahmadabdolsaheb commented on #40808
Related: #41035

The news nav as simple as possible to direct the users to the learn platform through the banner.

Adding more items to the mobile nav would require adding a collapsable menu item, and since we are leaning towards exposing the donate button on all screen sizes, there would not be enough space on the nav menu for two nav items and a full logo.

I will be closing this issue for now;

[2021-02-15 14:36] #40808 closed

[2021-02-15 14:37] ahmadabdolsaheb commented on #41035
Closing with https://github.com/freeCodeCamp/freeCodeCamp/issues/40808#issuecomment-779262032

[2021-02-15 14:37] #41035 closed

[2021-02-15 15:24] sondregi opened #41130 "No image at coding challenge "Add a Text Alternative to Images for Visually Impaired Accessibility""
**Describe your problem and how to reproduce it:**
No image at coding challenge

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility

**Tell us about your browser and operating system:**
* Browser Name: Brave
* Browser Version: V1.20.103
* Operating System:

[2021-02-15 15:26] sondregi opened #41131 "No image at coding challenge "Know When Alt Text Should be Left Blank""
**Describe your problem and how to reproduce it:**
No image at coding challenge

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank

**Tell us about your browser and operating system:**
* Browser Name: Brave
* Browser Version: V1.20.103
* Operating System:  MacOS Big Sur v11.1

**If pos

[2021-02-15 15:33] RandellDawson commented on #41131
@sondregi The image not loading is by design.  See the following sentence in the challenge description:

When an image does not load (for any reason), you still want to have an `alt` text to describe the image.

I am closing this as a non-issue.  If you feel this needs to be discusses further, please request it to be reopened.

[2021-02-15 15:33] #41131 closed

[2021-02-15 15:35] RandellDawson commented on #41130
Duplicate of issue #41131, so closing.

[2021-02-15 15:35] #41130 closed

[2021-02-15 15:43] ahmadabdolsaheb commented on #41032
After a slit drop on the forum signups, I believe we should go ahead and add links to our other platfroms in the nav for larger screens.

[2021-02-15 17:01] sondregi commented on #41131
Haha, I'm sorry. I need to read full description 😂

[2021-02-15 19:32] jdwilkin4 opened #41132 "Regex should accept https and http"
**Describe your problem and how to reproduce it:**
I was assisting a camper on the forum for this lesson and they said they couldn't pass the test. They said they copied the solution exactly from the video but the video is wrong. It uses a different url than the challenge. I think it would be best to remove it so campers are not confused.

**Add a Link to the page with the problem:**
https://www.f

[2021-02-15 20:29] RandellDawson commented on #41132
The second test's assert is:
[code]

I would not mind changing the regex to allow `http` or `https` in order to not remove the video link.

[2021-02-15 21:24] ShaunSHamilton opened #41133 "Convert JSON Data to HTML regex typo"
Challenge link: https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/convert-json-data-to-html

Code that fails:
[code]
Code that passes:
[code]

Issue: `assert(code.match(/html\s+?(\+=|=\shtml\s\+)/g));`

Correction: `assert(__helpers.removeWhiteSpace(code).match(html(\+=|=html\+))`

Challenge file: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/e

[2021-02-15 21:26] ShaunSHamilton commented on #41133
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-02-15 21:33] jdwilkin4 commented on #41132
Hi @RandellDawson !

I think that could work.
But now that I think about it, would it be easier to just remove the s completely from the http.
That way the video matches up exactly with the challenge and if the user makes a mistake elsewhere in the code we don't also yell at them for the incorrect url.

Just a thought :)

Thanks!

[2021-02-15 22:20] RandellDawson commented on #41133
It would need to be `__helpers.removeWhiteSpace`

[2021-02-15 23:10] RandellDawson commented on #41132
Honestly, we should have never used `http` as you should never link to `http` anymore because of SEO and security for your site's users.  I think leave it `https` but accept `http` or `https`.

[2021-02-15 23:46] M0hanad0 opened #41135 ""Combine Arrays with the Spread Operator" bug"
**Describe your problem and how to reproduce it:**
I was solving the **"Combine Arrays with the Spread Operator"** challenge in the _Basic Data structures_ course in the **JavaScript Algorithms and Data Structures Certificate**.

[code]

Here is the code I've submited

**Add a Link to the page with the problem:**
[Challenge link](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-st

[2021-02-16 02:24] jdwilkin4 commented on #41132
Sounds good

[2021-02-16 05:52] scissorsneedfoodtoo commented on #41097
Thanks for catching this @Ne0nWinds, and for the ping @ShaunSHamilton.

There was an issue with the article's slug on News/Ghost. I just fixed it, so the link should work now.

Will close this issue, but please let us know if you notice any other issues in the curriculum.

[2021-02-16 05:52] #41097 closed

[2021-02-16 06:54] manakwadhwa2002 commented on #41126
We can change the z index of the menu so that it appears over the notification or we can resize the notification when the menu is opened using js and css

[2021-02-16 07:12] manakwadhwa2002 commented on #41125
@rtpHarry Sir,
Can you please share the link of the css file for [this](https://github.com/freeCodeCamp/freeCodeCamp/blob/5539dbf086a69390170824cf79be0b6e4a326c12/client/src/client-only-routes/ShowProjectLinks.js) file.

[2021-02-16 09:55] scissorsneedfoodtoo commented on #41053
Thanks for reporting this @jdwilkin4, and for your input @giaduc777. I also think that this section could have used some clarification.

It seems like the whole `.single-post .entry-title` method refers to WordPress, but the way it was used in the article wasn't exactly right. Seems like if you did that, then it would modify all styling for all single post pages.

I went ahead and rewrote this sec

[2021-02-16 09:55] #41053 closed

[2021-02-16 10:37] ShaunSHamilton commented on #41125
@ahmadabdolsaheb Should this be something resolved using a `Spacer` component, or via CSS?

Also, are there any other aspects of this which could do with re-arranging/styling?

[2021-02-16 11:09] ahmadabdolsaheb commented on #41125
@ShaunSHamilton, yes some spacers at the bottom should do the trick. Other than the issue @rtpHarry mentioned regarding the sections running together, i cannot think of anything else.

P.S the donation element on the top of the certification should be reviewed after the fix.

[2021-02-16 11:57] ahmadabdolsaheb commented on #38569
Here is the the user journey that I think would make the most sense at this point. Feel free to leave your feedback.

#### Current
- User enters the solution on the project form and clicks on button
- User sees a completion modal and click submit
- User is taken to the next superblock’s first project challenge.
- User is shown a donation Modal and closes it.
- User searches for how to claim a free

[2021-02-16 12:03] ThornDuke opened #41136 "Create a Hash Table - a logic error?"
The challenge I refer to is:
https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-hash-table

- Browser Name: Firefox
- Browser Version: 85.0 64bit
- Operating System: Linux Mint

-----

The remove method

The remove method that passes the test is

[code]

But this method deletes **all key-value pairs associated with a certain hash**, not just the key-value pair passed

[2021-02-16 12:16] ShaunSHamilton commented on #41125
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-02-16 12:18] ahmadabdolsaheb commented on #41126
Although this is not a bug, it could definitely be optimized.

It seems like the only way  we could have the UI react this way would be by opening the menu after the flash message has been displayed.

So the user sees the the flash message and chooses to ignore it and open the navigation.

I think the user should be able to see the full nav in that situation. What do you think @ShaunSHamilton?

[2021-02-16 12:43] ahmadabdolsaheb commented on #41079
Other than turning the play/pause into a button element and the small issue mentioned in the lighthouse report, I think we should be good.
<img width="1148" alt="Screen Shot 2021-02-16 at 3 41 40 PM" src="https://user-images.githubusercontent.com/4591597/108064292-83ce1780-706d-11eb-8485-212c50594e19.png">

[2021-02-16 13:00] ShaunSHamilton commented on #41126
@ahmadabdolsaheb I could go either way. At the end of the day, the notification is not going anywhere, until the Camper closes it.

I do not think changing this is as simple as increasing the `nav` `z-index`, as it is already set to 1000. So, I am happy for this to be opened up for _help wanted_.

[2021-02-16 14:06] moT01 commented on #41135
I could not reproduce this on Firefox, Safari or Chrome on High Sierra - or Firefox on Ubuntu. Want to give it another try @M0hanad0? To see if it's still a problem. Maybe with another browser.

[2021-02-16 15:17] ShaunSHamilton opened #41138 "Certificate Project Modal Bug"
When trying to view a solution to the JS Algorithms section on the certificate: https://www.freecodecamp.org/certification/sky020/javascript-algorithms-and-data-structures
[code]
Appears to be related to the introduction of the `t` library/function.

I am looking into resolving this.

[2021-02-16 16:02] gikf commented on #40877
How does this look? Four tests which are called separately, but still need to rely on some initial boilerplate code. https://github.com/gikf/freeCodeCamp/commit/028cbeab2e7992026e4d8ed653c0a382965fa6ad

I agree it would be better to be able to test it completely from outside, limit ways somebody can fool tests and be able to call tests one-by-one. I don't know however if that's possible.

[2021-02-16 16:27] #41133 closed

[2021-02-16 16:35] ShaunSHamilton commented on #40403
Related:
- If a certificate is claimed
- Timeline setting is set to private
- Viewing certificate results in project links not being shown

I would expect either:
- Certificate becomes disabled
- Project Links section is replaced with a message explaining why solutions are not visible
- Project Links section is hidden

[2021-02-16 22:43] RafaelDavisH opened #41142 "i18n: Donate button on Spanish news links to English donate page"
from Español news page clicking the 'donar' button will redirects to an English version donation page.

This issue happens for mobile and desktop.

[2021-02-16 22:46] RafaelDavisH commented on #41142
https://user-images.githubusercontent.com/6822714/108131147-b70ca880-7065-11eb-82ee-ca33aca1e6c8.mp4

[2021-02-17 00:32] JoshuaPelealu commented on #41135
As @moT01 said, I have tried this in Firefox, Firefox Dev Edition, Chrome and I cannot reproduce the problem. Try refreshing your cache, or maybe disable some extensions.

[2021-02-17 00:49] JoshuaPelealu commented on #41126
I think where the notification is already where it is at, it's a notification, and it should attract the user. It also have an element to dismiss it, when needed.
But to improve this, I would suggest making the notification bar have a timeout function where it would dismiss itself after a certain amount of time. This could be easily implemented and would help the user be able to access the higher

[2021-02-17 01:00] JoshuaPelealu commented on #41127
It seems like the tweet is gone. When I check out the user, it looks like they do not have any tweets... They might have deleted their contents

[2021-02-17 01:11] JoshuaPelealu commented on #41095
It seems like the culprit is because the test does not check if the username is using legal characters like alphabet and a non alphanumeric in the middle of the username string.

[2021-02-17 01:47] JoshuaPelealu commented on #41095
I can take care of this...

[2021-02-17 02:58] Hery127 opened #41145 "Oppo CPH2139"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2021-02-17 04:17] #40858 closed

[2021-02-17 10:05] ShaunSHamilton commented on #41145
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-02-17 10:05] #41145 closed

[2021-02-17 13:04] ShaunSHamilton commented on #38569
I do not understand this section:

What is a 'certification card' ?

[2021-02-17 13:38] raisedadead commented on #41142
/cc @ahmadabdolsaheb

[2021-02-17 13:52] rtpHarry commented on #41125
@manakwadhwa2002 I'm not sure exactly what you mean, but looking on the page, there isn't an external file for the css, its embedded into the page.

It seems that unticking this will fix the design:

![image](https://user-images.githubusercontent.com/1038062/108213572-17afea00-7127-11eb-8444-94d0935eeaea.png)

Or alternatively setting it to min-height:

![image](https://user-images.githubuserconte

[2021-02-17 13:56] rtpHarry commented on #41126
I think it should just go over the top of it because in this case I was actually taking the suggested action of the notice bar - it said to go to my profile to make it public to view the certificate.

It's not a modal operation, it doesn't require me to take some action to continue using the site. I am free to ignore it, so it shouldn't impact any other aspects of my site usage. If I'm not free to

[2021-02-17 13:58] rtpHarry commented on #41126
Besides everything else, the thing that it blocks in the menu is the "donate" link, which considering the number of times I've been asked to become a member, seems like it is a high priority for visibility.

[2021-02-17 15:19] raisedadead commented on #41127
We should remove these links, @scissorsneedfoodtoo or @beaucarnes would either of you be able to create a news article that could be used here instead?

[2021-02-17 15:24] raisedadead commented on #41126
The nav menu should be the top most element and should show on top of that notification, which the user should dismiss later, when convenient to them.

[2021-02-17 15:26] ojeytonwilliams commented on #41138
Nice catch, Shaun.  We should create some tests to prevent regressions.

[2021-02-17 15:34] ahmadabdolsaheb commented on #41142
We would need to add a separate donation link for each language:
https://github.com/freeCodeCamp/news-theme/blob/be5fd6f1364342261e69e7ff118018ae68b50b77/locales/es.json#L20

[2021-02-17 15:37] raisedadead commented on #41142
I think we should be creating a **non-public** Crowdin project to configure it to be able to track these changes. @nhcarrigan or @RandellDawson if one of would you be interested (when you get time of course).

[2021-02-17 15:41] JoshuaPelealu commented on #41127
I can take care of removing the links, but should I wait until a new link is done, or should I get a pull request?

[2021-02-17 15:44] raisedadead commented on #41127
I would say, let's wait for either Beau or Kris to respond back. Thanks for your interest in making a PR, have been looking at some of your recent contributions. Thanks for your time and keep up the good work!

[2021-02-17 15:46] #41095 closed

[2021-02-17 15:46] nhcarrigan commented on #41138
Commenting here for contributors:

The bug was resolved in #41139 - however we would still need to add tests to ensure this flow is validated in our CI.

[2021-02-17 15:50] ShaunSHamilton commented on #41138
@ojeytonwilliams I keep meaning to create tests for a lot of my previous PRs. However, every time I get time to do it, I encounter issues with Cypress in GitPod - still a work-in-progress for certain workflows.

[2021-02-17 16:10] ahmadabdolsaheb commented on #41125
A solution that would target the `certificate-outer-wrapper` and its children is recommended to avoid unwanted changes to the other parts of the platform.

[2021-02-17 16:35] ahmadabdolsaheb commented on #38569
It is a pattern we use in the superblock page and landing page to group related information in a container.

ex. https://github.com/freeCodeCamp/freeCodeCamp/issues/38569#issuecomment-770375970

[2021-02-17 16:38] RandellDawson commented on #41142
This seems like more of something that should be handled by a config file instead of via Crowdin.  Why not put stuff like this in a config file?

[2021-02-17 16:40] LexDemonica opened #41150 "Certificate for Resposive web design cannot be claimed"
Hi there.
I just completed my responsive web design along with all of the projects and there doesn't seem to be a way for me to claim a certificate. All units and projects are marked as 100% complete. Alas no way to claim a certificate.

It may be just me overlooking something while being buried in the learning process. But i was really excited about that first certificate. Even without them the c

[2021-02-17 16:40] nhcarrigan commented on #41150
You need to go to your account settings to claim your certificate. Before you can do so, you also need to agree to the Academy Honesty Pledge.

To make your certificate appear in your profile, you need to have your profile set to public.

[2021-02-17 16:42] JoshuaPelealu commented on #41126
One fix I can see working is changing the z-index of the Flash itself into 900, and it will still be in front of everything else except for the header and menu.

[2021-02-17 16:42] LexDemonica commented on #41150
Signed the pledge and the profile is set to public. I still can't see anywhere to claim the cert

[2021-02-17 16:43] nhcarrigan commented on #41150
![image](https://user-images.githubusercontent.com/63889819/108236763-1d440a80-70fc-11eb-91c7-dc113b581c84.png)

Underneath the Academic Honesty Pledge you should see the certification sections.

[2021-02-17 16:44] LexDemonica commented on #41150
I knew i missed a spot thanks for sorting the noob out. much appreciated

[2021-02-17 16:44] #41150 closed

[2021-02-17 16:55] moT01 commented on #41062
I am fine with fixing this up in some way. I left a review on the PR with some thoughts.

[2021-02-17 16:59] raisedadead commented on #41127
Hey @JoshuaPelealu, Beau says you can proceed with removing that link all together for now. We will add a new link in a later PR.

Thanks again for working on this.

[2021-02-17 17:06] JoshuaPelealu commented on #41127
Should the PR close this issue, or just let the issue stand until the later PR for the new links?

[2021-02-17 17:08] raisedadead commented on #41142
Correct - I missed stating the what I thought is the standard approach now on.

We need to put stuff that is non-translatable separate from the translatable bits, in most of our codebases that need i18n. Anything that is translatable should ideally be done on Crowdin.

We can begin by making a non-public project for such translation work before considering if it should go public at some point.

I

[2021-02-17 17:22] moT01 commented on #41032
Thanks for the feedback @LearntoCodeQuickly 🎉 Tip: if you are in a challenge, you can press escape then `n` or `p` to go to the next or previous challenge.

[2021-02-17 17:35] ojeytonwilliams commented on #41138
@ShaunSHamilton that's totally fine.  Having tests is always great, but I know that you have to work within the limits of your machine.

We just need to keep tracking spots (like this) where the testing is lacking. If we do, then contributors who'd like to help, but are not sure where, can always pick them up.

[2021-02-17 17:46] moT01 opened #41155 "Add i18n keys to ShowProjectLinks component"
This [ShowProjectLinks component](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/client-only-routes/ShowProjectLinks.js#L162) is mostly untranslated. Keys should be added to [the JSON files](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/english/translations.json) and used in the component so it can be translated. There's some [docs that may be helpfu

[2021-02-17 18:16] ahmadabdolsaheb commented on #41142
Sure. @scissorsneedfoodtoo since you have more experience with setting i18n for handlebars, what do you think is the best course of actions here. The translation files seem to be pre defined. Would saving all text phrases in the UI in one object work for the ghost theme?

[2021-02-17 18:22] Aanandgupta opened #41156 "Unexpected behaviour while updating settings"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.
While I was updating settings i noticed that when we select multiple buttons(that provides options of public or private) at a time
the switching of their styl

[2021-02-17 18:40] JoshuaPelealu commented on #41156
I can confirm that this is happening, while I wouldn't be to troubled about the styles, the problem goes deeper than that. After the styles does not appropriately change, it wouldn't let me change it, even if I try pressing it multiple times.
![image](https://user-images.githubusercontent.com/45566099/108251657-acb1e380-7125-11eb-8604-c314e529d9d5.png)

[2021-02-17 18:41] nhcarrigan commented on #41156
Hello there,

Thank you for reporting this. We are going to close this as a duplicate of #40764

[2021-02-17 18:41] #41156 closed

[2021-02-17 18:55] ahmadabdolsaheb commented on #40403
One of the main motives behind adding the project links to the cert is reducing fraud, so users should not have the option to hide their project.

We might need to add this as a pre-req for displaying the certifications similar to the way we handle academic honesty policy and name ..

[2021-02-17 22:01] ShaunSHamilton opened #41159 "SolutionForm Link Validators Discussion"
This issue is to specifically discuss further implementation of: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/formHelpers/FormValidators.js

The current validators check for:
- [x] Repl editor links (e.g. `https://repl.it/@Sky020/some-project`)
- [x] Glitch editor links (e.g. `https://glitch.com/edit/#!/some-project`)
- [x] Codesandbox editor links (e.g. `https://co

[2021-02-18 01:41] JoshuaPelealu commented on #41159
It seems like that the Glitch 'join' links are discontinued but there is still a way around it (The way around would take you to open a terminal and echo the project token) So I don't think we have to worry too much on this link anymore AFAIK...

[2021-02-18 14:13] JoshuaPelealu commented on #41159
Another thing that's related, and needs to be fixed ASAP is that the fact that when you give the example projects for the Web Design Projects, it will accept it. This is not good. I was going to open a new issue, but it seems like it's related to this issue so I just put it here.

Anyways, here's a GIF of a project able to pass using the example project link.
![Project-Passes](https://user-images.

[2021-02-18 14:18] ahmadabdolsaheb commented on #38569
<img width="902" alt="Screen Shot 2021-02-18 at 5 09 00 PM" src="https://user-images.githubusercontent.com/4591597/108368980-1efcf380-720c-11eb-81af-52e5cb7e175c.png">

Here is what I have in mind for the certification card. We would probably just show the `Show certification` button after the certificate has been claimed.

I agree that incorporating the card into @moT01's widget would make it mor

[2021-02-18 14:38] moT01 commented on #38569
Might be my first thumbs down ever - it's a sarcastic thumbs down though. It's fine to get rid of my widget - I just liked it. This does look pretty good, I suppose.

[2021-02-18 14:47] raisedadead commented on #38569
We can have that widget replace this "card" when the cert is claimed? I kind of liked that too.

[2021-02-18 15:05] moT01 commented on #38569
Some side notes on our current flow that I just noticed: you don't actually need to have your timeline or certifications public to claim a cert. Also, setting your timeline to private doesn't actually disable your certs, this look like a bug - you can still view the cert.

[2021-02-18 15:06] ShaunSHamilton commented on #41159
@JoshuaPelealu Thanks for that. This has always been the case. This is what I meant with:

The main issue is Campers are editing the boilerplate link with their own code, and submitting it - forgetting to fork the project. Later, they try to view their project, but the code is gone, because they do not have write rights to the boilerplate.

[2021-02-18 15:07] nhcarrigan commented on #38569
Should it? I know the settings page *says it does*, but why? The timeline is the bit at the bottom, but the certificates would still be visible as buttons at the top. I'm wondering if that message should be removed, instead.

[2021-02-18 15:08] nhcarrigan commented on #41159
Rather than looking for specific project links from CodePen, wasn't there discussion somewhere about a blanket disallow on `codepen.io/freecodecamp`? Then we wouldn't have to maintain a config of example projects.

[2021-02-18 15:08] moT01 commented on #38569
That's certainly something we can discuss. I suppose if you hide your timeline, you perhaps intend to hide your submitted projects - which need to be visible for the certs?

[2021-02-18 15:09] ShaunSHamilton commented on #38569
@ahmadabdolsaheb I am alo _"thumbs down"_ in **approval**. That looks excellent.

I would like this too.

@nhcarrigan This is related here, I think: https://github.com/freeCodeCamp/freeCodeCamp/issues/40403#issuecomment-779957353

[2021-02-18 15:09] nhcarrigan commented on #38569
You'd also have to hide the actual certifications, tho - since we now have the projects showing up there.

[2021-02-18 15:12] moT01 opened #41171 "Private timeline doesn't hide certs"
The note on the settings page next to the `timeline` option says `"Your certifications will be disabled, if set to private."` But if you set your timeline to private, you can still view your certifications.

More discussion on the linked issue

[2021-02-18 15:13] ShaunSHamilton commented on #41159
@nhcarrigan Yes. This is one way to solve a problem. This would be quicker/easier.

However, I thought it could be easier/nicer to have one central file with all of the miscellaneous (spelt that right first time 😁 ) links to examples/boilerplates, which would be dynamically set into the pages.

[2021-02-18 15:16] nhcarrigan commented on #41159
Definitely - that would help with maintaining the links in general (single source of truth for the win). I think I'd still like to blanket-catch the freecodecamp account in the solution validation, though. What if we update a link and a camper finds + submits the old one?

[2021-02-18 15:20] ShaunSHamilton commented on #41159
Ah, decent point. Then, I will add this to the current PR, and we can continue discussing centralising links.

[2021-02-18 15:20] moT01 commented on #38569
I made [an issue] to move the discussion around the private timeline over there, but it might be related enough to just keep here.

[2021-02-18 15:31] moT01 commented on #41171
Continued from discussion on linked issue...

I think we would be fine to just remove the message next to the setting.

[2021-02-18 15:34] nhcarrigan commented on #41171
@ShaunSHamilton brought up a valid point [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/40403#issuecomment-779957353): If I make my timeline private, my project links also disappear from the bottom of my certificate.

Being someone who isn't terribly concerned with privacy settings (if I don't want it seen, I don't put it online) I'm not really understanding the use case for hiding my

[2021-02-18 16:16] JoshuaPelealu commented on #41159
So how are we approaching this problem?

[2021-02-18 16:26] ShaunSHamilton commented on #41159
@JoshuaPelealu I suspect some more discussion needs to be had about whether or not it is in our best interest to create a config of current links.

Ideally, we need to discuss implementation, as this would need to integrate with the Gatsby setup.

[2021-02-18 16:50] nhcarrigan commented on #41159
I'm wondering if that discussion should be a separate issue (since it no longer relates directly to the solution form).

[2021-02-18 16:54] ieahleen opened #41173 "Link to External Pages with Anchor Elements test is too permissive"
**Describe your problem and how to reproduce it:**
the challenge can be passed with an url like `href="https://freecatphotoapp.com."`, or `href="https://freecatphotoapp.com/stuuyuuufushtfgh"`

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements

**Suggestion:**
[code]

 - add anchors

[2021-02-18 16:57] nhcarrigan commented on #41173
I'd vote against this one, personally. The `http` vs `https` often trips up campers, but I think that's an important bit that calls attention to the fact that the protocol matters.

These I very much agree with and, provided no one disagrees, would gladly open this up to contributions.

[2021-02-18 16:58] ShaunSHamilton commented on #41159
@nhcarrigan Decent idea. I will open an issue for that specifically.

Then to close/not-close this issue, where do you stand on checking for `IPv4/v6` urls/addresses?

[2021-02-18 17:01] ieahleen commented on #41173
True, so maybe it warrants removing the video or changing it. In the video it clearly show the deleting of the `s` from `https` and folsk that follow the videos floods the forum asking why the video solution doesn't work

[2021-02-18 17:06] nhcarrigan commented on #41173
Huh the guide post is outdated too.

I'd be okay with one or the other:
- Remove video, update guide post, leave challenge as expecting `https`
- Keep video and guide post, modify challenge to expect `http`

But I do think we should allow only one protocol, and the other should fail.