[2019-03-30 01:54] chaomt commented on #17795
It seems this is already fixed in freeCodeCamp.rocks.

[2019-03-30 01:54] QuincyLarson commented on #35405
@hemakshis Thanks for your patience. Great questions.

We should keep the notification always fixed at the top of the viewport. Instead of adding another notification, we should have a subtle animation where the old notification goes away and the new notification appears.

These notifications shouldn't close until the user closes them.

Is that enough information for you to get started on this? Le

[2019-03-30 02:00] QuincyLarson commented on #34614
@karanbhomiagit Ah - thanks for pointing this out. Yes - if you can make a PR, we can merge this ASAP. Note that we are getting very close to pushing our master branch to production (currently it's live on freecodecamp.rocks but not on freecodecamp.org). So even after we merge your PR it may still be a few days before the new grasshopper pages go live.

[2019-03-30 02:26] chaomt commented on #17797
I could work on this!

[2019-03-30 02:37] chaomt commented on #17545
Is there any update on this issue? I could work on this bug.

[2019-03-30 03:45] kartikeytripathi commented on #34614
@QuincyLarson I think you referenced someone else. No Problem. I am working on the Landing Page.
Will shoot a PR when it is done.

[2019-03-30 04:53] coderstravel opened #35712 "Create style element, all test pass except "create style element""
![free](https://user-images.githubusercontent.com/29521885/55282135-970a5980-5314-11e9-92b9-d7dc1f4186d2.PNG)

**Describe your problem and how to reproduce it:**
Create style element, all test pass except "create style element"

**Add a Link to the page with the problem:**
https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/use-css-selectors-to-style-elements

**Tell us about your

[2019-03-30 05:52] thecodingaviator commented on #35712
Please add screenshots of the code you are using for the challenge

[2019-03-30 06:35] thecodingaviator commented on #17545
@chaomt As of yet, we have not come to a conclusion about what to do on this issue. Although, since this is a confirmed issue, please suggest how you'd like to go ahead with this over here

[2019-03-30 06:37] thecodingaviator commented on #17797
@ahmadabdolsaheb Do you think this can be fixed?

@chaomt I'd say that you wait to do anything on this issue till we have some inputs

[2019-03-30 06:55] thecodingaviator opened #35714 "Move font-awesome challenges to Font Awesome 5.x.x"
The challenges:

* [Add Font Awesome Icons to our Buttons](https://www.freecodecamp.rocks/learn/front-end-libraries/bootstrap/add-font-awesome-icons-to-our-buttons) , and,
* [Add Font Awesome Icons to all of our Buttons](https://www.freecodecamp.rocks/learn/front-end-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons)

Still teach Font Awesome v4.5.0. Although there's nothing wrong w

[2019-03-30 07:08] kirubiel commented on #35648
I think ease of access should be considered as well. While visits to that page might not be very frequent, it's still a lot of stuff to scroll through and people still ask where the certifications are.

[2019-03-30 07:34] chaomt commented on #17545
@thecodingaviator
In terms of the buggy code provided in this issue, I think only the last test case is wrong.

- Left part is the original version
- Right part is the new version I made
```I added one more "click", and changed the values for "secondValue" and "thirdValue".```
![Screen Shot 2019-03-30 at 3 03 15 AM](https://user-images.githubusercontent.com/42958064/55273083-91712d00-529c-11e9-935

[2019-03-30 07:46] huyenltnguyen commented on #17795
@chaomt Thanks for offering the help!

I'm closing this issue as it has been resolved in beta and will be shipped to production soon.

[2019-03-30 07:46] #17795 closed

[2019-03-30 07:54] chaomt commented on #17797
@thecodingaviator Sounds good.

[2019-03-30 08:19] Nirajn2311 commented on #35714
@thecodingaviator These challenges are in the Bootstrap curriculum(even that is the old version). I had opened an issue before #34815 to update the Bootstrap curriculum and had also started updating it but due to exams I could only update one challenge. If you want you can take up and continue from there or we can pair up and do it.

[2019-03-30 08:47] thecodingaviator commented on #17545
This looks pretty good to me. I see you've made a PR, that's great, we'll QA that soon

[2019-03-30 09:24] thecodingaviator opened #35716 "Logo positioning incorrect on the Search pages"
On the [search](https://search.freecodecamp.org/?) page and all query variations of it, the fCC logo is improperly aligned like this:

![image](https://user-images.githubusercontent.com/34807532/55274185-96b19480-52fb-11e9-8c02-a5079abcc9a9.png)

[2019-03-30 14:15] bofeiw opened #35717 "Please add an "abandon 996" badge to support us"
[Chinese software engineers are protesting against the country ’ s 996 work schedule.](https://996.icu/#/en_US)
An unleagal work schedule (9a.m. ~ 9p.m., 6 days a week) .

Add a badge
---
Add a badge to your awesome project by pasting this line in your README.md.

[code]
<a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg"></a>

Working Men of All developers, Unit

[2019-03-30 14:48] ClrsDream opened #35718 "#996icu https://github.com/996icu/996.ICU"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-03-30 15:35] hemakshis commented on #35405
Thanks, @QuincyLarson! I think this much of info is enough. I'll soon send a PR.

[2019-03-30 17:59] Ayushjain9501 commented on #26859
Hi,
I have implemented it in Swift!
Can I make a pull request now?

[2019-03-30 18:13] Pogayo commented on #35707
@RandellDawson that is a good idea. I think I can break it down into smaller challenges, with the various requirements  being a challenge.

[2019-03-30 18:15] Pogayo commented on #35707
@hilliarj  any help will be appreciated. I think the challenge for me will be to break it down to mini-challenges. If you can help with that it will be appreciated

[2019-03-30 20:08] thecodingaviator commented on #35718
Please add more context to issue and reopen it. I'm closing it since it does not have any content

[2019-03-30 20:08] #35718 closed

[2019-03-30 20:13] thecodingaviator commented on #35717
Please get across to @QuincyLarson with this, he'll be able to provide a better answer on whether we should or not

[2019-03-30 20:13] #35717 closed

[2019-03-30 20:31] RandellDawson commented on #35700
@gebulmer Thank you for your valuable input.  I have gone back in forth in my head about what is best for the curriculum.

I absolutely agree that the challenge (regex) becomes much simpler if we remove the requirement of "do not begin with numbers".  With that removed, I think a valid solution for the regex could be the following:
[code]

However, since this challenge is near the end of the Regul

[2019-03-30 22:57] RandellDawson commented on #35712
I can confirm the bug exists on the beta site (freecodecamp.rocks).  This bug was fixed on the `master` branch 4 days ago.  I tested it locally just now and the same code passes with no issues.

I assume `master` has not been deployed to the beta site in the last 4 days.

@raisedadead, @Bouncey Can anyone confirm this?  Also, is there a way to maybe put a date/time a the bottom of the beta showing

[2019-03-30 23:34] anthonykyi commented on #35558
Hi, I can confirm this issue as well on my windows 10 setup. Running `npm run develop` only starts up the client side, but swallowed server errors. I was getting the error about babel-node not being a valid command and ran `npm install --save-dev @babel/core @babel/node` as @Javiercerna did. Now the error about node-babel is gone, and running `npm run develop` correctly starts up both the client a

[2019-03-31 06:05] thecodingaviator commented on #35700
@gebulmer I went through that, thank you for that descriptive explanation. @RandellDawson and I had a chat yesterday about this and my stand is that we should remove the requirement for the first digit to not be a number. Maybe we need one more person's stand on this before we come to a conclusion

[2019-03-31 17:57] candacej97 commented on #35529
Okay that would be great thank you!

[2019-03-31 18:12] Suyash2810 commented on #35716
The div tag with class as "nav-logo" has not been given the alignment.

![align](https://user-images.githubusercontent.com/42000949/55292955-45de9080-540e-11e9-9e28-41c96695211f.png)

[2019-03-31 18:28] Suyash2810 commented on #35712
Yes the problem still exists on the beta site and if the problem has been rectified in the master it hasn't been deployed to the beta site.
![Screenshot (266)](https://user-images.githubusercontent.com/42000949/55293156-e0d86a00-5410-11e9-94fc-922492bae651.png)

[2019-03-31 21:00] hilliarj commented on #35707
@Pogayo Where do you think these challenges would fit in the Data Structures area of the curriculum? Do you think it should go under "_Javascript Algorithms And Data Structures -> Data Structures_"? I was talking to @chaomt and @Fordco about this, and we think that it could go under "_Coding Interview Prep -> Data Structures_" towards the end after binary search trees.

[2019-03-31 21:04] chaomt commented on #35695
It seems that this is not a bug, just about scalability. Should it be closed?

[2019-03-31 21:30] chaomt commented on #17925
Is there any update on this issue? I want to work on it.

[2019-03-31 21:33] chaomt commented on #34727
I think this issue should be closed since it was already fixed in the beta version, freeCodeCamp.rocks.

[2019-04-01 04:15] huyenltnguyen opened #35727 "[beta] Challenge instruction drops to a new line mid-sentence"
**Describe your problem and how to reproduce it:**

Go to challenge `Basic JavaScript: Global Scope and Functions`.

The instruction's last sentence breaks to a new line mid-sentence.

(This issue does not exist in production: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions/ )

**Add a Link to the page with the problem:**

https:

[2019-04-01 04:44] RandellDawson commented on #35727
It has something to do with the **space** between the `</coding`> and another tag like <strong> (or any other tag for that matter).  Locally, when I tested removing the space and leaving the `<strong>` tag or leave the spacing and remove both the `<strong>` and `<em>` tags, it does not wrap around to the next line.  Then, I tried the following and both of these still resulted in the text wrapping

[2019-04-01 06:14] thesidbatra commented on #17267
@Bouncey https://github.com/freeCodeCamp/search-assets/pull/11 can you update the semantic version of `search-assets` and publish the module? because these latest changes can't be seen

[2019-04-01 11:24] ojeytonwilliams opened #35729 "Travis CI false positives"
**Describe the bug**
Certain syntax errors in challenge markdown are incorrectly passed by Travis CI.  [This build](https://travis-ci.com/ojeytonwilliams/freeCodeCamp/builds/106547060) is an example that should fail, but does not.

**To Reproduce**
Steps to reproduce the behavior:
1. Put a syntax error into challenge markdown - I tested this by indenting `testString` with 5 spaces instead of 4 in

[2019-04-01 11:31] scissorsneedfoodtoo commented on #35716
Seems like it's [this](https://github.com/freeCodeCamp/search-assets/blob/f66d54dc75204cb8f0021f6734c92323adee2578/www/src/layouts/index.css#L231) line in the search-assets repo that's pushing up the nav-logo.

@Bouncey started the process of porting over the search bar and its assets in https://github.com/freeCodeCamp/freeCodeCamp/pull/35540 and https://github.com/freeCodeCamp/freeCodeCamp/pull/3

[2019-04-01 12:23] JulianNF opened #35730 "Contradictory Instructions - Quality Assurance and Testing with Chai - Run Functional Tests using a Headless Browser"
Hiya,

Reporting that there are contradictory instructions in the challenge "Quality Assurance and Testing with Chai - Run Functional Tests using a Headless Browser".

Link to challenge: https://learn.freecodecamp.org/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser/

Towards the top of the exercise, the instructions a

[2019-04-01 12:56] ColorizeMySky commented on #17450
I have an error with Cross-Origin Read Blocking (CORB) when try to fetch a data also when use https://www.freecodecamp.org/forum/latest.json link. _{mode: 'no-cors'}_ doesn't effectivly.
Does it exist any alternative solution to fetch the data for Leaderboard (not to hardcode it)?

[2019-04-01 13:30] raisedadead commented on #35729
Maybe we can enhance the linting tests a bit more, which could error out early before running the tests

[2019-04-01 13:39] thecodingaviator commented on #35695
I'm closing this issue since this is not something we can fix on our side anyway

[2019-04-01 13:39] #35695 closed

[2019-04-01 13:43] ojeytonwilliams commented on #35729
@raisedadead What I've found so far is that the error is happening before the tests, but it's not handled properly.  Rather than causing the tests to fail they never really happen.

I agree that catching it in the linting stage would be ideal, but I still think there should be a fail-safe.  If the build fails, then the tests should fail too.

[2019-04-01 13:49] #17872 closed

[2019-04-01 14:42] KoniKodes commented on #17450
I didn't have a problem with it. Which browser are you using?

[2019-04-01 14:45] raisedadead commented on #35729
If the build fails, we should exit with the error code 1. That should allow us to prevent going into the next stage.

[2019-04-01 15:34] ayushshah2120 commented on #17822
Actually, I also reset my account a while back and there's no heat map progress and strike counting is normal

[2019-04-01 16:17] Donearm commented on #35660
@ojeytonwilliams tried again with Firefox 66.0.2 on Archlinux (kernel 5.0.5) and same freeze. This happened with a few challenges before, here and there, but I always managed to wait a minute or 2 and it recovered but for this one.

[2019-04-01 16:21] ColorizeMySky commented on #17450
Google Chrome
Version 73.0.3683.86 (Official Build) (64-bit)

[2019-04-01 16:32] KoniKodes commented on #17450
This is new to me. But I did find this suggestion as a possible fix...

https://stackoverflow.com/questions/54701399/how-to-fix-cross-origin-read-blocking-corb-blocked-cross-origin-response-with

[2019-04-01 17:26] Pogayo commented on #35707
@hilliarj That's a good idea. Then it makes work easier coz the flow will be better

[2019-04-01 18:47] thecodingaviator commented on #35730
I guess this PR adds to #35694 . A PR has been made on #35724, please make this comment there and request changes

[2019-04-02 03:21] lasjorg commented on #35676
@moT01 How do I preview the guide locally? I get a 404 on all guides when I try to view them locally.

[2019-04-02 03:47] RandellDawson commented on #35676
@lasjorg You will temporarily need to copy `guide/english/certifications` to `mock-guide/english/certifications` and then run `npm run develop`

[2019-04-02 07:27] JulianNF commented on #35730
Thanks thecodingaviator - will cross-post there as well.

[2019-04-02 07:32] JulianNF commented on #35694
Hi,

Re-posting here as per the suggestion of @thecodingaviator from a related issue that I opened here: #35730.

For ease, here's the quoted content that I submitted in that issue:

[2019-04-02 14:34] ranched commented on #35694
The change regarding the challenge 'run-functional-tests-using-a-headless-browser' seems it would be better made to the repo holding the boilerplate for the challenge '[freeCodeCamp/boilerplate-mochachai](https://github.com/freeCodeCamp/boilerplate-mochachai)'. That is where the referenced lines with 'Marco' and 'Polo' are used [2_functional-tests.js](https://github.com/freeCodeCamp/boilerplate-mo

[2019-04-02 16:27] JulianNF commented on #18201
I've spent the better part of the day trying to get my code to pass all the tests in the freeCodeCamp test suite for the Registration of New Users challenge, to no avail. 😢  Everything passes except for the "Registering should work" test. 😩

I'm moving on to the other challenges as the code I have behaves perfectly well when tested manually. Hopefully this won't cause me even more frustration with

[2019-04-02 18:04] #17424 closed

[2019-04-02 18:04] #34890 closed

[2019-04-02 21:18] RandellDawson opened #35742 "Solution passes on current production but fails on beta site for Copy an Array with the Spread Operator challenge"
The following code passes all the tests on the current production site, but fails the last test on the current beta site (freecodecamp.rocks) and when tested locally (`npm run test:curriculum`).  I discovered the issue while adding solutions to challenges currently missing a solutions on `master`.  I compared the tests in the archived `curriculum` repo and they appear to be the same tests.

[code]

[2019-04-02 22:20] ColorizeMySky commented on #17450
Thank you. But if I just disable security policy in my browser, it doesn't solved the problem for others browsers/users. I saw the solutions with seting up headers, but I don't able to implement it at Codepen (where is my Leaderboard), because there is the client-side only.

[2019-04-02 23:06] KoniKodes commented on #17450
I'm sorry. I haven't seen it enough to understand it. I understood CodePen solved possible CORS issues, but CORB is new to me.

Are you able to go to the actual API end-point at all? Or is it only coming from the LeaderBoard?

[2019-04-02 23:38] ColorizeMySky commented on #17450
By direct link I see the json-data. The trouble rises when I try to fetch json from freecodecamp.org at codepen.

I checked my others pens at codepen, which fetch the data from others sites (there are rawgit.com, glitch.com, wikipedia.org, ipinfo.io and github.com), and they works correctly. So, the problem is exactly with freecodecamp-json. It possibly depends from codepen settings, but I don't f

[2019-04-03 00:53] KoniKodes commented on #17450
Ouch. @jgibson02 Have you seen this happen before?
If so, do know the work-around?

[2019-04-03 00:56] KoniKodes commented on #17450
@ColorizeMySky Have you tried the end point from @Em-Ant earlier?
https://buttercup-island.glitch.me/latest

Maybe this will work?

[2019-04-03 07:24] ValeraS commented on #35742
@RandellDawson Need to rewrite the test. It checks function source code after babel transform but should check user code.

[2019-04-03 08:01] JulianNF commented on #35694
I think the best to correct is the boilerplate code as the two sets of instructions within the boilerplate code contradict each other.

I say go ahead with the pull request.

(tnx!)

[2019-04-03 09:22] ojeytonwilliams commented on #35700
I'm leaning towards removing the requirement as well.  According to the style guide, a challenge should not take longer than 2 minutes to solve. I took a lot longer than that and my first solution did not match @thecodingaviator's password, either.

I agree with @RandellDawson that someone who is that far through the regex section should be able to solve it.  I just don't think it's likely they wi

[2019-04-03 10:57] ColorizeMySky commented on #17450
Yes, thanks a lot. It fetches the json with forum-data from glitch.

[2019-04-03 13:48] theashraf opened #35748 "profile progress heat map not showing the progress"
**Describe the bug**
profile progress heat map not showing the progress, kindly check the sreenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/theashraf'
2. See the progress heatmap

**Expected behavior**
expected to see my progress on the heat map

**Screenshots**
![Screenshot from 2019-04-03 15-39-49](https://user-images.githubusercontent.com/397507

[2019-04-03 14:47] RandellDawson commented on #35748
Closing this issue as it has already been reported and being tracked in issue #17822.

Thank you.

[2019-04-03 14:47] #35748 closed

[2019-04-03 15:17] jgibson02 commented on #17450
I have updated my [CodePen](https://codepen.io/jgibson02/pen/vPqOGW) to use the @Em-Ant's API at [https://buttercup-island.glitch.me/latest](https://buttercup-island.glitch.me/latest) to avoid the CORS issue.
@QuincyLarson are you ok with using glitch.me as a way of redirecting to freecodecamp's domain? If so, perhaps this would be ready to be reintegrated to the curriculum.

[2019-04-03 17:37] Pogayo commented on #35707
@hilliarj  and @RandellDawson  Can I try a draft now?

[2019-04-03 18:03] hilliarj commented on #35707
@pogayo Sounds good to me!

[2019-04-03 18:22] Pogayo commented on #35707
Okay... I will share something by the end of Friday for your review

[2019-04-03 18:56] moT01 opened #35749 "Typo in guidePageCreator.js"
I believe there's an 'f' missing here...

https://github.com/freeCodeCamp/freeCodeCamp/blob/f8675b0bda2e43266ee84e1c75d5e4b3148fa273/client/utils/gatsby/guidePageCreator.js#L27

[2019-04-03 19:47] rns350 commented on #16107
Hi there everyone.  If no one is working on this issue, I would like to claim it and work on the recursion challenges

[2019-04-03 20:05] LifeVirus commented on #35481
Hi, I'm new to freecodecamp but I'm wondering if you guys still need help on this? If so, what languages should I work on? Thanks!

[2019-04-03 20:06] RyanWillDev commented on #16107
I would love to help, but I don't know how much time I'd have to dedicate to it right now. @rns350 it's all yours! 😄

[2019-04-03 20:17] wang1998tina commented on #35714
@Nirajn2311 I'd love to help out on this issue if you're busy!

[2019-04-03 20:26] RandellDawson opened #35751 "Need to add full working solutions for over 100 challenges in the Responsive Web Design section"
With a quick search, I found there are currently 104 challenges in the Responsive Web Design section that are missing a full working solution.  I wan to use this issue to help track who wants to work on adding these and when the PRs get merged.

Please make sure to remove the `// solution required` and make sure to surround the solutions using `html` instead of `js` (see below for example).
[code]

[2019-04-03 21:07] RandellDawson opened #35753 "Need to add full working solutions to 47 challenges in the Front End Libraries section"
With a quick search, I found there are currently 47 challenges in the Responsive Web Design section that are missing a full working solution.  I wan to use this issue to help track who wants to work on adding these and when the PRs get merged.

Please make sure to remove the `// solution required` and make sure to surround the solutions using `html` instead of `js` (see below for example).
[code]

[2019-04-03 21:33] mdalpozzo opened #35754 "Docker installation error running freecodecamp locally"
**Environment:**
MacOS High Sierra v10.13.6 (13'' 2017)
Node 10.4.0
npm 6.9.0
docker 18.09.2
53.59GB free on 250GB drive

**What happened:**

I am following the [setup instructions here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally-using-docker.md).  During the [docker installation](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how

[2019-04-03 21:42] Manish-Giri commented on #35753
I'll take care of the Bootstrap and jQuery challenges.

[2019-04-03 21:46] Manish-Giri commented on #35751
I'll take care of the Basic CSS and Basic HTML/HTML5 challenges.

[2019-04-03 22:13] raisedadead opened #35755 "Make bootstrap css and other deps from CDN available in client bundle"
We want to bundle some of our dependencies like Lato fonts, Bootstrap and MathJax with the client app.

Anything that is being pulled from CDN is not going to be available in an offline no internet environment.

Ref: #35752

[2019-04-03 22:16] raisedadead commented on #35749
Thanks.

[2019-04-03 22:32] raisedadead commented on #35754
Adding env vars to the `.env` will not be picked up during npm installs. They are for our code logic only, that is when freeCodeCamp is actually running, or a script that we use the `.env` file in.

npm is unaware of this file during its own usage, i.e. in this case installing puppeteer.

What you want to try and check if you are behind a firewall or a network proxy / vpn that is blocking the down

[2019-04-03 22:37] raisedadead commented on #35708
Do you mean something along the lines of a URL like this:

[`https://www.freecodecamp.org/forum/search?q=Say%20Hello%20to%20HTML%20Elements`](https://www.freecodecamp.org/forum/search?q=Say%20Hello%20to%20HTML%20Elements)

If yes, this would be a button in itself?

[2019-04-03 23:05] RandellDawson commented on #35751
I added you to cover those.

[2019-04-03 23:07] mdalpozzo commented on #35754
I have no firewall running and no vpn running.

I can successfully download puppeteer (including chromium) in a temporary directory.

[2019-04-04 00:17] mdalpozzo commented on #35749
What is the correct/complete process for making contributions?  I have read contributing.md, but it does not mention anything about testing locally or any specifics when it comes to working on the codebase.  I see the test scripts in package.json.  In this instance would I add the 'f', run the test scripts for client locally, then push up to my forked repo, and eventually make a PR to upstream mas

[2019-04-04 00:54] AlyxMoon opened #35757 "Define the Head and Body of an HTML Document | Can pass tests without a body tag"
**Describe your problem and how to reproduce it:**
The request for this problem is: `Edit the markup so there's a head and a body. The head element should only include the title, and the body element should only include the h1 and p.`
However, all the tests pass even without a `body` tag, including these two tests specifically checking for it:
- There should be only one body element on the page.
-

[2019-04-04 00:58] AlyxMoon commented on #35757
Seems to be same as #14683 (although it just mentioned you didn't have to close the tag), however it was closed without resolution.

A comment on that issue mentioned wanting to keep the curriculum more simple and stick to accepting valid code, but if it seems like there are tests running they ought to be correctly testing for behavior. Otherwise the stated expectations should change.

[2019-04-04 01:16] AlyxMoon commented on #35757
Okay, I'm not sure how one would go about fixing this at the moment. The issue seems to be not with the tests, but with how the challenge preview pane is generated. Everything seems to be put within the body tag of the iframe, while the structure tags (like html, body, head) are ignored. The picture is one I took with the code and the resulting html structure of the iframe.
![page with devtools](h

[2019-04-04 03:24] #17545 closed

[2019-04-04 04:28] moT01 commented on #35751
I can take flexbox

[2019-04-04 04:56] huyenltnguyen commented on #35751
I'll give a hand with the `Applied Visual Design` section.

[2019-04-04 05:24] RandellDawson commented on #35751
@huyenltnguyen That is great.  I marked you down for this one.  I will remove the help wanted label for now.

[2019-04-04 05:24] #35749 closed

[2019-04-04 05:30] raisedadead commented on #35749
Hi @mdalpozzo

Thanks for your interest in this. Looks like someone already made a PR, which I just accepted on behalf of the team.

However, we still have lots of issues that we could use your help on.

The guide has links to all the instructions that you will need to work on freeCodeCamp locally:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md#help-us-fix-bugs-in-freecod

[2019-04-04 05:37] raisedadead commented on #35754
Thanks, that pins the issue with the installation it self, so we are on the right track here.

Can you confirm, how you installed docker itself? Also, how are you starting up the docker CLI.

[2019-04-04 05:39] raisedadead commented on #35757
@freeCodeCamp/moderators can someone please guide them with this?

@AlyxMoon we also have a [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), where you should be able to ask queries and get some feedback on approach here.

[2019-04-04 05:56] scissorsneedfoodtoo commented on #16656
@raisedadead, not sure if this was transferred over to you yet.

[2019-04-04 06:05] raisedadead commented on #16656
Not yet, @Em-Ant can you transfer the repo over to me. See https://help.github.com/en/articles/transferring-a-repository#transferring-a-repository-owned-by-your-personal-account for help.

[2019-04-04 06:10] kirubiel commented on #35708
Yes something like that with a couple of differences.

1. There is would be no search bar since the only thing they want to see is the topics related to the challenge they're on.
2. It wouldn't be an exhaustive search result. Either paginated or a limited number of topics related to this.
3. No it would not be a button by itself. It would be the next thing that the camper would see after clicking

[2019-04-04 06:11] scissorsneedfoodtoo commented on #16874
Closing as stale.

[2019-04-04 06:11] #16874 closed

[2019-04-04 06:15] scissorsneedfoodtoo commented on #16519
@raisedadead, seems stale, but what do you think?

[2019-04-04 06:15] #16519 closed

[2019-04-04 06:43] scissorsneedfoodtoo commented on #17048
Closing as stale.

[2019-04-04 06:43] #17048 closed

[2019-04-04 06:45] scissorsneedfoodtoo commented on #17233
Seems to be working. Closing as stale.

[2019-04-04 06:46] #17233 closed

[2019-04-04 06:58] raisedadead commented on #35708
What you are saying may not be trivial to implement. This is because the topics are all on the forum which is a discourse instance, the code for which really do not control. We have very limited control over the customization of the UI.

We can point to a URL from a button, and what shows up there is really for discourse to take care of.

I think we should discuss the approach with the forum mods

[2019-04-04 06:58] #35708 closed

[2019-04-04 06:58] scissorsneedfoodtoo commented on #17300
@ahmadabdolsaheb, not sure, but your PR https://github.com/freeCodeCamp/freeCodeCamp/pull/35608 might also address this

[2019-04-04 07:21] scissorsneedfoodtoo commented on #17411
@RandellDawson, can confirm this still happens on freecodecamp.rocks. Seems like the completion modal causes the text in the description to shift by a pixel or two.

[2019-04-04 07:24] honmanyau commented on #35757
I had a quick look and am not entirely sure how to go about fixing it because the scope of the issue appears to be much larger than just the challenge itself, but thought I'd leave a comment for everyone following this issue.

I tend to agree with @AlyxMoon's assessment that it's not an issue with the tests, and that the tests appear to be running on the code parsed to the preview window, where in

[2019-04-04 07:25] honmanyau commented on #35757
I'm so sorry! I accidentally closed the issue with my trackpad while I was typing...

[2019-04-04 07:27] scissorsneedfoodtoo commented on #17485
Closing as stale.

[2019-04-04 07:27] #17485 closed

[2019-04-04 07:37] scissorsneedfoodtoo commented on #17481
Fixed on beta site: https://www.freecodecamp.rocks/learn/responsive-web-design/applied-visual-design/learn-about-complementary-colors

[2019-04-04 07:37] #17481 closed

[2019-04-04 07:39] #17499 closed

[2019-04-04 07:42] #17511 closed

[2019-04-04 07:51] #17572 closed

[2019-04-04 07:52] ibnthani2016 commented on #18201
hi JulianNF the 'solution'  to this problem is a workaround check #17820 for it .hope it helps.

[2019-04-04 08:05] #17601 closed

[2019-04-04 08:07] #17632 closed

[2019-04-04 08:09] scissorsneedfoodtoo commented on #17632
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/34800

[2019-04-04 08:11] #17668 closed

[2019-04-04 08:24] scissorsneedfoodtoo commented on #17764
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/34935

[2019-04-04 08:24] #17764 closed

[2019-04-04 08:27] JulianNF commented on #18201
Hey @ibnthani2016, thanks for sharing that workaround. Unfortunately I tried @lucasMontenegro 's timeout trick and I couldn't get it to work for me, even after playing around with the delays extensively.

TBH though, by that point I was quite fed up of trying to get my code to work in a test suite when it works in the real world, you know?

As an update, not getting registration to work in the tes

[2019-04-04 08:31] scissorsneedfoodtoo commented on #17827
@sxnaprkhr, this is on the roadmap for the new version of the curriculum.

[2019-04-04 08:31] ojeytonwilliams commented on #35757
The key point here is that the user code is parsed by `div.innerHTML = source`. The browser will try to make sense of `source` and clean it up as much as possible.  In this case, since `head` and `body` elements have to have `html` as their parent, they get stripped.

So, yes, it's not correct to write tests like this to check for invalid html or even otherwise fine html that is not valid inside a

[2019-04-04 08:55] huyenltnguyen commented on #35751
Thanks @RandellDawson 👍

Btw, I noticed that you placed my name next to the `Responsive Web Design Principles` section instead of  the `Applied Visual Design` one. I can do both, though, if you need my help 😄

[2019-04-04 09:01] raisedadead commented on #17334
This needs to be retested and confirmed once again one beta site. Hey @moT01 I think you could test this locally with your dataset?

[2019-04-04 09:04] raisedadead commented on #17450
Hey @scissorsneedfoodtoo can you take this up? All we need is to create a glitch project like the one above mentioned as a workaround and update the challenge seed to use it in instructions?

[2019-04-04 10:11] scissorsneedfoodtoo commented on #17450
@raisedadead, sure, I'll get right on it

[2019-04-04 10:26] Em-Ant commented on #17450
You.don't need to make another glitch project if you don't want to. That
one has already shared ownership between me and camperbot, so you can edit
it.

Il gio 4 apr 2019, 12:13 Kristofer Koishigawa <notifications@github.com> ha
scritto:

[2019-04-04 10:31] scissorsneedfoodtoo commented on #17450
@Em-Ant, thanks for the quick response! Your Glitch API endpoint is working perfectly, so I'll just update the project's description with the user stories above and your links.

[2019-04-04 10:58] scissorsneedfoodtoo commented on #17890
Setting up fCC locally has changed quite a bit since this issue was opened. You can read the most recent guide here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

[2019-04-04 10:58] #17890 closed

[2019-04-04 12:13] moT01 commented on #35751
I updated the issue. Looks like Manish made a PR for `Responsive Web Design Principles` @huyenltnguyen

[2019-04-04 12:35] moT01 commented on #17334
Still seeing it locally...
<img width="1025" alt="Screen Shot 2019-04-04 at 7 32 57 AM" src="https://user-images.githubusercontent.com/20648924/55555916-f0bfaa80-56ab-11e9-91c6-1592c84126e7.png">

Looks like there's something wrong with the legacy cert count as well, I either have 3 of 3 or 4 of 4.

[2019-04-04 12:55] devotion-it commented on #35755
Hi @raisedadead. I would like to work on this issue.

[2019-04-04 13:27] RandellDawson commented on #35751
@huyenltnguyen Sorry about that mixup.  @moT01 Thanks for fixing that.

[2019-04-04 13:42] RandellDawson commented on #17233
@scissorsneedfoodtoo This is still an issue that was never fixed.

[2019-04-04 14:08] scissorsneedfoodtoo commented on #17233
@RandellDawson, sorry, I checked with a few different city coordinates and never got more than one object in the weather array. Are you still getting the issue?

[2019-04-04 14:21] moT01 commented on #35751
almost done, sure

[2019-04-04 15:31] avocadohooman commented on #15616
Just working on this exercise and all the aforementioned points completely confused me. It seems as if the copy hasn't been improved since or what's the status?

[2019-04-04 15:31] moT01 commented on #35652
I think I would focus on English stuff.

[2019-04-04 15:44] moT01 opened #35764 "[beta] Going to the homepage ('/') logs me out (sort of)"
I'm not sure if this is a known issue, I couldn't find anything from a quick search - or perhaps just a temporary one that will be fixed when beta is pushed to production.

**Steps:**
- Go to .rocks
- Log in
- Go to the homepage by clicking the icon on the top left or manually typing in the URL or however

This automatically logs me out (sort of). The `sign in` button reappears. But if I click it,

[2019-04-04 15:53] RandellDawson commented on #35764
@moT01 Is this related to https://github.com/freeCodeCamp/freeCodeCamp/issues/35347 ?

[2019-04-04 15:56] moT01 commented on #35764
Yes, that appears to be the same issue - if it's intended to be that way, I don't like it. Why would the `sign in` button display if you are already signed in. Seems misleading.

[2019-04-04 15:57] RandellDawson commented on #35764
Exactly, but I was told this was by design.

[2019-04-04 16:01] moT01 commented on #35764
So from reading your other issue. It looks like logging in will take you to `/welcome`, but what if my bookmark is to the homepage, what if I type in the URL. They both take me to the homepage, where it looks like I'm logged out. I think this should be revisited.

[2019-04-04 16:05] moT01 commented on #35764
Hmm, on the live site, I am unable to get to the "homepage" - it automatically redirects me to the welcome screen every time. So I'm thinking this actually might not be a problem when it's pushed if that behavior stays.

[2019-04-04 16:11] moT01 commented on #35764
Yea, I don't think that will continue when pushed to production. I think it's like that for development or something. And since this was already reviewed by several core members, I will close this. If it stays after it's pushed I'm sure it will get caught pretty quickly.

[2019-04-04 16:11] #35764 closed

[2019-04-04 17:03] RandellDawson opened #35765 "Problem with Guide solution and challenge solution for Reuse Patterns Using Capture Groups challenge"
Below are the current instructions for the [Reuse Patterns Using Capture Groups](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups) challenge.

Reading through common questions on the forum related to this challenge, there probably should be some modifications to these instructions.

1. It should made clearer that the n

[2019-04-04 17:59] raisedadead commented on #35755
Sure, go ahead. Also you can reach out to ![Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for any guidance on contributing.

[2019-04-04 18:02] raisedadead commented on #17741
This is something we have already in works thanks for your report. See #35421

[2019-04-04 18:02] #17741 closed

[2019-04-04 18:55] mdalpozzo commented on #35754
I've found my issue and have successfully gotten FCC running locally on my mac now.   The problem is with Docker desktop and some container memory leak issues.  It seems that this is a known issue with Docker for mac here is the [open issue thread](https://github.com/docker/for-mac/issues/371).  Basically Docker isn't cleaning up when you delete images or containers and the disk image keeps growin

[2019-04-04 18:55] #35754 closed

[2019-04-04 21:39] gebulmer commented on #35765
I don't have a good solution for this really, because:

I think you're right that those should pass. I think the solution should really be something like: `/(\d+) \1 \1/` (without the anchors)

That unfortunately suffers from being too simple. Our explanation in this question is actually very good, so someone could just barely modify the example and not really have learnt something

Perhaps it'd b

[2019-04-05 01:44] ageebc137 commented on #35481
Hello, I'd like to help with this issue as well. Which language folders are available? @nellybaz @randjanas Thanks!

[2019-04-05 01:51] #35550 closed

[2019-04-05 02:14] Manish-Giri commented on #35481
@LifeVirus @ageebc137 Thanks for helping out with this! AFAIK, so far only @roshni-b [has claimed the Russian files](https://github.com/freeCodeCamp/freeCodeCamp/pull/35493#issuecomment-479366913).

Since we haven't heard from @randjanas and @nellybaz yet, you both are welcome to pick one language each from the available four (Arabic, Chinese, Portuguese and Spanish), and start working on the corr

[2019-04-05 02:33] rimij405 commented on #35751
Hey there: new contributor here. I'm down to do the work under `Applied Accessibility` group if you're still looking for volunteers.

[2019-04-05 02:50] moT01 commented on #35751
👍 @rimij405 - I will mark it down as yours

[2019-04-05 03:37] huyenltnguyen commented on #35751
@rimij405 Welcome and thank you for giving us a hand 😄

[2019-04-05 04:05] ageebc137 commented on #35481
Thanks @Manish-Giri. I'll volunteer to do the Spanish folder.

[2019-04-05 05:51] #18126 closed

[2019-04-05 06:11] scissorsneedfoodtoo commented on #18214
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/18290/files

[2019-04-05 06:11] #18214 closed

[2019-04-05 06:14] scissorsneedfoodtoo commented on #18253
I believe https://github.com/freeCodeCamp/freeCodeCamp/pull/35608 will address this.

[2019-04-05 07:10] thecodingaviator commented on #18253
@scissorsneedfoodtoo I guess so, I'll close my PR.

@ahmadabdolsaheb I'm assigning you to the issue

[2019-04-05 07:22] thecodingaviator commented on #16107
@rns350 Go ahead with it

[2019-04-05 07:23] thecodingaviator commented on #35714
@Nirajn2311 I'm pretty busy myself right now with other parts, so please go ahead and take it up. If you and @wang1998tina want to pair up, that's fine too :)

[2019-04-05 07:46] Dave-Melia opened #35768 "Add Images to Your Website | Passes with a missing quotation"
**Describe your problem and how to reproduce it:**
A missing quotation mark within img src allows the challenge to pass, even though it's incorrect and the image doesn't display.

For example:
`<img src="https://bit.ly/fcc-relaxing-cat alt="Author standing on a beach with two thumbs up.">`

notice I've not got a quotation mark after the cat image and before the alt text.

**Add a Link to the page

[2019-04-05 11:09] ColorizeMySky commented on #17450
@Em-Ant , at your glitch API a don't see how to get the link to the appropriate topic. Is it possible?

[2019-04-05 12:07] scissorsneedfoodtoo commented on #18861
@coder077, yes, please check if these are still issues on the [beta](https://www.freecodecamp.rocks/) site and create new issues when you can.

[2019-04-05 12:08] scissorsneedfoodtoo commented on #18883
Closing as stale.

[2019-04-05 12:08] #18883 closed

[2019-04-05 12:13] #21782 closed

[2019-04-05 12:20] scissorsneedfoodtoo commented on #25835
@RaspberryLime, can you check if this is still and issue on the [beta](https://www.freecodecamp.rocks/) site?

[2019-04-05 12:20] scissorsneedfoodtoo commented on #25838
@RaspberryLime, can you check if this is still and issue on the [beta](https://www.freecodecamp.rocks/) site?

[2019-04-05 14:58] ojeytonwilliams commented on #35753
I can do the Sass ones.

[2019-04-05 15:34] LifeVirus commented on #35481
Thanks @Manish-Giri! I'll take the Portuguese folder!

[2019-04-05 16:00] moT01 commented on #35768
Confirmed that this is still an issue on beta.
The img src is valid without any quotes
Also, the alt attribute doesn't need to include any text.
These all pass...
`<img src=https://bit.ly/fcc-relaxing-cat alt="">`
`<img src=https://bit.ly/fcc-relaxing-cat alt=">"`
`<img src===https://bit.ly/fcc-relaxing-cat alt=">"`

[This is the file where this needs to be fixed](https://github.com/freeCodeCamp/f

[2019-04-05 16:09] moT01 opened #35769 "Issue template to include link to file"
I think the issue template should include a request to add a link to the file where the problem exists.

**Edit:**
When you create an issue, there's a template to fill out that looks like this:
[code]

When I'm looking at an issue (specifically issues on coding challenges), I often want to see the file so I can see what the tests are doing or what the formatting looks like or something. This requi

[2019-04-05 18:09] rns350 commented on #16107
Awesome, thanks guys!

[2019-04-05 20:26] LifeVirus commented on #35481
Hi, @Manish-Giri, after taking a cursory look in /curriculum/challenges/portuguese, and searching for
 "<code> , </code>", and &quot, I haven't found any examples of "<code>stuff</code>", and the only places where "<code> or </code>" pop up are in Tests, in assert fields, where it's unrelated I think. Am I missing something? Sorry for the bother!

[2019-04-05 20:40] ageebc137 commented on #35481
Hi @LifeVirus. Try searching "</code> &quot;", making sure there is a space in between. I noticed there were a lot of false positives when I did my search. When I searched, I was able to find "&quot; <code>...</code> &quot;" in the Portuguese folder at declare-the-doctype-of-an-html-document.portuguese.md.

[2019-04-05 20:48] LifeVirus commented on #35481
Hi @ageebc137, I looked in declare-the-doctype-of-an-html-document.portuguese.md, and I didn't see any examples of "\<code> \</code>". I thought that was what we were looking for? I am not sure what "" ... "" means.

[2019-04-05 20:50] ageebc137 commented on #35481
Hi @LifeVirus. Try searching `</code> \&quot;\` making sure there is a space in between. I noticed there were a lot of false positives when I did my search. When I searched, I was able to find `\&quot; <code>...</code> \&quot;` in the Portuguese folder at declare-the-doctype-of-an-html-document.portuguese.md.

[2019-04-05 20:59] wang1998tina commented on #35714
Cool - I'll get started on the first challenge! @Nirajn2311 let me know if you'd like to pair up :)

[2019-04-05 21:22] ageebc137 commented on #35481
@LiveVirus. Sorry for the confusion. I forgot to add template literals. What I meant was `&quot; <code>…</code> &quot;`. I saw that example located within the section tag element in the same file I cited.

[2019-04-05 21:51] LifeVirus commented on #35481
@ageebc137 Thank you! I removed all the instances of `&quot; <code>…</code> &quot;`, and I think that that may be all of the instances in the Portuguese files. Would it be possible for me to work on the other untaken languages as well, or should I wait on @randjanas and @nellybaz to see if they are picking up Arabic/Chinese?

[2019-04-05 22:26] RandellDawson commented on #35768
This is technically not a problem.  Attribute values do not have to have quotes around them.  It is advisable, because if there are any spaces in them, this can cause unexpected results.

I created a PR which still allows the `src` to not have quotes, but we may decide we want to not allow `src` without quotes, just to make it more consistent with the test I created for the `alt` attribute.  The t

[2019-04-06 05:46] thecodingaviator commented on #35481
Guys, try searching for `"<code>` and `</code>"` separately

[2019-04-06 11:23] Nirajn2311 commented on #35714
@wang1998tina I'll be out of town till 20th April so won't be able to do anything until then. Keep us posted on the progress.

[2019-04-06 11:51] rajeshtanwar89 commented on #7976
ghost bad answer

[2019-04-06 14:44] Sumer16 commented on #35751
What are the solutions that can be added in Responsive Web Design Projects?

[2019-04-06 16:01] theproactivedev commented on #34240
Hi! I'm a first timer hoping I can contribute here. Is this already taken including the 28 files? Thanks.

[2019-04-06 17:34] ageebc137 commented on #35481
I made sure to search `"<code>`, `</code>"`, `" <code>`, `</code> "`, `&quot; <code>`, `&quot;<code>`, `</code>&quot;`, and `</code> &quot;`, all separately.

[2019-04-06 21:18] jminkler commented on #17584
Glitch not working at all, neither is cloning from github.  Changing the package.json in glitch, and it basically deletes all the files, then tries to look for /app/server.js  from the bootstrap.  Doesn't read the json from github raw

[2019-04-06 23:45] AlyxMoon commented on #35757
Well I'm not sure at all how tough fixing this will be (I think the best move would be @ojeytonwilliams thought and just changing the tests to check the user code rather than the generated code, to avoid having to rewrite the functionality of generating the preview).
But I'll take a stab at it during my free time this week. Oh and thanks for the link @raisedadead I'll check out the chat room if I

[2019-04-07 11:38] RaspberryLime commented on #25838
I’m unable to log in on the beta site — do I need to create a new account there?

[2019-04-07 12:16] RaspberryLime commented on #25835
@scissorsneedfoodtoo I can’t log in to the beta site. Do I need to create a new account there?

[2019-04-07 12:57] Em-Ant commented on #17450
@ColorizeMySky my glitch api proxies the request to https://www.freecodecamp.org/forum/latest.json so you'll get the exact same response. It only adds the necessary CORS headers to the original response.

I had a quick look at the response structure and I see 2 sections: one is "users", the other is "topics". You can get the url of the post adding the base url of the forum, and the property "slug"

[2019-04-07 14:00] scissorsneedfoodtoo commented on #25835
Yes, you'll need to make a new account. Could you make one and report back if this is still and issue?

[2019-04-07 14:00] scissorsneedfoodtoo commented on #25838
Yes, you'll need to make a new account. Could you make one and report back if this is still and issue?

[2019-04-07 14:53] aboowd opened #35782 "do"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**
###

[2019-04-07 14:57] RandellDawson commented on #35782
We are closing this issue because you did not provide any information regarding the issue you are reporting.  If you have more information to provide, then edit the issue body and request the issue be reopened.

Thank you.

[2019-04-07 14:57] #35782 closed

[2019-04-07 18:02] lasjorg opened #35785 "Create a media query challenge may fail"
Challenge: https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a-media-query/

I have seen issues with this challenge on the forum a number of times.

The [test](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.english.md) is using the comput

[2019-04-07 18:06] lasjorg commented on #35676
@RandellDawson Thanks for the info. Should the guide instructions not have this information? I don't think I saw this mentioned anywhere.

[2019-04-07 20:56] ranched commented on #35694
I created a pull request on the [freeCodeCamp/boilerplate-mochachai](https://github.com/freeCodeCamp/boilerplate-mochachai) repo for the corrections to the instructions referenced in [#35730](https://github.com/freeCodeCamp/freeCodeCamp/issues/35730). Let me know if there are any more changes required to this repo.

[2019-04-07 22:54] dnntrn commented on #34240
@theproactivedev Hey! I'm still working on this, but I'll let you know if I need help. Thanks!

[2019-04-07 23:00] RandellDawson commented on #35676
@lasjorg Probably should be in the instructions.

[2019-04-08 02:56] theproactivedev commented on #34240
@dnntrn Oh, sure! :D Thanks.

[2019-04-08 08:53] RaspberryLime commented on #25838
This is indeed fixed on the beta (the save button is now underneath the field instead of alongside it).

[2019-04-08 08:58] RaspberryLime commented on #25838
It’s also fixed on the live site too — the button hasn’t been moved there, but it’s no longer truncated. :)

[2019-04-08 08:58] #25838 closed

[2019-04-08 09:14] RaspberryLime commented on #25835
I’m having trouble with the beta site. I can only log in via email not via Github, and the email route doesn’t involve iOS’ password manager at all.

I’ll mark this as fixed because I can’t replicate it on the live site either now — if it reoccurs I’ll re-open it.

[2019-04-08 09:14] #25835 closed

[2019-04-08 10:31] br3ntor commented on #17820
@lucasMontenegro Worked here as well. Thank you.

[2019-04-08 11:27] scissorsneedfoodtoo commented on #25835
@RaspberryLime, sorry to hear that. I usually use my email to log in, so I didn't realize the GitHub or other routes aren't available on the beta site now.

Thank you for checking, and please reopen this issue if you run into this problem again.

[2019-04-08 11:27] scissorsneedfoodtoo commented on #25838
@RaspberryLime, great! Thank you for checking this out.

[2019-04-08 12:38] ColorizeMySky commented on #17450
Thanks everyone for help. I've managed to finish this project with new API, and new API is nice for replace the old task. I can fetch. sort, add additional info and images, link etc. https://codepen.io/Colorize_my_sky/full/aMxRRq

[2019-04-08 14:41] KoniKodes commented on #17450
Congratulations @ColorizeMySky ! This looks great and is very responsive.

[2019-04-08 16:45] rimij405 opened #35791 "Broken link in local setup guides."
There is a broken link in the local setup guides (linked below) that points to a 404 page. The hyperlink text is `contributors community on our public forum`. The incorrect link is: `https://www.freecodecamp.org/c/contributors`.

Steps to Reproduce (1):

- Click on the link in [how-to-setup-freecodecamp-locally-using-docker.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-s

[2019-04-08 17:09] #35791 closed

[2019-04-08 17:24] RandellDawson commented on #35751
@Sumer16 The filenames needing solutions are referenced (by section) in the PR body at the top.

[2019-04-08 17:31] guayom opened #35793 "Test failure in 'Basic Data Structures: Check For The Presence of an Element With indexOf()'"
**Describe your problem and how to reproduce it:**
For [this challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof/), the correct answer should be something like:
[code]

But this code will also pass all the tests, even when it is incorrect:
[code]

This can be solved by simply changing the order

[2019-04-08 17:53] aditijoshi14 commented on #35793
@guayom Can I work on this?

[2019-04-08 17:54] RandellDawson commented on #35793
@guayom Good catch!  I can confirm the current tests do not test all the cases.  I am fine with implementing the change you suggest on a PR.

[2019-04-08 17:56] RandellDawson commented on #35793
@aditijoshi14 Since @guayom already offered to fix on a PR, I will leave it up to him to decide if he wants to move forward with the PR or is OK letting you create the PR.

[2019-04-08 17:58] aditijoshi14 commented on #35793
@RandellDawson  I was not aware about his PR. I will leave it up to him to decode.

[2019-04-08 18:03] guayom commented on #35793
@RandellDawson Thanks for the confirmation.
@aditijoshi14 Actually this would be my first contribution, so I would really like to give it a shot. But if I run into problems, I'll let you know so you can contribute as well :)

[2019-04-08 18:09] aditijoshi14 commented on #35793
@guayom No worries. Feel free to ping me if you run into problems. Happy contributing!

[2019-04-08 18:13] aditijoshi14 commented on #35785
@lasjorg Can I look at this issue?

[2019-04-08 18:17] coder077 commented on #35431
@RandellDawson @Bouncey I think I found two solutions to this problem but the changes needed to be made to the search-asset repository which is archived right now. In order to test my solution locally, I tried using lerna but ran into some errors.
<img width="693" alt="Screen Shot 2019-04-04 at 2 10 25 PM" src="https://user-images.githubusercontent.com/18624843/55746942-111f9a00-5a09-11e9-966c-746

[2019-04-08 18:37] aditijoshi14 commented on #35785
@RandellDawson @lasjorg

I also want to point out that the following code passes even if it's incorrect because the way we test right now.

<img width="642" alt="Screen Shot 2019-04-08 at 2 22 18 PM" src="https://user-images.githubusercontent.com/23132028/55748070-b9cef900-5a0b-11e9-86d6-9dd68320b729.png">

[2019-04-08 18:38] aditijoshi14 commented on #35785
@RandellDawson @lasjorg

I also want to point out that the following code passes even if it's incorrect because the way we test right now.

<img width="565" alt="Screen Shot 2019-04-08 at 2 36 36 PM" src="https://user-images.githubusercontent.com/23132028/55748181-f995e080-5a0b-11e9-84e5-572ece867904.png">

[2019-04-08 18:40] RandellDawson commented on #35785
I think one possible solution (avoid regex) is just have the original style section as:
[code]
and then have the camper change the font-size to 20px or 25px with the media query.  The main reason people change this setting to something greater than 10px, is because the resolution on many screens is higher than it used to be, so 10px seems "small".

[2019-04-08 18:44] RandellDawson commented on #35785
@aditijoshi14 That is true.  This will involve changing the tests.

[2019-04-08 18:57] icatat commented on #35645
If anyone working on this issue? I would like to take care of this. In my opinion, @TimAndreJacobsen has a point in that the test should allow .slice() if the effect is the same - we know that many times people can solve a problem in multiple ways, and that should be ok. Please let me know. I can  either clarify the text so that the user knows to use concat, or I can modify both the description an

[2019-04-08 19:40] aditijoshi14 commented on #35785
@RandellDawson That makes sense.  Chaing the size will surely fix the original issue.  Also, yes we do have to change the test for fixing the issue I pointed out above. Can I work fixing both of these issues? Also, do you want me to make a different new issue for the problem I pointed out or is it okay to have PR under this issue?

[2019-04-08 21:23] RandellDawson commented on #35785
Actually, the more I think about this, we can not just look at the computed value regardless of the font-size we are looking for, because we don't have a way of mocking the user's screen height.  We really need something like puppeteer to simulate the screen height at below and above 800px to validate the correct size is used.

I guess we are stuck with using regex for both tests.  I suggest we al

[2019-04-08 23:18] aortiz1989 commented on #34574
I see the issue has been closed, but I'm seeing this issue today 4/8/19

[2019-04-08 23:34] TimAndreJacobsen commented on #35645
I bring it up since alternative solutions has been accepted previously in the corriculum. As long as the final solution is correct.
It was frustrating to have the tests fail even though the output was correct.

[2019-04-08 23:56] RandellDawson commented on #35645
@TimAndreJacobsen I normally would agree, but the description mentioned `concat` and the test case specifically tells you to use `concat`

[2019-04-09 00:09] RandellDawson commented on #34574
@aortiz1989 See issue https://github.com/freeCodeCamp/freeCodeCamp/issues/35155 for more information.

FYI - You will note I commented on why this particular issue # was closed above.  It was a duplicate of one that had already been reported.

[2019-04-09 02:24] aditijoshi14 commented on #35785
@RandellDawson Thank you so much for providing me detail information on things that I should get started with.

It is good that we no longer need message argument from the testString as it was just repetitive.

I will get started with this.

[2019-04-09 02:42] huyenltnguyen commented on #35751
@RandellDawson I'm seeing that some challenges have a JS solution. For example:
- https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-tone-of-a-color.english.md
- https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/add-a-box-

[2019-04-09 03:41] aditijoshi14 commented on #35785
@RandellDawson
Here is the order of the test:
1. Checking media query is declared right or not (currently the second test)
2. Checking font-size is set to 10px or not for screen size lower than 800px using media queries. (using regex).
3. Checking the normal font-size for p elements is 20px.

For number 3, I can only think of a regex solution. Because if we keep the following test, it might not al

[2019-04-09 06:50] TimAndreJacobsen commented on #35645
Does it have to be specifically .concat() though? The test seems to be about learning mutation and which functions have side effects and how to work around that. We learn about both concat and slice earlier on, and it seems arbitrary to only accept concat.

If the point of the challenge is to learn about concat that's fair. I'd recommend mentioning that .slice() is also an option, but ask to use .

[2019-04-09 06:54] ahmadabdolsaheb commented on #35219
I believe #35568 resolved this issue since I could not reproduce it.

[2019-04-09 08:23] thecodingaviator commented on #35219
I can confirm that this issue is reproducible on the currently deployed version of rocks

[2019-04-09 08:35] ahmadabdolsaheb commented on #35219
@thecodingaviator, rocks might be a little bit behind at the moment. Could you please try it reproduce it?

[2019-04-09 08:53] thecodingaviator commented on #35219
@ahmadabdolsaheb Sure can, will get back here soon

[2019-04-09 10:08] thecodingaviator commented on #35219
Issue tested locally. The issue is fixed on latest master. Would ship soon

[2019-04-09 10:08] #35219 closed

[2019-04-09 10:09] #35456 closed

[2019-04-09 10:11] huyenltnguyen opened #35798 "[beta] Minor grammar mistake in Applied Visual Design: Adjust the Tone of a Color challenge description"
**Describe your problem and how to reproduce it:**
There is a grammar mistake in challenge `Applied Visual Design: Adjust the Tone of a Color`'s description.

[code]

Should be

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.rocks/learn/responsive-web-design/applied-visual-design/adjust-the-tone-of-a-color

**If possible, add a screenshot here (you can drag and drop,

[2019-04-09 10:38] ojeytonwilliams commented on #17925
@chaomt If you're still interested in working on this, go for it.  Otherwise, please let me know - it's something I've been meaning to look at for a while!

[2019-04-09 11:31] AstiV commented on #35798
May I grab this one?

[2019-04-09 12:37] RandellDawson commented on #35785
To check number 3 above, you should strip out any media query (regex with a replace) and then validate that you find:
[code]

[2019-04-09 13:01] RandellDawson commented on #35751
@huyenltnguyen You are correct.  Those should be replaced with full code.  The files I originally listed had no solution code at all, so I did not capture these situations.  There are many challenges I have come across which have partial solutions like this and just fix them as I come across them.

[2019-04-09 15:24] RandellDawson commented on #35757
@sil3nthill Since we have not seen a PR from @AlyxMoon yet, go ahead an create a PR to fix this issue.

[2019-04-09 16:22] bavilari93 commented on #35751
Greetings, I'm a new contributor. I'd like to help with Responsive Web Design Projects if still available. looking forward to help out :)

[2019-04-09 16:27] moT01 commented on #35751
Sure thing @bavilari93, I will mark it down as yours. Thanks, and let us know you need anything.

[2019-04-09 16:43] ojeytonwilliams opened #35800 "Editor output displaying as code"
#17925 #35004 https://github.com/freeCodeCamp/freeCodeCamp/pull/35774#discussion_r273383987 are all related problems coming from the fact that test and `console.log` output are put into a `MonacoEditor` component. This results in them being highlighted as if they were JavaScript.

Would it be better to avoid using the `MonacoEditor` for output and instead sanitize the output and insert it as html?

[2019-04-09 16:46] AlyxMoon commented on #35757
Yeah I've got no attachment to this, have fun with it @sil3nthill

[2019-04-09 17:00] chaomt commented on #17925
@ojeytonwilliams Yes, I'm still interested in working on this issue. Thanks for referencing another issue!

[2019-04-09 17:36] ojeytonwilliams commented on #17925
@chaomt No problem.  I noticed this kind of thing kept turning up, so it seemed worthwhile to pull things together.

[2019-04-09 18:06] RandellDawson commented on #35645
@TimAndreJacobsen and @icatat  After thinking a bit more about your points, I agree this challenge could be updated to allow any valid method for copying the array (`arr.slice()`, `[],concat(arr)`, `[...arr]`, `Array.from(arr)`) and other possible ways not mentioned.  While looking at the challenge tests, I also realized someone could still technically hard-code the final return value, so I create

[2019-04-09 18:41] alzaar commented on #35769
Hi I am new to github contributions, can you explain more about the issue?

[2019-04-09 18:49] aditijoshi14 commented on #35785
That sounds like a valid test. I will work on it and push a PR.

[2019-04-09 19:14] sil3nthill commented on #35798
@RandellDawson  ah yes my bad didnt see the comment , thank you

[2019-04-09 20:20] addv12345 commented on #35707
Hi, I would like contribute as well. @Pogayo can you send me the draft as well so I could review it too?

[2019-04-09 21:13] JulianNF commented on #18142
Hey @ezioda004 : I figured out while trying to make heads or tails of the boilerplate code that the tests are enabled for the Metric-Imperial Converter project by defining the .env variable `NODE_ENV=test`.

@spencercorwin I found that the [FCC Back-end Tester](https://pricey-hugger.glitch.me/) that you and others have kindly shared didn't work for me. It fails for each test on my project (even wi

[2019-04-09 23:23] RandellDawson commented on #35769
@moT01 A new camper would have no idea how to find the file on GitHub.  They are doing good just to open an issue and provide the link to the challenge.

[2019-04-10 01:49] moT01 commented on #35769
Well, I suppose that's mostly true. But I think most people could find the files, and if they can't or don't want to, then they don't need to include it. Not to mention a lot of the issues are created by people who are familiar with the repo.

This was just a suggestion that I thought could make it easier. But yea, maybe not for everyone. It's not something that would really make much of a differe

[2019-04-10 05:17] RandellDawson commented on #35769
@moT01 It is not a bad idea, but I am not sure if we will be able to get people to do it.  Many people don't report all the info that is asked for on the existing template.

[2019-04-10 06:48] rimij405 commented on #35751
@RandellDawson Just reading through the thread and didn't realize we should also have been correcting for JS-only solutions as well. I found one in `Applied Accessibility`: [/curriculum/challenges/english/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.english.md@`master`](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/ch

[2019-04-10 13:51] #35768 closed

[2019-04-10 13:53] thecodingaviator commented on #35800
The #35574 is being fixed via #35811

[2019-04-10 15:25] #35793 closed

[2019-04-10 16:23] #34926 closed

[2019-04-10 16:33] ojeytonwilliams commented on #35727
@RandellDawson I'm happy to take a look at this, but there is a risk that even a good change to the markdown parser could create issues in currently fine challenges. Do you think using Jest to create snapshots of the challenges is feasible?  I'd want some way of making sure that I didn't create more problems than I solved!

[2019-04-10 19:45] LifeVirus commented on #35481
Do we still need help for Arabic/Chinese? @Manish-Giri @thecodingaviator? I wouldn't mind picking up those as well!

[2019-04-10 21:22] wang1998tina opened #35814 "Need solutions for sorting algorithm challenges in Coding Interview Prep/Algorithms"
**Describe your problem and how to reproduce it:**
Located in the English coding challenges, under Coding Interview Prep, under Algorithms, the sorting algorithms have no solutions.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/english/08-coding-interview-prep/algorithms

**Tell us about your browser and operating syste

[2019-04-10 21:23] wang1998tina commented on #35814
Forgot to mention that I'm super happy to just tackle this issue!

[2019-04-10 21:26] #35785 closed

[2019-04-10 21:31] Manish-Giri commented on #35481
@LifeVirus Sure! Go ahead!

[2019-04-10 21:41] RandellDawson commented on #35814
Feel free to add full working solutions to for these challenges.  Please put them on a single PR.  Thank you.

[2019-04-11 02:34] narueon opened #35816 ""Search Results" placement for mini search bar"
**Describe the bug**
Search results are not placed correctly for mini search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app/'
2. Click on 'Search Bar in Header'
3. Type 'D3.js' (well you can type anything).
4. See error (Alignment of search Result is improper)

**Expected b

[2019-04-11 02:46] RandellDawson commented on #35816
This has already been fixed on our master branch, but has yet to be deployed to production.  You can see the fix in action by checking out our beta site (https://freecodecamp.rocks)

[2019-04-11 02:46] #35816 closed

[2019-04-11 04:00] EliasOPrado commented on #17299
my streaks don't appear at all.

[2019-04-11 09:53] sil3nthill opened #35820 "No solutions for some challenges : English / data-structures"
**Describe your problem and how to reproduce it:**
Hello so i was checking some challenges and i found some without solutions ,
Located in english/08-coding-interview-prep/data-structures/

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/english/08-coding-interview-prep/data-structures

**Tell us about your browser and ope

[2019-04-11 09:54] sil3nthill commented on #35820
i would like to start working on them now :
create-a-hash-table.english.md
check-if-an-element-is-present-in-a-binary-search-tree.english.md
create-a-doubly-linked-list.english.md
invert-a-binary-tree.english.md
add-elements-at-a-specific-index-in-a-linked-list.english.md
i would be more than happy to contribute thanks

[2019-04-11 09:57] RizwanSyed357 opened #35821 "Testing and Test Driven Development"
I am trying to learn about testing and test driven development. It is quite difficult to find n00b-friendly resources online that are clear and easy to understand.

I can't see anything in your curriculum about this. It might be a good idea to add this to your curriculum?

Cheers

[2019-04-11 12:15] ojeytonwilliams commented on #17411
Steps to reproduce:

- Use Firefox
- Go to https://www.freecodecamp.rocks/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
- Currently you can scroll to the bottom and see no white padding
- Click on line 2 of the editor and hit Ctrl-Space to get suggestions and then Ctrl-Enter to run the tests
- Now scroll to the bottom and see that the padding is visible

![ScrollbarAp

[2019-04-11 16:46] guayom opened #35823 "Answer for 'Functional Programming: Sort an Array Alphabetically using the sort Method' doesn't work in Chrome"
**Describe your problem and how to reproduce it:**

I was doing the [Functional Programming: Sort an Array Alphabetically using the sort Method](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method) challenge, in which you're supposed to sort an array of letters alphabetically. So I tried what I thought w

[2019-04-11 20:40] ageebc137 commented on #35481
Hi @LifeVirus, are you doing both Arabic/Chinese? Do you mind if I do one of the folders?

[2019-04-12 02:42] LifeVirus commented on #35481
@ageebc137 Go for it! I'll take Chinese and you can have Arabic?

[2019-04-12 06:43] zootechdrum commented on #35751
Can I help. or are all issues taken?

[2019-04-12 06:49] ageebc137 commented on #35481
Thanks @LifeVirus. I'll move forward with the Arabic folder.

[2019-04-12 07:55] ahmadabdolsaheb commented on #34890
@Bouncey, I think there is a similar problem with fullstack certs. I am curious, how did you find out they were different?

[2019-04-12 08:22] sil3nthill commented on #35820
add-elements-at-a-specific-index-in-a-linked-list.english.md => DONE
 check-if-an-element-is-present-in-a-binary-search-tree.english.md => DONE
going to finish the others and create on PR for all of them what do you think about that @RandellDawson

[2019-04-12 09:36] sil3nthill commented on #35820
same thing with most of  challenges in arabic , do you want me to create a new issue for this i want to work on the maximum of them , moving existed solution in english to other challenges in arabic , and also translate

[2019-04-12 12:52] ojeytonwilliams commented on #35821
Hi @RizwanSyed357 as far as I can see there isn't anything explicitly covering Test Driven Development in the curriculum.  However, there is a section on testing, [here](https://learn.freecodecamp.org/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/) and there is a [short article](https://guide.freecodecamp.org/agile/test-driven-development) in the guide that cov

[2019-04-12 13:23] sil3nthill commented on #35757
hello back on this again so i changed the regex to this :
from this :     testString: assert(code.match(/<head>\s*?<title>\s*?.*?\s*?<\/title>\s*?<\/head>/gi)
to :
assert(code.match(/<head>\s*?<title>\s*?.*?\s*?<\/title>\s*?<\/head>\s*?<body>\s*?.*?\s*?</body>/gi)
so now there must be a <body> included with the solution ,
what do you thing about that ? if its okey for u , then i can go and create

[2019-04-12 13:54] RandellDawson commented on #35751
@zootechdrum For now, all of the challenges in this section now have PRs or they have already been assigned to someone to work on.

[2019-04-12 14:44] PunisherCR opened #35828 "No solutions for challenges in Algorithms section / russian"
**Describe your problem and how to reproduce it:**
in Russian challenges , in the folder algorithms , no file contain a solution

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/russian/08-coding-interview-prep/algorithms

**Tell us about your browser and operating system:**
* Browser Name: Google chrome
* Browser Version:

[2019-04-12 14:44] PunisherCR commented on #35828
Maybe i can work on this ? cheers

[2019-04-12 15:02] RandellDawson commented on #35828
Don't worry about these.  Instead, focus on challenges in the English section.  Once we get all of the English solutions added, we will create a single PR which copies them over to all the other languages.

[2019-04-12 15:02] #35828 closed

[2019-04-12 15:18] MattDBA1 opened #35830 "CSS challenges - pass/fail related to attribute order"
**Describe your problem and how to reproduce it:**
Deliberately tried to break the test by adding superfluous CSS attributes. Requested addition was "padding:1.5em", and the tests are:

Your red-box class should have a padding property.
Your red-box class should give elements 1.5em of padding.

I added CSS attributes in the following order:

    font-family:"Bauhaus 93";
    font-size:3em;
    pad

[2019-04-12 15:29] RandellDawson commented on #35830
@MattDBA1 Most of the challenges are testing for a very specific thing.  In this case, the tests are not expecting you to add anything else other than the `padding: 1.5em;`  The tests are not expecting the extra `font-type` or `font-size` properties in the `red-box` class definition.

You might check out the [beta site for the same challenge](https://www.freecodecamp.rocks/learn/responsive-web-des

[2019-04-12 21:27] chaomt commented on #17925
@ojeytonwilliams Hi, are you still interested in working on this issue? I am so busy recently and do not have time to work on this.

[2019-04-12 22:18] RandellDawson commented on #17925
@chaomt I have added the `help wanted` label since you are no longer able to work on this one.  Someone will pick it up.

[2019-04-13 08:37] Emil-Valentin-Toma opened #35836 "next challenge page code frame visibility"
Hi,
I came across a little bug.
As soon as I got a passed test frame and then Ctrl+Enter, the next challenge page, although it loads completely, shifts up one line in my preferred browser, Firefox 67.0b7 (64-bit) (screenshot enclosed). I tested the same in Chrome 73.0.3683.103 (Official Build) (64-bit) and the issue is not present. Also, the issue is not present at all while looping back or forwar

[2019-04-13 09:04] ConiWright commented on #35481
Hey, Would like to give a hand as its my first contribution. Where should i start? is the quote issue resolved or are there more languages where help is needed?
Thanks in advance

[2019-04-13 11:02] AstiV commented on #35798
Thanks for bearing with me the last days. Created a pull request and happy for any feedback considering the contributing process :)

[2019-04-13 12:04] RandellDawson commented on #35481
@ConiWright - It appears you can choose between Spanish and Portuguese.  If you have not contributed before, I suggest starting with [How to Setup Free Code Camp locally](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md#set-up-freecodecamp-locally) and [How to Work on Coding Challenges](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/

[2019-04-13 12:06] RandellDawson commented on #35836
@Emil-Valentin-Toma Can you test this on our [beta site](https://freecodecamp.rocks).  The beta site has many fixes in place and might have already been taken care of.  Let us know.

Thanks.

[2019-04-13 16:44] LifeVirus commented on #35481
@ConiWright Actually I think that all files currently are accounted for. Me and @ageebc137 have created PR's for Portuguese/Spanish, and now we're working on Chinese/Arabic. I think Russian and English were already taken before us.

[2019-04-13 17:34] #35621 closed

[2019-04-13 19:31] AstiV opened #35841 "Missing info about how to handle package-lock.json in setup guide"
**Describe your problem and how to reproduce it:**

I just set up the freeCodeCamp project locally using this guide:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally-using-docker.md

Thereby I stumbled upon one thing, that other beginners might stumble upon, too:

Here, you explain, that when running git status on master, the output should be `nothing

[2019-04-13 21:08] nataliecardot commented on #35700
The challenge says to "Use lookaheads in the pwRegex to match passwords that are greater than 5 characters long and have two consecutive digits." However, {5,}, meaning "at least 5" rather than "greater than 5" (at least that's how it works in a boolean comparison) is shown in the solution and accepted. While {6,} is also accepted, I think {5,} shouldn't be accepted or shown in the solution.

[2019-04-13 21:17] nataliecardot opened #35842 "Regular Expressions: Restrict Possible Usernames -- instructions wording doesn't make sense"
**Describe your problem and how to reproduce it:**
The challenge says "Usernames have to be at least two characters long. A two-**letter** username can only use alphabet letter characters."

However, this should be changed to "Usernames have to be at least two characters long. A two-**character** username can only use alphabet letter characters."

Letter already means an alphabet letter, whereas c

[2019-04-13 21:55] RandellDawson commented on #35842
There is a problem with saying two-character, as that would mean non-alphanumeric characters could be possible. It may be simplest to add a 4th requirement for usernames and make it the first requirement.
1. Usernames can only use alpha-numeric characters
2. The only numbers in the username have to be at the end.
3. Username letters can be lowercase and uppercase.
4. Usernames have to be at least

[2019-04-13 22:06] RandellDawson commented on #35700
If you look at the [current solution on master](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.english.md) it is `{6,}`.

[2019-04-14 05:48] Emil-Valentin-Toma commented on #35836
Hi @RandellDawson,
I replicated the test and the error is not present on the beta site. The code frame visibility is normal, starting with the first line (screenshot enclosed). Therefore the bug was fixed for this particular setting.
I didn't check other than the two pages necessary for replicating the test sequence. I'd be glad to perform other tests if you wish, as per instructions.

It looks li

[2019-04-14 15:07] RandellDawson commented on #35836
I am going to close this issue for now, since it can not be replicated on the beta site which will soon be moved to production.  Feel free to request it be reopened if you discover any problems after further testing of the beta site.

Not sure what you mean here.  What gives you this indication?

[2019-04-14 16:20] #35437 closed

[2019-04-15 03:06] icatat commented on #35830
Hi @RandellDawson ! I checked out this issue and it happens both in the beta website as well as in the current one. It seems like the test case was requiring the `padding` to be a third argument. I tried to fix the issue and I created a PR for the English version.

[2019-04-15 04:31] deepanshu1959 commented on #35765
testing

[2019-04-15 08:11] PunisherCR opened #35851 "Issue with running tests locally ( with the exact current code version )"
![bug1](https://user-images.githubusercontent.com/49563523/56116795-0021dc00-5f67-11e9-9f01-7a19d5bcd42a.png)
![bug2](https://user-images.githubusercontent.com/49563523/56116801-03b56300-5f67-11e9-93c8-99c68be224fe.png)

**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe

[2019-04-15 08:35] #35798 closed

[2019-04-15 10:45] Dharmin2108 commented on #35742
<h1>check</h1>

[2019-04-15 10:57] Dharmin2108 commented on #35742
hello

[2019-04-15 11:21] sil3nthill commented on #35851
hello did you copy the sample.env to .env ?
since you are on windows try this :
copy sample.env .env
and then run the tests again

[2019-04-15 11:28] PunisherCR commented on #35851
thanks work like magic !!!! i spent two days looking for the bug

[2019-04-15 13:37] sil3nthill commented on #35851
sorry deleted the answer .
for anyone there facing the same thing maybe ,
just make sure to copy the sample.env file to .env if you are using windows then just run
copy sample.env .env
cheers

[2019-04-15 14:56] sil3nthill commented on #35742
maybe i can work on this one too ? what can i do exactly ? thanks
i can test on the current version locally but how can i test on the beta version ?

[2019-04-15 15:32] RandellDawson commented on #35742
@sil3nthill The beta is just a version of what is on the `master` branch.  It can be up to 2-3 weeks behind it, depending on how often it gets updated.  If it works locally, then it will work on the beta.

[2019-04-15 15:44] #35851 closed

[2019-04-15 16:43] kanuos opened #35852 "Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement"
**Describe your problem and how to reproduce it:**
Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement when clicked on the hint page shows a 404 error.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-st

[2019-04-15 18:24] LifeVirus commented on #35481
After looking for `"<code>`, `</code>"`, `" <code>`, `</code> "`,  `&quot; <code>`, `</code> &quot;`, `&quot;<code>`, and `</code>&quot;`, I couldn't find any instances of any of these in the Chinese folder. Somebody else can verify if they wish, but as far as I've searched, I can't find anything in the Chinese folder specifically, even though they exist in my local (non-fixed) Arabic, Portuguese,

[2019-04-15 19:55] dnntrn commented on #35852
Hey @kanuos!

If you haven't already:

1. Fork the freeCodeCamp repository
2. Clone the forked repository and create a branch for your issue
3. make the proper changes/fix the issue on the new branch
3. Once it's all done, submit a pull request to fix the issue.
* make sure your pull request references the issue, and has the pull request checklist (you can view some of the other pull request as an

[2019-04-15 20:04] Harsha1718 commented on #35852
gtyu

[2019-04-15 20:08] RandellDawson commented on #35852
@kanuos, @dnntrn This issue has already been fixed on `master` branch, but has not been deployed to production.

You can see the fix on our [beta site](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement).

I am closing this issue.

[2019-04-15 20:08] #35852 closed

[2019-04-15 23:39] Emil-Valentin-Toma commented on #35836
*"It looks like you going to store the user's solution on the challenge
page? That would be very appreciated!*

*Not sure what you mean here. What gives you this indication?"*

           On the actual site, as soon as I navigate further to the next
challenge, all the data I wrote (the solution) for the passed challenge is
lost. Should I need to refresh memory - no chance. If I accessed a solved
c

[2019-04-15 23:44] darrinlallen opened #35853 "console.log spelled incorrectly"
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects/

console.log spelled wrong at bottom of link above

Reassign properties using deconstruction.
var basicOjb = {x: 40};
//To reassign 'get the value of the x property of basicObj and place its value into bigX' in ES6:
const { x: bigX } = basicOjb;

[2019-04-15 23:46] RandellDawson commented on #35836
@Emil-Valentin-Toma If you clear your cache, my guess is you will lose your old solutions as they are not stored on a server anywhere.  The only thing saved is whether or not you have passed the challenge.

[2019-04-16 00:18] RandellDawson commented on #35853
This has already been fixed on the `master` branch, but has yet to be deployed to production.  You can view the page on our [beta site](https://www.freecodecamp.rocks/guide/certifications/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects/) which is a recent live version of the `master` branch.

I am closing due to this just waiting to be pu

[2019-04-16 00:18] #35853 closed

[2019-04-16 03:50] tb47 commented on #34958
Good morning Randell,

sorry for replying to this topic. I was proud to have a own solution, but then I figured out that it just passes the test, but does not solve the task. Reasons are mentioned by ChiselD:

`function fearNotLetter(str) {
  let abc = 'abcdefghijklmnopqrstuvwxyz';
  let test = abc.slice(abc.indexOf(str[0]))
  if (str === abc) { return undefined }
  for (let i = 0; i < str.length+

[2019-04-16 05:59] deepanshu1959 commented on #35842
my first comment

[2019-04-16 07:32] k-mayur commented on #35410
hi testing comment api post

[2019-04-16 07:46] deepanshu1959 commented on #35842
my second comment

[2019-04-16 09:16] amrithakrishnan commented on #35410
Me too

[2019-04-16 09:18] amrithakrishnan commented on #35410
Test

[2019-04-16 09:23] amrithakrishnan commented on #35410
Hello mayur :p

[2019-04-16 09:25] Dharmin2108 commented on #35574
Checking my project

[2019-04-16 09:37] Harsha1718 commented on #35842
sadasd

[2019-04-16 09:40] Harsha1718 commented on #35842
first

[2019-04-16 09:51] deepanshu1959 commented on #35842
my second comment

[2019-04-16 09:55] deepanshu1959 commented on #35842
hii

[2019-04-16 09:55] jacky1205 commented on #35842
hii

[2019-04-16 09:57] jacky1205 commented on #35842
hii

[2019-04-16 10:00] Harsha1718 commented on #35842
hiii

[2019-04-16 10:02] jacky1205 commented on #35842
hii

[2019-04-16 10:02] jacky1205 commented on #35842
hii

[2019-04-16 10:13] Dharmin2108 commented on #35842
hii

[2019-04-16 10:14] amrithakrishnan commented on #17243
api-test-comment

[2019-04-16 10:19] Dharmin2108 commented on #35842
hii

[2019-04-16 10:45] Harsha1718 opened #35858 "testing git hub issues"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2019-04-16 10:52] deepanshu1959 commented on #35842
my third comment

[2019-04-16 11:03] deepanshu1959 commented on #35842
fchgv jhbm

[2019-04-16 11:04] amrithakrishnan commented on #35858
api-test-comment

[2019-04-16 11:04] deepanshu1959 commented on #35858
regards

[2019-04-16 11:05] k-mayur commented on #35858
this is not a comment.

[2019-04-16 11:05] k-mayur commented on #35858
this is WAR.

[2019-04-16 11:06] sudhanshu-kumar commented on #35858
asd

[2019-04-16 11:06] amrithakrishnan commented on #35858
lol

[2019-04-16 11:08] amrithakrishnan commented on #35858
asdf

[2019-04-16 11:09] amrithakrishnan commented on #35858
HARSHIT is my bestest friend

[2019-04-16 11:09] amrithakrishnan commented on #35858
HARSHIT is my bestest friend

[2019-04-16 11:15] deepanshu1959 commented on #35858
third comment

[2019-04-16 11:19] amrithakrishnan commented on #35858
-_-

[2019-04-16 11:21] amrithakrishnan commented on #35858
sdf

[2019-04-16 11:21] amrithakrishnan commented on #35858
..

[2019-04-16 11:25] amrithakrishnan commented on #35858
asdf

[2019-04-16 11:26] k-mayur commented on #35858
add to check delete function

[2019-04-16 11:33] amrithakrishnan commented on #35858
123

[2019-04-16 11:34] amrithakrishnan commented on #35858
1

[2019-04-16 11:34] amrithakrishnan commented on #35858
2

[2019-04-16 11:35] amrithakrishnan commented on #35858
3

[2019-04-16 11:36] k-mayur commented on #35858
4

[2019-04-16 11:36] k-mayur commented on #35858
4

[2019-04-16 11:37] amrithakrishnan commented on #35858
4

[2019-04-16 11:38] amrithakrishnan commented on #35858
4

[2019-04-16 11:39] amrithakrishnan commented on #35858
5

[2019-04-16 11:40] amrithakrishnan commented on #35858
4

[2019-04-16 11:41] k-mayur commented on #35858
5

[2019-04-16 11:44] amrithakrishnan commented on #35858
3

[2019-04-16 11:45] pratipb commented on #35765
1234

[2019-04-16 11:45] amrithakrishnan commented on #35858
aa

[2019-04-16 11:45] pratipb commented on #35765
my comment

[2019-04-16 11:46] amrithakrishnan commented on #35858
1

[2019-04-16 11:48] k-mayur commented on #35858
5

[2019-04-16 11:50] amrithakrishnan commented on #35858
1234

[2019-04-16 11:51] k-mayur commented on #35858
5678

[2019-04-16 11:51] pratipb commented on #35765
first comment

[2019-04-16 11:52] amrithakrishnan commented on #35858
8910

[2019-04-16 11:53] k-mayur commented on #35858
5678

[2019-04-16 11:53] k-mayur commented on #35858
I'm THE mayur

[2019-04-16 11:57] amrithakrishnan commented on #35858
aa

[2019-04-16 12:02] amrithakrishnan commented on #35858
new

[2019-04-16 12:04] amrithakrishnan commented on #35858
asdf

[2019-04-16 12:05] amrithakrishnan commented on #35858
asfd

[2019-04-16 12:06] amrithakrishnan commented on #35858
111

[2019-04-16 12:07] amrithakrishnan commented on #35858
2

[2019-04-16 12:10] amrithakrishnan commented on #35858
new

[2019-04-16 12:11] Harsha1718 commented on #35858
free

[2019-04-16 12:11] Harsha1718 commented on #35858
free commenting

[2019-04-16 12:12] amrithakrishnan commented on #35858
newer

[2019-04-16 12:13] Harsha1718 commented on #35858
12233

[2019-04-16 12:18] amrithakrishnan commented on #35858
4567

[2019-04-16 12:19] Tanmay-jana commented on #35858
Me too

[2019-04-16 12:22] amrithakrishnan commented on #35858
Me three

[2019-04-16 12:25] pratipb commented on #35765
12

[2019-04-16 12:29] pratipb commented on #35755
123

[2019-04-16 12:29] pratipb commented on #35755
123

[2019-04-16 12:31] Harsha1718 commented on #35858
sad

[2019-04-16 12:31] pratipb commented on #35858
1234

[2019-04-16 12:31] Harsha1718 commented on #35858
sadasd

[2019-04-16 12:31] pratipb commented on #35858
1234

[2019-04-16 12:32] pratipb commented on #35858
abcd

[2019-04-16 12:32] Harsha1718 commented on #35858
asdsd

[2019-04-16 12:33] Harsha1718 commented on #35858
asdsda

[2019-04-16 12:34] pratipb commented on #35858
ok

[2019-04-16 12:35] pratipb commented on #35858
john

[2019-04-16 12:36] thousif5 commented on #35858
qwerty

[2019-04-16 12:36] Harsha1718 commented on #35858
adsad

[2019-04-16 12:37] Harsha1718 commented on #35858
bold jacky

[2019-04-16 12:38] pratipb commented on #35858
yes

[2019-04-16 12:38] pratipb commented on #35858
yes

[2019-04-16 12:39] jacky1205 commented on #35858
hii

[2019-04-16 12:40] Harsha1718 commented on #35858
bold jacky

[2019-04-16 12:40] jacky1205 commented on #35858
Hello

[2019-04-16 12:41] Harsha1718 commented on #35858
bold jacky

[2019-04-16 12:41] pratipb commented on #35858
winter is coming

[2019-04-16 12:42] #35858 closed

[2019-04-16 12:58] ojeytonwilliams commented on #35823
What's going on here is that Chrome is being strict about the spec while Firefox is more relaxed.  From [here](https://www.ecma-international.org/ecma-262/6.0/#sec-array.prototype.sort):

The instructions are a bit different on [rocks](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method/), as the mislead

[2019-04-16 12:59] Harsha1718 opened #35859 "new issue"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-04-16 13:03] jacky1205 commented on #35859
hii

[2019-04-16 13:03] Harsha1718 commented on #35859
firs

[2019-04-16 13:03] Harsha1718 commented on #35859
sad

[2019-04-16 13:07] Harsha1718 commented on #35859
testing

[2019-04-16 13:09] Harsha1718 commented on #35859
sadsad

[2019-04-16 13:13] jacky1205 commented on #35859
hello

[2019-04-16 13:21] jacky1205 commented on #35859
hello

[2019-04-16 13:21] jacky1205 commented on #35859
Hey

[2019-04-16 13:25] jacky1205 commented on #35859
harsha

[2019-04-16 13:27] jacky1205 commented on #35859
tdyfguhjk

[2019-04-16 13:33] jacky1205 commented on #35859
hdhsfsgb

[2019-04-16 13:38] jacky1205 commented on #35859
qwert

[2019-04-16 14:00] jacky1205 commented on #35859
tyui

[2019-04-16 14:00] jacky1205 commented on #35859
ttrs

[2019-04-16 14:16] Harsha1718 commented on #35859
hi

[2019-04-16 14:16] Harsha1718 commented on #35859
hey

[2019-04-16 14:16] Harsha1718 commented on #35859
sadsadsadsad

[2019-04-16 14:23] Harsha1718 commented on #35859
sadsad

[2019-04-16 14:23] Harsha1718 commented on #35859
asdasdsad

[2019-04-16 14:23] Harsha1718 commented on #35859
asdsadsadsad

[2019-04-16 14:36] guayom commented on #35823
Thank you for the explanation! Now I understand what the problem is.
I think that the instructions are very good at explaining how `sort()` works.
But the problem remains. In chrome, you won't be able to sort alphabetically an array of letters by using `arr.sort((a,b)=>a>b)`., as the example shows.

Actually, if you copy and paste the second example from the instructions, you will get a different

[2019-04-16 14:52] Harsha1718 commented on #35859
sadasd

[2019-04-16 14:52] Harsha1718 commented on #35859
asdasdasd

[2019-04-16 14:52] Harsha1718 commented on #35859
asd

[2019-04-16 14:54] #35859 closed

[2019-04-16 14:57] RandellDawson commented on #34958
Why do you believe your code does not solve the task?

[2019-04-16 15:18] ojeytonwilliams commented on #35823
@guayom Ah, my bad, I linked to the wrong page!  I should have pointed you to [here](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method).  I've edited my original comment, but I thought I'd best add this so you know what happened.

I think it's okay to keep one challenge, but it might be worth mod

[2019-04-16 15:22] RandellDawson commented on #35823
@guayom Though not reflected in the beta, the challenge was update`d on PR #35756.  Also, on PR #35746, I have corrected the suggested solution and improved the hint example.  I am just waiting for it to get merged.

[2019-04-16 15:23] Tanmay-jana commented on #35820
Hi

[2019-04-16 15:23] jacky1205 opened #35861 "testIssues"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-04-16 15:24] jacky1205 commented on #35861
hii

[2019-04-16 15:24] jacky1205 commented on #35861
hiiii

[2019-04-16 15:26] Tanmay-jana opened #35862 "test"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-04-16 15:26] #35861 closed

[2019-04-16 15:27] Tanmay-jana commented on #35862
test

[2019-04-16 15:27] Tanmay-jana commented on #35862
hi\

[2019-04-16 15:28] #35862 closed

[2019-04-16 15:41] guayom commented on #35823
@ojeytonwilliams @RandellDawson  Oh I see now! That's perfect! Thanks for your help!
With all that said, I'll close the issue since the changes will eventually get merged :)

[2019-04-16 15:56] #35823 closed

[2019-04-16 18:04] madurachanna commented on #35842
Deepanshu, I will be joining you

[2019-04-16 18:31] manoj9593 opened #35865 "issueProject"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-04-16 18:31] #35865 closed

[2019-04-16 18:32] manoj9593 opened #35866 "projectIssue"
This Issue is created for practice purpose only.

[2019-04-16 18:34] #35866 closed

[2019-04-16 18:35] manoj9593 commented on #35866
comment 1

[2019-04-16 18:35] manoj9593 commented on #35866
comment 1

[2019-04-16 18:35] manoj9593 commented on #35866
comment 2

[2019-04-16 18:35] manoj9593 commented on #35866
comment 3

[2019-04-17 04:52] madurachanna commented on #35566
not for me

[2019-04-17 04:53] madurachanna commented on #35566
not for me

[2019-04-17 06:13] manoj9593 opened #35867 "Issue Title"
Issue created to practice React

This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is IssueBody This is

[2019-04-17 06:13] manoj9593 commented on #35867
comment 1

[2019-04-17 06:13] manoj9593 commented on #35867
commnet 2

[2019-04-17 06:13] manoj9593 commented on #35867
comment 3

[2019-04-17 06:39] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 06:41] sudhanshu-kumar commented on #35867
45

[2019-04-17 06:51] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 06:55] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 06:57] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 07:00] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 07:03] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 07:06] madurachanna commented on #35730
Thanks thecodingaviator

[2019-04-17 07:10] madurachanna commented on #35730
guess this PR adds to #35694

[2019-04-17 07:23] sudhanshu-kumar commented on #35867
45

[2019-04-17 09:11] sudhanshu-kumar commented on #35867
745

[2019-04-17 09:14] amrithakrishnan commented on #35867
123

[2019-04-17 09:16] sudhanshu-kumar commented on #35867
258

[2019-04-17 09:25] sudhanshu-kumar commented on #35867
96

[2019-04-17 10:02] sudhanshu-kumar commented on #35867
85

[2019-04-17 10:19] sudhanshu-kumar commented on #35867
45

[2019-04-17 10:28] sudhanshu-kumar commented on #35867
fgh

[2019-04-17 10:34] sudhanshu-kumar commented on #35867
465

[2019-04-17 10:40] sudhanshu-kumar commented on #35867
asd

[2019-04-17 11:26] Ashuanuj commented on #35867
asdfghjkl

[2019-04-17 11:37] thecodingaviator commented on #35867
**This spam of comments is in flagrant violation of freeCodeCamp's Code of Conduct available [here](https://www.freecodecamp.org/code-of-conduct).** I am closing the issue, please take this malpractice elsewhere

[2019-04-17 11:37] #35867 closed

[2019-04-17 12:49] Ashuanuj commented on #35842
ftguyguj

[2019-04-17 13:36] ojeytonwilliams commented on #35070
Turns out there are three solutions for `n = 120` and the one you land on depends on how you explore the space: `[30,40,50]`, `[24,45,51]` and `[20,48,52]`.

I'll update the tests to accept all three.  Thanks for looking into this, everyone!

[2019-04-17 14:09] ojeytonwilliams commented on #34727
I've verified this is resolved on master, so I'm closing it.  Thanks for the report and checks!

[2019-04-17 14:09] #34727 closed

[2019-04-17 19:51] l3112 opened #35872 "JS Challenge 162 Not Found"
It was working at one point, but no longer.  I did put in and submit some code (it was incorrect), but only within the parameters of the challenge.

**Chrome Screenshots;**
![Screen Shot 2019-04-17 at 2 42 27 PM](https://user-images.githubusercontent.com/45317033/56316090-0d81c680-611f-11e9-985c-c036744367a3.png)
![Screen Shot 2019-04-17 at 2 42 25 PM](https://user-images.githubusercontent.com/453

[2019-04-18 03:09] ranched commented on #35730
After looking at this and [#35694](https://github.com/freeCodeCamp/freeCodeCamp/issues/35694) it seemed the error referenced here was in the 'boilerplate-mochachai' repo and not the curriculum repo so submitted a PR on the 'boilerplate-mochachai' repo with a fix.

[2019-04-18 05:39] srazdan4 commented on #35660
Have you tried running it on a different laptop altogether?

[2019-04-18 05:54] Drithyl commented on #34240
@dnntrn Still working on this?

[2019-04-18 07:47] Donearm commented on #35660
I've tried on my desktop and after a little more than 1 minute the browser becomes responsive again. Probably due to the desktop being much faster than the laptop, eventually the script blocking the browser exits while on the laptop it takes too long to notice it.

But the issue is on the desktop too, definitely.

[2019-04-18 08:24] sil3nthill commented on #35872
i couldn't generate the bug again its seems ok on my browser

[2019-04-18 08:31] sil3nthill opened #35874 "JS Iterate Through the Keys of an Object , challenge bug"
**Describe your problem and how to reproduce it:**
so the challenge ask the user to  Iterate Through the Keys of an Object with a for...in Statement,
and return the number of  users where online = true;
although i could pass the test without using a for in statement and just writing return 5; which is used in the assert test which is definitely not what we are expecting .

**Add a Link to the page

[2019-04-18 08:34] sil3nthill commented on #35874
i think we should add a test on the user code and test if he used for in statement and the returned value must be equal to 2 , i can work on this if you agree

[2019-04-18 10:39] ojeytonwilliams commented on #35872
@l3112 did you find this via the search bar by any chance?  If so, hopefully it will be fixed by #35540

[2019-04-18 12:21] kishan2019 opened #35875 "submit button are not working in ubuntu"
**Describe your problem and how to reproduce it:**
when I am clicking ctrl + enter some time it not submit.

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-04-18 14:42] l3112 commented on #35872
I was just doing them in order. Go to the home page, scroll down, clicking "Go to coding curriculum."

[2019-04-18 15:00] l3112 commented on #35872
I ended up searching the course (Javascript basics), and clicking the last challenge I hadn't completed and it worked. I can now reach the other challenges through the first page.

[2019-04-18 15:55] RandellDawson commented on #34775
To anyone who has had problems with this challenge using Chrome, if you go to chrome://settings/fonts and make sure you set minimum font size to the lowest setting, does that allow you to pass all the tests?

![image|689x224](upload://unyOF7q6jWBOHx6plEscng2f8A2.png)

[2019-04-18 16:03] Wishnia opened #35878 "Missing favicon"
**Describe the bug**
When you go to freecodecamp.rocks favicon in cards is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freecodecamp.rocks
2. Oops! There is a bug 🐛

**I reproduced steps on smarthphone, but there is no bug.**

**Expected behavior**
Favicon should be visible in cards

**Screenshots**
![1](https://user-images.githubusercontent.com/44586513/56374526-aee24880-6

[2019-04-18 16:15] RandellDawson commented on #35872
@l3112 There are no challenge numbers.  The challenges have unique titles.  The number (163) is what is known as a [brownie point]https://guide.freecodecamp.org/meta/free-code-camp-brownie-points/), which is no longer really used, but has not been removed from the platform.

[2019-04-18 16:19] Wishnia opened #35879 "Images on main page are displayed in wrong place"
**Describe the bug**
Images on main page are not centered, they are too much on the left side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freecodecamp.rocks
2. Oops! There is a bug 🐛

**Expected behavior**
Images should be centered.

**Screenshots**
![1](https://user-images.githubusercontent.com/44586513/56375385-ac80ee00-6205-11e9-87cd-9515f7ffe369.png)
1. PC screenshot

![pCd5Y]

[2019-04-18 16:44] thecodingaviator commented on #35879
Has been fixed in latest build. Would be deployed soon

[2019-04-18 16:44] #35879 closed

[2019-04-18 16:45] RandellDawson commented on #35874
This particular challenge has more than one issue.  Behind the scenes, 3 additional users are added to the `users` object with an `online` property set to `true`.  I think instead of adding extra users behind the scenes, the existing `users` object should either have one new user with `online` property set to `true` or change one of the existing users which has an `online` property of `false` to `

[2019-04-18 16:47] thecodingaviator commented on #35878
Fixed in latest build. Would be pushed to production soon.

Refer #35219 #35568

[2019-04-18 16:47] #35878 closed

[2019-04-18 16:47] thecodingaviator commented on #35875
Can you add a screenshot of your browser developer console please?

[2019-04-18 16:52] ojeytonwilliams commented on #35872
@l3112 I've looked into this a bit more and as far as I can see it *should* be fixed the next time a new build is pushed to production.  It's tricky to directly test, because you need to be logged into the beta site while on the homepage, www.freecodecamp.rocks not www.freecodecamp.rocks/learn,  and I don't believe that's possible currently.

That said, the problem (there were two functions respon

[2019-04-18 16:53] thecodingaviator commented on #35821
I'm closing this issue. The problem has been addressed in the previous comment

[2019-04-18 16:53] #35821 closed

[2019-04-18 16:55] thecodingaviator commented on #16390
@QuincyLarson I believe that this might be something we should do for the new curriculum

[2019-04-18 17:29] l3112 commented on #35872
Thanks! Seems good now.

[2019-04-18 17:29] #35872 closed

[2019-04-18 17:47] kishan2019 commented on #35875
Now its working some time happens I will send you when it will happen

[2019-04-18 18:46] #35875 closed

[2019-04-18 21:00] Manish-Giri commented on #35874
@RandellDawson Your suggested changes sound good to me. Just to be sure though, I think you were proposing a challenge re-write here -

I also agree that we shouldn't be adding objects behind the scenes with `online: true`. Best to have a ready-to-use example in the challenge page itself that can be used directly.

Speaking of the tests, while we're re-writing the challenge anyway, how about check

[2019-04-18 23:13] RandellDawson commented on #35874
@Manish-Giri I made some changes locally which could be used for a PR.  Basically, the challenge instructions could look something like below:
![image](https://user-images.githubusercontent.com/5313213/56396601-7edf7900-61f4-11e9-8e3e-578c8e62f0b1.png)

The tests would look something like below:
![image](https://user-images.githubusercontent.com/5313213/56396637-9dde0b00-61f4-11e9-9548-3300eeeb129

[2019-04-19 03:59] Dharmin2108 commented on #35874
.

[2019-04-19 04:20] Dharmin2108 commented on #35874
/

[2019-04-19 04:22] Dharmin2108 commented on #35874
.

[2019-04-19 04:32] Dharmin2108 commented on #35874
.

[2019-04-19 04:35] Dharmin2108 commented on #35874
/

[2019-04-19 06:52] sayansur25 opened #35881 "Add auto hide the header while scrolling."
Hide the header tab while scrolling down. Facing difficulties while reading the blog.

[2019-04-19 07:54] CosminPugnaOSF commented on #17808
using this code inside h1 tag will still crash the browser..
<ParentComponent>
     <ChildComponent>
</ ParentComponent>

[2019-04-19 12:51] madurachanna commented on #35705
yep

[2019-04-19 13:02] DevanandGowda commented on #35881
@sayansur25 can you assign this to me! I would be glad to fix this up.

[2019-04-19 13:04] #35694 closed

[2019-04-19 16:03] RandellDawson commented on #35881
@sayansur25 Can you please add some screenshots or animated gifs highlighting the issue you are having?  Also, can you let us know if you experience the same behavior on our [beta site](https://freecodecamp.rocks) ?

Thank you.

[2019-04-20 07:58] vinc01100101 commented on #17195
hi i am still having this issue

[2019-04-20 16:49] #35830 closed

[2019-04-20 17:01] RandellDawson commented on #35751
@bavilari93 We have not seen a PR from you yet for this issue.  Maybe it is time to let @zootechdrum or another contributor create a PR?

[2019-04-21 01:00] zootechdrum commented on #35751
Hello @RandellDawson keep me updated on this. This may sound like a naive question so please forgive. Why can't we post the copy and paste the css and html given on the provided link give by freeCodeCamp
Objective: Build a CodePen.io app that is functionally similar to this: https://codepen.io/freeCodeCamp/full/zNqgVx.
The solution is technically there and does pass all requirements.Does the solut

[2019-04-21 01:48] RandellDawson commented on #35751
@zootechdrum Those are projects (not challenges).  This issue is for the challenges with each section.

[2019-04-21 02:29] bavilari93 commented on #35751
@RandellDawson absolutely @zootechdrum  can help out with this section. My apologies I thought I could contribute but I had some difficulties . I hope i could positively contribute in the future. Thanks for being welcoming

[2019-04-21 02:35] RandellDawson commented on #35751
@bavilari93 What kind of difficulties were you having?  You can always go to https://gitter.im/FreeCodeCamp/Contributors and ask questions related to trouble you are having.

[2019-04-21 03:20] zootechdrum commented on #35751
@bavilari93 Would it be a possibility to work on this together? @RandellDawson I guess my confusion is in what @bavilari93 was responsible for. I thought that the below
 **Responsive Web Design Projects (5 challenges) - @bavilari93**
meant that she was responsible for the project section. Or are you saying that the User stories are the challenges?

[2019-04-21 03:28] StanimalTheMan opened #35890 "Stubs Littered In master/guide/english/certifications/coding-interview-prep/data-structures"
**Describe your problem and how to reproduce it:**
There are simply stubs

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/coding-interview-prep/data-structures

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version:  73.0.3683.103
* Operating System: Ubuntu 16.04 LTS

[2019-04-21 04:53] RandellDawson commented on #35751
@zootechdrum Actually, I should have never listed those, because they do not get tested through this repo.  I will remove them now.

[2019-04-21 09:44] thecodingaviator commented on #35874
I think what should be done is just change the challenge seed to have the user just write the code and in the background, add the object containing users

[2019-04-21 10:28] sil3nthill commented on #35874
@RandellDawson  about the After Test Div did you add it in the same file i mean iterate-through-the-keys-of-an-object-with-a-for---in-statement.md ? if yeah can i go and create a PR with this solution ?

[2019-04-21 15:46] RandellDawson commented on #35874
@sil3nthill I am not 100% sure if we are all in agreement yet.

[2019-04-21 15:54] sil3nthill commented on #35874
@thecodingaviator  i didnt understand what do you mean by " in the background, add the object containing users"

[2019-04-21 16:13] RandellDawson commented on #35874
@sil3nthill If the other mods agree with what I have proposed above, then I already have a branch ready to create the PR.

[2019-04-21 16:20] sil3nthill commented on #35874
@RandellDawson alright happy that i helped to spot the issue ! thank you @RandellDawson !

[2019-04-22 04:45] dnntrn commented on #34240
@Drithyl yup!

[2019-04-22 04:49] dnntrn commented on #34815
Hi @lasjorg, are you still working on this? I also would like to update the bootstrap curriculum v4 and make it more extensive with lessons on cards, alerts, jumbotrons, etc. It's really really short right now.

[2019-04-22 05:53] thecodingaviator commented on #35874
@sil3nthill We'll add on object in the background i.e. the user would not see it being added. The object would contain the contents of the `users` object from the screenshot on the first post in this issue

[2019-04-22 06:01] #34725 closed

[2019-04-22 09:43] madurachanna commented on #35881
Even I had the same prblem

[2019-04-22 09:44] madurachanna commented on #35881
I had the same issue

[2019-04-22 09:51] madurachanna commented on #35881
I had the same issue

[2019-04-22 09:55] madurachanna commented on #35881
I had the same issue

[2019-04-22 11:07] umasankar1999 commented on #35518
Hello , Can I work on this issue ??

[2019-04-22 20:55] candacej97 commented on #35890
Hey maintainers, I'd be happy to work on this!

[2019-04-22 21:08] StanimalTheMan commented on #35890
@thecodingaviator  @RandellDawson  Any help or clarification is appreciated.  Thank you.

[2019-04-22 22:06] RandellDawson commented on #35890
@StanimalTheMan Just make sure the solutions use a different algorithm and not just changing syntax (i.e. change a for loop to a map).

@candacej97, @StanimalTheMan Before creating a PR with a solution for the guide, make sure to validate if one already exists on the master branch first AND use our [Contributor Tools app](https://contribute.freecodecamp.org/dashboard/) and perform a Filename searc

[2019-04-23 07:05] navjotjsingh opened #35897 "Missing Link in Spinal Tap Case Article"
**Describe your problem and how to reproduce it:**
There is no link mentioned for Regex Resources in the Spinal Tap Case Guide Article.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/spinal-tap-case/
https://www.freecodecamp.rocks/guide/certifications/javascript-algorithms-and-da

[2019-04-23 08:15] lacivert commented on #34518
I think this should be added to the Hint: "Use the new Glitch link for this episode"

[2019-04-23 08:27] RilindaA commented on #16358
Below you can find the code that works :) :

const result = {
  success: ["max-length", "no-amd", "prefer-arrow-functions"],
  failure: ["no-var", "var-on-top", "linebreak"],
  skipped: ["id-blacklist", "no-dup-keys"]
};
function makeList(arr) {
  "use strict";

  // change code below this line
  const resultDisplayArray = [`<li class="text-warning">${arr[0]}</li>`,
  `<li class="text-warning">${a

[2019-04-23 08:31] umasankar1999 commented on #35518
@thecodingaviator  ,
Hi, I am currently working on this issue.
The commands in sql - guide alter table statement are Mysql commands .
Should I have to describe those in SQL server , Orcale etc or Mysql is enough .

[2019-04-23 08:55] thecodingaviator commented on #35518
@umassnkar1999 check with @ritute if they’re not working on it now

[2019-04-23 09:33] UNnamed66 commented on #35481
Hi, this will be my first contribution. I'm wondering if Chinese is still up for grab. If not, which one can I choose? Thanks.

[2019-04-23 09:45] umasankar1999 commented on #35518
@thecodingaviator  Okay.
I have one doubt .
Is Commands in sql guide are Mysql based or SQL server based ?

[2019-04-23 13:00] thecodingaviator commented on #35518
@umasankar1999 I'm not sure about that. Have a look at the files and figure it out

[2019-04-23 15:07] RandellDawson commented on #35481
@UNnamed66 It appears @LifeVirus  is already working on the Chinese version.

[2019-04-23 15:42] ojeytonwilliams commented on #35874
@RandellDawson I like the proposed changes, too. So, please go ahead and submit the PR - it sounds like it's basically ready.

[2019-04-23 16:11] RandellDawson commented on #35874
@ojeytonwilliams Done (PR #35899)

[2019-04-23 16:14] hvaandres commented on #34699
I would like to know what can I do to help with this issue since it's been too long, and I would like to participate more... @QuincyLarson @raisedadead

[2019-04-23 16:48] #35391 closed

[2019-04-23 18:07] UNnamed66 commented on #35481
Alright, it seems like every one of them is taken. Let me know if any one of them needs help in the future. Thanks.

[2019-04-23 19:09] umasankar1999 commented on #35518
@thecodingaviator , I checked the other files and got to know that all commands are Mysql based.
So, I changed the all images into text tables , text commands and added a Pull request.
Once check it and review.

[2019-04-24 04:12] kaypeter87 commented on #35897
Hi @navjotjsingh

I have created a PR that should close this issue. Please reference PR #35901

[2019-04-24 13:26] masoodshahnoori commented on #6345
good job sweet heart :*

[2019-04-24 13:45] thecodingaviator commented on #35518
Thanks @umasankar1999 , your PR would be reviewed as per the normal established prodcedufe

[2019-04-24 14:19] #35897 closed

[2019-04-24 15:38] lasjorg commented on #34815
@dnntrn
No, I'm not really working on it. I didn't get what the plan was for the update. It felt wrong just doing a pure refactoring of the old curriculum to use Bootstrap 4.

Also, looking at the plan for v7 of the curriculum, I'm not sure if the plan is to ditch Bootstrap or if it was just unintentionally left out on the list.

https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-th

[2019-04-24 15:55] umasankar1999 commented on #35518
Thanks @thecodingaviator .

[2019-04-24 16:53] wang1998tina commented on #35678
English links are in the pull request below, but if approved, translations will be needed!

[2019-04-24 19:56] dnntrn commented on #34815
@Nirajn2311 Should we work on updating the current Bootstrap version to V4 + adding more Bootstrap challenges? It doesn't seem that Bootstrap will be in v7 of the curriculum, but it's also not too difficult to do, and I don't mind taking it on! @lasjorg

[2019-04-24 20:24] dnntrn commented on #34333
@ezioda004 I think this issue occurs with a lot of the challenges. For an example, [https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords) and [https://learn.freecodecamp.org/javascript-algorit

[2019-04-24 20:49] wang1998tina commented on #17798
I'd love to hop onto this issue if no one is working currently!

[2019-04-24 21:01] wang1998tina commented on #35751
@RandallDawson There's at least two HTML + HTML5 challenges that need solutions. I know that those should have been merged but if these slipped thru I'm happy to just add them!

[2019-04-24 21:03] RandellDawson commented on #17798
This may already have been resolved with the merge of PR #34722.  The current production does not reflect these changes, because the `master` branch has not been deployed to it.

@scissorsneedfoodtoo, @NitronR Does #34722 make this issue obsolete?  If so, we can close it.

[2019-04-24 21:14] RandellDawson commented on #34333
@dnntrn A better way is how we solved other such problems.  We stripped all the comments out with a regular expression and then validated the user did not use what they were not supposed to.  I just created
 PR #35906 to fixed this issue,

[2019-04-24 21:20] RandellDawson commented on #35751
@wang1998tina If you are referring to **Delete HTML Elements**, the solution provided is the full solution, but an older way of writing it.  What other challenges in that section did you find without a solution?

[2019-04-25 00:15] AndrewZaw opened #35908 "Instruction Text mislabeled in challenges"
I noticed that many of the challenges in the ["Introduction to the Coding Interview Data Structure Questions"](https://learn.freecodecamp.org/coding-interview-prep/data-structures) have the instruction text improperly placed in the challenge template. Instead of having them inside the `<section id= "instructions">`, they have been placed inside `<section id='description'>` and thus they appear dif

[2019-04-25 01:51] scissorsneedfoodtoo commented on #17798
@RandellDawson, yes, this has been fixed. The changes from https://github.com/freeCodeCamp/freeCodeCamp/pull/34722 are up on the beta site: https://www.freecodecamp.rocks/learn/coding-interview-prep/project-euler/problem-2-even-fibonacci-numbers

[2019-04-25 01:51] #17798 closed

[2019-04-25 11:42] bahlo opened #35910 "Search results are not legible"
**Describe the bug**
Search results are white on white.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Curriculum'
2. Click on 'Search bar'
3. All results are white

**Expected behavior**
Results should be black to be legible.

**Screenshots**
![Screenshot 2019-04-25 at 12 58 33](https://user-images.githubusercontent.com/1725839/56733220-ce2b2980-675f-11e9-9f1d-c8635a51cf54.png)

**D

[2019-04-25 11:44] #35910 closed

[2019-04-25 15:18] RandellDawson commented on #35908
We did something similar to when resolving issue https://github.com/freeCodeCamp/freeCodeCamp/issues/35413.

[2019-04-25 16:41] ojeytonwilliams opened #35913 "Recommend using semantic markup for code"
In the description and instruction sections of the challenges, the style guide recommends `<blockquote>` to markup blocks of code, and `<code>` for inline code.

I think it would be better to be consistent and use semantic markup for both.

We could either do this by through `<pre><code>` tags or take advantage of the fact we're using markdown and use code fences, i.e. \```js ```.  This would have

[2019-04-25 16:45] StanimalTheMan opened #35914 "Incomplete Challenge: Invert a Binary Search Tree"
**Describe your problem and how to reproduce it:**
In both the curriculum and guides directories, when you look in the invert-a-binary-tree.md and  index.md respectively, there is no solution and when I go to the challenge as a regular user of fcc, there is no invert method as the challenge description indicates to complete.

**Add a Link to the page with the problem:**
-https://github.com/freeCod

[2019-04-25 17:22] RandellDawson commented on #35913
I made the following changes to `client/src/templates/Challenges/components/challenge-description.css`

[code]
This allows the current way we are writing the `blockquote` code sections to look the same as long as the  the code written immediately follows the `<code>` tag and the `</code>` tag immediately follows the written code.

For example, with the above CSS change, both of the following rende

[2019-04-25 17:33] RandellDawson commented on #35914
@StanimalTheMan You are correct, those files do not have solutions.  I also checked to see if there were any existing PRs which add solutions to those files and there are none, so you are free to create a PR for the two files.

Thanks for you help.

[2019-04-25 18:25] RandellDawson commented on #18313
@raisedadead Can this issue be closed?

[2019-04-25 18:31] hilliarj opened #35916 "Calendar dates offset when hovering"
**Describe the bug**
When looking at an open profile portfolio, the pop-up that shows the corresponding date is offset. Sometimes offset by a lot, and other times only a little offset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings.
2. Click on 'show me my public portfolio'.
3. Scroll down to the calendar and hover over any date.
4. See error

**Expected behavior**
The pop-up

[2019-04-25 18:35] RandellDawson commented on #35916
Is this reproducible on freecodecamp.rocks?

[2019-04-25 19:09] hilliarj commented on #35916
![image](https://user-images.githubusercontent.com/21319186/56761717-0d5f7780-676c-11e9-9912-253640fe3188.png)
Above is what freeCodecamp.rocks looks like. The date does not show up at all on the screen.

[2019-04-25 19:25] RandellDawson commented on #35916
Remember that your data from production does not apply to freecodecamp.rocks which is a completely different database.  You will need to work through some challenges over a couple of days and see what the profile shows.

[2019-04-25 19:27] StanimalTheMan commented on #35914
Alright. Thank you.

[2019-04-25 20:01] hilliarj commented on #35916
![image](https://user-images.githubusercontent.com/21319186/56764687-50711900-6773-11e9-88a4-ac78d611f827.png)
@RandellDawson It does not seem to change. I completed ~10 challenges and nothing showed up.

[2019-04-25 20:38] RandellDawson commented on #35916
I am not sure how often the freecodeamp.rocks updates.  I just tested it using my freecodecamp.rocks account and it does show activity, but there is no pop-up at all.

[2019-04-25 20:41] hilliarj commented on #35916
The pop-up is the main issue that I was worried about. It seems to vary in how much it is offset based on different users or machines. Cant narrow down what specifically changes it though.

[2019-04-26 15:20] ojeytonwilliams commented on #35913
I've had a quick play with your css and it works perfectly with fenced code blocks when no language isspecified.  If you have the following

[code]
it is converted to
[code]
As you can see, it puts the code immediately after the code tag, exactly as we wanted.

I used a blockquote, a pre code block and finally the above fenced code and got:
![VariousCodeBlocks](https://user-images.githubuserconten

[2019-04-26 16:03] RandellDawson commented on #35913
@ojeytonwilliams Just tested your use of the 3 backticks and works just like the `pre/code` version.  I thought I tried something like that before, but it never formatted correctly.  Oh well, at least you figured out we can possibly use this. The only thing we need to validate is that night mode will still render the colors and background as intended, because the only other place which styles `blo

[2019-04-26 17:23] LifeVirus commented on #35481
@UNnamed66 @RandellDawson, I've taken a look at the Chinese version, and it seems like the quotes are already removed. I won't be submitting a PR for it, so if you want to take a look and find something that I missed then feel free to make the PR yourself!

[2019-04-26 19:15] ojeytonwilliams commented on #35913
@RandellDawson It's been a while since I created my local account, but I believe you use `npm run seed:auth-user`.  If it works you should be able to sign in at `http://localhost:8000/signin` and then access settings normally.  If it doesn't work, you can replace the class `default` with `night` in the html element, as a temporary hack.

I like the idea of a smooth transition from blockquotes.  Id

[2019-04-26 21:47] sophyphreak opened #35924 "Please approve my pull requests from February"
I fixed some bugs in the frontends of the [issue tracker boilerplate](https://github.com/freeCodeCamp/boilerplate-project-issuetracker) and the [stock checker boilerplate](https://github.com/freeCodeCamp/boilerplate-project-stockchecker).

I opened these pull requests in February and they haven't been touched since. Would someone with the ability to approve these pull requests please look at them

[2019-04-26 21:50] RandellDawson commented on #35924
I am going to close this issue, because you can always reply back to the original issues with a similar request.

We have many PRs we are still reviewing even from October 2018, so it could be a while before we get to your PRs.

[2019-04-26 21:50] #35924 closed

[2019-04-26 23:13] sophyphreak commented on #35924
Ok, fair enough. Thanks for replying @RandellDawson and explaining the situation!

[2019-04-26 23:20] sophyphreak commented on #35924
Although I should point out that right now the front end for both of those boilerplates are broken right now. Makes it seem like a person's portfolio project is broken unless they've caught the bug and fixed it themselves.

Both of those bugs seemed pretty urgent, and my portfolio would've suffered significantly had I not fixed them. I want to fix them for everyone.

But again, I accept your decis

[2019-04-26 23:22] RandellDawson commented on #35924
Just make sure to comment on the PRs too.

[2019-04-28 09:30] #35714 closed

[2019-04-28 21:24] N0bl3 commented on #17618
Got the same problem as you, on the part of the challenge when a call to /profile should redirect to index. Followed @SoulShaker workaround. Worked well. Test is not correct.

[2019-04-28 22:54] N0bl3 commented on #34504
It looks like this section of the FCC curriculum is abandoned... I write this just to put this post into light once again.

[2019-04-29 00:01] doubleUTF commented on #34504
@N0bl3 I tried everything I could to get this project up and running, but they didn't give a damn about my contributions and inquiries. Why bother?

[2019-04-29 00:08] RandellDawson commented on #34504
@N0bl3 Your PR has been merged, but until master is deployed to production, we are just waiting like you.  As soon as it is deployed, hundreds of fixes that many of us have merged will fix many bugs currently in production.  I understand it is frustrating, but there are some other pressing issues which the core team is working.  Once those are resolved, they will work to fix some final issues whic

[2019-04-29 00:10] RandellDawson commented on #34504
@doubleUTF Are you having trouble setting up FCC locally?  If so, the best place to ask your question(s) would be the in the [Contributors Gitter channel](https://gitter.im/FreeCodeCamp/Contributors).

[2019-04-29 00:47] doubleUTF commented on #34504
@RandellDawson No, read my comment on Mar 6 please.

[2019-04-29 13:10] scissorsneedfoodtoo opened #35930 "Need redirects for some challenges"
A couple of users have been unable to access the "Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement" challenge from their user profile page (https://github.com/freeCodeCamp/freeCodeCamp/issues/35872). It seems that the `dasherize` function that creates URLs from the challenge names has changed sometime in the last year -- both users had completed the challenge

[2019-04-29 13:21] Tanya-L commented on #17896
29 Apr 2019
Issue still here
<img width="989" alt="Screen Shot 2019-04-29 at 15 16 06" src="https://user-images.githubusercontent.com/31630308/56898813-43fe0080-6a92-11e9-8599-8e3deeb46b8a.png">

[2019-04-29 13:24] raisedadead commented on #35916
We can migrate your production user data, with your consent on the .rocks for 1 to 1 simulation of this. Let us know your username here, [or over a DM](https://get.ms/chat).

[2019-04-29 14:12] moT01 opened #35931 "[rocks/beta] nav menu briefly expands on load"
**EDIT: This issue description can be ignored - see the bug in the second post**

**Describe the bug**
While signed out on beta, and the window is small enough to display the 'menu' button in the nav - the dropdown menu doesn't open. Also, perhaps a separate issue - the nav has a bunch of wasted space here

**Screenshots**
<img width="765" alt="Screen Shot 2019-04-29 at 9 03 58 AM" src="https://us

[2019-04-29 14:19] moT01 opened #35932 "[rocks/beta] many "news" images don't show up"
**Looking forward for reporting a security issue:**
Go to the news page on beta and many of the images don't show up.

**Screenshots**
Firefox: doesn't display any images
<img width="1265" alt="Screen Shot 2019-04-29 at 8 50 36 AM" src="https://user-images.githubusercontent.com/20648924/56902170-4c891380-6a5f-11e9-879b-d8674aabec8d.png">

Chrome: only displays profile thumbnails
<img width="1005"

[2019-04-29 14:33] RandellDawson commented on #17896
@Tanya-L This is a separate issue related to Chrome.  Can you create a new issue and I will respond there?

[2019-04-29 14:35] ojeytonwilliams commented on #35931
I couldn't reproduce the above behaviour, the menu button works on
* OS: Ubuntu 18.10
* Browser: Firefox 66.0.3

While checking that, I did notice the menu briefly expands when you reload the page before collapsing.  This happens for both Chrome and Firefox, but Firefox is a little more obvious:
![Menu](https://user-images.githubusercontent.com/15801806/56903153-0900ca80-6a9c-11e9-8879-415a663dc94

[2019-04-29 14:37] moT01 opened #35933 "[rocks/beta] homepage images not centered on firefox"
**Describe the bug**
The images on the homepage aren't centered (see image below).

**Screenshots**
![Screen Shot 2019-04-29 at 9 25 34 AM](https://user-images.githubusercontent.com/20648924/56903587-3892e100-6a62-11e9-87a6-325e57d35c69.png)

**Desktop (please complete the following information):**
 - OS: high sierra 10.13.6
 - firefox 60.0.1
 - chrome 74.0.3729.108

**Additional context**
Tested

[2019-04-29 14:44] moT01 commented on #35931
I updated my firefox to your version and I'm seeing the same as I saw before. I'm not getting the logo on the left either.

[2019-04-29 14:56] ojeytonwilliams commented on #35931
Maybe it's an apple specific problem?  I've tried it in Chrome and Firefox on Ubuntu, those two and Edge on Windows and it's always the same for me.

[2019-04-29 14:56] moT01 opened #35934 "[rocks/beta] logo in nav doesn't show up"
**Describe the bug**
The FCC logo on the top left of the nav doesn't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freecodecamp.rocks or refresh the page if you're already there.
1. go to either the 'learn' or 'settings' page with a wide enough window that the logo should show up
2. It doesn't show up

- It does show up if you shrink the window and then expand it again. Stra

[2019-04-29 15:03] moT01 commented on #35931
Looks like it probably is, I get the same behavior as you on windows.

[2019-04-29 15:05] ojeytonwilliams commented on #35933
Could you inspect one of those elements and check that it has the class `img-center` and that the css
[code]
is being applied?  As far as I can see, that's all that's responsible for the centering.

[2019-04-29 15:45] ojeytonwilliams commented on #35934
To reproduce this locally, you need to build the client - it doesn't appear in development mode.

For whatever reason, the `Media` component isn't behaving itself.  I'll take a closer look.

[2019-04-29 15:51] moT01 commented on #35933
<img width="1171" alt="Screen Shot 2019-04-29 at 10 49 51 AM" src="https://user-images.githubusercontent.com/20648924/56908758-90364a00-6a6c-11e9-95c6-208957782a76.png">

The class is there, but the properties aren't being applied.

Looks like they're being overridden by the `img-responsive` margins...
When I uncheck those, it gets centered.
<img width="1182" alt="Screen Shot 2019-04-29 at 10 48 1

[2019-04-29 16:16] ojeytonwilliams commented on #35933
That's a bit odd.  `img-responsive` should be coming from Bootstrap and should not touch margin.

[2019-04-29 17:08] ahmadabdolsaheb commented on #35932
Thanks for reporting this issue. rocks/news is sharing some infrastructure with .org/news therefore the image paths are relative to the .org instance. this should not be an issue once the .rocks/news runs on its own stack which is in the works and supposed to happen pretty soon. that's why I will close this for now, but feel free to reopen it if the issue persists in a couple of weeks.

[2019-04-29 17:08] #35932 closed

[2019-04-29 17:25] hilliarj commented on #35916
Username for FCC is: jhilliard
Feel free to migrate it!

[2019-04-30 09:23] stevenkuipers opened #35941 "Study groups on the forum should be seperate top level category"
Not a bug report, more of a possible UX improvement

I posted this in the forums but will also post it here to hear what your opinions are about this. Having the study groups on the forums is a great idea but if this is going to scale properly, countries shouldn’t all be top-level categories, there are only 13 countries at the moment and the list is getting quite long already and is quite messy.

[2019-04-30 09:49] scissorsneedfoodtoo commented on #35941
Very good points @stevenkuipers. What do you think @ahmadabdolsaheb and @raisedadead?

[2019-04-30 11:32] lightyaer opened #35942 "[rocks/beta] Sign In with Google return 400 "redirect_uri_mismatch""
**Describe your problem and how to reproduce it:**
Browse to freecodecamp.rocks  and Click on Sign In, select Sign In with Google.
Received a 400 from Google

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: 73.0.3683.103
* Operating System: Windows 10 Pro

**If possible, add a screenshot here (you can drag

[2019-04-30 12:31] ahmadabdolsaheb commented on #35931
I could see it locally when I build Gatsby.

To reproduce, you need to do the following:
1) cd client
2) npm run build
3) node_modules/.bin/gatsby serve
4) visit localhost:9000

[2019-04-30 15:15] RandellDawson commented on #35941
@scissorsneedfoodtoo I already brought this up on a Staff post on the forum.  I have sent you a DM to that post on Gitter.

[2019-04-30 15:48] RandellDawson commented on #35751
Thanks to everyone involved in getting this issue closed.  All PRs for this issue have been merged, so I am closing this issue.

[2019-04-30 15:48] #35751 closed

[2019-04-30 17:14] ojeytonwilliams commented on #35931
@ValeraS @ahmadabdolsaheb Should the nav menu ever appear on the guide?  I wasn't sure because production has nothing
![guide](https://user-images.githubusercontent.com/15801806/56979863-0aed8b00-6b7b-11e9-9279-a7107e0fa03a.png)
but rocks has it appearing in the same way as the curriculum, like this
![guide-rocks](https://user-images.githubusercontent.com/15801806/56979870-12149900-6b7b-11e9-8e96-

[2019-04-30 19:54] leorotondano commented on #35933
Hello everybody. I'm new here and I'm trying to start contributing with some repositories on GitHub.
I tried to simulate this issue at firefox **66.0.1**, but it doesn't happen (at least not running the application locally on Ubuntu 16.04.6 LTS).
Downgrading firefox to version **60.0.1** on Ubuntu 16.04.6 LTS is kind of painfull. I tried some options to achieve this, but Firefox crashes as I downg

[2019-04-30 20:53] moT01 commented on #35933
It's not an issue after upgrading @leorotondano - I did not check it locally. Did you have this issue @ojeytonwilliams or did you not check it?

[2019-04-30 21:08] ojeytonwilliams commented on #35933
@moT01 I wasn't able to reproduce this one. On my machine the css for .img-responsive didn't overwrite margin, so they look fine for me.

[2019-04-30 21:46] moT01 commented on #35933
Well, I can probably close this then. If it's still a problem someone else will catch it later.

[2019-04-30 21:46] #35933 closed

[2019-04-30 23:37] #35742 closed

[2019-05-01 00:26] #34333 closed

[2019-05-01 01:19] #35874 closed

[2019-05-01 01:25] scissorsneedfoodtoo commented on #35941
@RandellDawson, thank you, I'll check out that post.

[2019-05-01 01:40] #35842 closed

[2019-05-01 06:56] keschte opened #35944 "Sign-Up does not work"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Join functionality broken due to missing jQuery dependency.
See attached screenshot.

![image](https://user-images.githubusercontent.com/878256/57008208-c8fe2c80-6bee-11e9-94df-0ef8e0f5c0fe.png)

**To Reproduce

[2019-05-01 06:57] keschte commented on #35944
![NJpRa4OT5y](https://user-images.githubusercontent.com/878256/57008260-27c3a600-6bef-11e9-870b-c0408b81e5e0.gif)

[2019-05-01 14:08] #17629 closed

[2019-05-01 14:08] #34775 closed

[2019-05-01 16:51] raisedadead commented on #35944
The root cause is that something on your network is blocking the jQuery library being served off of jsdeliver. Ideally you would want to allow (with help of your network admin / ISP) this on your network.

We do plan to move away from jQuery soon. But its going to be a while before we do that.

I can't suggest any plausible alternatives other than trying a different network, if you can or even a V

[2019-05-01 16:55] raisedadead commented on #35942
Thanks for your report. See https://github.com/freeCodeCamp/freeCodeCamp/issues/34872

[2019-05-01 16:55] #35942 closed

[2019-05-01 16:56] raisedadead commented on #35934
@ahmadabdolsaheb there is a PR in the works. Can you check this and follow up.

[2019-05-01 21:45] rns350 opened #35948 "required coding constructs can be ignored by writing the empty construct in the code"
**Describe your problem and how to reproduce it:**

So I noticed while working on a challenge that you could work around test requirements by abusing the system.  Granted, this would be hard for a beginner programmer to even realize they could do, but I wanted to bring it up.  I noticed that for some challenges that want you to use a specific coding construct, the challenge simply makes sure the s

[2019-05-02 00:16] RandellDawson commented on #35948
I agree the tests are a bit lenient with allowing the for loop to be used as you do and then the camper could use a while loop or for that matter a forEach or map could be used as well.  We don't want to limit the user to using a push method to solve the challenge though.  Using push would not really make much sense for this challenge as the user just needs to sum all of myArr's elements and assig

[2019-05-02 06:31] ahmadabdolsaheb commented on #35944
@raisedadead I attempted to reproduce, I got a 500 after clicking on the start coding now button
![image](https://user-images.githubusercontent.com/4591597/57059095-522f6500-6cbc-11e9-9e1d-6b34f864e2a5.png)

[2019-05-02 07:52] raisedadead commented on #35944
@ahmadabdolsaheb This is flagged for production. What you are seeing is for an unrelated issue documented in #34872

[2019-05-02 07:57] raisedadead commented on #35941
I think this is best discussed on the forum, and if there is a code change required then we could take this on the tracker. Please drag Quincy into the discussion on the forum. He would need to sign off as well.

[2019-05-02 07:57] #35941 closed

[2019-05-02 08:07] raisedadead commented on #35916
Hi @hilliarj I have copied over your production profile on the beta site. Please give it a go, you can also reach out to our [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for any assistance.

[2019-05-02 08:12] #18313 closed

[2019-05-02 08:15] raisedadead commented on #34699
Hi @hvaandres as for the code, it still needs to be tested on the latest master. We do not have and ETA on that. And for fixing up your account, please drop me an email `mrugesh at freecodecamp dot org`. I will fix it up for your account on production.

[2019-05-02 08:21] raisedadead commented on #18134
Resolved to a great extent on the latest master, I am closing this for now. We may want to revisit this again in future after we launch

[2019-05-02 08:21] #18134 closed

[2019-05-02 08:22] raisedadead commented on #35652
I agree with Tom here.

[2019-05-02 10:28] lightyaer opened #35949 "Tidying up the API Server"
**Describe the bug**
A few files in api-server folder, have redundant console.logs before throwing/rejecting errors.
May I suggest to remove these and clean the code.

I would like to work on this issue.
Please advice

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Windows
 - Browser [e.g. chrome, safari] Chrome
 - Version [e.g. 22] 73

[2019-05-02 12:58] ahmadabdolsaheb opened #35950 "Footer needs to be Sticky."
**Expected behavior**
the footer should stick to the bottom of the page when page content is shorter than the viewport height or it should be at the end of the content when content is larger than viewport height;

**Expected:**

![Screen Shot 2019-05-02 at 4 19 15 PM](https://user-images.githubusercontent.com/4591597/57078111-4b254880-6cf6-11e9-9831-c0da5208a809.png)

**Current:**

![Screen Shot 2

[2019-05-02 14:13] RandellDawson commented on #35652
Actually, this issue has been resolved due to https://github.com/freeCodeCamp/freeCodeCamp/pull/35921 being merged.

[2019-05-02 14:13] #35652 closed

[2019-05-02 14:29] raisedadead commented on #35950
Check what we have done for the profile page loader. I think the content area can have a min height of the viewport.

[2019-05-02 15:38] ojeytonwilliams opened #35952 "Minor problem with the nav menu"
**Describe the bug**
When navigating away from the guide, the menu state persists.  If the side nav is visible on the guide when the viewport is narrow, then the main nav will be expanded on the new page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.freecodecamp.rocks
2. Reduce the browser width until the menu button appears in the top right
3. Navigate to www.freecodecamp.rocks

[2019-05-02 19:12] RandellDawson commented on #14903
@QuincyLarson I think I came up with a solution (PR #35954) which hopefully allows us to close this issue once and for all.

[2019-05-02 19:46] RandellDawson commented on #34504
@doubleUTF Got it.  @raisedadead How can incorporate the code from the  glitch project referenced in PR #23953 to one that FCC controls?

[2019-05-02 22:28] cmccormack commented on #34504
@RandellDawson I think a single repo for all the Glitch projects is a great idea.  I just performed a test in Glitch and you can specify a directory within a repo to import using the syntax `username/repository:path`.

[2019-05-02 22:34] RandellDawson commented on #34504
@cmccormack OK, then I will first start mapping out which Glitch projects are actually in the camperbot account and which ones are missing.  I will create a separate issue where we can track what needs to be done.

[2019-05-03 02:19] leodaher commented on #17827
@RandellDawson I would like to contribute on this issue. I could create a second challenge introducing Fetch. Is that ok?

[2019-05-03 06:35] RandellDawson commented on #17827
Like @scissorsneedfoodtoo said, it is something that will be included with the new curriculum.

@scissorsneedfoodtoo Would it be a problem to have a stand-alone version showing fetch in the current curriculum?

[2019-05-03 07:29] raisedadead commented on #34504
Sure, thanks a lot for figuring out the workflow. If needed I can give you: @RandellDawson and @cmccormack access to our Glitch account for taking this up amongst yourselves? Let me know here and we can discuss further over a call early next week.

[2019-05-03 07:38] ahmadabdolsaheb opened #35956 "Replace monorepo imgur images with S3"
node_modules, .cache, public directories not included

Corner cases:
1. there could be more than one instance of each imge
2. some urls end in \ in the codebase

3. some urls are in the tests ```(https:\/\/i\.imgur\.com\/MJAkxbh\.png\1\s*\)```

4. some urls do not end in photo format.
https://imgur.com/Yl0Bxwn
https://imgur.com/wgscRNa
5. some photos have dimensions
https://i.stack.imgur.com/jRaTj

[2019-05-03 10:53] ahmadabdolsaheb commented on #35952
@ojeytonwilliams So the navbutton's state is hooked up to the store under guideNav(bad naming my bad).

And guideNav/DisplayMenu gets toggled on and off accordingly.

Notice, if DisplayMenu is on in the guides and user navigate to another page,  DisplayMenu's value changes, but not the other way around.

Also, it would be great if you could evaluate a scenario in which menu button is not connected

[2019-05-03 11:17] ojeytonwilliams commented on #35952
@ahmadabdolsaheb I had a quick look at this and my first attempt was to go in the opposite direction and add another variable, `displayTopMenu`.  Then I used that to control the top menu (the one in your screen shot) and have `displayMenu` solely responsible for the guide's side nav.  This did work, but I think it was probably overly complicated for something that should be pretty simple.

My firs

[2019-05-03 11:35] ahmadabdolsaheb commented on #35952
Using the store sense then.

[2019-05-03 12:48] moT01 commented on #35836
I am closing this as it has been decided that it's no longer an issue. Reopen if I am mistaken.

[2019-05-03 12:48] #35836 closed

[2019-05-03 13:27] moT01 commented on #35753
Looks like this one is completed! 🎉

[2019-05-03 13:27] #35753 closed

[2019-05-03 14:02] ojeytonwilliams commented on #35952
I've put together a solution that uses `Header`'s state to track the top menu, but still uses the store for the guide's menu.  I'm not 100% sure if using internal state as well as the store is the right approach.  If you think it's better have everything in the store, I'd be happy to rewrite it.

Since this is so entangled with #35943. I will add my changes there.  I hope that's okay.

[2019-05-03 14:18] TomasRoj opened #35957 "Add article about Linux"
Hey,

Can I make article about using Linux in development. It think that new coders should have opportunity to choose.

[2019-05-03 14:22] moT01 commented on #35712
This appears to no longer be an issue on beta (or production). So I think it's safe to close this. If I'm wrong, go ahead and reopen it.

<img width="831" alt="Screen Shot 2019-05-03 at 9 15 21 AM" src="https://user-images.githubusercontent.com/20648924/57143347-4c9d5200-6d84-11e9-9567-91fb88c85964.png">

However, you can see in the image that the test that must have been added to fix this passes

[2019-05-03 14:22] #35712 closed

[2019-05-03 14:27] moT01 opened #35958 "[challenge] Use CSS Selectors to Style Elements - wrongfully passes"
Go to
- https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/use-css-selectors-to-style-elements

or

- https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-selectors-to-style-elements

Run the tests with the default seed code. And get this result...

<img width="831" alt="Screen Shot 2019-05-03 at 9 15 21 AM" src="https://user-images.githubusercontent.com/2064892

[2019-05-03 14:31] moT01 commented on #35707
Any progress here?

[2019-05-03 14:34] moT01 commented on #35705
My proposition - https://github.com/freeCodeCamp/freeCodeCamp/issues/35541

[2019-05-03 14:39] moT01 commented on #35957
An article in the guide @TomasRoj?

[2019-05-03 14:50] TomasRoj commented on #35957
Yes. I say that there is Linux topic but no guide

[2019-05-03 14:57] #35678 closed

[2019-05-03 15:04] RandellDawson commented on #35678
@wang1998tina We are no longer excepting translations for the existing curriculum, so don't worry about creating PRs for the other languages.

[2019-05-03 15:07] RandellDawson commented on #35957
@TomasRoj Can you provide a little more detail about what you mean about using Linux in development?

[2019-05-03 15:14] Pogayo commented on #35707
Hello,

I was waiting for the go-ahead from Randell. I assume I can now start
working on it. Anyone willing to chat with me on this, feel free to hang
out me on pogayo17@alustudent.com. Meanwhile, I have been working on doing
graph searches. You can find the link here
<https://github.com/Pogayo/Graphs/blob/master/Generic-Search-Algorithm-in-Pseudocode.md>
I will appreciate your feedback. It is les

[2019-05-03 15:16] #35676 closed

[2019-05-03 15:18] RandellDawson commented on #35707
@Pogayo Somehow I missed your tag on Apr 3rd.  Go ahead and create a first draft and we can take a look at it.

[2019-05-03 15:19] moT01 commented on #35670
Any progress on this @iamrajiv?

[2019-05-03 15:20] moT01 commented on #35669
Is this issue still necessary @raisedadead? I assume you created it to remind yourself.

[2019-05-03 15:22] TomasRoj commented on #35957
I want to explain basics of command line or maybe how to choose and install some Linux distro

[2019-05-03 15:27] RandellDawson commented on #35957
You should review the [linux guide articles on the master branch](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/linux) and make sure there are not already similar.  I believe some of the topics you are thinking about have already been written.  That being said, you could always improve the existing ones if you feel it is needed.

The latest version of the Guide on the mast

[2019-05-03 15:32] moT01 commented on #35660
This seems to be pretty isolated. I did not have any freezing issues, but I did get a unique error on production/chrome...

<img width="524" alt="Screen Shot 2019-05-03 at 10 28 57 AM" src="https://user-images.githubusercontent.com/20648924/57147982-562bb780-6d8e-11e9-85af-4d37f431740a.png">

beta had a traditional failed test error.

@Donearm there was a recent fresh deployment of the beta site,

[2019-05-03 15:44] moT01 commented on #35957
There is also a number of PR's open for linux stuff...
you can go here - https://contribute.freecodecamp.org/dashboard/
click the "filename" radio button
and put "guide/english/linux" in there to see them
So maybe check there too.
Here's one I found there - https://github.com/freeCodeCamp/freeCodeCamp/pull/27328/files

There's a number of command line articles articles as well -  like @RandellDaws

[2019-05-03 15:52] moT01 commented on #35657
Since this seems to be a issue with your network and not freeCodeCamp, I don't think there's anything we can do here. Thanks for reporting the issue @SuryaDilip, but I am going to close it - If I am mistaken, feel free to reopen it.

[2019-05-03 15:52] #35657 closed

[2019-05-03 15:53] RandellDawson commented on #35958
I am unable to replicate this locally or on freecodecamp.rocks.

I am on Windows 10 using Chrome version 74.0.3729.131

**Locally**
![image](https://user-images.githubusercontent.com/5313213/57149489-ac91f980-6d80-11e9-9a30-5105e06b89ef.png)

**freecodecamprocks**
![image](https://user-images.githubusercontent.com/5313213/57149552-ccc1b880-6d80-11e9-8552-bf3bf5c76309.png)

Also, I get the same res

[2019-05-03 15:54] RandellDawson commented on #35958
@moT01 If you put a console.log($('style')), what do you get?

[2019-05-03 15:56] moT01 commented on #35651
Can you provide any more details about this @Beachhermit? - like what code you were using that was causing the issue?

[2019-05-03 16:09] TomasRoj commented on #35957
Ok thanks. I will look at that

[2019-05-03 16:14] RandellDawson commented on #16107
@rns350 Do you have anything to show yet?

[2019-05-03 16:15] RandellDawson commented on #16445
@raisedadead With the updates to https://github.com/freeCodeCamp/design-style-guide, is this issue needed?

[2019-05-03 16:20] RandellDawson commented on #16656
@Em-Ant Did you run into issues trying to transfer the repo?

[2019-05-03 16:25] moT01 commented on #35958
<img width="1001" alt="Screen Shot 2019-05-03 at 11 23 55 AM" src="https://user-images.githubusercontent.com/20648924/57151258-0ea92980-6d96-11e9-935b-f86e3c8d2326.png">

I'm only having an issue on firefox - chrome works fine - that being the case I'm not sure how much we need to look into this

[2019-05-03 16:27] RandellDawson commented on #35958
It seems jQuery is capturing the inline style.  Let me test something using vanilla JavaScript on Firefox.

[2019-05-03 16:28] moT01 commented on #35958
It's my dark mode add-on that's causing issues. It works after disabling it.

[2019-05-03 16:29] moT01 commented on #35958
I wonder if that was the cause of another recent issue I had that others couldn't reproduce - I'm going to have to keep that disabled.

[2019-05-03 16:29] RandellDawson commented on #35958
@moT01 What is really interesting is that I just tested Firefox (same version as users) but on Windows 10 and do not see this issue.

[2019-05-03 16:30] RandellDawson commented on #35958
So we can close this?

[2019-05-03 16:31] moT01 commented on #35958
Yes, unless we want to discuss the issue of add-ons affecting things on learn

[2019-05-03 16:33] RandellDawson commented on #35958
Maybe that should be on a completely different issue vs. just for this particular challenge?

[2019-05-03 16:37] moT01 commented on #35931
okay, I found my problem here - I have a "Dark Mode" extension installed on my firefox that was causing style issues - after disabling it, I get the same behavior as @ojeytonwilliams

[2019-05-03 16:40] moT01 commented on #35958
yes, it probably should be - I'll create an issue and see if anyone wants to discuss it.

[2019-05-03 16:40] #35958 closed

[2019-05-03 16:46] moT01 opened #35959 "Browser extensions causing style issues"
I had some style issues on my firefox browser from the "Dark Mode" extension/add-on.
Specifically these two issues: https://github.com/freeCodeCamp/freeCodeCamp/issues/35958 - https://github.com/freeCodeCamp/freeCodeCamp/issues/35931
After some frustration and help I found the add-on to be the problem. I'm not sure if there's anything that can be done to avoid issues like this, but I figured it co

[2019-05-03 17:02] jbberinger commented on #16660
I'm having the same issue. I've tried all of the suggestions.

[2019-05-03 18:16] ojeytonwilliams opened #35960 "Missing syntax highlighting for various guide articles"
**Describe your problem and how to reproduce it:**
Due to unsupported languages being used for code blocks, a lot of guide articles are not getting the appropriate highlighting.  This isn't a problem with content, just style - unfortunately they don't look as good as they could.

One way to see which languages are not working correctly is to build the client.  This will produce a bunch of warnings

[2019-05-03 18:26] iamrajiv commented on #35670
@moT01 yeah I have gone through the guides  I think the only static site generator based file in freeCodeCamp is `gatsbyjs` I am working on to add more guides on static site generator like `hugo` and `jekyll` I will make PR tomorrow

[2019-05-03 18:28] RandellDawson commented on #35960
I can work on this one.  This would be a simple replace across the guide for the various invalid language names.

[2019-05-03 18:49] moT01 commented on #35670
Take the time you need. It was just a while since any activity here so I thought I would check in.

[2019-05-03 19:10] ojeytonwilliams commented on #35960
It seems reasonably safe to assume the author meant `shell`.  I had a quick look and all the ones I saw were clearly intended to be that.

Maybe I'm being overly cavalier, but I think a global replace is bound to be an improvement.  Most of the time it's going to be right and it'll still be getting reviewed.

[2019-05-03 20:12] Em-Ant commented on #16656
the repo is transfered to @raisedadead (waiting for him to confirm). Sorry guys I didn't see the last message

[2019-05-03 20:12] RandellDawson commented on #35960
I review everything and created a PR (#35961) which replaces all the ones where it was obvious where the replacements could be made globally.  However, there are a few (see below) which I was not quite sure what to do with:
[code]

[2019-05-03 20:42] raisedadead commented on #16656
The move is now complete. Thanks @Em-Ant for your help and support on this.
Repo is available here: https://github.com/freeCodeCamp/fcc-express-bground-pkg

[2019-05-03 20:42] moT01 commented on #35642
I can see both arguments here. But the instructions do explicitly say to use the `http` version so there shouldn't be much confusion. I went through maybe two dozen posts on the forum and found one where the `s` was the deciding factor for finishing the challenge. There were others that used the `s`, but had much bigger problems than that.

Since two people are leaning towards leaving it as is. I

[2019-05-03 20:42] #35642 closed

[2019-05-03 20:43] raisedadead commented on #16660
Please reachout to our community [Forum](https://www.freecodecamp.org/forum), and log a fresh issue if its confirmed as a bug there.

[2019-05-03 20:48] raisedadead commented on #35669
Yes. Its an internal task for the dev team. ATM, the donor no on the landing page is not real time.

[2019-05-03 20:50] raisedadead commented on #16445
Its more on the roadmap. Eventually it will be the central resource for our UI components.

[2019-05-03 21:32] ojeytonwilliams commented on #35960
From what I [found](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/xaml-overview-wpf), xaml is written using xml, so replacing that should be fine.

Algorithm looks to be fairly generic pseudocode, so I wouldn't highlight it.

Solidity is less clear.  We could leave it in, then it would highlight correctly if someone added it to Prism.  However, it would generate warnings when the

[2019-05-03 21:41] RandellDawson commented on #35960
I think replace `xaml` with `xml` should work.

I think leaving `solidity` off to deal get rid of the warning.

There are only 10 files using `Algorithm`.  Basically it is two files (the English plus 4 translations (Arabic not included).  The one file `merge-sort` file actually is pseudo-code, so we could just remove the `Algorithm` from those.  The other file `insertion-sort` actually is JavaScri

[2019-05-03 23:33] EXPEakhasawneh opened #35962 "turncate-a-string code solution"
**Describe your problem and how to reproduce it:**
I think the proposed solution code be achieved in a simpler way

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/6f5610c4f3832d94c377eb179bd65fa15e8bf395/guide/english/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/index.md#-advanced-code-solution

[2019-05-04 00:10] RandellDawson commented on #35962
@EXPEakhasawneh The [current Basic Code Solution](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/index.md#-basic-code-solution) is almost identical to yours from a logic standpoint.
[code]
The existing solution may have an extra `else` statement, but yours does not add signi

[2019-05-04 06:46] Beachhermit commented on #35651
Not really. I was having the problem, asked about it on the forum, was told to report it here, reported it, then it came good. The only clue I had was that I'd been working on a regex at the time to parse the input to the calculator and pick out operators from numbers. In the end, I went with a completely different system that processed input as it was entered.

I've been doing the d3 projects (wh

[2019-05-04 09:04] #35957 closed

[2019-05-04 10:59] EXPEakhasawneh commented on #35962
Oh looks like the actual site a bit different from the code base
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/

Learners still on the previous commit https://github.com/freeCodeCamp/freeCodeCamp/commit/7d9b587191b294c27e302809794d728c422c0c3e#diff-a126fcd8a27e3fc062225a78e2b5afb5

[2019-05-04 14:10] Wishnia opened #35964 "[rocks/beta] Number of donators is NaN"
**Describe the bug**
When you go to the donate page, the number of donators in not a number (displays as NaN).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.rocks/donate/
2. Scroll down to second paragraph.
3. Oops! There is a bug 🐛

**Expected behavior**
I expected to see number of donators.

**Screenshots**
![73q9s_1](https://user-images.githubusercontent.c

[2019-05-04 15:34] raisedadead commented on #34872
Current deployment Status (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/7573252fa05438dfb5dbd46301a8cb77a6e44b6d) | 7573252fa05438dfb5dbd46301a8cb77a6e44b6d | 44661a3e06ac56bb35cd8293cfb139dc3fe31379 |

**Note:**
This is a document only issue.

[2019-05-04 20:32] Pogayo commented on #35707
Hello all,
I have already started working on it. Please tell me if I am in the right track, so that I can spend the next day making it better. I divided it into two exercises.

https://docs.google.com/document/d/1SwWcIlZhJRM39PqF67Txuu-P3BbhA9H0VV3OLNzNilg/edit?usp=sharing
Huffman Coding
Part 1: Building a Huffman Tree
Binary Trees are not always used for searching. It can also be used to compress

[2019-05-04 21:17] pantteri commented on #17403
The issue still exists.

[2019-05-04 22:19] rns350 commented on #16107
I'm just about done now.  Have been trying to figure out a good way to test the number of calls that a function makes with chai and have been having some trouble.  Other than that, all test cases and sections are written up

[2019-05-04 22:28] RandellDawson commented on #16107
@rns350 Why don't you go ahead a create a PR (mark it is Draft), so we can see what direction you have taken.  Then, we can give you some advice on how to write the necessary tests.  Make sure to reference this issue in the PR as (Closes #####)

[2019-05-04 22:55] rns350 commented on #16107
Just submitted the draft.  The set up for the challenge was to fill an array recursively, which I thought made sense since the loop tutorials followed a similar structure, and I wanted to show how recursion can solve iterative problems.  I'm having trouble figuring out a way to test recursive calling.  I though maybe about requiring that only one .push() is used, but would like to find a more conc

[2019-05-04 23:04] RandellDawson commented on #17403
@pantteri The issue is still open, so yes the issue still exists.

[2019-05-04 23:27] RandellDawson commented on #35707
@Pogayo Did you mean to close this issue?

[2019-05-05 10:29] Donearm commented on #35660
@moT01 tried it and it has a very short freeze, like 2 seconds, and then the browser's window is responsive again. It is doable now. Besides, I believe it has to do with the browser's profile as out of curiosity I tried yesterday with a fresh Firefox profile and there is no freeze at all.

[2019-05-05 14:39] RandellDawson opened #35971 "Forum Topic title needs different font color when title rolls up into nav bar"
I am not sure when the change was made, but I notice when a forum topic title rolls up into  top (in the navbar), that its font color is black.  Against the green background of the navbar, it is difficult to read the text.  I suggest making the font-color white when the title rolls up into the navbar.

![example](https://user-images.githubusercontent.com/5313213/57195552-eaba2500-6f08-11e9-93c7-95

[2019-05-05 15:03] moT01 commented on #35660
I have had issues with extensions or add-ons to firefox affecting the website. You could try disabling them. Since nobody else can replicate this, I'm not sure how much it's worth continuing to look into it. I think we can probably close this.

[2019-05-05 15:44] moT01 opened #35972 "[rocks/beta] Ugly 404 error pages"
When you go to a non-existent user profile URL. You get a pretty 404 error page...
https://www.freecodecamp.rocks/asdf
<img width="1237" alt="Screen Shot 2019-05-05 at 10 38 08 AM" src="https://user-images.githubusercontent.com/20648924/57196371-f0703480-6f21-11e9-94ba-61296c91a02d.png">

But if you go to any non-existent URL that is under `learn` or `challenges` and others. You get an ugly error

[2019-05-05 16:24] ScottHutchinson commented on #14278
@QuincyLarson The description of the test "Should handle words where the first vowel comes in the end of the word" is still incorrect. Maybe it should be "Should handle words where there are more than two consonants at the beginning of the word (e.g., 'Schwartz ')."

Also the test description "Should handle words without vowels" should be "Words without vowels should be returned as the unchanged w

[2019-05-05 16:30] moT01 commented on #35543
Sounds good to me @ojeytonwilliams

[2019-05-05 16:45] moT01 commented on #35557
There's only one solution that should work here... `<time datetime="2016-09-15">Thursday, September 15<sup>th</sup></time>`
So we can check for exactly that. I agree that the first test can be modified to check for the correct input.

Are you still interested in working on this @seki2020?

[2019-05-05 16:58] moT01 commented on #35490
The PR to add the footer to the guide was merged. But it doesn't exactly fix the issue here...
current beta article with a stub... https://www.freecodecamp.rocks/guide/certifications/apis-and-microservices/

I'm wondering if we should change the stubs... both links in the stub are no longer active, and are now basically repeated in the footer.

Possibly change the stubs to something like: `This is

[2019-05-05 17:10] moT01 commented on #35475
Are we still wanting to test all this stuff @Bouncey? My account was recently added to the beta site db, and I can test a number of these.

[2019-05-05 17:23] moT01 commented on #35464
So the single note structure was added to the guide with the PR above. The multinote issue wasn't exactly concluded - do we want to continue the conversation? I'm thinking we can close this, and mods should just keep notes small when we can. And multinotes can just be combined into a single paragraph after a `Note:`

[2019-05-05 17:48] moT01 commented on #35453
So, we've had a bunch of things we agree on here - I think someone should come up with a first draft of something to put in the guide somewhere, and we can fine tune it from there. And after we come up with a finalized version, we can probably make an issue for changing the current guide articles to conform to it.

[2019-05-05 17:54] moT01 commented on #35431
This appears to be fixed in the latest beta, so I think this can be closed. Does anyone want to give it a quick check?

[2019-05-05 18:26] #35196 closed

[2019-05-05 19:06] moT01 commented on #34798
Potential solution here would be to add some reminder that users have to be logged in to glitch for the forking process to work.

[2019-05-05 19:19] moT01 commented on #34760
This challenge was recently updated. The solution added to the challenge file...
[code]
This can be put in the guide.

[2019-05-05 19:41] moT01 commented on #34707
The image above is going to be added to production - I think this satisfies your concern of not knowing how much progress you made and have left @glennvill. Thanks for the suggestion! Adding a percent as well will just add clutter and possible confusion.

[2019-05-05 19:41] #34707 closed

[2019-05-05 19:44] #35934 closed

[2019-05-05 20:02] moT01 commented on #34626
here's the glitch project...
https://glitch.com/edit/#!/curse-arrow?path=views/index.html:1:0
and the github boilerplate...
https://github.com/freeCodeCamp/boilerplate-project-timestamp/blob/gomix/views/index.html

it looks like they have diverged a bit, but you can see the glitch project has...
`<li><a href="api/timestamp/1450137600000">[project url]/api/timestamp/1450137600</a></li>`
the link is

[2019-05-05 20:27] RandellDawson commented on #35453
I will take a stab at it.  I think I know a way to make the majority happy.

[2019-05-05 20:30] RandellDawson commented on #35464
@moT01 I don't know how many multi-notes there actually are, but I say we just combine them like you suggest in the same paragraph.  I can create a PR to reflect this.  Then, as we come across the multi-notes, we can first figure out if there even needs to be a multi-note and then probably just make it a single paragraph.  How does that sound?

[2019-05-05 20:37] #34760 closed

[2019-05-05 21:29] moT01 commented on #35464
A PR to describe this in the guide? Sure

[2019-05-05 22:00] moT01 commented on #34609
Is there any way to accomplish this? Have the translators go through them all? What we need is a way to translate from english to all the other languages automatically so we can keep the english versions of everything updated, and then just translate everything from time to time. Not sure how well that would work.

[2019-05-05 22:34] RandellDawson commented on #34609
With the current current challenges, we no longer have to worry about this, because they are never going to be seen on the site.  The next generation curriculum will supposedly be translated, but will run into the same issue that the last one did.

We could easily set up an automatic machine translation of an English curriculum challenge to all 5 languages, but those translations would need to be

[2019-05-05 22:35] moT01 commented on #34484
I agree that the guide is hard to find - I would like to see a link in the nav, but I don't think that's gonna happen.

[2019-05-05 22:42] moT01 opened #35977 "[beta/rocks] Period on home page gone astray"
There's a period on its own paragraph on the home page...
![Screen Shot 2019-05-05 at 5 35 19 PM](https://user-images.githubusercontent.com/20648924/57201296-c7b96080-6f5c-11e9-8c89-24f5576d474b.png)

Here's where the issue lies...
https://github.com/freeCodeCamp/freeCodeCamp/blob/4f1fdfdd1461e3a590cc808855926b57e1d9cb2f/client/src/pages/index.js#L234
Perhaps adding the period in the `<p>` tag

[2019-05-05 22:49] moT01 commented on #34609
You can reopen this if you want to keep the reminder up @lynxlynxlynx. But I don't think it's necessary.

[2019-05-05 22:49] #34609 closed

[2019-05-05 22:51] moT01 commented on #35971
Looks like that might be reverted or changed on beta
https://www.freecodecamp.rocks/forum/t/canceled-april-ikeja-study-group-at-andela/30

[2019-05-05 23:07] RandellDawson commented on #35971
I am not sure where the forum code is kept on GitHub.

[2019-05-05 23:19] moT01 commented on #35971
Not sure where it is either, maybe it's private or something - but that test forum is new with this latest beta I think.

[2019-05-05 23:31] moT01 commented on #32960
I believe this is resolved to you satisfaction @xeoneux? I am going to close it then. Feel free to reopen and describe more what you were thinking.

FYI - this is what the current beta looks like...
<img width="585" alt="Screen Shot 2019-05-05 at 6 30 27 PM" src="https://user-images.githubusercontent.com/20648924/57201848-f129ba80-6f63-11e9-9ee2-71a4aa33488f.png">

[2019-05-05 23:31] #32960 closed

[2019-05-05 23:34] RandellDawson commented on #35971
The test forum has been there for about 2-3 months.

[2019-05-05 23:34] moT01 commented on #34412
Does this problem persist @ktsmpng? Were you ever able to get that certificate?

[2019-05-05 23:41] moT01 commented on #34438
How about adding a readme to each folder? Or at least the main ones

[2019-05-06 01:39] moT01 commented on #34259
I was unable to reproduce this on Chrome or firefox - the last two tests do take an extra couple seconds. Want to give it one more try @thecodingaviator? Maybe try on another browser, there could be some zoom or extension settings messing with some on your browser perhaps.

[2019-05-06 01:51] moT01 commented on #34248
There is a number of posts on the forum about this challenge. Perhaps adding an example in there would help - something like...
here's how to put double quotes around something: `\"Hello World\"`

[2019-05-06 01:56] RandellDawson commented on #34248
I think this can be closed for now as the OP has not responded.

[2019-05-06 02:13] #34248 closed

[2019-05-06 02:46] moT01 commented on #33080
Thanks for the suggestion @huanyichuang, we currently only support the six current languages and any additional languages will be added if it deemed appropriate. I don't think this issue needs to remain open. Thanks and happy coding!

[2019-05-06 02:46] #33080 closed

[2019-05-06 02:50] scissorsneedfoodtoo commented on #17827
@RandellDawson, no, it shouldn't be a problem at all! Would be good to have something until the new curriculum hits. Looking forward to seeing your new challenge @leodaher :+1: :+1:

[2019-05-06 02:53] moT01 commented on #31785
I tested your project and this issue appears to have been fixed. Therefore, I think this can be closed. Let us know if you are still have problems. Thanks and happy coding!

[2019-05-06 02:53] #31785 closed

[2019-05-06 02:58] #35977 closed

[2019-05-06 03:10] moT01 commented on #26859
Thanks for the issue and PR - we typically don't need to open issues or keep them open for guide article additions. For the most part, you can just make the changes you want. I am going to close this and the PR will be reviewed when someone gets to it. Thanks and happy coding!

[2019-05-06 03:10] #26859 closed

[2019-05-06 03:16] moT01 commented on #26243
Is this still a problem @zersiax?

[2019-05-06 03:28] moT01 commented on #24632
Do we want someone who can speak these languages to review these or is it safe to merge them? I took a quick look and they seem fine to me.

[2019-05-06 03:37] moT01 commented on #24632
Do we want someone who can speak these languages to review them? Or is it safe for me to merge them? I glanced at them and they look good to me.

[2019-05-06 03:49] moT01 commented on #24026
Closing as stale. Thanks and happy coding!

[2019-05-06 03:49] #24026 closed

[2019-05-06 04:17] moT01 commented on #18885
Any progress on this @amusedberry? I agree that the semi-colons should be optional - If a camper is failing a challenge with valid javascript, that seems like a problem that might confuse them.

[2019-05-06 04:21] moT01 commented on #19142
So do we want to create a group of challenges around this? I'm thinking that with the plan of turning the curriculum into the project based curriculum - creating a new group of challenges is maybe not the way to go. I am not familiar with NVD3 - it sounds helpful. Perhaps a guide article?

[2019-05-06 04:27] #18180 closed

[2019-05-06 04:39] RandellDawson commented on #24632
@moT01 I believe we can go ahead an merge these translations now as long as there are no other earlier PRs for them (which there should not be).

FYI - I was given permission by Quincy to merge any non-English curriculum PRs as long as after reviewing, I did not see anything in appropriate (spam, referral links, etc.) after running the translations through Google translate.  For these this is a no

[2019-05-06 04:42] RandellDawson commented on #26859
@moT01 I don't see the harm in leaving this open.  If after reviewing the PR we merge it, then it will close anyway.  Just my two cents worth.

[2019-05-06 06:45] lynxlynxlynx commented on #34609
#34955 would solve it, but I guess that one is almost obviated now too.

[2019-05-06 06:51] lynxlynxlynx commented on #19142
One project would do, though in that format it begs the question why teach D3 itself at all then.

[2019-05-06 06:59] awareness481 commented on #18084
A way to fix this issue without changing too much of the exercise would be by passing `this.state.visibility` as a value to the toggleVisiblity function

[code]

The if statement here becomes redundant however, so I would suggest refactoring to something like:

[code]

Reference: https://reactjs.org/docs/lifting-state-up.html

[2019-05-06 07:27] Pogayo commented on #35707
No , not at all. I think I did so by mistake. Let me correct that.

On Sun, May 5, 2019 at 2:33 AM Randell Dawson <notifications@github.com>
wrote:

--

Perez Ogayo

Guest Relations intern| ALU ALIVE Ambassador| Computer Science major

[image: EmailSignature.png]

We're Hiring!

Kigali Heights Business Complex

Kigali| Rwanda

pogayo17@alustudent.com

www.alueducation.com

Facebook <https://www.fa

[2019-05-06 09:29] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/f427fb4b91b1aeec7da37c8fc7b7d0d37266bb37) | f427fb4b91b1aeec7da37c8fc7b7d0d37266bb37 | 7573252fa05438dfb5dbd46301a8cb77a6e44b6d |

[2019-05-06 11:32] #24632 closed

[2019-05-06 11:49] moT01 commented on #26859
merged

[2019-05-06 12:09] #35769 closed

[2019-05-06 12:13] moT01 commented on #27722
So all a user would have to do to keep their streak alive is go do the easiest challenge over again every day. I'm not sure I like that.

[2019-05-06 12:20] rickvian commented on #34532
@ezioda004

Sorry, i was looking for this issue

here is my regex

`/Haz{4,}ah/g

it doesn't match 5 z

<img width="859" alt="Screenshot_06_05_19_19_17" src="https://user-images.githubusercontent.com/8034141/57224472-c9a22300-7033-11e9-89ae-7eb8f308035e.png">

but when i test it on online regex tester, it should be a match
i think this is a bug, or did i miss something?
<img width="1037" alt="Regu

[2019-05-06 12:20] moT01 commented on #18487
Any updates on this @oalhait @saransha ?

[2019-05-06 12:24] moT01 commented on #18410
This has been added with [this pr](https://github.com/freeCodeCamp/freeCodeCamp/pull/35567) and is viewable on [beta](https://www.freecodecamp.rocks/guide/accessibility)

[2019-05-06 12:24] #18410 closed

[2019-05-06 12:27] #34394 closed

[2019-05-06 12:38] moT01 commented on #18195
Closing as stale. Feel free to reopen and provide a suggestion here anyone.

[2019-05-06 12:38] #18195 closed

[2019-05-06 12:41] moT01 commented on #18194
Closing as stale. Feel free to reopen and provide further details.

[2019-05-06 12:41] #18194 closed

[2019-05-06 12:44] moT01 commented on #18192
Thank you for reporting this issue.

This is a standard message notifying you that the problem you mentioned here is present in production, but that it has already been fixed in staging. This means that the next time we push our staging branch to production, this problem should be fixed. Because of this, I’m closing this issue.

If you think I’m wrong in closing this issue, please reopen it and ad

[2019-05-06 12:44] #18192 closed

[2019-05-06 12:48] moT01 commented on #18144
Closing this as stale. This is a good suggestion, but it didn't get much attention. Feel free to create a new issue and maybe it will get some more traction.

[2019-05-06 12:48] #18144 closed

[2019-05-06 13:00] moT01 opened #35979 "[beta/rocks] new challenge improper test or instruction"
[This new challenge on beta](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters)

<img width="1253" alt="Screen Shot 2019-05-06 at 7 55 34 AM" src="https://user-images.githubusercontent.com/20648924/57226335-7482f480-6fd4-11e9-8f67-270f75c93dc3.png">

Fails with the code in the screen shot - `/(Franklin Roosevel

[2019-05-06 13:20] moT01 commented on #18062
Any progress here @zolbayars?

[2019-05-06 13:21] moT01 commented on #18062
I'm really not sure it would get approved to be merged as no core members gave the okay to add it.

[2019-05-06 13:25] moT01 commented on #18061
Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/34236

[2019-05-06 13:25] #18061 closed

[2019-05-06 14:44] #35757 closed

[2019-05-06 14:52] RandellDawson commented on #34532
@rickvian You should really check the forum first with these kinds of issues and if those helping you on the forum believe it is a bug, you would report it over here.  The problem is your use of the `g` flag when using `test`.  When using the `g` flag with `test` multiple times (as our behind-the-scenes tests are doing), the lastIndex property of the regex does not get reset each time automaticall

[2019-05-06 14:52] lightyaer commented on #35979
May I work on this?

[2019-05-06 15:01] moT01 commented on #35979
Yea, I think that's fine - I suppose I should have waited for another person to confirm the issue before adding the label. But yea, go ahead - and we can test it out after the PR is made.

[2019-05-06 15:05] RandellDawson commented on #35979
@moT01 I do not believe this is a bug.  The instructions also state that the regex should make concessions for middle names.  So, the regex should allow initials or full middle names like "Franklin D. Roosevelt".  The D. is a middle name.

[2019-05-06 15:14] moT01 commented on #35979
Ahh, I missed that part - I have to agree. Not sure if you started already @lightyaer, but you can ignore this as it's not a problem.

[2019-05-06 15:15] #35979 closed

[2019-05-06 15:40] thecodingaviator commented on #34259
Still failing on both Firefox and Chrome for me. Maybe someone else can have a look and this might be an issue with only me, although I'm still not sure why they're failing

[2019-05-06 16:32] moT01 commented on #18008
Sounds good to me @ojeytonwilliams

So to be clear - it should look like this...
[code]

[2019-05-06 16:36] ojeytonwilliams commented on #35972
Same problem for me.  Also Chrome doesn't display the prettier 404 page properly, either, it looks like this:
![404Chrome](https://user-images.githubusercontent.com/15801806/57239927-8e045a80-702d-11e9-99a2-2a01c39cdf98.png)

I'll try and figure out what's going on.

[2019-05-06 16:39] moT01 commented on #17998
It looks like the user stories were added to the github boilerplate, but have not been imported to the glitch project.

[2019-05-06 16:52] moT01 commented on #17924
Closing as stale and not worth fixing for now.

[2019-05-06 16:52] #17924 closed

[2019-05-06 16:53] jeremyfiel commented on #18201
https://www.freecodecamp.org/forum/t/advanced-node-and-express-registration-of-new-users-updated-with-only-one-hack/274435

tons of missing requirements in the instructions provided on the challenge.  Hope it helps!

[2019-05-06 17:03] moT01 commented on #17912
This looks like it's resolved in [beta](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters)

So I think it's safe to close this.

[2019-05-06 17:03] #17912 closed

[2019-05-06 17:09] moT01 commented on #17837
Thanks for the issue. But I am closing this as stale. Feel free to open a new issue and maybe it can gain some more attention.

[2019-05-06 17:09] #17837 closed

[2019-05-06 17:21] Stevo99 commented on #35557
If this is still open I would like to try to fix it.  It would be my first contribution, which would mean a lot.

[2019-05-06 17:33] moT01 commented on #35557
Sure @Stevo99, here's the file - https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.english.md

Perhaps just adding a `^` and `$` to that regex test - not sure

[2019-05-06 17:36] moT01 commented on #17838
Fixed in [beta](https://www.freecodecamp.rocks/learn/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while) as mentioned, the new minimum size is 15px - so this can be closed

[2019-05-06 17:36] #17838 closed

[2019-05-06 17:44] moT01 commented on #17831
I'm thinking we can close this. It's been pretty stale for a while apart from a trickle of activity in February. We don't have the code that produced the error and the OP is pretty much completely inactive on github... if it's a problem, hopefully someone will create a new issue around it.

[2019-05-06 17:44] #17831 closed

[2019-05-06 17:56] moT01 commented on #18056
Thanks for the detailed issue description, but this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17820 - So I think it's safe to close this. Thanks and happy coding!

[2019-05-06 17:56] #18056 closed

[2019-05-06 18:02] Stevo99 commented on #35557
ok thanks looking into it now..

[2019-05-06 18:03] moT01 commented on #18201
Here's a hack I did a while back https://www.freecodecamp.org/forum/t/advanced-node-and-express-registration-of-new-users/208071/10 - This is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17820 - so this can be closed.

[2019-05-06 18:03] #18201 closed

[2019-05-06 18:27] jeremyfiel commented on #18201
mine isn't a hack other than the delays by #17820.   The instructions were missing information about calling the req.logIn() method which returns the req.user data after serialization to populate the object which is passed to the front end.  Your hack of manually entering the username freeCodeCampTester works, but is incorrect because you are bypassing the middleware authentication and serializati

[2019-05-06 19:35] moT01 commented on #17814
Closing as stale, and looks to be fixed on beta. Feel free to reopen it if there's still a problem. Thanks and happy coding!

[2019-05-06 19:35] #17814 closed

[2019-05-06 19:39] moT01 commented on #17804
Closing as stale. Feel free to reopen if you think it's still a problem. Thanks and happy coding!

[2019-05-06 19:39] #17804 closed

[2019-05-06 19:53] moT01 commented on #17797
I tested this on beta with a wide image and tall image and there was no distortion. Can anyone else reproduce this problem?

tested on firefox 66.0.3

[2019-05-06 20:04] Donearm commented on #35660
With the fresh profile, no addons at all, there's no freeze with the beta site so it's either something in the stable site and/or the profile got corrupted. Time to close.

[2019-05-06 20:04] #35660 closed

[2019-05-06 20:20] moT01 commented on #17895
Closing this as stale. Thanks for the suggestion - like it was mentioned you can download and run this locally. It's not a single file, but it's the whole curriculum and guide - which is a lot. Feel free to open a new issue about this, and maybe it will get some more attention there. Thanks and happy coding!

[2019-05-06 20:20] #17895 closed

[2019-05-06 20:54] moT01 commented on #17746
Closing as duplicate of issue mentioned above. Thanks and happy coding!

[2019-05-06 20:54] #17746 closed

[2019-05-06 21:25] moT01 commented on #17615
It looks like this is fixed in beta from [this pr](https://github.com/freeCodeCamp/freeCodeCamp/pull/35535/files) - So it's safe to close this. Thanks and happy coding!

[2019-05-06 21:25] #17615 closed

[2019-05-06 21:39] moT01 commented on #17582
Closing as stale. Thanks for the suggestion, I like it - but this hasn't gotten any attention. Feel free to create a new issue around this and maybe it will get some more traction. Thanks and happy coding!

[2019-05-06 21:39] #17582 closed

[2019-05-06 21:43] RandellDawson commented on #17582
@raisedadead Is this something we would want to remain open and put on the road map?

[2019-05-06 21:44] moT01 commented on #17544
This has become quite stale. Is it safe to close this @raisedadead, or is it something we still want to implement?

[2019-05-06 21:49] moT01 commented on #17503
I noticed this a while back. There is quite a few challenges that have this problem. Do you think we should go through and fix all these @RandellDawson? It could involve rewriting a couple challenges, and changing seed code + solutions + tests to many. Along with making the guide articles out of sync.

[2019-05-06 21:54] moT01 commented on #17486
Closing as stale. The next iteration of the curriculum is in the works [here](https://github.com/freeCodeCamp/CurriculumExpansion/issues?page=2&q=is%3Aissue+is%3Aopen). I don't see a plan to add these. Feel free to create a new issue over there and it will probably get noticed. Thanks and happy coding!

[2019-05-06 21:54] #17486 closed

[2019-05-06 22:49] hilliarj commented on #35916
@raisedadead @RandellDawson I have tried to replicate the bug on freecodecamp.rocks and it is still there. The dates do not appear when hovering over any date on the calendar.

[2019-05-07 00:59] jhomme commented on #17503
Hi,
Because my day job is working on accessibility, if someone is willing
to help me, I do not think I can write the code unless it is fairly
straight forward, but I would certainly be able to work on articles
and test for accuracy. I may need help setting up the system locally.
I apologize for needing so much hand holding, but my heart is in the
right place. I would be glad to read instructions a

[2019-05-07 04:38] knoxcard commented on #14678
@JoolsMcFly - Thanks Kramer! :-)

[2019-05-07 08:22] thecodingaviator commented on #35481
Had this been fixed in the Portuguese and Russian folders? Someone needs to have a look

[2019-05-07 09:55] raisedadead commented on #35916
/cc @ahmadabdolsaheb

[2019-05-07 09:57] raisedadead commented on #17544
IDK. A lot has changed, and we will have to investigate if the original issue (or any potential side effects) still need to be addressed. Lets keep this open until after we have fully shipped.

[2019-05-07 10:16] #17411 closed

[2019-05-07 11:50] StraubJones commented on #19142
As an infrequent contributor, I missed the memo on the plan to shift to a project-based curriculum. Is it anything more complicated than a focus more on making small problems / projects for students and less on the article-based reference / reading material aspect?

I could set it up either way folks wanted, either as a short article or a small challenge (build this basic chart using NVD3!), thoug

[2019-05-07 11:59] moT01 commented on #19142
Pretty much yes @StraubJones - just a bunch of small projects instead of challenges - https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

[2019-05-07 12:28] moT01 commented on #14595
Are you still working on this @gwenf? Perhaps this should be brought up over on the new curriculum expansion repo.

[2019-05-07 12:28] lionel-rowe commented on #17503
@jhomme Could you explain why it's less correct to have the `label` as a child of the `input`? Here's [what the W3C spec says](https://www.w3.org/TR/html52/sec-forms.html#the-label-element) regarding placement of `label`s:

Regarding whether the `for` attribute is still required when nesting, [this W3C technique on associating label elements](https://www.w3.org/TR/2008/WD-WCAG20-TECHS-20080430/H44

[2019-05-07 12:42] moT01 commented on #15388
Closing as stale.

[2019-05-07 13:07] ojeytonwilliams commented on #35959
It would be tricky to come up with a generic solution, since it depends on the behaviour of each extension.  For example, we could stop #35958's problem, passing with only the seed code, by adding a filter like this:

[code]

That would fix the issue, but relies on an implementation detail of the extension.

I guess we could solve them on a case-by-case basis, but it might be better to put a warni

[2019-05-07 13:08] Stevo99 commented on #35557
hey having a little trouble.  Everything I looked into tells me I can put an ^ to start a string and $ at end of string but it wont pass.  is there a way to see my output without submitting the test. (like a console.log so I can see the actual output im getting).  Im sure its something really small im missing but im unfamiliar with yml snippets so unsure how to debug that.

[2019-05-07 13:22] ojeytonwilliams commented on #35557
@Stevo99 You can put console logs before assertions, so if you wanted to see what `$('time').text()` was, it would look a bit like this:
[code]
Hope that helps!

[2019-05-07 13:37] moT01 commented on #35557
also, there's regex tools - I like https://regex101.com/ - you can put a few stings in there and then see what your regex will match

[2019-05-07 13:39] Stevo99 commented on #35557
ok thanks..  appreciate the help

[2019-05-07 13:56] eschafer commented on #17503
Explicit labels have better support. Implicit labels don't work in Dragon Naturally Speaking.

https://a11ysupport.io/tech/html/label_element

[2019-05-07 14:38] moT01 opened #35984 "Add projects to portfolio page?"
When I go to my settings page. I can see the projects I have completed, and click a button to go to the solutions....
<img width="550" alt="Screen Shot 2019-05-07 at 9 34 04 AM" src="https://user-images.githubusercontent.com/20648924/57308118-605df680-70ab-11e9-9ba3-984dedd0cd8b.png">

But a portfolio page just has a link to certifications and the actual challenges, but not the campers solutions.

[2019-05-07 14:44] moT01 opened #35985 "should search bring up results instead of suggested terms?"
When searching on the search page (https://search.freecodecamp.org/?q=html) - it brings up results - lessons, guides, youtube stuff

<img width="1053" alt="Screen Shot 2019-05-07 at 9 39 48 AM" src="https://user-images.githubusercontent.com/20648924/57308676-6902fc80-70ac-11e9-8a3a-d74c823c3a40.png">

But when searching from anywhere else on the website it brings up suggested search terms...

<img

[2019-05-07 14:59] moT01 commented on #35841
This sounds useful @AstiV - As it took me a few tries to figure out how to deal with it.

here's a `git status` with the package-lock there...
[code]

My method is to `git stash` then `git stash drop`

Something could definitely be added to help users out here as it just says - `If you are not on master or your working directory is not clean, resolve any outstanding files/commits and checkout mast

[2019-05-07 15:00] RandellDawson commented on #35481
@thecodingaviator Even if those languages were not translated, it is fine.  We are no longer accepting translations for the current curriculum.  We do not need any further PRs for the the non-English curriculum files.

[2019-05-07 15:02] RandellDawson commented on #15388
@moT01 I actually have been working on this issue, so I would like it to be reopened.

[2019-05-07 15:10] moT01 commented on #15388
Let me know if you need any help or extra opinions.