[2019-11-27 02:30] ojeytonwilliams commented on #37740
True, it may be safer to remove it entirely.  I would miss code completion, though!

[2019-11-27 02:34] Manish-Giri commented on #37740
Me too! Wouldn't have to type as much :/

[2019-11-27 03:21] Ishaan0704 commented on #17291
Just finished the "while" loop challenge after a lot of timeoutss..
you can simply undestand the code mentioned below and just try writing "while" after your entire code is written..
worked for me that way.

// Setup
var myArray = [];

// Only change code below this line.
 var i = 5;
while(i > -1) {
   myArray.push(i);
   i--;
}

[2019-11-27 05:23] raisedadead commented on #37740
OK - I guess we are cool with removing just the `parameterHints` for now and see if we get issues from other areas, and iterate then.

Manish please update your PR and let us know when ready.

[2019-11-27 14:26] PartyLich commented on #37185
it isn't tracked here for some reason, but there appears to already be a #37588 for the url shortener tests

[2019-11-27 15:47] PartyLich opened #37842 ""Data Structures: Create a Priority Queue Class" test text naming inconsistency"
**Describe your problem and how to reproduce it:**
The class/function name in the editor does not match the test text. To cp @RandellDawson s comment on the forum,

[Original forum post](https://www.freecodecamp.org/forum/t/create-a-priority-queue-class-fails-on-all-test/328502)

**Add a Link to the page with the problem:**
[Data Structures: Create a Priority Queue ClassPassed](https://www.freecod

[2019-11-27 17:38] #37805 closed

[2019-11-27 17:57] raisedadead commented on #37837
Hold on, is this happening after Oliver's console logging pull-request (merged last week) or is this from our platform launch earlier in mid October?

If later (reading the OP), we are probably looking in the wrong place?

I can see our [loop-protect](https://github.com/jsbin/loop-protect) based protection is implemented here:

https://github.com/freeCodeCamp/freeCodeCamp/blob/cd5131b07c42cc80350c

[2019-11-27 18:00] raisedadead commented on #37834
Production or local?

[2019-11-27 18:08] ojeytonwilliams commented on #37837
My PR created the problem. It made the users code execute every time they changed something.  It also used a 5 second timeout (same as the tests) which was plenty of time to create memory leaks and crash Chrome.

The silver lining is that the tests were already crashing the browser (before my PR landed), but we didn't know.  Now we know this is happening and https://github.com/freeCodeCamp/freeCod

[2019-11-27 18:14] raisedadead commented on #37837
Thanks for clarifying.

[2019-11-27 18:18] ojeytonwilliams commented on #37834
The hover effect is visible in production and they are also a little hard to see.

[2019-11-27 18:32] raisedadead commented on #37834
@ahmadabdolsaheb please investigate.

[2019-11-27 18:36] raisedadead commented on #37827
I think there is not much to lose in having the R-S-A links in challenges. The modal just double checks with the users that if they used it or not.

I would defer the need for MDN links in challenges to @scissorsneedfoodtoo if we have forum topics already.

[2019-11-27 18:48] moT01 commented on #37834
Just a little table for reference...

| | Production | Master |
|---:|:---:|:---:|
| Chrome | <img width="36" alt="Screen Shot 2019-11-27 at 12 36 58 PM" src="https://user-images.githubusercontent.com/20648924/69750593-b7dcb600-1112-11ea-980d-d3a8a9448c60.png"> | <img width="38" alt="Screen Shot 2019-11-27 at 12 38 33 PM" src="https://user-images.githubusercontent.com/20648924/69750650-e22e7380-11

[2019-11-27 19:47] raisedadead commented on #37834
Thanks for the confirmation. The latest master is no .dev if you want to confirm this issue is fixed. If yes, I will proceed with the deployment to .org

[2019-11-28 01:40] PartyLich commented on #37842
Apparently there was a pull created yesterday. Good to know.

[2019-11-28 01:40] #37842 closed

[2019-11-28 02:21] dalevross commented on #35700
123456 or any other 6+ numeric string could be added as a test. Using a slightly modified regex from the accepted solution, with a * (0 or more match) on the non-digit (\D), results in the current tests passing but the objective not being met,

[2019-11-28 02:28] RandellDawson commented on #35700
@dalevross What is the exact regex that passes all the current tests but does not meet the current instructions' requirements?

[2019-11-28 06:21] #37452 closed

[2019-11-28 06:29] raisedadead commented on #37834
I have pushed further to production and can confirm that the issue is reproducible on both staging and production applications.

[2019-11-28 06:30] raisedadead commented on #37834
@ahmadabdolsaheb I have bumped this to crit path.

[2019-11-28 12:12] #37627 closed

[2019-11-28 13:44] vanya829 commented on #37825
@QuincyLarson Hi. Can I get this one to work with?

[2019-11-28 18:41] Aadhar3 commented on #37185
Oh alright, i do not think there are tests for the File Metadata microservice.. I would like to contribute to that

[2019-11-28 19:39] Amagon96 commented on #37831
Hi! Can I work on this?

[2019-11-28 19:45] RandellDawson commented on #37831
I think a possible solution for this is for testing the add and remove methods, you temporarily add in a working lookup method for the tests to use and then remove it so the other tests still use the user's lookup method.

@Amagon96 Go for it.

[2019-11-28 19:47] Amagon96 commented on #37831
Thank you!

[2019-11-28 19:49] RandellDawson commented on #37185
@Aadhar3 There are no other open PRs for the File Metadata Microservice, so feel free to submit a PR.

[2019-11-29 08:22] ojeytonwilliams opened #37850 "Superblock intros are missing"
The markdown files for superblocks exist: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/pages/learn/apis-and-microservices/index.md, but don't currently appear in the curriculum map.  Also, the user does not get sent to them when they complete the previous superblock.  Pages are being created for them, but (to my knowledge) nothing links to them:

https://www.freecodecamp.dev

[2019-11-29 15:38] IMHOJEONG commented on #37850
How about this way?

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/2fe5b0aa-cca9-480a-b698-60d9625b2f23)

[2019-11-29 17:05] RandellDawson commented on #37850
Issue https://github.com/freeCodeCamp/freeCodeCamp/issues/37144 already was discussing removing the intros.

[2019-11-29 17:18] ghanhass opened #37852 "css style issue with certifications."
Hello everybody.

I noticed this issue in freeCodeCamp certifications.

When opening up the web page of your certification from our main freeCodeCamp's platform, it looks fine, but when I refer to your certification from e.g Linkedin, the web-page's body contains a 'light-palette' class that comes with css variables applying colors to different elements in the certification's web page, among them

[2019-11-29 20:24] jcordoba95 commented on #37852
If there is no one else working on this, I would like to work in this :)

[2019-11-29 23:42] dalevross commented on #35700
/^(?=\w{6})(?=\D*\d{2})/

[2019-11-30 01:52] Aadhar3 commented on #37185
I had a general question, on https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice, why does a user have to submit both a glitch link and a github link?

[2019-11-30 01:55] explunit opened #37855 "Timeline does not appear for public portfolio"
**Describe the bug**
Timeline can be marked as public in the account settings, but it does not appear for public viewers.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account
1. Complete at least one challenge
1. Go to [settings](https://www.freecodecamp.org/settings) and change the "My profile" and the "My timeline" settings to public
1. Click on "Show me my public portfolio"
1

[2019-11-30 04:52] Manish-Giri opened #37856 "Decrease the Opacity of an Element - Tests won't pass on Safari after removing backticks"
**Describe your problem and how to reproduce it:**

Noticed the issue in [this forum post](https://www.freecodecamp.org/forum/t/will-not-pass-test-but-code-is-typed-in-identical-to-video/329446). User had backticks around their code originally -
[code]
but even after I removed them, the tests won't pass on Safari.

![Screen Shot 2019-11-29 at 11 44 42 PM](https://user-images.githubusercontent.com/

[2019-11-30 05:22] thecodingaviator commented on #37856
@Manish-Giri could you please log and check what the opacity of the element is returning in the dev console?

[2019-11-30 05:28] thecodingaviator commented on #37855
@explunit please share a link to your profile

[2019-11-30 05:31] thecodingaviator commented on #37852
Thanks for opening this issue @ghanhass . This is already being tracked in #37378

[2019-11-30 05:31] #37852 closed

[2019-11-30 05:36] thecodingaviator commented on #37824
I guess it's fine how it is now. The challenge is achieving its objective so I guess we'll just leave it the way it is.

[2019-11-30 05:36] #37824 closed

[2019-11-30 05:39] thecodingaviator commented on #37378
It's not just the fonts. The page sizing is also getting messed up when visiting from an external link. If you come from somewhere other than fCC, you'll see scrollbars.

[2019-11-30 05:43] thecodingaviator commented on #17971
I think the main issue here has been fixed. If anybody is still facing any issue, please add an explanation and we'll reopen this. If there's a different issue, I'd encourage you to open a different PR.
:)

[2019-11-30 05:43] #17971 closed

[2019-11-30 09:01] tomektomeknyc opened #37857 "I cannot sign in using github account"
**Describe the bug**
After logging with github account I get 'Something went wrong, please try again' message since yesterday.

[2019-11-30 13:06] explunit commented on #37855
@thecodingaviator  here it is: https://www.freecodecamp.org/uuqwernoasdfo

[2019-11-30 14:42] thecodingaviator commented on #37855
cc: @ahmadabdolsaheb

[2019-11-30 18:10] RandellDawson commented on #37856
@Manish-Giri @thecodingaviator @ojeytonwilliams and I have already discussed this issue and concluded the differences in the accuracy of the getComputedValue method across browsers was causing too much trouble, so I created #37838 to deal with it once and for all (using regex).  Can you both review and approve if everything looks good.

[2019-11-30 18:21] RandellDawson commented on #37857
@tomektomeknyc See [this forum post](https://www.freecodecamp.org/forum/t/can-t-login-to-the-curriculum/323195) for more information on how to resolve.

[2019-11-30 18:21] #37857 closed

[2019-11-30 18:48] moT01 commented on #37185
That's just how it is at the moment @Aadhar3 - [There's an issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/37771) that plans to make the github link optional.

[2019-11-30 19:52] moT01 commented on #37827
We could probably make it consistent. The RSA link is in some of the challenges and not others. Seems like we could either add it in all of them, or remove it from all of them.

[2019-11-30 21:44] RandellDawson commented on #37827
@raisedadead I agree with Tom here.  I think they should all have the R-S-A links (which I do not prefer) or none at all.

[2019-11-30 22:33] #18008 closed

[2019-12-01 04:32] #37720 closed

[2019-12-01 06:14] Manish-Giri commented on #37740
@raisedadead @ojeytonwilliams I updated the PR.

[2019-12-01 06:27] raisedadead commented on #37827
Alright lets clean them up from the challenges.

[2019-12-01 10:49] dalevross commented on #35700
@RandellDawson Specifically, any string that starts with 2 numeric digits and a length greater than 5 will match that regex due to the second lookahead matching on 0 instances of a non-digit character.

[2019-12-01 12:20] wale-bant opened #37860 "React: Create a Controlled Input"
**Describe your problem and how to reproduce it:**
The instruction on the page are correct but the  task to be performed according to the user story are for the previous exercise (React: Write a Simple Counter).

How to produce:
Just follow the instruction and type in the required code and click submit. The code won't run even if correct because the test requires the code for the former excersie

[2019-12-01 16:05] RandellDawson commented on #37860
@wale-bant Not understanding what you think is an issue.  How can the instructions on the page be correct bu t the task to be performed (the instructions) be incorrect? You will need to provide more information such as the code you attempted for this challenge.

Did you bring this up on [our forum](https://www.freecodecamp.org/forum)?  If so, what did other users say?

[2019-12-01 22:58] kingeke opened #37861 "Tests assertion bug"
Basically the projects that involves Node and Glitch are not doing the tests properly.

I'm currently on Information Security and Quality Assurance Project Challenges and I can use the glitch link to start the project, then copy the link without doing anything in the project and submit it for both my glitch solution and github link.

After submission my tests will all pass even when I basically ha

[2019-12-02 01:29] PartyLich commented on #37861
There's an open issue in progress for these backend project tests. See #37185

[2019-12-02 02:18] RandellDawson commented on #37861
Closing as duplicate of #37185.

[2019-12-02 02:18] #37861 closed

[2019-12-02 07:32] ahmadabdolsaheb commented on #37378
I could not reproduce this on mac and chrome 78.0.3904.108. could you give tell me about the  browser and operating system you are using.

[2019-12-02 11:40] ojeytonwilliams commented on #37850
@IMHOJEONG yep, if we do want to reinstate them, that looks reasonable.  However, I suspect, based on the issue that Randell linked, we're probably going to remove them/merge them into existing challenges.

[2019-12-02 13:45] moT01 commented on #37855
I see the time line showing up on your portfolio @explunit, but it says "no challenges have been completed yet" - have you completed some of them?

[2019-12-02 13:48] explunit commented on #37855
@moT01 yes, see original screenshots

[2019-12-02 15:08] #37834 closed

[2019-12-02 15:14] thecodingaviator commented on #37378
@ahmadabdolsaheb See scrollbar to the right when I open it externally
![image](https://user-images.githubusercontent.com/34807532/69970502-62563e00-1544-11ea-8d64-ac6c76a65569.png)

None if opened directly from fCC
![image](https://user-images.githubusercontent.com/34807532/69970549-700bc380-1544-11ea-8711-4dceb445d829.png)

Also, notice whitespace is different

[2019-12-02 15:20] #37856 closed

[2019-12-02 16:23] #37577 closed

[2019-12-03 06:08] Manish-Giri opened #37865 "Environment setup issues on Windows"
I was trying to setup the local environment on my Windows machine, and ran into issues with both the Docker and local setup.

I'm posting here for better reachability, maybe someone else has faced such similar errors and can help out.

Error for docker setup -

[code]

Error with local setup -
[code]

A few facts about the installation -

1. I ran the above commands in Powershell as administrator.

[2019-12-03 10:58] ojeytonwilliams commented on #37776
I just noticed that Docker is already running using the node:lts image which has been upgraded to 12.13.1.  So, anyone using Docker is already testing it!  Also, we should probably pin it at a specific version before future upgrades.

[2019-12-03 11:15] ojeytonwilliams commented on #37865
For docker, it sounds like an npm issue, rather than node.  Specifically how it clears out existing node_modules before installation.  I assume that lerna is locking those directories, so npm isn't allowed to remove them.

Anyway, if you look at `/usr/local/lib/node_modules/npm/node_modules/libcipm/index.js` in either the client or server containers you should find:

[code]

inside `prepare()`.  I

[2019-12-03 13:06] Manish-Giri commented on #37865
Yes, I executed these commands in Powershell as an administrator. I'll try again using a different shell.

[2019-12-03 13:14] ojeytonwilliams commented on #37865
It's probably something to do with `libcipm`, then. You might need to find out what version of npm you have installed in both cases.  It *should* include the above code, but it sounds like it isn't.

I'll try and install docker on my Windows partition and see if I run into the same issues (Linux, like Mac is working fine).

[2019-12-03 14:19] Manish-Giri commented on #37865
So, I did some checking. My local `npm` version is `6.12.1`, which is what ships with Node LTS `12.13.1`.

However for docker, while ` npm run docker:install` was running, I was able to get into the ` freecodecamp_freecodecamp_run_45061e72436b` container (which runs from the `node:lts` image), and looks like the npm version is `6.9.0` (probably because the node version is `10.16.3`).

Screenshot -

[2019-12-03 14:33] ojeytonwilliams commented on #37865
It's weird that the docker image has node 10.16.3, because [node:lts](https://hub.docker.com/_/node) is currently pointing to [12.13.1](https://github.com/nodejs/docker-node/blob/4f49f67ebd8d577dd7c97dabf5df69e6d947406c/12/stretch/Dockerfile).  Any clue why docker isn't getting the latest lts?

Regardless, it seems like `libcipm` has the relevant code.  So, it seems like `rimraf` is trying to dele

[2019-12-03 14:47] Manish-Giri commented on #37865
@ojeytonwilliams Thank You! I'll dig deeper and try to figure out why docker is still using node v10.

[2019-12-03 16:04] ojeytonwilliams commented on #37865
I can confirm the local installation bug.  I get exactly the same error

Also, it takes an absurdly long time to install.

[2019-12-03 17:44] RandellDawson opened #37868 "Need to allow users to use helper functions for the recursive challenges"
Currently we recently added 3 recursion challenges to the curriculum.  Each challenge has a test that checks to see if the user used recursion to solve the challenge.  We check this by first converting the calling function to a string and then using regex to match the name of the calling function somewhere inside it (after removing comments).  This works well unless the user implements a helper fu

[2019-12-03 18:14] RandellDawson commented on #37868
To keep things simple, I suppose we could change the test text to something like:

[2019-12-03 18:46] ojeytonwilliams commented on #37868
We could use a regex along the lines of
[code]
it's likely to be bug prone, though, so we'd need to be careful.

Another option is to rely on the test that checks if they're using various looping functions.  I doubt many people will come up with non-recursive non-looping solutions.

[2019-12-03 21:53] ojeytonwilliams commented on #37865
@Manish-Giri the tentative solution seems to be some combination of the following (perhaps all are required, I'm not 100% sure).

- Upgrade to the latest lts for node
- update npm
- exclude nodejs (c:\Program Files\nodejs) and npm (c:\Users\YourUserName\AppData\Roaming\npm) from your antivirus (this bit I found from [here](https://ilikekillnerds.com/2017/02/yarn-slow-windows-disable-windows-defend

[2019-12-03 22:21] Manish-Giri commented on #37865
@ojeytonwilliams Thanks! I've actually given up trying to get `npm ci` to run successfully.  It takes more than 50-60 minutes to complete on average, on each run.

Regarding the docker issue, after going through my docker images, I found that the `node:lts` image I had in my local image cache dated back over 2 months -

![node](https://user-images.githubusercontent.com/11348778/70093840-4360b600-1

[2019-12-04 02:36] Manish-Giri commented on #37865
Turns out I was right, the `node:lts` image being used was the one present in my local cache, and it was outdated, but I still get the same error (more on that in a bit).

Once I deleted that image, this is the output from `npm run docker:init` -

![d31](https://user-images.githubusercontent.com/11348778/70107063-79b02c80-1613-11ea-8e03-1b5e216d33fd.png)

Notice the first few steps, where it pulls

[2019-12-04 15:01] nmichalakis commented on #12699
On Firefox Developer Edition (72.0b2 (64-bit)) it does not work.

[2019-12-04 15:29] RandellDawson commented on #12699
@nmichalakis What errors are you seeing in the browser console?

[2019-12-04 16:09] #37534 closed

[2019-12-04 16:11] #37767 closed

[2019-12-04 16:22] ojeytonwilliams commented on #37865
@Manish-Giri after a long struggle getting Docker to work, I'm afraid I didn't run into the locking issue.  The problem with the local setup, yes, but this one seems to work okay.

I'm not sure where to go from here.  I'll put together a PR to document (somewhere) some of the pain points I encountered when trying to get docker to work, though.

[2019-12-04 20:30] nmichalakis commented on #12699
@RandellDawson i found the "bug" if there is a space between the variable name and the ":" it does not compile correctly. Is this something that happens on plain .scss files too?
So for example if i run
$var-name : color; (a space before and after ":" ) it does not compile but if i run the same
$var-name: color (no space right after $var declaration, it works!)
![Screenshot 2019-12-04 at 22 30 18]

[2019-12-05 10:01] thecodingaviator commented on #37378
Alright, since we've added the donation request, this issue has been rendered moot

[2019-12-05 10:01] #37378 closed

[2019-12-05 13:13] ojeytonwilliams opened #37872 "Certifications display differently if page is reloaded"
**Describe the bug**
The appearance of the donation message on the certification pages changes if you reload the page vs. navigating to it from within the site.  This is in addition to the style issues noted in https://github.com/freeCodeCamp/freeCodeCamp/issues/37378

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your own profile (freecodecamp.org/your-user-name)
2. Click on a comple

[2019-12-05 16:35] raisedadead commented on #12699
Please open a fresh issue with these details. Thanks.

[2019-12-05 17:58] Ragnarokkr opened #37875 "The "Make an Image Responsive" challenge is missing a CSS attribute"
**Describe your problem and how to reproduce it:**
In the *Responsive Web Design Principles: Make an Image Responsive* challenge, the CSS attribute `width: 100%` is missing from the code and description, which it may could not affects the challenge result, but it won't resize the image to 100% size as described into the description.

**Add a Link to the page with the problem:**
https://github.com/

[2019-12-06 00:41] explunit commented on #37855
The bug appears to be that the Timeline is actually controlled by the setting for Certifications.

[2019-12-06 01:05] troncarter commented on #37719
I may have found a workaround. It still logs me out whenever I click the 'freecodecamp' icon in the top nav bar. But if I click '/learn', it keeps me signed in - even after completing a challenge. It also seems to save the progress. Not sure if this is by design.

Regards

[2019-12-06 04:06] Abbas-000 commented on #18128
My full stack certification also updates with the current date not the claimed date.

https://www.freecodecamp.org/certification/fcc4048a47e/full-stack

[2019-12-06 06:01] RandellDawson opened #37878 "No need for completion animation when not logged in"
If a user is not logged in, the newly implemented completion animation along with the section name above it (see below) are not needed.  Also, it will always show `0% complete` which does not really serve any purpose for the end user.  I suggest hiding this feature unless logged in.

![image](https://user-images.githubusercontent.com/5313213/70304939-e6fcc280-17b7-11ea-9213-4fe93497838d.png)

[2019-12-06 08:45] ojeytonwilliams commented on #37875
There are two problems with this challenge.  The `max-width` property wording could be clearer and the image should be larger than its containing block (so the css actually does something).

I think a reasonable fix would be to wrap the image an explicit, fixed size, containing block.  Then you can see that the image starts out larger than the container and then, once the `img` style is applied, i

[2019-12-06 13:25] raisedadead commented on #37719
This is by design.

[2019-12-06 15:29] vanya829 commented on #37825
@QuincyLarson I check possibilities to create a certificate in LinkedIn and there are few ways of doing that:

- Add to profile button. https://addtoprofile.linkedin.com/ . The problem of this option is that "Add to profile button" doesn't support autofill of certificate data, so user have to put them manually (https://www.linkedin.com/help/linkedin/answer/61169?query=add%20to%20profile&src=li-oth

[2019-12-06 23:03] kosta111121 opened #37883 "re"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-12-06 23:59] Manish-Giri commented on #37883
If you need help with a coding challenge, please visit the [freeCodeCamp forum](https://www.freecodecamp.org/forum/).

If you found an issue or a bug with one of the coding challenges or with the freeCodeCamp platform,  please edit your issue to include the relevant required details.

[2019-12-07 15:57] #37883 closed

[2019-12-07 16:05] thecodingaviator commented on #37878
Where does the code to this modal component lie?

[2019-12-07 18:37] LarryHu0217 commented on #37827
I check on many of challenges which I think this issue is fixed in previous version. Should we close this bug?

[2019-12-07 19:37] ZoDaCoKe commented on #37516
Updated me

[2019-12-07 20:01] ZoDaCoKe opened #37886 "choose a different type."
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-12-08 05:59] thecodingaviator commented on #37886
Please add further information to your problem and open a new issue or request for this to be reopened. Have a good day!

[2019-12-08 05:59] #37886 closed

[2019-12-08 13:02] thecodingaviator commented on #36879
@ojeytonwilliams how is this going?

[2019-12-08 13:23] ojeytonwilliams commented on #36879
@thecodingaviator I'm getting there.  The tricky bit was converting all the existing challenges without inadvertently changing the formatting.  I thought this would as simple as replacing `\n` with `\n\n`, but that was a little naive!

The script to do this is now working and just needs cleaning up before I submit a PR with it and all the tidied up challenges.

As for the linter itself, that's als

[2019-12-08 14:50] Shivang-software-developer opened #37889 "Missing information to produce desired output for a coding challenge."
**Describe your problem and how to reproduce it:**
In "Functional Programming: Use the reduce Method to Analyze Data" coding challenge ("JavaScript Algorithms and Data Structures Certification" -> "Functional Programming"-> "Functional Programming: Use the reduce Method to Analyze Data"), as per the information, using javascript's "reduce" function to perform average of imdbRating of the movies wh

[2019-12-08 15:23] RandellDawson commented on #37889
There is no need to include the any sub-phrase because there are 4 movies out of the 5 contained in watchList that Christopher Nolan directed.  The average imdbRating of those 4 movies is 8.675 (the correct answer).

[2019-12-08 15:23] #37889 closed

[2019-12-08 16:30] borntofrappe opened #37890 "global flag in regular expression fails test"
**Link to the challenge:** https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters

## Issue

Adding a global flag to the regular expression has the test fail for the first two assertions.

[code]

This can be confusing considering also how the challenge is introduced, since the code snippet explaining the concept show

[2019-12-08 18:19] QuincyLarson opened #37892 "Update logo on certifications"
Our certifications are still using the old version of the freeCodeCamp logo (with the underscore under the fire).

![](https://pbs.twimg.com/media/ELMixmdX0AI4Gv-?format=png&name=medium)

They should instead use our new logo, which can be found at https://github.com/freecodecamp/design-style-guide

[2019-12-08 23:46] Ragnarokkr commented on #37875
That sounds a reasonable rewording. Making clearer the purpose of `max-width` won't let the user think there's something wrong in their code.

[2019-12-09 06:13] raisedadead commented on #37855
We need help investigating, fixing and adding tests for this use case. Thanks for your repost @explunit

[2019-12-09 08:40] ojeytonwilliams commented on #37890
Thanks for the detailed report!

I think it would make sense to do both. The `g` isn't necessary, so it should not be there and it's not wrong, so we should not reject it.

[2019-12-09 12:38] lasjorg commented on #37890
It might be better to remove the global flag from the challenge example unless we also explain how `test()` [works with the global flag](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test#Using_test_on_a_regex_with_the_global_flag) and give some info on [lastIndex](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/last

[2019-12-09 14:08] ojeytonwilliams commented on #37890
Agreed.

This challenge focuses on teaching the user about groups - the use of `test` over `match` seem incidental to me, as does the presence of the flag.

Also, the challenge asks you to make sure

so it's only asking you to use `test` against `myString` once.

[2019-12-09 15:38] ojeytonwilliams opened #37898 "Font 401 errors on .dev"
The fonts cannot be downloaded on .dev:
![image](https://user-images.githubusercontent.com/15801806/70449368-24a46880-1aa2-11ea-80f9-92258aaf0647.png)

@raisedadead this not a problem in production, but I guess the CDN is rejecting .dev.

[2019-12-09 16:15] raisedadead opened #37899 "Delay showing modals until a set no of challenges is completed since the last block modal."
Reference: https://github.com/freeCodeCamp/freeCodeCamp/pull/37882#discussion_r355275361

[2019-12-09 16:36] raisedadead commented on #37898
Hmm probably this is the CSP.

[2019-12-09 18:05] AsaoluElijah opened #37901 "Tags not responsive @ /news/tag/tagName page"
**Recommend tags shown @ /news/tag page is not responsive on mobile devices. The tags are overflowing to the main page content**

**https://www.freecodecamp.org/news/tag/ubuntu/**

**Tell us about your browser and operating system:**
* Browser Name:  Chrome
* Browser Version: 78.0.3904.62
* Operating System: Android 8.1

[2019-12-09 18:06] AsaoluElijah commented on #37901
![Screenshot_20191209-185344](https://user-images.githubusercontent.com/34748637/70460558-ea919180-1ab6-11ea-9152-bbf44cb98e48.png)

[2019-12-09 22:26] freethebit opened #37904 "Unnecessary horizontal page scroll bar"
**Describe the bug**
Unnecessary horizontal page scroll bar. It is not the `pre` scrollbar, its the page scroll bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/ , it does not occur in all pages.
2. Check for the page horizontal scrollbar (Not the `pre` scrollbar).

**Expected behavior**
No horizontal scr

[2019-12-10 01:10] gugacavalieri commented on #36535
Hey guys, I just did a `npm install` and I think we should take a look at this issue again.

![image](https://user-images.githubusercontent.com/4624484/70486433-94314c80-1ad0-11ea-8d21-d5bbafd3baf9.png)

What do you guys think?

I can help if you want :smile:

[2019-12-10 02:35] moT01 commented on #37901
Looks like the menu is a little squished as well.

[2019-12-10 02:43] moT01 commented on #37878
although, it does say "sign in to save your progress" just below - so maybe there's a little more incentive to create an account.

[2019-12-10 05:25] scissorsneedfoodtoo commented on #36327
Hi @JuWeber99, sorry for the late response and thank you both for your patience and for reporting this. I tested the changes in https://github.com/freeCodeCamp/testable-projects-fcc/pull/936 and it seems to solve this issue.

I'll merge that once the tests pass and update the code on CodePen.

[2019-12-10 05:55] #36327 closed

[2019-12-10 10:09] ojeytonwilliams commented on #37878
It would need to have a non-zero percentage to make sense.  As it stands, it says "you've made no progress, sign in to save it".

Come to think of it, this would be a nice candidate for A/B testing.  In practice, what does result in more people signing in? Just the button or the button with a hint that you could be making progress?

[2019-12-10 10:21] bigkatspence commented on #37878
to me what makes sense is a button with a hint that tells the student to
login to save and if not registered a smaller tab saying to the student
register here !

On Tue, Dec 10, 2019, 4:10 AM Oliver Eyton-Williams <
notifications@github.com> wrote:

[2019-12-10 10:25] bigkatspence commented on #37878
either way ,a win-win

On Tue, Dec 10, 2019, 4:20 AM Kamp Busker SDIT Jax <bigkatspence@gmail.com>
wrote:

[2019-12-10 12:08] #37904 closed

[2019-12-10 15:23] AsaoluElijah commented on #37901
Yeah, I don't know if anyone is currently assigned to this or working on this?. If there is none, I'll like to take it up 👩‍💻

[2019-12-10 15:52] ojeytonwilliams commented on #37901
Ideally (though not always) if an fcc member is going to work on an issue, they'll assign themselves as a heads up.  Since that's not the case, go for it!

[2019-12-11 02:52] luke-ichpekov commented on #37516
Thank you this helped!

[2019-12-11 03:53] RandellDawson commented on #37516
I just fixed the hint/solutions topic for this challenge to incorporate wrapping the uri wit single quotes and fixes a couple other issues at the same time.

If someone else wants to create a PR to fix the challenge instructions, please go ahead.

[2019-12-11 13:52] thecodingaviator opened #37907 "GIF in How to Setup fCC locally needs to be updated"
The GIF [over here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md#how-to-sign-in-when-working-locally) depicts fCC in its old design. Even though I don't think there's anything wrong with it, I guess it should be updated to align with how fCC looks now

![image](https://user-images.githubusercontent.com/34807532/70627002-6e7c8280-1c4b-11ea-87d6-

[2019-12-11 17:45] ojeytonwilliams commented on #36535
Anything that's dev only (which those seem to be) is not too worrying.  If there are production packages with security problems, then they usually need addressing, though.

The ones you've shown shouldn't be a problem, but updating and fixing things is a good idea in general, so please do.

By the way, if you do find any security issues please don't discuss it here. Please email `security@freecode

[2019-12-11 20:41] QuincyLarson opened #37909 "Some certifications have redundant words"
Please see below screenshot. The Algorithms and Data Structures certification has an extra "certification" in it:

<img width="1277" alt="_2__Notifications___Twitter" src="https://user-images.githubusercontent.com/985197/70658720-24cc7180-1c24-11ea-954a-122ea40d5f2d.png">

We should also check the other 10 certifications to make sure the variable text does not contain the word "certification" at t

[2019-12-12 10:16] #37909 closed

[2019-12-12 15:08] AsaoluElijah commented on #37901
Thank you Williams, I'll be glad if you can help with a link pointing to the */news* directory. I'm having difficulties finding it

[2019-12-12 15:15] ojeytonwilliams commented on #37901
Sure thing.  The news theme has its own repo, take a look [here](https://github.com/freeCodeCamp/news-theme).

Let us know if you have any more questions.

[2019-12-12 16:06] AsaoluElijah commented on #37901
Thank you

On Thu, Dec 12, 2019, 4:15 PM Oliver Eyton-Williams <
notifications@github.com> wrote:

[2019-12-13 10:04] ahmadabdolsaheb commented on #37901
@AsaoluElijah thanks for working on this.
so we need to relax the nav-padding on line 17 for very small screens.

and remove the max height for the tags container:
<img width="357" alt="Screen Shot 2019-12-13 at 1 00 50 PM" src="https://user-images.githubusercontent.com/4591597/70791895-1cea0a00-1da9-11ea-840e-83242deb1beb.png">

[2019-12-13 10:53] #37516 closed

[2019-12-13 14:24] QuincyLarson opened #37921 "Fix minor navbar / landing UI inconsistencies"
I've recorded a video for this as it's easier to explain it that way

https://youtu.be/BMbLgxX8Pec

[2019-12-13 15:22] thecodingaviator commented on #37921
Contributors, refer to #37778 too

[2019-12-13 15:26] ojeytonwilliams commented on #37921
The first issue (magnifying glass,  #37778 as @thecodingaviator noted) should be fixed by https://github.com/freeCodeCamp/news-theme/pull/87.  The second issue, the font weight, I don't see on my machine - not sure why.  There is a difference in padding, though, which means the vertical positioning is different.  News:
![image](https://user-images.githubusercontent.com/15801806/70810763-a2c77e80-1

[2019-12-13 19:43] piankot commented on #35525
A bit confused but has this been implemented into the live website yet?

[2019-12-13 19:49] QuincyLarson opened #37926 "Clicking logo in nav bar on /learn should redirect to /learn"
Currently when clicking the freeCodeCamp logo in the navbar while on /learn it takes me to the landing page: `/`

Instead, clicking the logo on the navbar should take me to /learn.

Aside from your first time arriving at / there is never a reason to be taken back there.

[2019-12-13 19:54] QuincyLarson opened #37927 "Auth0 signin doesn't use cursor:pointer when hovering over buttons"
As shown in the video below, the buttons in our Auth0 template don't show the pointer-style cursor. It should.

https://youtu.be/5IAcet7mCa8

[2019-12-13 20:02] AsaoluElijah commented on #37901
Hello @ahmadabdolsaheb @ojeytonwilliams , i just created a pull request to fix this issue. Kindly review it.
[Here](https://github.com/freeCodeCamp/news-theme/pull/91) is a link to it

[2019-12-13 21:36] ojeytonwilliams commented on #35525
Good question, @piankot. It was briefly on the development server, but there were some problems so it was reverted in https://github.com/freeCodeCamp/freeCodeCamp/pull/37915.

We're still planning to implement it, but some more work is needed.

[2019-12-14 01:48] moT01 opened #37928 "Donate modal doesn't show up unless signed in"
I was testing a PR and quickly submitting projects to get a cert - they were all the responsive web design projects. When I was logged in, the donate modal popped up at least twice; when not logged in, it didn't pop up at all.

Perhaps there's a purpose for this, but it seems like we non-authed users should see that more often.

[2019-12-14 02:24] moT01 commented on #37872
I was about to create a new issue, but I think I found a related problem...

Buttons when clicking on a cert have no hover effect or background color...
<img width="963" alt="Screen Shot 2019-12-13 at 8 11 00 PM" src="https://user-images.githubusercontent.com/20648924/70842071-2db87100-1de5-11ea-861f-8e827653b4b8.png">
<img width="601" alt="Screen Shot 2019-12-13 at 8 11 23 PM" src="https://user-i

[2019-12-14 03:20] moT01 commented on #37926
I made a PR here, although I'm not sold on the function. I agree that nobody will need to go back to the home page, but it seems a little unintuitive to have it go to `/learn` when a home page exists.

[2019-12-14 03:23] moT01 commented on #37878
So what about all these...
![Screen Shot 2019-12-13 at 9 21 47 PM](https://user-images.githubusercontent.com/20648924/70842851-a4a63780-1dee-11ea-9459-56ffe7c660e1.png)
They will also always to show `0` for unauthed users.

[2019-12-14 03:35] moT01 commented on #37927
Seems like there's a comma missing in that sentence at the bottom.
By continuing`,` you agree...

[2019-12-14 03:49] moT01 commented on #37743
Looks like this is fixed and it's safe to close, reopen if I am mistaken.

[2019-12-14 03:49] #37743 closed

[2019-12-14 03:53] moT01 commented on #37616
Looks like this has been implemented @ojeytonwilliams? Safe to close?

[2019-12-14 04:16] #37568 closed

[2019-12-14 06:08] RandellDawson commented on #37568
@moT01 Why did PR #37575 close this issue?

[2019-12-14 07:20] thecodingaviator commented on #37878
@moT01 I think the best way is to open a new issue for that and I’ll take that up too.

[2019-12-14 08:38] thecodingaviator commented on #37872
@moT01 I have incorporated that in my PR now. Please check

[2019-12-14 10:11] thecodingaviator opened #37930 "No need for number of challenges and check if not logged in"

[2019-12-14 10:30] ojeytonwilliams commented on #37616
It's certainly better than it was, but I'll defer to @RandellDawson on this one.

[2019-12-14 12:27] jondparadise opened #37932 "Regular Expression Password Verification"
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead

I am growing increasingly frustrated with the section on regular expressions. They are a notoriously difficult concept to grasp and special attention should be paid to ensure that your regex requirements, test cases and solutions are all compatible with one another.

Re

[2019-12-14 13:27] moT01 commented on #37568
Not sure, go give it a test. My browser crashed on production and didn't when looking at this PR.

[2019-12-14 13:37] moT01 commented on #37878
I dunno, I'm still not convinced that either of these need to be removed for non-authed users. I really think it will give them more incentive to create an account.

[2019-12-14 13:46] thecodingaviator commented on #37144
@raisedadead Do you want a new issue/new issues to track the progress for individual superblock introduction merges?

[2019-12-14 13:53] perezvon commented on #37568
@RandellDawson #37575 fixes a bad capture group in the regex for the solution test that was capable of causing stack overflow

[2019-12-14 14:15] ojeytonwilliams commented on #37932
This is quite a tricky problem.  I've come up with a couple of regexes that pass all the tests (and accept `astr1on11aut`):

[code]

Are those reasonable things to expect a beginners to come up with and are they actually correct?  If so, I think we should add `astr1on11aut` to the tests and update the solution to one of those (I think `pwRegex2` is the easiest to understand).

[2019-12-14 14:23] ojeytonwilliams commented on #37928
At least for the moment, you should only see donation requests while you're signed in and working through the curriculum (or looking at a cert you've completed).  I.e. it sounds like it's working, so I'm closing this.

[2019-12-14 14:23] #37928 closed

[2019-12-14 14:34] RandellDawson commented on #37616
I think it can be closed.

[2019-12-14 14:34] #37616 closed

[2019-12-14 15:36] QuincyLarson opened #37933 "Fix donate page link"
The markdown text was pasted in directly. As a result, the link to GuideStar doesn't work.

<img width="1142" alt="Support_our_nonprofit___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/70850920-25981a00-1e55-11ea-9453-a04657b7ee47.png">

Here's the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/647e25aa7c7e21f56f7f1eb28c5c3a0cb5e24f17/client/src/components/Donati

[2019-12-14 16:49] #37933 closed

[2019-12-14 21:41] #17645 closed

[2019-12-15 01:32] AsaoluElijah commented on #37901
Hi, Anyone here :octocat:

[2019-12-15 02:05] ruchika90 commented on #37907
Hi, I'll work on this

[2019-12-15 02:14] RandellDawson commented on #37907
@ruchika90 Just submit a PR when you are ready.

[2019-12-15 09:55] bnmrly commented on #7122
Me too, same issue as Susan. Any ideas?

[2019-12-15 11:44] #17648 closed

[2019-12-15 11:44] thecodingaviator commented on #17869
@ahmadabdolsaheb close issue at discretion

[2019-12-15 11:45] thecodingaviator commented on #17869
Oops

[2019-12-15 11:51] mchoeti commented on #17316
Hoi, on my side this is not working.
1.) typed my email in
2.) entered the one time code
3.) Error : Oops! Something went wrong. Please try again in a moment.

Anyone else?
cheers

[2019-12-15 14:04] moT01 commented on #17869
I think it's gotta be safe to close this one at this point. As always, leave a comment if anyone disagrees and we can continue discussing it.

[2019-12-15 14:04] #17869 closed

[2019-12-15 14:05] moT01 commented on #37901
What's up @AsaoluElijah? Do you need some help with something?

[2019-12-15 14:57] ahmadabdolsaheb opened #37939 "new pages should have amp versions."
Currently on posts have amp versions on news. As of now ghost does not support [/amp/](https://ghost.org/integrations/google-amp/) for pages.

[2019-12-15 15:10] AsaoluElijah commented on #37901
No, thanks Tom. The pr has been merged now. I'll close the issue asap.
Thank you Guys. 🙇

[2019-12-15 15:12] #37901 closed

[2019-12-15 17:23] bigkatspence commented on #37878
Same here!

Kamp Busker/Josh/Sdit Jax

On Sat, Dec 14, 2019, 7:37 AM Tom <notifications@github.com> wrote:

[2019-12-15 19:01] moT01 commented on #37932
What about just adding something to the instructions that says "all numbers have to be consecutive" or something - that would make this an easy fix, and not complicate the challenge.

[2019-12-15 19:22] jondparadise commented on #37932
I concur with Tom on this. The most glaring issue for me was the way the question was presented. It wasn't descriptive enough to prevent me from thinking of this alternative test case.

[2019-12-15 23:17] Manish-Giri commented on #37865
@ojeytonwilliams After your recent changes to simplify the Docker development setup, I was able to get past the errors, but now it seems to be stuck (40-50 minutes) at this stage?

![e3](https://user-images.githubusercontent.com/11348778/70870872-c9bdb600-1f66-11ea-92ef-56b1665db3f8.png)

Were you able to access `localhost:8000` right after this, or is there more console output expected before the

[2019-12-16 02:57] johntyree opened #37942 "Demo calculator can't subtract negative numbers"
**Describe your problem and how to reproduce it:**

The example implementation provided for https://www.freecodecamp.org/learn/front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator can't subtract negative numbers, e.g. `10` `-` `-9` should yield `19`, but instead the UI prevents you from typing the second `-`.

**Add a Link to the page with the problem:**

https://codepen.

[2019-12-16 03:45] RandellDawson commented on #37942
@johntyree It is not supposed to.  User Story no. 13 is clear about that.  Even Google Calculator will not let you do that.

[2019-12-16 03:51] RandellDawson commented on #37890
But it is when the test is called multiple times on the same regex.  Isn't this kind of the same as when users use global variables which end up causing the user's code to fail for all tests except the first because the the global variable does not get reset each time?

[2019-12-16 05:54] johntyree commented on #37942
User Story no. 13 says explicitly "excluding the negative (-) sign", otherwise you couldn't do _anything_ with a negative number as the second operand. `10 - -9` is perfect valid math and also matches User Story 13. They even give `5 * - 5 = -25` as an example.

Also, https://www.google.com/search?q=12+-+-8.

[2019-12-16 07:37] ahmadabdolsaheb commented on #37927
@scissorsneedfoodtoo might have more context

[2019-12-16 08:42] ojeytonwilliams commented on #7122
Anyone who is having problems logging in should take at https://github.com/freeCodeCamp/freeCodeCamp/issues/37457 which explains the likely cause and what to do about it.

[2019-12-16 09:42] bnmrly commented on #7122
Great, thanks.

On Mon, 16 Dec 2019, 08:42 Oliver Eyton-Williams, <notifications@github.com>
wrote:

[2019-12-16 10:18] raisedadead commented on #37878
We discussed about this a bit internally and I think we would want to leave the progress here and everywhere else as is. We checked that the count of users who did not sign in (wanting to continue anonymously) is insignificant from those who signed in to save progress.

Instead, I think showing the progress at `0%` here and everywhere else drives the intuition that something is wrong and triggers

[2019-12-16 10:19] raisedadead commented on #37930
See https://github.com/freeCodeCamp/freeCodeCamp/issues/37878#issuecomment-565996667

[2019-12-16 10:19] #37930 closed

[2019-12-16 11:02] ojeytonwilliams opened #37943 "Certificates do not appear on the timeline"
**Describe the bug**
A user's certificates should appear on their timeline when both the timeline and the certificates are public, but they never appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /settings
2. Set both "My certifications" and "My time line" to public
3. Click on "Show me my public portfolio"
4. See that no certifications appear on the timeline.

**Expected behavio

[2019-12-16 11:40] #37878 closed

[2019-12-16 13:59] ojeytonwilliams opened #37944 "E2E tests"
I'm opening this issue to keep track of things that I think should be tested when we get E2E testing up and running.  If anyone else has anything they think should be tested, feel free to edit it in here.

- [ ] When a user claims a certification their profile should update (without needing to reload)  to show this.
- [ ] A user can create a mixed-case username https://github.com/freeCodeCamp/free

[2019-12-16 14:06] iansibindi commented on #37944
Hy
On 16 Dec 2019 17:05, "Oliver Eyton-Williams" <notifications@github.com>
wrote:

[2019-12-16 14:24] RandellDawson commented on #37942
That is so you can make calculations such as `5 * -5 = -25`.

I agree.  It is just not a requirement that the calculator be able to make this calculation. `10 - -9` is the same as `10 + 9`, so that calculation is totally possible.

Also, the Google Calculator example uses parentheses and this calculator project does not require them.

[2019-12-16 14:25] moT01 commented on #37943
So what's the behavior we want? Just put the certs in the timeline like any other challenge (when they're public)?

[2019-12-16 14:27] moT01 commented on #37788
Any luck here @jefferson2z?

[2019-12-16 14:29] RandellDawson commented on #37788
I thought we were going to get rid of the introductions.

[2019-12-16 14:44] moT01 commented on #37770
A simple fix might be to relax the 20 seconds like suggested.

We could make our own api to return the date. Meaning instead of checking the clock on the users computer, we make an additional request to an api we build that returns the date so we can be sure of its accuracy. Although, theoretically, this should work every time - it does complicate the code.

[2019-12-16 14:50] iansibindi commented on #37770
Woza
On 16 Dec 2019 17:49, "Tom" <notifications@github.com> wrote:

[2019-12-16 15:00] moT01 commented on #37144
So what is behavior we are wanting here? It's not clear to me.

[2019-12-16 15:13] moT01 commented on #37774
Some sort of warning for that is probably a good idea, since extension issues have come up more than a few times. Not sure where, the intro is probably best but there's a plan to rework those.

[2019-12-16 15:18] #17976 closed

[2019-12-16 15:22] moT01 commented on #37625
There has been some work done on our console. It looks like these issues are resolved now. Can you confirm that and close this if it's fine now @prayaganeethu?

[2019-12-16 15:24] johntyree commented on #37942
Yes, and how does that differ from `5 - -5 = 10` really? It's just a different operator. Everything else about it is the same.

I'm a bit flabbergasted that you think that the intent of User Story 13 is specifically to permit multiplication, division and addition of negative numbers but not subtraction. It says nothing about subtraction being a special case, only that "-" can mean negation. Having

[2019-12-16 15:26] moT01 commented on #37043
Translation PR's are welcome without an issue. Thanks for contributing @f0ffee 🎉

[2019-12-16 15:26] #37043 closed

[2019-12-16 15:38] ojeytonwilliams commented on #37932
I think that requires a more complicated regex.  What did you have in mind?

[2019-12-16 16:01] moT01 commented on #36773
I don't think there's an issue here. Does anyone else want to share their opinion on this?

[2019-12-16 16:04] ojeytonwilliams commented on #37865
I managed to get it working with the VM settings in the docs, but possibly that's on the edge of what it needs.  The only thing I can suggest is the obvious: increase the memory, if you can.  Are you already maxed out?

[2019-12-16 16:05] moT01 commented on #36753
Thanks for the suggestions here everyone. We are not looking to add any new challenges to curriculum at this point.

[2019-12-16 16:05] #36753 closed

[2019-12-16 16:13] ojeytonwilliams commented on #37890
Yeah, it's the same principle.  However, unlike the DOM tests, JS tests are isolated and each one only calls `test` once, so I don't think there's a problem here.  If something weird is happening, let me know and I'll dig into the code, but it should be fine.

[2019-12-16 16:25] moT01 commented on #36153
Closing, see above comment. If anyone is still having problems here, feel free to leave a comment and this can be reopened.

[2019-12-16 16:25] #36153 closed

[2019-12-16 16:26] ojeytonwilliams commented on #37943
I assume so.  @raisedadead ?

[2019-12-16 16:32] moT01 commented on #36162
Since the English version has been fixed here, it's probably safe to close this. The Spanish translation may not be merged for a while.

[2019-12-16 16:32] #36162 closed

[2019-12-16 16:36] moT01 commented on #35949
Closing as stale. Feel free to comment if anyone wants this reopened.

[2019-12-16 16:36] #35949 closed

[2019-12-16 16:39] ojeytonwilliams commented on #36773
This code behaves as it should, it's just weird.  I wouldn't recommend writing code like that, but checking to see if an array element is undefined or checking to see if you've gone past the end of an array amount to the same thing.  Assuming, of course, that your arrays don't have `undefined` as elements, which is a perfectly reasonable assumption here.

[2019-12-16 16:39] #36773 closed

[2019-12-16 16:51] moT01 commented on #34836
Is this something we want to try and tackle now? Looks like the number of PR's has been pretty low for a while.

[2019-12-16 16:57] moT01 commented on #34435
Looks like some recent modifications to the console output now display an error in these cases...
<img width="522" alt="Screen Shot 2019-12-16 at 10 56 32 AM" src="https://user-images.githubusercontent.com/20648924/70926443-bfe19480-1ff2-11ea-8dd6-5ef9d4a3d880.png">

So it's probably safe to close this.

[2019-12-16 16:57] #34435 closed

[2019-12-16 17:17] raisedadead commented on #37943
I think that would be fine for now, if we could make them visually distinct, like a bolder, larger text.

[2019-12-16 17:31] ojeytonwilliams commented on #37774
If they're removed, I'd say the first challenge of the section is the best place.

[2019-12-16 17:44] raisedadead commented on #37144
I never got the time to work on this, but the idea is to be able to move the existing pages in the intro section and convert them into regular challenges instead OR meld some of the verbiage from nicely into the first challenge in that block.

These intro pages aren't much of use because users are in hurry.

With the upcoming projects we would definitely have any, removing these would make it more

[2019-12-16 17:45] moT01 commented on #37943
I can try and come up with something for this.

[2019-12-16 18:37] RandellDawson commented on #34836
Probably is fine now.  We just do not want to use `let` and `const` until after the ES6 section is introduced.  Anything before it should remain `var`.

[2019-12-16 20:29] dribeiroferr commented on #9015
Hey,
I already took that lesson and had searched almost everywhere, and I found a solution for this:

    <label for="loving"><input type="checkbox" id="loving" name="personality">loving
    </label>
        <label for="funny"><input type="checkbox" id="funny" name="personality">funny
    </label>
        <label for="cuddly"><input type="checkbox" id="cuddly" name="personality">Cuddly
    </label>

[2019-12-16 20:30] dribeiroferr commented on #10760
Hey,
I already took that lesson and had searched almost everywhere, and I found a solution for this:

<label for="loving"><input type="checkbox" id="loving" name="personality">loving
</label>
    <label for="funny"><input type="checkbox" id="funny" name="personality">funny
</label>
    <label for="cuddly"><input type="checkbox" id="cuddly" name="personality">Cuddly
</label>
Hope that could be usef

[2019-12-16 20:32] dribeiroferr commented on #10760
Hey,
I already took that lesson and had searched almost everywhere, and I found a solution for this:

<label for="loving"><input type="checkbox" id="loving" name="personality">loving
</label>
    <label for="funny"><input type="checkbox" id="funny" name="personality">funny
</label>
    <label for="cuddly"><input type="checkbox" id="cuddly" name="personality">Cuddly
</label>
Hope that could be usef

[2019-12-16 23:33] jefferson2z commented on #37788
I'll work on it and send a PR linked to this issue

[2019-12-17 11:50] prayaganeethu commented on #37625
Thanks @moT01, verified the changes - looks good 👍 Closing the issue.

[2019-12-17 11:50] #37625 closed

[2019-12-17 14:00] moT01 commented on #37942
Googles calculator will not let you input a `--`, you can only do a calculation like that by using parenthesis or typing it in to the search bar. So the example does behave the same as that.

I do think there's a slight bug here, although I don't think it's that much of a problem. The tests don't check for the `--` input, so a campers project can account for that or not and will pass either way as

[2019-12-17 16:47] RandellDawson commented on #35765
@moT01 I think this can be closed due to the recent change in this challenge.

[2019-12-17 17:13] moT01 commented on #37927
The login area button is also missing this. Where you need to "submit your one time code".

[2019-12-17 21:31] SimonSiefke opened #37949 "Popup Modal is not accessible"
**Describe the bug**
The popup modal for becoming a sponsor cannot be closed by just using the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Do some challenges which triggers the modal

**Expected behavior**
- The modal closes when pressing the `Esc` key
- The modal closes when clicking somewhere outside of the modal
- I can navigate to the "Ask me later" button with the tab key

[2019-12-17 21:37] #37926 closed

[2019-12-17 21:38] #37892 closed

[2019-12-17 21:42] SimonSiefke opened #37950 "CSS challenge doesn't accept solution without semicolon"

[2019-12-17 21:58] raisedadead commented on #37949
This is by design to the best of my knowledge. I would defer to Quincy for a confirmation.

[2019-12-17 22:53] QuincyLarson commented on #37949
@SimonSiefke Thanks for reporting that the "ask me later" link should be accessible by tab but you're correct - it isn't. We will fix this.

We decided not to have escape key / clicking outside of the modal to dismiss this modal (like we do with other modals) since the goal is to get people to actually slow down and consider donating to our nonprofit - not to just mash the escape key.

[2019-12-17 23:40] bnmrly commented on #7122
Hi,

I've messaged support as requested but no reply yet.

I really want to use it but can't log in with any other method and i've got
job interviews at the moment and want to prepare.

Any ideas?

Thanks,
Ben

On Mon, 16 Dec 2019 at 08:42, Oliver Eyton-Williams <
notifications@github.com> wrote:

[2019-12-18 01:37] suran1 commented on #7122
Hello Guys,

You have to message with Murgesh Mohaptra.
mrugesh@freecodecamp.org . He will fix your problem.Thanks

On Sat, Nov 23, 2019 at 1:42 PM Jasper Kirton-Wingate <
notifications@github.com> wrote:

--

Many thanks and Kind regards
Suranjita Timilsina Wagle

Fayetteville, Arkansas, United States

Email : er.suran@gmail.com

[2019-12-18 09:55] ojeytonwilliams opened #37955 "Parsing of translated challenges"
Following on from the discussion in https://github.com/freeCodeCamp/freeCodeCamp/pull/37911 and conversations with @RandellDawson, I'm just writing it up for visibility.

Randell's idea is to simplify the process of keeping multiple translations in sync by modifying how challenges are parsed.  Instead of each language being independent, we could use the English markdown file as a template and add

[2019-12-18 15:34] #37949 closed

[2019-12-18 15:52] ShubhamCanMakeCommit commented on #37932
I think I could help you out. Correct me if I am wrong. Consider the code below. What do you think would it return?
[code]
Also, try changing the code to this and see the return value. Did you get the problem?
[code]
And also to
[code]
The first and second lookahead starts from the beginning and they must match the whole pattern exactly. It is not like regular expressions that they would find a ma

[2019-12-18 16:20] ojeytonwilliams commented on #37932
[code]

That regex is a bit confusing, isn't it?

It matches `123abc` and `a123bc`, but not `12abcd`.  So, in words

As I said, I think this requires a regex at least as complicated as the original instructions.

[2019-12-18 17:59] bhallak commented on #6670
I have created PDF converter for Free Code Camp certificates, please use it under terms, thanks.
http://j.mp/fcc2pdf

[2019-12-18 18:40] SimonSiefke opened #37957 "nothing"

[2019-12-18 20:22] Vibha27 commented on #36178
It is not submitting after adding link

[2019-12-18 21:09] SimonSiefke opened #37958 "order of keys shouldn't matter"
**Describe your problem and how to reproduce it:**
The order of the keys shouldn't matter, but only solutions where the `title` key is above the `rating` key are accepted.

[code]

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array

[2019-12-18 22:38] RandellDawson commented on #37958
@SimonSiefke Thanks for reporting.  I created a PR to resolve the issue.  Once it gets reviewed/merged, a user will be able to put the properties in any order (as it should be).

[2019-12-19 04:35] ShubhamCanMakeCommit commented on #37932
But you can have a look at your own solution and if I insert \D then it would work. Also notice that we both have used w instead of D in our solution which makes this work for astr1on11aut.
[code]
[code]
Now it would return false for 123abc and 12abcd.

[2019-12-19 10:17] ojeytonwilliams commented on #37932
I'm happy to go with updating the solution (with either Shubham's or mine, I think they're equivalent) and adding astr1on11aut to the tests.  We would not need to change the instructions in this case.

It will be a hard challenge, but perhaps not too hard.  @moT01 @jondparadise what do you think?

[2019-12-19 16:24] QuincyLarson commented on #6670
@bhallak I give you props for your initiative in creating this certification generator. But these certifications will not be verifiable on freeCodeCamp's servers, and are thus meaningless except to people too lazy to verify them by visiting the URL. Thus, your tool does more harm than good by making it easier for people to create misinformation.

Also, this is unauthorized use of my signature. Thu

[2019-12-19 17:00] nellarro opened #37961 ""for" attributes on labels in "Build a Survey Form""
**Is your feature request related to a problem? Please describe.**
No. It is related to a little added accessibility to the "Build A Survey Form" requirements.

**Describe the solution you'd like**
Adding "for" attributes to labels so that a student's eventual form is a smidge more accessible

**Describe alternatives you've considered**
Adding placeholder text.

[2019-12-20 00:13] johntyree commented on #37942
Unbelievably, you're right! The google calculator has a ridiculous UX bug that eats the second negative sign. Especially since they allow typing it into the search bar. It's even worse because it works for every other operator and doesn't warn you at all that pressing e.g. "8 - - 2" will silently turn into "8 - 2" and give you the wrong answer. I've filed bug with them as well.

But ok, so Google

[2019-12-20 00:59] weiranwang99 commented on #36100
Hi, is this bug fixed or still in progress?

[2019-12-20 01:22] RandellDawson commented on #37942
There are some other things worth considering before spending time "fixing" this "bug".  The other repo which actually has the tests would have to be modified in such a way that older projects would still pass the tests in case the older projects did not allow two `-` operators.  Older projects can not break just because we add new conditions to the user stories.

[2019-12-20 08:22] akositey commented on #16629
It might be helpful for you guys so I'm reporting that the bug is still there when using safari (logged in and out). When I tried to test with Chrome it just passed.

**Browser User Agent String:**
_Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.1 Safari/605.1.15_

[2019-12-20 13:27] #16656 closed

[2019-12-20 13:28] #17193 closed

[2019-12-20 13:28] #17222 closed

[2019-12-20 13:28] #35150 closed

[2019-12-20 13:28] #36718 closed

[2019-12-20 13:28] #36823 closed

[2019-12-20 13:49] #37855 closed

[2019-12-20 13:58] #37837 closed

[2019-12-20 14:00] #37771 closed

[2019-12-20 15:59] RandellDawson commented on #16629
@akositey You used the solution @antonshevyrin shows above?  If so, @moT01 can you confirm this?  I just tested this on production and seems to work fine (at least in Chrome, Edge, and Firefox).

[2019-12-20 16:15] RandellDawson commented on #16656
@raisedadead I notice this issue was closed, but the [package.json file for the Basic Express challenges boilerplate](https://github.com/freeCodeCamp/boilerplate-express/blob/gomix/package.json) still is referencing @Em-Ant's repo.

I will create a PR to switch to the FCC version.

[2019-12-20 16:28] moT01 commented on #16629
safari is not passing with the code in the OP, firefox does pass.

[2019-12-20 16:30] RandellDawson commented on #16629
@moT01 Any guess why?

[2019-12-20 16:35] moT01 commented on #37942
Do the tests need to be modified? Or would it be fine to just change the example project? I don't think new conditions need to be added to the user stories - the instructions say what should happen, the example just doesn't behave like it suggests. I would be fine leaving all the tests and user stories.

The test suite didn't exist back when I did all these projects, so none of my old projects pas

[2019-12-20 16:38] RandellDawson commented on #37942
@QuincyLarson Based on my conversation with you, I was under the impression that you expect any projects created when the original tests were implemented should not fail the tests now as to not make the user's project look as if it has issues if shown to the public in a portfolio of some sort.

[2019-12-20 17:12] jondparadise commented on #37932
I happy to have any solution. I'm just looking for more detailed instructions that will assist others in creating a pattern that satisfies the question's requirements. Thanks for taking the time to address this!

[2019-12-20 18:23] johntyree commented on #37942
@RandellDawson I think the question is, "is the calculator defined by the user stories or the tests?"

Personally, I don't see the point of the user stories if we're going to say that implementations that don't follow them still "pass." I actually discovered this problem while evaluating a camper's project and trying out each of the user stories in turn, so I don't think leaving it as-is is risk f

[2019-12-20 19:21] RandellDawson commented on #37942
That is a given on all the projects.

[2019-12-20 21:39] johntyree commented on #37942
Of course. It's the reality of basically all software. But if campers are thinking that their projects are complete as soon as all tests pass, then it would be good to point out that this is not really how things work.

[2019-12-20 23:29] moT01 commented on #37942
I don't think that needs to be pointed out - it may lead to people intentionally doing less simply because they know they don't have to. The user stories tell people how it should behave, and they should strive for that. If they get lucky and maybe pass one test here or there when their project doesn't behave perfect, I think that's acceptable. We can't write a test for every possible input and sc

[2019-12-21 15:20] thecodingaviator commented on #37955
That said, we'd have a lot of merge conflicts. We'll have to wait 21 days to close each PR if they get a merge conflict and that'll take up a lot of time IMHO

[2019-12-21 15:28] moT01 commented on #16629
I'm not sure what's happening here, I tried taking a closer look at the last test (the one that always fails). And when logging the info used in the assert, it looks like it should pass....

![Screen Shot 2019-12-21 at 9 21 02 AM](https://user-images.githubusercontent.com/20648924/71309945-8f736f00-23d3-11ea-8f8a-3c6936d0c8df.png)
![Screen Shot 2019-12-21 at 7 36 32 AM](https://user-images.githubu

[2019-12-21 15:48] johntyree commented on #37942
I'm not sure I follow. The goal would be to suggest the opposite of this. You should pass all tests, but passing all tests does not mean you are done.

Right. You know that and I know that, but does someone who is new to software engineering know that? I feel like in most educational settings, passing the test means you are done. My understanding was that people are mostly coming to FCC to break i

[2019-12-22 00:08] german1608 opened #37966 "Validations http status code on APIs and Microservices Challenges"
I've finished the timestamp microservice challenge, but I've found something that I think would be useful for students.

One of the user stories of the project says that:

I've submitted a solution returning the required JSON **and** also setting the 400 status code of the response and the judge rejected it, which I think (I have experience building APIs) its weird because you're telling the consu

[2019-12-22 02:01] Fi1osof opened #37967 "Can not run FCC via docker"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Instruction: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md
1. Fork to own repository
2. Clone from own repository
3. Run `npm run docker:run-once`

**Desktop (please complete the following information):**
Distributor ID:	Ubuntu
Description:	Ubuntu 19.10
Release:	19.10

[2019-12-22 15:08] ojeytonwilliams commented on #37967
It seems like a permission issue.  What's the output of `npm run docker:init`?

[2019-12-22 15:14] Ronkiro opened #37969 "[Docker] bash: change_volumes_owner.sh: No such file or directory"
I was following the CONTRIBUTING.md and running `npm run docker:run-once`.

Tried twice, it failed twice on `npm run docker:init`. I just tried running `npm run docker:init` separately, got `bash: change_volumes_owner.sh: No such file or directory`

**NOTE: I am using docker toolbox on Windows.**

Full trace:
[code]

[2019-12-22 15:36] ojeytonwilliams commented on #37969
The repository needs to be in a shared directory.  Have a look at the [docker guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-use-docker-on-windows-home.md)

[2019-12-22 16:39] Fi1osof commented on #37967
@ojeytonwilliams
[code]

Error on npm run docker:install
[code]

[2019-12-22 19:35] ojeytonwilliams commented on #37967
I'd recommend investigating how to use Docker with an external drive (I assume that's what you're doing). If that fails, please reach out on Gitter.

I'm closing this, though, because it doesn't seem to be a bug.

[2019-12-23 01:49] sch-xiv opened #37970 "Run the tests button does not work."
Hi,

In the basic javascript module I've been unable to run the tests. The button just does not work. I have tried resetting and trying again and it still doesn't work. I am using google chrome but have also tried firefox and IE with no results. I also updated my google chrome and that didn't fix it either. It started randomly out of nowhere after successfully completing other modules. It started

[2019-12-23 02:05] Fi1osof commented on #37967
@ojeytonwilliams
I do not use external drive. And i just download repo and run script via package.json. And this is not working for me.
I understand that you do not owe me anything. I just reported a problem.

[2019-12-23 03:38] Ronkiro commented on #37969
I have followed this guide, still doesn't works (Same error). Any other tips?

I even tried sharing in VirtualBox access to another folder, even moving the repo to this new folder it doesn't works.

I tried moving to `C:\Users` and to `C:\Users\autom` (Current user)

[2019-12-23 06:52] ajaxWebDev opened #37971 "Challenge times outs and crashes my computer, max out 8gb of memory"
**Describe your problem and how to reproduce it:**
problems was solving the while loop, i can't finish typing the answer, the screen will change to a "AWW Snap there was a problem with this page" and at other times it will completely use up all the memory i have, freezing my computer to the point where i have to do a hard reset, restarting the computer.

**Add a Link to the page with the problem:*

[2019-12-23 07:43] ShubhamCanMakeCommit opened #37972 "An incorrect solution would still pass all the tests"
**Describe your problem and how to reproduce it:**
Below is an incorrect solution that would still pass all the tests.
[code]
But this would not pass the below test which should return `[true,1]`. Therefore the students who haven't understood the problem correctly would still pass the tests.
[code]
I have also created a pull request to this that would solve the problem
**Add a Link to the page wit

[2019-12-23 13:58] jondparadise opened #37974 "Intermediate Algorithm Scripting: Binary Agents (No bug just clarification might be in order)"
Here is the challenge page:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/binary-agents

No real bug issue here just thought it prudent that the expected encoding for this problem be provided with the question (ASCII, UTF-8, UTF-16, etc). A google search tells me that the default encoding in JS is UTF-16.

First, that would ensure tha

[2019-12-23 15:28] raisedadead commented on #37970
Hi @sch-xiv

Thanks for reporting. This looks like something is blocking resources on the network you are on.

Is there a chance you could try this on a different network? For example try and use a VPN? We would like to isolate the root cause of the issue.

Thanks.

[2019-12-23 15:30] jeremies opened #37976 ""Submit and go to next challenge" should take you to the next not done challenge"
**Is your feature request related to a problem? Please describe.**
Sometimes you don't do the challenges in the order proposed by freeCodeCamp but in a random way. Other times new exercises appear and are marked not done in your challenge list. When you do a challenge and click the button "Submit and go to next challenge (Ctrl + Enter)" it takes you to the next challenge (done or not done).

**Des

[2019-12-23 15:31] raisedadead commented on #37927
Source code is available here: https://github.com/freeCodeCamp/auth0-templates/branches

[2019-12-23 17:41] #18090 closed

[2019-12-23 17:48] RandellDawson commented on #37971
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2019-12-23 17:48] #37971 closed

[2019-12-23 17:51] RandellDawson commented on #37976
This is by design and allows users to work through the curriculum in order again even if they have already passed the challenge in the past.  If you want to skip forwards and backwards faster, you can click the `Esc` key on your keyboard and click `p` for previous and `n` for next.  This way you can easily skip any lesson you do not want to work/rework.

[2019-12-23 18:00] raisedadead commented on #27722
The current timeline shows the latest completion data. Going to close this, as for this being an easy way to keep the streak live is fine I guess. GitHub streak is also hackable, you can commit in the past.

Its really upto you to maintain the academic honesty.

[2019-12-23 18:00] raisedadead commented on #27722
<details>
<summary>Details</summary>

</details>

[2019-12-23 18:00] #27722 closed

[2019-12-23 18:02] raisedadead commented on #34479
I do not think we would have any additional ability to download solutions other than the button that you can use on each challenge.

Thanks for the request though.

[2019-12-23 18:02] #34479 closed

[2019-12-23 18:04] #34438 closed

[2019-12-23 18:04] #36383 closed

[2019-12-23 18:06] raisedadead commented on #36310
Yes, we should probably add this. /cc @ahmadabdolsaheb

[2019-12-24 05:49] ZhichengChen commented on #37955
So, we should only translate the localeTitle, description, instructions and testString, right? @RandellDawson @ojeytonwilliams

[2019-12-24 06:20] MSSR-code commented on #37921
Hi, can I work on this issue.

[2019-12-24 07:32] RandellDawson commented on #37955
Not testString.  You should translate text of each test.

[2019-12-24 09:40] ZhichengChen commented on #37955
@RandellDawson Oh, yes, it's text need to be translated, and one more thing, if we don't translate the challenge seed, it may hard for the user to understand the challenge, because the description is base on the challenge seed. So, if it is possible to translate the challenge seed and make sure do not break the testString. thanks.

[2019-12-24 11:07] sch-xiv commented on #37970
I attempted it with a VPN and still had the same issue. I will try it from work today and report back.

Thanks

[2019-12-24 14:58] raisedadead commented on #37970
Ok. If the issue persists, can you share the general area you are in like country and city?

[2019-12-24 17:18] RandellDawson commented on #37955
@ZhichengChen No seed code should be translated, because we want to use the same seed code across all languages.  This would allow the non-English languages to have the following structure:
[code]
The one thing we will need to do is to come up with a standard comment translation lookup table (hopefully small), so that any comments in the the challenge seed code would be translated at render.  For

[2019-12-24 20:06] RandellDawson opened #37980 "Stock Price Checker Proxy should not be tracking changes to cache/db"
I remixed the FCC Stock Picker API referenced in [this forum post](https://www.freecodecamp.org/forum/t/information-security-and-quality-assurance-projects-stock-price-checker-workaround-site-broken/335703) and notice the disk space has been maxed out.  Glitch only allows about 200 MB of disk storage and that includes the `.git` folder too.  Glitch automatically commits every single change made to

[2019-12-25 00:57] azzamasghar1 commented on #37957
Yes i think `console.error()` makes much more sense here as it writes to `stderr`

[2019-12-25 02:45] ZhichengChen commented on #37955
@RandellDawson Thank you, I got it.

[2019-12-25 03:46] RandellDawson commented on #37955
To validate the tests pass for all challenges, make sure to assign `chinese` to the `TEST_CHALLENGES_FOR_LANGUAGES` variable in the `.env` file before running `npm run test`.

Only challenges with solutions will even attempt to test.

Once we your recent batch of PRs merged, I will run a script to check for any missing `text/testString` pairs.  There were a lot of changes in the English versions b

[2019-12-25 04:12] ruchika90 commented on #37907
@RandellDawson When I click the "sign-in" button on the homepage, I see this screen -

![Screenshot_2019-12-24 Learn freeCodeCamp org](https://user-images.githubusercontent.com/29990697/71431820-b3200900-26a2-11ea-8cc2-2b52a1069920.png)

Is this the expected behavior? Should I be creating a GIF of this?

[2019-12-25 04:13] RandellDawson commented on #37907
Yes, this is expected behavior.

[2019-12-25 05:35] ZhichengChen commented on #37955
@RandellDawson Thank you. I have pushed a new commit in #37911 , could you please help me to review the structure of the markdown file? all the translate have been reviewed.

[2019-12-25 07:12] RandellDawson commented on #37955
@ZhichengChen Until we have a working solution as described above in this issue, you can not remove the challenge seed code, solution(s), Before/After test sections, or the `testStrings`.  This issue is to discuss how we will go about implementing a solution so you do not have to add these sections.

[2019-12-25 07:49] ZhichengChen commented on #37955
@RandellDawson OK, I will revert the commit.

[2019-12-25 12:06] ahmadabdolsaheb commented on #36310
we could have add a button to redirect to settings or claim cert on the completion modal when all of the required projects for a cert are submitted and the related cert is not claimed
Having in mind that redux should be in sync with the DB to avoid asking users to reclaim their certs.

[2019-12-25 15:28] ahmadabdolsaheb commented on #37921
@MSSR-code please go ahead.

[2019-12-25 15:34] Em-Ant commented on #37980
@RandellDawson i can do it . let me try...

[2019-12-25 16:04] RandellDawson commented on #37957
It really makes no difference what so ever.

[2019-12-25 19:29] #37872 closed

[2019-12-26 05:35] scissorsneedfoodtoo commented on #37980
Thank you for catching this @RandellDawson, and @Em-Ant for jumping in to work on this.

Please let me know if there's anything I can do to help out or if I can add anyone to the fCC Glitch team for future access.

[2019-12-26 06:07] RandellDawson commented on #37980
@scissorsneedfoodtoo This entire API should be in a GitHub repo owned by freeCodeCamp shouldn't it?  Then changes can be made to the repo and then pushed to Glitch.

[2019-12-26 08:06] scissorsneedfoodtoo commented on #37980
@RandellDawson, at the moment it only exists on Glitch. I'll create a repo for it so future changes will be easier.

[2019-12-26 08:19] sch-xiv commented on #37970
I tried it at work yesterday and experienced the same problem. I am in Ann Arbor, Michigan.

[2019-12-26 11:13] raisedadead commented on #37957
I think the pragmatic approach should be `console.error`, but I would not make the tests strict about it. Nonetheless the change would be a welcome addition in learning good practices.

I would recommend making the tests accept either `console.log` or `console.error`
 and the seed code having `console.error` if needed.

[2019-12-26 11:57] ahmadabdolsaheb opened #37983 "modify CardExpiryElement to display date in dropdown"
The expiration from element needs to be replaced with a dropdown. this is an effort to make the donation form more usable.

![image](https://user-images.githubusercontent.com/4591597/71475094-cd1b3200-27ef-11ea-9bea-bbb32ae76b1a.png)

[2019-12-26 12:08] raisedadead commented on #37983
I do not this this is possible with the Stripe react elements that we have to use:

See: https://github.com/stripe/react-stripe-elements#available-components

Rolling out your own mean handling the information ourselves, which we will not be doing either.

[2019-12-26 12:08] #37983 closed

[2019-12-26 15:53] Easyvipin opened #37985 "Space issue in ( ES6: Use Destructuring Assignment to Assign Variables from Objects )"
In this challenge ,if i use space between ``today(space):highToday ``  , the following ouptut genrates.
(code)
[code]
(output)
[code]
However,if i remove the space  ``today:hightoday`` , there is no error in the console.
So i crosscheck this problem in my local system and found that space does't generate the error.

[2019-12-26 20:09] SimonSiefke opened #37988 "Deprecated property grid-gap"

[2019-12-27 01:27] Em-Ant commented on #37980
i added a simple cache cleaning (only invalid items) on app restart. Unless there are other problems, i think we can close this issue

[2019-12-27 05:31] scissorsneedfoodtoo commented on #37980
Awesome! Thank you for the quick fix @Em-Ant. I'll close this and create a repo like @RandellDawson suggested.

[2019-12-27 05:31] #37980 closed

[2019-12-27 06:31] #36875 closed

[2019-12-27 11:09] ahmadabdolsaheb commented on #17587
It seems that there is a user with email-submit username. : ).

[2019-12-29 21:50] moT01 commented on #37976
Yea, I'm not sure I like this either. What if I completed a section and want to do it again? Every time I click submit, it will go to the next section or 20 challenges ahead and I'd have to navigate back somehow. Not a bad idea, but my vote is not to add this.

There is perhaps something to this though, maybe we could add something to those hotkeys for navigating to the next/previous uncompleted c

[2019-12-29 22:01] moT01 commented on #37985
[It's the second test here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects.english.md#tests).

It should allow a space there with the following...

assert(code.match(/(var|const|let)\s*{\s*(today`\s*`:\s*highToday[^}]*|[^,]*,\s*today\s*:\s*highToday

[2019-12-29 23:17] #37972 closed

[2019-12-30 07:22] ZhichengChen commented on #36828
@raisedadead Can I work on this?

[2019-12-30 11:22] #37907 closed

[2019-12-30 14:17] bruno-rodrigues commented on #17558
Hi @pradeshkumarg,

I believe this needs to be reopened because you are appending "/_api/package.json" when I try to submit a github link. (tried with the example repo and a repo I started to go through this course)

![Screen Shot 2019-12-31 at 1 14 19 am](https://user-images.githubusercontent.com/7862345/71585587-3b9f1d80-2b6b-11ea-969f-b86b02921bda.png)

[2019-12-30 22:28] Mstava commented on #37988
Hello, @SimonSiefke is this still open to solve it or what?

[2019-12-30 23:02] RandellDawson commented on #37988
@Mstava At this point, nothing has been agreed upon on how to move forward, so there is no point in creating a PR yet.

[2019-12-31 08:02] raisedadead commented on #37976
We do have hot keys and for the minute they are not publicised much. I do not this we would be complicating the navigation by moving to next not done challenge.

[2019-12-31 08:02] #37976 closed

[2019-12-31 08:03] #37958 closed

[2019-12-31 10:15] ojeytonwilliams commented on #37740
Currently, in production, the code completion is really frustrating on mobile.  If you type `var` it completes to `varvar`, so it's worse than useless.

I think we should disable it on mobile, if possible, or entirely if not.

[2019-12-31 18:02] #36748 closed

[2019-12-31 18:03] raisedadead commented on #37783
@ahmadabdolsaheb I believe you can move over the buttons from the other pages like discussed.

[2020-01-01 04:53] scissorsneedfoodtoo commented on #37927
Closed via https://github.com/freeCodeCamp/auth0-templates/pull/16

[2020-01-01 04:56] #37927 closed

[2020-01-01 13:18] ahmadabdolsaheb commented on #37783
@raisedadead, since a new year has already started. should we redirect year-end-gift to donate.
they are very similar at this point.

[2020-01-01 13:19] raisedadead commented on #37783
That would be Quincy's call. I will defer to your judgement.

[2020-01-01 22:08] steven7mwesigwa commented on #17820
@h15200 How do you clear the database?

[2020-01-02 11:04] benjaminthedev opened #38005 "404 From Lesson Instructions"
**The Issue**

Whilst going through the ReactJS lessons the link to:

'the way you apply classes to JSX elements.' Isn't working, thus giving a 404. The link it tries to go to is this:

https://www.freecodecamp.org/learn/front-end-libraries/react/learn/front-end-libraries/react/define-an-html-class-in-jsx

I've tested the link in Chrome, Firefox, Safari, Opera, Tor, Chrome Canary and Firefox Dev E

[2020-01-02 11:48] raisedadead commented on #38005
Hey @ojeytonwilliams this looks like a parser issue?

Challenge source: https://raw.githubusercontent.com/freeCodeCamp/freeCodeCamp/master/curriculum/challenges/english/03-front-end-libraries/react/introducing-inline-styles.english.md

This is definitely affecting other challenges.

[2020-01-02 11:51] raisedadead commented on #38005
On that note, I think we should update the URL(s) to be

[code]

[2020-01-02 13:15] geniusmousa commented on #17316
I have the same problem

[2020-01-02 14:08] ojeytonwilliams commented on #38005
The parser doesn't touch anchors (to my knowledge).  It's just that that link's relative to the full path, not the domain.  So, yeah, as you say: it needs another slash.

[2020-01-02 17:30] raisedadead commented on #38005
Okay, thanks for confirming.

Looking at the [blame](https://github.com/freeCodeCamp/freeCodeCamp/blame/master/curriculum/challenges/english/03-front-end-libraries/react/introducing-inline-styles.english.md#L11) and this seems to have be touched in the past in https://github.com/freeCodeCamp/freeCodeCamp/pull/35125

We should go ahead, audit and update all such links.

[2020-01-02 17:41] #36969 closed

[2020-01-02 18:04] QuincyLarson opened #38006 "New forum template notification appearance"
<img width="1435" alt="The_freeCodeCamp_Forum" src="https://user-images.githubusercontent.com/985197/71683400-13284680-2d58-11ea-9da8-98e9f321b714.png">

[2020-01-02 18:11] RandellDawson opened #38007 "News page should have a link or information about how to create articles"
We get requests ([like this one](https://www.freecodecamp.org/forum/t/how-we-can-submit-an-article-to-fcc/337794/2)) from users wanting to know about how to write and submit articles for the News page.  Currently, we just refer them to [this forum topic](https://www.freecodecamp.org/forum/t/we-just-launched-developer-news-heres-how-you-can-use-it/279929), but I think there should be a link on the

[2020-01-03 00:41] #36836 closed

[2020-01-03 03:47] ChristianLapinig commented on #38005
Hi @raisedadead. I fixed the link to the challenge that @benjaminthedev was referring to. But it sounds like there might be more challenges that might have this problem. Do you want me to help find all the broken links before submitting a PR? Or are you ok with me submitting this for now?

[2020-01-03 05:08] raisedadead commented on #38005
Yes, you should add all the changes to your PR. If you work locally using VS Code, it should just be a simple search and replace.

For the purposes of QA, I would recommend you make separate PR for different languages (English, Chinese, etc.)

Thanks for working on this.

[2020-01-03 05:16] raisedadead commented on #38007
This page https://www.freecodecamp.org/news/developer-news-style-guide/ should be a good fit. As for where, I believe we should add it to the support page?

@QuincyLarson can you take care of this.

[2020-01-03 06:02] #37943 closed

[2020-01-03 07:40] benjaminthedev commented on #38005
Hi @raisedadead and @ChristianLapinig I am happy to keep working through the challenges and finding issues are reporting on GitHub - if you want me to?

[2020-01-03 09:40] ahmadabdolsaheb opened #38008 "Coderadio integration"
Users should be able to play CodeRadio from universal nav.

[2020-01-03 09:47] ahmadabdolsaheb opened #38009 "adding additional theme colors."
Users should be able to pick theme colors either from a color picker or from a preselected set of items.

If users pick a color using a color picker, the theme should adjust the colors automatically to ensure proper contrast and usability

[2020-01-03 09:51] ahmadabdolsaheb opened #38010 "Reincorporate dark green into the UI."
Dark green 006400 needs to be reincorporated into our UI.

- [ ] The navbar of the default light theme should use the fcc-green theme, and the rest of the theme colors should be adjusted accordingly to complement fcc-green and ensure good usability.
- [ ] favicon should be set to  green.
- [ ] design style guide should include fcc-green

[2020-01-03 10:02] thecodingaviator commented on #37988
My way of tackling this would be to teach both properties in the same challenge and add a note saying that `grid-gap` was the old way of doing it

[2020-01-03 10:18] #37831 closed

[2020-01-03 12:23] jondparadise opened #38012 "Frontend Libraries: JavaScript Calculator Unit Tests Issue"
**Describe your problem and how to reproduce it:**
I have some concerns about the PASS requirements for the Frontend Libraries: JavaScript Calculator
Here is the text from my forum post in regard to the matter:

https://www.freecodecamp.org/forum/t/issue-with-javascript-calculator-certification/338033
"I am taking issue with one of the test requirements and user stories. I don’t think that enterin

[2020-01-03 13:10] ojeytonwilliams commented on #38012
User story 13 deals with consecutive operators and makes an exception for `-`.  The idea being that "5 * -5" is a perfectly reasonable thing to expect a calculator to evaluate.  There's some discussion, https://github.com/freeCodeCamp/freeCodeCamp/issues/37942, about the fact that the demo calculator doesn't.

There isn't a test case for that and it isn't specified by the user stories, so anything

[2020-01-03 13:24] jondparadise commented on #37942
Thanks for sharing here ojeytonwilliams. I look forward to an update. Particularly in regards to the "5 * - - 5 =". Should that be interpreted as "5 * 5 ="? Or does only the last minus sign count as a negative flag, in which case the actual result should be "5 - (-5)=". Since I would imagine that everyone expects "5 * + 5" to be interpreted as "5 + 5". This whole user story is wonky. Why not just

[2020-01-03 13:37] ojeytonwilliams commented on #37942
It's reasonably clear that the camper is supposed to satisfy the user stories *and* the tests - the second paragraph is this:

I don't think there's a need to spell out the that the tests aren't perfect.  If we want to reiterate anything, it's that they need to satisfy the user stories.

@jondparadise it's tricky.  My opinion is that the user stories should not be changed, since they define what t

[2020-01-03 16:02] RandellDawson commented on #38012
Closing in favor of #37942.

[2020-01-03 16:02] #38012 closed

[2020-01-03 16:57] SimonSiefke commented on #37988
## The new `gap` property
The new `gap` property can be used for flexbox and css-grid, so it's a bit more than just a replacement for `grid-gap` (maybe we could add a flexbox challenge for `gap`, but that would be another issue).

## Browser support
- [x] Chrome
- [x] Chrome for Android
- [x] Firefox
- [x] Opera
- [ ] Safari (only supports `grid-gap` but not `gap`)
- [ ] IE (supports neither `gap`

[2020-01-03 17:07] raisedadead commented on #37988
Take away this and only this from any discussion, *we need not be opinionated* about what people 'need' to learn. The above argument is 100% opinionated. We need to teach facts, with disclaimers if needed and let users decide what they would like to learn, use or skip.

I will recommend let's keep the thread constructive with proposals on what would be a better solution.

Mine would be teach both

[2020-01-03 19:38] raisedadead commented on #38005
@benjaminthedev you are welcome to report fresh issues (unrelated to this). I think for this issue, we should be able to do a simple search and replace in the codebase to fix the links :)

[2020-01-03 20:07] naima-shk commented on #38009
can i try this one please ? :)

[2020-01-03 22:16] SimonSiefke commented on #37988
Take away this and only this from any discussion, we need be opinionated about what people 'need' to learn. The above argument is 100% opinionated. We need to teach relevant facts and not all facts. Why would we teach about IIRFilterNode, SVGPathSegCurvetoCubicSmoothAbs or WebGLStatusContext?

So the real questions is:
Should we
a) teach only about legacy property `grid-gap` or
b) teach about lega

[2020-01-03 22:31] RandellDawson commented on #37988
@SimonSiefke Since `grid-gap` has not been deprecated, I vote for your option `b`.  As with most things in the coding world, there are typically multiple ways of doing the same thing.

[2020-01-03 22:53] SimonSiefke commented on #37988
It is deprecated and still tolerated and supported and [only kept for compatibility with legacy content](https://www.w3.org/TR/css-align-3/#gap-legacy). Why do you keep saying otherwise?

[2020-01-03 23:23] RandellDawson commented on #37988
I have always been under the impression that deprecated means no longer supported.  I see nothing in the documentation which states `grid-gap` is no longer supported.   If I am mistaken, please supply documentation stating so.  If not, why do you say it is deprecated?

[2020-01-04 04:53] nurpny opened #38013 "email update does not work"
**Describe the bug**
The link sent to new email address for verifying updated email address does not work correctly. (it redirects (302) to freecodecamp.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `'https://www.freecodecamp.org/update-email/'`
2. Click on 'verify email'
3. Open your email from freecodecamp
4. Click on the link provided
5. Redirected to freecodecamp homepage (witho

[2020-01-04 04:53] raisedadead commented on #37988
Since this discussion is not getting any constructive with same points coming over and again, here is what we are going to do:

- We will wait for 15 days from this comment for any additional interest in this thread (other members that currently involved in the discussion).
- Once it picks up at least 3-4 additional users and/or experts we can do a vote on the content changes.

Until then this thr

[2020-01-04 04:58] raisedadead commented on #38013
Thanks for the report. That route has been deprecated. You should be able to change the email directly in the email settings section on your settings page:

![image](https://user-images.githubusercontent.com/1884376/71760015-e18cb800-2edc-11ea-9b85-8f4f1445f407.png)

https://www.freecodecamp.org/settings

[2020-01-04 04:59] raisedadead commented on #38013
Thanks for the report. That route has been deprecated. You should be able to change the email directly in the email settings section on your settings page:

![image](https://user-images.githubusercontent.com/1884376/71760030-10a32980-2edd-11ea-839c-bba61edf1993.png)

https://www.freecodecamp.org/settings

[2020-01-04 05:00] raisedadead commented on #38013
Can you confirm if you followed a link somewhere to reach the `/update-email` page?

[2020-01-04 05:02] nurpny commented on #38013
hello. the result is the same when the email is updated from the settings page. thanks!

[2020-01-04 05:05] raisedadead commented on #38013
Okay, thanks for confirming. Looks like a bug, we will get working on this, in the meantime please send a request to `support@freecodecamp.org` get this resolved manually by our staff.

Please mention your username and email address that you already have on records in the same.

Thanks.

[2020-01-04 08:24] SimonSiefke commented on #37988
@RandellDawson I still havn't seen your source about that grid-gap is supported in IE

According to Wikipedia:

This is what my definition is based on.

This is what your definition is based on.

Deprecated means that it satisfies definition 1 or definition 2 or both.

`grid-gap` satisfies definition 1, because it has been superseded by `gap`. Therefore `grid-gap` it is deprecated.

[2020-01-04 16:26] johntyree commented on #37942
For what it's worth, neither the Google calculator nor the little four-function calculator I have in a desk drawer at home have a dedicated `+/-` flag to toggle negativity of the current number. They both overload the `-` button, which is essentially where all the confusion about this project is coming from.

As far as teaching exercises go, I'm in favor of _not_ adding a dedicated `+/-` toggle bu

[2020-01-04 17:07] nurpny commented on #38013
will do thank you

[2020-01-04 17:31] raisedadead commented on #37988
Hi @SimonSiefke thanks for your feedback, I have marked the previous comment off topic. Here is our [code of conduct](https://www.freecodecamp.org/news/code-of-conduct/), I would request you to be constructive, polite and succinct failing which we will have to enforce the COC.

[2020-01-04 18:51] rohit-ambre commented on #38005
I searched `learn/` in VS code and found 34 files with such issues where it requires `/` at start.
There can be more if I have missed anywhere

[2020-01-04 19:05] kalebddelk commented on #17618
I believe that the issue with the create new middleware challenge is the test that asserts that the redirect pattern will match /Home Page/. I think that the title of the root route must be changed to "Home Page" in order for this to pass. Or, at least that's what worked for me.

[2020-01-05 18:27] SimonSiefke opened #38014 "Toxicity when contributing to FreeCodeCamp"
I want to support the FreeCodeCamp by submitting Issues and Pull Requests but I don't feel comfortable doing so anymore.
When I asked for a source for something which seemed to me like wrong information, the pull request was promptly closed without any further discussion.
When gave my opinion on an issue I was told that I should take it away from any discussion. It's fine if there is a disagreemen

[2020-01-05 21:08] ahmadabdolsaheb commented on #38009
thanks for your interest, @naima-shk.  We should discuss a comprehensive solution that would fit our current theme implementation.

Once an implementation is agreed upon, we could more forward with assigning this feature to contributors.

[2020-01-06 02:40] moT01 commented on #38014
Sorry you feel that way @SimonSiefke, your contributions are certainly welcome. Seems like your PR was closed because it wasn't the approach we were looking for. The issue looks like it's still open for discussion and something can still potentially be done with it.

What you feel and what was actually said are two different things. I see some disagreements, but not anyone telling you any of those

[2020-01-06 02:40] #38014 closed

[2020-01-06 06:07] raisedadead commented on #38014
Hi @SimonSiefke thanks once again for your feedback.

I am a staff member here at freeCodeCamp.org,  I look after the technology stack and I am also responsible for all the Open Source projects by the org on GitHub. I am at the liberty of speaking on the behalf of my team, and I believe all the moderators active on freeCodeCamp.org

Our community is built on the foundation of friendly, welcoming a

[2020-01-06 06:21] RandellDawson opened #38015 "forum subdomain does not redirect to /forum"
I notice there is an issue if someone tries to go to a forum topic using the subdomain (forum.freecodecamp.org/t/topic-name/topicnum). Has something changed? This affects not only forum links but also links to the forum from freecodecamp.org.

For example, the following url:

should redirect to:

but instead errors out.

[2020-01-06 08:39] DConstantine9 commented on #38005
Hey guys! I'm new in open source projects and I want to ask you how can I find a file where a bug is? Thanks. have a good day

[2020-01-06 10:30] #37957 closed

[2020-01-06 15:38] ojeytonwilliams commented on #37932
@ShubhamCanMakeCommit do you think you'll have the time to create a PR with your solution and the extra test?

[2020-01-06 16:08] thecodingaviator commented on #37988
Option b sounds good to me too.

[2020-01-06 16:39] RandellDawson commented on #37950
@SimonSiefke You are correct that many of the CSS challenges do not accept a valid solution without a semi-colon after the property/value pair when it should.

This would be a valid issue and we would welcome a PR with the challenges that are affected.

[2020-01-07 10:57] ojeytonwilliams commented on #37967
Sorry, I was a bit premature closing this.  I assumed that `/disk480/www/external/freeCodeCamp/freeCodeCamp` was an external drive, because, well, it has `external` in it!

Anyway, I'm re-opening this for now, in case anyone has some insight on this.  However, I still think you're more likely to reach people that can help you on Gitter or the forums.

[2020-01-07 12:08] ahmadabdolsaheb commented on #38005
@DConstantine9 please go to the following link and click on the green "New Issue" button
https://github.com/freeCodeCamp/freeCodeCamp/issues

[2020-01-07 12:34] raisedadead commented on #38005
@ahmadabdolsaheb I think they are seeking to contribute to the repo.

@DConstantine9 you should follow the contributing guidelines mentioned in the read me.

[2020-01-07 12:35] ShubhamCanMakeCommit commented on #37932
I think we should ask @moT01 .  If you both are ready to go with this I have made changes you can see this I have made following changes and I am ready to make a pull request.
- Removed some redundant tests that would pass if the others would pass and have kept enough tests for understanding.
- Added `"astr1on11aut"` to the test
- Updated the solution.

Let me know what you guys think. @jondparadi

[2020-01-07 12:56] ojeytonwilliams commented on #37932
Looks good!  I recommend creating a new (non-master) branch, though. It's easier to keep everything in the right state, if you do.

[2020-01-07 13:24] goodmeow opened #38021 "Bug: couldn't verify right answer"
**Describe your problem and how to reproduce it:**
i tried to complete the code

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: Version 79.0.3945.88 (Official

[2020-01-07 13:51] moT01 commented on #37932
Sorry for the late response, I think that will probably work @ShubhamCanMakeCommit. Part of me wants to say that that's too complicated, but it was already equally difficult before.

Make the PR when your ready and we can give it a final look 👍

[2020-01-07 14:03] ojeytonwilliams commented on #38021
Could you verify that the `img` does have a height and width of 100px?

[2020-01-07 14:05] goodmeow commented on #38021
no, i couldn't verify img with the required value

[2020-01-07 14:10] ojeytonwilliams commented on #38021
Sorry, I mean can you open your browser's dev console and check what size the `img` is?

[2020-01-07 14:16] goodmeow commented on #38021
![image](https://user-images.githubusercontent.com/42605122/71901578-d662b200-3192-11ea-9386-ab4ae60ade4a.png)

its 100px X 100px

[2020-01-07 14:23] ojeytonwilliams commented on #38021
Thanks for confirming that.  The only things I can think of right now is that the browser extensions might be interfering and that you have two errors in the console.  Could you share those here and try again with the extensions disabled (opening an incognito window should do it)?

[2020-01-07 14:26] moT01 commented on #38021
Is your zoom level at 100%?

[2020-01-07 14:30] goodmeow commented on #38021
solved with incognito mode, i agree my extension maybe the problem. thanks for answering.

here is error
![image](https://user-images.githubusercontent.com/42605122/71902518-d499ee00-3194-11ea-8cd4-c33f24d1f859.png)

[2020-01-07 14:51] ojeytonwilliams commented on #38021
You're welcome.  Since we've determined it's not a problem with the site, I'm closing this.  Thanks for helping debug the problem.

[2020-01-07 14:51] #38021 closed

[2020-01-07 15:35] PartyLich commented on #36520
This thread was evidently created to continue the discussion, but there doesn't appear to be any discussion here.

Is it ongoing elsewhere?
The merged PR #36366 discussion mentioned a move to project based curriculum. WRT that, is this issue still relevant?

I'm just trying to gain clarity on whether or not there's something I could feasibly contribute to here.

[2020-01-07 16:22] #37985 closed

[2020-01-07 21:59] RandellDawson opened #38024 "curriculum: Need a more robust way to test for destructuring in the Use Destructuring Assignment to Assign Variables from Arrays challenge"
Per [this forum topic](https://www.freecodecamp.org/forum/t/es6-use-destructuring-assignment-to-assign-variables-from-arrays-valid-code-doesnt-pass/339259), it was discovered our test for detecting destructuring, is not very flexible

[Link to challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-arrays)

F

[2020-01-08 00:00] moT01 commented on #38024
In my opinion, the instructions for this challenge don't seem to line up with the description. The description shows how to destructure things from an array, the instructions ask to "destructure" and swap the values, but the seed code gives nothing to destructure. I feel like the seed code needs to start you off with an array, and the challenge should be to just destructure something from it witho

[2020-01-08 08:48] ojeytonwilliams commented on #38024
I don't mind the swapping, since it's a useful trick to know.  Giving the user an array to swap seems like a good idea, though.

How about:

Use destructuring assignment with the array, `arr`, to swap the values of `a` and `b` so that `a` receives the value stored in `b`, and `b` receives the value stored in `a`.

and

[code]

as the seed?

[2020-01-08 11:57] warren1986 commented on #27001
Solution
<body>
  <script>
    const positionData = [[1, 7, -4],[6, 3, 8],[2, 9, 3]]
    // Add your code below this line

    const maxX = d3.max (positionData, (d) => d[2]);
const output = maxX ;
// Change this line

    // Add your code above this line

    d3.select("body")
      .append("h2")
      .text(output)
  </script>
</body>

[2020-01-09 13:55] gignupg opened #38035 "Intermediate Algorithm Scripting: Seek and Destroy - Solution 3 not working (misspelled variable name)"
Solution 3 of this challenge doesn't pass the test.
The 2 variables ("valuesToRemove" and "valsToRemove") are supposed to be one and the same variable.
I suggest to either change both of them to "valuesToRemove" or both of them to "valsToRemove".

Here the link to the challenge:
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-seek-and-destroy/16046

[2020-01-09 16:13] RandellDawson commented on #38035
@gignupg I have updated the solution to use `valuesToRemove` and now passes all the tests.

Thank you for reporting.

[2020-01-09 16:13] #38035 closed

[2020-01-09 23:20] elMP opened #38037 "Longest Streak is inaccurate"
I'm a new camper. Last days I did challenges every day
![1](https://user-images.githubusercontent.com/33460412/72112266-22a62180-334e-11ea-816b-784fc82b4860.png)
My longest streak should be 4, but it's 1. I think January 8 is missing.
![2](https://user-images.githubusercontent.com/33460412/72112485-c2fc4600-334e-11ea-8f31-63daaf4384c0.png)

In 7 and 9 January I did challenges at night, may be 2 or

[2020-01-10 05:17] #38015 closed

[2020-01-10 05:57] ShubhamCanMakeCommit commented on #38024
We could also change test like below:-
[code]
This thing matches any of the methods even `[a].concat(b)` and doesn't match any solutions without destructuring.

This is just if you want to be flexible with the tests as @RandellDawson says or any solutions of @moT01  or @ojeytonwilliams would work . Tell me what you guys think.

[2020-01-10 09:26] uwsd opened #38039 "404 Search "See all results for ...""
**Describe the bug**
Using the search-Field and clicking "See all results ..."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/'
2. Click on 'Search Field' and enter s.th. I did "Flutter" and then I clicked "See all results for Flutter"
3. See error: "404 Page not found"

I think the error is easy to fix:
The automatic created result link after clicking ha

[2020-01-10 09:29] gignupg commented on #38035
Sure, thx for fixing it!!

[2020-01-10 09:52] ojeytonwilliams commented on #38039
@uwsd Thanks for the report!

It seems it's a problem with redirection.

- https://freecodecamp.org/ redirects to
- https://www.freecodecamp.org/news

and the link is to

- https://freecodecamp.org/news/search/?query=flutter which redirects to
- https://www.freecodecamp.org/news/news/search/?query=flutter

cc: @raisedadead

[2020-01-10 13:44] ojeytonwilliams opened #38043 "Challenge markdown style"
**Is your feature request related to a problem? Please describe.**
I noticed, when reviewing https://github.com/freeCodeCamp/freeCodeCamp/pull/38016, that a lot of HTML was necessary to create challenges that looked good (https://github.com/freeCodeCamp/freeCodeCamp/pull/38016/commits/7b9db261ca1db495e41f7a9c9c934e86a46f0679#diff-8d5114b548781516c78ac91bc507f8ebR14, for instance).  While using HTM

[2020-01-10 14:33] ojeytonwilliams opened #38044 "CSP stopping 'eval' from working in Firefox"
**Describe the bug**
JavaScript challenges currently cannot be completed in Firefox, reported here: https://www.freecodecamp.org/forum/t/evalerror-call-to-eval-blocked-by-csp/339919/6

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any JavaScript challenge, e.g. https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code
2.

[2020-01-10 15:54] scissorsneedfoodtoo commented on #38044
Users have reported the same issue in Safari and Edge.

[2020-01-10 16:03] scissorsneedfoodtoo opened #38046 "Navigating to freecodecamp.org/signin goes to a 404"
**Describe the bug**
Going to freecodecamp.org/signin shows a 404 page.

**Expected behavior**
Should redirect to the Auth0 sign in page.

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Browser: Chrome, Firefox

[2020-01-10 16:08] scissorsneedfoodtoo commented on #38039
Thank you for reporting this @uwsd. This was also a problem on /news. I deployed a quick fix and am working on PRs now.

I noticed that we could change the URLs in the search related files from https://freecodecamp.org/news/search/?query=flutter to https://www.freecodecamp.org/news/search/?query=flutter. This seems to get around the problematic redirect, at least for search results. Still an issue

[2020-01-10 16:58] ojeytonwilliams commented on #38044
Yep, I've confirmed it with Edge, too.  The error I see is:

Firefox is a bit more forthcoming and says that it's the test-evaluator that's causing it.  I did change that (https://github.com/freeCodeCamp/freeCodeCamp/pull/38011), so *maybe* it's related, but that was a week ago, so unless it's only just been pushed live I doubt it.

Anyway, weirdly, .dev *also* has a bunch of similar errors, but w

[2020-01-10 17:25] leebut opened #38047 "Challenge instructions are not precise."
**Describe your problem and how to reproduce it:**
I was helping a member on the forum with a challenge.
The instructions (link below) are to place an image **_after_** the main element, but a moderator told them to put it _inside_ where there are two empty lines. The mod suggested that the instructions be improved and I report it on Github.

Whether the code is placed inside or outside the main e

[2020-01-10 19:47] hisergiorojas opened #38049 "Hash Table challenge test case"
**Describe your problem**

The test case pass when the remove method is empty

**How to reproduce it:**
Here is link of my code: https://gist.github.com/hisergiorojas/8c3dbd57afd02663de9e5c0a70cc21e7

1. Copy and paste the code to the FreeCodeCamp editor.
2. Click on "Run the Tests"
3. There will be a check mark on:
![alt text](https://i.imgur.com/zR6Mn26.png)

**Add a Link to the page with the pr

[2020-01-10 21:27] RandellDawson commented on #38047
@leebut @ArielLeslie  What about something like the following for the instructions section.

[2020-01-10 21:34] RandellDawson commented on #38049
@moT01 @ojeytonwilliams Wasn't this challenge just changed?

[2020-01-10 22:10] opalko opened #38050 "EvalError: call to eval() blocked by CSP"
Cannot progress past Javascript section: Basic Algorithm Scripting: Return Largest Numbers in Arrays, error in console: "EvalError: call to eval() blocked by CSP"  Running Firefox 72.0.1 on Macbook Pro High Sierra
![Screen Shot 2020-01-10 at 4 07 07 PM](https://user-images.githubusercontent.com/25775780/72189883-a64e2580-33c3-11ea-92d6-dcc7ec37d1c8.png)

[2020-01-11 00:02] Mstava commented on #37988
I agree with this option, we could add multiple ways and let the user choose what to use @RandellDawson @raisedadead

[2020-01-11 01:15] leebut commented on #38047
@RandellDawson, that is much clearer, thank you. Perhaps adding a  comment in the code like other challenges would also guide the learner to the correct location.
As it stands, the code passes no matter where the image is in relation to the `main` element. Should that be fixed so that it fails when the `img` element is misplaced?

[2020-01-11 06:56] QuincyLarson opened #38051 "Email unsubscribe path is broken after yesterday's re-architecting"
Normally people can unsubscribe from my weekly email by clicking the link at the bottom of the email. Here's what one of these unsubscribe links looks like: https://www.freecodecamp.org/ue/WQUiOp4cl1RKo4ieQ590J

[2020-01-11 07:59] QuincyLarson opened #38052 "Lag on donate page may cause a 2nd duplicate donation"
A small percentage of donors accidentally create a second duplicate donation (when they intend to only create one monthly-recurring donation).

I suspect this may be due to some sort of input lag when they are on a less reliable connection. We should create some sort of debounce to ensure people don't accidentally create two donations instead of one.

[2020-01-11 11:50] ahmadabdolsaheb opened #38053 "the link of the old pages should be redirected to their articles."
some links such as https://www.freecodecamp.org/news/javascript-example/ does not work.
the footer links should be updated and or the links should be redirected to relevant articles.
@AbbeyRenn, @scissorsneedfoodtoo thoughts?

[2020-01-11 12:15] brandon-thenaro commented on #38050
Duplicate of [#38044](https://github.com/freeCodeCamp/freeCodeCamp/issues/38044)

[2020-01-11 12:48] ojeytonwilliams commented on #38050
Thanks for reporting this, @opalko.  @brandon-thenaro is right, though, so I'm closing this so we can track the issue in one place.

[2020-01-11 12:48] #38050 closed

[2020-01-11 21:52] bobmatyas opened #38056 "URL Shortener Microservices Issues"
Hi -

I was working on the "APIs and Microservices Projects - URL Shortener Microservice" project today and experienced difficulties getting the project to connect to the MongoLabs service used in this section of the curriculum.

After a lot of digging, I eventually found out that the Mongoose version in the project boilerplate is out of date and doesn't connect with MongoLabs. The free tier requi

[2020-01-12 05:50] QuincyLarson opened #38057 "Congratulations modal needs space"
<img width="1396" alt="Notifications___Twitter" src="https://user-images.githubusercontent.com/985197/72214720-29a76e00-34cd-11ea-9f1e-45f48bb736d8.png">

[2020-01-12 08:16] scissorsneedfoodtoo commented on #38056
Hi @bobmatyas, thank you for creating this issue. You're right that a lot of the backend and API projects need their dependencies updated. I'm in the process of going through these projects and overhauling what I can.

[2020-01-12 11:51] ShubhamCanMakeCommit commented on #38024
Have I said something wrong. I am open for criticism.

[2020-01-12 13:57] bobmatyas commented on #38056
@scissorsneedfoodtoo Awesome, I'm glad to hear it! Thanks for looking into it.

[2020-01-12 16:55] JackHowa commented on #38044
Seeing the same error in mobile safari and mobile chrome on iOS

CSP is no fun.

![image](https://user-images.githubusercontent.com/5950956/72222392-cdbf0280-3529-11ea-860f-4c11bf0f16ef.png)
![image](https://user-images.githubusercontent.com/5950956/72222396-d9aac480-3529-11ea-90e6-bcc56e2d2394.png)

[2020-01-12 21:37] raisedadead commented on #38053
It works now? Close as resolved?

[2020-01-12 21:38] #38053 closed

[2020-01-12 21:39] raisedadead commented on #38051
I have managed to fix the page partially. But the client only route seems to be broken somehow. The API does respond by setting the key in the DB to false.

[2020-01-12 21:40] raisedadead commented on #38046
Fixed.

[2020-01-12 21:40] #38046 closed

[2020-01-12 22:40] raisedadead commented on #38051
Fixed.

[2020-01-12 22:40] #38051 closed

[2020-01-12 22:41] raisedadead commented on #37662
Fixed.

[2020-01-12 23:02] raisedadead commented on #38044
We updated the CSP and this is resolved in our staging instance and should be resolved in our production instance soon (it may take a bit to cascade through the cache).

Please let us know after a few hours and close if resolved. Thanks.

[2020-01-13 03:08] pjonp opened #38060 "All React & Redux Challenges Fail To Load Dependencies"
All React & Redux challenges are not loading React, ReactDOM, or Redux.

[code]

Affects ALL React and Redux challenges:
[create-a-simple-jsx-element](https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-simple-jsx-element)

![image](https://user-images.githubusercontent.com/25874668/72231149-c0386580-3587-11ea-868e-9b42caf28b8f.png)

Windows 10, Chrome [Version 79.0.3945.117 (Off

[2020-01-13 03:41] pjonp commented on #38060
Also seems to affect D3 challenges:

[add-document-elements-with-d3](https://www.freecodecamp.org/learn/data-visualization/data-visualization-with-d3/add-document-elements-with-d3)

![image](https://user-images.githubusercontent.com/25874668/72232024-a5b4bb00-358c-11ea-87d8-17a9f8edce49.png)

[2020-01-13 05:50] scissorsneedfoodtoo commented on #38060
Thank you for reporting this @pjonp. This is related to https://github.com/freeCodeCamp/freeCodeCamp/issues/38044 and we'll fix this ASAP.

[2020-01-13 07:10] scissorsneedfoodtoo commented on #38060
Updated the CSP on .dev and .org and tested these challenges in both Firefox and Chrome. Closing this for now, but please let us know if you run into any other issues.

[2020-01-13 07:10] #38060 closed

[2020-01-13 08:37] ojeytonwilliams commented on #38044
Is there a rough ETA?  I'm still seeing the problem now (after 10 hours).

[2020-01-13 10:43] raisedadead commented on #38044
@ahmadabdolsaheb can you confirm it was resolved for you?

[2020-01-13 12:42] ojeytonwilliams commented on #38044
@scissorsneedfoodtoo are you and Ahmad getting the same CSPs?

[2020-01-13 12:47] scissorsneedfoodtoo commented on #38044
@ojeytonwilliams, for the challenge page we have the same CSPs, but not for the `/js/test-evaluator...` files. Ahmad's test-evaluator files all have the updated CSPs, and mine just have `default-src 'self' http: https: data: blob: 'unsafe-inline';`.

[2020-01-13 13:04] ojeytonwilliams commented on #38044
Apparently CloudFlare don't modify CSPs, so presumably they're still using the old ones for some reason.  It's a bit of a hacky long-shot, but could it be worth making a trivial change to `test-evaluator`, so that the hash updates and CloudFlare realises it needs to update its caches?

[2020-01-13 13:19] scissorsneedfoodtoo commented on #38044
I think it's worth a shot. We could just add an extra newline to the file. What do you think @raisedadead?

[2020-01-13 15:01] ojeytonwilliams commented on #38044
It would need to be a change that didn't get minified away.  Changing the indentation of the eval, for example.

[2020-01-13 15:13] scissorsneedfoodtoo commented on #38044
Yes, that's true. I hoped we could add a comment somewhere but those get stripped out during minification. Changing the indentation of the eval or declaring a variable might be a good way to go about it.

[2020-01-13 15:17] ojeytonwilliams commented on #38044
Yep.  I've made a PR that does just that, so that's available if we want to try that approach.

[2020-01-13 15:24] scissorsneedfoodtoo commented on #38044
That was really fast! Thank you. Doing a quick test locally before merging.

[2020-01-13 16:31] scissorsneedfoodtoo commented on #38044
Thanks again for your quick thinking and fix @ojeytonwilliams. @ahmadabdolsaheb deployed this to .org and it should be live in the next 25 to 30 minutes.

[2020-01-13 17:23] moT01 commented on #38024
No, nothing is wrong @ShubhamCanMakeCommit. That sounds similar to my "easier" suggestion. I would be fine fixing it like this.

[2020-01-13 18:18] ojeytonwilliams commented on #38044
@scissorsneedfoodtoo, no problem!  Seems fixed for me.  Is it working for you now?

[2020-01-13 21:40] ahmad-ali14 opened #38064 "connecting MongoDB Atlas through MongoClient"
**Describe your problem and how to reproduce it:**
I see that in the instructions you saied that mongo.connect(url) will connect you to the db, actually I found that there sould be one more step in order the connection to perform correctly.

=================================
Here is some information:
When you are using MongoClient to connect to MongoDB Atlas,  it is important to know that there ar

[2020-01-14 04:33] ShubhamCanMakeCommit commented on #38024
Oh yes, then go for it! I wasn't actually able to interpret that one.

[2020-01-14 04:46] scissorsneedfoodtoo commented on #38044
Yes, it's working on my end. @beaucarnes also tested it during the deployment and everything seems fixed now.

Thanks again for all your help with this. Think we can close this issue for now, but I'll keep an eye on the forum and Twitter to see if people are still having issues.

[2020-01-14 04:46] #38044 closed

[2020-01-14 12:51] raisedadead commented on #38039
@scissorsneedfoodtoo search is still broken? I can't get anything to load for generic searches.

[2020-01-14 15:56] ichbinkiana opened #38067 "[guide] images are not loading"
Hello,
I wanted to tell you that images that are in the SQL tutor on your website are not loading for me. I’ve tried to open it with different browsers and devices but none of them solve the problem. ( I used firefox and chrome - both the latest version - on Ubuntu 19.10 and iPad OS ).

![Screenshot from 2020-01-14 19-24-11](https://user-images.githubusercontent.com/24723210/72359416-7d9b9800-3703

[2020-01-14 16:00] ojeytonwilliams commented on #38067
Hi, @ichbinkiana, thanks for the report.  Could you link to the page that's not working?

[2020-01-14 16:08] ichbinkiana commented on #38067
there is not just one page.
Here are the ones I've found :
https://guide.freecodecamp.org/sql/sql-alter-table-statement
https://guide.freecodecamp.org/sql/sql-and-operator/
https://guide.freecodecamp.org/sql/sql-avg-function/
https://guide.freecodecamp.org/sql/sql-between-operator/
https://guide.freecodecamp.org/sql/sql-count-function/
https://guide.freecodecamp.org/sql/sql-create-index-statement/

[2020-01-14 16:22] RandellDawson commented on #38067
@raisedadead I assume we are not going to fix these as the guide is no longer supported?

[2020-01-14 17:39] ritikkamboj commented on #11773
// Declarations
var studlyCapVar
var properCamelCase;
var titleCaseOver;

// Assignments
studlyCapVar = 10;
properCamelCase = "A String";
titleCaseOver = 9000;

[2020-01-14 18:08] raisedadead commented on #38067
I will defer to Quincy on this, he was working on something a few weeks ago to move the articles on forum and news, I think before we could add 301s. If anything the outdated guide articles are probably contributing to the bounce rate.

/cc @QuincyLarson

[2020-01-14 18:13] raisedadead commented on #38037
Thanks please share your username / profile URL

[2020-01-14 19:57] marcin93 opened #38069 "url redirection doesn't work for /shop"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
When I'm looking into footer on main page (https://www.freecodecamp.org/) links has structure:
https://www.freecodecamp.org/news/about/
https://www.freecodecamp.org/news/shop/
https://www.freecodecamp.org/news/

[2020-01-14 22:31] bvi1994 opened #41075 "Current song's album not being displayed and being cut off of at the bottom."
Hi everyone,

I noticed for the current song, the artwork for the album is not being displayed. Also, I noticed that the image is cut off at the bottom.

I think this would be a good first issue for newcomers to fix up! :)

Here's the problem for Desktop:

![image](https://user-images.githubusercontent.com/9060271/72388361-8deb4d00-36da-11ea-839f-4a44628b42fe.png)

[2020-01-15 00:04] elMP commented on #38037
https://www.freecodecamp.org/fcc395594e5-a5f9-4ca1-8a8a-ef3fa24286c0

[2020-01-15 00:44] Manish-Giri opened #38070 "Improving the BFS and DFS challenges"
**Describe your problem and how to reproduce it:**

I think the challenges on BFS and DFS could use a little improvement. I noticed a few things -

1. The GIF in BFS doesn't really explain what's going on. For someone completely new to BFS and queues, it would not be immediately clear what's happening on the queue. It would only appear that there is a nearest-nodes/adjacent-nodes first traversal o

[2020-01-15 00:56] scissorsneedfoodtoo commented on #38039
@raisedadead, what sort of generic searches are not loading for you? Things seem to be working on my end whether I search from .org/ or .news/.

[2020-01-15 01:24] lasjorg opened #38071 "Challenge link broken when opening in new tab/window"
The link in question
https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-the-.env-file

Looks like this:
![page](https://user-images.githubusercontent.com/28780271/72396774-0d5e3800-373e-11ea-8d44-ab842139f713.jpg)

It works just fine if you click it from the challenge list from /learn. I'm guessing it is a route issue or something?

[2020-01-15 06:16] QuincyLarson commented on #38067
@ichbinkiana Thanks for spotting this and alerting us to this.

We have indeed copied articles over to /news and I've fixed the images there. We are planning to deprecate the Guide completely in the coming months and 301-redirect the guide articles to their /news equivalents. This will provide better usability, accessibility, and faster page loads (since we'll be able to have AMP versions).

In my

[2020-01-15 06:16] #38067 closed

[2020-01-15 06:29] Manish-Giri commented on #38071
Looks like this behavior is present for some other links too -

- https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/add-a-description-to-your-package.json
- https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/add-keywords-to-your-package.json
- https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/ad

[2020-01-15 11:19] ojeytonwilliams commented on #38071
Yep, I think it's all links with `.`s in.  It's also not just .org, .dev has the problem too:
https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do...while-loops

[2020-01-15 12:23] ahmadabdolsaheb commented on #38039
working on my side on news and learn from multiple locations.

[2020-01-15 12:58] raisedadead commented on #38037
Hi @ahmadabdolsaheb please investigate

[2020-01-15 13:17] raisedadead commented on #38071
This is because https://github.com/zeit/serve is unable to parse and get to the correct file. We could add NGINX maps in front of it, but I am not a huge fan of such a solution.

[2020-01-15 13:20] raisedadead commented on #38071
Here is the config if you are interested, but essentially serving the `www` directory where our client files (built) are dumped by the pipeline.

[2020-01-15 13:22] raisedadead commented on #38039
![2020-01-15 18 41 11](https://user-images.githubusercontent.com/1884376/72437169-2a3f4d80-37c8-11ea-86f7-1be5cb56b4df.gif)

[2020-01-15 13:40] ojeytonwilliams commented on #38039
Should it say something like "No results for for 'this is a generic search', please try a different query"?

[2020-01-15 14:28] scissorsneedfoodtoo commented on #38039
Thanks for the gif, I see what you mean now.

The behavior should be a message that says "No tutorials found" and not to allow the search to complete. There's a PR for this on News [here](https://github.com/freeCodeCamp/news-theme/pull/88), and I'll start working on the implementation in the main repo.

[2020-01-15 14:44] iamgurki opened #38072 "HTML issue"
Hi my short name is Gurki, I have issue with this challenge cause he can’t letting me go forward, I had watched a lot video on YouTube and get help but I am only who is stuck in this bug?
Could you give a look on the screenshots I have attached? Thanks for your attention
![FDB242D3-53A9-4818-B2E5-7A7F03A76662](https://user-images.githubusercontent.com/59924506/72442717-526d8300-37ad-11ea-9962-1b76

[2020-01-15 15:05] ojeytonwilliams commented on #38072
Hi Gurki, I'd take a closer look at the first failing test - it gives you a hint about what you need to do.

I'm closing this issue, though, since it's not caused by a bug in the challenge.  If you have any further problems, don't hesitate to ask on the [forums](https://www.freecodecamp.org/forum/c/curriculum-help/509) - they're the best place for this kind of thing.

[2020-01-15 15:05] #38072 closed

[2020-01-15 15:23] ojeytonwilliams commented on #37742
So, dynamically loading `@babel/standalone` cuts the main app from 6,473,158 bytes to 1,339,200 which is pretty great.  However, it increases the size of the total download from 4 MB to 4.3, on the challenge pages.  My guess is there's some code that was being shared that's now duplicated in the split bundles.

@raisedadead is this a good compromise?  It's slightly slower if someone goes directly

[2020-01-15 16:16] raisedadead commented on #37742
Yeah. Why not? I think that's a fair compromise. Not sure about the worker, do we have the ability to propose a PR? If not let's start a thread with them

[2020-01-15 18:23] jpvajda commented on #17820
I've done all of this and still can't get it to work. The login test and registration test still fail.  Here is the [code](https://glitch.com/edit/#!/fcc-advanced-node-express-jv) if anyone has any suggestions.

[2020-01-15 18:35] ojeytonwilliams commented on #37742
I'm not yet sure where the problem is, but I'll submit an issue once I can reproduce it in a test site.

[2020-01-15 21:01] jpvajda commented on #17820
Just an update I finally got it working after reading this [FCC Post](https://www.freecodecamp.org/forum/t/cannot-pass-advanced-node-and-express-registration-of-new-users/306351). It was the last change I needed to make after following all these suggestions

[2020-01-16 11:49] Madhur215 opened #38076 "Minor UI issue"
There is a difference in the font size and the margin between the text , on the home page (freecodecamp.org) and the learn page (freecodecamp.org/learn). Although you may not notice it on first glance but it disturbs the UI. The "sign in and get started" button on home page is also wider
than the "sign in to save your progress button" on /learn page.

[2020-01-16 12:30] ojeytonwilliams commented on #38076
Hi @Madhur215.  Could you add some screenshots that demonstrate the problem you're describing?

[2020-01-16 20:36] Ieahleen opened #38078 "Section Progress Bar is mistaken as project completeness"
This is the last thread (there have been already a few others) of people that mistakes the section progress bar with completeness of the project

https://www.freecodecamp.org/forum/t/uploading-problem-with-the-2nd-project-of-responsive-design/341893

Maybe it needs to be a bit more clear
Or maybe once enough of the people that were in the middle of things when the progress bar has been introduced

[2020-01-17 02:49] DanielOhn commented on #38076
Here are two screenshots from the landing and the /learn tab, before you're logged in.

![learn](https://user-images.githubusercontent.com/11139119/72580308-e23c2b80-3898-11ea-965e-fcd2d7cbeef6.png)
![landing page](https://user-images.githubusercontent.com/11139119/72580309-e23c2b80-3898-11ea-923e-061e0868c81e.png)

- There is a difference with the button width being stretched to fit the container

[2020-01-17 04:27] andrewsmith289 opened #38079 "'Code of Conduct' link in CONTRIBUTING.md leads to 404"
**Describe the bug**
The link to 'Code of Conduct' inside CONTRIBUTING.md leads to a 404

**To Reproduce**
Steps to reproduce the behavior:
1. Open CONTRIBUTING.md from the repository root
2. Click on the 'Code of Conduct' link
3. See the url leads to a 404 (https://www.freecodecamp.org/code-of-conduct)

**Expected behavior**
The 'Code of Conduct' page should appear.

**Desktop (please complete th

[2020-01-17 04:33] Madhur215 commented on #38076
@ojeytonwilliams I was talking about the change in margin between "Welcome to freeCodeCamp.org"
and "Learn to code." on the lading page and the /learn page , and the width of the yellow Button on the two pages , as you can see in the screenshots shared by @DanielOhn

[2020-01-17 04:34] scissorsneedfoodtoo commented on #37662
@QuincyLarson, this still seems to be an issue when you are not signed in and click the "You can click here to resubscribe" button. If you are signed in then the resubscribe button works as expected.

[2020-01-17 05:33] damsalem opened #38081 "Bug "Wherefore art thou" Solution"
The [suggested solution](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-wherefore-art-thou/16092) to the ["Wherefore art thou" challenge](e) has a bug or two in it.

1. Solution 2 is nested within the "Solution 1" `details > summary` elements (see screenshot)
2. Solution 1's code explanation is all commented out in Solution 2's code.

![Screenshot_2020-01-17 freeCodeCamp Challen

[2020-01-17 07:54] ojeytonwilliams commented on #38076
Thanks for clarifying, @DanielOhn and @Madhur215. I'll open this up for PRs.

[2020-01-17 18:20] tmonks commented on #17763
It's not very obvious, but after trying for an hour and a half to get the tests to pass yesterday, I figured out there's a different boilerplate you're supposed to use for the Social Authentication challenges which has all the code in `server.js`. The link is correct in the exercise, but it's not spelled out that it's different from the one being used up to that point.

[2020-01-18 01:55] RandellDawson commented on #38081
@damsalem Thank you for pointing out the formatting issues with the solutions for this challenge.  I have corrected them now.

[2020-01-18 01:55] #38081 closed

[2020-01-18 08:08] ahmadabdolsaheb commented on #38079
related #38079

[2020-01-18 09:39] ahmadabdolsaheb commented on #38069
Thanks for bringing this to our attention.
The redirect issues are going be handled with nginx in the next couple of days.

related #38079

[2020-01-18 10:01] Ieahleen commented on #38078
it has happened again:
[Why do I only get 94% completed?](https://www.freecodecamp.org/forum/t/why-do-i-only-get-94-completed/342239)

[2020-01-18 13:52] E-RROR opened #38083 "How Can I Use FreeCodeCamp Code for my self ?"
Hello Guys, im Fullstack developer with react and django and i want create an website and use freecodecamp frontend codes with my django codes;
i have a question

[2020-01-18 15:13] moT01 commented on #38078
I think these will slowly go away once people figure it out.

We could try and enlarge the section text, maybe underline it - or put it in the progress bar.

[2020-01-18 20:46] AshNaz87 opened #38084 "How to run project locally"
Apologies if this has been answered already...

Is there any documentation which outlines how to run the repo locally? If not, it would be super useful.

Thanks!

[2020-01-18 20:48] AshNaz87 commented on #38084
Apologies if this has been answered already...

Is there any documentation which outlines how to run the repo locally? If not, it would be super useful.

Thanks!

[2020-01-18 21:11] AshNaz87 commented on #38084
Actually found the instructions in `docs > how-to-setup-freecodecamp-locally.md`

Perhaps there could be a section in the README?

[2020-01-18 22:05] NicksPatties commented on #18159
I was also experiencing some trouble with this bug until I read this Issue. Waiting for a while to test the solution allowed me to move on.

@karikalanarun I was able to reproduce the error in Firefox 72.0.1. However, helmet updated the headers as expected when I call `app.use(helmet.hidePoweredBy({ setTo: 'PHP 4.2.0' }));`:

<img width="552" alt="ff-response-headers" src="https://user-images.gith

[2020-01-19 10:00] AshNaz87 commented on #38076
Implemented some changes. Please see screenshots
<img width="1280" alt="Screenshot 2020-01-19 at 09 59 13" src="https://user-images.githubusercontent.com/20570746/72678956-804f1200-3aa2-11ea-85d6-433a2ac5d8d7.png">
<img width="1280" alt="Screenshot 2020-01-19 at 09 59 31" src="https://user-images.githubusercontent.com/20570746/72678957-80e7a880-3aa2-11ea-9367-ed4b766f8043.png">

[2020-01-19 11:28] ahmadabdolsaheb commented on #38083
Challenges are here https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum

You can learn about how all the pieces work together here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

I will go ahead and close this issue for now. Please reopen if you have more specific questions.

[2020-01-19 11:28] #38083 closed

[2020-01-19 11:33] ahmadabdolsaheb commented on #38084
Yes, those are the instructions.

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

Please try to follow the instructions step by step and let us know if you have problems with running the repo locally here: https://gitter.im/FreeCodeCamp/Contributors

I will close this issue for now, please feel free to reopen if you think this issue was closed by

[2020-01-19 11:33] #38084 closed

[2020-01-19 13:42] AshNaz87 commented on #38084
@ahmadabdolsaheb No worries

I'll create a PR for the README

[2020-01-19 14:13] AshNaz87 commented on #38084
@ahmadabdolsaheb Submitted a PR for this and other small tweaks in documentation
Think it's issue #38086

[2020-01-20 07:54] hiphobnabil opened #38087 "Alalmany"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-01-20 08:50] #38076 closed

[2020-01-20 08:58] ojeytonwilliams commented on #38078
One tiny change that might help is to put a colon after the section text.  So, it'll read

seeing the colon should help some people realise the two things are connected.

[2020-01-20 08:59] ojeytonwilliams commented on #38087
Hi, there doesn't seem to be an issue here.  Please re-open it if there is a problem you wanted to report.

[2020-01-20 08:59] #38087 closed

[2020-01-20 13:38] thecodingaviator commented on #38078
I don't really think it's an issue as such.

As far as what @ojeytonwilliams says, it is surely a way of doing this but IMHO it'll be too haphazard.

[2020-01-20 13:38] #38078 closed

[2020-01-20 21:01] alexnbuchanan opened #38090 "Bug - Regex: Check Grouping of Characters"
**Describe your problem and how to reproduce it:**
I'm on the Regular Expressions: Check For Mixed Grouping of Characters. I was able to pass this checkpoint with a solution that doesn't meet the objectives of the assignment. I used the following code:

[code]
With this code I match just “Roosevelt” which is only part of the name(s), yet I still pass the assignment.

**Add a Link to the page with

[2020-01-20 21:27] AshNaz87 commented on #38090
@alexnbuchanan I think that the regex you've written should pass the test.

The `(Franklin|Eleanor)?` part is a capturing group, so the regex will match `Franklin` or `Eleanor`. The `?` as a quantifier will match the above 0 or 1 times.

This means that your regex will capture `Franklin Roosevelt` as well as `Eleanor Roosevelt`

Unless, I'm mistaken, I hope this helps :)

[2020-01-20 21:29] AshNaz87 commented on #38090
Apologies...

Actually, I've re-read the instructions. I think you may be onto something.

[2020-01-21 05:19] damsalem opened #38091 "Legacy Method in Solution 2 "Challenge: Search and Replace""
The [suggested solution #2](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-search-and-replace/16045) in for the "Challenge: Search and Replace" uses the legacy `substr` method. While this has not yet been deprecated, it may be removed in the future [according to MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substr).

The following s

[2020-01-21 06:11] Manish-Giri commented on #38091
IMO, the explicit check for comparison with `true` can be bypassed -
`.test(before) === true ` -> `.test(before) ?`

[2020-01-21 08:22] ojeytonwilliams commented on #38090
Yeah, the problem is that it matches the string " Roosevelt".  A simple solution would be to add another test that makes sure it fails if you use, say, "Frank Roosevelt".

[2020-01-21 12:54] ahmadabdolsaheb commented on #38039
I am going close this since the above prs address the issue. Feel free to reopen if you think this issue has been closed by mistake.

[2020-01-21 12:55] #38079 closed

[2020-01-21 12:56] #38069 closed

[2020-01-21 16:04] AshNaz87 commented on #38090
@ojeytonwilliams Would like to have a crack at this

[2020-01-21 16:06] RandellDawson commented on #38090
@AshNaz87 Go ahead and create a PR.

[2020-01-21 16:08] AshNaz87 commented on #37961
@raisedadead Would like a crack at this

[2020-01-21 17:07] SagirGarba opened #38095 "The learning part not working on Ubuntu linus Chromu"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2020-01-21 18:32] ojeytonwilliams commented on #38095
Hi, @SagirGarba, thanks for the report.  Could you give us more detail about which pages you see the problem on?  It would be a big help if you could take screenshots and include any console logs (if there are any).

[2020-01-21 18:51] rostaryms opened #38096 "TypeValue: Cannot read property 'properties' of undefined"
Hi,

I'm following along a udemy video tutorial and when I type 'npm run dev' into the command prompt I get the error below. Anyone know what's going on?

![JS_Error](https://user-images.githubusercontent.com/56840832/72833595-204c9d00-3c55-11ea-90e2-9a05b13e80e5.png)

[2020-01-21 19:09] LarryHu0217 commented on #38096
Maybe add sudo before the command. I met the similar problem before.

[2020-01-21 19:23] ojeytonwilliams commented on #38096
Hi, this doesn't seem to be freeCodeCamp related, so I'm closing this.

[2020-01-21 19:23] #38096 closed

[2020-01-21 19:37] LarryHu0217 commented on #37967
Maybe try to add sudo before the command, and try this again

[2020-01-21 19:54] AshNaz87 commented on #38090
@ojeytonwilliams Had a go

Please see `#38097`

[2020-01-22 03:45] raisedadead commented on #38039
Has the fix landed on production. I am able to reproduce the issue?

[2020-01-22 04:51] ahmadabdolsaheb commented on #38039
@raisedadead has not landed yet on learn. but you could see the fix on /news

[2020-01-22 06:12] SagirGarba commented on #38095
it has been showing this since last couple weeks. it is only the leaning part that is not working on my Ubuntu Linus, but the forum and news site are working perfectly. if i try login on windows/phone it will all work

![Screenshot from 2020-01-22 07-03-47](https://user-images.githubusercontent.com/51879687/72869546-f2fbff80-3ce5-11ea-9e04-4ec3ac40ade3.png)
![Screenshot from 2020-01-22 07-03-55](h

[2020-01-22 06:48] raisedadead commented on #38039
The query string is passed on to the news application. URL is available on the GIF that I sent.

[2020-01-22 10:28] #38090 closed

[2020-01-22 10:55] ndamane commented on #6541
my one is saying You should use two double quotes (") and four escaped double quotes (\").
any help in this would appreciated

[2020-01-22 12:49] AshNaz87 commented on #37921
@ahmadabdolsaheb Has this been fixed?

[2020-01-22 12:58] AshNaz87 commented on #38005
@raisedadead Has this been done?

If not, am happy to submit a PR

[2020-01-22 20:16] QuincyLarson opened #38098 "All certification projects should show up on profile after cert claimed"
It's currently possible to claim a certification without your certification projects not being public.

Whenever someone claims a certification, their certification project URLs should be publicly visible to reduce the ease with which someone can cheat. (We will catch cheaters eventually, but the faster the better.)

Certification project links should all be visible if they've claimed a certificat

[2020-01-22 22:16] RandellDawson commented on #38098
@QuincyLarson On a related note, is there a way to query the database to find all users' projects used to claim certifications?  I have been thinking about a way to create a validation script that would go through each project url submitted and validate each user's projects pass the current tests.  Obviously, there is a cutoff date (you will need to tell me what that is) for projects that can be t

[2020-01-22 23:10] ojeytonwilliams commented on #38095
Thanks. Is there anything in the dev console?

[2020-01-23 00:35] RandellDawson commented on #37760
@beaucarnes Any update on this?

[2020-01-23 07:13] ahmadabdolsaheb commented on #37921
@AshNaz87, there is one pr for the magnifying glass but not a completed solution yet, and there is nothing for the font.

Feel free to submit your solution or to the add the the following pr.
https://github.com/freeCodeCamp/news-theme/pull/87

[2020-01-23 08:10] ojeytonwilliams commented on #37898
I don't see the problem any more:
![image](https://user-images.githubusercontent.com/15801806/72966812-15624b80-3dc0-11ea-946e-92dbd7f308e4.png)

[2020-01-23 08:10] #37898 closed

[2020-01-23 09:00] Fi1osof commented on #37967
@LarryHu0217 I have tried

[2020-01-23 10:16] scissorsneedfoodtoo commented on #38039
@raisedadead, we deployed the updated theme to News, so you shouldn't be able to enter a long string there and hit the search results page. Once the fix to Learn is deployed you won't be able to pass long strings with no hits to News like in the GIF.

[2020-01-23 16:02] ggroshansii opened #38103 "Freecodecamp.org not working on Chromium (linux browser)"
freecodecamp.org is not working on linux using the Chromium browser.  Chromium is the most popular browser on linux distributions and it would be great if FCC was available on it. Thank you for looking into this issue.

[2020-01-23 16:50] RandellDawson commented on #38103
Closing in favor of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/38095.

@ggroshansii Feel free to add more details of what you mean by "not working" on the issue mentioned above.

Thank you.

[2020-01-23 16:50] #38103 closed

[2020-01-23 17:23] Mashley1 opened #38104 "Issues in "Jazz Up Your “ZSH” Terminal In Seven Steps — A Visual Guide""
When trying to change to the homebrew version of zsh it would not allow me to do so until I had added /usr/local/bin/zsh to the /etc/shells file. I did this by using the command below.
<pre><code>sudo sh -c "echo $(which zsh) >> /etc/shells" && chsh -s $(which zsh)</pre></code>

Here is the page with the problem, https://www.freecodecamp.org/news/jazz-up-your-zsh-terminal-in-seven-steps-a-visual-g

[2020-01-23 17:27] RandellDawson commented on #38104
@Mashley1 GitHub is for reporting issues with the actual freeCodeCamp.org site and not articles written by contributors.  Please contact the author of the article via the twitter link at the bottom of the article.

Thank you.

[2020-01-23 17:27] #38104 closed

[2020-01-23 17:39] ahmadabdolsaheb commented on #38071
@raisedadead,  @ojeytonwilliams was able to fix it locally by making a serve.json file in the public directory using the config you shared above and serving it using zeit serve.

I am not sure where we are using the config to serve client on azure, but would it be possible that the config is not getting applied or it is getting overwritten?

[2020-01-23 17:47] raisedadead commented on #38071
You mean the VM, hosting the PM2 processes. Yes it has a config and it is version controlled as well.

[2020-01-23 19:18] Mashley1 commented on #38104
I tried to put this in the freecodecamps forum but got told that it was the wrong place and I had to do it here, now I am told this is the wrong place 😤😤 feels like I am on the phone to my insurance company 😂😂. I have no idea how to get in touch with the individual contributor as they seem to have no contact or email address in the site (or I can't find it anyway)

[2020-01-23 19:47] ojeytonwilliams commented on #38095
Finally checked this myself and, yep, you can't sign in on Chromium.  Trying to sign in leaves you on https://api.freecodecamp.org/signin with the 502 error @SagirGarba showed above. Some sort of routing issue, I guess, but I have no idea why it's only Chromium.

I've checked Chrome, Brave and Firefox and none of them have the problem.

cc: @raisedadead

[2020-01-23 20:38] RandellDawson commented on #38104
@Mashley1 As I said in my previous reply, the author has a twitter link at the bottom of the article.  I would start there.

[2020-01-23 20:42] Mashley1 commented on #38104
Would be easy if I had a Twitter account. Tried to help :/

[2020-01-23 20:51] RandellDawson commented on #38104
@Mashley1 I was able to make the change.  It appears the typo was on the original article published on Medium.

In the future, you should be able to make such a request under the [Contributors forum category](https://www.freecodecamp.org/forum/c/contributors/).  If anyone gives you trouble, you can tell them I said it was fine.

Thank you for helping to make the article better.

[2020-01-23 20:55] Mashley1 commented on #38104
Thanks 👍

[2020-01-24 00:44] andrescaroc opened #38106 "Broken Links in FCC news/about"
**Describe the bug**
When you click the link, it doesn't load the expected page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/news/about/
2. Click on text 1: browse our alumni network on LinkedIn here.
or text 2: one of the hundreds of companies
3. Both url text, links to the same linkedIn page: https://www.linkedin.com/school/4831032/alumni/
4. LinkedIn

[2020-01-24 02:19] NhatTanVu commented on #38106
Seems that some editor might need to edit those pages in news Ghost.

[2020-01-24 03:04] RandellDawson commented on #38106
@andrescaroc Are you sure the Alumni link should not be linking to https://www.linkedin.com/school/free-code-camp/people/?

[2020-01-24 09:02] ahmadabdolsaheb commented on #37783
It seems like we could display the Paypal button regardless of authentication?

[2020-01-24 09:59] scissorsneedfoodtoo commented on #38106
Thank you for reporting this @andrescaroc. I've gone ahead and updated those links in Ghost. As @RandellDawson mentioned, I believe that link should point to https://www.linkedin.com/school/free-code-camp/people/ like it does in the footer.

Cc @QuincyLarson to confirm that all these links are pointing to the correct pages.

[2020-01-24 10:02] #38106 closed

[2020-01-24 10:27] ahmadabdolsaheb commented on #38106
I was not able to reproduce this.
I visited the about page editor and got the following links for the following texts.

companies
https://www.linkedin.com/school/free-code-camp/people/

linkedin
 https://www.linkedin.com/school/free-code-camp/people/

There might have been changes since this issue was created.  could you please confirm that you still have this issue? if not please go ahead and clo

[2020-01-24 11:01] raisedadead commented on #37783
I would like to track the donations, and be able to use it to display motivational and thanks messages on user profile like we plan to.

[2020-01-24 15:24] andrescaroc commented on #38106
I have checked the links again and they work fine right now.

[2020-01-24 15:58] QuincyLarson commented on #38106
Note: There are two freeCodeCamp pages on LinkedIn - a tiny LinkedIn group (which I should probably delete because it's confusing) and a much larger alumni group here: https://www.linkedin.com/school/4831032

This https://www.linkedin.com/school/4831032 is what we should link to.

[2020-01-24 18:03] brillout opened #38111 "Add REST, GraphQL, and RPC to curriculum?"
Hi!

API creation is something many beginner do wrong.

For example, nowadays, many default to GraphQL although creating ad-hoc express routes is most of the time just fine. GraphQL is nice and it's good to know about it but it shouldn't be the default choice.

There are many valuable lessons to teach in this area.

Would adding REST, GraphQL, and RPC to freeCodeCamp's curriculum be of interest?

[2020-01-24 18:12] RandellDawson commented on #38111
The current curriculum would not incorporate them, but the [next version of the curriculum (a project based approach)](https://github.com/freeCodeCamp/CurriculumExpansion), might want to have some of these types of projects.

Feel free to open an issue on the repo referenced above, to see if it gains any traction.

[2020-01-24 18:12] #38111 closed

[2020-01-24 18:30] QuincyLarson commented on #38106
@scissorsneedfoodtoo Thanks for updating these links.

[2020-01-24 18:33] brillout commented on #38111
Oh, didn't know about it, thanks & I will.

[2020-01-24 19:04] LarryHu0217 commented on #37967
@Fi1osof  Check the vision if it is satisfied  with the contribution guideline's requirement.

[2020-01-24 20:53] andrescaroc opened #38112 "Bad redirection in Build a Product Landing Page"
**Describe your problem and how to reproduce it:**
Go to: Responsive Web Design Certification
Then: Responsive Web Design Projects
Then: Build a Product Landing Page
Find this: "User Story #12: When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered and that it posted succes

[2020-01-24 20:58] RandellDawson commented on #38112
@raisedadead Why is this trying to redirect to news?

[2020-01-24 22:29] kerolloz opened #38113 "broken link on readme"
academic honesty link in readme doesn't work and redirects to 404 page

[2020-01-25 01:53] RandellDawson commented on #38113
@raisedadead What should the correct link be for this?  The contributor made a PR to replace it to `https://www.freecodecamp.org/news/academic-honesty-policy/`, but why is this link under news?  Shouldn't it be under the main site?

[2020-01-25 05:20] TechQuery opened #38115 "Show Local Communities to Users"
## Is your feature request related to a problem?
As a **Local Community organizer** (work in [ChengDu, China](https://fcc-cd.tk/) for 3 years), I found that many **Online Users** don’t know there is a **FCC local community** in their city, let alone contact us.

## Describe the solution you'd like
We may show a list of **nearby FCC communities** to online users based on their **IP addresses** (req

[2020-01-25 05:35] too commented on #38115
how about a small backend for it? or is there one already?

[2020-01-25 05:35] scissorsneedfoodtoo commented on #38043
Carrying on the conversation from https://github.com/freeCodeCamp/freeCodeCamp/pull/38016, the plan is to target tables in `.challenge-instructions` so those in `#description` and `#instructions` are styled.

I'll start working on a PR to update the markdown table styles and converts the HTML tables in the first 100 Project Euler problems to markdown.

[2020-01-25 19:57] RandellDawson commented on #38071
Any progess on this.  This is a huge bug.  When people post a link to these challenges on the forum, we can not go to the challenge.  Instead, we have to open up the learn site, find the curriculum section and  click on the challenge manually.

Thanks

[2020-01-26 05:17] fmoya89 opened #38116 "Need help installing FCC locally on linux mint."
Hello. I have been following the instructions to try and install FCC locally on my computer for offline use. I have downloaded all the prerequisites no problem. But I'm stuck at step 1 and have no clue what the directions are telling me to do. I'm pretty new to linux so that doesn't help. But this is the only machine available to me. Thank you for any support!

I tried following the Docker build i

[2020-01-26 05:54] andrescaroc opened #38117 "Project Euler: Problem 2: Typo in formula"
**Describe your problem and how to reproduce it:**
Go to: Project Euler: Problem 2: Even Fibonacci NumbersPassed Challenge
Then: Get help -> Get a hint
New browser tab is open at: https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-problem-2-even-fibonacci-numbers/301838
Find: "Problem Explanation"
Find:A fibonacci sequence is a sequence where fib(n) = fib(n-1) + fib(n-1).
Watch out

[2020-01-26 10:00] dotEsuS opened #38118 "Tests for project completion not working"
**Describe your problem and how to reproduce it:**
It is currently possible to pass all tests with any random link. It doesn't even have to be a glitch link.
Try facebook.com or github.com and all tests will pass.
I've only tested this with the apis and microservices projects.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microserv

[2020-01-26 14:14] ahmadabdolsaheb commented on #38113
@RandellDawson, all org pages have been moved the news.
@kerolloz, thanks for bringing this to our attention.  This change should be handled from Nginx where we handle our redirects. I will take care of this at the beginning of the week.

[2020-01-26 17:06] raisedadead commented on #38071
Please share the config.

[2020-01-26 17:25] raisedadead commented on #38118
This is known and expected behaviour. The submitted links are public and available on the user profile when certifications are issued and made public.

Anyone sharing their certs with others with such links will get flagged by community and this is covered under the honor based academic honesty policy.

Thanks a lot for your report.

[2020-01-26 17:25] #38118 closed

[2020-01-26 17:27] raisedadead commented on #38116
Please reachout to [contributors chat room](https://gitter.im/FreeCodeCamp/Contributors). The awesome people their will sort you :)

[2020-01-26 17:27] #38116 closed

[2020-01-26 18:31] raisedadead commented on #38039
Quick follow up, is there anything that is preventing us from deploying?

[2020-01-26 18:35] raisedadead commented on #38071
Fix deployed to production.

[2020-01-26 18:35] #38071 closed

[2020-01-26 18:36] raisedadead commented on #38112
@ahmadabdolsaheb @scissorsneedfoodtoo please investigate.

[2020-01-26 18:51] #38005 closed

[2020-01-26 19:17] RandellDawson commented on #38117
@andrescaroc Thank you for pointing out the typo.  I have since corrected the typo in that Guide solution.

[2020-01-26 19:17] #38117 closed

[2020-01-26 19:26] RandellDawson opened #38119 "Forum hint/solution topics' challenge back links not working"
I am not sure when it started, but all the back links to the challenges from the forum hints/solutions Guide topics, no longer work.  They all redirect to https://freecodecamp.org.  For example, go to [this topic](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-storing-values-with-the-assignment-operator/18310) and click on the top link titled **Storing Values with the Assignment

[2020-01-26 19:38] RandellDawson commented on #38119
**Update:**  I was thinking there might be an outstanding issue for this already (but could not find one), but I also notice, you can no longer go directly to a challenge anymore regardless if you click from the forum or type in the url to the browser address bar.

[2020-01-26 21:43] snigo commented on #38024
Technically this is still destructuring:
[code]
I think you explicitly need to point out that a swap should be done in one operation and therefore this should fail:
[code]

[2020-01-26 22:41] iangilman commented on #36626
I have this issue too. Unfortunately I don't think I can contribute a solution, but I thought I'd add a few thoughts.

For starters, the reason I want it is that I'm mentoring a student going through the challenges, and I want to be able to go back over the completed challenges and discuss alternate possibilities with them. Having the completed code stored on the challenge page would be ideal for

[2020-01-27 00:25] snigo opened #38121 "Two identical challenges in Basic HTML and HTML5"
**Describe your problem and how to reproduce it:**

We have identical [Uncomment HTML](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/uncomment-html) and [Comment out HTML](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/comment-out-html) one after another in Basic HTML and HTML5 section.

Screenshot:
<img width="577" alt="Screenshot 202

[2020-01-27 00:37] RandellDawson commented on #38121
The challenge instructions are different.  Also, the challenge seed is different.

[2020-01-27 02:34] AryanJ-NYC opened #38122 "URLs Are All Forwarding to Homepage"
**Describe the bug**
I clicked https://www.freecodecamp.org/learn/front-end-libraries/front-end-libraries-projects/build-a-pomodoro-clock. I was brought to the freeCodeCamp homepage instead of the Pomodoro clock spec page.

**To Reproduce**
Steps to reproduce the behavior:
1. Click https://www.freecodecamp.org/learn/front-end-libraries/front-end-libraries-projects/build-a-pomodoro-clock
2. Realize

[2020-01-27 04:49] #38119 closed

[2020-01-27 04:49] #38122 closed

[2020-01-27 04:50] raisedadead commented on #38122
Thanks for reporting. I have updated the config.

[2020-01-27 04:50] raisedadead commented on #38119
Thanks for reporting, I have updated the config.

[2020-01-27 06:52] xiaocheng-master commented on #38119
it is great

[2020-01-27 11:00] snigo commented on #38121
Uncommenting 3 elements vs uncommenting 2 elements and leaving 1 commented looks extremely similar to me, clearly last one supersedes the first one.

Additionally, challenge seed should not start with `h1` and `p` elements already commented out as it contradicts the task

[2020-01-27 11:25] snigo opened #38123 "Add support for British version of gray"
**Describe your problem and how to reproduce it:**
As per [this forum post](https://www.freecodecamp.org/forum/t/deaclaring-a-variable-in-css/344859) we need to add support for British `grey` in [Basic CSS: Create a custom CSS Variable](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/create-a-custom-css-variable) challenge as it's totally valid.

Also test regex might be slightl

[2020-01-27 14:56] RandellDawson commented on #38123
The instructions tell the user the value to accept, so there is no need to change the tests.

[2020-01-27 15:17] scissorsneedfoodtoo commented on #38113
@kerolloz, thank you for catching this and for creating a PR. We decided to handle this with an NGINX redirect in case there are some other links that need to be updated. Going to https://www.freecodecamp.org/academic-honesty/ should now redirect to https://www.freecodecamp.org/news/academic-honesty-policy/.

[2020-01-27 15:17] #38113 closed

[2020-01-27 15:23] scissorsneedfoodtoo commented on #38095
Thank you for bringing this to our attention @SagirGarba, and for looking more into this @ojeytonwilliams.

Turns out this was a problem with the way NGINX handles really long SSO URLs with some browsers like Chromium. @ahmadabdolsaheb and I pushed a fix using the settings mentioned here: https://stackoverflow.com/questions/3704626/nginx-502-bad-gateway-error-only-in-firefox/3710649

@SagirGarba,

[2020-01-27 15:23] #38095 closed

[2020-01-27 15:41] moT01 commented on #38123
I agree with Randell, it explicitly says to use "gray" - what about the hex and rgb values of gray? I don't think we need accommodate for any of these when it says exactly what to use.

[2020-01-27 15:49] moT01 commented on #38121
I don't think there's a problem here. A single challenge that is a little redundant isn't a big deal. I do think they could be better, but you could probably say the same for most of the challenges. Did you have something better in mind @snigo? I wouldn't be opposed if you wanted to improve them, but I don't think it's necessary.

[2020-01-27 15:53] moT01 commented on #38098
Seems like a good way to test the projects already existing in the database @RandellDawson. But after that, I would think it would be best to test the projects when they get submitted and not when they claim a cert.

[2020-01-27 16:55] scissorsneedfoodtoo commented on #38112
This is interesting. http://www.freecodecamp.com redirects to https://www.freecodecamp.org correctly, but https://www.freecodecamp.com redirects to https://www.freecodecamp.org/news/ as @RandellDawson pointed out.

[2020-01-27 22:28] andrescaroc opened #38125 "Learn Sass: Use @if and @else to Add Logic To Your Styles (¿Broken test?)"
**Describe your problem and how to reproduce it:**
Go to: https://www.freecodecamp.org/learn/front-end-libraries/sass/use-if-and-else-to-add-logic-to-your-styles

My code is the following:
`<style type='text/sass'>
  @mixin border-stroke ($val) {
    @if $val == light {
      border: 1px solid black;
    }
    @else if $val == medium {
      border: 3px solid black;
    }
    @else if $val == heav

[2020-01-27 23:17] RandellDawson commented on #38125
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

FYI - You have a typo that is causing your issue.

[2020-01-27 23:17] #38125 closed

[2020-01-28 06:36] scissorsneedfoodtoo commented on #38039
@raisedadead, sorry for the delay in deploying. We just got access to the client VM to clear out the old builds. We'll do that later today and get all these changes out.

[2020-01-28 07:02] raisedadead commented on #38039
Great, thanks for confirming. Apologies I have added the keys to the VMs a couple days ago. I missed letting you know.

I have also cleared the older builds. You should be able to simply run a build.

Thanks.

[2020-01-28 07:07] scissorsneedfoodtoo commented on #38039
No worries man. Thank you for adding our keys. We should have checked to see if we had access yet.

We're just about to go in now and run a build.

[2020-01-28 09:35] raisedadead commented on #37970
Hi @sch-xiv we have recently moved around our servers to newer locations. Can you confirm if this is still the case? If not, can you close the issue.

[2020-01-28 11:04] ahmadabdolsaheb commented on #38115
That was the original plan, then we updated our community directories to implement that.
It turned out a large number of our facebook communities were not updated and most of the activity were in community management  websites such as meetup.

When meetup introduced fees,  we started an open source community management tool called chapter. https://github.com/freeCodeCamp/chapter

I would think if

[2020-01-28 13:21] scissorsneedfoodtoo commented on #38112
@ahmadabdolsaheb and I updated the config to handle this earlier today. Both http://www.freecodecamp.com/email-submit and https://www.freecodecamp.com/email-submit should now redirect properly.

The only issue now is that .com URLs without www. or a sub domain do not redirect properly. So while https://www.freecodecamp.com/email-submit works, https://freecodecamp.com/email-submit does not.

We wil

[2020-01-28 13:21] #38112 closed

[2020-01-28 13:23] scissorsneedfoodtoo commented on #38039
This fix has been deployed. The problem in the gif above should no longer be possible on https://www.freecodecamp.org or https://www.freecodecamp.org/news.

[2020-01-28 13:23] #38039 closed

[2020-01-28 14:18] RandellDawson commented on #38112
@scissorsneedfoodtoo Thanks for resolving this.  I have a slightly unrelated question regarding this project.

Is it just me, or should we remove the last part of the last sentence (since the static link does does confirm anything?  What about rewording to the following?

[2020-01-28 14:33] scissorsneedfoodtoo commented on #38112
@RandellDawson, that looks much better, and also won't give the impression that we're testing whether or not any data actually gets sent to that URL. The way that user story currently reads it does seem like https://www.freecodecamp.com/email-submit is an API endpoint.

[2020-01-28 14:33] digitalhriday commented on #17615
<h2 style= "color: red;"">CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <div>
    <p>Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>Top 3 things cats hate:</p>
    <ol>

[2020-01-28 14:34] digitalhriday commented on #17615
<h2 style= "color: red;"">CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <div>
    <p>Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>Top 3 things cats hate:</p>
    <ol>

[2020-01-28 14:42] RandellDawson commented on #38112
I will create a PR.

[2020-01-29 05:05] #17587 closed

[2020-01-29 08:52] ojeytonwilliams commented on #38123
I'd say accept both values.  Someone using the British spelling hasn't misunderstood the challenge. They've taken the time to type an answer, rather than just copy-pasting.  Given that `grey` and `gray` are equivalent in this context, nothing of consequence changes.

[2020-01-29 09:00] snigo commented on #38123
Yes exactly, it’s not a matter of changing instructions, rather the matter of user experience in case they make this valid typo

[2020-01-29 11:36] geist-ahnen opened #38129 "freeCodeCamp Challenge Guide: Render HTML Elements to the DOM **** TYPO ***"
**Describe your problem and how to reproduce it:**
The freeCodeCamp Challenge Guide: Render HTML Elements to the DOM mentions the following method:

Use the Document method getElementByID() to target a specfic node in the DOM

getElemtnByID should be spelled getElementById (lower d)

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-ren

[2020-01-29 14:47] moT01 commented on #38098
I'm trying to figure out what needs to be done here. Currently, the projects are all part of the `timeline`. So they will only be visible if that is public. Wondering if we want to leave it like that, or separate the projects into their own setting.

So without any separation of the projects... if someone goes to claim a cert -> check if timeline is public -> if not -> message "your timeline needs

[2020-01-29 15:26] moT01 commented on #38123
I still don't think it's necessary, but I suppose there isn't any harm in it either. So I'm fine with it either way.

[2020-01-29 16:42] AshNaz87 commented on #38129
@geist-ahnen Think this is an issue with the guide page and not the website itself

[2020-01-29 16:54] RandellDawson commented on #38123
@Manish-Giri @thecodingaviator Can we get your input here?  We have two for and two against allowing "grey" in the test.

[2020-01-29 17:01] RandellDawson commented on #38129
@geist-ahnen Thanks for reporting the typo.  In the future, just create a topic under the `Contributors` category to report issues with the forum guide.  I have corrected the typo, so I am closing this issue.

Thank you.

[2020-01-29 17:01] #38129 closed

[2020-01-29 17:25] thecodingaviator commented on #38123
Instead of checking for grey or gray why not check the rgb of the elements?

[2020-01-29 20:32] blakeburdpy opened #38132 "Syntax Highlighter Issue"
Upon finishing the Beginning JavaScript tutorials and entering the ES6 tutorials, the Syntax Highlighter in Night mode was showing `var` names as black text making code snippets unreadable. The issue was resolved after turning Night mode off and then on again (yes, I know...).

As I thought to do this before I thought to take a screenshot, I have no proof of this behavior. If I am able to duplicat

[2020-01-29 20:37] RandellDawson commented on #38132
Clear your browser's cache for the site and try again.

[2020-01-29 20:42] ArielLeslie opened #38245 "Inconsistent capitalization of buttons"
Most action buttons are capitalized, but not all.
![image](https://user-images.githubusercontent.com/6234475/73395470-d55a0780-429c-11ea-98e8-084849310266.png)
![image](https://user-images.githubusercontent.com/6234475/73395570-02a6b580-429d-11ea-8bcf-5cac0a88c89d.png)
![image](https://user-images.githubusercontent.com/6234475/73396453-9fb61e00-429e-11ea-9937-8f6caebee2ef.png)

[2020-01-29 21:29] RandellDawson opened #38133 "Steamroller challenge solution -"
The following solution is mentioned in the [hints/solutions page](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-steamroller/16079) for the [Steamroller challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller).

[code]

My question is, should we modify the instructions to state the `flat` method should

[2020-01-29 21:37] RandellDawson commented on #38133
The following solution is mentioned in the [hints/solutions page](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-steamroller/16079) for the [Steamroller challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller).

[code]

My question is, should we modify the instructions to state the `flat` method should

[2020-01-29 21:39] RandellDawson commented on #38133
@ojeytonwilliams @moT01 @thecodingaviator @Manish-Giri @ArielLeslie Would be great to have some feedback about my proposal.

[2020-01-29 21:44] ArielLeslie commented on #38133
I agree that the point of this challenge is defeated by using `flat()`.

[2020-01-30 07:30] ojeytonwilliams commented on #38133
I agree too. As for the validation, looking for `.flat(` should suffice, if we say "solutions must not use `Array.prototype.flat()`".

[2020-01-30 10:08] thecodingaviator commented on #38133
+1 to @ojeytonwilliams and @ArielLeslie

[2020-01-30 13:34] ojeytonwilliams opened #38135 "Tests running after navigating away from challenge"
**Describe the bug**
Test continue running after the user has left the challenge

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/find-the-symmetric-difference (any js challenge will do, but this one makes it obvious since it has many tests)
2. Enter
[code]
3. Click 'Run the Tests'
4. Navigate to any other challenge (cl

[2020-01-30 18:36] moT01 opened #38138 "Add 2019 to top contributors profiles"
my profile has this on it...
<img width="588" alt="Screen Shot 2020-01-30 at 12 33 04 PM" src="https://user-images.githubusercontent.com/20648924/73479056-d3f01400-435c-11ea-9d77-e13c2774236d.png">

2019 should be added to it and to the other top contributors profiles. Not sure if that is manually added to the database or what.

[2020-01-30 19:52] moT01 commented on #38037
The pr I made is really a separate issue from this I think. That one has to do with the heatmap accuracy and not the streak accuracy.

I was looking into the streak issue a little, and I think I'm onto something but haven't dug into it too deep.. I think the timestamps are being created with the users local time and saved into the db that way. And the streak is being created based on [UTC time her

[2020-01-30 19:57] LarryHu0217 commented on #37760
I want to do this kind of update, but I am not sure what accurate need to be updated. Could anyone explain more about that. Thanks.

[2020-01-30 20:35] DimplePatel opened #38139 "404 error when clicking on donation dashboard link on the support page"
**Describe the bug**
There is a broken link which leads to a 404 page when clicking on the hyperlink on "a full guide to this donation dashboard" inside the the page titled "Common Technical Support Questions - freeCodeCamp FAQ".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/
2. Click on 'Support' in the footer
3. Click on the hyperlink under the text 'a

[2020-01-30 20:44] DimplePatel opened #38140 "404 error when clicking prototype link for Javascript example"
**Describe the bug**
A prototype link leads to a 404 error on the Javascript example page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/news/javascript-example/
2. Click on the 'prototypes' hyperlink under the section 'JavaScript Class Example'
3. The user is taken to a 404 error page:
https://guide.freecodecamp.org/src/pages/javascript/prototypes/index.m

[2020-01-30 21:27] LarryHu0217 commented on #38013
I used Mac and safari browser to test, and the email is functional well. I wonder if it is a suspected bug that need to be closed.

[2020-01-31 07:12] rishipurwar1 opened #38141 "Error on running npm run develop"
I tried to clone the freecodecamp repository. I followed all the instructions given in the readme. But when I ran the npm run develop it gives me error look like this(Error: Cannot find module 'freeCodeCamp\client\node_modules\@webassemblyjs\wast-parser\lib\index.js'. Please verify that the package.json has a valid "main" entry.
After this error, I installed two npm packages @freecodecamp/challeng

[2020-01-31 07:19] vanya829 commented on #38135
@ojeytonwilliams Hi. I'd like to get this one to fix.

[2020-01-31 07:50] ahmadabdolsaheb commented on #38139
Thanks, we are working on the donation settings.
Meanwhile, we should add a redirect to address this until it is fixed.

[2020-01-31 07:59] ahmadabdolsaheb commented on #38139
@scissorsneedfoodtoo should we redirect this on directly on ghost?

[2020-01-31 08:09] ahmadabdolsaheb commented on #38139
or perhaps remove that sentence until  we get the donations settings back?

[2020-01-31 08:25] ahmadabdolsaheb commented on #38140
I changed the article to point to a working link.
Any idea why this is not working? @scissorsneedfoodtoo

[2020-01-31 08:53] ahmadabdolsaheb commented on #38135
@vanya829, please go ahead with proposing a solution or submitting a pr.

[2020-01-31 09:30] victorWeiFreelancer opened #38142 "Project Euler 39 automated test for n=800 should expect 720"
**Describe your problem and how to reproduce it:**
Project Euler 39 automated test for n=800 should expect 720, which is the correct answer
[ [ 45, 336, 339 ],
  [ 72, 320, 328 ],
  [ 80, 315, 325 ],
  [ 120, 288, 312 ],
  [ 144, 270, 306 ],
  [ 180, 240, 300 ] ]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-39-integer-

[2020-01-31 09:43] victorWeiFreelancer opened #38143 "Project Euler: Problem 31: Coin sums should modify question so that the input is in pennies"
**Describe your problem and how to reproduce it:**
For Project Euler Problem 31
The questions asks "How many different ways can £(n) be made using any number of coins?" but the automated tests actually expect input n in pennies

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-31-coin-sums

**Tell us about your browser and

[2020-01-31 09:56] ojeytonwilliams commented on #38143
Thanks for reporting this, it definitely should be pennies.  PRs are welcome.

[2020-01-31 10:25] ojeytonwilliams commented on #38141
Hi @rishipurwar1, I recommend running through the [troubleshooting tips](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md#troubleshooting), if you have not already.  If `npm run clean` does not work, use `npm ci` then try the commands again.

 However, I'm closing this because Github issues are for tracking problems with the site.  Please ask on th

[2020-01-31 10:25] #38141 closed

[2020-01-31 12:34] ojeytonwilliams commented on #38037
Yeah, but that's always called by this
https://github.com/freeCodeCamp/freeCodeCamp/blob/2f39dd07d66c55d498399a6fc6cfe21e196ebd2f/api-server/server/utils/publicUserProps.js#L69

so, effectively never defaults to UTC, since if it's undefined in the initial call to `getProgress` it's EST for everything else.  I think UTC is a better default, but regardless it should be the same everywhere.

That cou

[2020-01-31 13:23] rishipurwar1 commented on #38141
Ok! Thanks

[2020-01-31 13:31] ojeytonwilliams commented on #38141
No problem.  Good luck!

[2020-01-31 14:23] #38143 closed

[2020-01-31 16:36] ojeytonwilliams opened #38147 "Intermittant CSP problem"
**Describe the bug**
Occasionally I see what looks to be a CSP error in the console:

rn @ (index):1
value @ (index):1
value @ (index):1
value @ (index):1
value @ (index):1
r @ (index):1

**To Reproduce**
As yet, I'm not sure, sorry!  I've seen it a few times, but not consistently.  When I encountered it most recently I was [here](https://www.freecodecamp.org/learn/coding-interview-prep/algorithms

[2020-01-31 18:26] ahmadabdolsaheb commented on #38147
I can confirm that stripe loads on modal and donate page on producttion

[2020-01-31 19:08] piankot commented on #38140
Was checking the same page and found that the hyperlink for "this reference in javascript" under the JavaScript Prototype example is giving the same error now but for https://guide.freecodecamp.org/src/pages/javascript/this-reference/index.md  instead.

[2020-01-31 19:15] weiranwang99 commented on #38140
I followed the instruction of the bug and clicked on the prototype link. It shows the right page. Is this fixed?

[2020-01-31 19:37] LarryHu0217 opened #38148 "404 error when clicking on reference link on JavaScript example"
**Describe the bug**
This is a broken website page when clicking on the hyper line on "this reference in JavaScript"
 this donation dashboard" inside the the page titled "Common Technical Support Questions - freeCodeCamp FAQ".

**To Reproduce**
Steps to reproduce the behavior:
To Reproduce
Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/news/javascript-example/
2. Find ther

[2020-01-31 21:23] fatengh commented on #38140
i think it is fixed

[2020-02-01 10:17] mxschumacher commented on #11514
Hey @erictleung and @KonSal  I believe @AlimacsMusings is on to something.

The explanation in  https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-find-the-symmetric-difference/301611 says that for odd numbers of arrays, elements that are present in all arrays will be part of the Symmetric difference.

In my understanding, this is due to an implementation error: two arrays that incl

[2020-02-01 10:23] mxschumacher commented on #11514
Okay, I also see the discussion here: https://github.com/freeCodeCamp/freeCodeCamp/issues/12598

[2020-02-01 11:06] Hash2C commented on #16869
@raisedadead @RandellDawson
Hi! Any updates on this?
It would be awesome to see some diagrams with the architecture and the data flow (and eventually the associated filenames)

[2020-02-01 16:15] RandellDawson commented on #16869
@Hash2C You can remix the existing Glitch project (shown below) to see and fix the project.

https://glitch.com/edit/#!/fcc-weather-api?path=server.js:1:0

[2020-02-02 04:53] raisedadead commented on #38138
Hi @QuincyLarson do we have all the usernames for the Top Contributors for 2019.

[2020-02-02 04:54] raisedadead commented on #38132
Thanks, I am closing this for now. Please feel free to post some screenshots here and we will re-open.

[2020-02-02 04:54] #38132 closed

[2020-02-02 13:28] a2-zubair opened #38151 "Can’t login to my fcc account using github. Need Help!"
Hi, I can't login to my fcc account using github since yesterday. I also email to support team of fcc. But I don't get any response yet. I'm still facing the problem to login. All four login buttons doesn't working from my browser (I'm using Firefox 72.0.2).

I also try with chrome browser but the problem remain same. I don't know is it a bug or not?. I don't know that am i the only person facing

[2020-02-02 13:35] a2-zubair commented on #38151
The remain like this

![image](https://user-images.githubusercontent.com/6688141/73608964-1df22780-45f3-11ea-9989-3f0ad0af0e3c.png)

I clicked all the buttons but no action happen.

[2020-02-02 14:02] a2-zubair commented on #38151
my web console show me this result.

![image](https://user-images.githubusercontent.com/6688141/73609329-b3db8180-45f6-11ea-911f-bd29f8fe2639.png)

[2020-02-02 16:34] QuincyLarson commented on #38007
Thanks for your patience @RandellDawson. We intentionally don't have a link on News to give people publication information. This is a buffer against would-be corporate spam that plagues more open publishing platforms.

If someone asks you how get published, please just reply with our style guide. If they read it carefully they'll figure out how to apply as an author: https://www.freecodecamp.org/n

[2020-02-02 16:41] #38007 closed

[2020-02-02 16:55] DimplePatel commented on #38140
I have rechecked this and I can confirm it's fixed

[2020-02-02 17:32] #38140 closed

[2020-02-02 17:35] RandellDawson commented on #38140
@raisedadead I closed this issue, because the link does appear to work now.  Should it remain open for another reason?

[2020-02-02 21:30] RandellDawson commented on #38133
OK, anyone want to work on this one?  Just let us know.

[2020-02-03 05:52] huyenltnguyen opened #38153 "Can't access General subforum"
**Describe the bug**
This is probably just a hiccup, but I'm getting the error screen when trying to access the General subforum at the moment. The issue doesn't happen on other subforums.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/forum/
2. Scroll down and click on `General`

**Screenshots**
Error screen

<img width="1260" alt="Screen Shot 2020-02-03

[2020-02-03 10:13] raisedadead commented on #38151
Hi @scissorsneedfoodtoo @ahmadabdolsaheb can you update/check the policy. I think this is a firefox only thing.

/cc @freeCodeCamp/dev-team

[2020-02-03 10:13] raisedadead commented on #38151
@a2-zubair can you try using Chrome and see if the same issue is reproducible?

[2020-02-03 10:44] scissorsneedfoodtoo commented on #38151
@raisedadead, just tried this on Firefox and it's working on my end.

@a2-zubair, are you using any ad blockers? If so, try disabling them or whitelist the sign in page and try again.

[2020-02-03 10:48] hassaanp commented on #38133
Hi,

I would like to take this up.

From what I understand, the scope for this issue is:

1. Add a test to check if the `flat` method was used
2. Change the hint/solution to be more appropriate

Let me know if my understanding is correct.

[2020-02-03 10:54] raisedadead commented on #38151
@a2-zubair I just tested this on the same version of Firefox as you and was unable  to reproduce.

[2020-02-03 12:17] scissorsneedfoodtoo commented on #38139
Thank you for reporting this @DimplePatel.

It seems like @QuincyLarson already changed the wording on https://www.freecodecamp.org/news/support/ and removed that broken link. The text now reads:

"Answer: Just forward one of your monthly donation receipts to team@freecodecamp.org and tell us what you'd like to update your donation or cancel it. We'll take care of this for you and send you confirm

[2020-02-03 12:17] #38139 closed

[2020-02-03 13:22] #38135 closed

[2020-02-03 15:27] RandellDawson commented on #38133
@hassaanp All you would need to do is:

1. Add a test to check if the `flat` or `flatmap` method was NOT used.
2. Change the instructions to indicate the `flat` and `flatmap` are not to be used.

Someone else will take care of removing the solutions on the forum that use the two methods.

[2020-02-03 15:29] RandellDawson commented on #38153
Has this been fixed?  I am not seeing this on my end.

[2020-02-03 15:29] raisedadead commented on #38153
Nope, we are investigating.

[2020-02-03 15:55] margielewski opened #38154 "Rosetta Code: 24 game"
in Test section
 'solve24("1127") should return a permutation of (1+7)\*(1\*2)'
(1+7)\*(1\*2)===16
i think in the second bracket should be '+' :
(1+7)\*(1+2)===24

[2020-02-03 16:09] ojeytonwilliams commented on #38154
@margielewski I just escaped some \*s which were being interpreted as markdown.

[2020-02-03 16:10] RandellDawson commented on #38154
@ojeytonwilliams I don't think it is a markdown issue.

[code]

[2020-02-03 16:26] raisedadead commented on #38153
So far looking at the logs this seems to be coming from the discourse-events plugin:

[code]

But, I am unsure why on the General Category only. Disabling the plugin requires downtime of 20 mins on the forum. Will advise further course.

[2020-02-03 16:30] raisedadead commented on #38151
Hi @a2-zubair I am going to close this for now. But please feel free to continue the discussion here. Once we determine this is not isolated to your system / browser or network and is something that we need to fix in the codebase, we will re-open.

Please get back to us with any additional information.

[2020-02-03 16:30] #38151 closed

[2020-02-03 18:43] a2-zubair commented on #38151
Hi @raisedadead @scissorsneedfoodtoo @ahmadabdolsaheb I sorry for late reply. Yes, I am facing same problem using chrome (Version 79.0.3945.130) browser. Here you can see my web console image

![image](https://user-images.githubusercontent.com/6688141/73679074-e44d1980-46e3-11ea-9fd1-3e805c7f75c2.png)

after clicking sign in button below see image

![image](https://user-images.githubusercontent.co

[2020-02-03 19:37] a2-zubair commented on #38151
Good news!! I can login now!!

![image](https://user-images.githubusercontent.com/6688141/73684628-c507b980-46ee-11ea-9579-7f60fd6545e1.png)

[2020-02-03 20:12] a2-zubair commented on #38151
Thanks to the dev team and support team. 👍

[2020-02-04 01:15] Hash2C commented on #16869
Thanks @RandellDawson, I've been working on it, I hope I can finish a first draft until Thursday

[2020-02-04 01:16] RandellDawson commented on #16869
@Hash2C Take your time to get it right.  This bug has been here quite some time.

[2020-02-04 01:48] moT01 opened #38156 "Font misalignment on intro to managing npm packages"
<img width="682" alt="Screen Shot 2020-02-03 at 7 30 48 PM" src="https://user-images.githubusercontent.com/20648924/73706284-ae953a00-46bd-11ea-96bd-0c571709edff.png">

For some reason, the font changes halfway down this introduction. [The file is here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/pages/learn/apis-and-microservices/managing-packages-with-npm/index.md). I don

[2020-02-04 01:56] moT01 opened #38157 "misalignment on basic node/express intro"
![Screen Shot 2020-02-03 at 7 31 55 PM](https://user-images.githubusercontent.com/20648924/73706698-b6a1a980-46be-11ea-92c0-bf15ecbdfaac.png)

Every other backend intro file looks like this...
<img width="608" alt="Screen Shot 2020-02-03 at 7 31 44 PM" src="https://user-images.githubusercontent.com/20648924/73706722-cae5a680-46be-11ea-86f0-5caab4fbf0a2.png">

It's not a big deal, but I think the b

[2020-02-04 02:00] Hash2C commented on #16869
Thanks @RandellDawson, I'll do my best.
I probably gonna need to know a little bit more about the current constraints.
I read above that we have a limit of 60 hits per minute, which seems to be the free tier in OpenWeather pricing. Is there a way to increase this limit? Like creating other subscriptions to OW? Are there other free "sources of truth" that we could be using along OW?

[2020-02-04 05:41] scissorsneedfoodtoo commented on #38151
#@a2-zubair, glad that you were able to sign in! Thank you for all of those additional details. Those will be helpful in the future if other users have similar issues signing in.

[2020-02-04 07:33] raisedadead commented on #38153
We removed the unused plugins to resolve the errors.

[2020-02-04 07:33] #38153 closed

[2020-02-04 07:35] raisedadead commented on #38148
The link was old and we have since updated the article.

[2020-02-04 07:50] hassaanp commented on #38133
@RandellDawson acknowledged.

Working on a fix.

[2020-02-04 09:20] scissorsneedfoodtoo commented on #38148
I believe this is still an issue, and the link @LarryHu0217 mentioned still points to a Guide article that 404s.

I started the process of porting that article to News. Once it's approved and live, I'll update the link in the https://www.freecodecamp.org/news/javascript-example/ article.

[2020-02-04 10:17] ojeytonwilliams commented on #38154
Closed by #38102

[2020-02-04 10:17] #38154 closed

[2020-02-04 11:11] vanya829 commented on #38156
Hi @moT01 . It looks like the problem caused by HTML tags in the text. I removed them and it looks better. Please check PR.

[2020-02-04 14:42] #38047 closed

[2020-02-04 16:44] RandellDawson commented on #16869
They may also have limits on ip address (not sure), so creating other subscriptions would not help.

No sure.

I am currently developing my own weather project using OpenWeather's free version and I have contemplated just checking if the request is less than 10 minutes from the last request, then show the last returned data for the same lat/lon.

[2020-02-04 17:31] #38156 closed

[2020-02-04 18:51] hchiam opened #38162 "Tests Failing: Data Visualization with D3: Change Styles Based on Data"
https://www.freecodecamp.org/learn/data-visualization/data-visualization-with-d3/change-styles-based-on-data

"The first h2 should have a color of red."

My solution matches the hints, but I think the test is not there/working?

[2020-02-04 18:54] RandellDawson commented on #38162
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-02-04 18:54] #38162 closed

[2020-02-04 20:50] snigo commented on #38121
No, I prefer to let it go... to advanced for me to improve :)

[2020-02-04 20:50] #38121 closed

[2020-02-04 20:53] Sky020 opened #38163 "UI Jittering when scrolling"
**Describe the bug**
Whilst on the forum, using the dark-beta theme, the UI on the page jumps side to side, either when stationary on a specific point, or when scrolling past certain elements.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the forum. Use the beta-theme
2. Click on any post.
3. Scroll up and down using trackpad
4. See GIF

**Expected behaviour**
Obviously, this should