[2019-10-17 13:20] vkWeb commented on #37310
@ahmadabdolsaheb Thanks! Going straight away to fix it.

[2019-10-17 13:24] raisedadead opened #37369 "Show a skeleton loaders on the the `/learn` page"
Show a skeleton loader on the sign in button instead of the full page loader on the learn application:

![image](https://user-images.githubusercontent.com/1884376/67012678-6f8fa880-f10f-11e9-86d3-8a9307115446.png)

This should let users see the page faster than waiting for the sync.

The other things that can be a skeleton are the welcome message

[2019-10-17 15:07] rickysyamsi commented on #37309
Thanks for testing it @ojeytonwilliams :)

I realized about those two points you mentioned when I was working with this issue, I intended to create several new issues about it and another accessibility issue.

Yes the client validation for email settings and internet presence is all over the place and need some improvements. Border color for focus state on input boxes with night mode is also hard

[2019-10-17 15:46] rickysyamsi opened #37373 "Improve client validation for Email Settings & Your Internet Presence in Account Settings"
**Describe the bug**
For `New Email` field in `Email Settings`, error state can not be triggered. Warning state will be triggered when an email address with incorrect domain is entered (for example: `email@example.com.a`).

For all fields in `Your Internet Presence`, both error and success state can not be triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:8000

[2019-10-17 15:49] rickysyamsi commented on #37373
Calling @ojeytonwilliams to discuss this from issue #37309.

What do you think about this? Are there anything to add or change from the **Expected Behavior** I described?

[2019-10-17 16:01] ahmadabdolsaheb commented on #37324
this resolves it #37374

[2019-10-17 16:07] ojeytonwilliams commented on #37373
@rickysyamsi the only thing I'm not sure about is 'unreachable'.  Do you just mean unreachable because the URL is malformed?  Like hppts:/whatever.com, for example.  If so, then I completely agree.

cc @ahmadabdolsaheb

[2019-10-17 16:09] rickysyamsi opened #37375 "Border color change on focus state for input boxes in Account Settings with night mode"
**Describe the bug**
Functionally, there is no problem with distinguishing between normal and focus state because there is blinking cursor when on focus state. Filled fields will also be selected and highlighted with blue color when navigating with keyboard tab.

Aesthetically, there is suggestion from @ojeytonwilliams on issue #37309 to invert the input boxes with dark background and light text i

[2019-10-17 16:17] rickysyamsi commented on #37373
@ojeytonwilliams Yes of course. 'Unreachable' is only defined by malformed email format (@, valid length, etc) and URL format (protocol, colon, double slash, etc).

It is also possible to check the top level domain part against current existing TLD programatically.

Other than that, for example checking real email address which is existing should be done by email confirmation / verification.

[2019-10-17 17:02] ghost opened #37377 "Improve client validation accessibility on success state in Account Settings page"
**Describe the bug**
Somewhat related to issue #37373. When error state or warning state is triggered by client validation, it is displayed with label color change and an error or warning message. But on success state, there is only label color change without success message.

According to WCAG, **only** changing color is not friendly to color blind or partially color blind users. There should be

[2019-10-17 17:03] rickysyamsi commented on #37377
Also calling @ojeytonwilliams for related feedback.

[2019-10-17 17:13] ojeytonwilliams commented on #37377
Thanks for keeping me in the loop, but I think you've covered all I had in mind and a few things I didn't pick up on!

[2019-10-17 17:42] QuincyLarson opened #37378 "Certifications look buggy with new fonts"
Please see below. The text has been shifted around a bit in some aspect ratios. We need to ensure that the text on certifications looks right on all screen sizes:

<img width="1149" alt="_5__freeCodeCamp_org_on_Twitter___We_are_taking_freeCodeCamp_down_so_we_can_deploy_some_major_changes__We_will_be_back_soon__In_the_meantime__our_YouTube_is_up_and_it_has_1_000__coding_tutorials_on_Python__SQL__Da

[2019-10-17 17:59] vkWeb opened #37379 "[Production] 404 on visiting user profiles"
**Describe the bug**
On visiting user profiles, platform throws 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/vkweb or https://www.freecodecamp.org/QuincyLarson
2. 404

**Expected behavior**
The user profile (portfolio) should appear.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 32 bit.
 - Browser: Chrome.
 - Versio

[2019-10-17 18:13] dboydgit opened #37380 "bug: footer shows twice on profile page"
**Describe the bug**
When on the profile page in development, the site footer shows twice at the bottom of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit profile page and view footer

**Expected behavior**
Footer should only appear **once.**

**Screenshots**
![Screenshot from 2019-10-17 12-14-33](https://user-images.githubusercontent.com/24216368/67035867-bd88ba00-f0d7-11e9-

[2019-10-17 19:29] ojeytonwilliams commented on #37380
This is development only artifact, it'll never appear in production.  As I understand it the reason it happens is that Gatsby creates a custom 404 page (with it's own footer) into which it inserts the real 404 page (with the expected footer).  Unfortunately, that means that things like footers and headers appear twice.

It's annoying, but you can always build the site to check that the site is beh

[2019-10-17 19:46] #37380 closed

[2019-10-17 19:48] raisedadead commented on #37379
It's a slow query, will be resolved with #37321

[2019-10-17 19:48] #37379 closed

[2019-10-17 19:57] raisedadead commented on #37241
Elaborate?

[2019-10-17 19:58] #37242 closed

[2019-10-17 19:58] QuincyLarson commented on #37340
We could change the font size of this. Then it would be visually distinct from the other items in this list.

[2019-10-17 19:59] #37108 closed

[2019-10-17 20:00] #36992 closed

[2019-10-17 20:09] #17803 closed

[2019-10-17 20:11] dboydgit commented on #37378
Can I get steps to reproduce? I can't see this on my dev build with any screen size.

[2019-10-17 20:31] ojeytonwilliams opened #37381 "Backend project submission fails quietly"
**Describe the bug**
When a backend project is submitted it does not send the solution or Github urls and is rejected, silently, by the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to localhost:8000/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker
2. Enter valid urls into Solution and Github Link
3. Click "I've completed this challenge"
4. Click "Su

[2019-10-17 23:00] arianneghislainerull commented on #37332
Thank you so much for sharing this information!

[2019-10-18 00:19] hannahapuan commented on #37375
i'll take this one

[2019-10-18 00:24] laurameck commented on #37377
Taking a look, can I be assigned to this?

[2019-10-18 05:32] shakti97 opened #37386 "Validating Search bar content before making request"
How to reproduce?
      Go to the search bar , press space and hit enter, you will see the loading starts and it makes request for searching which should not be there until and unless some content is there in the search bar.

I would like to work on it if its needed

[2019-10-18 05:34] shakti97 commented on #37369
Would like to work on it

[2019-10-18 08:41] ojeytonwilliams opened #37387 "Stripe iframes stack up"
**Describe the bug**
As you move between challenges Stripe iframes are added to the page, but are never removed.  I'm not sure how serious this is, but it seems like a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
2. Open dev console, scroll to the bottom
3. There should be t

[2019-10-18 11:28] thecodingaviator commented on #37369
@shakti97 Please read our [contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) before working on it and feel free to take it up

[2019-10-18 11:40] thecodingaviator commented on #37386
I cannot reproduce this. You're talking about the search bar on the top left. Right?

[2019-10-18 12:07] ahmadabdolsaheb commented on #37387
moving from the challenge back to the map also adds an iframe.
tested locally

[2019-10-18 12:24] moT01 commented on #37378
I can't reproduce this either. Although on one load of the above cert, I did get the date with a dark font color...
<img width="877" alt="Screen Shot 2019-10-18 at 7 20 31 AM" src="https://user-images.githubusercontent.com/20648924/67093673-d21c8f00-f177-11e9-8fd5-de29787b56cd.png">
But I couldn't reproduce this a second time.
Seems like maybe some of the intended css isn't getting applied intermi

[2019-10-18 12:38] scissorsneedfoodtoo commented on #37387
Unfortunately this seems to be a longstanding issue with Stripe and SPAs: https://github.com/stripe/react-stripe-elements/issues/99.

[2019-10-18 12:39] akshaydeep06 commented on #37387
I would like to work on this if no one is working. Should I proceed ?

[2019-10-18 12:54] akshaydeep06 commented on #37387
I think I will drop on this because I don't have prior knowledge of REACT.

[2019-10-18 13:23] ojeytonwilliams commented on #37387
@scissorsneedfoodtoo thanks for finding that!  Maybe we can clean up after Stripe, then.  How about just using `document.querySelectorAll('iframe[name^="__privateStripeController"]')` to grab them and then remove them?  All of that would be in `componentWillUnmount()`

[2019-10-18 13:24] scissorsneedfoodtoo commented on #37387
Awesome, I was thinking the same thing. I can whip up a PR right away. Mind if I tag you for review once it's ready?

[2019-10-18 13:26] ahmadabdolsaheb commented on #37378
@moT01, hmm.
it seems like a theme related issue.
all colors in the certificate should come from
:root {} in the variables.css

[2019-10-18 13:38] ojeytonwilliams commented on #37369
@raisedadead how about we get rid of all the full page loaders we can?  If they're there, then the HTML page Gatsby produces will just be a loader and so the user won't be able to see anything useful until the page hydrates.  I think `/donate/` could lose the loader as well - not sure about the rest.

The way I see this working is that the sign-in button would be a loader only while the user state

[2019-10-18 15:12] raisedadead commented on #37369
Hold on to your thought. I really like the idea of what you are saying, we are making some changes (yet again) to the views of the pages.

[2019-10-18 15:30] ahmadabdolsaheb commented on #37369
@raisedadead, would you like a skeleton loader on learn to display custom copy and button to signed in / non signed in users?

[2019-10-18 15:46] raisedadead commented on #37369
Yes, the full page loader at the minute gives the impression that we are slow (well we are technically) but if the pages were rendered, people would continue working.

[2019-10-18 17:21] #37107 closed

[2019-10-18 18:15] codingride commented on #37386
Search bar value needs to be trimmed before being submitted.
Example:
`value.trim()`

[2019-10-18 21:36] QuincyLarson opened #37395 "We need slightly more whitespace under alert banner"
When you sign in or change an option on settings, you get an alert banner up top. It could be a little thinner so it doesn't cut so close to the body elements
<img width="1420" alt="Learn___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/67129866-59442400-f1c5-11e9-9bb8-458060d44795.png">

[2019-10-18 21:40] QuincyLarson opened #37396 "Sign in page buttons and OPT confirm button need cursor:pointer"
When you mouse over the signin buttons on freecodecamp.org/signin the buttons do not show the pointer cursor. They just show the default cursor.

These buttons should show the cursor pointer like all the other buttons on freeCodeCamp.

[2019-10-18 21:41] ahmadabdolsaheb commented on #37395
should we go all the way?

<img width="1198" alt="Screen Shot 2019-10-19 at 12 39 56 AM" src="https://user-images.githubusercontent.com/4591597/67130133-1c9a1c00-f209-11e9-925b-a92d97f0d373.png">

[2019-10-18 22:48] #37310 closed

[2019-10-19 05:06] vkWeb commented on #37209
Resolved with #37189.

[2019-10-19 13:22] iit2018110 commented on #37340
We can indent the list belonging to same category. And make change in font style
Like this way:-
**Certifications:**
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"> _Responsive Web Design_</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">_JavaScript Algorithms and Data Structures_</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">_Front End Libraries_</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

[2019-10-19 14:43] raisedadead commented on #37395
The layout element needs to be pushed below the notification. Currently it overlays on top of it.

[2019-10-19 15:00] DimaTc opened #37398 "Escape key unfocuses the editor when not meant to."
**Describe the bug**
When trying to exit the multi cursor function (Ctrl + D) with the escape key, the editor loses focus. before the update, it worked fine.
(happens also when trying to deselect a selected text, but can be deselected using the arrow keys instead)

**To Reproduce**
Steps to reproduce the behavior:
1. Select a word or a character.
2. Press Ctrl + D until you've selected the desired

[2019-10-19 15:32] thecodingaviator opened #37400 "Display something other than sign in if already signed in"
Even when a user is logged in if they go to freecodecamp.org, they see this:
![image](https://user-images.githubusercontent.com/34807532/67147568-b0c0bd80-f2b3-11e9-9de8-b4afcbb5e403.png)

This should be replaced by something. Most likely the challenges page, IMHO.

[2019-10-19 15:36] thecodingaviator commented on #37398
With the change in the functionality of navigating challenges using `Esc`, I believe this has come about. You can snap out of multi-cursor by clicking somewhere on the editor.

What can be done is that we use `Ctrl + D` to snap out of the mode as well.

I'll now defer to @raisedadead

[2019-10-19 15:38] thecodingaviator commented on #37377
@laurameck please pick this up if @ojeytonwilliams hasn't already done so

[2019-10-19 15:41] thecodingaviator commented on #37378
Since we're dealing with formatting and whitespace of certificates here, should we not center this to the page?
![image](https://user-images.githubusercontent.com/34807532/67147731-05b10380-f2b5-11e9-8d9f-08b3d5335392.png)

[2019-10-19 15:47] ojeytonwilliams commented on #37377
Nope, I haven't had chance.  Don't hesitate on my account.

[2019-10-19 16:04] DimaTc commented on #37398
That could work too.

The ```ESC``` key is such a generic key that everyone uses it to cancel tasks, message and all kinds of stuff.

The change of the navigation key may cause confusion and discomfort when trying to deselect text or to hide the autocomplete pop-up window (maybe in more situations that I didn't think of).

[2019-10-19 16:27] moT01 commented on #37378
Is it not already centered @thecodingaviator? I'm not sure what you are referring to.

So I think I figured out how to reproduce my issue. The date gets the dark font when you open a cert in a new tab or go to the URL through the address bar. But gets the correct font when you just open the cert in the current tab from the portfolio page. Can anyone else check this?

[2019-10-19 16:29] ojeytonwilliams commented on #37398
Thanks for reporting this, looks like I should not have gone with `escape`!

How about `ctrl+escape`? Does that conflict with anything you can think of?

[2019-10-19 16:53] DimaTc commented on #37398
```ESC``` is pretty heavily used...

- ```CTRL + ESC``` as you said opens the start menu.

- ```ALT + ESC``` some kind of  ```ALT + TAB``` in windows (also ```CTRL + ALT + ESC```)
- ```SHIFT + ESC``` is the chrome's task manager.
- ```CTRL + SHIFT + ESC``` - windows task manager.
- ```ALT + SHIFT + ESC``` - does something in windows, I don't know what but it changes focus.

Mmm, Maybe ```CTRL + N`

[2019-10-19 17:44] thecodingaviator commented on #37378
I’m referring to vertical centring. See the white gap between the end of the certificate and where the browser ends

[2019-10-19 18:14] ojeytonwilliams commented on #37398
Thanks for ruling those out.  Seems like all the obvious ones are taken.

Overriding default behaviour can be frustrating, we'd want to consider that carefully.  It may be better to go with a slightly obscure key combination that does not conflict with any browsers.  `CTRL + ~` seems safe, though.  Another option is `ALT + N`, which is more intuitive, but has some (fairly minor) conflicts.

Firefo

[2019-10-19 18:36] ojeytonwilliams commented on #37381
I was wrong about the 'silently' part.  On the .dev site you can see that there is, briefly, a message warning you that the server is not being updated
![SubmissionDev](https://user-images.githubusercontent.com/15801806/67149770-4e61c000-f2a7-11e9-87bc-0ab4792b05a4.gif), but that gets wiped out when the new page loads.

[2019-10-19 22:15] vkWeb commented on #37398
@ojeytonwilliams shift + n? Looks safe to me: https://en.wikipedia.org/wiki/Table_of_keyboard_shortcuts

[2019-10-19 22:38] ojeytonwilliams commented on #37398
@vkWeb that's just uppercase 'N', so sadly not.

[2019-10-19 23:38] vkWeb commented on #37398
@ojeytonwilliams Woaah, shit 🤣 I totally forgot that the editor is focused.

[2019-10-20 05:14] shakti97 commented on #37386
yes, should i send a short video
issue is: until and unless there is no content in the search bar there should be no making of request for searching,

[2019-10-20 05:15] QuincyLarson opened #37403 "Donate page crashes upon credit card submission"
Steps to reproduce:
1. Go to https://www.freecodecamp.org/donate
2. Enter your credit card information and hit submit
3. The transaction will not go through (won't show up in Stripe) and you'll get a blank page like this:

<img width="1427" alt="Support_our_nonprofit___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/67155130-b972bd00-f2ce-11e9-97a5-8210f6482982.png">

[2019-10-20 05:20] shakti97 commented on #37396
Should I work on this?

[2019-10-20 06:51] ahmadabdolsaheb commented on #37387
Also if this is caused by the donation modal. we are not using it for now.

[2019-10-20 07:03] MathewtheCoder commented on #37400
Is this fixed ? If not i did like to take this up ?

[2019-10-20 07:18] thecodingaviator commented on #37386
Please send in a GIF, I'm not sure what you mean.

[2019-10-20 07:19] thecodingaviator commented on #37400
@MathewtheCoder please wait while we get some input from @freeCodeCamp/moderators

[2019-10-20 07:35] MathewtheCoder opened #37406 "Integrating react hooks into our curriculum."
**Is your feature request related to a problem? Please describe.**
React hooks is the biggest addition to React in the recent years and it's fairly evident that it's going to be their main focus from now on. Most people are switching from class components to functional components because of the power React hooks provide. So it's surprising that we haven't integrated react hooks into our curriculum

[2019-10-20 08:06] ahmadabdolsaheb commented on #37403
reproducible on master
[code]

[2019-10-20 08:51] gareth-d85 opened #37408 "Basic JavaScript: Replace Loops using Recursion"
**Describe your problem and how to reproduce it:**
I can't get the challenge to pass even when I use the solution from the get a hint page.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion

**Tell us about your browser and operating system:**
* Browser Name: firefox
* Browser Ve

[2019-10-20 09:01] MathewtheCoder commented on #37386
I was able to reproduce this issue. Please see the below gif.
![Oct-20-2019 14-26-27](https://user-images.githubusercontent.com/10682672/67157161-0a71c800-f346-11e9-9e8a-e0b8ed45ff3a.gif)

[2019-10-20 09:49] rickysyamsi commented on #37408
I can reproduce this with same Firefox version. On latest Chrome, it is working well.

[2019-10-20 09:58] raisedadead commented on #37403
I am aware of this issue, working on it.

[2019-10-20 10:01] raisedadead commented on #37400
The landing page intentionally is the way it is to load it instantly.

It does not have much wiring to user state. We will soon be replacing this page completely with a feed from news for all users.

The only area that the user state would show different pages will be `/learn` for which we have a PR in the works.

[2019-10-20 10:02] #37400 closed

[2019-10-20 10:04] gareth-d85 commented on #37408
ok, so I can get it to work in chrome. but still not in firefox for me.

[2019-10-20 10:05] raisedadead commented on #37381
Can you re-confirm this. I just want to rule out our earlier outage, and that we need to update the template on boilerplate with the `api.freecodecamp.org` as a CORS allowed origin. I think a recent issue came up about this, @RandellDawson can you help in digging through the issues on what it was and if it is related.

[2019-10-20 10:19] MathewtheCoder opened #37410 "Profile page - GIthub icon background color not covering whole icon on hover"
**Describe the bug**
When we hover over the github icon in profile page. The background color is not covering the  entire icon on hover.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to profile page.
2. Hover over the github icon below profile image
3. The background colour will not cover the icon on hover.
![image](https://user-images.githubusercontent.com/10682672/67157991-427e0880-f

[2019-10-20 10:44] MathewtheCoder opened #37412 "Profile page - Timeline - Pagination"
**Is your feature request related to a problem? Please describe.**
Currently we display almost all the completed challenges in the timeline which means for some users they have to scroll a lot to reach the footer.

**Describe the solution you'd like**
1) implementing pagination on the time line would make the profile page look more compact. Displaying max of 10 or 20 per page would be nice.
2) I h

[2019-10-20 10:56] raisedadead commented on #37412
We can have pagination on the react view itself.

Honestly as of now, there is not much need in pagenating it on the API side. While we could, its simply an overkill.

All the API returns is a map of completed challenge id hashes and timestamps. These are light enough to compute rest of rendering related needs which is already available on the client application.

Feel free to create a PR, to mock

[2019-10-20 10:58] raisedadead commented on #37410
Confirmed. Thanks for reporting. A PR is welcome.

[2019-10-20 10:59] #37403 closed

[2019-10-20 11:00] MathewtheCoder commented on #37412
@raisedadead I also felt putting it on the API would be overkill. Okay I will create a PR with a pagination on the react view only.

[2019-10-20 11:01] #37373 closed

[2019-10-20 11:05] ahmadabdolsaheb commented on #37396
@shakti97, go ahead please.

[2019-10-20 12:07] shakti97 commented on #37386
yes, please see the above gif @thecodingaviator

[2019-10-20 12:17] raisedadead opened #37415 "Weird wrap around on completed progress"
![image](https://user-images.githubusercontent.com/1884376/67159392-980ee100-f361-11e9-9fd5-14550beb1bc6.png)

[2019-10-20 13:23] floookay commented on #37415
Hi, this could be resolved by removing the width of the `.map-title-completed`-class. Should I do that and create a PR?

[2019-10-20 13:36] thecodingaviator commented on #37386
Oh, okay. I was missing something before.

[2019-10-20 13:42] shakti97 commented on #37386
@thecodingaviator I have sent a pr, have a look on that :)

[2019-10-20 13:46] raisedadead commented on #37386
@scissorsneedfoodtoo please check and see if we need to update this on the news?

[2019-10-20 13:47] raisedadead commented on #37415
You should check locally if the fix will have any unintended side effects, of course a PR is welcome. Thanks.

[2019-10-20 14:26] floookay commented on #37415
I changed the `width` to `min-width` so the progress reports still align on mobile screens.

[2019-10-20 14:30] moT01 commented on #37408
Seems like a bug with firefox - I get this this error...
<img width="357" alt="Screen Shot 2019-10-20 at 9 13 36 AM" src="https://user-images.githubusercontent.com/20648924/67160924-362b8880-f31b-11e9-9cc2-ac117d34da26.png">
`s` should be a valid flag.

So that's why the solution passed our tests, but is failing in firefox. This will be a problem anywhere else we used the `s` flag. Fortunately, it

[2019-10-20 14:48] moT01 commented on #37386
Is this really a problem? So it searches for a space. I'm not against fixing this, but I'm not sure if it's better or worse. You can put a space in google search and it will search - you don't get any results, but you can search.

While taking a look at this, I did notice that the search on the main page will bring up suggestions when you put a space in the search - but on the news page, putting a

[2019-10-20 15:14] moT01 commented on #37381
Looks like it's still a problem. But it was not at one point. The last project on my portfolio was submitted September 29, 2018 - so it was working at that point.

On further digging - nothing is showing up in the timeline. I tried a few of each type of challenge. They can be submitted and counted as completed, but do not show up on the timeline.

The backend projects are the only ones that seem t

[2019-10-20 16:38] ojeytonwilliams commented on #37386
I do not think this is a bug; it's a feature that we should keep. It allows you to see an unfiltered list of news articles without having to navigate away unless you want to.

As Tom said, it's not ideal that news's search behaves differently, but the behaviour discussed here is more useful.

[2019-10-20 18:12] JuWeber99 commented on #37346
any update on this? is @GQuirino working on it?

[2019-10-20 18:18] JuWeber99 commented on #36327
@raisedadead is there any update on this? if not i whould like to try to fix this since robert didn't update this :)

[2019-10-20 18:31] raisedadead commented on #37386
Thanks @moT01 and @ojeytonwilliams for weighing in. I'll defer to your opinions and close this.

[2019-10-20 18:31] #37386 closed

[2019-10-20 19:43] suran1 commented on #7122
Hello There,
please help me. I am unable to login. I got issue below in screen shot. Thanks
<img width="1082" alt="Screen Shot 2019-10-20 at 2 27 10 PM" src="https://user-images.githubusercontent.com/22460501/67165151-33468d00-f347-11e9-886f-668879e6102f.png">

[2019-10-20 19:43] vkWeb opened #37425 "[Production] "Academic honesty accepted" looks like a button"
**Describe the bug**
When we accept the academic honesty policy and hover over the text, it feels like a button. The cursor should be auto.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page
2. Make sure you have accepted academic honesty policy
3. Hover over "you have accepted academic honesty" button

**Desktop (please complete the following information):**
 - OS: Wind

[2019-10-20 19:53] ahmadabdolsaheb commented on #37381
I can reproduce this on the current master and on production.

[2019-10-20 19:58] moT01 commented on #37340
I'm not sure I like either of these solutions - it seems like it might just make a user ask themselves something like: "what's with that last one?" - And not be quite clear enough that it is not a cert. What about something a little more specific...

**Certifications:**
&nbsp;&nbsp;<a href="#"> _Responsive Web Design_</a>
&nbsp;&nbsp;<a href="#">_JavaScript Algorithms and Data Structures_</a>
&nbs

[2019-10-20 20:08] rubenvar opened #37426 "Code Editor in challenges does not scroll in Firefox"
**Describe the bug**
When viewing any challenge in Firefox, I can scroll in the instructions/theory part of the window, but the scrolling does not work in the code editor. I have tried with an external mouse as well as with the Trackpad in my Mac.

In the same computer and with the same devices it works perfectly using Chrome.

**To Reproduce**
1. Go to any challenge.
2. Try to scroll inside the c

[2019-10-20 21:14] dboydgit commented on #37378
I put in a pull request to center the certificates vertically on large screens. @moT01 I can't reproduce your font color issue. New tab and navigating with URL both show the correct font color for me.

@raisedadead I also can't reproduce the font offset in the first screenshot. So I don't think there is anything else that can be done on this issue unless someone can reproduce these.

[2019-10-20 21:44] Manish-Giri commented on #37408
Open bug report on Bugzilla about the `s` flag - https://bugzilla.mozilla.org/show_bug.cgi?id=1361856

Doesn't look like it will be implemented anytime soon.

[2019-10-20 23:22] evandroabukamel commented on #37425
We can make this button disabled, no? I tried it and it seems good.

[2019-10-21 00:23] paoga87 commented on #37215
Need help with the Spanish version? Let me know

[2019-10-21 03:12] Taotaojin commented on #37209
thanks

[2019-10-21 07:17] scissorsneedfoodtoo commented on #37381
@raisedadead, I can take a look at the example projects and boilerplates to make sure `api.freecodecamp.org` is allowed as an origin.

[2019-10-21 07:18] raisedadead commented on #37378
I am not very sure as well, could be some specific device or viewport size. Will check with the OP to test this.

Thanks for the PR.

[2019-10-21 07:22] raisedadead commented on #37381
Yup, @scissorsneedfoodtoo please test one of the projects and see if it works, which may mean we needing to do something fancy about these.

[2019-10-21 07:24] scissorsneedfoodtoo commented on #37386
@raisedadead, on News we're using https://github.com/algolia/autocomplete.js/blob/master/README.md for the search bar. Like @moT01 and @ojeytonwilliams mentioned, it's unfortunate that it behaves differently. There may be a way to simulate this over on News, though.

[2019-10-21 08:08] ahmadabdolsaheb commented on #37387
Additionally, although the modal does not mount, its script gets executed which it should not be.

[2019-10-21 08:15] scissorsneedfoodtoo commented on #37381
@raisedadead, I've checked a few projects and those that have CORS settings all have `app.use(cors({origin: '*'}));`. I've tried explicitly allowing `api.freecodecamp.org` and disabling Helmet and CORS wherever possible, but still get the same error.

[2019-10-21 08:54] raisedadead commented on #37381
Okay, need to investigate then.

[2019-10-21 09:10] ojeytonwilliams commented on #37381
I think the forms may not be sending the URLs in the first place. Well, the server is complaining because it isn't getting them.

[2019-10-21 12:41] #37109 closed

[2019-10-21 12:41] #36654 closed

[2019-10-21 12:42] raisedadead opened #37434 "Check and renew auth sessions"
- [ ] Implement `webAuth.checkSession` for generating the token.

[2019-10-21 12:52] moT01 commented on #37426
I've noticed this for quite a while - but I don't recall if it was present before the latest redesign.

[2019-10-21 13:04] moT01 opened #37435 "should reset progress undo honesty acceptance?"
I reset my progress on a secondary account of mine to test something, and noticed that the honesty policy is still accepted. Wondering if we should undo that when progress is reset.

[2019-10-21 13:12] raisedadead commented on #37435
No, I do not this that is required.

[2019-10-21 13:12] #37435 closed

[2019-10-21 13:17] raisedadead commented on #37425
Please feel free to make a PR..

Here are the lines that you probably need to touch:

https://github.com/freeCodeCamp/freeCodeCamp/blob/aa62fdbfe98f872785f792108c6d55582da7e12d/client/src/components/settings/Honesty.js#L20-L30

- [ ] The panel can be a button and disabled.
- [ ] We would need some tests for these as well.

Thanks.

[2019-10-21 13:17] raisedadead commented on #37425
Please follow our [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md)

[2019-10-21 13:37] raisedadead commented on #37279
Hi @ojeytonwilliams I am closing this having landed two of the linked PRs. Both are available for test on .dev and will be reaching production within the hour.

Please re-open if this re-surfaces.

[2019-10-21 13:37] #37279 closed

[2019-10-21 14:37] #37415 closed

[2019-10-21 15:12] ArielLeslie commented on #37426
This is definitely new with the update.

[2019-10-21 15:45] tmoss0 commented on #37426
Having the same issue as you @ArielLeslie

Might take a dig in the code/inspector and see what's up.

[2019-10-21 15:46] evandroabukamel commented on #37425
Sure, I'll do it as soon as I can, after work.

[2019-10-21 16:23] lasjorg commented on #37426
It looks like a possible bug with the monaco editor (we are using monaco-editor": "^0.17.1")
https://github.com/Microsoft/monaco-editor/issues/1353

I confirmed the bug locally first and I then updated to the latest version of monaco `0.18.1` and the scroll works again in Firefox. So it has been fixed.

I'm just not sure how involved it is for us to update the editor?

[2019-10-21 16:35] raisedadead commented on #37426
@lasjorg Thanks for digging into this and finding the updates.

I think we should be able to update monaco-editor itself which we have as a dep:

https://github.com/freeCodeCamp/freeCodeCamp/blob/073ea9a4ef68e0e4381e5ac011edda582c659dce/client/package.json#L43

But the issue right now is to confirm if react-monaco-editor is going to play along as well:

https://github.com/freeCodeCamp/freeCodeCamp

[2019-10-21 18:06] Blueyo12 commented on #37426
I am also experiencing this problem after the update.

    MacOS 10.14.6

    Firefox 69.0.3

    Both external mouse with a scroll wheel and Macbook Pro trackpad cannot scroll the code window however Chrome and Safari browser does not have this problem.

[2019-10-21 18:15] lasjorg commented on #37426
@raisedadead I was able to update `react-monaco-editor` to both `0.30.2` and `0.31.0`.

I updated react-monaco to 0.18.1 and react-monaco-editor to 0.31.0, did a few challenges locally and didn't see any immediate issues from the editor update.

A PR would just be a chore update to package.json and package-lock.json correct?

[2019-10-21 18:17] raisedadead commented on #37426
Thanks for reporting, please use the voting feature instead of confirming further.

We know this is a confirmed bug, more so in an underlying library that we have little control over. We are working on a solution. Keeping the thread free for solutions will help.

[2019-10-21 18:18] raisedadead commented on #37426
Yes please. You are the rockstar.

[2019-10-21 19:39] #37426 closed

[2019-10-21 21:12] lasjorg commented on #36590
@beaucarnes Is it possible to get this video updated?

[2019-10-21 22:27] worl4125 opened #37452 "Forum Login Issue"
When attempting to log into my forum account, I get the error message:

"You can't log in as <username> from that IP address." (see screen shot below)

![image](https://user-images.githubusercontent.com/19894000/67247366-28ffbe00-f42f-11e9-8612-814071b1a2e4.png)

This occurs across all browsers that I have (Firefox, Chrome, and Edge). All browsers are up to date. Clearing the cache and history som

[2019-10-21 23:05] raisedadead commented on #37452
Hi @worl4125

Thanks for reporting. Yes, you are correct.

We recently moved over our servers to a newer infrastructure with the new platform roll out earlier last week. As a consequence, your IP addresses are masked by our CDN servers from the forum.

During the peak usage, this means the forum sees this as too many sign in requests from the same IPs, a clear false positive.

As of now this is a

[2019-10-21 23:10] kishore-devaraj commented on #37425
@raisedadead I went ahead and created a PR for this, along with unit test. Hope it's fine.

[2019-10-21 23:22] raisedadead commented on #37452
Temporarily updated the message to be less cryptic for users:

![image](https://user-images.githubusercontent.com/1884376/67250106-c38beb80-f487-11e9-90fa-01ce3cba749b.png)

[2019-10-21 23:44] LuosRestil commented on #37452
Just read this with the same issue, and I see that the sign in error message should be changed, but I'm still getting the same "You can't log in as ****** from that IP address."

[2019-10-21 23:56] raisedadead commented on #37452
Do you still the message after a reload of the forum? That message could be cached.

[2019-10-22 01:12] mkamri opened #37456 "All challenge progress lost"
When I logged in this morning, all progress on all challenges has been lost. With a quick google search it said to sign out to begin to fix the problem, but I cannot find a sign out button anywhere. I can't even find account settings.

Steps to reproduce the behavior:
1. Click 'Sign in and get started (it's free)
2. All progress has been lost.

No link to account, sign out, anything:
<img width="6

[2019-10-22 02:08] LuosRestil commented on #37452
I just tried again after reloading, and this time I was allowed to log into the forum, so I can’t confirm whether the message has changed. Thanks for following up!

[2019-10-22 03:04] CodeFay commented on #37456
Hi Mkamri, please try these steps:

1. Click Portfolio in top Right.
2. Click "Update my Settings"
3. The second button on the top should be "Sign me out of freecodecamp"

Or you can try clicking the link that the button in step 3 links to: https://www.freecodecamp.org/signout

[2019-10-22 03:35] nicknabdullah opened #37457 "Can't login for the last few days"
I'm trying to login for the last 3 days, using my google/github account but everytime getting the message:

I've tried clearing cache/cookies/incognito. But nothing is working. Also getting the same error when starting a project task.

![image](https://user-images.githubusercontent.com/13465486/67257769-48d6c680-f4af-11e9-8288-4c16cc3032f6.png)

[2019-10-22 05:37] QuincyLarson commented on #36535
We are now live and there wasn't any more detail here, so I'm going to go ahead and close this issue.

[2019-10-22 05:47] vkWeb commented on #37456
@ahmadabdolsaheb This issue is interesting. Actually, this hints that something isn't right with the UX we are trying to deliver with settings nav. If @mkamri can't find settings page then there must be many who might struggle a bit as well. I'm not saying they won't find the settings page. They'll eventually click on portfolio and find the settings page but it'll be "by chance". We need to keep t

[2019-10-22 07:19] ahmadabdolsaheb commented on #37456
@vkWeb, you are correct.
the top navigation will be shared across all of our apps, so we need to make the nav items universal and not app specific. we are working on ways to modify the in app contextual navigation to make the UX more intuitive.

[2019-10-22 07:21] raisedadead commented on #37456
We can assure you none of your progress is lost, chances are you got into a different user (probably new) user account than you intended to. User accounts are tied to an email, that is received by us from either Facebook, Google, GitHub or the Email that you enter on the sign in page.

If this email is changed on the social provider you will end up in a different account.

I recommend you try anot

[2019-10-22 07:21] #37456 closed

[2019-10-22 07:23] raisedadead commented on #37457
Hi @nicknabdullah

Chances are you have a duplicate account. Please email me `mrugesh@freecodecamp.org` and I will try and get this resolved for you.

[2019-10-22 09:34] cinziaa commented on #37457
Hi @raisedadead
I've the same issue. I've tried revoking and granting access with Github and login with email and Google, but nothing.
I hope you solve it soon. Thanks

[2019-10-22 10:22] mikehaart commented on #37452
I had the same problem 18 hours ago but managed to circumvent the issue by using opera's free VPN. Oddly enough that is also blocked now and I'm getting the same message.
<img width="505" alt="Screenshot 2019-10-22 at 11 21 32" src="https://user-images.githubusercontent.com/17619758/67277238-49c32480-f4be-11e9-820c-b7f821b8eeae.png">

[2019-10-22 11:50] #37425 closed

[2019-10-22 15:49] ojeytonwilliams commented on #37378
The problems that @moT01 pointed out:

were not addressed in https://github.com/freeCodeCamp/freeCodeCamp/pull/37427, so this should not have been closed.

[2019-10-22 15:51] moT01 commented on #37378
Can anyone else reproduce that? or Quincy's issue?

I can still reproduce mine on production, but not locally.

[2019-10-22 15:59] raisedadead commented on #37378
I will have a build pushed to dev within the hour. Would you like your user record there for testing?

[2019-10-22 16:05] moT01 commented on #37378
Sure

[2019-10-22 16:11] raisedadead commented on #37378
Okay let's do a before and after, I am have added your user record to .dev, and will let you know again on this thread when I have pushed a build.

[2019-10-22 16:14] #37369 closed

[2019-10-22 16:18] ojeytonwilliams commented on #37378
I can reproduce it on production. I haven't had chance to do locally, but my guess is you'll need to build the client to see it.

[2019-10-22 18:28] raisedadead commented on #37378
The changes have now landed in production as well. Can you check?

[2019-10-22 18:48] #37408 closed

[2019-10-22 18:50] #37340 closed

[2019-10-22 20:06] ojeytonwilliams commented on #37378
@raisedadead it's something to do with client-only routes.  If you build the client and then use `netlify dev` to serve it, you see the problem Tom found.   For some reason you get a 404 for the cert route and it loads, but the `body` gets `class="light-palette"` and so the certificate renders incorrectly. Everything works as expected when using `gatsby serve`.

[2019-10-22 21:00] #34699 closed

[2019-10-22 21:16] #37241 closed

[2019-10-22 21:17] #37321 closed

[2019-10-22 21:38] alex-parra commented on #37381
Hi everyone!
I've been facing this for about a week or so. Tested yesterday and today (just now) and it's still the same.
For me it's at submitting the Issue Tracker project.
Tests pass but after clicking Submit and go to next project, the request to https://api.freecodecamp.org/internal/project-completed fails with status 403, body is just 'Forbidden' and payload has only `{id: "587d8249367417b2b

[2019-10-22 23:12] mkamri commented on #37456
Thank you all for your replies. I was able to use the "Update My Settings" button to sign out, then I signed in using the email that used to be connected to my github. Thanks!

[2019-10-23 00:52] Ajwerth commented on #37346
I could look into this if @GQuirino isn't anymore. I'm actually trying to run **gatsby develop** and it errors out with **Error: Cannot find module '../config/env.json**

[2019-10-23 07:23] ahmadabdolsaheb commented on #37346
Thank you everyone for your interest.

There have been some changes with the navigation, so this issue might be nonexistent.
I will go ahead and close this issue for now.

Feel free to re open this issue if you think it was closed by mistake.

Thank you

[2019-10-23 07:23] #37346 closed

[2019-10-23 09:55] #37387 closed

[2019-10-23 09:56] #37375 closed

[2019-10-23 12:19] rickwalking commented on #37395
Can I work on it?

[2019-10-23 12:39] raisedadead commented on #37395
Yes please. Note the the notification should be shorter in height and should also be "injected" in-between the nav and the layout instead of overlaying.

[2019-10-23 13:01] #37396 closed

[2019-10-23 16:05] #17593 closed

[2019-10-23 16:11] moT01 opened #37480 "LinkedIn icon only displays when logged in to your own account"
Add a URL to the linkedIn input in your settings

When viewing while logged in to your account...
<img width="208" alt="Screen Shot 2019-10-23 at 11 05 37 AM" src="https://user-images.githubusercontent.com/20648924/67412761-7c842000-f585-11e9-8762-8bb27bcdc27b.png">

Not logged in to your own account...
<img width="195" alt="Screen Shot 2019-10-23 at 11 05 33 AM" src="https://user-images.githubuse

[2019-10-23 16:17] RandellDawson opened #37481 "Missing test case for the Positive and Negative Lookahead challenge"
Per the discussion in the following forum topic, a new test case should be added which should fail if
a password like “8pass99” which has more than 6 characters long and has 6 consecutive characters.

https://www.freecodecamp.org/forum/t/regex-look-aheads/323407/3

@ArielLeslie has already corrected the [forum hint/solution topic for the challenge](https://www.freecodecamp.org/forum/t/freecodecamp

[2019-10-23 16:58] FullBinaryAlchemist commented on #37481
@RandellDawson I would like to work on this issue. https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.english.md
This is the link containing this problem , right? So I just need to modify `Tests` and add the above test case "8pass99" test case to it ?

[2019-10-23 17:14] RandellDawson commented on #37481
@FullBinaryAlchemist Yes, but please make sure to run `npm run test:curriculum` locally or use GitPod  before creating the actual PR.  This will validate your changes do not break anything.

[2019-10-23 21:14] themagicbean opened #37489 "Examples in lookahead are unclear."
The explanation and examples are not clear.  Better would be:

Explanation, from https://www.stefanjudis.com/today-i-learned/the-complicated-syntax-of-lookaheads-in-javascript-regular-expressions/:

Positive and negative lookaheads:

x(?=y) – positive lookahead (matches 'x' when it's followed by 'y')
x(?!y) – negative lookahead (matches 'x' when it's not followed by 'y')

Updated example to show d

[2019-10-23 21:37] themagicbean commented on #35979
If the instruction is "concessions for middle names," then the test is bad because (Franklin D.|Eleanor) will pass the test (just did, Oct 23 2019 2:37 pm) even though the middle initial is hard-coded.

[2019-10-23 22:17] raisedadead commented on #37489
Duplicate of #37481 ? Re-open if unrelated.

[2019-10-23 22:17] #37489 closed

[2019-10-24 00:20] ilobo22 commented on #17584
I used github to do the "Basic Node and Express" tutorial but when I gave it my link, it always gave me a 404 error message even though I submitted the raw JSON and checked my answers online. If you checkout the following users in the thread, anku255 and unicorn93, they provide a solution to the problem. However, this only worked for the "Managing packages with npm" tutorial but not the Node and E

[2019-10-24 02:58] elbaz1701 opened #37491 "did the Survey test change?"
did you guy change the survey test? if so is their a way to do it with the old code I'm almost done and now I have to start from scratch.

[2019-10-24 07:44] scissorsneedfoodtoo opened #37493 "Merge project based curriculum ports for testing"
There are currently two projects from the upcoming [project based curriculum](https://github.com/freeCodeCamp/CurriculumExpansion) that have been ported to the current platform:

- [Functional programming spreadsheet](https://github.com/freeCodeCamp/freeCodeCamp/pull/36873)
- [CSS skyline](https://github.com/freeCodeCamp/freeCodeCamp/pull/36854)
- [JS RPG game](https://github.com/freeCodeCamp/free

[2019-10-24 11:14] raisedadead commented on #37381
@ojeytonwilliams you were correct.

Contributors,

The forms are not sending the links to the API and the validation checks on the API reject the calls as 403

I have created a PR which will send a json response to make this less cryptic on the XHR response. Doesn't fix the issue, but better for debugging.

Now, coming to the client:

1. We need to look into the redux wiring and understand why its

[2019-10-24 11:24] ahmadabdolsaheb commented on #37381
we are on it.

[2019-10-24 12:14] thecodingaviator opened #37495 "Warning modal when user changes username"
At the moment, a user can change their username just with the click of the button. This simplifies the process but introduces unintended consequences one of which I could think of is that their certificate verification links would be invalidated.

A modal or at least a warning should be displayed there.

[2019-10-24 15:03] #37381 closed

[2019-10-24 15:41] ghanhass opened #37502 "modals are unscrollable"
Hello.
I noticed that the modals containing the user solution of the resolved corresponding certification challenge are not vertically scrollable when they should be so.

A .modal{overflow:auto} css rule should be added in the main stylesheet file of freecodecamp or the user-settings-section's one (if there is any), so modals become scrollable when they are full of text that they stretch beyond th

[2019-10-24 17:35] raisedadead commented on #37495
We don't need a modal. We would prefer the validation message to say it so.

[2019-10-24 20:00] dimalapeto opened #37516 "Install and Set Up Mongoose - the right way to connect Mongoose"
Lesson - https://freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose

In this lesson you should Install and Set Up Mongoose. Setting up Mongoose in the .env file you should keep in mind, that url to your MongoDB must be saved as STRING. Check it in [docs](https://mongoosejs.com/docs/connections.html).
If you save it as:
`MONGO_URI=mongodb+srv://admin:6813

[2019-10-24 20:55] zcarroll4 opened #37517 "Items are getting clipped off top of screen when viewing my portfolio"
**To Reproduce**
Steps to reproduce the behavior:
1. Click Learn Button
2. Click View My Portfolio
3. See error

**Issue**
If you navigate to your portfolio page, the items at the top of the screen will be getting clipped.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/38516457/67524433-b127d280-f67e-11e9-8178-880bd8

[2019-10-24 21:00] #17386 closed

[2019-10-24 21:02] raisedadead commented on #37517
Thanks for your report, closing duplicate of #37395

[2019-10-24 21:02] #37517 closed

[2019-10-25 18:00] RandellDawson opened #37534 "Need to explicitly declare variables in the JSON APIs and Ajax challenges"
While [helping a user on the forum](https://www.freecodecamp.org/forum/t/json-apis-and-ajax-code-passes-but-browser-doesnt-show-result-on-click/323947) on the [Get JSON with the JavaScript XMLHttpRequest Method](https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) challenge, I realized that even thought the user's code passed

[2019-10-25 18:51] moT01 commented on #37493
If anyone wants to see them now, they could just check out the branch.

[2019-10-26 01:35] bobmatyas opened #37553 "File Metadata Microservice Instruction Inconsitencies"
The File Metadata Microservice project as part of the APIs and Microservices projects has inconsistent instructions.

On the freeCodeCamp project URL:

https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice

There are two user stories:

- I can submit a FormData object that includes a file upload.
- When I submit something, I will recei

[2019-10-26 11:22] ibahas opened #37564 "I'v Problem in my charts . using charts.js"
**### I want to amplify the line in my charts.**

index.html ...
`<!doctype html>
<html>

<head>
	<title>Line Chart Multiple Axes</title>
	<script src="./Chart.min.js"></script>
	<script src="utils.js"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	<

[2019-10-26 13:50] dawnpeace opened #37568 "Bug webpage freezes when running a test"
I'm doing some practice at the link below but when I pressed "Run The Test" button the webpage froze

https://www.freecodecamp.org/learn/responsive-web-design/basic-css/understand-absolute-versus-relative-units

* Browser Name: Firefox
* Browser Version: 70.0
* Operating System: Linux Mint 18.3 (Sylvia)

![Screenshot from 2019-10-26 20-05-33](https://user-images.githubusercontent.com/22929784/6762

[2019-10-26 14:31] turnonsync commented on #37568
When it happens: The issue happens if the test isn't done correctly, that is, if the padding of **.red-box** is not equal to **1.5em**. If you set the padding to anything other than **1.5em** or don't set the padding at all, the page freezes with some process running on an infinite loop probably (my laptop's fan started to turn on full speed).

Can be reproduced on the following browsers:

- Brows

[2019-10-26 18:30] moT01 commented on #37564
When you create an issue, it asks you to describe the problem and steps to reproduce. This is just a huge block of code - and from the little bit of info you did provide, it seems like it might be just a request for help and not an issue with freeCodeCamp. Please describe the issue better.

[2019-10-26 18:30] #37564 closed

[2019-10-26 18:37] HumbleAssassin opened #37570 "Console Behavior in Javascript lessons."
![Untitled](https://user-images.githubusercontent.com/35361381/67624312-1d056900-f840-11e9-8389-daf632b53f8e.png)
![Untitled1](https://user-images.githubusercontent.com/35361381/67624313-1d056900-f840-11e9-8f70-ebeb16ddac89.png)

**Reporting about Console Behaviour in Javascript Challanges in freecodecamp.org**
The console behavior has changes after the update. It is no more showing the live previ

[2019-10-26 18:39] macengr opened #37571 "We cannot reach the server to update your progress."
**Edited by @moT01:**
## Anyone coming here with this issue should read through this, or specifically [go to this comment](https://github.com/freeCodeCamp/freeCodeCamp/issues/37571#issuecomment-547288864) and send an email.
<hr>

**Describe your problem and how to reproduce it:**

I've been trying to submit several projects for a week and I get the subject message.

**Add a Link to the page with t

[2019-10-26 20:35] RandellDawson commented on #37570
You can use your browser's console to view the result of console.log statements.

[2019-10-26 21:58] nandumoura commented on #37571
i have the same problem

[2019-10-27 03:49] HTML-CODDER commented on #9748
One of your radio buttons should have the value attribute of indoor.
One of your radio buttons should have the value attribute of outdoor.
One of your checkboxes should have the value attribute of loving.
One of your checkboxes should have the value attribute of lazy.
One of your checkboxes should have the value attribute of energetic.

[2019-10-27 03:49] HTML-CODDER commented on #9748
I need a help with this codes guys, please help

[2019-10-27 03:59] perezvon commented on #37568
Definitely a regex issue -- pasting it into regex101.com results in catastrophic backtracking. My first guess is the capture group `(\s|.)*?` just goes to infinity, happy to take a closer look.

[2019-10-27 05:17] dawnpeace commented on #37568
I already made sure I put the padding with 1.5em within the read-box css class

[2019-10-27 08:09] turnonsync commented on #37568
Then there might be another issue, but when I tested, the issue only happened when the padding wasn't equal to 1.5em. If it was equal to 1.5em, the test passed and the modal with the save progress and go to next challenge came up and worked correctly.

[2019-10-27 12:40] RandellDawson commented on #9748
@HTML-CODDER Please use [our forum](https://www.freecodecamp.org/forum) for help with the coding challenges.

Thank you.

[2019-10-27 13:17] thecodingaviator commented on #37571
I haven't been able to reproduce the issue. Can both of you please check again? If the issue is still there, try checking your browser's proxy config and network settings in general

[2019-10-27 13:23] RandellDawson commented on #36715
@moT01 Can this be closed now?

[2019-10-27 15:17] moT01 commented on #36715
Fine with me if you want @RandellDawson, although there will probably be future changes to challenges where hints will need updating - this might be a good place to track them. But you're the one who has been keeping those up to date I think so if you think it's not needed...

[2019-10-27 15:17] #36715 closed

[2019-10-27 15:19] moT01 commented on #37571
Thanks for reporting this @macengr. It looks like this has been fixed and is waiting to be pushed to production. See https://github.com/freeCodeCamp/freeCodeCamp/issues/37381 for more info. We can close this since it has been resolved.

[2019-10-27 15:24] moT01 commented on #37570
You can also see the logs when you run the tests.

[2019-10-27 15:55] RandellDawson opened #37577 "Small bug in the Create a Hash table challenge"
**Describe your problem and how to reproduce it:**
The Create a Hash table challenge has a bug in the 2nd to last test (see below):
[code]
The problem is if the user's code calls the `hash` function more than once, then the the `called` variable will be greater than 3.  [This forum topic](https://www.freecodecamp.org/forum/t/having-trouble-with-create-a-hash-table-challenge/324284) shows an exampl

[2019-10-27 16:12] HumbleAssassin commented on #37570
Ya ,the workarounds are going well I see this change after the update. Live preview of console refreshing after few second was really helpful for me n other learners who still cannot write the whole snippet with confidence that it sure will work. Additionally it would have helped better in case I try to play with the code.

[2019-10-27 17:04] macengr commented on #37571
I'm not sure why you closed this because I am STILL unable to submit my projects. It's been over a week now. I've seen multiple people reporting this problem and it always ends the same way - oh, we fixed it, closed. It's not fixed until it works for the user.

[2019-10-27 17:07] macengr commented on #37571
Please see the comment I just left on 37571. It is most definitely NOT
resolved.

On Sun, Oct 27, 2019 at 11:28 AM Tom <notifications@github.com> wrote:

[2019-10-27 18:45] moT01 commented on #37571
The reason this can be closed is because the issue has been fixed on our development environment. We don't need open issues for something that is fixed. I just verified that it is fixed locally. I'm not sure when the next time the code will be added to the live site will be; but once it is added, you will be able to submit your projects normally. Thanks.

[2019-10-27 19:10] macengr commented on #37571
No, still not working. My original data is the same (1st post). 3:09 PM EST 10/27/2019

[2019-10-27 19:28] RandellDawson commented on #37571
@macengr I am reopening this issue, due to you still having the problem.  Are you using any browser extensions which could be blocking the requests?

[2019-10-27 19:36] macengr commented on #37571
Not that I know of, at least, none that I wasn't using before this started.

[2019-10-27 19:43] macengr commented on #37571
I've made a recording for you:

https://www.loom.com/share/b6d7ad6899d7481a979ada644a1a93a6

[2019-10-27 20:39] moT01 commented on #37571
Sorry for closing this prematurely @macengr. I can't reproduce this with any browser on High Sierra.

[2019-10-27 22:06] jquad25 commented on #36852
Is this project still available to work on?

[2019-10-27 22:47] broregard commented on #37571
I've been getting the same error message. Doesn't matter what browser I use, although at this point I can no longer log into my account (signed up w/Github acct). I'm still logged into a session on Opera. Browser is up to date. No extensions. macOS 10.1.14

<img width="913" alt="Screen Shot 2019-10-27 at 6 41 09 PM" src="https://user-images.githubusercontent.com/11634920/67643084-8097a100-f8e9-11e

[2019-10-28 01:57] participator commented on #37570
I enjoyed that feature too.  Was it intentionally decided that this functionally would no longer be provided?  If not, shouldn't this be considered a bug that should be fixed?

[2019-10-28 04:56] #37209 closed

[2019-10-28 09:20] pjonp opened #37590 "Exercise Tracker 'boiler-plate'"
Issue: starting template/Glitch 'remix' project needs help
Link: https://github.com/freeCodeCamp/boilerplate-project-exercisetracker/blob/gomix/server.js
Background: (newbie, trying to complete this project)
Problems:
1) All links tests pass (already an open ticket)
2) line 8; was expecting 'MONGO_URI' for mongoose.connect NOT MLAB_URI
3) line 49; 'listener' never called, 'boiler plate' never star

[2019-10-28 11:22] stevejh1 commented on #37571
I required a suggestion to solve [Yahoo 404 http](https://gmailtechnicalsupportnumbers.com/blog/fix-yahoo-mail-error-code-404/), I attempt all the steps known, and few more learned by internet if you have experience how to solve this please suggest the measures.

[2019-10-28 11:56] kelsiestevenson commented on #37381
I am still experiencing this issue when trying to submit my projects. Would you like for me to open a new issue?

[2019-10-28 12:42] RandellDawson commented on #37367
@beaucarnes Any status on this update?

[2019-10-28 13:52] kelsiestevenson opened #37594 ""We cannot reach the server to update your progress.""
**Describe the bug**
I am unable to submit projects to FCC and have them counted as complete.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to FCC (successfully)
1. Navigate to project to be submitted
_I see this error in the console_
![image](https://user-images.githubusercontent.com/23170565/67683357-a19ed700-f967-11e9-92da-dcb6014ebcaa.png)
1. Press "Run the Tests"
1. Press "Sub

[2019-10-28 13:52] kelsiestevenson commented on #37594
connects to #37571

[2019-10-28 14:02] thecodingaviator commented on #37594
We are tracking this in #37571

[2019-10-28 14:02] #37594 closed

[2019-10-28 15:10] broregard commented on #37571
Now that my account has been merged #37457, the projects I submitted are showing up

[2019-10-28 15:12] ojeytonwilliams opened #37597 "Console log output as user types"
The test output box used to update as the user typed and any console.log messages would appear in it. This allowed the user to see how their code was behaving in real time.  At some point this stopped happening.  Assuming this wasn't deliberately removed, should it get reintroduced?

[2019-10-28 15:15] kelsiestevenson commented on #37571
I am still experiencing the issue and I do not believe I have an account issue

[2019-10-28 15:58] RandellDawson opened #37598 "curriculum bug: FCC console does not display HTML entities as converted characters"
I stumbled upon this issue when playing around with the [Convert HTML Entities](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/convert-html-entities) challenge.  If a user wanted to see what the output of the final variable (the converted version of the string) to the FCC console, it does not get rendered showing the converted entities

[2019-10-28 16:12] ojeytonwilliams commented on #37571
Is anyone that is experiencing this issue able to log in and edit their user account settings?  The reason I ask is that that specific message should only appear if the browser can't detect the internet or the fcc servers have not returned your user details.

If not, then the problem is likely login issues, discussed further [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/37457).

If ye

[2019-10-28 16:13] kelsiestevenson commented on #37571
Ok, I am unable to update my account settings. I receive this error when I try:
![image](https://user-images.githubusercontent.com/23170565/67695962-5fcc5b80-f97c-11e9-804f-d0005d0c9a40.png)

I will follow the issue mentioned above

[2019-10-28 16:51] macengr commented on #37571
I redceive the same error as Kelsie when I try to change my settings (e.g., switch to dark mode or submit an about message):

https://www.loom.com/share/ccd4e968a1254a14a18ba53ed63d6027

[2019-10-28 16:53] RandellDawson opened #37599 "Need to have consistent comments (and translations of those comments) throughout curriculum files"
A PR (#37111 ) was recently merged which adds the following comment to the Solutions section of all the back-end challenges. I just saw a new PR (#37592) added the untranslated comment to a non-English challenge. This got me to thinking about more a general question: shouldn't all comments regardless where they appear in the challenge (i.e. Solutions section, example code in description or instruc

[2019-10-28 21:16] Ieahleen commented on #37597
this seems already mentioned here: https://github.com/freeCodeCamp/freeCodeCamp/issues/37570

[2019-10-29 06:12] raisedadead commented on #37381
Hi Kelsie,

Thanks for reporting. Yes, please open a fresh issue.

[2019-10-29 06:39] thecodingaviator commented on #37597
Closing in favor of #37570

[2019-10-29 06:39] #37597 closed

[2019-10-29 06:40] #35370 closed

[2019-10-29 06:40] #36268 closed

[2019-10-29 06:42] thecodingaviator commented on #18103
Since we've released the changes, this issue should have been fixed. I am, therefore, closing this issue. Please add more information if this still persists and we'll have it reopened.

[2019-10-29 06:43] thecodingaviator commented on #17503
Since we've released the changes, this issue should have been fixed. I am, therefore, closing this issue. Please add more information if this still persists and I'll reopen it.

[2019-10-29 06:43] #17503 closed

[2019-10-29 06:44] thecodingaviator commented on #35765
@RandellDawson have we fixed this one?

[2019-10-29 06:44] thecodingaviator commented on #17068
Since we've released the changes, this issue should have been fixed. I am, therefore, closing this issue. Please add more information if this still persists and I'll reopen it.

[2019-10-29 06:44] #17068 closed

[2019-10-29 06:47] thecodingaviator commented on #34438
@freeCodeCamp/moderators since we moved out the guide, our repo has been very simple IMHO. Do we still need this?

[2019-10-29 07:17] ahmadabdolsaheb commented on #37571
Thank you for your patience.

We suspect this issue could be caused by of duplicate accounts.

If you could kindly send us an email support@freecodecamp.org with your username, we should be able to take a closer look and resolve this issue ASAP.

[2019-10-29 11:13] RandellDawson commented on #35765
@thecodingaviator No, we have not concluded on the best way to deal with this.

[2019-10-29 12:00] nandumoura commented on #37571
is not resolved

[2019-10-29 12:06] kelsiestevenson commented on #37571
After emailing support and having my duplicated accounts merged (for those following along, I had no idea that I had duplicated accounts - view issue #37457 for more info), I am able to submit my lessons and update my accounts settings.

One buggy thing which I included in an email to support is that when I click the freeCodeCamp logo, it appears to log me out. I press Sign In and I am able to see

[2019-10-29 12:21] thecodingaviator commented on #37571
@nandumoura

[2019-10-29 13:37] RandellDawson opened #37610 "Unable to run npm run test without strange error on Windows 10"
I get the following error when running `npm run test` with the most recent version of the `master` branch on Windows 10.  I have even tried running `npm run clean` then `npm ci` to make sure everything is up-to-date, but still get this error.  It seems to have started some time before Oct 26.

If I switch to the curriculum folder and run `npm run test`, those tests run without a problem.

[code]

[2019-10-29 13:39] RandellDawson commented on #37610
@raisedadead I raised this issue in the Contributors room, but only @moT01 responded that he was not seeing the same issue.

[2019-10-29 15:36] PartyLich opened #37611 "Style sensitivity in QA Functional Tests"
**Describe your problem and how to reproduce it:**
**Tell us what's happening:**
Test is failing on FCC while passing in the testrunner output.
The FCC system requires you to use ' (single quotes) in your test case, while the test runner and language obviously do not. Worse still, using the built in formatter on Glitch changes single quotes to double quotes. So formatting your Glitch code will cau

[2019-10-29 20:55] MDutro opened #37612 "Use getters and setters to Control Access to an Object unclear instructions"
First I want to thank everyone who works on freeCodeCamp. I have learned a lot from it so far.

That said, some of the instructions for some of the exercises are quite poor and in desperate need of improvement. A perfect example of this issue is the ES6 exercise "Use getters and setters to Control Access to an Object."

This exercise tells the new user that "Getter functions are meant to simply re

[2019-10-29 22:03] RandellDawson commented on #37612
@MDutro Thank you for creating this issue.  What do you think about the following change?

We are open to making the challenge description, examples and instructions clearer to help users like yourself be able to complete the challenges with less confusion.  Feel free to make any other suggestions or reword my suggestion.

[2019-10-29 23:18] moT01 commented on #35765
What do you think about my suggestion @thecodingaviator ?

[2019-10-29 23:22] moT01 commented on #34438
I'm still in favor of adding a readme to some/many of the folders - I think that could be beneficial. The repo is easier to deal with, but still has a lot of folders that people don't know the purpose of (myself included).

[2019-10-30 08:20] ahmadabdolsaheb commented on #37571
Our landing page looks like the log out version of /learn at the moment. It is likely that you have been redirected to the landing page without getting logged out.

[2019-10-30 08:31] ahmadabdolsaheb commented on #34438
It seems that there are some confusion regarding some of our main subdirectories and what they do and adding  readme files could be beneficial.

Would you like to lead the effort? @moT01

[2019-10-30 10:21] ojeytonwilliams commented on #37612
@MDutro I agree that this challenge is in need of some work.  For one thing, it has a jokey tone that does not really fit with the rest of the site.

While I like @RandellDawson's suggestion, I'd be in favour of a complete rewrite of the description to convey that

1. Getters can provide encapsulation and make function calls look like property lookups
2. Setters can make complicated assignments lo

[2019-10-30 11:30] #37502 closed

[2019-10-30 13:23] ahmadabdolsaheb opened #37615 "Show notifications for failed backend project submission"
Currently when a backend project submission fails, the users are only notified by a brief warning message saying that the server is not being updated and the user is navigated to the next challenge. such as the following:

![image](https://user-images.githubusercontent.com/4591597/67861020-63084880-fb30-11e9-851e-479a8d9c0f0a.png)

### to reproduce:
to make the backend projects submission fail, pl

[2019-10-30 13:40] ojeytonwilliams commented on #37610
@RandellDawson pretty sure it's a Windows path issue, so Tom wouldn't have run into it.

If you could try replacing the `test:utils` npm script with the following, we can see if that fixes it.
[code]

[2019-10-30 13:42] RandellDawson commented on #37612
@ojeytonwilliams I am not sure about renaming the getter/setter property to `celsius`.   What would the constructor look like?

[2019-10-30 14:27] ojeytonwilliams commented on #37612
Actually, now that I look at this, I realise just how loose these tests are.  The first solution above works and the completely different solution in the hints works too:
[code]
If we want to teach the fact that get/set can do more than just access/update other parameters, we probably should only solutions like the one in the hints.  Maybe.  What do you reckon?

[2019-10-30 14:31] ojeytonwilliams opened #37616 "What should appear in the fcc console?"
**Is your feature request related to a problem? Please describe.**
Currently test output appears in both the test suite, in the left frame, and below the editor.  This seems like unnecessary duplication when viewing on a desktop, though it could be useful on mobile.

**Describe the solution you'd like**
The fcc console could exclusively show error reports and console logs, updating as the user edi

[2019-10-30 14:33] beaucarnes opened #37617 "freecodecamp.org/donate should explain it is a donate page, even for unauthenticated users"
Currently, when an unauthenticated user visits https://freecodecamp.org/donate, it shows a sign-in page with no indication it is a donate page.

It would be a better user experience if there was a message at the top of the page saying it was a donate page and explaining why authentication is necessary. With no message about this, users could assume that they are at the wrong page to donate or ther

[2019-10-30 15:37] ahmadabdolsaheb commented on #37617
@beaucarnes, that sounds like a good idea. if you could add the copy you have in mind, we should be able to sort it out quickly.

[2019-10-30 16:21] QuincyLarson commented on #37617
100% agreed. That has been our attention - we just wanted to curb fraud real quick.

Mrugesh is working on an updated page that will appear before prompting donors to authenticate.

[2019-10-30 17:50] moT01 commented on #37617
I'm not sure why authentication is necessary - What if someone wants to donate, but doesn't want to sign up. Maybe I'm missing something.

[2019-10-30 20:52] shawab1ceh commented on #37615
hi, i want to tackle this one. feel free to assign me the task

[2019-10-31 06:49] raisedadead commented on #37617
Because,

specifically, card testing fraud. You can learn more about these on resources available online. :)

[2019-10-31 07:14] prayaganeethu opened #37625 "Output error - Basic JavaScript: Local Scope and Functions"
**Problem and how to reproduce it:**

Console output is showing incorrect value for **Basic JavaScript: Local Scope and Functions**
Expected output for the ```console.log(myVar);``` outside the function ```myLocalScope()``` is a message which conveys that myVar is not defined. Instead, it prints out the value ```10```.

**Link to the page with the problem:**

https://www.freecodecamp.org/learn/jav

[2019-10-31 07:29] ahmadabdolsaheb commented on #37615
Please go ahead with a pull request. no assignment is necessary.

[2019-10-31 07:55] ahmadabdolsaheb opened #37626 "Stripe Scripts for the donation modal should not load before donation modal opens."
Stripe scripts only load for the lesson donation modal and the donation page.
However, the scripts for the donation modal loads before the donation modal opens.

![Screen Shot 2019-10-31 at 10 33 05 AM](https://user-images.githubusercontent.com/4591597/67928726-ce075d00-fbcc-11e9-82c5-4602d273a38d.png)

here would be a good place to start the investigation.
https://github.com/freeCodeCamp/freeCode

[2019-10-31 08:02] #37480 closed

[2019-10-31 08:04] Bouncey commented on #37568
This could be helped with #36793 landing, but the current automated challenge test suite needs to be replaced for the PR to be accepted.

A potential solution is coming, but time estimates are long.

[2019-10-31 09:04] ahmadabdolsaheb opened #37627 "group lesson buttons."
To have a cleaner UI and to encourage users to attempt challenges before asking for help, we need to group the help buttons in lessons.

There should only be three buttons in each lesson: "run the tests", "reset all code", "get help", and their wrapper element should get a ```button-group``` class to space the buttons out and improve lighthouse scores.

"get hint", "ask for help", "watch a video"

[2019-10-31 10:19] ojeytonwilliams commented on #37626
The initial download of the stripe script is low priority, though, so it should not worsen the user's experience too much.

If we do want to fix this, I'd recommend just taking `<DonateModal />` out of `Learn.js`, modifying gatsby-ssr and leaving a comment that they need adding back in if the modal is going to be used.  Once we know if and when it's going to be used, we can load the scripts at the

[2019-10-31 10:27] ojeytonwilliams commented on #37616
#37625 is related.  That challenge is confusing because you're told to look at the console to see the error, but it is not shown in the fcc console.  It only appears in the browser console.

[2019-10-31 12:19] #37410 closed

[2019-10-31 12:26] #37598 closed

[2019-10-31 13:45] ojeytonwilliams opened #37629 "Should "use strict"; always be applied to user code?"
Currently all user submitted code is evaluated in strict mode, even if their code does not contain `"use strict";`.  [One challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords) discusses strict mode, others make use of it in the description and some fail because of strict mode (see #37534) despite the user c

[2019-10-31 15:08] beaucarnes commented on #37367
Done.

[2019-10-31 15:16] cameleater opened #37631 "Dark theme donate page inputs are not readable"
**Describe the bug**
![image](https://user-images.githubusercontent.com/34056915/67959383-f0af6b00-fbf8-11e9-9896-138218bcfc6a.png)

The input text on the darkmode version of the donate page (https://www.freecodecamp.org/donate/) are not readable so you cannot see what you are typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/donate/' with darkmode e

[2019-10-31 15:24] PartyLich opened #37633 "Exercise Tracker needs tests"
Individual thread for the Exercise Tracker portion of #37185

Trying to get involved, and this seems like as good a place as any to start. I haven't had a chance to get setup locally, but what I've gathered so far from the contribution docs and issues i've looked at is that
- tests are executed in a browser environment (not node)
- chai assertions are available
- tests are stored as a stringified

[2019-10-31 15:36] PartyLich commented on #37633
quick note for myself (and any future new contributor who stumbles in) re: how to test locally
`npm run test:curriculum` and `npm run develop` to see the actually site live.

[2019-10-31 16:01] raisedadead commented on #34438
The markdown linting rules should be enforced only on the `/curriculum` directory.

Coming to the documentation. I think the nicer approach is to keep things in the `/docs` vs the main directories. This is because its ever changing. Also IMHO, it will not be possible to maintain every detail.

IMHO, what we really need instead of the docs is to simplify the code structure. The client for instance

[2019-10-31 16:03] ojeytonwilliams commented on #34438
I've looked into this a bit more and I think we can ditch the `h1` requirement for anything that's displayed on Github, because the readme is already beneath an `h2`.  `h2` or `h3` should be fine for the top-level headings in those files.

I'll get on with a PR to change that, so you should be able to create what you want.

@raisedadead they are restricted to `/curriculum` when you run `npm run li

[2019-10-31 16:09] #37571 closed

[2019-10-31 16:15] raisedadead commented on #34438
Oh. Thanks for clarifying, we should then remove that requirement (or modify it to be only for curriculum)

[2019-10-31 16:22] moT01 commented on #34438
I agree that code should explain itself when possible, but it's tough sometimes - and it simply doesn't always happen.

If it's not clear - I was thinking to put a readme in each folder with a small overview of what's in the folder.

And you're thinking a single readme overview in the docs folder instead @raisedadead?

I think either way works; I think my way might be a little more functional in t

[2019-10-31 16:29] ojeytonwilliams commented on #34438
I think it could make sense to lint both the curriculum and the other markdown, but with different rules (since the curriculum md is a bit odd).  For now, I'll just restrict it to the curriculum to lower the amount of pain it's causing.

[2019-10-31 16:31] stefanosu commented on #37627
I'll take this one.

[2019-10-31 16:37] #37367 closed

[2019-10-31 17:27] RandellDawson commented on #37610
@ojeytonwilliams, @raisedadead Replacing the `test:utils` with your suggestion now allows the tests to run without the error.

[2019-10-31 17:29] #37631 closed

[2019-10-31 18:01] TaraBryn commented on #17763
@RandellDawson ran into the same issue as @ibnthani2016 (I was able to fix by analyzing the assertions themselves, so I was able to pass the challenge) Seems like since the previous challenge is creating the new modules that the social auth test should be looking at the `routes.js` module for the new paths. This also seems to be unrelated to the original issue this was opened for. Should I create

[2019-10-31 18:24] nancydocode opened #37637 "Need a Korean translated version of how-to-setup-freeCodeCamp-locally.md"
I am thinking to start on translating this file into Korean. May I?

[2019-10-31 19:08] rmgreenstreet opened #37639 "Unclear/no explanation of order of operations in lookahead challenges"
**Describe your problem and how to reproduce it:**
In the challenge for "Positive and Negative Lookahead", the solution is `/^(?=\w{6,})(?=\D*\d{2})/`

A couple of previous challenges used that notation of '\D*\d' in different forms, and it never made any sense to me as to why you had to say "ok, look for NO numbers, then look for numbers" after it had already looked for "beginning with at least 6

[2019-10-31 20:10] Djisu commented on #37610
No, when I enter npm ci, it hangs, telling me the following in the attached file.
I realized that npm install or npm ci does not work well in windows 10. I tried to delete the node_modules folder from my root folder and issued npm install node to solve the problem. So that if it node is successfully installed, I will re-try 'npm ci' again. The problem persists hanging at:
[.........] X installing

[2019-10-31 20:30] RandellDawson commented on #37610
@Djisu Your issues is unrelated to the issue being discussed.  Please visit [our Contributors room on Gitter](https://gitter.im/FreeCodeCamp/Contributors) for help.

[2019-10-31 20:39] Djisu commented on #37610
Thanks sir. I will visit as prescribed.

[2019-10-31 22:41] moT01 commented on #37616
// tests completed
// console output
the logs, but only one copy

I'm in favor of this - there is one log for each test which makes the output confusing. I think that it should only show exactly what the code would log.

[2019-11-01 01:28] moT01 commented on #37625
It is printing 10 twice, once for each test in the challenge. Both logs you see there are from the `myVar` in the function. If you check the browser console, it shows the two `10`'s and two `ReferenceError: myVar is not defined` - one for each test, and this is the `myVar` at the bottom. The reference errors are not being displayed in our console.

Browser console:
<img width="256" alt="Screen Sho

[2019-11-01 03:25] Miggi42 opened #37654 "UI Design"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Is there a way to incorporate javascript more into the webpage to help make the UI more cleaner and more professional looking
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A more modern loo

[2019-11-01 03:26] #37654 closed

[2019-11-01 08:39] abbathaw commented on #37599
Valid question. I'm the author of the PR you mentioned(#37592). I was thinking about this myself and saw that english comments were already used so I kept them in English (just slightly synced them to the ones I found in the English version).

My opinion is that since those comments are intended to developers, I would rather keep them in English, however, we can also add the translated version of

[2019-11-01 09:05] brianignacio5 commented on #37571
@ahmadabdolsaheb I sent an email to check if my account is duplicated.

[2019-11-01 10:04] vkWeb opened #37661 "Donate page user inputs are invisible when typing on night mode"
### Describe the bug
On **night mode** when typing the card number, card expiration period and CVC, users can't see what they are typing. We can see the input after we have typed the card number. But expiration month and CVC are totally invisible even after typing the whole thing.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/donate/
2. Type card number,

[2019-11-01 10:07] #37661 closed

[2019-11-01 10:08] vkWeb commented on #37661
This has already been fixed with https://github.com/freeCodeCamp/freeCodeCamp/pull/37634. My bad.

[2019-11-01 12:00] thecodingaviator commented on #37629
If we're evaluating all coding in strict mode, I think we should have it in all challenges

[2019-11-01 12:01] thecodingaviator commented on #37627
@stefanosu go ahead

[2019-11-01 13:38] RandellDawson commented on #37629
One advantage to evaluating the challenges in strict mode is that it enforces the best practice of defining variables before use.  As long as a "Reference Error" gets displayed to both the FCC console and the browser console, I am happy to explain on the forum that we use strict mode which forces users to define variables at all times.  The problem currently is, code is silently failing for errors

[2019-11-01 13:42] RandellDawson commented on #37627
@thecodingaviator Let's not remove the help wanted label until we get at least one PR submitted.

[2019-11-01 19:15] laghee commented on #37331
The unsubscribe path works, but the resubscribe doesn't -- at least it didn't for me. All I wanted to do was change the email address where I receive, but when I try to resubscribe following the link shown in the screenshot above, I get this:

![Screenshot 2019-11-01 19 40 52](https://user-images.githubusercontent.com/20972610/68048585-26c81a00-fce1-11e9-956a-692c9c8818f3.png)

[2019-11-01 19:41] raisedadead opened #37662 "The unsubscribe path works, but the resubscribe doesn't"
The unsubscribe path works, but the resubscribe doesn't -- at least it didn't for me. All I wanted to do was change the email address where I receive, but when I try to resubscribe following the link shown in the screenshot above, I get this:

![Screenshot 2019-11-01 19 40 52](https://user-images.githubusercontent.com/20972610/68048585-26c81a00-fce1-11e9-956a-692c9c8818f3.png)

_Originally posted

[2019-11-01 20:24] rmgreenstreet opened #37664 ""Reverse a String" challenge assumes knowledge of functions not yet taught"
**Describe your problem and how to reproduce it:**

On the challenge for "Basic Algorithm Scripting: Reverse a String", it asks you to take the input string and reverse it.

In the instructions, it notes "you may need to turn the string into an array before you can reverse it".

In the "Get a hint" link (https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-reverse-a-string/16043), it

[2019-11-01 20:31] RandellDawson commented on #37664
Check out solution number 2 which does not use any of the methods.  The Hints need to be updated.

[2019-11-01 20:45] RandellDawson commented on #37664
@rmgreenstreet FYI - I just updated the Hints/Solutions page on the forum to reflect a hint for a solution which does not involve methods not yet introduced in the curriculum.  The first solution corresponds to the Hint I added and the other solution using split and reverse is now the second solution.

If you are satisfied with this fix, please let us know, so I can close this issue.

Thank you.

[2019-11-01 21:10] RandellDawson commented on #18045
@lasjorg Appears the fix did not work for everyone (even those using Chrome).

See this [latest forum topic](https://www.freecodecamp.org/forum/t/is-there-a-glitch-in-this-challenge/325152/35) where at least two people are still reporting issues.  You can see that for some at least one user, the `document.querySelector('h4').offsetHeight` returns `26` even though the window.getComputedStyle return

[2019-11-01 21:16] rmgreenstreet commented on #37664
Sounds good to me!

[2019-11-01 21:16] #37664 closed

[2019-11-02 01:07] moT01 commented on #37637
Yes, translation PR's are welcome without an issue - [Here are the current Korean files](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/i18n-languages/korean) - and there's [one open PR for a Korean translation](https://github.com/freeCodeCamp/freeCodeCamp/pulls?q=is%3Aopen+is%3Apr+label%3A%22language%3A+Korean%22) as well. So maybe take a quick look at those.

[2019-11-02 17:09] damsalem opened #37666 "Suggested Solution to Final Basic JS Exercise is Inconsistent"
The final Basic JavaScript exercise **[Use Recursion to Create a Countdown](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown)** has an inconsistent suggested solution located within the **[Get a hint](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-use-recursion-to-create-a-countdown/305925?u=damsale

[2019-11-02 17:34] lasjorg commented on #18045
I see different numbers at diffrent zoom levels in Chrome as well. At zoom level 90%, 67%, and 50% I get `26`, at 33% I get, `24`.

I believe the fix might be to use `scrollHeight` instead.

@RandellDawson  I can't login to the forum at all because of the login issues. So if you can test this for me in the forum thread I'd really appreciate it.

[2019-11-02 19:49] lasjorg commented on #18045
**Update:**

Using `scrollHeight` at 50% zoom I still get 26 and at 33% I get, `24`. Not sure how likely it is a user will zoom out that far but we may have to use `.getBoundingClientRect().height` and do the rounding ourselves.

This works for me on all zoom levels:
`Math.round(document.querySelector('h4').getBoundingClientRect().height) === 25`

The problem is, I'm not affected by the initial bu

[2019-11-02 20:15] RandellDawson commented on #37666
We are in the process of redoing this particular challenge.  I am closing this issue in favor of discussion on [pull request related to the rewriting of this challenge](https://github.com/freeCodeCamp/freeCodeCamp/pull/37548).  Please feel free to add your comments on that PR after reading through the discussion there.

Thank you.

[2019-11-02 20:15] #37666 closed

[2019-11-02 20:46] macengr opened #37670 "We cannot reach the server to update your progress."
Oncde again, issue #37571 has been closed, this time by "raisedadead", and yet it is STILL not resolved. It has been THREE weeks and I am STILL unable to submit my projects. I do not have a duplicate account, so the solution that was accepted there is NOT the correct one. This is getting very frustrating. Please do NOT close a ticket until you have checked with the original person that posted it t

[2019-11-03 04:58] thecodingaviator commented on #37670
Hi @macengr did you send an email to have us check whether your account is duplicated?

[2019-11-03 05:06] macengr commented on #37670
Yes, earlier this week.

On Sun, Nov 3, 2019, 1:05 AM Parth Parth <notifications@github.com> wrote:

[2019-11-03 11:02] Abbas-000 opened #37673 "Advanced Node and Express last 6 challenges failing"
**Describe your problem and how to reproduce it:**
I've noticed that the challenges of Advanced Node and Express from **Sockets** challenge till the last challenge (last 6 challenges of Advanced Node and Express) not passing.
I searched a lot did everything but couldn't pass even a single test. I even copied code from the FCC own glitch project and paste it in in the input but still not passing.
T

[2019-11-03 12:25] kevcomedia opened #37674 "NaN is printed as null on JS challenge output"
**Describe your problem and how to reproduce it:**
Running `console.log(NaN)` on any JS challenge outputs `null` on the console output instead of `NaN`.

Related forum topic: https://www.freecodecamp.org/forum/t/325273

User reported seeing `[null]` when it actually should be `[NaN]` with the following code:

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/j

[2019-11-03 12:28] thecodingaviator commented on #37670
@ahmadabdolsaheb

[2019-11-03 13:57] RandellDawson commented on #37674
@ojeytonwilliams

[2019-11-03 22:45] wbprkr commented on #10664
I am having this problem in Chrome currently.

[2019-11-03 23:16] skaparate commented on #37673
Hey :smile:!

Most of them pass, but there are some things missing:

- I've found that using double quotes is problematic for the tests to pass, so *use single quotes*
- You must require and use cors, otherwise the projects will not pass:

[code]
- There are problems with formatting. For example, when prettier formats the code, if the lines are too long, it splits the lines, which may cause proble

[2019-11-04 02:18] prayaganeethu commented on #37625
Got it, thanks! Why are the reference errors not shown on the console, though?

[2019-11-04 02:46] Abbas-000 commented on #37673
My friend!
I had already did as you said but the result is the same.
can you send me the link of your project that you passed these challenges?

[2019-11-04 06:40] Spacecase94 opened #37677 "Tests not working in Mozilla Firefox"
**Describe your problem and how to reproduce it:**
Using Atom text editor i wrote the code for the technical documentation page, and upon finishing up the project tested my project after refreshing the page and saving my file, the results said i passed 13 out of 16 of the tests, but when i copied and pasted my code into codepen i passed all the tests except one, and that test was #13 saying

```Wh

[2019-11-04 13:24] #37495 closed

[2019-11-04 13:56] skaparate commented on #37673
Sure!

[Here they are](https://glitch.com/~skaparate-socketio). I just tested again and they work :smile:.

Remember, **do not format/beautify the server.js** file, otherwise the tests will fail. You may need to comment out the `io.emit('user count')` if a test fails.

[2019-11-04 13:57] #37673 closed

[2019-11-04 14:08] raisedadead commented on #37493
As discussed internally, it will take me a while to get the workflow for new projects to co-exist on the master and production. As a stop gap please target the PRs to the `production-next` for now and land them.

The UI work to support the projects (which may eventually lead to schema changes to the projects' content and file structure) will go into the same branch. @ahmadabdolsaheb will lead that

[2019-11-04 14:51] raisedadead commented on #37670
Thanks for your feedback.

Your request is pending with us.

I am responsible for the codebase and I can assure you this is a duplicate account issue, reasons for which have been described multiple times in multiple threads.

You are welcome to open fresh issues, but we are obliged to analyse and close if it's not a codebase issue. As in there is no programmatic fix that will solve this automatica

[2019-11-04 14:51] #37670 closed

[2019-11-04 14:55] raisedadead commented on #37637
Please feel free to create a PR as directed.

[2019-11-04 14:55] #37637 closed

[2019-11-04 14:58] raisedadead commented on #37629
The strict mode is enforced (from a very long time) for various reasons as mentioned in comments above, I understand this can be a bit of challenge on specific use cases while we are actually teaching concepts around it.

My vote is to just pass a flag internally (defaulting to something like `isStrictMode=true`) to the test runner and make use of it in special circumstances like you cited.

A PR

[2019-11-04 17:12] moT01 commented on #37677
There's a problem with your code. Test our your buttons and make sure they all work.

[2019-11-04 17:12] #37677 closed

[2019-11-04 17:52] lasjorg commented on #37674
I don't know anything about this part of the code, but I do see JSON.stringify being used in test-evaluator.js and if you stringify `NaN` you get back "null".

[code]

Again, not sure if this is related or not just thought I would post it anyway.

[2019-11-04 18:05] ojeytonwilliams commented on #37674
Yeah, that's exactly the issue.  My current plan is to use `toString()` if it exists and stringify if not.  I'm just not sure how to make sure this doesn't create any weirdness.

[2019-11-04 19:00] lasjorg commented on #37674
What about using the [replacer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#The_replacer_parameter) parameter function?

[code]

Would that be less likely to not cause any weirdness?

[2019-11-04 23:05] Kbarias opened #37682 "Add more description of while loops to Basic Javascript challenge."
**Describe your problem and how to reproduce it:**
I feel that the description for the actual code in the [Iterate with JavaScript While Loops - English](https://github.com/Kbarias/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-while-loops.english.md) challenge should be explained. For example the actual

[2019-11-05 02:19] ojeytonwilliams commented on #37674
@lasjorg that sounds way better.  Do you think you'll have time to put that in a PR?

[2019-11-05 13:29] #37610 closed

[2019-11-05 14:34] raisedadead opened #37690 "rewrite enzyme tests in react-testing-library"
We want to re-write the enzyme based tests in react-testing-library. For example: Profile.test.js is in enzyme. Eventually we want to remove it as a dependency on the client

[2019-11-05 15:00] raisedadead opened #37691 "Make the "ask for help" button use new subforum"
Refers: https://github.com/freeCodeCamp/freeCodeCamp/pull/37669

[2019-11-05 15:53] #37395 closed

[2019-11-05 16:55] ojeytonwilliams commented on #37629
@raisedadead could you elaborate on where this flag should be coming from?  Are you thinking it should be added to the challenge front matter to turn strict mode off for some challenges?

[2019-11-05 18:56] moT01 opened #37694 "(curriculum): Iterate with JavaScript While Loops"
I noticed [this](https://github.com/freeCodeCamp/freeCodeCamp/pull/37683#pullrequestreview-311911070) problem when reviewing that PR.

The example in the challenge description, is the exact code that instructions say to implement...

<img width="275" alt="Screen Shot 2019-11-05 at 12 58 24 PM" src="https://user-images.githubusercontent.com/20648924/68237018-faa3e600-ffcb-11e9-9100-ea5979533e12.png

[2019-11-05 19:11] RandellDawson commented on #37694
I am fine with either suggestion.

[2019-11-05 23:34] Tevin-wd opened #37695 "Applied Visual Design: Adjust the Width of an Element Using the width Property"
**Describe your problem and how to reproduce it:**
I input the code exactly as it is which is just adding a width to a class. i add it but it says it is not correct. see example.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property

**Tell us about your browser and operat

[2019-11-06 01:41] RandellDawson commented on #37695
Closing in favor of issue #18045

[2019-11-06 01:41] #37695 closed

[2019-11-06 03:42] PartyLich commented on #37694
not really a feature in my mind, but not exactly a bug either. i'm curious what the ideal conventional commit style tag would be here. in any case, the content of the pull request should reflect the slightly more difficult suggestion.

[2019-11-06 08:11] Chris6077 opened #37700 "Bug in ISQA Stock Price Checker example"
**Describe your problem and how to reproduce it:**
The problem is, that you can not like a stock twice. It is stuck on one like even when using different connections and devices.

Reproduce by opening the link below on two devices.

Fix: Obtain client IP with this code

 `req.get('x-forwarded-for').split(",")[0] || req.ip.split(",")[0]`

instead of this code

Your code always returns the same remo

[2019-11-06 11:03] ahmadabdolsaheb opened #37701 "font should look the same on /news and /learn"
Although fonts in learn and news share the same size, and weight, they look different on learn and on news.

the Navigation is a good example
![image](https://user-images.githubusercontent.com/4591597/68292647-99901700-008c-11ea-9300-c9fd389db078.png)

a good place to start the investigation would be the global and screen css files for the ghost theme.

https://github.com/freeCodeCamp/news-theme/b

[2019-11-06 11:07] ahmadabdolsaheb opened #37702 "Should the first challenge only focus on teaching the learn UI?"
Should the first challenge only focus on familiarizing the users with passing tests and the learn UI and we start with tags from the second challenge?

[2019-11-06 13:12] ojeytonwilliams commented on #37702
It's difficult to be sure what people in general want, but I generally want to get going as soon as possible. I prefer features to be introduced gradually or be left for me  to explore rather than have to complete a tutorial before starting.

I have no idea if I'm typical, though.

[2019-11-06 14:06] theashraf commented on #37690
Can I work on this?

[2019-11-06 14:13] #37377 closed

[2019-11-06 14:14] raisedadead commented on #37690
Yes, please checkout our [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) for details.

[2019-11-06 14:19] raisedadead commented on #37701
Just want to throw it out there that we have a custom built version of bootstrap that could be a factor? No idea :)

[2019-11-06 17:52] #37694 closed

[2019-11-06 18:26] #37682 closed

[2019-11-06 19:01] lasjorg commented on #37701
Are we sure it's not just a difference between the Google font used on news and the fonts [saved locally](https://github.com/freeCodeCamp/freeCodeCamp/pull/37334) used on learn?

Where did we get the fonts from that are saved locally? This [page](http://www.latofonts.com) should have the latest version and even the Lato­Latin version is 71KB and the saved locally is only 37KB.

There are other dif

[2019-11-06 19:17] Belengar opened #37703 "JavaScript certification not awarded."
Hi, I finished all the challenges and projects for the JavaScript Algorithms and Data Structures Certification, but my profile says that there are no certifications in my account. Do I need to do something else to see the certification?
I logged in FCC with the google account option and that is what I have been using. The code that I write is not kept anywhere after I finished each challenge. I st

[2019-11-06 19:21] RandellDawson commented on #37703
You have to claim each certification under the Profile.

[2019-11-06 19:29] theashraf commented on #37690
could you please assign it to me?

[2019-11-06 19:37] RandellDawson commented on #37690
@theashraf We can not assign it to you, but you can work on it and create a PR.

[2019-11-06 19:43] Belengar commented on #37703
Hey, thanks I got it! :)

[2019-11-06 19:43] #37703 closed

[2019-11-06 20:51] rmgreenstreet opened #37704 "Javascript map, filter, and reduce methods need examples and explanation of using callback functions"
**Describe your problem and how to reproduce it:**
In several places in the "Functional Programming" challenges, we're asked to work with the data inside an array passed as an argument, without modifying the array.

In some of these challenges, it asks us to use `map`, `filter`, and `reduce`.

I think it would help a lot to have a lesson (maybe a series of lessons) explaining in more detail how ea

[2019-11-06 21:59] rmgreenstreet opened #37706 "Unclear/no explanation of Javascript Array.prototype.reduce() prior to challenge"
**Describe your problem and how to reproduce it:**

The linked page asks us to use reduce() on an object containing several film objects, containing several properties for each film, to get the average of ratings of films by Christopher Nolan.

Unless I've missed something, the way reduce() works and how to use it has not yet been explained, on this page or in any previous lesson.

**Add a Link to

[2019-11-06 22:04] RandellDawson commented on #37704
@rmgreenstreet  You have referenced the lesson which deals with the `filter` method, but you say it says to use `map`.  Not seeing that anywhere in that lesson.

What challenge are you talking about in the line above?

I will agree that the [map method challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-f

[2019-11-06 22:05] RandellDawson commented on #37706
I think we can probably add an example of using reduce and also explain more about how to use the callback function.

[2019-11-06 22:15] rmgreenstreet commented on #37704
Apologies, at the time I was working on the `filter` exercise, and it required combining both `filter` and `map`. I should have brought this up on the original `map` exercise.

[2019-11-06 22:29] RandellDawson commented on #37704
Do me a favor and close the other issue you opened on reduce and update the body of this issue above to reflect all three lessons (map, filter, and reduce).  I think the copying array is a separate issue, unless I have misunderstood you.

[2019-11-06 22:43] rmgreenstreet commented on #37704
Yeah, I guess all three of those could use more explanation.

[2019-11-06 22:44] #37706 closed

[2019-11-06 23:18] MalcolmAnderson commented on #17822
I just started getting this yesterday (5 November 2019).  My contribution heat map does not reflect my checkins for today.

Here's my heat map showing no check-ins for today
![image](https://user-images.githubusercontent.com/1200043/68346139-344a1f00-00a8-11ea-893b-9c1a8e705ab8.png)

Here's my file where I modified a simple comment just to check heatmap functionality - checked in minutes earlier.

[2019-11-06 23:22] RandellDawson commented on #17822
@MalcolmAnderson You would need to contact GitHub for GitHub specific problems.

[2019-11-07 02:09] RandellDawson commented on #37704
I will create a PR to address improving these three existing challenges.

[2019-11-07 03:14] damsalem opened #37708 "Incorrect Info on Page 1 of Debugging"
I noticed incorrect information on [page 1 of the debugging module](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/debugging/) of JavaScript.

The example of a syntax error is:
[code]

The comment is incorrect because the function keyword is not misspelled.

[2019-11-07 10:02] subashiglesias commented on #37708
Can anybody assign this to me ?

[2019-11-07 13:13] RandellDawson commented on #37708
@subashiglesias You already have a PR for it, so no need to assign.

[2019-11-07 17:50] RandellDawson commented on #18045
@lasjorg How close are we to a cross-browser way to test this?  If it is getting too complicated, maybe we should use regex against the code as a fix for now and keep the discussion going in this issue.

[2019-11-07 17:59] ojeytonwilliams opened #37713 ".box is not used in JSON APIs and Ajax challenges"
The css exists, but the class is not applied.  Either the css should be removed or the 'box' class applied.

https://github.com/freeCodeCamp/freeCodeCamp/pull/37069#discussion_r343782958

[2019-11-07 18:58] ojeytonwilliams commented on #37701
Those don't seem to be Lato.  They're set to Roboto Mono by `.universal-nav .universal-nav-right a` in `universalNav.css`. You can tell by looking at the 'l's (Roboto is a straight line, Lato is fancy).

There are some other differences, though.  The search icon is missing on news (far left) and the vertical positioning is different for the menu items (different padding and line height).

[2019-11-07 19:16] lasjorg commented on #18045
@RandellDawson The PRs for the [height](https://github.com/freeCodeCamp/freeCodeCamp/pull/37687) and [width](https://github.com/freeCodeCamp/freeCodeCamp/pull/37688) challenges should fix it. I also added a note to the challenges about the zoom.

As said in the PR for the height challenge I don't have any confirmation for that one and because I still can not login to the forum I have been unable t

[2019-11-07 19:22] lasjorg commented on #37701
Right I totally forgot to mention that. I also see Roboto Mono used for the links. But I still wanted to mention that the Lato fonts are different. I didn't check the Roboto fonts against each other but I suspect that they might be different as well. I would have to check it.

[2019-11-07 19:27] rdefa001 opened #37714 "Public Portfolio"
Hi there, for some reason my public portfolio its not displaying anymore. Although I have every button set to public. When I click on view public portfolio, the page never uploads completely.

Would love to read from you guys.

Thanks!

[2019-11-07 20:56] lasjorg commented on #37701
The Roboto Mono fonts seems to match (repo font vs Google font). So I guess it doesn't have the same issue as the Lato font does.

I still think it's worth switching the local Lato font out for a version that matches the Google font, just to avoid inconsistencies.

[2019-11-07 21:15] TaraBryn commented on #37673
Abbas, If you haven't figured it out yet, I just ran into the same issue, and skaparate linked me to this issue, and I was able to resolve it by adding `app.use(cors())` to the `fcctesting.js` file and that fixed it for me.

[2019-11-07 21:33] lasjorg commented on #18045
BTW, both challenge tests already have a regex in place. So if we do just want a regex all we need to do is remove the first part of the conditional assert. Please let me know in the PRs if that is a preferred solution.

How much work is it to push updates now? It's been made much easier correct?

[2019-11-08 06:51] MalcolmAnderson commented on #17822
Thanks Randell.  I have done that.

[2019-11-08 09:16] ahmadabdolsaheb commented on #37701
Thanks for that, totally forgot that we switched the fonts on navlinks a week ago.

[2019-11-08 09:25] ahmadabdolsaheb commented on #37701
great observation. although we used to use Lato in for the nav items and we used to use google fonts directly using a gatsby plugin before hosting the fonts, we had the exact issue regarding the font mismatch.

So other than updating the fonts, I think there is another underlying issue that we need to look into.

[2019-11-08 10:44] ahmadabdolsaheb commented on #37714
could you please share the link to your portfolio?

[2019-11-08 11:20] #37690 closed

[2019-11-08 15:38] jhomme opened #37718 "Screen Reader Reports That I Failed, But I Passed"
**Describe your problem and how to reproduce it:**
When I go to https://www.freecodecamp.org/learn, it says I have one item in, the page says that I have 27 of 28 lessons in Basic HTML passed.

I go to https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes and enter the code. When I do that, the dialog comes up and says that I have passed.
**Add a

[2019-11-08 15:49] ojeytonwilliams commented on #37718
I think it's the next challenge that you need to complete.  Try submitting a solution for https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes and let me know if you've still got an uncompleted challenge.

[2019-11-08 16:35] #37718 closed

[2019-11-08 16:36] jhomme commented on #37718
User error on my part. I was going to the wrong page.

[2019-11-08 19:53] troncarter opened #37719 "Cannot save new progress"
I cannot save any new progress. Once I complete a challenge, I click submit and go to next challenge. When I go back to the curriculum page, it still shows the challenge as incomplete.

At the top of the page there is a blue banner that says "We cannot reach the server to update your progress at this time" (screenshot below)

* Browser Name: Chrome
* Browser Version: Version 78.0.3904.70
* Operati

[2019-11-08 19:59] RandellDawson commented on #37719
Are you sure you are logged in?

[2019-11-08 22:01] sascharissling opened #37720 "Bug in CSS Grid: Use grid-column to Control Spacing"
**Describe your problem and how to reproduce it:**
Correct solution lets you not pass test.
The `grid-column: 2 / 4;` is called in the next challenge and even being refered to as well.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-grid-column-to-control-spacing

**Tell us about your browser and operating system:**
* Browser Name

[2019-11-08 22:14] RandellDawson commented on #37720
Do you see any errors in the browser console?

[2019-11-08 22:18] ojeytonwilliams commented on #37720
This is potentially a rounding error.  @sascharissling could you open the dev console and tell us the width of the iframe with id `fcc-main-frame`?  I tried a bunch of widths and they all passed, but to know we've squashed the bug we need to know how to reproduce it.

[2019-11-08 22:27] RandellDawson commented on #37720
@sascharissling Also, while in the console, click on the Inspect icon () and click the element with the 5 and then enter each of the following into the browser console (pressing Enter after each line) and post a screenshot of the console results.

[code]
[code]

[2019-11-08 22:30] sascharissling commented on #37720
@ojeytonwilliams size of the element you asked is 466.031 x 474.984

[2019-11-08 22:33] sascharissling commented on #37720
Also here is a screenshot of everything. @ojeytonwilliams & @RandellDawson

![Screenshot 2019-11-08 at 23 32 57](https://user-images.githubusercontent.com/53901545/68515098-1f27e880-0280-11ea-9fa2-91e4387d8f25.png)

[2019-11-08 22:35] RandellDawson commented on #37720
@sascharissling Thank you for the quick reply.  @ojeytonwilliams The current test only allows a difference of `0.01`.  His difference of `0.016` is out of the bounds we allow for passing the test.  How big of a tolerance should we allow?

[2019-11-08 22:38] sascharissling commented on #37720
you're welcome. i added a screenshot for the `fcc-main-frame`size.

thank you for being on it :-)

[2019-11-08 22:45] RandellDawson commented on #37720
@sascharissling Can you test the following two statements in the console?

[code]
[code]

[2019-11-08 23:13] sascharissling commented on #37720
![Screenshot 2019-11-09 at 00 13 30](https://user-images.githubusercontent.com/53901545/68516927-cce9c600-0285-11ea-9e59-437382cee1cb.png)

[2019-11-08 23:28] RandellDawson commented on #37720
Make sure you have first clicked on the preview pane using the Inspector tool.

[2019-11-09 02:12] TimFau commented on #37719
I'm having the same issue. Username 'timfau'.

[2019-11-09 03:15] Abbas-000 commented on #37673
yes, I did figured that out when skaparate send me the link to his project. thanks skaparate

[2019-11-09 07:12] rdefa001 commented on #37714
Hi there,

 The link is https://www.freecodecamp.org/raphael%20nunes

Thanks!
________________________________
From: Ahmad Abdolsaheb <notifications@github.com>
Sent: 08 November 2019 7:50 AM
To: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com>
Cc: Raphael Nunes <rraphael_nunes1@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [freeCodeCamp/freeCodeCamp] Public Portfolio (#

[2019-11-09 08:05] sascharissling commented on #37720
![Screenshot 2019-11-09 at 09 05 44](https://user-images.githubusercontent.com/53901545/68525257-21199800-02d0-11ea-83ad-e62bc971661b.png)

[2019-11-09 08:59] ojeytonwilliams commented on #37720
@sascharissling thanks for taking the time to work through this. Those screenshots are a massive help.
@RandellDawson how about jumping up to 1? That should still avoid false positives since the wrong answers are out by a lot more than that.

[2019-11-09 09:49] ojeytonwilliams commented on #37714
As far as I can see there are a few problems here.

- The username has a space (`%20`), which should not have happened.
- The path  https://www.freecodecamp.org/raphael%20nunes should go to a 404 not a blank page.
- The client side validation (which rejects spaces) doesn't match the server side validation.

@raisedadead is this assessment right?  If so, I'll create separate issues/PRs for the last

[2019-11-09 10:59] raisedadead commented on #37714
Hi @ojeytonwilliams you are right this is a validation issue with the username. Need to fix, thanks for taking this up.

Hi @rdefa001 you should remove the space in between your username as a workaround for now. Thanks for reporting this bug.

[2019-11-09 13:44] RandellDawson commented on #37720
@lasjorg What are your thoughts on how to validate the two are equal (or close enough) without using a larger tolerance of `1`?

[2019-11-09 14:34] viveksharmaui opened #37724 "I want to join freecodecamp"
Hello members,
I'm contributor of freecodecamp and I'm from Pakistan .
I wanna join freecodecamp i want to become part of this organization what is procedure of joining this organization ?
Your help will be appreciated .
Thanks !

[2019-11-09 15:48] lasjorg commented on #37720
Hmm, another zoom bug in Chrome. Fails at zoom level 33% and 67% for me. At this point I'm wondering what the underlying problem is.

The current test isn't really testing for the right thing. Using the incorrect values of `grid-column: 1 / 3;` and `grid-column: 1 / span 2;` passes the test as well.

Are we explicitly asking for the use of `2 / 4` here? Or should the use of `span` be allowed? If n

[2019-11-09 16:22] RandellDawson commented on #37720
@lasjorg Good catch!  As long as it produces the same effect as `2 / 4` we should not really care.  The original test only allow `2 / 4`, but [this issue](https://github.com/freeCodeCamp/freeCodeCamp/pull/35786) was created when the user thought that `grid-column: 2 / -1` should be accepted also.

It was my PR that created the current test which as you have found allows an incorrect visual effect.

[2019-11-09 17:25] sascharissling commented on #37720
Just wanted to say thanks for working hard on the issue. As well this is highly interesting to follow, as i just entered one of the first webdev bootcamps here in germany. This is way too advanced for me and we just started with JS this week but i think I'm learning something from your problemsolving 👍 .

have a nice weekend  and thanks.

[2019-11-09 18:17] lasjorg commented on #37720
@RandellDawson There is quite a few combinations that can produce that result. Here are at least some I can come up with.

[code]

We can check the elements position, but looking at coordinates somehow feels brittle (might not be). Also, is there a reason for not just rounding the width?

I tested this and it gives me the correct results at all zoom levels in Chrome. We shouldn't really need the d

[2019-11-09 19:08] ojeytonwilliams commented on #37720
@lasjorg I'm a bit wary of rounding like that.  Consider the case where `.item2` has width 0.25.  `contTwoPlusThreePlusGapWidth = Math.round(0.25 * 2 + 10) = 11` and `item5Width = Math.round(10.5) = 11`.  That's how it should work, right?

What if, due to browser weirdness, `.item2` actually ends up as 0.249, but `.item5` remains at 10.5?  Well, now `contTwoPlusThreePlusGapWidth = Math.round(0.249

[2019-11-09 19:10] ojeytonwilliams commented on #37720
And, yes, once we're happy about how to solve this, we should port the solution over to the row version.

[2019-11-09 19:17] ojeytonwilliams commented on #37719
The offline warning should only ever be triggered if you're not connected to the internet or not logged into your account.

@troncarter @TimFau could you go to https://www.freecodecamp.org/settings?  If you're not logged in it will ask you to.  If you are logged in you should see something like this:
![image](https://user-images.githubusercontent.com/15801806/68533808-a5e6cf00-032d-11ea-888f-bfbb8

[2019-11-09 19:26] ojeytonwilliams commented on #37720
@sascharissling this is almost entirely a discussion about maths and precisely what we want to be testing.  Don't worry about the coding side of things if there's something you want to say about this issue.

[2019-11-09 19:39] #37617 closed

[2019-11-09 19:39] #37626 closed

[2019-11-09 19:44] TimFau commented on #37719
I am logged in:
![image](https://user-images.githubusercontent.com/7255687/68534151-07437980-02ff-11ea-832e-f4126ee510ba.png)
I still see the message:
![image](https://user-images.githubusercontent.com/7255687/68534165-19bdb300-02ff-11ea-8e13-354f9dd869d2.png)

[2019-11-09 19:48] TimFau commented on #37719
Hmm I also tried logging out and back in and now I can't login at all:
![image](https://user-images.githubusercontent.com/7255687/68534229-e3ccfe80-02ff-11ea-8e4d-64bbb41ffe29.png)

Cleared cache/cookies/tried incognito, same thing.

[2019-11-09 19:57] ojeytonwilliams commented on #37719
@TimFau Ah... sorry to hear that.  It sounds like you'll need to contact support, support@freecodecamp.org, as you might have a duplicate account.  If so, they'll need to resolve that for you.  https://github.com/freeCodeCamp/freeCodeCamp/issues/37457 has some discussion about this.

It's difficult to tell exactly what was going on (why you were able to see the settings, but unable to submit chall

[2019-11-09 20:06] lasjorg commented on #37720
@ojeytonwilliams Maybe your right. I just feel like for that to happen there would need to be a bug in the browser's grid implementation and how it calculates the `1fr`. Otherwise, how would one of the values stay the same?

If we need to account for weirdness from browsers, devices and settings then I don't really see how we can make this test dynamic based on anything the browser has to calculat

[2019-11-09 20:08] TimFau commented on #37719
Thank you! I'll reach out to them.

[2019-11-09 20:22] ojeytonwilliams commented on #37720
@lasjorg we already know from things like

![Screenshot 2019-11-09 at 09 05 44](https://user-images.githubusercontent.com/53901545/68525257-21199800-02d0-11ea-83ad-e62bc971661b.png)
that what browsers report isn't to the greatest precision.  It doesn't mean it's displaying incorrectly (after all it can only be displayed an integer number of pixels wide).

Anyway, I could be wrong, but I think it's

[2019-11-09 20:33] ojeytonwilliams commented on #37720
It's a good point about 'devices', too. Definitely something we'd want to check on phones and so on.

[2019-11-09 22:27] iarobinson opened #37727 "Testing Suite Error Message Unclear - Why Does it Not Run?"
**Describe the bug**
Unclear error message for embedding test suite to front end projects

**To Reproduce**
Steps to reproduce the behavior:
1. Build a simple HTML page
2. Embed the testing javascript the head of that page

**Expected behavior**
Error message is unclear. Could be something like "ERROR: You're missing this element on your page"

**Screenshots**
![error_message](https://user-images.

[2019-11-09 22:47] troncarter commented on #37719
Yes I am logged in. Whenever I log in, it kicks me out. My username is troncarter

[2019-11-09 23:12] RandellDawson commented on #37719
@troncarter Sounds like you may have a duplicate account.  Contact support@freecodecamp.org and explain that you are having trouble logging.  They will check to see if you have two accounts and merge them and delete one.

[2019-11-09 23:37] RandellDawson commented on #37727
@iarobinson GitHub issues are reserved when a bug has been validated by others (typically on the forum).  Always reach out to the [forum](https://www.freecodecamp.org/forum) first and if members determine the issue is not your code, then you can open an issue.

I am closing this issue as you just need to move the link to to the test suite from the `head` element to right before the closing `body`

[2019-11-09 23:37] #37727 closed

[2019-11-10 02:11] damsalem opened #37728 "Typo in Debugging Assignment Operator"
In the [debugging lesson covering the assignment operator](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/debugging/catch-use-of-assignment-operator-instead-of-equality-operator), you will find a typo.

I've quote it in full below and **emboldened** the typo:

"The code below **assigns x to be 2**, which evaluates as true. Almost every value on its own in JavaScript e

[2019-11-10 02:37] RandellDawson commented on #37728
@damsalem `2` is a truthy value, so if (2) would evaluate to `true`.

I am closing this issue as the current verbiage is correct.

[2019-11-10 02:37] #37728 closed

[2019-11-10 04:14] damsalem commented on #37728
@RandellDawson thank you for addressing this. Will consult the forum prior to opening a ticket in the future.

[2019-11-10 12:17] #37674 closed

[2019-11-10 15:49] moT01 commented on #37724
`Tip #1`: Don't create an issue for something that isn't an issue.

You can try asking in the [contributors chat room](https://gitter.im/FreeCodeCamp/Contributors), or on the [contributors topic of the forum](https://www.freecodecamp.org/forum/c/contributors), or maybe try contacting someone by email.

Other than that, I would encourage you to keep contributing and you will get more and more recog

[2019-11-10 15:49] #37724 closed

[2019-11-10 15:58] viveksharmaui commented on #37724
Thank you so much for your positive response and guiding me .

[2019-11-10 16:12] moT01 commented on #37702
I'm not sure what to think here. At first, I thought it would be better to have this suggestion as more of an introduction page, where there's just maybe a picture with some text to explain things. Then I thought that maybe a challenge would be better, since it's hands on and users would actually be running the tests and interacting with the interface.

Do we know if people are struggling with thi

[2019-11-10 17:06] moT01 commented on #37720
// "2 / 4"

I would go for something like that from @lasjorg's comment.
Here's what I came up with...

[code]

[2019-11-10 17:59] ValeroM opened #37729 "Add a more clear description on how to access elements in an array. File is under basic JavaScript challenge."
**Describe your problem and how to reproduce it:**
I feel like the description for the code in the [access-array-data-with-indexes.english.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-array-data-with-indexes.english.md) is a little confusing and can be further cliarified. For example,

[2019-11-10 18:00] moT01 commented on #37701
Maybe out of scope here, but the fCC logo looks different as well and news is missing the search icon in the search bar.

[2019-11-10 18:38] Deesteph55 opened #37731 "Cannot log into fcc forum"
I have not been able to log into fcc forum for a few days. It first said I could not log in with my account with my IP address. I thought maybe its because I am in a different country from where i normally use fcc. So i tried making a new account. Then it said Incorrect username, email or password. I clicked on the I forgot password option then it said "There are no accounts with the this email ad

[2019-11-10 20:53] #37729 closed

[2019-11-10 20:59] TaraBryn commented on #37731
@Deesteph55 There is already [an open issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/37452) for the github problem, and I believe the message you get when trying to manually log in without github is related. If you wait an hour or so and try logging in manually (i.e., *not* with github) it might let you in. It's kind of hit or miss at the moment, so keep trying. I would also make sure

[2019-11-10 21:36] Deesteph55 commented on #37731
@TaraBryn I saw that issue and it seemed closed or abandoned so thats why i made another one. do you know anything about the ip address problem?  Are other people experiencing it?

[2019-11-10 21:51] mmm2k-bit opened #37732 "Help get past this test"
I just started learning with freecodecamp and there is still an ongoing issue with creating a new account for the forum there, so I am only able to ask for help here. Please don't judge too harsh as I know nothing about coding and it would be great if there was an option to override the test and move forward but it doesn't let me past this point.

Why is it still showing and error? I entered closi

[2019-11-10 21:53] #37732 closed

[2019-11-10 22:08] allison-strandberg opened #37733 "Unclear description for Basic JavaScript: Selecting from Many Options with Switch StatementsPassed"
**Describe your problem and how to reproduce it:**
I was confused by the text "Here is a pseudocode example:" before the switch case code sample. It seemed to imply that the code is not the actual JavaScript syntax for a switch case. I recommend including a simple non-pseudocode example instead.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-

[2019-11-10 22:38] allison-strandberg opened #37734 "Confusing task in Basic JavaScript: Comparisons with the Logical And Operator"
**Describe your problem and how to reproduce it:**
For this challenge, the starting code in my editor contains the following lines:
[code]
The challenge is

Since the idea behind this challenge is the ability to combine conditions with the && operator, I would expect the starting code to instead read:

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascri

[2019-11-10 22:55] RandellDawson commented on #37733
It is not valid syntax.  That is the point.

[2019-11-10 22:57] RandellDawson commented on #37734
The instructions tell you what to do regardless of the seed code.  If the seed code was provided as you describe, it would not be much of a challenge to solve.

[2019-11-10 22:58] RandellDawson commented on #37731
Closing as duplicate of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/37452

[2019-11-10 22:58] #37731 closed

[2019-11-10 22:59] RandellDawson commented on #37633
npm run test:curriculum and npm run develop to see the actually site live.

This is covered in the documentation.

[2019-11-10 23:09] TaraBryn commented on #37731
@Deesteph55 here's a link to the official explanation of why this is happening: https://github.com/freeCodeCamp/freeCodeCamp/issues/37452#issuecomment-544744530

[2019-11-10 23:18] PartyLich commented on #37633
I was quite confident I'd be able to find the issue i opened. Less confident I could find the specific line in the docs with the same level of expediency. Thus I left myself a note where I knew i could find it _quickly_

[2019-11-11 01:59] allison-strandberg commented on #37734
I think the point of the exercise is to demonstrate the usage of the && operator, so even though it's easier with my suggestion, it's not trivial. If you'd rather not give that hint, though, there's no reason for the nested if statements in the seed code, and I was confused by them. The seed code should read:
[code]

[2019-11-11 02:05] allison-strandberg commented on #37733
The exercise is to write a switch statement: it should be clear that the example is introducing the correct JavaScript syntax for a switch statement, not a pseudocode representation of switch statement logic.

[2019-11-11 02:07] RandellDawson commented on #37734
The point of the exercise is two-fold.  One is to teach the user how to use the `&&` operator.  The other is to have the user figure how to achieve the same logic with the `&&` operator as without the operator using the nested if statements.  I do not see any reason to change this challenge.

I will let the other collaborators/mods give their opinions on this issue.

[2019-11-11 02:10] RandellDawson commented on #37733
@allison-strandberg If you have an idea how best to show a real example (instead of the current pseudo-code), we can discuss it hear and get consensus with the other collaborators and then someone can create a pull request.

[2019-11-11 02:29] allison-strandberg commented on #37733
@RandellDawson how about something like this?
[code]

[2019-11-11 08:48] ojeytonwilliams commented on #37720
To my mind the main thing is that we always accept `2 / 4`  and always reject everything that doesn't achieve the same effect.  It doesn't matter as much if we reject correct, but weird, answers, since they're probably going to be generated by people that already know how to do it the obvious way.

With that in mind, I like @moT01's implementation of @lasjorg's idea the most and think we should go

[2019-11-11 09:38] ojeytonwilliams commented on #37734
I'm with @RandellDawson on this one - I don't think the seed needs changing.  I redid the challenge and found that the nested if statements were helpful.  You can create the intermediate solution:
[code]
if you're more comfortable with nested if statements and that will pass all but the first two tests.  This allows you to confirm that you've got the logic right before refactoring it into a single

[2019-11-11 09:43] lasjorg commented on #37720
Here are two more:

[code]

I think checking the strings is likely the safest way to test as well, even if we do miss some weird combo. It's pretty crazy just how many ways there are of achieving the same layout.

Here are the ones we have so far:

[code]

[2019-11-11 09:55] ojeytonwilliams commented on #37720
@lasjorg it is that!

@RandellDawson if you're happy with this approach, I think we're ready for a PR.

[2019-11-11 10:04] ojeytonwilliams commented on #37733
@allison-strandberg agreed, the existing code is a bit odd, since it's actually valid JavaScript masquerading as pseudocode.  I'd be inclined to start with:

[code]
and later just an abridged version of @allison-strandberg's example

[code]

I don't think we should be returning from switch statements, since https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascri

[2019-11-11 13:37] #37708 closed

[2019-11-11 13:53] allison-strandberg commented on #37734
Thanks @ojeytonwilliams: I like your suggestion to change the wording to

[2019-11-11 14:00] moT01 commented on #37734
Any interest in creating a PR for that @allison-strandberg?

[2019-11-11 14:09] moT01 commented on #37733
You're saying you want two examples in there @ojeytonwilliams? I would just go with your first example and remove the ellipsis (`...`).

[2019-11-11 14:25] RandellDawson commented on #37720
@ojeytonwilliams It is not elegant, but it seems like the only way to proceed at this point.  Who wants to create the PR?

[2019-11-11 14:29] allison-strandberg commented on #37734
Thank you for the link @moT01!

[2019-11-11 14:37] ojeytonwilliams commented on #37733
I was in two minds about the ellipsis, but it's perhaps better to just make the whole thing valid js.

Generally I like to include working examples - hence the second one.  It does seem a little redundant, though, so I don't mind if it's not used.

The main thing, after all, is not to refer to valid syntax as pseudocode.

[2019-11-11 15:03] marilenalaz commented on #6670
I just screenshotted!
Perfect certification!

[2019-11-11 15:06] moT01 commented on #37733
The first one is a working example (if the `...` is removed). It just uses variables instead of something more concrete. Either way I would try and stick with one example, perhaps we could just go with something like the second example so it's more obvious.

[2019-11-11 15:13] ojeytonwilliams commented on #37733
Sorry, I wasn't clear.  I think of the first one as a more a definition than an example, but, either way, I take your point that we should only have one.

[2019-11-11 15:19] RandellDawson commented on #37733
I like @ojeytonwilliams second example (the one with valid JS).

[2019-11-11 15:48] #37734 closed

[2019-11-11 17:53] TaraBryn commented on #37673
In case anyone else comes across this, there is an [open pull request](https://github.com/freeCodeCamp/boilerplate-socketio/pull/6) for this issue.

[2019-11-11 19:59] QuincyLarson opened #37738 "Twitter image is broken"
**Describe your problem and how to reproduce it:**

The Twitter image in this challenge is broken: https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

<img width="1431" alt="Learn_CSS_Flexbox__Use_the_align-items_Property_in_the_Tweet_E

[2019-11-11 21:02] #37738 closed

[2019-11-11 21:03] GuljanKG commented on #37719
Hello, is anyone experiencing issues with React section? I not being able to run the tests  (it is freezing) and not being able to save my progress. Also, I tried to login to the forum to see if other students are experiencing the same issue, and cannot login to the forum either.

[2019-11-12 01:32] iccir919 commented on #36327
The issue is a simple fix. The code references a state value named 'evaluated' that is not declared in the constructor function. To make the code work as expected requires the addition of this value equal to false.

[code]

[2019-11-12 03:37] Manish-Giri opened #37740 "Intellisense obscures your code in the code editor"
![Screen Shot 2019-11-11 at 9 13 04 PM](https://user-images.githubusercontent.com/11348778/68639737-88536a00-04d3-11ea-8e0d-e0a8c8a134fc.png)
![Screen Shot 2019-11-11 at 9 13 22 PM](https://user-images.githubusercontent.com/11348778/68639743-8e494b00-04d3-11ea-9e90-a64de6517b3f.png)
![Screen Shot 2019-11-11 at 9 15 58 PM](https://user-images.githubusercontent.com/11348778/68639749-93a69580-04d3-11

[2019-11-12 04:02] iccir919 commented on #36327
I think I may have a solution. The code references a state value named 'evaluated' that is not declared in the constructor function. I initiated the value back to the state declaration.
`this.state = {
      currentVal: '0',
      prevVal: '0',
      formula: '',
      currentSign: 'pos',
      lastClicked: '',
      evaluated: false
};`
Also, I added the following code in bold to the handleOperat

[2019-11-12 04:05] raisedadead commented on #36327
Hi @JuWeber99 thanks for drawing my attention to this. @scissorsneedfoodtoo can you please check the linked PR and confirm the action item on this?

[2019-11-12 04:05] raisedadead commented on #36327
/cc @RandellDawson

[2019-11-12 04:06] iccir919 commented on #36327
I believe I have a fix to this issue. I added the evaluated value back to the initial state and st it to false.
    this.state = {
      currentVal: '0',
      prevVal: '0',
      formula: '',
      currentSign: 'pos',
      lastClicked: '',
      evaluated: false
    };
Also, I added the code below in bold to the function handleOperators:
if (evaluated) {
        this.setState({ formula: prevVal

[2019-11-12 04:18] raisedadead commented on #37740
I have been long wishing to disable IntelliSense in the monaco-editor. Its not use-friendly and often counter productive. I think we should be opinionated about this and remove it completely.

[2019-11-12 04:19] raisedadead commented on #37740
Hey @Manish-Giri will you be interested in looking up the monaco docs and adding the config?

[2019-11-12 06:00] Manish-Giri commented on #37740
@raisedadead Sure! I'll take it up.

[2019-11-12 06:29] thecodingaviator opened #37742 "Reduce size of website"
The pages that we are working with right now are very heavy on slow internet connections with ~12MB of resources being loaded.

For people with good internet, this works but in places where the internet is not so fast, this is a huge problem.

![image](https://user-images.githubusercontent.com/34807532/68647266-78736e80-0543-11ea-88a6-795295defa43.png)

![image](https://user-images.githubuserconte

[2019-11-12 08:18] ahmadabdolsaheb commented on #37691
@moT01, #37671 is related wondering if you could take a look.

[2019-11-12 08:50] ahmadabdolsaheb opened #37743 "Search bar on the news search page needs a magnifier."
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-11-12 09:10] ojeytonwilliams commented on #37742
Agreed.  I think the main thing we need is better [code splitting](https://www.gatsbyjs.org/docs/how-code-splitting-works/) since about 1/3 to 1/2 (depending on the page) of the download is the 1.1MB `app` file.  That's common to each page and I doubt it needs to be that big.

[2019-11-12 09:55] ojeytonwilliams opened #37745 "Cache invalidation is not happening for all scripts"
**Describe the bug**
As reported in https://www.freecodecamp.org/forum/t/react-redux-tutorials-tests-are-not-executing/326155/9 certain scripts (those in client/src/client at least) are not getting cache-invalidation hashes.

**To Reproduce**
It's difficult to reproduce since you have to have an old version of a script cached in your browser.

**Screenshots**
![console log](https://user-images.git

[2019-11-12 19:04] Shaikot007 opened #37747 "MongoDB and Mongoose - Install and Set Up Mongoose test case broken"
**Describe your problem and how to reproduce it:**
Test for this challenge is not passing. added mongodb and mongoose with add package button and in package.json dependecy is

[code]

added `MONGO_URI` in .env with url from mongodb atlas.

and in myApp.js added

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/insta

[2019-11-12 19:10] RandellDawson commented on #37747
@Shaikot007 Please use [our forum](https://www.freecodecamp.org/forum) for help with your projects.

[2019-11-12 19:10] #37747 closed

[2019-11-13 04:31] Kbarias opened #37748 "Change to description of .length function in: find-the-length-of-a-string.english.md"
**Describe your problem and how to reproduce it:**
 I think that the description of the <code>.length</code> function for the [find-the-length-of-a-string](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/find-the-length-of-a-string.english.md)  challenge should include that spaces are taken into co

[2019-11-13 08:05] ojeytonwilliams commented on #37748
It does, implicitly:
[code]
is only 10 because of the space.

[2019-11-13 13:12] moT01 opened #37751 "Read-search-ask links are broken"
Many of the challenges say something like this...

Remember to use [Read-Search-Ask](http://forum.freecodecamp.org/t/how-to-get-help-when-you-are-stuck/19514) if you get stuck. Try to pair program. Write your own code.

The link there is broken. Many challenges have this problem. Here's the working link:
https://www.freecodecamp.org/forum/t/the-read-search-ask-methodology-for-getting-unstuck/13730

[2019-11-13 13:17] #17998 closed

[2019-11-13 13:18] moT01 commented on #17998
I don't think the user stories need to be in the example project. They have been added to the boilerplate repo and the boilerplate glitch project.

[2019-11-13 13:33] moT01 commented on #18045
I vote to just regex it - When we do that rounding, it makes room for invalid input; maybe something like `height: 24.9px` would pass.

[2019-11-13 13:38] moT01 commented on #17976
Pretty sure the problem is similiar to the problem on https://github.com/freeCodeCamp/freeCodeCamp/issues/18045

[2019-11-13 13:45] moT01 commented on #17921
This looks to be resolved. Screen shot from [this lesson](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array)...

<img width="664" alt="Screen Shot 2019-11-13 at 7 43 17 AM" src="https://user-images.githubusercontent.com/20648924/68769105-63511b00-05e9-11ea-9059-f5089d370a6a.png">

Same visuals on

[2019-11-13 13:45] #17921 closed

[2019-11-13 14:27] moT01 commented on #34246
Is this still an issue @ariellehale / @username1001 - It looks like there's been somewhat of an implementation of what you two are talking about.

[2019-11-13 14:36] moT01 commented on #36153
So it's probably safe to close this.

[2019-11-13 14:40] moT01 commented on #18487
This looks to be fixed, the editor is focused on load. Can you confirm that this is fixed @devinprater ? If so, this can probably be closed.

[2019-11-13 14:54] ojeytonwilliams commented on #18487
@moT01 I don't think it is fixed.  It focuses on load by default, but I think that turning on the screen reader mode is separate from just focusing.

I don't have a screen reader installed, but if I follow the steps above I keep having to re-enable that mode each time I go to a new challenge.

[2019-11-13 14:57] moT01 commented on #18142
Tests aren't added to the challenge file for this project. There's another [open issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/37185) to address this and the other projects without tests. I am going to close this since we are tracking things over there. Thanks for all the input everyone.

[2019-11-13 14:57] #18142 closed

[2019-11-13 15:06] devinprater commented on #18487
Sorry, I don’t think the editor should be focused on load, as that means the screen reader user most unfocus it, move back to the heading to read the challenge, then focus it again to write code. Also, I still have to enable accessibility mode on each challenge.

[2019-11-13 15:18] devinprater commented on #18487
VoiceOver on MacOS is… not the best, sadly, when it comes to web apps. If possible, you can send technical info about this to accessibility@apple.com <mailto:accessibility@apple.com>

Mono is Microsoft’s editor, which seems to be VSCode stripped down to the editor. Perhaps you could contact Microsoft and see if they could add a way to make accessibility states persistent across loads, if this isn’

[2019-11-13 15:24] ojeytonwilliams commented on #18487
That is annoying.  For now you should be able to focus the description by pressing escape (at the moment, it's still in a state of flux), but I'll see about making screen-reader mode something that persists between challenges.

[2019-11-13 15:31] moT01 commented on #18487
Seeing as how this issue is beyond our control, should we close this and make a new issue about the editor being focused on load?

You can feel free to email apple or microsoft if you want @devinprater. Thanks for the advice though.

[2019-11-13 15:36] ojeytonwilliams commented on #18487
@moT01 no need to close this. I think I can fix it.

[2019-11-13 15:49] devinprater commented on #18487
Yes, we can close this issue.

[2019-11-13 16:25] moT01 commented on #18062
Closing this as stale. And honestly, I'm not in favor of this feature. I think it will add more unnecessary clutter to an already limited space. If anyone disagrees, feel free to comment and we can reopen this.

[2019-11-13 16:27] moT01 commented on #35971
This looks like it's fixed with the new forum. Can you confirm and close this if it is @RandellDawson?

[2019-11-13 16:44] robinmetral commented on #18062
@moT01 honestly, I disagree. I think that this would make the experience of learning on freeCodeCamp better.

About your comment on cluttering, I assume you're referring to the screenshot in the initial post. I am not suggesting we add the progress indicator in parentheses, this was an illustrative minimal example. This issue is about the general idea and feature request, the design for it is an i

[2019-11-13 16:47] moT01 commented on #36475
Closing as stale.

[2019-11-13 16:47] #36475 closed

[2019-11-13 17:05] RandellDawson commented on #35971
@moT01 Yes, this was fixed a while back with a temporary fix.  Now, I assume the new permanent fix is place. @ahmadabdolsaheb Can you confirm this?  If so, can you close this issue?

[2019-11-13 17:12] moT01 commented on #18062
Alright, lets open it back up.

Here's a screenshot of something a little more streamlined...
<img width="607" alt="Screen Shot 2019-11-13 at 11 11 08 AM" src="https://user-images.githubusercontent.com/20648924/68787002-57c01d00-0606-11ea-87ff-ccc98ffdbb9c.png">

Anyone else want to weigh in on if this is a feature we want to add?

[2019-11-13 17:43] RandellDawson commented on #18062
So if I user skipped the first 10 lessons in the Basic JavaScript section and completed the 11th challenge, you all want it to show `(1 of 110)` or `(11 of 110)`?

These are all optional challenges and have no bearing on obtaining the certifications.  I also don't like the idea of appending anything else to the already lengthy title.  I personally believe all this will do is have users going to th

[2019-11-13 17:50] ojeytonwilliams commented on #18062
One possibility to reduce clutter and maybe address @RandellDawson's concerns is to have it just be a linear progress bar.  So, if you've done half of it, it's half full.

Another reason to avoid a numeric display is that it might be off-putting to see just how many there are.  Even knowing that each one is pretty easy, the idea that you have to do 110 of them doesn't sound great.

[2019-11-13 18:11] ojeytonwilliams commented on #18487
Quick update.  Both the auto-focusing and the persistence of accessibility mode *should* be fixable.  I think I'm about 90% of the way there, but for some reason it stops letting you toggle the accessibility support after a couple of toggles.

This, obviously, isn't ideal, but most of the functionality is there.

[2019-11-13 18:36] moT01 commented on #18062
What about a progress bar in the completion modal? There's plenty of room in there.

[2019-11-13 19:31] raisedadead commented on #35971
We have just updated the color scheme. A much newer UI theme is in the works. Nonetheless this issue stands closed.

[2019-11-13 19:31] #35971 closed

[2019-11-13 19:46] ojeytonwilliams commented on #18062
The completion modal is a great call.

I was also wondering if it would look good/unbearably cheesy to have an animated progress bar.  Something to visually indicate that you are getting somewhere.  I'm not sure, though, displaying a percentage might just be better.

[2019-11-14 00:02] Mozar10 commented on #37751
@moT01 I fixed this with a `grep` and `sed` command that. Will open a PR momentarily.

[2019-11-14 00:15] Mozar10 commented on #37751
Here is the command to recreate
`grep -rl 'https://forum.freecodecamp.org/t/how-to-get-help-when-you-are-stuck/19514' ./ | xargs sed -i 's@https://forum.freecodecamp.org/t/how-to-get-help-when-you-are-stuck/19514@https://www.freecodecamp.org/forum/t/the-read-search-ask-methodology-for-getting-unstuck/137307@g'`

[2019-11-14 01:30] lasjorg commented on #18045
I think just having a regex is the safer choice as well. And considering the test already have a regex it makes the first part of the conditional assert a bit pointless anyway.

Will update the two PRs (height/width) to just use the regex already in place.

[2019-11-14 01:34] lasjorg commented on #17976
Yep looks like yet another zoom bug with Chrome. We can check the inline styles set instead for the test. I will make a PR.

[2019-11-14 01:35] RandellDawson commented on #37751
@moT01 @Mozar10 The [original forum topic](https://www.freecodecamp.org/forum/t/how-to-get-help-when-you-are-stuck-coding/19514)  should be used instead because it has more views.

[2019-11-14 02:22] Mozar10 commented on #37751
@RandellDawson updated the PR

[2019-11-14 02:35] #37748 closed

[2019-11-14 08:11] ojeytonwilliams commented on #18045
@lasjorg To production?  Yeah, it is. Mrugesh has made it very streamlined.  The [devops docs](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/devops.md) cover it.

[2019-11-14 08:21] ahmadabdolsaheb commented on #37143
@QuincyLarson, should this be a separate modal or embedded in the completion modal?
Also, are you thinking of a message similar to the upcoming news paragraph and cta, or a list of quotes?

[2019-11-14 09:35] ahmadabdolsaheb commented on #37702
good points, @QuincyLarson I looked around and it seems like getting the users to learn as soon as possible would increase engagement in the on boarding process.

I will close this issue for now. thanks everyone for your feedback.

[2019-11-14 09:35] #37702 closed

[2019-11-14 15:47] lasjorg commented on #37733
Should the code example in the challenge that follows this one be changed as well?
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/adding-a-default-option-in-switch-statements

[2019-11-14 16:06] ojeytonwilliams commented on #37733
I think it should, yes.  Again it should be something concrete.

[2019-11-14 16:46] #37714 closed

[2019-11-14 16:47] #18487 closed

[2019-11-14 17:21] QuincyLarson commented on #37143
@ahmadabdolsaheb With our new curriculum, we won't even show modals when people complete a single test - instead it will just advance them to the subsequent test. We will only show a congratulatory modal when they finish the entire project.

So I think a single type of modal will suffice.

I am going to close this because instead of working on these modals, we can instead use that time to work on

[2019-11-14 18:05] #37143 closed

[2019-11-14 18:11] raisedadead commented on #37751
@Mozar10 thanks for the PR. @RandellDawson thanks for pointing to the correct link. Please review and merge.

That said, it's interesting that the redirects did not work. They should have gracefully redirected over to the correct links.

[2019-11-14 20:07] #37733 closed

[2019-11-15 01:27] moT01 commented on #18062
![Nov-14-2019 19-22-38](https://user-images.githubusercontent.com/20648924/68909590-67c62280-0714-11ea-98c8-6fc90b43a8a1.gif)

Hey @raisedadead, before I go any further with this - is anything along these lines something we would consider adding? It needs some work yet so it would look better than this.

[2019-11-15 03:42] RandellDawson opened #37760 "Scrimba video for Use the Conditional Ternary Operator challenges needs to be updated"
The scrimba video for [Use the Conditional Ternary Operator](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator) needs to be updated to match the updates made a while back.

[2019-11-15 07:53] raisedadead commented on #18062
I am ok with the progress bar on the completion modal, but @QuincyLarson will have to sign off on this before you start work on this.

[2019-11-15 07:56] #37713 closed

[2019-11-15 17:33] #37691 closed

[2019-11-15 22:27] TimFau opened #37767 "Clicking "Get Message" does nothing on "JSON APIs and Ajax: Access the JSON Data from an API""
**Describe the bug**
Instructions say "On the right, click the "Get Message" button to load the freeCodeCamp Cat Photo API JSON into the HTML." But, when you click "Get Message", nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api
2. Click on "Get Message"

**Expected

[2019-11-15 23:17] RandellDawson commented on #37767
There is a bug which will be fixed when both PR #37534 and PR #37621 have been merged.

Basically, there are two variables (`req` and `json`) which are not declared and are causing an error and not allowing the JSON response from displaying in the Preview area.  There is another bug which is preventing the error messages from even displaying in the FCC or browser console.

I will leave this issue

[2019-11-16 02:35] TimFau commented on #37767
Got it, thanks!

[2019-11-16 13:45] RandellDawson commented on #35765
Related to #17645

[2019-11-16 14:01] RandellDawson commented on #36741
This issue was resolved.  The hints and solutions forum topic for this challenge includes another solution that does not user a quantifier.

[2019-11-16 14:01] #36741 closed

[2019-11-16 19:46] QuincyLarson commented on #18062
@moT01 I like your completion bar. It would be nice if we could animate it filling up like we've animated the checkmark.

1. We animate the checkmark
2. we animate the progress bar

Also, I would keep the checkmark centered. We don't need the name of the current challenge in the modal - just the name of the section.

And while you're in there, perhaps you could increase the font size of the congra

[2019-11-16 22:12] jsilvao opened #37770 "Timestamp Microservice fails working projects if the user's clock is set wrong"
The empty date tests (the last two tests) never succeed, even if meeting the tests demands. I've checked this manually using the browser with my Glitch project URL [https://lean-shroud.glitch.me/api/timestamp/]( https://lean-shroud.glitch.me/api/timestamp/) which is to query the API with an empty date and it correctly returns the current datetime in Unix and UTC format.

I've checked the tests sou

[2019-11-16 22:21] jshaolin opened #37771 "Inconsistent behavior in the "Solution" and "Github Link" texboxes of the APIs and Microservices projects"
If I fill the "Solution" textbox only, providing a Glitch project URL, and leave the other one blank, then when I click the "I've completed this challenge" button, it complains about having to fill in the "Github Link" textbox. What I did was to put the same Glitch URL in both textboxes, the "Solution" and the "Github Link", and it worked like a charm. I did that to complete 4 of 5 projects (since

[2019-11-17 01:13] moT01 commented on #18062
Update: This is where I ended up yesterday...
![Nov-16-2019 19-06-32](https://user-images.githubusercontent.com/20648924/69001472-7a6f6180-08a4-11ea-85e9-478a6b564a5f.gif)

I'll post another gif here with the challenge name gone and some bigger text up top so we can see a comparison.

[2019-11-17 20:45] dan9d9 opened #37774 "Add Flex Superpowers to the Tweet Embed - Does not pass in Firefox"
Challenge does not pass in Firefox. Console returns:

even though the follow-btn has display set to flex. Challenge with identical answers passes in Chrome.

https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed

**Tell us about your browser and operating system:**
* Browser Name: Firefox
* Browser Version: 70.0.1
* Operating System: Windows 1

[2019-11-17 21:18] RandellDawson commented on #37774
@dan9d9 Not able to reproduce the issue in Firefox.  Please post the entire code you used for this chalelnge and not a screenshot of a partial code section.

Thank you.

[2019-11-18 09:08] dan9d9 commented on #37774
Here's the code I'm inputting. It's the default code with only `display: flex` added in the spots it needs to be:

[code]

Furthermore, here's the forum post that brought this to my attention: https://www.freecodecamp.org/forum/t/put-the-display-flex-in-the-right-place/326649

And the code that this user is inputting. The only difference here is that this user has added `display: flex` to the `.fo

[2019-11-18 09:12] ojeytonwilliams commented on #35541
I just encountered this when looking into #37770.  Any further thoughts on this @moT01?  I found myself having to look up the tests in the source while trying to pass the tests for https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.  This was because I was working from the boilerplate, not the example project.

[2019-11-18 09:20] ojeytonwilliams commented on #37770
:date_string and :date are both placeholders, so it should work equally well for both.  You can name your parameter whatever you want and it will appear in `req.params`.

When I submit your project url, https://lean-shroud.glitch.me/, on https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice all the tests pass.  Would you mind recording a v

[2019-11-18 09:42] ojeytonwilliams commented on #37774
Both solutions work for me, so it's possibly a conflict with a browser extension.  @dan9d9 could you try running the tests with them all off?  Using incognito mode might be enough, depending on how they're configured.

[2019-11-18 09:55] dan9d9 commented on #37774
@ojeytonwilliams
You're right. It's uBlock Origin that's causing the conflict. Turning it off allows the challenge to pass, but having it on results in the
`// running tests
Your .follow-btn should have a display property set to flex.
// tests completed`
error being displayed.

[2019-11-18 10:18] ojeytonwilliams commented on #37774
@dan9d9 Thanks for investigating that!

@RandellDawson these kinds of problems seem to occur mostly in the css sections.  Do you think it would be worth putting warnings about browser extensions in the first challenges of those sections?

[2019-11-18 13:38] davidkwan95 commented on #37662
Hi, I would like to try and fix this

[2019-11-18 14:05] moT01 commented on #35541
Not really, I made my suggestion - I thought that it would be better to have the instructions on the website - because without them, the pages would be empty.

[2019-11-18 14:39] moT01 commented on #18062
Still working on animating the progress bar...
![Nov-18-2019 08-37-26](https://user-images.githubusercontent.com/20648924/69061456-bd355480-09de-11ea-8a5a-7dbcde9b651f.gif)

[2019-11-18 14:58] ahmadabdolsaheb commented on #18062
@moT01 does the percentage of on progress bar refers to the percentage of the challenges completed in that section?

[2019-11-18 15:04] moT01 commented on #18062
yes

[2019-11-18 15:39] raisedadead opened #37776 "Move to Node LTS 12.x.x"
We need to test our current codebase on Node LTS 12.x.x and make changes if necessary. Once done, we bump the version and do the DevOps upgrade.

[2019-11-18 18:41] raisedadead commented on #37771
At the minute we do not validate if the links are from GitHub and Glitch. We rely on the honor system for users providing the links to their work.

We can tweak this to at least check the links from Glitch and GitHub. That said, we do not want any in depth validation to avoid complexity.

[2019-11-18 19:03] moT01 commented on #37771
I vote to remove the input for a github link. As far as I know, there is no requirement stated that github must be used. What if someone builds their entire project on glitch like the OP here, or just hosts their code somewhere without wanted to put it on github? Could possibly just make the github link optional as well.

[2019-11-18 22:49] QuincyLarson opened #37778 "news search box magnifying glass needs repositioning"
<img width="572" alt="How_to_create_a_music_bot_using_Discord_js" src="https://user-images.githubusercontent.com/985197/69100704-5c7c3b00-0a23-11ea-8e08-b196a4a60c5e.png">

It looks much better on /learn (though it could also be slightly centered vertically).

<img width="604" alt="Learn___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/69100672-4b332e80-0a23-11ea-8d22-1989

[2019-11-19 00:30] PartyLich commented on #37771
I'd vote for making the github input optional. I didn't manage to find any link to the submitted urls from my public profile page, but if there was one i'd certainly want it to be able to point it to the github entry. Ideally while also having a testable glitch (or other host) version.

It may also be worth noting the user settings page that _does_ have links to my submissions labels them as Front

[2019-11-19 01:19] PartyLich commented on #37662
Is this still broken? Trying with my account I didn't manage to reproduce. Perhaps I'm missing some detail.
![image](https://user-images.githubusercontent.com/2792750/69107817-a6bfe500-0a40-11ea-805b-35a19c441bc5.png)

[2019-11-19 02:43] davidkwan95 commented on #37662
I haven't been able to reproduce it as well actually

[2019-11-19 11:36] Dineshchitta commented on #17386
Any update on this? @raisedadead

[2019-11-19 11:44] raisedadead commented on #37771
Okay, lets make the GitHub link optional.

[2019-11-19 11:45] raisedadead commented on #17386
A pull request is welcome if you are interested.

[2019-11-19 11:46] raisedadead commented on #37662
I am going to close this unless @laghee can confirm they are still seeing this error.

[2019-11-19 11:56] Dineshchitta commented on #17386
Hi @raisedadead,

I am not aware of the codebase and how much effort it would take to submit PR

I am interested if someone could guide me on how to fix this

[2019-11-19 12:37] laghee commented on #37662
@raisedadead Weird. It's still happening to me, but only on mobile -- both Firefox and Chrome, so I don't think it's a compatibility issue. Desktop seems to work fine.

[2019-11-19 12:51] ziomecka commented on #37778
Could I take it?

[2019-11-19 13:07] raisedadead commented on #37662
Thanks re-opening.

[2019-11-19 14:43] Yettymaer opened #37780 "Creating a Freecode Camp Forum Account"
<img width="580" alt="Screenshot 2019-11-19 at 14 39 48" src="https://user-images.githubusercontent.com/53909341/69155902-7dec2e00-0ada-11ea-990a-677aee83f0cf.png">

Apologies if this has been reported but the issue was last updated 29 days ago and wasn't sure if it has been fixed. I have been attempting to create an account on the Forum for the past 2 weeks and always get the message 'We are faci

[2019-11-19 14:43] ojeytonwilliams commented on #37778
@ziomecka feel free!  We generally take the first (working) PR that's submitted and you're more than welcome to submit one.

By the way, I dug into this a little - the problem comes from how rems deal with browser settings https://stackoverflow.com/questions/28718688/rems-rendering-differently-between-chrome-and-firefox, so I'd recommend using another unit for positioning (em, perhaps?) to avoid t

[2019-11-19 15:04] moT01 commented on #18062
close to finalized... I think
![Nov-19-2019 08-54-13](https://user-images.githubusercontent.com/20648924/69157985-5c278280-0aab-11ea-9ec3-449d5d400450.gif)

[2019-11-19 15:17] raisedadead commented on #18062
Nice work @moT01 !

[2019-11-19 17:26] Ieahleen opened #37782 "Cash Register solution in guide fails for floating numbers error"
the solution given in the guide here https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-cash-register/16012
fails in a situation like
[code]

the change due is calculated as 3.01-3, which results in a 0.009999999999999787
this number is too small for the various checks, and no penny is ever given

We need a solution that starts with the conversion to cents, and maybe an explanation,

[2019-11-19 18:23] Mada75 commented on #37780
I've not been able to login either, the [previous](https://github.com/freeCodeCamp/freeCodeCamp/issues/37452) report is still open so I assume they're aware and haven't been able to fix it yet

[2019-11-19 21:12] raisedadead commented on #35668
Not needed any more.

[2019-11-19 21:12] #35668 closed

[2019-11-19 21:13] raisedadead commented on #35669
Not needed any more.

[2019-11-19 21:13] #35669 closed

[2019-11-19 21:14] raisedadead commented on #37024
A lot of these features were implemented in #37689

[2019-11-19 21:14] #37024 closed

[2019-11-19 21:14] raisedadead commented on #37780
Duplicate of #37452

[2019-11-19 21:14] #37780 closed

[2019-11-19 21:16] #37745 closed

[2019-11-19 21:17] jshaolin commented on #37770
Sorry for the delay, yes, I will record a video as you asked.

[2019-11-19 21:19] #37719 closed

[2019-11-19 21:20] raisedadead opened #37783 "Donate Page PayPal Integration"
- [ ] PayPal integration for subscription and onetime donations.

[2019-11-19 21:21] raisedadead opened #37784 "Donation API side updates"
- [x] normalize non-donors (canceled subscriptions) in the database?
- [ ] receive and react to webhooks from stripe.
- [x] Send a plan id instead of amount and duration to the API.

[2019-11-19 21:23] #36757 closed

[2019-11-19 23:19] QuincyLarson opened #37786 "Donate page hour amounts incorrect"
At freeCodeCamp's current level of efficiency, every dollar donated to our nonprofit translates to 50 hours worth of learning.

Both the One-time and Annual options have the correct amounts, but for some reason the monthly doesn't have the correct amount:

$50 should be 25,000 hours:
<img width="507" alt="Support_our_nonprofit___freeCodeCamp_org" src="https://user-images.githubusercontent.com/9851

[2019-11-19 23:20] QuincyLarson opened #37787 "Donate page should have middle value selected by default"
Currently the donate page always has the left-most value selected by default. Instead, we want the center value selected by default.

For example, here we would want the $35 option to be selected by default (currently $50 is selected by default):
<img width="517" alt="Support_our_nonprofit___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/69195311-e34b1980-0af0-11ea-9ff6-c5

[2019-11-20 00:54] #37751 closed

[2019-11-20 01:10] jefferson2z opened #37788 "outdated instructions"
The page "Introduction to the MongoDB and Mongoose Challenges" says "You should be able to see the green Get Started button on the bottom left of your screen". However there's no such button on MongoDB Atlas. The text should instead guide the student to go to "Database Access" under "Security", and click the green button "Add a new user".

**Describe your problem and how to reproduce it:**

**Add

[2019-11-20 01:12] jefferson2z commented on #37788
I would like to make a PR for improving this text, however I can't find the page for "Introduction to the MongoDB and Mongoose Challenges" under curriculum/challenges on the repository.

[2019-11-20 02:00] username1001 commented on #34246
I forgot all about this. Haven't really used FCC in awhile. Just realized it was updated! This implementation seems more like a progress tracker. What I meant was more along the lines of a bookmarker/lesson saver which can be viewed by the user on their profile (or within a new route). But now that I think about it, it might be useful to just use the browser's bookmarker, or even use note-taking a

[2019-11-20 02:00] #34246 closed

[2019-11-20 06:05] raisedadead commented on #37786
The hour is calculated per month? For example $5:  5 * 50 / 12

[2019-11-20 06:45] #37787 closed

[2019-11-20 06:45] #37786 closed

[2019-11-20 11:06] ojeytonwilliams commented on #37788
Hi @jefferson2z, the introductions are handled a little differently to the challenges.  You can find the one you're looking for in client/src/pages/learn/apis-and-microservices/mongodb-and-mongoose/index.md.

[2019-11-20 12:46] AlexOrtizzz opened #37794 "Certificate issued date is almost invisible..."
...but only if i use direct link.

Bad: https://www.freecodecamp.org/certification/alexortizzz/javascript-algorithms-and-data-structures

Good: click certificate in portfolio (https://www.freecodecamp.org/alexortizzz)

Windows 10, Chrome 78 / Firefox 70

[2019-11-20 14:10] ojeytonwilliams commented on #37794
Thanks for the report!  However, there is already an issue, https://github.com/freeCodeCamp/freeCodeCamp/issues/37378, that's tracking this, so I'm closing this one as a duplicate.

[2019-11-20 14:10] #37794 closed

[2019-11-20 18:27] jshaolin commented on #37770
@ojeytonwilliams I have a suspicion that the issue might be regarding different timezones, maybe Glitch is serving you from a different geographical location than it's serving me. This is what I've got right now, {"unix":1574274409782,"utc":"Wed, 20 Nov 2019 18:26:49 GMT"} when querying https://lean-shroud.glitch.me/api/timestamp/ would you mind checking if the response you get is the same or at l

[2019-11-20 18:42] ojeytonwilliams commented on #37770
I just got `{"unix":1574275119036,"utc":"Wed, 20 Nov 2019 18:38:39 GMT"}`, which was correct.  It is UTC, after all, so it should not care about timezones.

[2019-11-20 19:49] ziomecka commented on #37778
ok :-)

[2019-11-20 20:50] jshaolin commented on #37770
@ojeytonwilliams [here's](https://drive.google.com/open?id=1ukpbCM-SNRdfCWC0bsXRPYIU3EdoyyHm) the video you requested. Let me know if you need anything else (like a higher-res version). And tell me what you think about it.

[2019-11-20 20:59] jshaolin opened #37800 "New login issue"
At first, when trying to login to fCC Forum I got the "We're facing a known issue..." login error, a few days later I got the "Can't log in from that IP address". However, I was able to login a couple times. But now, I'm seeing this when login in through GitHub:

![Sin título3](https://user-images.githubusercontent.com/44646385/69277315-97a58680-0c3c-11ea-805f-16a4d52ad601.png)

After seeing all o

[2019-11-20 22:52] ojeytonwilliams commented on #37770
I can't see anything that would cause that, yet.  Could you do the same and screenshot whatever appears in the dev console (f12 on Chrome) when you do so? There should be messages like:
![image](https://user-images.githubusercontent.com/15801806/69285257-b2520e00-0bf0-11ea-9d0a-c6e6fac674b0.png)
that can help get to the bottom of this.

No need to record another video, though!

[2019-11-21 01:49] lucasarvelo commented on #17744
I try every solution, even what zombiejs recomend.
`browser.fill("surname", "Colombo")then(() => {browser.pressButton("submit", function() {
          browser.assert.success();
          browser.assert.text('span#name', "Cristoforo");
          browser.assert.text('span#surname', "Colombo");
          browser.assert.element("span#dates", 1);
          done(); // It's an async test, so we have to c

[2019-11-21 01:53] jshaolin commented on #37770
@ojeytonwilliams the console of the DevTools is blank, no errors whatsoever. I'm simply out of words, I come from the world of C/C++ and this bug baffles me more that the most dark and elusive memory/pointer bugs I've faced.

![Sin título4](https://user-images.githubusercontent.com/44646385/69293632-ff23fc00-0c65-11ea-9229-6a835145e888.png)

[2019-11-21 03:02] Shaurya-Sarma opened #37801 "freeCodeCamp.org's Forums are down?"
**Describe the bug**
By trying the post on the forum, it returns an error message, called "Internal Server Error". I am unsure whether it is from my end or everyone is experiencing the same issue as the latest post is 9 hours ago as of 22:00 EST.

**To Reproduce**
Just try to start a new post or open another one. It results in an error message.

[2019-11-21 03:30] lucasarvelo commented on #17744
Ok, I found the problem. The test in the challenge is testing for a single quotation.
[code]
Here  > '\'span#name\'' and here > '\'Cristoforo\''

I just replace the double quotations for single quotations and the local and challenge tests pass.

[2019-11-21 07:01] raisedadead commented on #37801
Duplicate of #37452

[2019-11-21 07:01] #37801 closed

[2019-11-21 07:03] raisedadead commented on #37800
Duplicate of #37452

I am posting details here: https://www.freecodecamp.org/forum/t/forum-is-currently-under-high-loads/326894/4

[2019-11-21 07:03] #37800 closed

[2019-11-21 09:18] ojeytonwilliams commented on #37770
Okay, I think your original idea

is mostly likely correct, since that would result in the tests failing without any logs.  AssertionErrors are not reported to the console, since the site already tells you if a test is failing.

I'm not sure why this would be the case, but potentially your system clock is out of sync with Glitch, so is reporting a UTC that's more than 20s away from the server time

[2019-11-21 09:37] raisedadead commented on #37778
Here is the code repository for the news theme if you are interested
https://github.com/freeCodeCamp/news-theme

[2019-11-21 14:07] jshaolin commented on #37770
@ojeytonwilliams holy s**t syncing the clock worked!!! Thanks so much. I still have much to learn from web proramming. Following up on that, one question, my date and times where matched perfectly but my computer (Windows 10 Pro) had a different time zone (mine is UTC-5), so, if the date time matched how is it that the timezone mattered if the tests only check for the date time. And, how is that m

[2019-11-21 14:34] kmb40 commented on #37378
Hello - This may help debug the issue.

I **do not** have this issue when viewing the certificate from my profile page - after clicking the "View Full Stack Certification" button.
<img width="1377" alt="Screen Shot 2019-11-21 at 9 27 44 AM" src="https://user-images.githubusercontent.com/1646055/69346826-772bfb00-0c41-11ea-90e6-a3583401effc.png">

I do have this issue when viewing the certificate w

[2019-11-21 15:01] ojeytonwilliams commented on #37770
@jshaolin I'm afraid I'm just guessing, but it sounds like your computer's internal clock simply had the time wrong.  Even if you change your timezone, that doesn't change what the computer thinks UTC is.  You can test this in any dev console.

[code]

[code]

If you change your timezone the first should change, but the second should not.  That said, I'm not on Windows, maybe it does things differ

[2019-11-21 15:50] ziomecka commented on #37778
I think it can be solved by changing the position of the wrapping div (with the role="search") from 'static' to 'relative'. Then the magnifying glass's position will be calculated versus this div. Thus, the 'left' property of 3rem can be removed, and the 'top' can be changed from 20% to something like: calc(20% + 5px).

However I cannot reproduce this issue in my browsers so I do not feel comforta

[2019-11-21 15:59] ojeytonwilliams commented on #37778
If you're using Chrome you can go to chrome://settings/fonts?search=font and change your fontsize.  Then take a look at https://www.freecodecamp.org/news. The magnifying glass should have moved.

[2019-11-21 16:41] ziomecka commented on #37778
Yes, it moved. Thank you :-)
So the commit is ready, however I cannot push branch to the news-theme repo:
'remote: Permission to freeCodeCamp/news-theme.git denied to ziomecka.'

[2019-11-21 17:21] raisedadead commented on #37778
Looks like you are new to GitHub and Contributing in general, here are some resources you should read up on:

- https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-open-a-pull-request.md

[2019-11-21 17:23] ojeytonwilliams commented on #37778
@ziomecka You're welcome!

You will not be able to push to that repo directly.  The thing to do is to create a branch in a fork and use that to create the PR.  As well as the link Mrugesh just posted, I'd recommend looking at this [guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md)

If you have any problems, the best thing to do is reach out

[2019-11-21 18:09] jshaolin commented on #37770
@ojeytonwilliams I agree on a PR. But, about getting the clock right, I think the last two tests (and that user story) should be changed to something new, something that if it fails, it would be because of some bug in the code and not because some missalignment in your computer clock. It sounds ridiculous but what if someone can't change its clock settings (lack of permission, or some other reason

[2019-11-21 18:18] TomYang1993 commented on #36828
just wondering is this still open?

[2019-11-21 18:39] ojeytonwilliams commented on #37770
@jshaolin it's a tricky one to solve permanently.  Perhaps the solution is to relax the restrictions somewhat.  Currently it accepts dates that differ by up to 20 seconds, so we could make it accept a wider gap (a day, maybe?).  That way anyone whose clock is a little bit out will still pass, but we won't end up allowing all submissions through.  Bright ideas are very welcome!

You're very welcome

[2019-11-21 19:36] ankurprasad711 commented on #37782
Hi @leahleen I would like to solve this issue. can you assign it to me. thanks

[2019-11-21 19:52] Ieahleen commented on #37782
@ankurprasad711 no, I can't assign things myself

[2019-11-21 20:34] RandellDawson opened #37805 "curriculum bug - explicit console.log statements in code should show in both FCC console and browser console"
When PR #37621 was recently merged, the overall user experience with the FCC and browser consoles was improved. I originally assumed (but did not test) when I approved that PR, that explicit console.log statements would show both in the FCC console and in the browser console.  However, some of them now only show in the browser console due, if they appear in the running of the first test case.

[2019-11-22 03:04] jshaolin commented on #37770
@ojeytonwilliams

I think the possibility that a user clock to be offset by more than a day is very low, so maybe that would work. However, I think the root of the issue is the user story itself: to respond with the current date; maybe changing it to something else. I think that merely returning `new Date()` does not bring something new in pedagogical terms. So, perhaps changing/removing that user

[2019-11-22 07:46] ojeytonwilliams commented on #37770
I think that's best avoided, since we don't control it and can't fix it if it goes down.  You can imagine the frustration it would cause if someone can't pass the tests and there's literally nothing they can do about it.

Changing the user story could work, though we shouldn't change the difficulty too much.  Unless there's a consensus it's currently too difficult/too easy, of course.

@moT01 @Ran

[2019-11-22 08:48] ziomecka commented on #37778
Ok, so I have created the PR.
May I suggest adding the links you have sent me to the CONTRIBUTING.md:
https://github.com/freeCodeCamp/news-theme/blob/master/CONTRIBUTING.md

[2019-11-22 15:00] ojeytonwilliams commented on #37782
@ankurprasad711 we don't generally assign issues, but you're more than welcome to work on it!  Take a look at the [contributing guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md#how-do-i-get-an-issue-assigned-to-me) if you'd like to see the reasoning.

[2019-11-22 15:36] RandellDawson commented on #37782
There is no longer a Guide.

[2019-11-22 18:39] Ieahleen commented on #37782
@RandellDawson there is the guide in the forum where there is a solution, and there are articles and news of disparate topics

[2019-11-23 01:14] Manish-Giri commented on #37776
@raisedadead I'll take this up. Will start by first testing it on LTS 12 and go from there.

[2019-11-23 19:42] JasperKirton commented on #7122
Hello,

I'm having the same issue as Suran, any help would be greatly appreciated! Thanks

[2019-11-23 20:06] #37412 closed

[2019-11-23 20:53] snigo commented on #37782
There is no reason to do double conversion to cents and then back to dollars in this example. You can wrap every operation with something like this:
[code]

[2019-11-24 05:43] QuincyLarson opened #37817 "Add "Joined freeCodeCamp in [month] of [year]" to profile"
We'd like to recognize people's original date of account creation on their profile. This is a nice way of recognizing the many early adopters who joined back before freeCodeCamp was a proven path to a developer job, and who were "taking a chance on us" :)

Even though we don't store a date of account creation, it's possible to get a record creation date using the Mongo ID property.

We're looking

[2019-11-24 07:03] ahmadabdolsaheb commented on #37378
i think some general theme based color styles are over writing that element styles, in this case if this case if we make the styles more specific, and apply to ```strong``` it should work.

![image](https://user-images.githubusercontent.com/4591597/69491083-58c43a80-0ea1-11ea-98c2-dc151d0e3fd8.png)

[2019-11-24 07:40] Manish-Giri commented on #37817
I'd like to give this a shot. Sounds like an interesting challenge.

[2019-11-24 17:59] hajdarevicedin commented on #37817
I vouch for this as well

[2019-11-24 19:42] UziTech opened #37820 "Inconsistent code in Data Structures"
**Describe your problem and how to reproduce it:**

Code in Data Structure challanges is inconsistent.

I believe we should use es6 class syntax across all Data Structures challenges since they are less verbose and emphasize the code in each method rather than the methods themselves.

I started a PR (#37819) to update the code.

**Add a Link to the page with the problem:**

[Create a Set Class](ht

[2019-11-24 21:46] Manish-Giri commented on #37820
I don't know if this is a good idea. Yes, using `class` based syntax is less verbose, but keep in mind, this section is mostly on coding interview prep, and a lot of JS-based coding interviews actually require/prefer you using the older `function` based syntax, to demonstrate you know how things (prototypal inheritance, first-class functions, etc) work under the hood.

[2019-11-24 22:11] #37481 closed

[2019-11-24 22:43] UziTech commented on #37820
Maybe there should be lessons on `(prototypal inheritance, first-class functions, etc)` but each challenge should teach it's specific lesson (in this case implementing data structures) with as little distraction as possible, and I believe the easiest way to reduce the distraction is to use ES6 classes.

If we do want to use function objects instead, we should at least keep it consistent.

[2019-11-24 23:23] RandellDawson commented on #37820
@UziTech Unfortunately, we are no longer adding new lessons to the existing curriculum.  We can modify existing lessons, but all new lessons are to be incorporated into the [new project-based curriculum](https://github.com/freeCodeCamp/CurriculumExpansion) which will replace most of the current curriculum (excluding the `Coding Interview Prep` section).

I do agree with this, but not necessarily t

[2019-11-24 23:33] UziTech commented on #37820
@RandellDawson Why do you think function syntax would be better in teaching data structures than class syntax?

These are not lessons in JavaScript, they are lessons in common data structures. They just happen to be using JavaScript to teach the lessons.

[2019-11-25 00:56] Aadhar3 commented on #37185
Hey, I would be interested in working on this issue by adding tests for URL shortener.

[2019-11-25 07:38] ojeytonwilliams commented on #37185
Thanks @Aadhar3, PRs are definitely welcome.

[2019-11-25 10:44] ojeytonwilliams commented on #37740
To my mind, the problem is that the parameter hints are a mess.  So, the problem is that Intellisense isn't working probably, rather than it exists.

When I'm working through a challenge I find the suggestions are helpful, so you can do things like this:
![Intellisense](https://user-images.githubusercontent.com/15801806/69533549-47019680-0f78-11ea-8c4c-ee800fef6818.gif)

I deliberately stopped bef

[2019-11-25 11:59] Josef37 commented on #37742
I'm trying to start contributing a little to this great project. :)

So I did some analysis on the bundle sizes.
I installed the `gatsby-plugin-webpack-bundle-analyzer` on the client and configured it to output webpack stats in `gatsby-config.json`
[code]
Then I ran the analyzer by
[code]
These are the stats file and a screenshot of the analyzer (so you can run the command yourself without buildin

[2019-11-25 12:29] thecodingaviator commented on #37817
I guess since @Manish-Giri asked for it first, he can have a go.

[2019-11-25 12:35] thecodingaviator commented on #35765
@moT01 I think it's good. It will simplify the challenge and get rid of the problem.

[2019-11-25 12:40] ojeytonwilliams commented on #37742
@Josef37 I didn't know that tool existed, it's really neat!  It looks like it will be invaluable when prioritising which code needs to be split.

Yep, that's my understanding too.  `babel/standalone` shouldn't be getting into the main app, since it's just used in the challenges.

[2019-11-25 14:54] davidkwan95 commented on #37662
I have been able to reproduce this. You have to be logged out to get that error when pressing the resubscribe button. The easiest way to reproduce it is by using incognito mode.

[2019-11-25 15:37] mike-crane opened #37824 "Golf Code challenge in Basic Javascript curriculum does not support "Double Eagles""
Instances where (strokes <= par - 3) are not accounted for in the Golf Code challenge. Currently, golfScore(5, 2) & golfScore(4, 2) both return "Eagle" rather than "Double Eagle" "Eagle".

**Correct Solution**
[code]

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/golf-code
![Screen Shot 2019-11-25 at 10 23 03 AM](https://user-images.githubusercontent

[2019-11-25 18:14] QuincyLarson opened #37825 "Add "Add Certification to LinkedIn" button to certifications"
User story: As a logged-in user, when I view my own certifications that I've earned, there is a button up top that says "Add This Certification to your LinkedIn Profile"

Clicking this button uses the LinkedIn API to create the certification. LinkedIn auth may also be necessary and can be done just-in-time.

Here's the API documentation: https://developer.linkedin.com/docs/guide/v2/people/profile-

[2019-11-25 18:36] arjunnij commented on #37825
Hi Quincy - I am new to front-end development but have prior experience programming in low-level languages like C/C++. Is there documentation anywhere describing the freeCodeCamp code base? What would you recommend as a good entry point to start looking at? I'd like to try to implement this feature if possible.

[2019-11-25 19:02] #36754 closed

[2019-11-25 19:07] Kbarias opened #37827 "External links in coding challenges"
**Describe your problem and how to reproduce it:**
In a recent pull request (#37802) it was brought to attention that there are external links in coding challenges such as [this one](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript.english.md). Both @RandellDawson

[2019-11-25 19:22] hjs653 opened #37828 "Suggestions"
When going through the lessons on the website, there is no tracker on where you are.  So my suggestion would be a marker that indicates how many lessons a person has completed out of the number that are left to complete?

[2019-11-25 19:31] RandellDawson commented on #37828
If you are signed in, it shows you how many challenges you have completed in each section.

I am closing this issue in favor of issue #18062 which already has a PR in progress to add something like you are wanting.  Feel free to comment on that issue.

[2019-11-25 19:31] #37828 closed

[2019-11-26 00:36] moT01 commented on #37824
This is accurate, 3 strokes better than par is a `double eagle`. But I'm wondering if it's worth changing this around to cover that case. The challenge, video hint, and forum hints would all need to be changed. The purpose of the challenge is clearly not to teach the scoring system of golf, but to get users to write some logic. And that will be accomplished either way.

[2019-11-26 01:33] Manish-Giri commented on #37820
Technically, we're not teaching these concepts in the Data Structures section. That's already been done before. The challenges just build over these concepts.

And, you could also argue that Data Structures isn't the right place to teach `class` and other ES6 based syntax. We have an entire section in the curriculum just for ES6.

Ultimately, `class` is just syntactic sugar over `function` based s

[2019-11-26 01:42] RandellDawson commented on #37820
There are some differences.  The `class` syntax ends up keeping the methods defined in the prototype vs. within each instance.  That is what I meant above by the `collection` variable being "local/private" to the function.  With the class version, you cab technically directly manipulate the collection array outside the class by assigning a new value to the collection property.

I am curious as to

[2019-11-26 02:32] moT01 opened #37831 "Create a Hash Table challenge tests"
While reviewing [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/37582), I noticed that the [Create a Hash Table challenge](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-hash-table) uses some methods that the user is supposed to create for the tests. Specifically, it asks you to create `add`, `remove`, and `lookup` methods - but the tests to check if

[2019-11-26 03:40] #18045 closed

[2019-11-26 04:09] UziTech commented on #37820
Actually the test framework on some challenges doesn't work with classes as is.

---

I'm fine with keeping function syntax or class syntax, I just think it should be consistent.

I do believe that `add() {` is much easier to read than `this.add = function() {` and it is more similar to syntax in other programming languages.

There are many other inconsistencies as well:

 * Putting instructions u

[2019-11-26 05:50] RandellDawson commented on #37820
There is an [outstanding PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/37648) that shouldl address this issue.

[2019-11-26 06:51] kengustafson opened #37833 "Typo in React Native Lesson"
#### Issue description
Typo in React Native lesson found at:
https://guide.freecodecamp.org/react-native/props

#### Steps to reproduce the issue
1.  Load webpage
2.  Inspect second code block (...functional components)
3.  Line 4 reads  <Text>{props.title}</Text>

#### What's the expected result?
Line 4 should read  <Text>{props.text}</Text>
As the header component passes a text prop

#### What's

[2019-11-26 10:05] thecodingaviator commented on #37833
We've stopped using the guide and all articles under it.

I'm tagging @raisedadead for more info on this

[2019-11-26 10:05] #37833 closed

[2019-11-26 13:12] moT01 commented on #37820
Yes, there are inconsistencies all over the place @UziTech - I would try not to tackle too many of them in one PR to make it easier to review. If you're looking for something to do, I'm sure we can find something for ya. Those `code`, `blockquote` and other tags can be changed to use markdown (backticks) syntax - and, you're right, the instructions could probably be moved to that section of the fi

[2019-11-26 13:55] moT01 opened #37834 "can't see the close button on the popup modals"
When in a challenge, any of modals that popup (completion, ask for help, etc..), have a little close button at the top right that has recently become very hard to see...
![Screen Shot 2019-11-25 at 12 52 50 PM](https://user-images.githubusercontent.com/20648924/69639399-0d856580-1022-11ea-8f15-922a8299bf26.png)

[2019-11-26 14:04] ojeytonwilliams commented on #37834
Also, when you hover over it, it gets obscured by the hover effect:
![image](https://user-images.githubusercontent.com/15801806/69640073-067c4880-105e-11ea-80b8-01530d5cda51.png)

[2019-11-26 14:18] moT01 commented on #37834
Seems like there's an opacity issue...
<img width="698" alt="Screen Shot 2019-11-26 at 8 11 42 AM" src="https://user-images.githubusercontent.com/20648924/69641054-1c214c00-1025-11ea-846d-0050e8b57476.png">
Removing that 1% opacity makes it look like it did before, but I can't pinpoint where it's coming from in the code.

[2019-11-26 14:35] UziTech commented on #37820
I definitely can't speak for all users, but I went to the Data Structures section to learn Data Structures, not prototypal inheritance or class syntax. I don't think we should make the decision one way or another based on if users could learn those things in Data Structures. I think the decision should be made based on which is better to teach Data Structures.

My argument for es6 classes boils do

[2019-11-26 15:16] #18062 closed

[2019-11-26 16:19] davidkwan95 commented on #37662
Apparently the API that starts with `/internal` requires authorization, and the api for resubscribe is `/internal/resubscribe/:unsubscribeId`.
So far I can think of 2 solutions:
1. Whitelist the resubscribe api to not require authorization
2. Change the resubscribe api to not use `/internal`, e.g. `/resubscribe/:unsubscribeId`

What do you guys think? @raisedadead

[2019-11-26 16:20] raisedadead commented on #37833
Hi @QuincyLarson we are still waiting on #37125 which is further dependent on the action item

Regular articles migration from guide.frecodecamp.org to forum (tasked to you)

Can you please confirm further.

[2019-11-26 16:22] raisedadead commented on #37662
Ah! Nice catch @davidkwan95. I will take a look.

[2019-11-26 16:35] UziTech commented on #37820
I could make each challenge a separate PR if that would be easier to review. Or maybe each data structure group (i.e. set, map, linked lists, etc. in separate PRs)

I believe that should be part of another lesson, not in Data Structures.

[2019-11-26 16:55] RandellDawson commented on #37820
@UziTech We have yet to concluded if any PR is even needed at this point.  That is why I told you to create an issue first when you had only made 1-2 commits.   When making larger sweeping changes, we like to get consensus first, so users does not waste their time on something deemed not needed.

[2019-11-26 17:02] UziTech commented on #37820
@RandellDawson I understand. The draft PR I created was more to save my journey through the code. If I have to scrap it I will still have learned a lot about the code base and hopefully be able to contribute more in the future. I owe a lot to Free Code Camp and hope to help more developers in the future.

[2019-11-26 17:13] RandellDawson commented on #37820
Don't get me wrong.  I like the idea of changing the `var` to `let` or `const`, but I think it would be best to break it up into PRs with very specific changes.  That makes the review process much easier.  In your PR you are changing tests (that were not originally broken) and all kinds of things. We try to stay away from changes tests unless something is broken (fails with valid code or passed wi

[2019-11-26 17:17] moT01 commented on #37827
This applies to all links, and not just MDN links.

I'm wondering if we should remove the `read-search-ask` links in the challenges as well...
<img width="830" alt="Screen Shot 2019-11-26 at 11 12 39 AM" src="https://user-images.githubusercontent.com/20648924/69656265-d9b83900-103d-11ea-9fda-a10d9c71f407.png">
Most of the algorithms have that link at the bottom of the description or instructions a

[2019-11-26 17:26] RandellDawson commented on #37827
@moT01 I like your idea.  @raisedadead I know another PR was recently merged which fixed this link, but since the Read Search and Ask link **is** already in the help modal, maybe we can remove these.

[2019-11-26 19:10] RandellDawson opened #37837 "Need to a way to prevent infinite loops in users' challenge code from crashing Chrome browsers"
**Issue:** We need a way to stop code which creates an infinite loop from running long enough to crash a browser. Since master was deployed to production a few weeks back, we have seen an uptick in the number of forum questions for certain challenges (like the while loop and for loop challenges) where they inadvertently create an infinite loop with their code and it crashes the browser. I know the

[2019-11-26 19:47] moT01 commented on #37837
This seems to be a chrome specific issue, other browsers seem to allow whatever we have in place to run long enough to time itself out. I tried to find more info about how long chrome gives before throwing that error. I found some unconfirmed info that it is 3600ms.

[2019-11-26 22:45] arjunnij commented on #37837
Additionally, this seems to continue even after rebooting Chrome and my computer. When I log back in and go to those challenges, my entire browser still freezes up, even without running the code again.

[2019-11-27 00:53] ojeytonwilliams commented on #37837
This one's on me: #37621. The preview doesn't time out until 5 seconds have passed, so there's enough time for the array to grow out of control.  To compare, try

[code]

This is infinite in time, but not in memory usage.  The challenge (at least on my machine) just reports `timeout` and does not crash.

It's hard to create a perfect solution, since we still want the user's code to be able to run

[2019-11-27 02:03] #37704 closed

[2019-11-27 02:13] Manish-Giri commented on #37740
@ojeytonwilliams I can make the change in #37813 to turn off just `parameterHints`, if that's the general consensus. That should solve the issue in my screenshots. Though, I don't know if we can be completely sure if leaving other "types" of intellisense on won't cause this mess in some other instance.

Just waiting on @raisedadead's thoughts..